[2018-07-11 15:18] Szandor72 opened #108 "Windows Drive Path Casing Issue"
Hello,

I have a scratch org create script that does a few things including data import.

What I have noticed: The first time I push changes from VS Code to the newly created scratch org, VS Code does a full push.  Even if I changed only one file, I get the whole source push which takes quite some time.

In summary, I wait once for a complete push in my script and then have to wait for another ful

[2018-07-12 21:33] lcampos commented on #108
Hi @Szandor72 , can you clarify something first. Is your scratch org create script also doing a code deploy? If it is, is it using sfdx cli ?

I'm assuming you are running this script on the same machine you are coding using vscode.

[2018-08-06 16:07] ntotten commented on #108
Closing due to lack of response. Please reopen if you can provide more info @Szandor72. :)

[2018-08-06 16:51] Szandor72 commented on #108
Sorry for the late response, will not happen again.

Yes the script does a full code / metadata deploy. I just doublechecked, it is done via source:push (not mdapi:deploy). Some parts are deployed via mdapi:deploy after the initial push

Yes the script and vscode run on the same machine, mostly from the same dir as well.

[2018-08-24 21:32] JimBTek opened #16 "sfdx force:source:deploy --manifest ERROR: Cannot read property 'getMetadataName' of undefined."
### Summary

It seems like if your pacakge.xml has any metadata components listed that do not exist in your force-app, that it fails.

### Steps To Reproduce:

1.  `sfdx force:source:retrieve -- manifest` in VS Code pull source from Org with a Package.xml file
1. change orgs in VS Code to a new sandbox
1. `sfdx force:source:deploy --manifest  /manifest/package.xml`  with the VS code right click

g

[2018-08-27 12:19] JimBTek commented on #16
I'll just add that perhaps the easiest and best solution is to just add to that Warning, some help message like "Your source is missing components referenced in your Package.xml file. Try using `force:source:deploy /{file directory}` like `force:source:deploy /force-app`" instead.

I think a more important issue is the sfdx does not intelligently handle things like flows well, whereas tools like f

[2018-11-06 22:55] flores95 opened #94 "source:deploy "Path" variable not a string"
### Summary

Can't deploy class to sandbox using force:source:deploy

### Steps To Reproduce:

1.  Right click in source
2.  Choose SFDX: Deploy This Source to Org

### Expected result

Source is deployed to org.

### Actual result

sfdx force:source:deploy --sourcepath r:\src\SFCI\src\classes\FeatureAccessHandler_Test.cls
ERROR:  The "path" argument must be of type string. Received type undefined

[2018-11-09 14:25] MGarfOppLoans opened #19 "Can't Create Lightning Component"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  Go to Command Pallete
1.  Select Create Lightning Component

### Expected result

Creation of a lightning component

### Actual result

Received the following error in the terminal:

sfdx force:lightning:component:create --componentname MicrobiltReportViewer --outputdir src\aura
 !    this.log is

[2018-11-19 14:39] MGarfOppLoans commented on #19
@ntotten I saw this was tagged as a bug. Any update on when this will be fixed? seems i can't use any of the create commands...

[2018-11-26 16:15] Szandor72 commented on #108
We're losing some time around this:

- we have a command line createScratch Org script that pushes code and also some changes via mdapi
- first push from vs code is a complete push as indicated already (a time consuming step for large packages like ours)
- this overwrites our adaptions, so we need to do the mdapi deployment manually after vs code finished its initial push

From there, everything w

[2018-11-27 02:02] lcampos commented on #108
Hi @Szandor72 , sorry for dropping the ball on this question. I've followed the steps you previously described by creating a script that 1) creates a scratch org 2) pushes metadata using `source:push` 3) deploys more metadata using `mdapi:deploy` 4) create data. After that I open the project in vscode and I run `SFDX: Push Source to Default Scratch Org` but I'm not able to replicate what you are r

[2018-11-27 10:55] JorneVL commented on #94
I have the same problem with the latest versions
I add the full error
`{"message":"Path must be a string. Received undefined","status":1,"stack":"TypeError: Path must be a string. Received undefined\n    at assertPath (path.js:28:11)\n    at Object.join (path.js:499:7)\n    at new SourceWorkspaceAdapter (C:\\Users\\<USERNAME>\\AppData\\Local\\sfdx\\client\\node_modules\\salesforce-alm\\dist\\lib\\

[2018-12-03 13:58] venkatpolisetti opened #22 "sfdx plugins:update is not updating to the lastest version"
Do you want to request a *feature* or report a *bug*?
-----------------------------------------------------
Bug

What is the current behavior?
-----------------------------
sfdx plugins:update is not upgrading the custom plugin to the latest plugin

What is the expected behavior?
------------------------------
It should update to the latest version. See attachment.

**Current sfdx version:**
-----

[2018-12-03 14:13] rbergman commented on #22
What is the output of running `sfdx plugins --core`?

On Mon, Dec 3, 2018 at 6:58 AM Venkat Polisetti <notifications@github.com>
wrote:

[2018-12-03 19:22] venkatpolisetti commented on #22
Here it is:

rpolisetti@ALPH-RPOLISETTI MINGW64 ~
$ sfdx plugins --core
**@salesforce/plugin-generator 0.0.13 (core)
@salesforce/sfdx-trust 1.0.8 (core)
@venkat.polisetti/crm-sfdx-plugin 2.0.7
builtins 1.0.0 (core)
salesforcedx 44.9.0 (core)**

rpolisetti@ALPH-RPOLISETTI MINGW64 ~
$

[2018-12-13 23:18] bnguyen86 commented on #19
I had a similar issue. I posted the question here and it was answered:

https://salesforce.stackexchange.com/questions/242534/sfdx-this-log-is-not-a-function-when-running-create-commands

[2018-12-16 17:17] gdoenlen opened #15 "Add flag for project directory for force:source:pull and push"
**Is your feature request related to a problem? Please describe.**
Having to change the working directory is a pain every time you want to push / pull. It would also make scripting cli usages a lot easier by optionally specifying the project directory.

**Describe the solution you'd like**
 A flag `--projectdirectory` that would allow pushing and pulling from a directory that isn't the CWD.

[2018-12-23 17:49] jayree commented on #22
@rbergman This seems to be related to the "old" version of the `yarn` command within the `cli-engine` module used by sfdx.

To test this I've replaced `this.bin` with my local yarn installation
in this call
`await this.fork(this.bin, args, options);`
in this file:
`.local/share/sfdx/client/node_modules/cli-engine/lib/plugins/yarn.js`

and all plugins have been updated successfully.

This also fixe

[2019-01-02 14:37] venkatpolisetti commented on #22
@amphro Can you please take a look at this?

It looks like @jayree found an issue with yarn bins that are not working with sfdx update.

[2019-01-08 17:51] clairebianchi commented on #15
@gdoenlen Thank you for your feedback. We have added your request to our backlog.
So I can better understand your use case and work on prioritizing your request if you are able, can you please provide me with more details on your workflow and project structure?

[2019-01-08 18:18] gdoenlen commented on #15
My specific use case is that I'm building a [GUI](https://gitlab.com/gdoenlen/dx-gui) for the cli. In certain scenarios, like pushing and pulling the code, I have to [change the working directory](https://gitlab.com/gdoenlen/dx-gui/blob/master/src/services/sfdx.js#L111) of my application to run commands for the user, and then remember to change the directory back, as well as handle any errors that

[2019-01-09 09:08] st-sfdc commented on #16
Why is there different behaviour when retrieving vs. deploying from the same package.xml? My (maybe naive) expectation is that if I have a component in my package.xml
1.  it is pulled on retrieve (unless not existing, which is a package.xml error)
2. It is getting deployed on source:deploy (unless has a deployment problem)
The behaviour should be consistent per metadata component imho

[2019-01-09 18:57] cvraghu opened #17 "Retrieve Source from Org"
Summary
"ERROR: Cannot read property 'fileName' of undefined." when trying to retrieve source from Org.

Steps To Reproduce:
Authorize a Sandbox Org
Right click package.xml and choose "Retrieve Source from Org"
Expected result
Source retrieved.

Actual result
ERROR: Cannot read property 'fileName' of undefined.

[2019-01-09 19:58] ntotten commented on #17
In order to diagnose this issue we will need more information. Please provide the following.

* Operating System and Version
* Version of Visual Studio Code  - [Find your version](https://code.visualstudio.com/docs/supporting/FAQ#_how-do-i-find-the-vs-code-version)
* Version of the Salesforce CLI - [Salesforce CLI Version Information](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta

[2019-01-09 21:00] cvraghu commented on #17
Operating System and Version - Windows 7
Version of Visual Studio Code - 1.30.2
Version of the Salesforce CLI - 513,572
Version of the Salesforce Extensions - 367,439
List of all Visual Studio Code extensions installed and the Versions

JohnAaronNelson.forcecode@3.11.3
salesforce.salesforcedx-vscode@44.11.0
salesforce.salesforcedx-vscode-apex@44.11.0
salesforce.salesforcedx-vscode-apex-debugger@44

[2019-01-09 21:41] allileong commented on #17
Hi @v-rachen, do you see the same error if you issue the following command from your vscode terminal?
`sfdx force:source:retrieve --manifest <full-path-to-your-package.xml-file>`?

For me, that looks like:
<img width="834" alt="screen shot 2019-01-09 at 2 39 12 pm" src="https://user-images.githubusercontent.com/1639375/50930224-a6b48900-141c-11e9-89a9-1c22cb74d378.png">

[2019-01-09 22:11] cvraghu commented on #17
Hi,

I tried in the terminal window and its the same error again.

ERROR:  Cannot read property 'fileName' of undefined.

Note: I'm working with a developer pro sandbox and following instructions from

https://github.com/forcedotcom/salesforcedx-vscode/wiki/Develop-Against-Any-Org-in-Visual-Studio-Code

Regards,
Raghu

[2019-01-10 14:47] ntotten commented on #17
I have moved this issue to the cli-packages repo as it appears to be a bug related to the CLI rather than VS Code.

[2019-01-10 14:50] willcobbett opened #18 "sfdx force:source:retrieve very slow (5 mins+ for single file)"
Trying to retrieve a single file via VSCode with Salesforce Extensions is taking an excessive amount of time. This behaviour has been seen on two different machines (Windows & Mac) over several days so think we can rule out network glitch.

**SFDX CLI version** - sfdx-cli/6.44.0-dead729fb5 (darwin-x64) node-v8.9.4
**VSCode Version** - Version 1.30.2 (1.30.2)

![sfdx](https://user-images.githubuser

[2019-01-10 16:10] gdoenlen opened #2195 "Commands against expired orgs returns html"
When issuing a command `sfdx force:source:status -u <alias>` or `sfdx force:org:open -u alias` against a scratch org that is expired it will return raw HTML to stdout/stderr. If you add the `--json` flag the response is a a little better as its in json format but the message is still raw html.

I think it would be better to provide an actual message that the org is expired rather than an html page

[2019-01-10 17:00] dcarroll commented on #19
I've seen this in my own environment.  It is a bug within the yeoman generator code being used by the cli.  You can resolve this issue by searching up your directory structure for a file called .yo-rc.json.  Not sure how it gets into the file system (that's part of the investigation related to the bug) but if you delete that file, assuming you have one, you should be able to run the command.

[2019-01-10 20:12] cvraghu commented on #17
Is there any other setup i should do to make this work?

[2019-01-11 10:41] willcobbett commented on #18
Note this behaviour has been seen both via VSCode plugin as well as running the same command at the command line (outside of VSCode)

[2019-01-11 20:37] cvraghu commented on #17
Any updates on this?

[2019-01-12 10:34] catalandres opened #157 "Update cli-ux dependency to 5.0.0"
**Is your feature request related to a problem? Please describe.**
I want to be able to leverage the new supertable functionality in cli-ux 5.0.0, in a plugin project that I'm working on, including sorting, filtering and outputting CSV files.

**Describe the solution you'd like**
Update the cli-ux dependency to 5.0.0.

**Describe alternatives you've considered**
Updating the dependency at the plug

[2019-01-12 16:53] catalandres commented on #157
The functionality is very desirable, because supertables take flags that can be passed from the CLI.

This is going to mean rewriting `table(rows, options)` in [ux.ts](https://github.com/forcedotcom/cli-packages/blob/develop/packages/command/src/ux.ts).

@clairebianchi I would be game for helping bringing this in, but I would like some guidance as to whether we can introduce breaking changes at th

[2019-01-12 16:56] rbergman commented on #157
Backward compatibility is a must now, as we just released 1.x, attempting to follow semver rules.  If the API of `table` would change in an incompatible way, maybe we should add a new `supertable` method?  Would the old `table` still work as is, or would the upgrade to `cli-ux` 5 necessarily change that behavior?

[2019-01-12 19:12] catalandres commented on #157
Version 5 of `cli-ux` completely rewrites `table()` and breaks previous code that leverages the function, so we would have to rewrite `table()` in ux.ts to mimic previous results. I am not happy with them not respecting backwards compatibility, but at the same time the amount of functionality that they add is one order of magnitude better.

The new `table()` in `cli-ux` 5.0.0 has three parameters,

[2019-01-12 21:52] rbergman commented on #157
I think we have reasons to be interested in supertable, as well, so this isn't something we're likely to ignore over time, though for now we have some more urgent priorities to pursue.  If the use cases are compelling enough we could bump to v2.  Of course, can't you also use cli-ux directly alongside sfdx-command in the meantime?  This is getting out of my realm of experience, though -- probably

[2019-01-14 16:21] shetzel commented on #17
@v-rachen - your vscode extensions are version 44.  I don't know what your CLI version or plugins are but I'm guessing they are also version 44.  You need to be on version 45 (aka, "pre-release") to retrieve/deploy LWC metadata.  The docs should describe how to do this.  E.g. sfdx plugins:install salesforcedx@pre-release is what you would do to get the pre-release version of the salesforcedx CLI p

[2019-01-14 16:29] dcarroll commented on #17
EDIT: Assuming the comment above is valid, ie this is related to LWC.

You will also need to have a Dev Hub that is on the pre-release servers (GS0).
You can sign up for one here https://www.salesforce.com/form/signup/prerelease-spring19/

[2019-01-14 20:22] cvraghu commented on #17
Thanks, I will  try updating the CLI. Howevere i dont see any reference to Dev Hub here -

https://github.com/forcedotcom/salesforcedx-vscode/wiki/Develop-Against-Any-Org-in-Visual-Studio-Code

[2019-01-14 20:56] dcarroll commented on #17
Ah, yes, sorry @v-rachen. The requirement for LWC on Sandbox is that it is on Spring '19.

[2019-01-14 22:14] clairebianchi commented on #17
@v-rachen, We have filed this bug on our side and will continue to keep this issue open till we fix the problem. In the meantime go to the deploy page in the setup UI to see what the MD deploy error is on the Sandbox org.

[2019-01-14 22:19] clairebianchi commented on #19
See above comments for a workaround. We are currently tracking this in our internal bug system (W-5752956) and will update this issue when we have fixed the problem.

[2019-01-15 14:31] Szandor72 commented on #108
Have been on PTO, sorry for the delay.

- Behaviour does persist in current build for my Win10 machine, I just tried
- my script does a source:push (Production Code) and a mdapi:deploy (helper stuff like FeatureParameters) as you did as well.
- my script then runs data imports via talend which I believe should also be unrelated.

After I created the org via script and go to VSCode my first push in

[2019-01-16 00:33] clairebianchi opened #1 "Moving source between the local project and the org via the Salesforce CLI"
The Salesforce CLI team launched the source:deploy and source:retrieve commands in Beta in winter 19. After collecting your feedback we have realized that the overlap between the mdapi and source deploy and retrieve commands is causing confusion about what commands should be used with which workflow (org development or package development). Due to this feedback, we are proposing the following chan

[2019-01-16 01:04] FishOfPrey commented on #1
Should mdapi:deploy and mdapi:retrieve default to the source format rather than the mdapi format?

AFAIK the underlying Metadata API is still working on the original mdapi format. I'd use that as a case for the default behavior to be mdapi format. Then the source format, which doesn't match what the mdapi is doing on the wire, could be the optional behavior.

What will happen to any selectivity op

[2019-01-16 03:04] RonzGore commented on #1
I second Daniel's comment here!

[2019-01-16 04:03] JimBTek commented on #1
I think it's ideal to be able to just work with sfdx folder structure and then control pushing it to/from scratch orgs, or to/from sandboxes/production. It's also ideal to not have to worry about accidentally pushing to prod, so the different commands for each are ideal. Also ideal to be able to just retrieve from Prod straight into source folder (sfdx) and trying pushing to a scratch org to quick

[2019-01-16 09:31] catalandres commented on #1
+1 to @JimBTek

What will happen if we need to use both flavors (package.xml and DevHub tracked source) of deploy/retrieve in a project? Will it be easy to differentiate between them?

Also, please ensure that no DevHub will be required for package.xml-based deploy/retrieve. We have a project in which the client will not turn on DevHub because their approach to security is that absolutely no one s

[2019-01-16 09:35] FabienTaillon commented on #1
I like the naming being clear. Commands with "mdapi" manipulates metadata api format, while commands with "source" manipulates source format.

So instead of deprecating source:deploy/retrieve, why not deprecating mdapi:deploy/retrieve instead, as source format will be the default ? Command would do the same, I'm just talking about the command name here.

Also, why moving convert under project ? Fr

[2019-01-16 10:53] catalandres commented on #1
@FabienTaillon is indirectly scratching an itch that I have had for a while regarding the naming of `mdapi`.

The convention in Salesforce CLI is to have nouns in all the components of the command except for the last one. Thus, `source:push` means "push source" and `org:open` means "open the org". But with `mdapi` it gets weird... `mdapi:deploy` means... "deploy the metadata API"? If anything `mda

[2019-01-16 16:58] britishboyindc commented on #1
I'd really like the ability to use the .forceignore file with just push/pull and have a separate one that works with convert/deploy - specifically around working with Gen 1 packages. The use case here is that I often want files like permission sets or non packaged code to be part of my push/pull, but do not want that to be part of the convert/deploy process since they aren't part of the package. R

[2019-01-16 17:03] gdoenlen commented on #1
I personally think `force:source:push` and `force:source:pull` should be able to work against any org, source tracked or sandbox / prod.

Additionally, I am completely against renaming the mdapi commands, as it would be a breaking change that could possibly break CI.

[2019-01-16 17:10] JimBTek commented on #1
@britishboyindc Agreed.

the Falcon Template has some scripting for things like that and places in the folder structure for code that is for testing only. the video is helpful. not sure it does exactly what you want, and would be nice to not need a template with scripts to achieve it

[2019-01-16 17:22] tsalb commented on #1
+1 to @gdoenlen

If I am understanding the proposal correctly, I agree with these changes since it will enforce having just one set of commands to `pull` and `push` for prod, sandbox and scratch orgs.

Personally, I agree with the renaming proposal to under `force:project` as it gives a clear intention what I am about to do to my project.

I envision at the end the `push/pull` of sandbox org devel

[2019-01-16 18:20] catalandres commented on #1
@gdoenlen There's a feature in OCLIF that allows you to create aliases of commands. You could probably provide backwards compatibility without breaking a sweat.

[2019-01-16 18:32] gdoenlen commented on #1
@catalandres breaking changes are still breaking changes and they shouldn't be taken lightly.

"Never break user space."

[2019-01-16 18:41] abd3 commented on #1
I like the proposals from @clairebianchi.

1. Adding the selectivity options will be a great addition to those commands (these allow you to select based on package.xml, based on **/* style glob, and based on named metadata)
1. @catalandres makes a nitpicky point about the name 'mdapi' and @gdoenlen points out that changing mdapi to default to source format would be a breaking change. So how about

[2019-01-16 19:57] idanblich opened #2 "Add defaultpath to CLI Runtime Configuration Values"
**Is your feature request related to a problem? Please describe.**
Working in a DX project is done in most cases, on a specific feature , with a clear entry point (VisualForce page , Lightning app or any other URL).

**Describe the solution you'd like**
I would like to have a parameter like : defaultpath in the project level [CLI Runtime Configuration](https://developer.salesforce.com/docs/atlas.e

[2019-01-16 20:03] alpha-bytes commented on #1
I am 100% in favor of bifurcating commands intended to work with source-tracked environments (scratch orgs) and production / sandbox envs. Having additional selectivity on the `mdapi` commands will be a big win (e.g. `-c` flag for validate-only deployment).

Additionally in favor of standardizing to one source format - `source:convert` and `mdapi:convert` are additional overhead that just set the

[2019-01-17 10:01] DavinCasey opened #3 "Add support for missing package settings"
Currently, it is not possible to set the following package settings via SFDX:

- apiAccessLevel
- postInstallClass
- setupWebLink

**What are you trying to do**
We're trying to have a seamless packaging & release process via CI.

**Describe the solution you'd like**
force:source:convert has a --packagename parameter which allows us to set the <fullName> element in package.xml. I'd like to see addi

[2019-01-17 15:58] cvraghu commented on #17
@Clairebianchi, Thanks for response. I dont understand what do you mean by MD deploy error. I'm just retrieving metadata not deploying anything.

[2019-01-17 16:58] dcarroll commented on #3
@DavinCasey thanks for the suggestion.  I'm not a packaging expert, but the experts will see this request. In the mean time and for my own edification, at what point are those values set if working through the Salesforce UI?

[2019-01-17 19:53] alan-morey opened #4 "Add single package support to metadata deploy command"
**Is your feature request related to a problem? Please describe.**
We are unable to deploy zip files that contain a single package as there is no `--singlepackage` flag.

[code]

The Ant Migration Tool provides the single package parameter that can be used with the `sf:deploy` target.

Another scenario where this is a problem, is when we retrieve a package using `sfdx force:mdapi:retrieve --single

[2019-01-17 20:25] gsbasso opened #5 "Unable to deploy report using force:source:deploy"
### Summary

Attempting to deploy report using force:source:deploy -x package.xml

### Steps To Reproduce:
<ol>
<li>Create a report folder MyReportFolder</li>
<li>Create a simple report MyReport and save under MyReportFolder</li>
<li>Create a package.xml file that includes the following content:</li>
<pre>
&lt;types&gt;
    &lt;members&gt;MyReportFolder/MyReport&lt;/members&gt;
    &lt;name&gt;Rep

[2019-01-17 20:30] alan-morey commented on #1
Current behavior of `mdapi:retreieve` and `mdapi:source` should not change, they should continue to operate on the "classic" format, by default and not the new "source" format. This currently provides good feature parity between Ant Migration Tool and sfdx, allowing for gradual transition of old tools and scripts. `mdapi` commands are working as expected now, _if it ain't broke_...

I agree with @

[2019-01-17 20:36] gsbasso opened #6 "Unable to deploy SharingRuleOwner metadata using force:source:deploy"
### Summary

Attempting to deploy a new Contact sharing rule using force:source:deploy -x package.xml

### Steps To Reproduce:
<ol>
<li>Create an owner sharing rule for the Contact object named MyOwnerSharingRule and retrieve metadata</li>
<li>Create a package.xml file that includes the following content:</li>
<pre>
&lt;types&gt;
    &lt;members&gt;Contact.MyOwnerSharingRule&lt;/members&gt;
    &l

[2019-01-17 22:19] alan-morey opened #7 "Metadata retrieve should warn about components that were not retrieved"
**Is your feature request related to a problem? Please describe.**
When I execute a `mdapi:retrieve` command for single package and unpackaged with a `package.xml` file that specifies a metadata component that does not exist in my org, I get no warnings.

I use the following command for retrieve:

[code]
With the `--verbose` flag I see a list of all components retrieved but it does not display any

[2019-01-17 22:52] alan-morey opened #8 "Add -x, --sandbox flag to force:auth:web:login for sandbox logins"
**What are you trying to do**
I would like to be able to specify a `-x, --sandbox` flag instead having to type out `https://test.salesforce.com` for the `-r, --instanceurl` flag, each time I want to authenticate with a sandbox org.

_Examples:_
[code]

[2019-01-17 23:24] alan-morey opened #9 "New test level for metadata deploy - RunTestSuite"
**What are you trying to do**
It would be nice to be able to specify a test suite name as part of deployment command that would be used to specify which tests should be executed as part of the deployment, as an alternative to the `RunSpecifiedTests` option.

For example, if I have apackage with manifest as follows:

**package.xml**
[code]
And the test suite specifies the tests I want executed duri

[2019-01-17 23:35] dcarroll commented on #9
Assuming `--runtests` doesn't handle a test suite, I think this is a great feature.  Have you verified that `--runtest` cannot handle a suite name?

[2019-01-18 01:25] alan-morey commented on #9
@dcarroll You can not use `--runtests` currently with a test suite name.

Here is a bash script I wrote which kind of implements the feature, it requires [xmlstartlet](http://xmlstar.sourceforge.net/)

[code]

[2019-01-18 01:36] dcarroll commented on #9
@alan-morey Ok, cool.  I'll let the team know and will see if we can get this on the roadmap.

EDIT: Looks like you can specify a test suite in the `test:run` command for `force:apex`.  Might this be a temporary work around?  Reason I ask is that this request requires a modification/enhancement of the Metadata API.

`sfdx force:apex:test:run -s MySuite,MyOtherSuite -c --json`

FYI @clairebianchi

[2019-01-18 09:15] DavinCasey commented on #3
In the Salesforce UI, you can go to the Package, click edit and you'll have options for Post Install Script, Uninstall Script, Configure Custom Link etc. These are the settings we need to set when deploying our code to the packaging org.

If these values are not set in package.xml when deploying, the next version of the package (which is uploaded via our CI pipeline too) is uploaded WITHOUT a spec

[2019-01-18 18:11] alan-morey commented on #9
@dcarroll I'm aware of the option to run test suites with `force:apex:test:run`, I use that alot during development and on CI jobs. The feature I'm looking for is specifically for deployments, so that I can meet code coverage requirements.

I realize that the Metadata API would probably have to be the first candidate for implentation of this feature, on the plus side, it would be available for oth

[2019-01-18 18:25] dcarroll commented on #9
@alan-morey Yup. Makes sense and is something that the Metadata API team has on the backlog somewhere.  Hopefully, you post will help move it up the priority list.

@kfidelak FYI

[2019-01-18 20:32] VivekMChawla commented on #1
@clairebianchi - These are interesting proposals. I'm glad you've started this dialogue with the community.  Lots of great comments and suggestions so far, too.  It's heartening to see the passion that goes with this toolset.  :-)

Here's what I like and what I wish might (and might not) happen.

**Two Command Sets To Rule Them All: GREAT IDEA!**
I really like the idea of having only two "metadata

[2019-01-21 05:45] amphro commented on #18
Hey @willcobbett - Can you delete your ~/.sfdx/sfdx.log file, run one of the worst offenders with `--dev-debug --loglevel=trace` and give us the console output and the log file?

[2019-01-21 09:04] willcobbett commented on #18
Hi Thomas,

Please see attached as requested - for info the commands appear to be responding much faster, has anything been done server-side?

[sfdx-console-output.txt](https://github.com/forcedotcom/cli-packages/files/2778164/sfdx-console-output.txt)

[sfdx.log](https://github.com/forcedotcom/cli-packages/files/2778184/sfdx.log)

[2019-01-21 10:23] Szandor72 commented on #108
The same occurs if I switch push operations from VSCode to powershell. That is: if I push a change from VS Code, and do a push from powershell after, powershell does a complete push.
If I push something from powershell, then push in VS Code, VS Code does a whole push.

[2019-01-22 07:24] idanblich commented on #8
+1

[2019-01-22 13:16] robcowell opened #10 "Cannot retrieve reports via sfdx force:source:retrieve -m Report"
### Summary

Trying to pull Reports down from a Dev Sandbox (i.e., non Scratch org) with the command

sfdx force:source retrieve -m Report

gives no results returned, when there are definitely reports in the Org.  No package.xml used in this scenario and I've been made aware that the metadata API doesn't support wildcarding for reports, which could be a factor here.

### Steps To Reproduce:

1.  T

[2019-01-22 14:38] jefersonchaves opened #11 "Add support for dev hub based on the project"
**Is your feature request related to a problem?**
It is a feature. Consultants and other service providers that work with multiple customers need to switch between dev hubs.

**What are you trying to do**
Would like to have multiple projects and have the default dev hub saved inside the project similar to default scratch org.

**Describe the solution you'd like**
Store the dev hub on project file

[2019-01-22 17:36] iandrosov commented on #1
@clairebianchi Thank you for starting GItHub dialog with the community on these changes, some nice ideas are on this thread.
Making separate commands for metadata format vs scratch org new SFDX is a good idea.
If SFDX still will require to do convert of a source to use these that is seem like clutter on directory structure in projects.

Here is my idea:
mdapi:deploy when used with Scratch ORG sour

[2019-01-22 18:30] clairebianchi commented on #1
Thank you all for the feedback. I am working on revising the project based on your guidance and will post our final plan here in a few days.

[2019-01-23 16:18] aheber commented on #11
@jefersonchaves isn't this already available?

While in a project you should be able to run `sfdx force:config:set defaultdevhubusername=[devhub@project.com]` and that should set the value in the `.sfdx/sfdx-config.json` and be scoped just to that specific project.

I just did that today so it should work...

[2019-01-23 17:41] jefersonchaves commented on #11
@aheber: fantastic, that is exactly what I needed. I will play around that.

Now I found on [force:config doc](https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_config.htm) but I guess it can be improved.

[2019-01-23 17:45] #11 closed, assigned to nobody

[2019-01-26 00:05] lcampos commented on #108
Hi @Szandor72 , yes let's schedule something to go over what you're experiencing since I'm not able to replicate it on my side. Here's a link (https://calendly.com/lcamposguajardo) with the available days/times I'm free to meet, feel free to schedule something. If non of those times work for you let me know.

[2019-01-26 21:55] jefersonchaves opened #12 "Retrieve package information"
**Is your feature request related to a problem? Please describe.**
Today there is no simple way to retrieve package information through Salesforce CLI. There is a need to parse `sfdx-project.json` and then use two Tooling API calls to retrieve [package](https://developer.salesforce.com/docs/atlas.en-us.api_tooling.meta/api_tooling/tooling_api_objects_subscriberpackage.htm) and [package version inf

[2019-01-27 15:18] sauloefo opened #14 "*.profile-meta.xml files are not pulled after object deletion"
### Summary

After custom object deletions in a scratch org, files related to profile are not updated by `sfdx force:source:pull` command.

### Steps To Reproduce:

1.  Create a new scratch org.
1.  Open the new scratch org.
1.  Create a new Custom Object.
1.  Retrieve modified metadata with `sfdx force:source:pull`
1.  Verify the profile files are referencing, for instance, the new custom object

[2019-01-28 15:09] fischerp commented on #12
Please assume that I have a "sfdx-project.json" file and it has a valid ID
...
"packageAliases": {
    "myPackage": "04t50000000AaaA"
}

I would like to execute the following command and receive back details about it.

Command:
`force:package:version:info -p "myPackage" --json`

Expected return:
`{"packageId":"04t50000000AaaA","name":"Package A", "majorVersion":1","minorVersion":"0"...`

[2019-01-28 15:17] Szandor72 commented on #108
Done, thank you!

[2019-01-28 15:32] fischerp opened #13 "Add packageId to force:package:version:report response"
**Is your feature request related to a problem? Please describe.**
I need to get the packageId when executing the following command.
`sfdx force:package:version:report -p "myPackage" --json`
or
`sfdx force:package:version:report -p "04t50000000AbcD" --json`

**What are you trying to do**
I want to get the package id from a specific attribute called packageId. Currently the Id is available on the m

[2019-01-29 21:40] clairebianchi commented on #17
@v-rachen are you trying to source:retrieve a Lightening Web component? When you moved to the Pre-release version of the CLI did this fix the issue?

We believe we fixed the bug, If you are still experiencing the issue please let us know.

[2019-01-29 22:29] clairebianchi commented on #16
@JimBTek Thank you for the feedback, we are tracking this bug in our internal system. Our internal work item is W-5749751, and I have it on our backlog for the summer release. I'll leave this ticket open till we fix it.

[2019-01-29 22:37] clairebianchi commented on #18
@willcobbett We have escalated this internally and the Server team is working to diagnose and fix the performance. I am going to close this because it is being tracked internally. I will leave this open and report back soon with an update. Thank you for the feedback

[2019-01-29 23:02] clairebianchi commented on #13
@sfdx-db-gmail, Please take a look at this feature request for Packaging

[2019-01-29 23:57] clairebianchi commented on #2195
@gdoenlen Thank you for the feedback. I have added this to our backlog, the work item on our end is W-5753111. I will leave this open till we have fixed the issue.

[2019-01-30 00:29] clairebianchi commented on #12
@sfdc-db-gmail please take a look

[2019-01-30 00:31] sfdc-db-gmail commented on #13
@fischerp - can't you parse force:package:version:list and get the 04t from there? Cc @clairebianchi

[2019-01-30 00:35] sfdc-db-gmail commented on #12
@jefersonchaves - Can `force:package:version:list` or `force:package:version:report` provide the info you are looking for? Cc @clairebianchi

[2019-01-30 00:40] clairebianchi commented on #5
@gsbasso Reports are created private by default and therefore are ignored when you deploy. Make your report public and it should work

[2019-01-30 00:40] #5 closed, assigned to nobody

[2019-01-30 00:41] clairebianchi commented on #8
Thank you for the feedback

[2019-01-30 00:43] clairebianchi commented on #10
@robcowell Reports are created Private by default and therefore are ignored in retrieve. Make your report public and it should work

[2019-01-30 00:43] #10 closed, assigned to nobody

[2019-01-30 00:47] clairebianchi commented on #14
@sauloefo thank you for the feedback, we are aware of the issue and are planning to fix it in Summer '19, our internal work item is W-5234377. I will leave this bug open till we have made the change

[2019-01-30 06:25] sauloefo commented on #14
Hi Claire! Great to know it will be solved soon! If you believe this would be good for a first issue collaboration please let know. I'd be glad to help solve it.

[2019-01-30 08:28] jefersonchaves commented on #12
Hi @sfdc-db-gmail: it would work if I could retrieve information about Classic Managed Packages. My use case is: I want to retrieve information from Classic Managed Packages to use in a build, for instance.

Makes sense?

[2019-01-30 09:16] fischerp commented on #13
Thanks @sfdc-db-gmail and @clairebianchi, I'm parsing the response and extracting the ID, but I don't think it's a good solution because I would be relying on a message.
The real problem is that I didn't find any native way to list packages and aliases from local "sfdx-project.json", for sure there is work around to get the Alias and Id.
The feature proposed by @jefersonchaves (https://github.com/

[2019-01-30 11:54] marktuk commented on #1
What's the issue with source:deploy/retrieve ? They've finally allowed me to fully embrace the new source format for my existing projects where I can only work with sandboxes. If they are "merged" with the existing mdapi commands I assume the functionality will stay the same? I agree with others, it would also be a bit strange and confusing using mdapi commands against the source format.

Personal

[2019-01-30 17:49] willcobbett commented on #18
Thanks @clairebianchi

[2019-01-31 15:24] snugsfbay opened #20 "sfdx plugin command takes 2 minutes to run"
### Summary

sfdx plugins
command takes excessive time to run on my work computer

### Steps To Reproduce:

1.  open command prompt
1.  sfdx plugins

### Expected result

prompt return of plugins information to confirm version as described here: https://trailhead.salesforce.com/content/learn/projects/quick-start-lightning-web-components/set-up-salesforce-dx

### Actual result

timed it at 2 minute

[2019-01-31 18:24] mhumpolec opened #21 "Every sfdx command takes a while"
### Summary

I would say every sfdx command takes about 20 sec before it starts doing anything

### Steps To Reproduce:

1. sfdx force:org:open -u upfsc

### Expected result

immediate reaction and browser open

### Actual result

cli starting run +0ms
  cli checking autoupdater +562ms
  rwlockfile read C:\Users\mhumpolec002\AppData\Local\sfdx\update.lock +0ms
  cli-engine:hooks init C:\Users\mhum

[2019-02-01 18:18] davidmreed opened #23 "Performance of core commands"
Following up on [Twitter thread](https://twitter.com/ntotten/status/1090989706647691269).

Running VS Code 1.30.2 on Windows 7 with all manner of corporate security and proxies running. All examples below executed in VSC integrated terminal using Bash (installed via MINGW/Git Bash, not WSL).

    $ sfdx -v
    sfdx-cli/6.50.0-9817aece8a (windows-x64) node-v8.9.4

I am using the pre-release version

[2019-02-01 18:40] clairebianchi commented on #4
@alan-morey Thank you for the feedback the team that owns the MDAPI commands has this work scheduled for the latter half of 2019. Thank you for the feedback.

[2019-02-01 18:40] #4 closed, assigned to nobody

[2019-02-01 18:48] clairebianchi commented on #7
@alan-morey, Thank you for the Feedback.
FYI: @kfidelak94

[2019-02-01 18:49] clairebianchi commented on #6
FYI @kfidelak94

[2019-02-02 00:06] allileong opened #106 "VS Code reports success on 'SFDX: Set a Default Org' even when the command fails"
### Summary

VS Code reports that `SFDX: Set a Default Org`successfully ran even though the underlying `sfdx force:config:set` command failed and the default org was not able to be set.

### Steps To Reproduce:

1.  You must have at least two orgs in your environment. For example: `org1` and `org2`
1. Set `org1` to be the default org in your VS Code workspace
1. Find the *.json file that contains

[2019-02-04 14:23] snugsfbay commented on #20
Saw the same today with **SFDX force:org:list** taking _2 minutes_ to complete from command prompt.
**SFDX CLI Version:**
6.50.0

[2019-02-04 16:12] ntotten opened #107 "CLI exit status should be more descriptive"
Instead of printing the exit code for CLI command executions we should display more meaningful messages.

`... ended with exit code 0` should instead be `... succeded (exit code 0)`.

`... ended with exit code 1` should instead be `... failed (exit code 1)`.

Ideally, there would also be a short line of what the failure type was:

`... ended with exit code 1` should instead be `... failed because

[2019-02-04 16:17] ntotten opened #24 "Better handling of git merge conflict markers"
When a user tries to deploy metadata that has git merge conflict markets in it, we simply return an error like:

![image](https://user-images.githubusercontent.com/282782/52220935-06605180-286e-11e9-899e-b4679882656d.png)

Because this is a known format of strings and we are encoraging users to use source tracking, we could do a much better job of handling this special case.

For example, when usi

[2019-02-04 16:24] ntotten opened #25 "Retrieving Files from Org Causes Git file differences on windows"
When doing a `source:retrieve` of files that are already local, git detects these files as changed on even when there is no change. This was reported on windows so I suspect it is something to do with line endings.

<img width="586" alt="screen shot 2019-02-04 at 11 20 35 am" src="https://user-images.githubusercontent.com/282782/52221526-54c22000-286f-11e9-8362-3bf3197bd61d.png">

[2019-02-04 18:50] mshanemc opened #26 "sfdx plugins: topic doesn't accept --json flag"
<!--

### Summary

Most of the sfdx commands accept --json as a flag to return command's output as json.  Except the plugins: topic

### Steps To Reproduce:

1.  sfdx plugins --json

### Expected result

json of what plugins/version are installed, whether it's via package or local code link

[2019-02-04 21:45] gsbasso commented on #5
The previous comment about private vs. public doesn't make sense in light of the _workaround_ I employed as described in the original post. Specifically, all that was needed was to change the forward-slash character separating the report folder from the report name to a backward-slash. So private vs. public had nothing to do with it.

[2019-02-05 18:34] clairebianchi commented on #20
@snugsfbay can you give me more information on your work setup?
-Are you behind a firewall?
-Are you using windows defender?
-Is this a new performance issue or have it always been slow?
-I realize it will take a while but providing the version of the CLI plugin would be very helpful as well

We are aware of the performance on Windows and are investigating. Any information you provide will help us

[2019-02-05 18:38] clairebianchi commented on #21
@mhumpolec Is this a new issue or has this always been slow?
We are aware of the performance on windows when you are running behind a firewall but knowing if this is a new issue or the same performance as always will help us determine if this is something we just did or Windows did or if this is part of the larger Window performance issue.

[2019-02-05 18:46] clairebianchi commented on #14
@sauloefo Thank you for the offer, but sadly this part of our codebase is not currently public.

[2019-02-05 18:48] clairebianchi commented on #17
Please let us know if this is still an issue and we can reopen this bug

[2019-02-05 18:48] #17 closed, assigned to nobody

[2019-02-05 19:01] mhumpolec commented on #21
It was always like this

Martin

Sent from my mobile with his clever typos correcting, apologies for any nonsense

5. 2. 2019 v 19:38, clairebianchi <notifications@github.com>:

[2019-02-05 22:14] chandra2ravi opened #27 "Invalid version specified:45.0"
Deploy using Circle ci and getting an error with WInter 19 orgs.

sfdx force:config:set apiVersion=44.0 --global
sfdx force:source:convert -d deploy_prod -r force-app
sfdx force:mdapi:deploy -u deployTarget -d deploy_prod/ -w -1 -l

**OS and version**:
![image](https://user-images.githubusercontent.com/93057/52307806-3c323280-2961-11e9-97f8-4af5159779fa.png)

![image](https://user-images.githubuse

[2019-02-05 22:29] clairebianchi commented on #22
@venkatpolisetti we are in the process of an update that includes a more recent version of Yarn. This should fix this issue. We will test once the update is done and close this bug once we verify its no longer an issue. The update should be out mid-March

[2019-02-05 22:35] clairebianchi commented on #27
The API version you are seeing is actually either in your metadata or the package.xml that you are deploying, this is not caused by the CLI.

What I believe happened is you pulled changes from an org that was on 45.0 (perhaps a scratch org) which updated the API version in your package.xml. This package then would not deploy because the org you are trying to deploy into is on the 44 version of the

[2019-02-05 22:35] #27 closed, assigned to nobody

[2019-02-05 22:36] clairebianchi commented on #26
@mshanemc Please fill out a feature or bug request and provide more detail

[2019-02-05 22:36] #26 closed, assigned to nobody

[2019-02-05 22:37] clairebianchi commented on #25
@ntotten we think this has something to do with the convert. Would you please provide us with more details on the files you are trying to retrieve, the version of the CLI, and steps to reproduce.

[2019-02-05 22:53] clairebianchi commented on #23
@davidmreed Thank you for the feedback.

First off the org:list command is a known issue and we will be working on that in this quarter. It is probably worse on Windows but the performance is bad across the board

Second, for the rest of the commands, this is an issue with Windows that we are experiencing and looking into. Your logs are very helpful, thank you. A few questions:

Is there anything

[2019-02-05 22:54] clairebianchi commented on #21
Thank you

[2019-02-06 14:23] chandra2ravi commented on #27
My pacakge.xml and metadata set to 44.0
![image](https://user-images.githubusercontent.com/93057/52347799-709d0180-29e8-11e9-9bc6-c26a0b870a99.png)

[2019-02-06 17:02] mshanemc commented on #26
have you ever gotten an empty issue before?  I totally filled out all the feature stuff and don't know where it went

[2019-02-06 19:24] clairebianchi commented on #26
That is super strange! No, I have never gotten an empty one before, but this repo as only been available for about a month.

[2019-02-06 19:30] Confirm4Crit commented on #1
Just shouting out that I love this.
I want to do precise deploys to prod against git diffs, and so far just running through the git diff files and passing it to source:deploy is working well for sandboxes.

[2019-02-07 02:34] davidmreed commented on #23
Only a little bit, because I don't know a whole lot about it. I can tell you that the machine has additional certificates in place to allow monitoring of secure connections, and that outbound HTTP connections are routed through an internet security appliance (Zscaler).

Unfortunately, I have only one equivalent (Windows 7) machine, and its connection to my corporate internet security apparatus is

[2019-02-07 03:56] davidmreed opened #28 "`sfdx force:source:push` will not push changes to detail object alone in M-D relationship"
### Summary

Given an object `Project__c` with a master-detail relationship to Account (relationship field name `Account__c`), with a local project tree and scratch org in sync with one another:

Make a local change to the file `Project__c.object`, such as changing the label of the Name field.

Issue

    $ sfdx force:source:push

Receive in response

──────────────────────────────────────────────

[2019-02-07 11:12] Szandor72 commented on #108
Observation: When a full push happens, I need to deploy some additional metadata to get my dev environment working. this happens via powershell and mdapi:deploy. Going back to VS code, I can continue working normally. The mdapi deploy will not trigger another full push.

[2019-02-07 21:36] clairebianchi commented on #23
@davidmreed thank you for the feedback.

[2019-02-07 21:42] vijaykumar8448 opened #33 "LWC retrive issue with sfdx"
I am not able to retrieve my LWC components from org to local on windows machine . I ran below commands but both failed

sfdx force:source:retrieve -m LightningComponentBundle

or

sfdx force:source:retrieve -m LightningComponentBundle:helloWorld

[2019-02-07 21:54] lcampos commented on #33
Hi @vijaykumar8448, can you provide the following details so we can look into this, sfdx cli version you are using, salesforcedx vscode extensions version and vscode version. Thanks.

[2019-02-08 02:23] vijaykumar8448 commented on #33
**Vs Code version information**

Version: 1.30.2 (user setup)
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:54:13.295Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17134

******************************
**sfdx version :** sfdx-cli/6.51.1-ba7205094b (windows-x64) node-v8.9.4
***********************
**Salesforce vs code extension

[2019-02-08 02:57] pagwekar commented on #33
Same issue with me too

[2019-02-08 09:50] FabienTaillon commented on #33
I have the same issue, but on **Windows only**.

I had a look and it seems that it's related to a **path separator** used "\\", while on Windows the path returned is something like 'unpackaged/lwc/myField/myField.html'.

**The full stack trace:**

[code]

**Workaround**

It's possible to use a package.xml like the following:

[code]

Then using sfdx force:mdapi:retrieve, it should work.

**More de

[2019-02-08 17:02] allileong commented on #33
Hi @vijaykumar8448, @pagwekar, @FabienTaillon - does this problem persist even if you update your Salesforcedx CLI plugin to v45 (currently the pre-release version)? You can update the version by running:

`sfdx plugins:install salesforcedx@pre-release`

[2019-02-08 17:09] vijaykumar8448 commented on #33
@allileong  Yes . I have already installed this when I was doing setup for LWC .

[2019-02-08 21:33] FabienTaillon commented on #33
Yes, same here. LWC is only available in v45, so this bug is only happening in prerelease.

[2019-02-08 21:49] allileong commented on #33
Great, thanks for the info. A fix is currently in progress.

[2019-02-11 06:15] JodieM commented on #107
I would extend that to be "deploy succeeded" or "retrieve succeeded" but yes, anything other than having to understand what the exit codes mean would be great.

[2019-02-11 06:16] JodieM commented on #24
Yes, an error message like that would be really helpful. Thanks.

[2019-02-11 06:21] JodieM commented on #25
That was me that has the issue.
It seems to be any Field file that has a formula in it.
The CLI was 44.18.0
I was doing a SFDX: Retrieve Source from Org to get my Sandbox metadata into Source Format.
Please let me know what else you need to work out what's going on.

[2019-02-11 16:58] kfidelak94 commented on #7
Thanks @alan-morey, This is good feedback; I've filed W-5845095 to track this internally.

[2019-02-11 19:34] aheber opened #29 "force:source:deploy needs -l, --testlevel TESTLEVEL flag"
**Is your feature request related to a problem? Please describe.**
I would like to use the `force:source:deploy` command to push to a production org, or to a sandbox but enforce unit test execution. I'm unable to find a way to do so now.

**What are you trying to do**
Use the `force:source:deploy` command to delivery minor changes to Production without having to convert all the source, strip out t

[2019-02-12 06:40] vinodatschneider commented on #33
This bug still exist in v45 stable( Only in Windows ), but it works fine in Linux.

Below Screenshot is from v45 stable release without salesforcedx plugin.
![capture](https://user-images.githubusercontent.com/39905083/52616554-f3c5c800-2ebe-11e9-8673-fbbdf4608c9b.PNG).

Same Command works fine in Linux with the same Configuration.

[2019-02-12 09:51] daniel3Github opened #30 "when I try sfdx force:org:list, got an MaxListenersExceededWarning error"
### Summary

When I use the sfdx force:org:list command, I always get an error:
-- (node:51109) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 value listeners added. Use emitter.setMaxListeners() to increase limit

### Steps To Reproduce:

1.  sfdx force:org:list
### Expected result

List all the org infos.

### Actual result
got an error.
Error information: (node:5110

[2019-02-13 02:34] lcampos commented on #108
@Szandor72 I want to provide an update on this. So far I've been able to replicate this issue on my side. I'm still trying to figure out where the fix needs to be done but I can confirm this is unrelated to you using a powershell scripts since I was able to replicate this using a bash script. I'll post an update on this once I have more details.

[2019-02-13 02:59] lcampos commented on #33
Wanted to provide an update on this. We've replicated the issue on our side and are currently working on a fix. Apologies for the bad experience this is currently causing, we'll update this thread once the fix is available.

[2019-02-13 08:31] sfdcbox commented on #33
Same issue here, waiting for a fix !!

[2019-02-14 19:48] Richman7 commented on #33
I'm having the same issue with retrieving LightningComponentBundle source from my sandbox (FYI, ApexClass worked fine to retrieve a controller I had created for the lwc I was working on). I tried the package.xml method that was mentioned above, but I received the same error (ERROR: Cannot read property 'fileName' of undefined.). I ended up using workbench to login to the sandbox and retrieve a zip

[2019-02-14 21:39] clairebianchi commented on #29
@aheber Thank you for the feedback. We will be adding this functionality to the Source:deploy command before we make the command GA. I can not give an exact timeline but my hope is to have the functionality done by end of April.

[2019-02-14 21:39] #29 closed, assigned to nobody

[2019-02-14 21:44] clairebianchi commented on #25
Hi @JodieM, thank you for providing the extra information. I have added this to our backlog of bugs to be fixed. If you are able would you please also provide an example of a field that you are trying to retrieve and the command as you wrote it?

[2019-02-14 21:54] clairebianchi commented on #30
@daniel3Github can you run sfdx plugins --core to get the version salesforcedx that you are on?  I am filing a bug, but I am unable to reproduce the error so any other information would be helpful.

How many orgs are you currently authenticated into?
Does the CLI perform as expected when you run other org commands, such as org:open?
When did this issue start happening?

[2019-02-14 22:24] JodieM commented on #25
I first retrieved the whole org then right clicked on the file and used the SFDX menu option in VSCode. I did so many retrieves and Git things during this period so I can't replicate exactly how this occurred. If I see it again I will let you know

[2019-02-15 03:20] jtomtran opened #31 "mdapi convert command fails when source has lightning web component bundle"
### Summary

_Short summary of what is going on or to provide context_.

mdapi convert command fails when source has lightning web component bundle

I ran into the same issue reported by Mohith via [Salesforce stack exchange](https://salesforce.stackexchange.com/questions/249772/mdapi-convert-command-fails-when-source-has-lightning-web-component-bundle).

Created the issue here so we can track it.

[2019-02-15 03:33] jtomtran commented on #31
also, the reverse direction (DX to Mdapi) is also failing with the same error. @clairebianchi & team let me know if you need any other details.

[2019-02-15 05:15] rajendrasnagar commented on #33
Well, the same issue is with AuraDefinationBundle, It is not showing any error, but components are not retrieved.
[code]
Using VS Code on Windows 64 bit

[2019-02-15 05:24] vinodatschneider commented on #33
Please check the metadata spelling, it should be "AuraDefinitionBundle" instead of "AuraDefinationBundle"

[2019-02-15 06:07] vinodatschneider commented on #33
Thanks a lot for providing the alternative.

[2019-02-15 07:31] rajendrasnagar commented on #33
It was my bad @vinodatschneider, Thanks for your update.

[2019-02-15 08:32] daniel3Github commented on #30
@clairebianchi  the version info:
@salesforce/plugin-generator 1.0.1 (core)
@salesforce/sfdx-trust 2.0.1 (core)
builtins 1.0.0 (core)
salesforcedx 45.2.0 (core)

I run the sfdx force:alias:list and get 7 orgs.
yes, the sfdx force:org:open works as expected.
I ran into this issue several days ago.

[2019-02-15 16:08] DarrinDipity opened #32 "Performance issue on managed Windows 10"
### Summary

We have experienced serious adoption issues from developers of CLI and DX due to the performance on our Windows PCs.  Would love to partner with you to get more data if it means improving the experience.

Running all commands via Git Bash (or Bash terminal within Code).  We seem to have performance issues whether we are on corporate network (on-prem or VPN) or working disconnected.

L

[2019-02-16 00:34] shetzel commented on #33
This will be fixed in the next patch release of the salesforcedx plugin (2/21/19).  Thanks for your patience!

[2019-02-17 03:50] BrettMN opened #34 "force:source:pull on Scratch Org with Community causes ERROR: Metadata API received improper input"
### Summary

I create a scratch org, then enable Communities, create a community, then try `sfdx force:source:pull` through the CLI or the VSCode command palette.  It results in the following Error:

### Steps To Reproduce:

1. create a scratch org
1. enable Communities
1. create a community
1. try `sfdx force:source:pull` through the CLI or the VSCode command palette
1. get error

### Expected re

[2019-02-18 08:50] daniel3Github commented on #30
Update: it works as expected after I marked a scratch org for deletion with  force:org:delete  command.

[2019-02-18 15:40] gdoenlen commented on #21
Adding to this every cli command is beyond slow for me on windows AND linux (ubuntu budgie 18.04). Just printing my orgs (which all sit in files locally) takes 20 seconds.

In regards to the firewall issues why is the CLI reaching out to the internet for things that should be local commands?

[code]

[2019-02-18 23:37] berardo opened #36 "Updates on quick actions default fields are not detected by force:source:pull"
### Summary

Changes made on default fields of custom quick actions in the source code are able to be pushed to a scratch org however, the opposite is not true. On-the-fly updates on pre-existing custom actions are not tracked by sfdx, ending up with No results found.

### Steps To Reproduce:

1.  Create a new Email Quick Action for any Object (my example: Lead)
1. Add some default fields. E.g. ht

[2019-02-19 01:44] anushrgowda opened #52 "Not able create new project in VS code."
### Summary

Just followed trailhead instructions of installing packages. All the necessary packages are installed. But running a create command does not results in an error.

### Steps To Reproduce:

1.  Using command palette call SFDX: Create Project.
2.  Enter Project name and select folder.

### Expected result

Project should get created.

### Actual result

Getting an error that says : "SFDX

[2019-02-19 22:33] jtomtran commented on #31
any ideas when this might get fixed ? we're thinking of implementing work-arounds (ie. remove lwc, convert, then copy lwc over) but this is rather ugly. Any ETA would be really helpful here.

thanks.

[2019-02-20 01:14] lcampos commented on #108
Hi @Szandor72 , I've been able to determine the root cause of this issue being a combination of how the sfdx cli keeps track of local file changes for source:push & source:pull and the way we spawn sfdx cli commands from vscode.

The sfdx cli considers a file's system path as part of the information used to track changes that would have to be considered when doing a source:push or source:pull. I'm

[2019-02-20 15:26] smerakm opened #74 "Retrieving code with manifest - "packageDirectories" error"
### Summary

I'm trying to retrieve matadata from sandbox using SFDX: Retrieve Source from Org and using package.xml. But I get error:
Error deploying or retrieving source: The file or directory that you tried to deploy or retrieve isn't in a package directory that's specified in your sfdx-project.json file. Add this location to your "packageDirectories" value, or deploy or retrieve a different fi

[2019-02-20 17:32] clairebianchi commented on #28
@davidmreed Thank you for filing this bug. We are now aware and I have passed it on to the correct internal team.

[2019-02-21 13:49] e02d96ec16 opened #35 "ERROR: Invalid character (�) in string"
### Summary

Failure to retrieve valid metadata, if it contains characters deemed invalid by the XML parser.

### Steps To Reproduce:

1.  Create a community
    1. Name: 😂
2.  `sfdx force:source:pull -f`

### Expected result

Retrieved the metadata for this in /sites

### Actual result

Retrieval fails with:

### Additional information

[code]

This is related to https://github.com/oozcitak/xmlbu

[2019-02-21 16:00] dcarroll commented on #35
You are not seriously trying to name a community with an emoji are you? I don't think you are, so, if you can represent the name differently that would help.

[2019-02-22 05:45] marlisebriedenhann opened #42 "Deploy Source in Manifest to Source Org - failed"
### Summary

Deploy fails with a number of errors, summarised below:

- If Action is set to 'Tab', you must specify a CustomApplication.

_To resolve this issue, I commented out profileActionOverrides for those profiles containing the node_

Quite a few of these errors associated with apex classes occurred:

- An unexpected error occurred. Please include this ErrorId if you contact support: 470492

[2019-02-22 10:03] idanblich commented on #2
inspired by @douglascayers [ great post](https://douglascayers.com/2019/02/17/develop-against-any-org-with-visual-studio-code-tasks/) i was manage to accomplish opening of  VF page and Lightning App using code tasks feature.
Here is the code for the tasks.json file
[code]

[2019-02-22 18:22] clairebianchi commented on #31
@jtomtran Thank you for submitting this bug. This is a known issue. We are currently working on it internally. I am going to close this issue as we are tracking it with a different team.

[2019-02-22 18:26] clairebianchi commented on #32
@DarrinDipity Thank you for alerting us. We are aware of issues with Windows and the Performance of the CLI and its usually because of windows defender. Can you please check to see if you have added the %LOCALAPPDATA%\sfdx directory to the list of directories that are excluded from the scan (see for details: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_up

[2019-02-22 18:31] clairebianchi commented on #35
@e02d96ec16 are you looking for a better error message?

[2019-02-22 18:37] clairebianchi commented on #36
@berardo We are looking into this issue internally.

[2019-02-22 18:41] aheber opened #37 "force:mdapi:deploy sees a cancelled deployment as a success"
### Summary

When deploying to an org with the `force:mdapi:deploy` command, if I cancel the deployment from inside the org then the CLI reports that as a successful deployment.

### Steps To Reproduce:

1.  Deploy some source via `force:mdapi:deploy` and use the `-w xx` flag to wait for results.
2.  While the deploy is still running go into the org and cancel the deployment
3.  Check the exit cod

[2019-02-22 19:09] clairebianchi commented on #34
@BrettMN We are looking into this issue, thank you for bringing it to our attention.

[2019-02-22 19:38] clairebianchi commented on #34
@BrettMN, this is a known issue with App Switcher. Here is the Know Issue with a documented workaround: https://success.salesforce.com/issues_view?id=a1p300000008e2HAAQ

[2019-02-22 19:38] #34 closed, assigned to nobody

[2019-02-23 20:44] BrettMN commented on #34
Hi @clairebianchi thanks for the response.  Unfortunately the issue you linked to talks about it only occurring when a connected app is installed and the work around is to uninstall the Package associated with the Connected app before trying to pull the source.

Problem is I don't have a Connected app:
<img width="1411" alt="screen shot 2019-02-23 at 2 39 37 pm" src="https://user-images.githubuser

[2019-02-24 23:31] ThiruManoj commented on #33
This is not fixed in this release. I am still facing the same issue.

[2019-02-25 05:40] marlisebriedenhann commented on #42
Updated the SFDX CLI Version to 45.3.0 which resulted in only 3 errors raised.

[code]

[2019-02-25 10:14] e02d96ec16 commented on #35
The point is sfdx does not support something that Salesforce does (ie emojis (possibly other unicode too?) in Community Name).

I appreciate this is an edge case, in which case if it's not to be supported (now), I would hope for it to at least be officially documented as a Known Issue.

Also, I apologise if this sounded like I was seeking for help. I'm not (I already fixed it locally by applying w

[2019-02-25 10:15] FabienTaillon commented on #33
I tried today after running sfdx update (salesforcedx 45.3.4 (core)), and it's now working fine :)

[2019-02-25 14:15] jwalke opened #38 "Unable to create new project with the '--template standard' flag"
### Summary

The force:project:create command fails when I attempt to use the `--template standard` flag

### Steps To Reproduce:

1.  Run the command `sfdx force:project:create -n myProject --template standard`

### Expected result

A project is created with the new project scaffold [described in the v. 45.3.1 release notes](https://developer.salesforce.com/media/salesforce-cli/releasenotes.html)

[2019-02-25 14:20] GregFinzer opened #39 "SFDX CLI for Windows ERROR: Cannot read property 'fileName' of undefined. for AuraDefinitionBundle"
### Summary

I am receiving the error:
ERROR:  Cannot read property 'fileName' of undefined.

### Steps To Reproduce:

1.  Define this package.xml

[code]

2.  Run this command:
`sfdx force:source:retrieve --manifest c:\_hilton\BossReno\manifest\package.xml`

### Expected result

The source should be retrieved

### Actual result

ERROR:  Cannot read property 'fileName' of undefined.

### Additiona

[2019-02-25 17:24] dcarroll commented on #38
@jwalke As a workaround, run `touch /Users/walkej/.local/share/sfdx/client/node_modules/force-language-services/dist/project/templates/.gitignore` and then re-run the command.  Seems like we did not publish the .gitingnore for the project template.  We'll file a bug and fix this asap.

[2019-02-25 18:00] ntotten commented on #38
Thanks for reporting. It looks like the `.gitignore` file isn't in the bundle because NPM automatically ignores those files. We will get this fixed.

[2019-02-25 20:58] clairebianchi commented on #34
@kfidelak94 do you have any insight into this issue?

[2019-02-25 22:04] Richman7 commented on #33
***.js-meta.xml file not retrieved when retrieving component for the first time.** I've updated to salesforcedx plugin version 45.3.4 and tried to retrieve an lwc component that was created on a different computer. I was unable to retrieve the lwc component by its name from my Sandbox environment. I was able to retrieve the component.html and component.js files using a package.xml file to retrieve

[2019-02-25 22:14] shetzel commented on #33
I reproduced the issue and am working on a fix now.  I'm hopeful to get this into the next patch release this Thursday.  My apologies for the incomplete fix!

[2019-02-26 09:33] bishwambharsen opened #40 "Unable to deploy 'Quote' related changes using force:source:deploy"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**SFDX CLI Version**(to find the version

[2019-02-26 09:34] bishwambharsen commented on #40
Parent entity failed to deploy. This is the error being thrown by the CLI when I am trying to create a package version or deploy to another sandbox. Unable to handle Quote.

[2019-02-26 19:18] Szandor72 commented on #108
Thanks!

Any nasty, undocumented, all warranty void workaround I could use in the meantime? Because I just pushed > 1000 cmps more times than I'd care for. I need to be very careful what I do where.

[2019-02-27 00:27] alan-morey opened #41 "force:source:deploy fails with single CustomLabel in manifest"
### Summary

_Fails to deploy using `force:source:deploy` when the package manifest contains a single CustomLabel_.

### Steps To Reproduce:

1.  Create a package manifest with single `CustomLabel`, `manifest/package.xml`:
[code]
2.  Add `CustomLabel` to workspace, `force-app/main/default/labels/CustomLabels.labels-meta.xml`:
[code]
3. Deploy
[code]
### Expected result

The `CustomLabel` should ha

[2019-02-27 20:37] shetzel commented on #33
This should be fixed with the patch release tomorrow.  Closing this issue.  Thanks for reporting and for patiently awaiting the fixes.

[2019-02-27 20:37] #33 closed, assigned to nobody

[2019-02-28 16:06] ntotten commented on #42
Moving this to the CLI repo as it is not a VS Code bug.

[2019-03-04 13:41] babos47 opened #43 "Unable to retrieve lwc files"
### Summary
Hi,
i'm not able to retrieve LWC from Project created with manifest.
I tried many alternatives from this below  but i'm still face the same issue.
#33

### Steps To Reproduce:

1. command : sfdx force:source:retrieve -m LightningComponentBundle
1. or Retrieve Source in Manifest from Org

### Actual result

![image](https://user-images.githubusercontent.com/5557554/53736702-c7ccaf80-3e8

[2019-03-04 15:49] shetzel commented on #43
You are on the pre-release version of the salesforcedx plugin.  That bug is fixed in the latest release (i.e., not pre-release).  Please uninstall the pre-release version (sfdx plugins:uninstall salesforcedx) and then update to the latest version (sfdx plugins:update salesforcedx).

[2019-03-04 15:49] #43 closed, assigned to nobody

[2019-03-05 05:53] ThiruManoj commented on #43
Thanks it is working!!

[2019-03-05 12:11] laszlo-foldi-attentioncrm opened #44 "force:data:tree:export fails if username contains a whitespace"
### Summary

_force:data:tree:export fails if the username contains a space_.

### Steps To Reproduce:

1.  Have a Windows user where the username contains a whitespace (e.g. Time Lord)
1.  Run this command `sfdx force:data:tree:export -q "SELECT Name, Location__Latitude__s, Location__Longitude__s FROM Account WHERE Location__Latitude__s != NULL AND Location__Longitude__s != NULL" -d ./data`

###

[2019-03-05 21:37] clairebianchi commented on #39
@GregFinzer can you update your Salesforce CLI and retest?

[2019-03-05 21:39] clairebianchi commented on #40
@bishwambharsen we will investigate, thank you for letting us know

[2019-03-05 21:53] clairebianchi commented on #37
I think this is the intended experience because the deployment did not fail but was canceled instead. @kfidelak94's team owns this command, would it be helpful if the status code was just different then a successful build, i.e. if there was a canceled build status code?

[2019-03-05 21:56] clairebianchi commented on #42
@kfidelak94 can you take a look at this one? I think it might be a metadata issue.

[2019-03-05 22:22] vijaykumar8448 opened #47 "Problem in dashboard retrieve"
Not able to retrieve dashboard by sfdx command . I tried with below commands

 **sfdx force:source:retrieve -x package.xml**  or sfdx force:source:retrieve -m Dashboard:Dashboard_Folder/Dahboard_Name

---------------
Version: 1.31.1 (user setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: W

[2019-03-05 22:34] justgrumpy opened #45 "The source:retrieve command does not behave the same for the all parameters"
### Summary

The `source:retrieve` command does not behave the same for the [-x MANIFEST], [-m METADATA], and [-p SOURCEPATH] parameters.

### Steps To Reproduce:

1. Start with a `sfdx-project.json` file like the following:
[code]
1. Have a class in `/myApp/main/default/classes/` called `MyApexClass.cls`
1. Have a class on your sandbox named `MyApexClass` with changes
1. Use the command `sfdx for

[2019-03-06 14:04] GregFinzer commented on #39
@clairebianchi It looks like there was a problem with the deployment.  I did a sfdx update and it gave me the message:
Updating CLI... already on latest version: 6.55.1-be0b3dc4c4

I tried doing the same command again in VS Code:
`sfdx force:source:retrieve --manifest c:\_hilton\BossReno\manifest\package.xml`

Here was the response:

[code]

Here is the package.xml file that I used:

[code]

[2019-03-06 15:20] JimSuplizio commented on #94
@flores95 and @JorneVL, I spent a chunk of yesterday trying to reproduce this and was unable to. We've had a number of CLI/VS Code updates. That being said I tested things against both scratch and sandbox as well as in VS Code and with the CLI directly. I was unable to reproduce the issue. Looking at commands and the output (there's a second one in the GIT link) there's nothing special about the d

[2019-03-06 16:28] shetzel commented on #39
@GregFinzer - If you look at your list of plugins, salesforcedx is at version 45.3.4, which is not the most recent.  This means you probably installed a specific version of the salesforcedx plugin at some point.  The bug you are hitting was fixed in a later version of the plugin (45.7.1 iirc).  You should uninstall that version of the salesforcedx plugin and use the core version that ships with th

[2019-03-06 16:28] suresh83kumar commented on #47
I also had the same issue. Currently there is no way to understand if execution is in progress or not.

Can we get a status or in progress message/spinner during sfdx force:source:retrieve in vscode similar to deploy?

[2019-03-06 17:33] Ramondi commented on #39
@shetzel I had the exact same issue and running the commands you mentioned I was able to run a retrieve without any problem. Thanks mate!

[2019-03-06 19:43] BrettMN commented on #34
@clairebianchi should I assume this issue is dead and create a new issue?

[2019-03-06 21:16] shetzel commented on #40
@bishwambharsen - I'm not able to reproduce that error.  However, you didn't include exact repro steps or fill out the issue template so I can't be sure it's not a bug. Aafter making local changes to the quote I tried `sfdx force:source:deploy -p force-app/main/default/objects/Quote` to a new org and it worked fine.  If you are still having problems with this please complete the issue template and

[2019-03-06 21:16] #40 closed, assigned to nobody

[2019-03-06 23:20] kfidelak94 commented on #34
@BrettMN This issue is in fact fixed in Summer'19.  The KI description is written more narrowly than the actual issue actually is; sorry this is confusing/misleading.   I believe another workaround is to put these component types into the .forceignore file to get around the error during source:pull.

[2019-03-07 14:29] GregFinzer commented on #39
@shetzel Those steps did not work for me.  I also did a full uninstall of salesforce cli, reboot, and then re-install.  I also tried the command again:

`sfdx plugins:uninstall salesforcedx`

Result
`salesforcedx is not installed`

When I do this:
`sfdx plugins --core`

I get this:

[code]

[2019-03-07 17:22] shetzel commented on #39
@GregFinzer - Your cli and plugin versions look correct now.  Your package.xml also looks good.  The next thing to check is if you're locked to an older API version.  Look in your sfdx-project.json for `sourceApiVersion` and if it's set to less than "45.0" then either update it to "45.0" or remove it.  Also, append `--dev-debug` to your `sfdx force:source:retrieve` command to get lots of debugging

[2019-03-07 18:22] GregFinzer commented on #39
@shetzel No problem, I am usually on the other end of the support so I am paying it forward.  :smile:

Here is my sfdx-project.json

[code]
Here is the stack trace.  Notice it takes 7 minutes :open_mouth: to get to the error:

[code]

[2019-03-07 20:01] shetzel commented on #39
I'll reopen this issue until it's resolved.  I'm not able to repro this on my windows VM but my file paths are not exactly the same as yours and that is most likely the issue.  I'll continue to try to repro but in the meantime I'll give you some things to try.

1. Unless you're retrieving hundreds of metadata and/or have a very, very large project 7 minutes for a retrieve is ridiculous.  Be sure y

[2019-03-07 21:56] GregFinzer commented on #39
We have a critical client demo tomorrow that I am preparing for.  I will most likely get to this on Monday.

[2019-03-07 22:36] shetzel commented on #41
@alan-morey - Thank you for the thorough report!  I reproduced this and the bug fix will be prioritized for a future patch release.

You can take the following steps as a workaround.  I understand that it's less than ideal as a workaround but it will deploy just the label.
1. Run `sfdx force:source:convert -d labels_md -r force-app/main/default/labels`
2. Remove all label metadata files you don't

[2019-03-07 22:53] shetzel commented on #44
@LaszloFoldi - Thank you for reporting this.  I reproduced the bug and the fix will be prioritized for a future patch release.

[2019-03-07 23:29] shetzel commented on #45
@justgrumpy - Thank you for reporting.  I suspect this is due to an optimization done when using the `-p` param where project file traversal is skipped to make single file retrieval faster particularly in very large projects.   We'll prioritize this for a future patch release.

[2019-03-08 14:41] jeffvarnam commented on #21
+1.  My team has always had this issue with SFDX.  We use macs, so it's not limited to Windows users.

I believe the time to execute any DX command is impacted by the number of orgs listed in `~/.sfdx`.
 I've authed with 55 non-dx orgs and usually have between 2-5 scratch orgs active at any given time.  It takes 2 minutes to execute `sfdx force:org:list`.

[2019-03-08 14:45] mhumpolec commented on #21
we kind of tracked it down to local security, still work on it, but disabling part of our huge security stack improved it. Will see, keep you posted.

[2019-03-08 14:45] dalefrancum commented on #21
I've definitely seen improvement times that I've cleaned out `~/.sfdx`, but that is usually short-lived. Just getting a list of orgs has gotten to be so slow that I've created a simple script to parse that folder and give me a list.

[2019-03-08 16:20] BrettMN commented on #34
thanks @kfidelak94 adding the following to my `.forceignore` allowed me to pull the changes from the scratch org.

[code]

[2019-03-08 16:40] muenzpraeger commented on #34
I recommend to always keep an eye on the `.forceignore` in the sample apps. We keep them always up-to-date with what we think are good recommendations, as well as to workaround bugs like this one.

https://github.com/trailheadapps/lwc-recipes/blob/master/.forceignore

[2019-03-08 19:56] shetzel commented on #21
`force:org:list` does not simply read the cached auth files.  The auth and org data can become stale quickly so that command queries every org in ~/.sfdx to ensure the reported information is accurate.  The more orgs you have in the directory, the longer `force:org:list` will take.  The number of auth files in ~/.sfdx does not affect any other commands.

We understand that sometimes the cached aut

[2019-03-08 22:04] BrettMN commented on #34
Maybe the example apps could have explanations for why things are in the `. forceignore ` a person outside Salesforce might think they are project specific and not recommended workarounds for bugs/issues

[2019-03-09 22:05] gbutt opened #67 "filePath = N/A when deploying multiple files (with errors) using source:deploy -p"
### Summary

_When deploying multiple files with `force:source:deploy` and at least one file has a deploy error, the filePath is N/A in the error results_.

### Steps To Reproduce:

1. Create two apex files (Apex1.cls, Apex2.cls)
1. Change one file (Apex2.cls) so that is will not compile
1. Deploy using force:source:deploy -p Apex1.cls,Apex2.cls --json

### Expected result

_The result filePath sh

[2019-03-10 15:09] chandra2ravi opened #46 "Converted source not pushing to scratch orgs"
i used source convert an try to push to scratch org and getting below error

sfdx force:source:convert -d force-app/main/default  -r force-app/objects

deleted source -> objects folder and push
![Screen Shot 2019-03-10 at 9 58 12 AM](https://user-images.githubusercontent.com/93057/54086967-86218600-431c-11e9-89e7-003a8d465e52.png)

[2019-03-10 18:47] gbutt commented on #67
I did some more research into this, turns out the issue is in salesforce-alm.

I was able to trace this issue to the `sourceDeployApi` class. In the `_processResults` function, the call to `removeFailedAggregates` is happening too soon. It is removing the needed data from the `aggregateSourceElements` array before it can be processed by `syncCommandHelper.getDeployFailures`. I moved this function

[2019-03-12 12:42] GregFinzer commented on #39
@shetzel
1.  Yes, it is a very large project.  I did a file properties and it is around 7000 files.  Although I am not sure how many files are just simply files created by sfdx for the typings.
2.  I tried sfdx force:mdapi:retrieve.  I waited for about 20 minutes and it never came back.
3.  There is no aura sub folders since I cannot retrieve.  I do have an underscore in the folder name at the beg

[2019-03-12 20:12] Kevmo92 opened #48 ".forceignore **.md bug"
### Summary

Following this [guide](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_exclude_source.htm) on excluding files when syncing or pushing to a scratch org I implemented `**.md` in my `.forceignore`.
Vivek also includes this notation in his [template repo's](https://github.com/sfdx-isv/sfdx-falcon-template/blob/master/.forceignore) forceignore.

There is a

[2019-03-14 15:01] lopezfra commented on #1
Any update on this?

[2019-03-14 21:28] eshafferpdx opened #49 "Install CLI on Linux root owner perm issue prevents use in Visual Studio Code."
### Summary

Following "Install the CLI on Linux" steps found on [Install the Salesforce CLI](https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm#sfdx_setup_install_cli_linux) results in directories and files with root ownership which requires sudo to use the tool in terminal and prevents its use in Visual Studio Code application.

### Steps To R

[2019-03-15 03:40] eshafferpdx commented on #49
For what it is worth, I did use chown to take ownership from root of the .sfdx dir and successfully created project with manifest using VSCode.
     I do not know what implications this may have down the road as I am just starting to use the tool. If no known issues from User owning .sfdx directory, perhaps consider updating the Install the CLI on Linux steps to include $ sudo chown user : user .s

[2019-03-15 03:41] eshafferpdx commented on #49
Inadvertently closed in error, reopened for review and feedback please.

[2019-03-15 16:12] lcampos commented on #108
As an undocumented workaround, the salesforce cli uses file sourcePathInfos.json, located under <project>/.sfdx/orgs/<username>, to keep track of local file changes that would have to be considered for deployment when using source:push. You could add a script to your process where it updates the hard drive's casing in that file to the correct one depending on the tool you want to use. VS Code lowe

[2019-03-18 10:21] Szandor72 commented on #108
Before writing such a script, I will simply try to rename my hard drive
first.

[2019-03-19 17:54] shetzel commented on #39
@GregFinzer - Your last post has a different stack trace that points to different plugin code.  It looks like you may have been auto-updated to a more recent version in between the first stack trace and your most recent stack trace.  So I don't see the console.log output from the modified js because it didn't use that source when running the command.  Next chance you get can you run the command ag

[2019-03-20 14:23] mhumpolec commented on #21
found out the our security stack is responsible for the majority of the slow down, cutting some holes in it we reduced the time from 30s to 5s.

[2019-03-21 10:03] vignaesh01 opened #51 "SFDX: Retrieve Source from Org command does not retrieve new files"
I pulled a sandbox using Salesforce CLI extensions for VS Code using sfdx : Retrieve Source in Manifest from Org command. Later when I right clicked on classes folder and selected SFDX: Retrieve Source from Org command, new classes created in sandbox recently does not get retrieved. Only the classes that are already present in the classes folder gets updated. Is this a known issue?

**Command that

[2019-03-21 18:21] MarcDBehr commented on #22
@clairebianchi I am starting to see this this week. Is the mid-March update out yet or is there an updated ETA?

[2019-03-21 18:23] clairebianchi commented on #22
@MarcDBehr The update goes out next Thursday :)

[2019-03-22 18:38] GregFinzer commented on #39
@shetzel the file still had the logging statements even after the update.  Here is the method with the modified code:

`
    static getMetadataFileNameFromBundleFileProperties(fullName, bundleFileTypeProperties) {
        console.log('fullName=', fullName);
        console.log('bundleFileTypeProperties=', bundleFileTypeProperties);
        const bundleName = fullName.split(path.sep)[0];
        co

[2019-03-23 18:23] shetzel commented on #39
@GregFinzer - right but that's the file from the original install.  When you update to a newer version of the cli the files are in a different location.  You need to modify bundlePathHelper.js in that location because those are the files used when you run the commands after a cli update.  Your modified code looks perfect.  You just need to make the same modification to C:\Users\greg.finzer\AppData

[2019-03-24 05:03] gagnihot opened #54 "saleforce CLI is still installing for last 1 hours when Salesforce extension pack was installed."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**VS Code Version**:

**SFDX CLI Version

[2019-03-25 18:58] alpha-bytes opened #50 "AuthInfo Error on sfdx force:apex:test:run"
### Summary

Suddenly, whenever I click the `run test` link in an Apex Unit Test, or run any variants of the `sfdx force:apex:test:run` command, the process exits with an error value (`1`) and prints the message `ERROR:  Cannot create an AuthInfo instance that will overwrite existing auth data.`

I removed authorization for the default org (`sfdx force:auth:logout`) and then authorized it again, a

[2019-03-25 22:55] dalden-calepa-salesforcedx commented on #50
I also started receiving this error today on certain CLI commands.

[2019-03-25 23:20] clairebianchi commented on #50
@alpha-bytes @dalden-calepa-salesforcedx, we just made an update that should fix this. Would you please update your CLI and try again?

[2019-03-26 20:35] clairebianchi commented on #35
@e02d96ec16, thank you, that totally makes sense. I will get a known issue created.

[2019-03-26 20:35] #35 closed, assigned to nobody

[2019-03-26 20:43] clairebianchi commented on #48
@Kevmo92 thank you for reporting this. We have added it to our backlog.

[2019-03-26 20:47] #50 closed, assigned to nobody

[2019-03-26 20:51] clairebianchi commented on #51
Hi, can you rerun the command and surround the source path with quotes?

[2019-03-26 20:57] clairebianchi commented on #47
Thank you for reporting this issue. We have added it to our backlog and will update this ticket once it has been fixed.

[2019-03-26 20:58] clairebianchi commented on #49
We are looking into your question @tnoonan-salesforce to respond

[2019-03-26 20:59] ruthemmanuelle commented on #51
Hi @vignaesh01 . The `--sourcepath` parameter is designed to retrieve only source that already exists on your local machine. If you want to retrieve new classes, use the `--metadata` parameter instead. The Salesforce Extensions for VS Code docs have more info on how the VS Code functionality works: https://forcedotcom.github.io/salesforcedx-vscode/articles/user-guide/org-development-model#retrieve

[2019-03-26 21:01] clairebianchi commented on #46
Hi @chandra2ravi, would you please post your question to the Trailblazer Community: https://success.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F93A000000HTp1

[2019-03-26 21:01] #46 closed, assigned to nobody

[2019-03-26 22:35] sharmavishal94 opened #53 "SFDX:Authorize an Org"
Whenever i execute this command in vscode / Terminal CLI.
I get -
03:37:40.774 sfdx force:auth:web:login --setalias dx_lwc@gmail.com --instanceurl https://login.salesforce.com --setdefaultusername
ERROR:  EACCES: permission denied, open '/home/vishal/.sfdx/key.json'.
03:38:08.511 sfdx force:auth:web:login --setalias dx_lwc@gmail.com --instanceurl https://login.salesforce.com --setdefaultusername e

[2019-03-26 22:39] sharmavishal94 commented on #53
drwxrwxrwx  2 root   root     4096 Feb 17 16:51  .sfdx
In .sfdx ->
-rw-------  1 root   root     78 May  5  2018 key.json
Not sure which permission it requres, I am using Ubuntu.

[2019-03-27 13:25] fedegiust commented on #52
I'm seeing the same error is there any workaround?

[2019-03-27 13:27] fedegiust commented on #52
I noticed that if instead of HelloWorldLightningWebComponent used HelloWorldLWC works. So it may be due to the project name character length

[2019-03-27 15:08] amphro commented on #53
Why is the owner root? You should `chown` the `.sfdx` folder back to your user otherwise I would imagine you need to `sudo sfdx` which is **not** recommended. If `chown` doesn't resolve the issue, please reopen the issue.

[2019-03-27 15:08] #53 closed, assigned to nobody

[2019-03-27 15:10] amphro commented on #54
Please fill out the template when creating issues. You could also try to install the CLI first then install the extension.

[2019-03-27 15:10] #54 closed, assigned to nobody

[2019-03-27 21:49] benahm opened #55 "sfdx force:mdapi:listmetadata -m Layout returns undefined"
### Summary

Unable to list metadata for "Layout" metadata type using Salesforce CLI

### Steps To Reproduce:

Auth to any org and run

    sfdx force:mdapi:listmetadata -m Layout

### Expected result

List of layout available in the org (the default authenticated org)

### Actual result

Value : "undefined"

### Additional information

See screenshot below

**SFDX CLI Version** V45.0

**OS and ve

[2019-03-27 22:05] alpha-bytes commented on #50
This seems to have done the trick - thank you!

[2019-03-28 00:29] jmaikeru opened #56 "Package version creation with multiple levels of dependencies is broken"
This is totally borked. A simple use case such as C -> B, B -> A fails on creation of a package version for C. I looked up the documentation regarding dependencies and figured maybe it was too stupid to figure out that A was required during the creation process- as the documentation has something along the lines of C -> B, A and B -> A in terms of dependency declarations.

Turns out this doesn't w

[2019-03-28 01:36] loganm opened #57 "mdapi:deploy and source:deploy need test results file output"
My continuous integration process performs a check only deployment to a sandbox and runs all the unit tests. This ensures the code is deployable, and the tests passing before we allow code to be merged into master.

**What are you trying to do**
Generate a junit compatible test results file from a deployment that my CI tool can consume.

**Describe the solution you'd like**
[code]

**Describe alte

[2019-03-28 01:58] loganm opened #58 "force:source:retrieve should honor the .forceignore file"
**Is your feature request related to a problem? Please describe.**
We are running an org-based project with SFDX. Our manifest is setup to track all roles, but this also brings in the partner portal roles which are system managed and cannot be changed or deployed.

To ignore these roles would mean making a massive whitelist of every other role, and having to edit that list when roles are created o

[2019-03-28 06:14] mattparlane opened #63 "Request Header Fields Too Large"
Hi! This is my first time using sfdx and I'm following the official documentation to create a scratch org.

When running `sfdx force:source:push`, I receive the following:

`ERROR:  <h1>Bad Message 431</h1><pre>reason: Request Header Fields Too Large</pre>.`

### Steps To Reproduce:

1. Pull metadata from existing org
1. Convert metadata to source format
1. Create scratch org
1. `sfdx force:source

[2019-03-28 16:21] mnunezdm opened #60 "Extract deeply nested (more than 1 level) plan"
**Is your feature request related to a problem? Please describe.**

Extracting data with the `sfdx force:data:tree:export` only allows to extract one level of nested elements. I think it would be great to extract deeply nested plans like for example: `Account->Case->Task`

I managed to manually extract the data in two steps, manually edit the data plan, and insert them using the `sfdx force:data:t

[2019-03-28 17:32] sharmavishal94 opened #59 "CLI command length"
If possible can SFDX CLI commands made Shorter ?
For example in other frameworks like Angular to generate a component we use -
**ng g c 'name';**

Shorter names are easier to remember and are fast.
sfdx force:lightning:component:create --type lwc --componentname helloWorld --outputdir force-app/main/default/lwc
to -
**sfdx force:l:c:c --type lwc**

[2019-03-28 17:41] sharmavishal94 commented on #53
Thanks.
I was running commands as admin.
I created a standard user.
Then ran.
It went smooth :+1:

[2019-03-28 17:49] dcarroll commented on #59
Interesting suggestion.  While we mull it over you can use and alias in your bash profile. Something like `
alias force:o:d='sfdx force:org:display'
`
Then you can do
`
force:o:d -u myorg
`

[2019-03-28 17:53] sharmavishal94 commented on #59
Will use alias till then.

[2019-03-28 17:53] #59 closed, assigned to nobody

[2019-03-28 19:59] shetzel commented on #58
@loganm - the `source:retrieve` and `source:deploy` commands already honor the .forceignore file.  I just tested it with roles and it works as expected.  **.role will ignore all roles.  Your example should also work.  I tested with wildcarding all roles in the package.xml and ignoring **PartnerUser.role in the .forceignore file and it worked.

[2019-03-28 19:59] #58 closed, assigned to nobody

[2019-03-29 22:42] ChuckJonas opened #61 "sfdx force:mdapi:deploy not working with production target"
### Summary

_Short summary of what is going on or to provide context_.
I'm trying to run `sfdx force:mdapi:deploy -u my-prod -d src` of a package I just retrieved using `sfdx force:mdapi:retrieve` and I'm getting an error:

I've tried adding the `-e true` (which is supposed to be defaulted to true) and I STILL get the error!

### Steps To Reproduce:

1.  Retrieve some unpackaged metadata using `m

[2019-03-29 22:44] ChuckJonas commented on #61
Just saw on twitter that a patch was released.  Upgraded to 7.1.4 and it works now

[2019-03-29 22:44] #61 closed, assigned to nobody

[2019-04-01 03:55] surajsood0 opened #70 "Not able to connect to sandbox on MACBOOK"
Issue Type: <b>Bug</b>

I am trying to connect to Sandbox using vs code Salesforce extension. But below error is thrown when trying to login.

Try this:
Determine why this command failed to set an encryption key for user surajsood: [/usr/bin/security add-generic-password -a local -s sfdx -w 1ce9d27c9b785c632afd908e09506396].
14:54:17.30 sfdx force:auth:web:login --setalias devaxx --instanceurl htt

[2019-04-01 13:10] Erisiel commented on #21
@mhumpolec  We are currently experiencing  similar delays while in the past commands ran faster. Seeing your resolution made me realise we have recently had a change in infrastructure. Do you have any pointers of where to look?

[2019-04-01 13:25] Erisiel opened #62 "Source:push --jobid/ source:report to reconnect similar to deploy:report"
**Is your feature request related to a problem? Please describe.**
Yes. Initial source push command to a new scratch org takes a long while to complete (20-40 minutes average), however sometimes the command gets interrupted or disconnects or otherwise loses track of progress.

Background: We have an application build on the salesforce platform in the course of several years and is extensive in siz

[2019-04-01 22:00] amphro commented on #63
Moving this to the CLI repo since it isn't necessarily a problem with this repository. I would also recommend trying with v7 but you will probably still have the same problem.

[2019-04-02 09:21] mattparlane opened #64 ""JavaScript heap out of memory" when running force:source:retrieve"
### Summary

I have an existing org which I'm trying to import with my `package.xml` file. It's a decent sized org but not huge: 160MB of Documents, nothing else significant.

When running `force:source:retrieve`, I get this:

`FATAL ERROR: invalid table size Allocation failed - JavaScript heap out of memory`

I have tried running with `NODE_OPTIONS=--max-old-space-size=8192` and I have also modif

[2019-04-02 14:47] dieffrei opened #66 "Internal api's calls timeout parameter"
**Is your feature request related to a problem? Please describe.**
Since some network latency on travis-ci our ci pipeline often breaks

**Describe the solution you'd like**
I'd like a way to increase the internal api calls timeout.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Every

[2019-04-02 17:58] yjanezou commented on #94
@JimSuplizio I am getting same error on my mac OS when trying to push files:

ERROR running force:source:push:  The "path" argument must be of type string. Received type undefined

[2019-04-02 20:49] clairebianchi commented on #63
Would you mind providing us with more information about the org you are working with? Can you provide the request payload? We realize that the error message is confusing and are going to work to fix that but also want to help you get unstuck in the meantime.

[2019-04-02 23:15] cnaccio commented on #48
Just ran into this issue today as well. Thanks so much for reporting this issue; we we're totally stuck.

[2019-04-04 01:00] k010c1232 opened #68 "EISDIR: illegal operation on a directory, read by right-clicking package.xml"
### Summary

I just got this error, when I retrieve metadata to production org from VSCode(1.32.3) with salesforce cli ver 7.1.4.

### Steps To Reproduce:

1.  Triggered the retrieve by right-clicking package.xml

### Expected result

Retrieve meta data

### Actual result

EISDIR: illegal operation on a directory, read.

### Additional information

[code]

**SFDX CLI Version**(to find the version

[2019-04-04 13:18] RedaBenh opened #219 "ERROR running force:source:convert: The "path" argument must be of type string. Received type object"
### Summary

unable to convert sfdx project to mdapi project. no details about the error.

### Steps To Reproduce:

1.  Clone my project from git
1.  Run the command `sfdx force:source:convert -r force-app/main/default/ -d src`

### Expected result
Convert successfully with the message:
Source was successfully converted to Metadata API format and written to the location: ~/src

### Actual result
G

[2019-04-05 10:32] jty-reman opened #69 "Several Settings in orgPreferenceSettings Cause 'ProblemDeployingSettings: Failed to deploy settings to scratch org' Error"
### Summary

I have been experimenting with changing from orgPreferences to settings in my Scratch definition file and I have discovered that the presence of any of these options causes an 'ProblemDeployingSettings: Failed to deploy settings to scratch org.' error when creating the scratch org:

"documentContentSearchEnabled": true,
"knowledgeEnabled": true,
"nameSuffixEnabled": true,
"middleNameE

[2019-04-05 14:06] rmsjts88 commented on #94
Nice, ... can't reproduce so the issue is closed!! Well I have this same stinking problem with your code.  I guess I have to fix it myself. All force:source commands pull push and status fail, could be others.
I have two different force-app project. the force:source commands work in one but not the other. The only place I see "Path" used is in the sfdx-projecct.json which has a location of the fol

[2019-04-05 14:25] ntotten commented on #94
@rmsjts88 I understand you are frustrated, but I am not sure what you expect us to do. If you can provide detailed reproduction steps and a sample repository we are happy to look into this, but we can't fix a bug we can't find.

I would suggest you:
1) Create a project that you causes the issue and push it to a git repo
2) Provide EXACT steps for how the issues occurs
3) Provide detailed informati

[2019-04-05 21:28] #51 closed, assigned to nobody

[2019-04-06 14:23] alcoforado opened #220 "LWC SFDX source push error TypeError: LWC1009: decl.moveTo is not a function"
### Summary
Getting the following error when try to push code to my org  sfdx force:source:push

PROJECT PATH ERROR ──────────── ───────────────────────────────────────────────── N/A TypeError: LWC1009: decl.moveTo is not a function

The issue happens when I have a css in Lightning Web Component with two entries for the same selector
Like

.json-map-view {
    border: 1px #CFD7E6 solid !important;

[2019-04-07 07:47] idanblich opened #71 "Unable to use alias contain Point (.)"
### Summary

Since the latest cli major release sfdx-cli/7.1.4 , i been having errors when using -u parameter with alias that contain Point (.)

### Steps To Reproduce:

1.  Authenticate to a sandbox org with CLI and set alias for the connection (ex. mySandbox.Alias) ``  sfdx force:auth:web:login -a mySandbox.Alias ``
2. try to login with CLI ``  sfdx force:org:open  -u mySandbox.Alias ``
### Expe

[2019-04-08 18:13] tnoonan-salesforce commented on #49
I think you might have node installed globally?

I actually recommend installing node using nvm. Our docs probably should clarify that.

https://github.com/creationix/nvm/blob/master/README.md

[2019-04-08 18:18] mrichmon12 opened #72 "Updating RemoteProxy with Tooling API fails with deserialization error"
### Summary

Receive an error when trying to update RemoteProxy object through force:data:record:update

### Steps To Reproduce:

1.  Attempt to update a RemoteProxy through the force:data:record:update
[code]

### Expected result

RemoteProxy is updated in the target org.

### Actual result

ERROR:  Cannot deserialize instance of complexvalue from null value null or request may be missing a requi

[2019-04-09 17:31] pkbiradar opened #73 "Unable to create Scratch Org for salesforce"
Hi All,

I am not able to create Scratch Org through VS Code for salesforce as its throwing the below error:
![image](https://user-images.githubusercontent.com/49105554/55821508-4b795c00-5b1b-11e9-8635-65003bb0e34c.png)
I am not sure where am I Missing.. I have default Org also mapped to the project. Has anyone faced the similar issue before. Kindly help me in getting this resolved. Thanks alot in

[2019-04-09 18:08] pkbiradar commented on #73
Hi @ntotten , Thanks for mapping the issue. Now its resolved by me. I was under impression that the developer orgs are DX enabled, but its not the case. We have to create an another org which is dx enabled and that will help in creating the scratch org.
Link to create DX Enabled Org: https://developer.salesforce.com/promotions/orgs/dx-signup

[2019-04-09 18:08] #73 closed, assigned to nobody

[2019-04-10 14:46] rsoesemann opened #75 "SFDX Commands take long and fail with ECONNRESET"
I am unable to do any sfdx CLI commands today. Most of them fail with an  ECONNRESET. error.

<img width="987" alt="sfasc-neo____dev_projects_sfasc-neo__-_____config_dev-scratch-def_json__sfasc-neo__und_projects" src="https://user-images.githubusercontent.com/8180281/55888734-36024180-5bb0-11e9-8523-13860d13b51a.png">

**SFDX CLI Version**(to find the version of the CLI engine run sfdx --version):

[2019-04-10 15:10] tnoonan-salesforce commented on #75
Can you try again by adding the --dev-debug?

Also, can you include the output of `sfdx plugins --core`.

[2019-04-11 07:13] jairzh commented on #41
Is it fixed?

[2019-04-11 10:59] OscarScholten opened #77 "force:apex:execute does not exit with non-zero exit code when script does not compile"
Hi,

Today I noticed that force:apex:execute does not exit with a non-zero exit code when the script that is supplied does not compile. I did not experiment further, but it would be good if it also exits with non-zero in case of execution exceptions, etc. The command does exit with a non-zero exit code when the file does not exist.

Cheers, Oscar

### Steps To Reproduce:

Open a terminal/dos box a

[2019-04-12 13:11] smukov opened #78 "ERROR running force:source:retrieve: Cannot read property 'getWorkspaceElements' of undefined"
### Summary

Created a project with manifest and tried to retrieve Wave (Einstein Analytics) components in order to setup source control and CI/CD with them, however, I'm receiving an error in the output.

I am using the sample Developer Edition org provided in Trailhead, so the issue should be easy to reproduce.

### Steps To Reproduce:

1.  Create a new Developer Edition org with Einstein Analyt

[2019-04-12 16:52] reidaelliott commented on #78
Could you narrow down the package.xml to determine which metadata type is causing the problem.  We've done a lot with WaveTemplateBundle.  I'm guessing one of the other types is causing this.

[2019-04-12 17:37] tnoonan-salesforce commented on #48
How did you create the type "md"? Are you creating a custom object and renaming object-meta.xml to md-meta.xml?

Do you have steps to create this object in the lighting UI? That would help greatly.

[2019-04-12 17:44] eshafferpdx commented on #49
Thank you, I have installed node using the referenced README.md.

On Mon, Apr 8, 2019 at 11:13 AM tnoonan-salesforce <notifications@github.com>
wrote:

[2019-04-12 17:46] tnoonan-salesforce commented on #49
Did switching to nvm solve your problem?

[2019-04-12 17:47] eshafferpdx commented on #49
As a new user of the tool and since I am not a developer I cannot yet say
if it has done so.

On Fri, Apr 12, 2019 at 10:46 AM tnoonan-salesforce <
notifications@github.com> wrote:

[2019-04-12 18:19] cnaccio commented on #48
It was actually due to creating a custom metadata type.
Charles Naccio
*Founder*
p:(855) 550-0606
m:(214) 305-8684
w:www.billable.io

On Fri, Apr 12, 2019 at 12:37 PM tnoonan-salesforce <
notifications@github.com> wrote:

[2019-04-12 18:28] smukov commented on #78
Good thinking @reidaelliott. However, it turns out that `WaveTemplateBundle` is actually causing the issue.

If I comment out `WaveTemplateBundle` and leave everything else, the retrieve passes without an error. Also, If I comment out everything else and just leave `WaveTemplateBundle` in the package.xml, I get the same error as originally reported.

The interesting thing is that it still manages

[2019-04-12 18:45] tnoonan-salesforce commented on #48
So if I create custom metadata type in Lightning:

<img width="1218" alt="Screen Shot 2019-04-12 at 12 38 26 PM" src="https://user-images.githubusercontent.com/17011757/56059111-91ebd800-5d20-11e9-8769-ae57d642abad.png">

And pull the source I get a custom object that does not have an md extension. It's (object-meta.xml).

<img width="933" alt="Screen Shot 2019-04-12 at 12 42 28 PM" src="https://u

[2019-04-12 21:07] Kevmo92 commented on #48
@tnoonan-salesforce Thanks for the information! I believe our source code has `.md-meta.xml` files due to our source being converted from a mdapi format into the new sfdx source format.

I went through creating a new custom metadata type in a scratch org and it is creating mdt files like you've shown. However, this only solves the issue for new custom metadata files though 🙁
At least, I don't thin

[2019-04-12 21:14] tnoonan-salesforce commented on #48
Awesome ok we are getting somewhere. Can you describe how you did the source convert?

When we do a source:pull it runs the exact same source convert behind the scenes.

I don't disagree with on .forceignore. but it's important to know how this scenario evolved.

[2019-04-13 23:33] alan-morey opened #79 "Different help results for `plugins -h` vs `plugins --help`"
### Summary

When executing `sfdx plugins` command with the help flag, the output differs depending on whether I use the short flag `-h` vs the long flag `--help`.

### Steps To Reproduce:
[code]

### Expected result

The output produced by `plugins -h` should be the same as `plugins --help`, I should not be surprised by different results for using the short flag vs long flag.

[code]

### Actual

[2019-04-14 11:54] rsoesemann commented on #75
I was unable to reproduce this the next day.

[2019-04-14 11:54] #75 closed, assigned to nobody

[2019-04-14 20:09] cnaccio commented on #48
We had the issue even without converting. Our metadata files are stored
with *.md-meta.xml extensions and the **.md pattern in our .forceignore
matches this file name. Removing it solved the issue.

On Fri, Apr 12, 2019 at 4:14 PM tnoonan-salesforce <notifications@github.com>
wrote:

[2019-04-15 10:20] koenwesselman commented on #31
@clairebianchi , I'm running into this issue as well - is this on the Known Issues website so I can follow updates on it? I've had a look myself, but couldn't find it under Salesforce DX issues.

[2019-04-15 18:48] nramyasri-sf commented on #44
@LaszloFoldi , I see you are on an older version of sfdx(6.x.x). Could you please update to a newer version(7+) and let me know if you still encounter the same error.Thanks!

[2019-04-16 13:08] laszlo-foldi-attentioncrm commented on #44
@nramyasri-sf
I did it. Here is my new version info:

The results are exactly the same as in the original report.

[2019-04-17 21:18] nramyasri-sf commented on #48
@Kevmo92 , @cnaccio , this looks like a generic issue and not just related to metadata files.  I am working on it and will update as soon as I am able to fix it. Thanks!

[2019-04-17 23:40] cnaccio commented on #48
Awesome thanks!

On Wed, Apr 17, 2019 at 4:18 PM nramyasri-sf <notifications@github.com>
wrote:

--
Charles Naccio
*Founder*
p:(855) 550-0606
m:(214) 305-8684
w:www.billable.io

[2019-04-18 13:11] Kevmo92 commented on #48
@nramyasri-sf Thank you!

[2019-04-18 15:57] smartintruesdell commented on #42
I ran into this same error:

When deploying using the ANT tool when I switched up my package.xml version from 43.0 to 45.0.

My deployment did not include changes to Profiles, Apps, or anything that seems like it should have caused the problem.

Going back to 43.0 allowed me to deploy normally.

[2019-04-18 22:18] reidaelliott commented on #78
I have reproduced the problem as well.  Will report back when we have a solution.  Thanks

[2019-04-19 00:23] nramyasri-sf commented on #48
Meanwhile as a workaround, please add : !**.md-meta.xml  to your .forceignore file.

[2019-04-19 13:56] manujCLI opened #80 "Self reference data export"
### Summary

I am trying to export data of record which has self reference(lookup), Is it possible to do using sfdx force:data:tree:export command?

Here is a sample command used.
sfdx force:data:tree:export -p -q "select id,Name,test__Object_Type__c,test__Rule_Json__c,test__Enabled__c,External_Id__c,test__Parent_Record_Id__c,test__Rule_Priority__c,(select id,Name,test__Object_Type__c,test__Rule_J

[2019-04-19 17:40] clairebianchi commented on #52
@fedegiust does the path you are providing have space in it? If yes put quotes around the path. If this does not work, @ntotten this might be a bug on project:create

[2019-04-19 17:49] clairebianchi commented on #64
@mattparlane I have not seen this issue before and we have large orgs on SFDX. Would you mind posting your question to the Trailblazer DX Community (https://success.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F93A000000HTp1) There are lots of users who may be able to help? If you still experience the problem, we can reopen this issue

[2019-04-19 17:49] #64 closed, assigned to nobody

[2019-04-19 17:53] clairebianchi commented on #67
@gbutt can you please upgrade to the most recent version of the CLI? We just updated to V7

[2019-04-19 17:58] clairebianchi commented on #68
@k010c1232, can you check the permissions? are you using SUDO? I think your user that is logged into CLI does not have permissions. See: https://npm.community/t/global-installs-sudo-npm-i-g-fail-on-mac-after-6-5-upgrade-works-fine-after-6-4-1-downgrade/4082

[2019-04-19 17:58] #68 closed, assigned to nobody

[2019-04-19 18:42] clairebianchi commented on #55
@kfidelak94 can you take a look at this issue

[2019-04-19 18:42] #55 closed, assigned to nobody

[2019-04-19 18:46] clairebianchi commented on #56
@sfdc-db-gmail Please take a look, packaging feedback.

[2019-04-19 18:46] #56 closed, assigned to nobody

[2019-04-19 18:47] clairebianchi commented on #66
@sfdc-db-gmail, a feature request for the Packaging team

[2019-04-19 18:47] #66 closed, assigned to nobody

[2019-04-19 18:49] #6 closed, assigned to nobody

[2019-04-19 18:50] #7 closed, assigned to nobody

[2019-04-19 18:55] clairebianchi commented on #18
@willcobbett We are still working with the server team to make improvements on performance. We made some updates recently on the client side that should have helped. When you get the chance would you let me know if you are seeing faster retrieve times on the most recent version of the CLI?

I am closing this issue, but know that we are actively looking for more ways to improve preference

[2019-04-19 18:55] #18 closed, assigned to nobody

[2019-04-19 18:57] #20 closed, assigned to nobody

[2019-04-19 19:03] clairebianchi commented on #21
Now that the CLI has been upgraded to OCLIF (V7 of SFDX) you should see performance gains especially on commands that are run only on the client. Please let me know if you are still experiencing increased times on Windows. I am going to close this issue, but we are still working on performance on an ongoing basis.

[2019-04-19 19:03] #21 closed, assigned to nobody

[2019-04-19 19:04] #22 closed, assigned to nobody

[2019-04-19 19:09] clairebianchi commented on #23
@davidmreed a few updates we have updated the CLI to V7 and you should see performance improvements on commands, especially those only run on the client.

For org:list, in particular, we have introduced a new command auth:list ([see the command reference guide here](https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_auth.htm)). This com

[2019-04-19 19:09] #23 closed, assigned to nobody

[2019-04-19 19:11] #28 closed, assigned to nobody

[2019-04-19 19:12] #30 closed, assigned to nobody

[2019-04-19 19:13] #32 closed, assigned to nobody

[2019-04-19 19:17] clairebianchi commented on #41
No, we have not gotten to this bug yet.

[2019-04-19 19:20] #42 closed, assigned to nobody

[2019-04-19 19:27] clairebianchi commented on #69
@kfidelak94 can you please take a look at this? Looks like an issue with Settings.

[2019-04-19 23:37] Droberts359 commented on #31
Any luck on this? I'm running into this issue as well.

[2019-04-20 23:33] shetzel commented on #31
@koenwesselman @Droberts359
I'm not able to reproduce this problem with the lwc source from the repo mentioned above so I believe this has been fixed with a recent patch.  I would make sure you are on the latest CLI (7.4.0) and using all the core plugins.  I.e., running `sfdx plugins --core` displays "(core)" after the salesforcedx and salesforce-alm plugins.

[2019-04-22 16:56] Alex-Dinu opened #82 "ERROR running force:project:create: Cannot read property 'create' of undefined"
I'm trying to create an sfdx project using the cli and I get the following error:

C:\Dev\sfdx>sfdx force:project:create --projectname proj1
ERROR running force:project:create:  Cannot read property 'create' of undefined

Also when trying through the command:

Starting SFDX: Create Project

11:53:46.980 sfdx force:project:create --projectname proj2 --outputdir c:\Dev\sfdx
ERROR running force:proje

[2019-04-22 17:38] Alex-Dinu commented on #82
I also re-installed VS Code and the SF Ext Pack

[2019-04-22 19:37] rbergman commented on #44
@LaszloFoldi If you ran `sfdx update` to get v7, that's not enough to fix this issue.  Unless you have already, can you download and run a [fresh v7 installer](https://developer.salesforce.com/media/salesforce-cli/sfdx-windows-amd64.exe) and try again?

[2019-04-22 20:40] ImJohnMDaniel opened #81 "force:apex:test:run in JWT context seems to rely on the jwtkeyfile always being present"
### Summary

force:apex:test:run command fails when using JWT connection and the jwtkeyfile file is missing from project folder

### Steps To Reproduce:

- Have jwtKeyFile at project root
- Authenticate to Dev Hub via JWT auth and make it defaultDevHub at least within the context of current SFDX project.
- Execute a scratch org creation
  - `force:org:create --definitionfile config/project-scratch

[2019-04-22 23:39] ImJohnMDaniel commented on #81
The error message that I get is the following:
[code]

[2019-04-23 01:07] ImJohnMDaniel commented on #81
Other commands that are affected by this are:
- force:source:status
- force:source:pull
- force:source:push (yes, I listed above that it worked and it did, but now it doesn't work)

[2019-04-23 01:12] ImJohnMDaniel commented on #81
Is this an issue where the jwt connection works for a while and then the CLI needs to send a refreshtoken request and when that request occurs, it needs the jwtkeyfile to make that refresh request?  Is there a way to observe this?  Does this suggest that the connected app on Salesforce is not configured correctly?

[2019-04-23 06:12] koenwesselman commented on #31
Hi @shetzel , after reading your comment I updated to 7.4.0-99233fd3af and checked the plugins for core:
**sfdx plugins --core**
@oclif/plugin-commands 1.2.2 (core)
@oclif/plugin-help 2.1.6 (core)
@oclif/plugin-not-found 1.2.2 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/

[2019-04-23 14:56] shetzel commented on #81
This is working as designed.  Calling Salesforce APIs requires an access token.  Access tokens are valid for a certain amount of time before they expire.  In the case of JWT auth there are no refresh tokens.  When the access token expires, the CLI will use the persisted auth data to get a new, valid access token and update the local auth data so that API calls will succeed.
For CI, you can use an

[2019-04-23 15:02] ImJohnMDaniel commented on #81
@shetzel thanks for the update.  That may be that it is working as designed, but it breaks the use case that I mentioned above about the "....Jenkins CI processes on SFDX projects" and that Salesforce recommends that the management of the jwtKeyFile on Jenkins is to store it in the "Jenkins Admin Credentials interface." (see documentation [here, section 2b](https://developer.salesforce.com/docs/at

[2019-04-23 16:54] shetzel commented on #31
@koenwesselman - If you have source the reproduces the error that you can share I'd be happy to track down the problem.  You can also try appending `--dev-debug` when running the command and maybe that will provide some helpful info.

[2019-04-23 20:08] clairebianchi commented on #81
Sounds like there might still be an issue if you were able to run some commands and not others. Also maybe the documentation on Jenkins is wrong the way we are suggesting you set up isn't correct. @shetzel could you shed some light on why the other commands worked but test:run failed?

[2019-04-23 20:33] clairebianchi commented on #70
What authentication method are you using? seems like maybe the username you used does not have permissions.

[2019-04-23 20:39] clairebianchi commented on #77
@ntotten, this looks like an error on the apex:execute command. Can you take a look

[2019-04-23 20:42] clairebianchi commented on #79
Thank you for the feedback, we have this on our backlog to fix. I'll close this bug once it is done

[2019-04-23 20:59] #69 closed, assigned to nobody

[2019-04-23 21:02] clairebianchi commented on #49
@eshafferpdx are you still facing this issue?

[2019-04-23 21:04] a-db commented on #52
I'm having this problem as well and there are no spaces in the path.

ERROR running force:project:create:  No data, empty input at 1:1 in ../../../../package.json
...
ended with exit code 1

osx: 10.13.6
sfdx: 7.4.0
vscode: 1.33.1

[2019-04-23 21:09] shetzel commented on #81
Commands will work as long as the token is valid or if the command doesn't make an API call, such as `force:alias:list`.  When the token expires and you run a command that makes an API call, it will fail during auth.

As for Jenkins, we had a similar issue but it was resolved by wrapping all the steps inside a withCredentials block in order to guarantee that the location Jenkins creates to store t

[2019-04-23 21:11] clairebianchi commented on #82
@Alex-Dinu we are unable to reproduce this issue. Are you possibly using Cygwin or Min-GW? Here is some documentation on some limitations in DX as it pertains to Windows machines: https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_considerations.htm

[2019-04-23 21:11] #82 closed, assigned to nobody

[2019-04-23 23:04] eshafferpdx commented on #49
@clairebianchi thank you for the follow up on this. I have installed in new Ubuntu 19.04 VM using the previous steps with the addition of nvm by @tnoonan-salesforce just before installation of sfdx-cli.
1. Install VSCode .deb in terminal from Linux install section https://code.visualstudio.com/docs/setup/linux
2. Install nvm from https://github.com/creationix/nvm/blob/master/README.md
3. Install s

[2019-04-24 00:34] a-db commented on #52
If it helps anyone else, I was able to resolve my issue by deleting the package.json file in my root user directory. This must have there from older versions of the dx tools.

[2019-04-24 00:45] ImJohnMDaniel commented on #81
@shetzel - the `force:apex:test:run` command is in a different stage.  I did wrap that command with the `withCredentials` block.  That did not help.  Still got the same error.  I **did not** wrap the `force:source:push` with the `withCredentials` block and that part worked just fine again.

I am not certain how wrapping the `force:apex:test:run` command in a `withCredentials` block would do.  The

[2019-04-24 08:33] laszlo-foldi-attentioncrm commented on #44
@rbergman I just did a clean install, and I still get this error.

[2019-04-24 14:57] koenwesselman commented on #31
Hi @shetzel , I'd prefer not to share the actual source if possible - it's something I'm working on for a client. Hopefully the debug info is helpful?: https://pastebin.com/QUfz5ijh

[2019-04-24 15:41] shetzel commented on #31
From your debug info I saw that you were on a Windows OS and I was able to reproduce it on Windows.  This is an OS specific file path separator issue.  I'll fix it and put it in the next patch (not tomorrow's patch but the following Thursday).  Thanks for the debug info and sorry about the inconvenience.

As a workaround you can try using the `force:source:retrieve` command, which converts the sou

[2019-04-24 15:44] koenwesselman commented on #31
@shetzel , that's great - thanks very much! The retrieve command does indeed work fine, and converting FROM source to metadata api format works fine as well. :-)

[2019-04-24 17:03] ntotten commented on #77
Yup, this looks like a bug. I added this to our backlog.

[2019-04-24 17:29] shetzel commented on #31
Actually this was not a Windows path issue; the fix was in the next major release but was not merged to the patch release branch.  You should see this working in 45.13.0 of salesforcedx, which will be available next week Thursday, 5/2.  Thanks for your patience!

[2019-04-24 17:45] shetzel commented on #81
As long as everything is wrapped in the same `withCredentials` it should work.  The auth files that are written during `force:auth:jwt:grant` and `force:org:create` reference the temporary location of the jwt file.  That location should be there as long as the stages are executing within the same `withCredentials` scope, so the behind the scenes re-auth should work.  Here is a sample Jenkinsfile f

[2019-04-24 18:49] alan-morey commented on #7
@clairebianchi Is this fixed? Or just closed because it is being tracked internally?

It would be nice if issues closed in GitHub could reference the fix version where applicable :)

[2019-04-25 11:58] benahm commented on #55
Hi, this is still not solved, even with the latest version of the Salesforce CLI

[2019-04-25 14:15] ImJohnMDaniel commented on #81
@shetzel -- a couple of questions:

- Have you had any success using that approach with the [pipeline -> stages -> stage syntax?](https://jenkins.io/doc/book/pipeline/syntax/).  The tests that I have run thus far prevent the `withCrendentials` block from wrapping the `pipeline` block as `pipeline` has to be top tier.
- Why does the CLI need to connect to the DevHub in the JWT Auth Flow for each co

[2019-04-25 15:29] kfidelak94 commented on #55
@benahm We are tracking this issue internally through our Metadata API team rather than the CLI team.  The internal work item, for reference, is W-5982601.  We are hoping to address this in an upcoming sprint.  I'll work to get a Known Issue created so it can be tracked externally through that as well.

[2019-04-25 20:24] ImJohnMDaniel commented on #81
@shetzel -- additional question would be:
- Why is it that the `force:apex:test:run` command fails when the jwtKeyFile is not present but the `force:source:push` command works.  Both make API calls but only to the scratch org; not the Dev Hub

[2019-04-25 20:26] DavinCasey commented on #3
Hey @dcarroll have you guys had a chance to look into this one yet?

[2019-04-25 21:16] shetzel commented on #81
re: jenkins - Seems like you're using the newer, declarative method, and it appears that the withCredentials plugin has issues with that method.  I don't have any experience with it so doubt I'll be much help there.

The CLI doesn't need to connect to the DevHub for each command.  The auth for the scratch org uses the same flow as for the devhub, as opposed to the auth code from the scratch org si

[2019-04-25 22:08] ImJohnMDaniel commented on #81
@shetzel -- That is strange.

I see now that, if you have a devhubdefault connection that was setup via JWT, then any scratch org created by that connection will also have a JWT File reference -- accessToken and privateKey.  If you have a devhubdefault connection that was setup via the Web Flow, the scratch org created has a accessToken/refreshToken setup in its definition file in the `~/.sfdx/tes

[2019-04-26 16:08] shetzel commented on #81
The decision predates me but I believe it was done that way for customer convenience.  I reproduced the issue you're seeing and entered a bug for us to track internally.  I would try working around the issue from the Jenkins side of things until the fix is released.

[2019-04-26 16:48] ImJohnMDaniel commented on #81
@shetzel -- I mentioned to @clairebianchi that I have a Salesforce support ticket active on this issue.  It is case number 22563597.

[2019-04-26 17:34] ImJohnMDaniel commented on #81
@shetzel -- you mentioned that it would be "....done that way for customer convenience", but you are not certain.  I hear ya.  Personally, I cannot, at the moment, think of a use case where having the scratch org authenticate via JWT would be helpful at all, but as you point out, there may be a reason.  If there is such a reason, I would love to know what that is.

My current hunch is that it is c

[2019-04-26 18:31] #67 closed, assigned to nobody

[2019-04-26 18:31] #63 closed, assigned to nobody

[2019-04-26 19:31] #52 closed, assigned to nobody

[2019-04-28 19:50] ImJohnMDaniel opened #83 "Add "-r, --noprompt" flag to sfdx plugins:install command"
**Is your feature request related to a problem? Please describe.**
If I setup a Jenkins CI build and specify the "sfdx" as a custom tool, I would also want to install custom plugins that I have created to aid in the build process.  Currently, there is no way to execute `sfdx plugins:install foo-bar` without confirming the plugin installation since it is not digitally signed.  Because of this, I ca

[2019-04-29 15:11] reidaelliott commented on #78
Fix has been put in place and I believe it will roll out this week.  thanks for making us aware of this.

[2019-04-29 18:34] joshua-nicholson commented on #94
@ntotten and @JimSuplizio,  I am having this same issue attempting to do `force:source:retrieve` using the command `sfdx force:source:retrieve --manifest assets/package.xml --targetusername DevHub --wait 10 --loglevel debug`. I encountered this when working through the 'Create a Salesforce DX Project' module of the 'Develop an App with Salesforce CLI and Source Control' trail.

I am also on Mac OS

[2019-04-29 23:10] kfidelak94 commented on #55
@benahm  Here is the Known Issue for your reference, and to track progress from.  https://success.salesforce.com/issues_view?id=a1p3A000001SGUYQA4

[2019-04-30 17:42] chandra2ravi opened #84 "LWC files mdapi convert not working"
### Summary
I want to convert my scratch org development move to the sandbox and converting to metadata and not working.
LWC files mdapi convert not working

### Steps To Reproduce:

1.  This is step 1. sfdx force:mdapi:convert -r source -d meta
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actual

[2019-04-30 20:32] clairebianchi commented on #71
@idanblich Can you please update your CLI version, this issue should go away.

[2019-04-30 20:32] #71 closed, assigned to nobody

[2019-04-30 20:49] #70 closed, assigned to nobody

[2019-05-01 13:13] idanblich commented on #71
I update my cli  : ``sfdx-cli/7.5.0-e6ca93eee8 darwin-x64 node-v10.15.3``
Preform new auth with sandbox org and still getting error : ``ERROR running force:org:open:  No AuthInfo found for name xx.yy``

[2019-05-01 14:51] shetzel commented on #71
@clairebianchi @idanblich - We fixed the ability to set an alias that contains a dot, but there is still a bug with certain commands when consuming these aliases.

[2019-05-01 17:12] vijaykumar8448 commented on #42
@clairebianchi  is there any ETA to fix this issue or is it still in TBD ?

[2019-05-01 21:03] praksb commented on #84
@chandra2ravi Can you please try updating to the latest CLI version v45.12.1 and see if it still repros?

[2019-05-02 12:19] jefersonchaves commented on #28
Is there any update when this might get fixed? Seems this is related to [this](https://help.salesforce.com/articleView?id=000232550&type=1) which is a really bad workaround.

[2019-05-02 16:29] chandra2ravi commented on #84
I updated CLI but still same issues
![image](https://user-images.githubusercontent.com/93057/57090920-95460400-6ccd-11e9-8ce5-5bf5c246f2a0.png)

[2019-05-02 18:22] praksb commented on #84
@forcedotcom/platform-cli can you take a look?

[2019-05-03 04:11] mubeen-qawi commented on #74
+1
This is kind of annoying, and surprising since others projects connected to separate instances works seamless. the sfdc-project.json has pretty same configuration in terms of path, and other parameters.

[2019-05-03 15:40] tnoonan-salesforce commented on #49
Ok good news. Closing.

[2019-05-03 15:40] #49 closed, assigned to nobody

[2019-05-06 07:57] batyrch commented on #74
I am going through the same issue.

[2019-05-06 08:40] oriolete commented on #31
Hi @shetzel,

this is not fixed I'm on 45.13.0 in Mac and still not working:

$ sfdx force:mdapi:convert -r ../src -d force-app
ERROR running force:mdapi:convert:  An error was encountered processing path: ../src/lwc/myLWComponent/myLWComponent.html

Thnaks in advance!!!

[2019-05-07 07:41] oriolete opened #85 "sfdx force:mdapi:convert return error with LWC"
Hi ,

I found this error every time I run this command:

$ sfdx force:mdapi:convert -r ../src -d force-app
ERROR running force:mdapi:convert: An error was encountered processing path: ../src/lwc/myLWComponent/myLWComponent.html

Thnaks in advance!!!

**SFDX CLI Version**(to find the version of the CLI engine run sfdx --version):
sfdx-cli/7.5.0-e6ca93eee8 darwin-x64 node-v10.15.3

**SFDX plugin Ver

[2019-05-07 16:17] keirbowden opened #86 "sfdx force --version not working"
### Summary

`sfdx force --version` is documented in the [SalesforceDX Developer's Guide](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_troubleshoot_cli_version.htm?search_text=force%20--version) as the mechanism to get CLI Version Information.

### Steps To Reproduce:

1.  Install the latest CLI and force plugin.
1.  Execute `sfdx force --version`

### Expected

[2019-05-08 08:19] q-jack commented on #47
any news here? I have the same problem

[2019-05-09 14:30] maaaaarco opened #87 "Add option to force:source:retrieve to exclude Managed Package's components"
I'd like to have an option on the force:source:retrieve command that allows me to include/excludes Managed Pakage's components automatically. For example, in case I installed a Managed Package that adds some fields on the Account object, when running this command
`sfdx force:source:retrieve -m CustomObject:Account`
I'll also retrieve all the fields created by the Managed Package.

**Describe the s

[2019-05-10 11:09] brianedwardsaunders commented on #10
This is not a solution.

[2019-05-11 00:08] ImJohnMDaniel opened #88 "Question: Expected behavior with two CustomLabel files in project"
Question about expected behavior when a project has two CustomLabels.labels-meta.xml files anywhere in the project's packageDirectories.path

I have a project that has two CustomLabels.labels-meta.xml files; one comes from a framework that we have copied into the project area.  The second comes from the true project folders themselves (outside of the copied framework).  The behavior suggests that

[2019-05-12 22:04] abychat commented on #10
Hi @clairebianchi this is not working for public reports either. I saved a report in the ootb public reports folder and I couldn't retrieve anything.

[2019-05-13 17:00] SCWells72 opened #89 "Receiving "The 'path' argument must be of type string. Received type object" during force:source:deploy/retrieve"
The full thread of discussion is available here for context:

https://success.salesforce.com/0D53A00004MMUPU

but the short version is that on May 10, 2019, I suddenly started to receive this error when deploying/retrieving metadata against my DE org using `force:source:deploy/retrieve`:

[code]

If you scroll to the bottom of that thread, I confirmed that the problem occurs against this org via t

[2019-05-14 05:18] ChuckJonas opened #97 ""Retrieve Source From Org" doesn't update originating source file"
### Summary

"Retrieve Source From Org" doesn't update originating source file when run from a single file outside the default directory.

It works as expected when refreshed from manifest.

### Steps To Reproduce:

1. `> create project with manifest`
1.  attach to some sandbox with apex code
1.  clear everything but apex classes from package.xml
1.  Right click on manifest, `> retrieve source fro

[2019-05-14 12:49] reda-benhemmouche opened #90 "Cannot retrieve reports and Dashboards via sfdx force:source:retrieve"
### Summary

Trying to retrieve  Reports and dashboards from a Dev Sandbox (i.e., non Scratch org) with the command

[code]

gives no results returned, when there are a lot of reports and dashboards in the Sandbox.

### Steps To Reproduce:

1.  Connect a non-Scratch org which contains reports
1.  Run `sfdx force:source:retrieve -m Report`
1. Run `sfdx force:source:retrieve -m Dashboard`

### Expec

[2019-05-14 12:52] dstewart-nxstage opened #91 "Create Project error, Lightning Web Comp' "--template standard ended with exit code 1""
### Summary

_Working on 'Create a Hello World Lightning Web Component' module, the Create Project errors out w/o a clear (to me) message_.

I just set up VSCode (again?  can't recall) in preparation for TrailheaDX'19, installed the extensions, and created a fresh SalesforceDX directory.  Create Project fails as follows:

08:42:03.719 sfdx force:project:create --projectname HelloWorldLightningWebC

[2019-05-14 13:32] koenwesselman commented on #31
@shetzel , this isn't working for me yet either I'm afraid! :-( I'm on version 7.5.0-e6ca93eee8. Here's a new debug info link: https://pastebin.com/i40Y5bUM

[2019-05-14 15:07] oriolete commented on #31
Hi @koenwesselman,
update your cli to 7.6.0-28071a499b, this worked for me.
Best regards

[2019-05-14 15:08] oriolete commented on #85
After update to 7.6.0-28071a499b this issue was solved.

Thanks

[2019-05-14 15:08] #85 closed, assigned to nobody

[2019-05-15 05:50] koenwesselman commented on #31
I might be missing something, but I'm on the latest version as far as I know:
`sfdx-cli: Updating CLI... already on latest version: 7.5.0-e6ca93eee8`

Could be there's separate version numbering for Windows & Mac? :-)

[2019-05-15 06:09] simranrsaluja opened #96 "unable to connect vs code to developer org"
whenever i try to authorize an org, getting this error

Starting SFDX: Authorize an Org

16:12:59.385 sfdx force:auth:web:login --setalias mydev --instanceurl https://login.salesforce.com --setdefaultusername
{ Error: spawn cmd ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:240:19)
    at onErrorNT (internal/child_process.js:415:16)
    at process._tickCallback (inter

[2019-05-15 09:06] oriolete commented on #31
@koenwesselman I don't know but in Mac OS and int https://www.npmjs.com/package/sfdx-cli figures 7.6.0

[2019-05-15 11:12] idanblich commented on #71
@clairebianchi Please reopen this

[2019-05-15 14:25] SethMagner opened #92 "Facing issues with deploying the components from the source to the org."
21:21:35.906 sfdx force:source:deploy --sourcepath c:\ISODEV1Local\force-app\main\default\aura\GPS_COMP_MemberSearchResultsContainer\GPS_COMP_MemberSearchResultsContainerHelper.js --json --loglevel fatal ended with exit code 1

When tried to run the sfdx command, we are getting the below error. This seems to be happening across all developers. When researched online there were posts to delete the

[2019-05-15 15:44] berrymd commented on #108
I am experiencing this issue as well and have found something that may work as a workaround.

When switching from command line sfdx to running it through VS Code, if you first run
SFDX: View Local Changes
while it will list all local files as a pending change, it will also update the casing in sourcePathInfos.json so that subsequent source related commands detect only items that have actually chan

[2019-05-15 18:52] Szandor72 commented on #108
Awesome tip! Will try

On Wed, 15 May 2019, 17:44 berrymd, <notifications@github.com> wrote:

[2019-05-16 16:12] hadesproject10 commented on #38
This same error is happening in Windows 10, someone knows what can be done to solve it.

[2019-05-17 15:05] ntotten commented on #38
@hadesproject10 This actually was fixed a while ago, we forgot to close the bug. I think you are running and older version of sfdx. Please run `sfdx update`.

[2019-05-17 15:05] #38 closed, assigned to nobody

[2019-05-19 07:35] userAyaan commented on #94
@joshua-nicholson @ntotten @JimSuplizio @JorneVL @flores95
In your sfdx-project.json add this entry

`"packageDirectories": [{
       "path": "force-app",
       "default": true
}]`
This resolved my problem.
if you are not using force-app as the directory ( such as src) use the path of that directory.

[2019-05-20 15:33] enreeco commented on #90
I have the same problem in a sandbox org. I succesfully can run:
`sfdx force:source:retrieve -m Type:Name`
but no luck with
`sfdx force:source:retrieve -m Type`
or:
`sfdx force:source:retrieve -x path/package.xml`
Sandbox API level is 45.0

I also tried with a summer 19 org and still some types are not retrieved at all

[2019-05-20 19:09] clairebianchi commented on #92
This bug has been added to our internal backlog. I will update again when it is fixed.

[2019-05-21 20:47] clairebianchi commented on #86
@keirbowden the command is sfdx --version to get the CLI version and sfdx plugins --core for the SFDX plugin version.

That third command is not necessary. I will have it removed from the documentation

[2019-05-21 20:54] clairebianchi commented on #90
@reda-benhemmouche can you check to see if your reports and dashboards are visible to others. when you create reports and dashboards they are automatically set to private and can't be retrieved.

[2019-05-21 20:54] #90 closed, assigned to nobody

[2019-05-21 20:55] clairebianchi commented on #91
@ntotten can you take a look at this one.

[2019-05-21 20:58] clairebianchi commented on #92
@SethMagner can you send us the version of the CLI you are on? please run the following commands:

sfdx --version
sfdx plugins --core

[2019-05-21 22:10] clairebianchi commented on #89
@SCWells72 I have added this to our backlog, we are a bit overwhelmed by stuff at the moment but someone will look at this next month.

[2019-05-21 22:16] clairebianchi commented on #80
@manujCLI the best place to find answers to questions like these is the Salesforce DX Trailblazer community https://success.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F93A000000HTp1

[2019-05-21 22:16] #80 closed, assigned to nobody

[2019-05-21 22:18] clairebianchi commented on #87
@maaaaarco do you want this to work as a blanket exclusion of all managed package components or can you forsee ever wanting to pick and choose components to exclude?

[2019-05-21 22:20] #86 closed, assigned to nobody

[2019-05-21 22:23] SCWells72 commented on #89
@clairebianchi I can only imagine what the past several days have been like for you guys, and with TDX19 next week, I don't see any down-time in your near future! I've worked around this successfully by creating another DE org. Address then whenever you all come up for air. Good luck!

[2019-05-22 03:44] MGarfOppLoans commented on #31
getting the same issue even with it on the latest version.

sfdx-cli: Updating CLI... already on latest version: 7.5.0-e6ca93eee8

[2019-05-22 07:09] maaaaarco commented on #87
Mmmmm no at the moment I cannot forsee any reason why I might want to retrieve only some Managed components. In that case I might configure which components to exclude and which to include inside my `.forceignore` file.

[2019-05-22 10:39] iandextermaya commented on #74
Does anyone solve this issue?

[2019-05-22 22:01] rickschmidt opened #93 "Bulk upsert to TopicAssignment table does not work"
### Summary

force:data:bulk:upsert does not work for the TopicAssignment table. I've tested using workbench and other anon apex and can confirm my source data is good and permissions enabled.

### Steps To Reproduce:

1.  `sfdx force:data:bulk:upsert -s TopicAssignment -i Id -f ~/path/to/csv`

CSV Header:
TopicId, EntityId
0TO...,001...

### Expected result

The data load should complete with the

[2019-05-23 08:15] rendall commented on #94
Can confirm this bug still persists.

[code]

My `sfdx-project.json` file is
[code]

I suggest to admins not *closing* this, but leave it open with a *more information* tag. *Closed* implies that it's _fixed_ or a _no-fix_. Leaving it *open* allows users who encounter this problem to find it more easily and perhaps add information that you will find helpful.

[2019-05-23 08:29] rendall commented on #94
Running the command with the `--json` flag yields a bit more information.  Perhaps the devs would consider adding a helpful error about what file or resource is throwing the error.

[code]

[2019-05-23 08:40] rendall commented on #94
After further investigation, I was able to track the error in my case to a missing resource file. There was a `some-resource-meta.xml` file but no corresponding `some-resource` file.

Interesting, because this identical situation sometimes, inconsistently, throws another error:
[code]

I suggest the fix for this bug is ensuring that the error message for missing resource files is more consistent.

[2019-05-23 15:33] SethMagner commented on #92
Hi @clairebianchi not sure how to pull the version of cli, since the command will not work on systems that have the issue.  Our install is set to auto update, sfdx-cli/7.5.0-e6ca93eee8 win32-x64 node-v10.15.3

The plugins are also set to
H:\>sfdx plugins --core
@oclif/plugin-commands 1.2.2 (core)
@oclif/plugin-help 2.1.6 (core)
@oclif/plugin-not-found 1.2.2 (core)
@oclif/plugin-plugins 1.7.8 (core

[2019-05-23 15:41] SethMagner commented on #92
Along with this issue if you remove the client or bin folder, the sfdx command runs and can be udpated.  Though we see error when running the update, "(Node:15448) [Module_not_found] Error plugin: sfdx-cli:  cannot find module 'C:\Users\xxxxx\AppData\Local\sfdx\client\dist\hooks\lazyRequire.js' module: @oclif/config@1.12.11
task: runhook update

[2019-05-24 08:36] koenwesselman commented on #31
I was able to update to 7.8.1-8f830784cc this morning, in which the issue seems to be fixed. :-) Thanks @shetzel !

[2019-05-24 12:38] rajendrasnagar opened #95 "sfdx update issue"
### Summary
Unable to  update using sfdx command + create new lwc

### Steps To Reproduce:

1.  Run 'SFDX update' or 'sfdx force:lightning:component:create —type lwc -n helloWorld -d force-app/main/default/lwc'
2. You will face issue as attached.

### Expected result
1. SFDX should be updated or component should be created.

### Actual result
1. Error as attached.

### Additional information

_Fee

[2019-05-24 12:40] rajendrasnagar commented on #95
![image](https://user-images.githubusercontent.com/3901703/58328153-0ac96e00-7e4f-11e9-8e8f-43c001a47edb.png)

![image](https://user-images.githubusercontent.com/3901703/58328180-1b79e400-7e4f-11e9-8976-7480387653a6.png)

![image](https://user-images.githubusercontent.com/3901703/58328206-2b91c380-7e4f-11e9-9f25-ed3de88fa4b0.png)

[2019-05-24 13:23] rendall commented on #94
@JimSuplizio There have been some developments, here. We very likely solved this.

[2019-05-24 13:37] ntotten commented on #94
@rendall Thanks for the updates. This does indeed look like a bug on the CLI. I reopened the issue and moved it to the CLI repo.

[2019-05-26 14:21] Rasmus-Josefsen commented on #94
I am experiencing the same issue following the Lightning Web Components basic trailhead module. -
I am in the section 'Push and Deploy lightning Web Component Files' and after adding the files for bikeCard when I try to push to the org I get the error:
 ERROR running force:source:push:  The "path" argument must be of type string. Received
type undefined

[2019-05-26 21:17] rendall commented on #94
@Rasmus-Josefsen try looking through your static resources. See https://github.com/forcedotcom/cli/issues/94#issuecomment-495123248

[2019-05-27 10:23] jefersonchaves commented on #12
Hi @sfdc-db-gmail or @clairebianchi: is there anything else that I can assist?

[2019-05-27 17:02] steals commented on #94
I've just had the exact same error with the latest cli (7.8.1) `The "path" argument must be of type string. Received type undefined` that was caused by missing static resource folder (I've cleaned it up but forgot to delete the corresponding meta.xml file)

[2019-05-28 18:34] GregFinzer commented on #39
That path does not exist on my machine.

[2019-05-28 20:50] atsutton commented on #5
Thanks @gsbasso - the change to backslash fixed it for me.

[2019-05-29 13:56] VivekMChawla commented on #86
@clairebianchi it's a bit of a hassle to evangelists and instructors that this command was removed.

Telling someone to type `sfdx force --version` to see if they got the big "DX Cloud" in their terminal was one of the best ways to make sure that someone had properly installed the CLI on their local machine.

Even worse (for me) is that I've used this in workbooks and videos about how to use SFDX.

[2019-05-29 15:59] amphro commented on #86
That flag never actually did anything. Just do ‘sfdx force‘. If it is documented, that would be the bug.

[2019-05-29 16:01] amphro commented on #86
However I do see the bummer about it being in workshops and videos. A couple other customers brought this up, but said it was fine that they could just leave off the version. If you can update your workshops so it doesn't have the --version, that would be ideal. Otherwise, maybe we can consider putting it back

[2019-05-30 17:03] dangmai opened #113 "Metadata from Sandbox always retrieved with latest API version instead of following sourceApiVersion"
### Summary

Metadata Retrieval from a Sandbox always uses the latest API version (right now, 45.0) instead of using the `sourceApiVersion` specified in `sfdx-project.json`.

### Steps To Reproduce:

1.  Use an old API version in `sfdx-project.json`, for example:

[code]
1.  Authorize with a Sandbox

1.  Right click on a custom object in the `objects` directory, click `SFDX: Retrieve Source From O

[2019-05-30 21:06] dangmai opened #98 "lightning:lint --json does not print correct JSON to stdout"
### Summary

When I use the command `sfdx force:lightning:lint` with the flag `--json`, the result is not correct JSON.

### Steps To Reproduce:

1.  Run the following command:
[code]
1.  Here is a sample response that got printed to `stdout`:
[code]
This contains two separate JSON responses, but when put together it is not a correct singular JSON response.

### Expected result

I'd expect only th

[2019-05-30 21:08] SethMagner commented on #92
Hi @clairebianchi do we have any updates?

[2019-05-31 05:24] Julian88Tex commented on #31
@koenwesselman @jtomtran

Yup, I can confirm that 7.8.1-8f830784cc has the fix. Was getting it today until I just updated.

[2019-05-31 08:06] DavinCasey opened #99 "force:package:version:list should have a username parameter"
From https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_package.htm

**package:version:list**
Lists all package versions in the Dev Hub org.

This doesn't really make sense to me, as it doesn't seem to be all that useful for ISVs for two reasons:

- Firstly, our Dev. Hub. org may not ( / probably isn't) the same org as our packaging org

[2019-05-31 17:15] gonardfreeman opened #100 "force:source:convert ignores custom fields on custom settings and custom objects"
### Summary

Hi!
when converting source to mdapi format cli ignores custom fields at objects and at custom settings (as far as they are in the same folder).
### Steps To Reproduce:

1.  Create custom object
2.  Create custom field (in my case it was long text area with pretty long name `content_gate_object_settings__c`
3. execute `sfdx force:source:convert` (with or without specifying source and o

[2019-06-01 11:08] ImJohnMDaniel opened #101 "force:package:version:create should not require --package/--path flags when default specified"
### Summary

The `force:package:version:create` command requires that either the `--package` flag or the `--path` flag be specified.   The reason for this is obvious -- it allows the CLI to determine which of `packageDirectories` is the one to use for package version creation.

However, the [Salesforce DX Developer Guide -- "Project Configuration File for Packages" section](https://developer.sales

[2019-06-01 11:22] ImJohnMDaniel opened #102 "force:package:version:create:report command with --json flag returns array of statues"
### Summary

If you execute the `force:package:version:create:report` with the `--json` flag, the result will be something like the following.
[code]
The issue is that the `result` attribute is showing as a JSON Array and not a JSON Object.  The implication is that there can be multiple package version create processes.

This was originally reported in [January 2018 on the "Unlocked Packages and M

[2019-06-01 21:20] Rasmus-Josefsen commented on #94
@rendall In my static resources I have a folder named bike_assets and a file bike_assets.resource-meta.xml

This is the contents of the XML file:
<?xml version="1.0" encoding="UTF-8"?>
<StaticResource xmlns="http://soap.sforce.com/2006/04/metadata">
    <cacheControl>Private</cacheControl>
    <contentType>application/zip</contentType>
</StaticResource>

I am just starting out, so if you could ple

[2019-06-02 04:39] rendall commented on #94
I'm not an expert either,  but I think `bike_assets` should not be a folder, but a file. If it's a folder, something is wrong  and that might be the cause of your error.

[2019-06-02 15:51] ImJohnMDaniel commented on #102
It should be noted that the `force:package:version:create` command with the `--json` flag produces the same type of JSON object for the package version create process but the result attribute of the overall response in this command is simply the package version create process response JSON object and not a JSON array containing the package version create process response.

[code]

[2019-06-02 17:38] ImJohnMDaniel opened #103 "Add --wait flag to force:package:installed:list command"
**Is your feature request related to a problem? Please describe.**
I have series of CI jobs.  They execute the `force:package:installed:list` command as part of the process.  Periodically, they timeout and the CLI command currently has no way to extend that timeout

**What are you trying to do**
Execute the `force:package:installed:list` command in a manner that will extend timeout

**Describe the

[2019-06-03 19:45] ImJohnMDaniel opened #104 "Add "0Ho" package id to the force:package:installed:list command"
**Is your feature request related to a problem? Please describe.**
Most, if not all, of package related commands show packages as the "0Ho" second generation package id.  Based on comment from [Kevin Cripps of Salesforce, the "0Ho" id is the package id that is scoped to the DevHub](https://success.salesforce.com/0D53A00004Osn3t).  Some packages are third-party in nature and would not have an "0Ho"

[2019-06-04 06:42] douglascayers commented on #45
@shetzel For additional reference, I opened this [org62 chatter post](https://org62.lightning.force.com/lightning/r/0D50M00004LQtmFSAT/view) with @clairebianchi just before TDX19.

[2019-06-04 06:47] douglascayers commented on #97
Seems related to https://github.com/forcedotcom/cli/issues/45

[2019-06-04 08:50] Rasmus-Josefsen commented on #94
Thank for the advice Rendall.
I ended up solving it by reinstalling the repository and then I figured out that I had earlier not placed the files in the correct folder (bikeCard) which might have been what caused the issue.

[2019-06-04 08:56] mnunezdm opened #105 "Filtering Package Version List by Alias failingº"
### Summary

In Unix systems (I've tried in WSL ubuntu on windows 10 and dockerized ubuntu). When running listing all the available versions of some packages, filtering by a name, in some cases returns no results.

I've tried running this command in windows, with the same devhub, to filter for the same package and I get the desired results, also, in ubuntu filtering by package id, also returns res

[2019-06-04 16:23] dcarroll commented on #106
@allileong  What is the bug here? Is it that the CLI is reporting an error and returning a success code?

[2019-06-04 16:56] dcarroll commented on #94
I have seen this before and it is weird.  In my case, there was a .yo-rc.json file upstream in the path to my project and some dependent lib would look up the path and discover it and then the command would fail. The fact that the stack trace has "at Generator.next" hints and some yeoman generator code being invoked.

[2019-06-05 14:15] aheber commented on #88
I have oft wished I could break apart these iterative types of files. It gets very difficult to maintain thousands of custom labels in a single file, especially with different groups merging changes into it.

I have run into various instances where a given file is listed twice in a project among two different directories and I can confirm that DX simply accepts the first. I would generally prefer

[2019-06-05 16:44] clairebianchi commented on #94
@dcarroll Can you give us the steps you took to see the error originally?
@Rasmus-Josefsen sounds like you have gotten past the error, if not can you please try Dave's suggestion above?

[2019-06-05 16:48] clairebianchi commented on #95
@raJSN  we have had issues with the updater between V6 and V7 major versions of the CLI. It is best for you to uninstall the CLI, see: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_uninstall.htm
and the reinstall
Be warned you will have to reinstall any plugins you have, to get a list of your plugins run `sfdx plugins`

[2019-06-05 16:48] #95 closed, assigned to nobody

[2019-06-05 16:51] clairebianchi commented on #96
@simranrsaluja There might be an issue with your version of the CLI can you uninstall, using these directions: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_uninstall.htm
and then reinstall and see if you are still encountering the issue?

[2019-06-05 16:51] #96 closed, assigned to nobody

[2019-06-05 16:56] clairebianchi commented on #97
@ChuckJonas thank you for filing this, it is a bug. Currently, the CLI does not support multiple package directories in the same SFDX project which is related to the issue you are seeing. I have added this issue to our backlog and hope that we can address it sometime this summer.

[2019-06-05 16:59] clairebianchi commented on #98
Thank you for letting us know. I am informing the team that owns this product.

[2019-06-05 17:59] lcampos commented on #91
@dstewart-nxstage can you provide which version of the cli you are running and if you've installed additional cli plugins ? You can find that out by running `sfdx --version` and `sfdx plugins`

[2019-06-05 22:55] justgrumpy commented on #97
@clairebianchi, I don't believe your statement is entirely accurate. If you look at #45, the CLI **does** support multiple package directories, but not all parameters work the same. Behind the scenes the extension is using `force:source:retrieve` with the `--sourcepath SOURCEPATH` parameter. This is exactly the same issue as #45.

[2019-06-06 15:03] aheber opened #109 "force:source:push -- ERROR: Maximum size of request reached. Maximum size of request is 52428800 bytes"
### Summary

Trying to use `force:source:push` to delivery metadata and receiving an error that the request is too large.

### Steps To Reproduce:

Add a significant amount of metadata, most easily static resource files. Static resources have an individual max of 5MB so you'll need a few of them. The compressed total size should be > 40MB to be safe.

Try and deliver that metadata to an org using

[2019-06-06 15:11] allileong commented on #106
Hey @dcarroll, without setting up the CLI+vscode to reproduce, that looks to be the case. The CLI failed to set the defaultusername, but returned exit code 0

[2019-06-06 15:19] aheber opened #110 "force:source:deploy destroys the push state when used against a scratch org"
### Summary

When `force:source:deploy` is used against a scratch org sfdx loses context for what has been previously deployed because the command explicitly deletes the `.sfdx/orgs/{username}/sourcePathInfos.json` file. This causes all of the metadata to be pushed on the next deployment. Our full push takes >10 minutes and this can be a significant burden.

In #109 we have run into a hard limit f

[2019-06-06 15:22] aheber commented on #109
Recommendations for reducing the Static Resource footprint or using Unlocked Packages are being considered but still don't address the underlying limitation of the tooling.

I would expect to be able to hold the entire 200MB static resource org limit in my project and have the tooling still able to function.

[2019-06-06 16:05] dcarroll commented on #109
@aheber The limits are in place on the API, not the tooling as you pointed out in a previous comment.  The reality is we could allow you 200 GB in your org and some piece of the API or underlying protocols might hit some limit.  Having said that, some limits (not sure if the 40mb limit fits this) where somewhat arbitrary and mostly conservative.  To that end we have been on a journey over the last

[2019-06-06 16:17] ChuckJonas commented on #97
This example is only working with a single `PackageDirectory` but with with multiple "modules" paths inside that package directory.

If you actually follow the reproduction steps, this will be clear, as we do not modify the standard `sfdx-project.json`.

[code]

And this isn't supported, then whats the point of having the ridiculously long default structure of `/main/default/` if you can't work wi

[2019-06-06 16:40] aheber commented on #109
@dcarroll thanks for responding.

1 sounds pretty good but then moves the static resources out of the push tracked files. This would mean that any changes to the static resources (CSS changes the most often) would have to be "manually" tracked and pushed. Not the worst problem in the world.

My linked issue #110, brings to light another behavior of `source:deploy` that is problematic, it destroys

[2019-06-06 16:53] dcarroll commented on #109
I think #110 is a bug. You should be able to user `source:push`, `source:pull`, `source:deploy` and `source:retrieve` without mucking up the local or remote source tracking, I think.

[2019-06-07 12:45] jsullivanlive opened #112 "missing param "checkonly" for force:source:deploy --checkonly"
### Summary

The documentation at https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_build_mdapi_production.htm shows the command `sfdx force:source:deploy --checkonly --sourcepath force-app --targetusername production-org
--testlevel RunLocalTests` but it doesn't work in the latest version of the sfdx cli.

Further, this documentation page [ https://developer.salesf

[2019-06-07 13:37] bugude commented on #31
@shetzel  I still have the issue but with Aura folder.

SFDX CLI version -

$ sfdx --version
sfdx-cli/7.8.1-8f830784cc win32-x64 node-v10.15.3

Receiving error on aura
$ sfdx force:mdapi:convert --rootdir ./mdapipkg -d force-app
WARNING: apiVersion configuration overridden at "45.0"
ERROR running force:mdapi:convert:  An error was encountered processing path: <PATH>\SampleProject\mdapipkg\unpackag

[2019-06-07 15:32] shetzel commented on #112
@jsullivanlive - you are looking at the docs for the pre-release version of the CLI, not the current production release.  If you install the pre-release version, those new command parameters are there.  Alternatively, if you wait a week, a new major version of the salesforcedx plugin (46.0.1 is the likely version number) will be released and those command params will be available in production.

[2019-06-07 15:32] #112 closed, assigned to nobody

[2019-06-07 15:50] shetzel commented on #31
@bugude - Looks like you're doing nothing wrong.  Would you mind opening a new issue with the details from `sfdx plugins --core` and running the command again appending `--dev-debug`?  The stack trace it provides is very helpful.  Thanks!

[2019-06-07 19:04] bugude opened #114 "mdapi convert is failing while processing aura folder path"
### Summary

mdapi conversion of the retrieved package is failing.

I am in the process of extracting the metadata (via package.xml), convert into SFDX format.

I was able to retrieve the code via package.xml but encountering error at Aura folder during conversion.

### Steps To Reproduce:

1.  Authorize the Org
1.  Retrieve the metadata using package.xml
1.  unzip the extracted metadata
1.  execu

[2019-06-10 20:05] byjrack opened #115 "License for binary distributions?"
So I am just trying to connect the binary dists of sfdxcli to an open source work which has an OSI license.  After the install I see the BSD-3 in the path (though would be nice to see that on the Download page), but just trying to connect those products to a public repo if possible.  I see sdfx-core, but was not 100% cli was based solely on that repo.

[2019-06-11 19:57] drd0013 commented on #92
I just ran into this issue too. Any idea of a fix or workaround? (on mac)

[2019-06-11 20:00] drd0013 commented on #92
installing via npm seems to have worked, though I didn't remove any existing files before doing so. Hopefully I won't run into conflicts around that

[2019-06-12 10:23] aitiancai commented on #94
ERROR running force:source:retrieve:  The "path" argument must be of type string. Received type undefined
18:15:46.996 sfdx force:source:retrieve --manifest c:\soft\VSCode\poject\XinAn\manifest\package.xml ended with exit code 1

[2019-06-12 10:24] aitiancai commented on #94
I've just had the exact same error with the latest cli (7.8.1)

[2019-06-13 06:31] aitiancai opened #116 "sfdx force:source:retrieve --manifest xxx error"
Starting SFDX: Retrieve Source from Org

14:27:51.109 sfdx force:source:retrieve --manifest c:\soft\vs\poj\XinAn2\manifest\package.xml
ERROR running force:source:retrieve:  The "path" argument must be of type string. Received type undefined
14:28:25.667 sfdx force:source:retrieve --manifest c:\soft\vs\poj\XinAn2\manifest\package.xml ended with exit code 1

sfdx version
sfdx-cli/7.8.1-8f830784cc wi

[2019-06-13 18:04] NYGman98 opened #117 "Unable to deploy with package.xml"
I am unable to deploy to my salesforce sandbox using package.xml. This is how I am attempting to deploy to my sandbox:
![Capture](https://user-images.githubusercontent.com/24832599/59456269-980f3b00-8ddb-11e9-886f-d01f4b54710d.PNG)

This is my version:
![Capture](https://user-images.githubusercontent.com/24832599/59456332-b8d79080-8ddb-11e9-999f-200119fbde38.PNG)

And finally this is what my packa

[2019-06-14 13:13] britishboyindc opened #118 "Give clearer indication of which component is causing error on deploy"
**Is your feature request related to a problem? Please describe.**
I am deploying several LWC via SFDX in a single push. One has an error in the markup - and the error I get is this:
LightningComponentBundle/null: ERROR at line 1, column 1 - LWC1078: <p> has no matching closing tag.

**What are you trying to do**
Identify which component is causing the error, since there are several in the push

*

[2019-06-14 13:28] beeeegaaa commented on #10
Including the folder name lets you retrieve an individual report

sfdx force:source:retrieve -m Report:ReportFolderName/Report_Name

[2019-06-17 15:41] toddhalfpenny opened #119 "force:source:status not adhereing to specific forceignore rules"
### Summary

Remote metadata (e.g. custom fields, list views) are not being ignored for `force:source:status` in the same way that they are for `force:source:pull` when they are specifically mentioned. They show as remote changes for `status` even when they will not be pulled by `pull`, but they are not shown when for example ignoring with `Account**` or `*.listView`

### Steps To Reproduce:

1.

[2019-06-17 20:58] Confirm4Crit opened #120 "force:source:deploy no longer displays line level error"
### Summary

A change in the CLI seems to have removed line errors from error reporting on source:deploy.

### Steps To Reproduce:

Run force:source:deploy or VS Code command palette deploy against a file with an error in it.

### Expected result

Error response normally contained a line number, which VSCode extensions picked up.

### Actual result
It does not.
`
sfdx force:source:deploy --sourcep

[2019-06-17 21:01] Confirm4Crit commented on #120
Wanted to update this, seems like it's just with the --json param, so this might actually be an issue with the VSCode extensions only.
Is it intended for --json param to not display line level errors?

[2019-06-17 21:07] tsalb commented on #120
Can confirm this affects me as well. My environment which does **not** work when using **SFDX: Deploy This Source to Org**

macOs Mojave: 10.14.5
VSCode: Version 1.35.1
VSCode Salesforce Ext Pack: 46.1.0

SFDX CLI: Managed via npm sfdx-cli:
sfdx-cli/7.11.2 darwin-x64 node-v11.9.0

I needed to the revert npm sfdx-cli back to use **force:source:deploy**:
sfdx-cli/7.8.1 darwin-x64 node-v11.9.0

[2019-06-18 00:49] ddawson235 opened #121 "force:org:shape:create returns a SOQL reference issue"
### Summary

The `sfdx force:org:shape:create` command (when used in conjunction with a Shape enabled Dev Hub) returns the following error message:

[code]

### Steps To Reproduce:

1.  Ensure the DevHub configured in your CLI is Shapes enabled (pilot)
1. Run the command `sfdx force:org:shape:create -u ORGNAME` where `ORGNAME` is the org you wish to create a shape for.
1. The error above is return

[2019-06-18 02:57] MGarfOppLoans commented on #31
looks like the bug has returned?

[code]

[2019-06-18 13:52] aheber commented on #113
@dangmai, does it change the behavior if you set the API version at the DX config level instead of at the project config level?

I'm not suggesting this is ideal, just curious if this is an alternative that might work.

`sfdx force:config:set apiVersion=43.0` which modifies the `.sfdx/sfdx-config.json` file. I know that I do that for pre-release versions of DX to use it on orgs that haven't been u

[2019-06-18 13:56] dangmai commented on #113
@aheber that's a good idea, thank you! I'll try that to see if it can be a work around for this issue.

[2019-06-18 16:23] Bobnix opened #366 "ENFILE and EMFILE errors when working with large repositories"
When performing a force:source:deploy or force:source:convert to work with a sandbox, we are getting frequent but not consistent ENFILE and EMFILE errors on Mac and Windows respectively.

    at Object.fs.openSync (fs.js:646:18)
    at Object.fs.readFileSync (fs.js:551:33)
    at Object.Module._extensions..js (module.js:662:20)
    at Module.load (module.js:565:32)
    at tryModuleLoad (module.js:

[2019-06-19 03:05] daveespo commented on #121
Thanks to Carlos Lopez over on the Org Shape Chatter group, you can work around the problem by downgrading the salesforcedx plugin

[code]

Then force:org:shape:create will work .. you can then return to the latest plugin by upgrading to salesforcedx@latest

[2019-06-20 04:02] ddawson235 commented on #121
granted this workaround unblocks users from creating a shape, but this issue highlights the need to fix the bug currently in version 46 👍

[2019-06-20 08:45] nickmorozov commented on #119
Can confirm, I've encountered this before.

[2019-06-20 13:01] Szandor72 commented on #108
Aha! This is were my issue ended up. :) I am still hoping to get this sorted out.

[2019-06-20 13:58] MGarfOppLoans commented on #120
Effects me as well through the VSCode extension

[2019-06-21 17:40] #107 closed, assigned to nobody

[2019-06-21 17:46] clairebianchi commented on #109
Closing, but will be digging into 110

[2019-06-21 17:46] #109 closed, assigned to nobody

[2019-06-21 17:50] clairebianchi commented on #110
EDIT:
Currently, have a ticket on our backlog to fix this issue. Thank you for giving us more details on the issue you are seeing. I'll report back when we have fixed it.

This is a feature request as it is currently working as designed

[2019-06-21 17:52] aheber commented on #109
@clairebianchi I want to make a case for this. DX should do something other than fall over because I have too much code/static resources/etc. #110 still only helps as a workaround to the limit described here.

Is this a "the team doesn't consider this a problem" or is it "they are unable to take on the work to fix this as an unsupported edge case?" If the later could this be a backlog item somewhe

[2019-06-21 17:54] clairebianchi commented on #113
@dangmai did the workaround work?
Also can you please send us the command you are running? this sounds like a bug want to make sure we fix it on the correct command

[2019-06-21 17:59] clairebianchi commented on #115
@thejrack Would you give us more details on what you are trying to do? What download pages are you referring to specifically?

[2019-06-21 18:21] byjrack commented on #115
https://developer.salesforce.com/tools/sfdxcli is the download page.  Not a clean map back to the OSS projects that I could find.  The BSD-3 is in the archive itself, but trying to connect the distributable to the OSS project codebase.

[2019-06-24 15:35] mslomka-polsource opened #122 "force:source:status shows Remote Changed for Apex Class after force:source:push"
### Summary

```force:source:status``` shows Remote Changed for Apex Class after ```force:source:push```.

### Steps To Reproduce:

1.  $ sfdx force:source:status
=== Source Status
    No results found
1.  change the class
1. $ sfdx force:source:status
=== Source Status
STATE          FULL NAME    TYPE       PROJECT PATH
─────────────  ───────────  ─────────  ──────────────────────────────────────

[2019-06-24 20:00] dangmai commented on #113
Yup that workaround does work. The commands I use is:
[code]
The result object no longer contains the `enableLicensing` node. However I still think the `sfdx-project.json` config should be followed by default, since there's a good chance that the `.sfdx` is put into the VCS ignore file and this workaround needs to be applied manually to every dev machine.

[2019-06-25 16:18] aheber commented on #109
For any future readers. I've built an SFDX plugin to help handle this. You can deploy all static resources via the tooling api. This allows us not to push ALL content at once and bypass the error.

https://github.com/aheber/sfdx-heber#sfdx-heberstaticresourcesdeploy--c--r--v-string--u-string---apiversion-string---json---loglevel-tracedebuginfowarnerrorfataltracedebuginfowarnerrorfatal

From there

[2019-06-25 17:31] lcampos opened #123 "Source commands do not display error information"
### Summary
In version 7.12.3 of the cli, when running `sfdx force:source:deploy` or `sfdx force:source:push` command and the execution fails, no error messages are shown.

Initially reported in VSCode extensions repo https://github.com/forcedotcom/salesforcedx-vscode/issues/1411#issuecomment-505218236

### Steps To Reproduce:

1.  Run push or deploy on a project that has deploy errors e.g. Apex c

[2019-06-26 09:37] hansalves commented on #123
Confirming that this issue also occurs on linux version sfdx-cli/7.12.3-bfc421fa08 linux-x64 node-v10.15.3

As a workaround I'm currently using
`alias sfpush="sfdx force:source:push --json 2>&1 | jq -r 'if (.status == 0) then .result.pushedSource[].fullName + \"\t\t\" + .result.pushedSource[].state else .result[].fullName + \"\t\t\" + .result[].error end'"`

[2019-06-26 15:33] tnoonan-salesforce commented on #123
FYI @hansalves If you want the error json to go to stdout you can set this:

export SFDX_JSON_TO_STDOUT=true

It will be the default in couple major releases.

[2019-06-26 19:13] agm1981 commented on #120
Duplicate of Issue 120

[2019-06-27 10:23] woutersmet commented on #1
Since the confusion seems to be that 'source' can be both interpreted as 'source data structure' and 'source-tracked method of moving data between the local and org', why not make it explicit that the middle part is a NOUN and about the data structure, and the last is a verb and about the method of moving data.

(also see @catalandres 's itch :))

You could for example replace the middle one with

[2019-06-27 11:07] woutersmet commented on #1
As an additional thought to my previous comment, you would want to start referring to what you now call 'source format' in a new way, like 'tracking-friendly format' something.  Then you can explain things as follows:

'A new sfdx project will by default have its source code and metadata arranged in a modern, tracking-friendly format. You can push/pull between this local source and a scratch org w

[2019-06-27 17:26] mnunezdm commented on #123
Still facing this issue in last version `7.13.0-27dbcb37d3`, also, when the error is due to conflicts the reason appears

![image](https://user-images.githubusercontent.com/10410852/60287112-66d15780-9911-11e9-9e68-ad95cf4ffe94.png)

And vscode shows the error :\

![image](https://user-images.githubusercontent.com/10410852/60287084-54efb480-9911-11e9-8265-3091e01dae70.png)

[2019-06-28 03:45] ncnxx opened #124 "Error on mdapi:deploy asking for location of "server.key""
### Summary

I have set up a Jenkins pipeline to automatically deploy to orgs using sfdx cli.
The errors which I have been having recently (they just started to happen since 21st May) is
[code]

The authentication to the target org, which will always be performed as the first step for every pipeline job, was fine according to the log.
[code]

JWT keyfile is supplied using `withCredentials` in this

[2019-06-28 09:30] tony-tawk-ei commented on #78
Hello , I am having the Same issue but for me it is reproduced for **Reports** and **Dashboards** .

ERROR running force:source:retrieve:  Cannot read property 'getWorkspaceElements' of undefined
12:25:55.340 sfdx force:source:retrieve --manifest

[2019-06-28 16:05] reidaelliott commented on #78
@tony-tawk-ei the fix that was put in was specific for WaveTemplateBundle and the retrieve command.  It sounds like this is happening for a different metadata type?  can you confirm it is not WaveTemplateBundle?

[2019-06-28 16:40] aheber opened #125 "force:mdapi:deploy:report uses stash.json/SOURCE_DEPLOY instead of stash.json/MDAPI_DEPLOY"
### Summary

Somewhere in recent versions there is a break in `force:mdapi:deploy:report` where it is using the `~/.sfdx/stash.json:SOURCE_DEPLOY.jobid` value instead of `~/.sfdx/stash.json:MDAPI_DEPLOY.jobid` if `--jobid` is not provided. This means that `force:mdapi:deploy` followed by a `force:mdapi:deploy` is non-functional. This is breaking a step in our CI process where we start the deployme

[2019-06-28 16:58] aheber commented on #125
If I had to guess I'd think the problem is here:
lib\mdapi\mdapiDeployReportCommand.js:16 `            new MdapiDeployReportApi(context.org, undefined, Stash.Commands.SOURCE_DEPLOY);`

It seems that `commands\force\source\deploy\report.js` and `commands\force\mdapi\deploy\report.js` should be passing in some context for which `Stash.Commands` property to retrieve instead of allowing `mdapiDeployRe

[2019-06-28 17:13] aheber opened #126 "sfdx not automatically updating"
### Summary

It seems that before the ocliff cutover DX was correctly checking for updates. It seems to have lost that functionality somewhere in here. DX is no longer reporting that updates are available or automatically updating itself. We didn't notice for a little while so I don't have specific versions to identify.

Just yesterday (6/27) I ran `sfdx --version` which used to reliably report if

[2019-06-28 17:34] clairebianchi commented on #99
@sfdc-db-gmail can you please take a look at this, it looks like a packaging bug?

[2019-06-28 17:34] #99 closed, assigned to nobody

[2019-06-28 17:36] clairebianchi commented on #101
@sfdc-db-gmail can you please take a look at this? it looks like a packaging bug

[2019-06-28 17:36] #101 closed, assigned to nobody

[2019-06-28 17:38] clairebianchi commented on #105
@sfdc-db-gmail can you please take a look at this issue? I think it is a packaging bug.

[2019-06-28 17:38] #105 closed, assigned to nobody

[2019-06-28 17:38] clairebianchi commented on #104
@sfdc-db-gmail can you please take a look at this issue? I think it is a packaging bug.

[2019-06-28 17:38] #104 closed, assigned to nobody

[2019-06-28 17:38] clairebianchi commented on #103
@sfdc-db-gmail can you please take a look at this issue? I think it is a packaging bug.

[2019-06-28 17:38] #103 closed, assigned to nobody

[2019-06-28 17:38] clairebianchi commented on #102
@sfdc-db-gmail can you please take a look at this issue? I think it is a packaging bug.

[2019-06-28 17:38] #102 closed, assigned to nobody

[2019-06-28 18:06] tony-tawk-ei commented on #78
I am using package.Xml  generator extension for VScode in order to construct my manifest package. Xml file When I right click on package.Xml to sfdx retrieve I had this error in vscode   When I removed reports and dashboards from package.xml the error disappeared on retrieve action. Sent from my Huawei phone-------- Original Message --------Subject: Re: [forcedotcom/cli] ERROR running force:source

[2019-06-28 18:45] clairebianchi commented on #126
@aheber We currently are having an issue with our installers for Mac due to a migration we just underwent for our release process. We think this has something to do with it. The installers are scheduled to be fixed mid-July, if this does not fix this issue then we will investigate further.

[2019-06-28 19:40] clairebianchi commented on #124
@nutchanon-pho Thank you, we are tracking this bug internally as it has been reported a few times. The internal work number is W-6086098.

[2019-06-28 19:42] clairebianchi commented on #123
This issue has been fixed and will go out in next week's release (July 3).

[2019-06-28 19:42] #123 closed, assigned to nobody

[2019-06-28 19:45] #120 closed, assigned to nobody

[2019-06-29 00:26] rrmehta2 commented on #121
@daviddawson90 Yes, this is a bug that has been prioritized by my team and will be fixed in the coming weeks. In addition to the workaround provided by @daveespo, you can also create a new shape by executing `sfdx force:data:record:create -u <shape org> -s ShapeRepresentation -v "description="`.  (in v46 of the CLI, no need to reinstall v45)

You can check the status of the shape using the org:sha

[2019-07-01 22:52] kfidelak94 commented on #69
@jty-reman I wanted to check to see if was still a problem for you?  I can't see your whole scratch definition file above, but from what you listed it looks like the syntax you were using was not correct.
This document has more information on using settings in the scratch def, and an example:  https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_scratch_orgs_def_file_c

[2019-07-03 07:12] gaelmotte opened #221 "Unable to push deleted Report due to unescaped separator '\'"
### Summary

I am currently unable to push to scratch org if a report name start with letter D.

### Steps To Reproduce:

1.  Create a report in public folder nammed  "Demo"
1.  pull sources
1. delete said report
1. modify anuthng else in sfdx project
1. Push

### Expected result

Everything gets pushed

### Actual result

Following error related to char escaping :

[code]

### Additional informat

[2019-07-03 13:41] mhumpolec opened #127 "Extract recursive relations"
**Is your feature request related to a problem? Please describe.**
We want to be able to extract a hierarchy of records - imagine account and parent accounts.

**What are you trying to do**
We tried to insert the parent (or child) into the query, but it failed with error about overriding data

**Describe the solution you'd like**
Finish with import of the whole structure of accounts would be aweso

[2019-07-03 15:58] aheber commented on #127
@mhumpolec Have you looked at the `force:data:tree:...` commands?
Something like this could likely pull your data out in a way that it can easily be re-imported.
`sfdx force:data:tree:export -q "SELECT Id, Name, (Select Id, Name FROM ChildAccounts) FROM Account WHERE ParentId = null"`
This would likely break if you have hierarchies more than one parent level deep. You'll likely need to add the `--

[2019-07-03 16:00] mhumpolec commented on #127
Yes, we just did it the other way around, your solution supports only two levels

Martin
From mine clever phone

3. 7. 2019 v 17:58, Heber <notifications@github.com>:

[2019-07-04 07:16] martijnbrandse2 commented on #123
@clairebianchi Has the release been pushed out?
I am on latest version "Updating CLI... already on latest version: 7.13.0-27dbcb37d3"
But I am still facing this issue....

[2019-07-04 17:54] rsoesemann commented on #123
Me too. Yesterday.

[2019-07-04 20:22] chs-aosokin commented on #123
Same here: the issue still exists in 7.13.0-27dbcb37d3

[2019-07-05 11:09] Szandor72 opened #128 "sfdx force:lightning:lint and eval()"
### Summary

When using eval() in a aura javascript file, sfdx force:lightning:lint raises two errors:
- secure-window (Invalid SecureWindow API, eval was blacklisted)
- no-eval (eval can be harmful)

Developer Console does not raise the same issues. Since Summer18 I'd expect the linter not to automatically error all usages of eval. Cf. https://salesforce.stackexchange.com/questions/228679/lightni

[2019-07-05 12:21] mnunezdm commented on #123
I launched

[code]

After installing I have this version: `salesforcedx 46.4.0`

Seems to fix the issue, maybe this works to:

[code]

[2019-07-05 12:33] rohits13 commented on #6
Hi,

I am getting the same issue for all these components **SharingCriteriaRule, SharingOwnerRule, and WorkflowOutboundMessage**. What was the fix?

**SFDX CLI Version** :- sfdx-cli/7.13.0-27dbcb37d3 win32-x86 node-v10.15.3
**OS and version**: Windows 10  64-bit

![image](https://user-images.githubusercontent.com/19818494/60722665-e2469080-9f31-11e9-932a-7dade300f161.png)

[2019-07-05 14:31] sfdc-db-gmail commented on #99
@DavinCasey
For second-generation packages, you can use force:package:version:list and pass info about the user in the hub via the --targetdevhubusername argument.

For first-generation packages, you can use force:package1:version:list against the packaging org and pass info about the user via the --targetusername argument.

@clairebianchi

[2019-07-05 14:34] sfdc-db-gmail commented on #101
@ImJohnMDaniel - I have added this to my backlog. It is a relatively low priority item as far as I see as there is a very easy workaround :-)

@clairebianchi

[2019-07-05 14:36] sfdc-db-gmail commented on #103
@ImJohnMDaniel - I will add this to my backlog.
@clairebianchi

[2019-07-05 14:37] sfdc-db-gmail commented on #104
@ImJohnMDaniel - I have added this to the product backlog.
@clairebianchi

[2019-07-05 14:42] ImJohnMDaniel commented on #81
@clairebianchi, @shetzel, and @sfdc-db-gmail -- Any update on this issue?

[2019-07-05 17:21] deb761 opened #134 "sfdx force:data:tree:import doesn't provide errors"
I just installed the latest sfdx tools and ran tree:import.  The command failed, but didn't provide any error information until I used the --json parameter.

**Versions:**
CLI 7.13.0-27dbcb37d3
Microsoft Windows 10 Pro version 1803

[2019-07-05 18:02] ChuckJonas opened #222 "sfdx force:package:version:create:list should show version number"
**Is your feature request related to a problem? Please describe.**
`sfdx force:package:version:create:list` currently does not list out the package version number.

**Describe the solution you'd like**
Running `sfdx force:package:version:create:list` should show version name & version number related to each release version

[2019-07-05 18:55] lcampos commented on #123
Having the `salesforcedx` plugin installed overrides the code shipped by the normal Salesforce CLI. If you still have the issue in version `7.13` and have the `salesforcedx` plugin installed you should either uninstall that plugin or update to its latest version.

[2019-07-05 19:43] kvor opened #129 "sfdx force:source:push is too verbose"
### Summary

When we push metadata `sfdx force:source:push`, the output lists all pushed files.
However, in C.I. where we clone our project, this is a major problem since we reach
file log limits and CI breaks. We expect either a summarised output (total number of files) in case of success or an argument (--quiet) that will return only warnings/errors

### Steps To Reproduce:

1.  run `sfdx force:

[2019-07-05 21:35] MGarfOppLoans opened #130 "sfdx force:source:deploy does not give progress updates on wait"
When running `sfdx force:source:deploy` it does not provide status updates on the deploy. Instead the CLI hangs unitl its finished.

[2019-07-05 22:05] mikofang commented on #31
I can still reproduce the error with sfdx-cli/7.8.1-8f830784cc darwin-x64 node-v10.15.3 ...

[2019-07-08 09:28] warbio opened #131 "SFDX force:source:push a Flow and VFP calling the Flow"
### Summary

When pushing a new Flow and VisualForce page, and the Visualforce page calls the new flow and sets one of the input parameters, the following error occurs:

### Steps To Reproduce:

1.  Create a flow with a variable available for input called AccountId.
1. Create the following VFP:
`<apex:page standardController="Account" tabStyle="Account" >
        <flow:interview name="Flow_Name" f

[2019-07-08 12:56] FabienTaillon opened #132 "Add s1EncryptedStoragePref2 to default Scratch Org definition file"
**Is your feature request related to a problem? Please describe.**
FEATURE

**What are you trying to do**
As a developer, I need to have s1EncryptedStoragePref2 disabled in all scratch orgs I'm using, because it's much easier to test Lightning Components (no cache as I'm changing them everytime I save).

**Describe the solution you'd like**
Add "s1EncryptedStoragePref2": false to the default proje

[2019-07-08 17:28] clairebianchi commented on #123
Our release was delayed last week due to an issue with the installer and then the holiday in the USA. The release went out this morning that should fix this issue the current version is 7.14.0

[2019-07-09 07:27] yohanim opened #133 "Problem with npm install, bad peer references"
### Summary

Since july 4th update, the NPM install gives a not reassuring warning :
npm WARN force-language-services@46.9.0 requires a peer of salesforce-alm@46.7.0 but none is installed. You must install peer dependencies yourself.

### Steps To Reproduce:

have node installed
run npm i -g sfdx-cli

### Expected result

no peer dependency warning shown

### Additional information

node version v

[2019-07-09 15:53] tnoonan-salesforce commented on #31
--dev-debug?

[2019-07-09 16:33] shetzel commented on #31
I just ran into this yesterday as well with an LWC that has an extra js file as part of a service component.  @tnoonan-salesforce a simple repro might be to use the `lwc-recipes` repo here: https://github.com/trailheadapps/lwc-recipes/  Specifically, https://github.com/trailheadapps/lwc-recipes/tree/master/force-app/main/default/lwc/libsD3

The error I see is with processing the "extra" javascript

[2019-07-09 18:09] Kevmo92 opened #135 "sfdx force:org:create Error Hang"
### Summary

There's some additional information on this salesforce community post as well,
https://success.salesforce.com/0D53A00004QzY4k

We're hitting an inconsistent error with the `sfdx force:org:create` command.

[code]

The error we're getting back seems like an inconsistent API error, but when the sfdx cli receives this error the cli is just hanging without returning an exit code. This is

[2019-07-09 18:22] mikofang commented on #31
attached to W-6325878

[2019-07-09 18:22] rsoesemann opened #136 "Scratch org feature "DeferSharingCalc" doesn't do anything"
Creating a scratch org with the new DeferSharingCalc feature on doesn't change anything regarding sharing calculations:

    {
  	...
  	"features": ["DeferSharingCalc"],
  	"settings": {
		...
	}
}

Is there anything else needed as a prerequisite for this?

(via https://salesforce.stackexchange.com/questions/268450)

[2019-07-09 18:40] tnoonan-salesforce commented on #124
@nutchanon-pho Can you add `sfdx force:auth:logout --username xxxxxxxx` before running the JWT command? That will force it to regenerate a local auth file.

[2019-07-09 20:38] clairebianchi commented on #130
If you add `--wait 0` you will get async mode, see the help output:

![image](https://user-images.githubusercontent.com/41926844/60921218-d539e200-a24e-11e9-8bfe-aa054c95bef5.png)

[2019-07-09 20:38] #130 closed, assigned to nobody

[2019-07-10 10:13] rsoesemann commented on #136
@clairebianchi thanks for tagging. Should I move the issue to another Github repo?

[2019-07-10 16:16] mnunezdm opened #137 "Cant pull EntitlementProcess with Uppercase names"
### Summary

Yesterday I experienced this issue when trying to `force:source:pull` an entitlement process from a scratch org, I noticed that when performing a `force:source:retrieve` of the same EntitlementProcess, the name was being downcased

I changed the value to all lowercase and seems to work well.

I have seen that this issue is already tracked here https://success.salesforce.com/issues_vie

[2019-07-10 18:02] clairebianchi commented on #136
No, I am reaching out to the Product Manager on that team to see how he wants to handle the issue. They do not have an open-source repo, so I don't want to close this till someone takes ownership of the internal bug

[2019-07-10 19:13] rrmehta2 commented on #136
Hi @rsoesemann thanks for reporting the problem. Enabling the Defer Sharing Rule Calculation feature typically requires two steps - contacting Salesforce support and then enabling the feature in the UI (https://help.salesforce.com/articleView?id=security_sharing_rule_recalculation.htm&type=5). It appears that the scratch feature "DeferSharingRecalc" is helping with the first step but it requires t

[2019-07-10 20:09] clairebianchi commented on #136
Thank you @rrmehta2, I am going to close this issue here and you can track it internally.

[2019-07-10 20:09] #136 closed, assigned to nobody

[2019-07-10 20:52] rsoesemann commented on #136
@rrmehta2 thanks so much. Feel free to add comments to my stack exchange answer later.

[2019-07-11 08:25] Szandor72 commented on #128
@clairebianchi Understood. So should I go pester Greg? :) What's your suggestion?

[2019-07-11 14:54] balmasi commented on #121
I tried that but now it fails with a new error:

[code]

I'm definitely logged in cause my other commands work. Also I tried going back to latest and same thing.

In addition, running @rrmehta2 's solution yields:
`ERROR running force:data:record:create:  The requested resource does not exist`

**CLI Version**
`sfdx-cli/7.14.0 darwin-x64 node-v10.8.0`

**OS**
`MacOS Mojave 10.14`

**Devhub Version

[2019-07-11 15:01] FabienTaillon opened #138 "No base file for markup://c:myComponent"
### Summary

If a Lightning web component has the same name as the sfdx project folder, we're getting the following cryptic error: `No base file for No base file for markup://c:myComponent`.

### Steps To Reproduce:

1.  sfdx force:project:create -n myComponent
2.  cd myComponent
3. sfdx force:lightning:component:create -n myComponent --type=lwc -d force-app/main/default/lwc
4. sfdx force:org:crea

[2019-07-11 16:52] clairebianchi commented on #128
I have reached out to the team and they are looking at your issue. I am leaving it open till they have a chance to take a look and comment.

[2019-07-11 16:58] rrmehta2 commented on #121
@balmasi When you execute force:data:record:create you need to point to the org whose shape you want by either providing -u or assigning it to the defaultusername config. The "requested resource does not exist" error occurs if either of those aren't done.

(Separately, we need to provide better error messages too).

[2019-07-11 19:06] ChuckJonas commented on #97
Any chance this will be addressed?  It's a major pain-point

[2019-07-12 00:30] KrisGraySFDC commented on #128
Hey Christian, good to talk to you again.

We've identified this rule didn't get updated, so we're updating it now.

Aiming for next patch of sfdx

[2019-07-12 02:16] cbsp101 opened #139 "Salesforce retrieval through generated package.xml retrieves part of the file"
On VSCode, when tried to retrieve profiles from a salesforce org, 2 issues are encountered:

Issue 1: when retrieved the profiles via sfdx Package.xml generator:Choose metadata components around 300+ lines of the file were missing from the retrieved file

Issue 2: The sequence of code lines are changed while retrieve from Salesforce sandbox

[2019-07-12 02:45] DarrinDipity commented on #32
@clairebianchi I'm meeting w/ our network teams again tomorrow.  We've added the dir above to bypass virus scans and saw no improvement.  Any other suggestions?  I did run commands on both a BWOD Mac and work issued Windows with the node DEBUG=*.  Let me know if attaching the output here would help you.

[2019-07-12 02:53] ncinolando opened #2208 "Displaying the navigation URL outputs a superfluous error"
### Summary

Using the URL Only and JSON output options for the `force:org:open` command appends an additional error with no explanation.

### Steps To Reproduce:
This error did not show up until I upgraded my Node.js version and installed sfdx-cli via `npm` for that version.

1. Install a fresh version of Node.js (either through `nvm` or uninstalling and reinstalling).
1. Install the sfdx-cli too

[2019-07-12 07:26] Szandor72 commented on #128
Awesome! Thanks.

On Fri, 12 Jul 2019 at 02:31, Kris Gray <notifications@github.com> wrote:

[2019-07-12 22:35] rkathir commented on #39
I'm getting this issue in my mac...  SFDX is not unable to retrieve the metadata from a developer sandbox.

[2019-07-12 22:39] rkathir commented on #39
Here is my mac version of sfdc..

$ sfdx plugins --core
@oclif/plugin-commands 1.2.2 (core)
@oclif/plugin-help 2.1.6 (core)
@oclif/plugin-not-found 1.2.2 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.2 (core)
analytics 1.1.2 (core)
generator 1.1.0 (core)
sal

[2019-07-12 22:49] rkathir commented on #39
sfdx version
sfdx-cli/7.8.1-8f830784cc darwin-x64 node-v10.15.3