[2019-07-12 22:49] rkathir commented on #39
sfdx force:source:retrieve --manifest ./manifest/package.xml
ERROR running force:source:retrieve:  Cannot read property 'fileName' of undefined

[2019-07-12 22:50] rkathir commented on #39
Please help me fix this issue...

[2019-07-12 22:52] rkathir opened #140 "sfdx force:source:retrieve --manifest throws fileName of undefined in MAC"
### Summary
Installed SFDX CLI in mac
Created SF project in VS Code
Authorized against sandbox
Wants to download existing metadata from Org, keep getting this error..

sfdx force:source:retrieve --manifest .manifest/package.xml
ERROR running force:source:retrieve:  Cannot read property 'fileName' of undefined

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start

[2019-07-12 22:53] rkathir commented on #140
sfdx version
sfdx-cli/7.8.1-8f830784cc darwin-x64 node-v10.15.3

[2019-07-12 22:53] rkathir commented on #140
$ sfdx plugins --core
@oclif/plugin-commands 1.2.2 (core)
@oclif/plugin-help 2.1.6 (core)
@oclif/plugin-not-found 1.2.2 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.2 (core)
analytics 1.1.2 (core)
generator 1.1.0 (core)
salesforcedx 45.16.0 (core)
├─ force-

[2019-07-15 14:00] rkathir commented on #140
Any update to this issue?

[2019-07-15 14:35] joeferraro opened #223 "sfdx force:source:push doesn't seem to be calculating dependency order properly"
### Summary

I have an sfdx project with two packages: Package A with some common lib code and Package B with my core application. Both packages are listed in `sfdx-project.json` with Package B listed second in the order and specifying Package A as a dependency.

When I `sfdx force:source:push`, Package B seems to be installed first which sets off a cascading series of errors because references to

[2019-07-15 14:57] rkathir commented on #39
when I add the console.log in /usr/local/lib/sfdx/node_modules/salesforce-alm/dist/lib/source/bundlePathHelper.js

I see the error log of 515,944 lines...

[2019-07-15 15:19] rkathir commented on #39
Its all because of AuraDefinitionBundle metadata that is causing this error...  We have 148 Aura components folder... maybe this tool is not supported to have these many subfolders and components.

[2019-07-15 15:52] tnoonan-salesforce commented on #140
Can you add --dev--debug? Include the stack trace?

[2019-07-15 16:10] joeferraro commented on #223
K, so I updated the cli to `sfdx-cli/7.14.0-bd96f098e0 darwin-x64` and the same project, with the same metadata revealed a different set of errors on push related to LWCs referencing Custom Labels ... labels that are definitely there. I'm not sure where to go from here ...

`Invalid reference c.Some_Label_Name of type label in file someLWC.js (0:0)`

It's worth noting both of my packages have `Cus

[2019-07-15 16:13] rkathir commented on #140
It is related to https://github.com/forcedotcom/cli/issues/39

If I remove AuraDefinitionBundle then works fine..

[2019-07-15 18:02] clairebianchi commented on #39
@rkathir there is currently a bug in the CLI with subfolders and source:retrieve. We are actively fixing this bug and we should have a fix out in this week's CLI release (updates to the CLI are usually released on Thursdays). Please update at the end of the week and try again. If you are still seeing the error let me know and I will investigate further.

[2019-07-15 19:03] joeferraro commented on #88
Seeing the same behavior and it's maddening

[2019-07-16 15:05] vichpetr opened #141 "Deploy layout to org"
Hi,

I have tried to deploy files from folder `layouts` (full path is `force-app/main/default/layouts/Account-Account Layout.layout-meta.xml`).

The problem is the filename contains space and I get the error:
**`ERROR running force:source:deploy:  Unexpected argument: Layout.layout-meta.xml`**

The command what I used:
`sfdx force:source:deploy -p force-app/main/default/layouts/Account-Account Lay

[2019-07-16 15:54] chandra2ravi opened #142 "RemoteOrgSignupFailed: A fatal signup error occurred."
### Summary

_Short summary of what is going on or to provide context_.

Creating scratch org using sourceOrg (shape) feature.

### Steps To Reproduce:

1.  This is step 1.
{
  "orgName": "HMI Scratch",
  "sourceOrg": "00DD0000000rch3MAA",
  "features": ["MultiCurrency","StateAndCountryPicklist","Communities", "DebugApex", "Pardot"],
  "settings": {
  "orgPreferenceSettings": {
  "networksEnabled"

[2019-07-16 18:01] balmasi commented on #121
I'm aware of the -u flag. The problem persists with that flag. Does this have something to do with being a part of the pilot program? Is there something I need to check to see if I can use Org Shapes or not?

[2019-07-16 19:49] rkathir commented on #39
@clairebianchi Thank you.  Please let me know the steps to uninstall and reinstall in MAC..

[2019-07-17 06:50] rrmehta2 commented on #121
@balmasi Yes, you will also see this error if you're not part of the Org Shape pilot and the feature has not been enabled on the specific org you're referencing with -u. You can check within the org's setup menu for a page called "Org Shape Subscribers" to confirm if the feature is enabled on your org.

[2019-07-17 13:44] twaugh2020 commented on #124
Are there any work arounds for this issue? This also affects the force:org:create command

[2019-07-17 18:06] balmasi commented on #121
Yea that was it, thanks for clearing that up

[2019-07-17 23:14] clairebianchi commented on #124
@twaugh2020 Here is the Know Issue https://success.salesforce.com/issues_view?id=a1p3A000001SGxLQAW
It has the workaround documented

[2019-07-18 08:38] amilagm commented on #69
If someone is looking into enabling quote via the scratch org def this is how it should look like. Unfortunately the documentation is not clear or accurate on this.

[code]

[2019-07-18 20:54] clairebianchi commented on #39
You should not need to uninstall and reinstall. Instead, you can just update your CLI by running 'sfdx update'
The fix for your issues has been pushed to next week because this issue is also affecting a few other commands.

If you still wish to uninstall, here are the instructions: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_uninstall.htm

[2019-07-19 03:35] chandra2ravi opened #224 "If Push Detects a Username Reference in the Source not working in Groups"
### Summary

_Short summary of what is going on or to provide context_.
If Push Detects a Username Reference in the Source not working in Groups push
### Steps To Reproduce:

1.  This is step 1. Create a group with username
and push to scratch org
1.  This is step 2. All steps should start with '1.'

### Expected result
 push succeeds, even if the scratch org does not contain the original username

[2019-07-19 16:02] rkathir commented on #140
is it fixed now with last night release?

[2019-07-19 16:04] rkathir commented on #39
@clairebianchi: Thanks for the update, looking forward to the fix asap next week.

[2019-07-19 17:49] GregFinzer commented on #39
@clairebianchi that is fantastic news.  I have been waiting for this fix for five months.  Thanks so much!

[2019-07-19 18:29] tnoonan-salesforce commented on #142
This issue was resolved yesterday. This was due to a configuration issue in production.

[2019-07-19 18:29] #142 closed, assigned to nobody

[2019-07-19 18:30] tnoonan-salesforce commented on #141
Did you try with quotes?

sfdx force:source:deploy -p "force-app/main/default/layouts/Account-Account Layout.layout-meta.xml" -u myOrg

[2019-07-20 14:15] ImJohnMDaniel opened #143 "Remove "--targetusername" flag from force:org:create command"
The `force:org:create` command lists the flag "--targetusername" as one of the options.  There is no use for that flag on this command.

Recommendation is to simply remove the flag from the command.

Just to be clear.... there is no actual blocking issue with this... it is just an inconsistency that needs to be cleaned up.

Thanks for the help.  You guys are awesome!!!!

Cheers!

[2019-07-22 10:02] bdJohnson72 commented on #94
I am experiencing the same thing. I am working on the Trailhead module Develop an App With CLI and Source Control. When I try to pull source I get the following.

sfdx force:source:retrieve --manifest assets/package.xml --targetusername pdii --wait 10
ERROR running force:source:retrieve:  A default package path string is required for SourceWorkspaceAdapter.

The JSON flag give the following info

[2019-07-22 21:33] tnoonan-salesforce commented on #94
@bdJohnson72 Can you re-reun the problem command and add `DEBUG=sfdx:SourceWorkspaceAdapter`

Like This:

`DEBUG=sfdx:SourceWorkspaceAdapter sfdx force:source:retrieve --manifest assets/package.xml --targetusername pdii --wait 10`

Also, what does your sfdx-project.json look like?

[2019-07-23 16:12] clairebianchi commented on #92
@SethMagner sorry for the delay in response, we made updates to the source:deploy command in the .46 release and I am wondering if this has fixed your issue. Would you mind updating and trying again?

[2019-07-23 20:35] clairebianchi commented on #137
This issue is known and owned by another team at Salesforce. We have informed the team that you are seeing this problem, the internal work item is W-6284828. I am closing this one here

[2019-07-23 20:35] #137 closed, assigned to nobody

[2019-07-23 20:36] clairebianchi commented on #138
Thank you @FabienTaillon, We will take a look

[2019-07-23 20:40] clairebianchi commented on #140
I think the bug fix we pushed will not fix this issue. can you please run with --dev --debug and we can look more into this issue?

[2019-07-24 10:15] yohanim commented on #133
Solved in 46.6.0

[2019-07-24 10:15] #133 closed, assigned to nobody

[2019-07-25 17:20] gyadav4 opened #147 "Metadata not in package.xml also getting deployed (VS Code 1.36.1)"
My project is having a setup of gitlab -- VSCode -- Dev and QA (non CI-CD setup, need to deploy manually to QA)
I'm working on one of the branches that were having some picklist fields, that also got retrieved on my local with some other metadata. Now I've created some custom fields, apex classes, triggers, validation rules etc. Parallelly some other developer changed those picklist fields to mult

[2019-07-25 20:34] kristen-j-owens opened #144 "Document Deployment Fails"
### Summary

Deploying Documents via the CLI fails with the message `The DocumentFolder named Folder_Name/Document_Name was not found in the workspace.`

### Steps To Reproduce:

1.  Ensure a Document Folder named MyFolder exists in the source environment, with a Document named MyDocument.txt inside.
1.  Using the following package.xml, perform a force:source:retrieve

[code]

1. Using the same ma

[2019-07-25 21:03] kristen-j-owens commented on #144
Clarification for step 3: Attempt to deploy the metadata to a sandbox using `force:source:deploy`

[2019-07-25 23:14] rasmuszimmer commented on #92
I am suddenly facing similar issue (not sure actually).

+ /usr/local/salesforce/cli/bin/sfdx update
 ▸    sfdx-cli: update available from 6.51.1-ba7205094b to 7.15.3-c7d407d236
sfdx-cli: Updating CLI...
sfdx-cli: Updating CLI from 6.51.1-ba7205094b to 7.15.3-c7d407d236... finishing up
sfdx-cli: Updating CLI from 6.51.1-ba7205094b to 7.15.3-c7d407d236... done
 ›   Warning: You acknowledge and agre

[2019-07-26 16:15] mshanemc opened #148 "Asset viewer for binaries"
**Is your feature request related to a problem? Please describe.**
In source control, I see ContentAssets and single-file Static Resources, but don't know what they are.  What is this asset, anyway?

![Screen Shot 2019-07-26 at 9 09 32 AM](https://user-images.githubusercontent.com/4261788/61965596-6c0fd980-af85-11e9-83d2-69655706fc62.png)

**Describe the solution you'd like**
I click on the file a

[2019-07-26 17:34] clairebianchi commented on #144
If you remove the file extension (.txt) it should work. Deploy does not take the file extension

[2019-07-26 17:35] clairebianchi commented on #138
@FabienTaillon, this is a bug on our side and I am adding it to our backlog

[2019-07-26 19:34] ralphcallaway commented on #97
@clairebianchi for what it's worth when you create a new piece of metadata you get to choose the page directory, so seems like the concept is there, just got missed in the design. hopefully the team sees this a bug and not an improvement. can't see how it would make sense to refresh a file and have the contents end up in a separate location

[2019-07-26 19:50] madlantern commented on #10
Hey @robcowell I just struggled through the same issue... saved my report in a public folder, tried to retrieve it using sfdx, and the response in the terminal was that the report was not found. When I checked the file structure, though, I found that it had actually pulled down the report. Maybe check to see if the files did actually get pulled and it just reported incorrectly..?

[2019-07-26 20:41] ralphcallaway commented on #97
this pretty much means people can't use any directory structure other than main/default which was one of the major goals of salesforcedx

[2019-07-29 04:59] JimboFromLimbo commented on #220
why would you ever have 2 of the same selectors in the same web component css file? This does not look like a bug but more of a linting communication error

[2019-07-29 05:51] brianedwardsaunders commented on #10
Try this https://www.npmjs.com/package/sfdx-ext (ext:mdapi:retrieve to retrieve everything you need)

[2019-07-29 22:47] kristen-j-owens commented on #144
Hi @clairebianchi ! I appreciate your response. I did try both ways (with and without the file extension), although I wasn't 100% on which was the supported path, and was having trouble finding documentation.

I re-attempted deploying using the following command:

[code]

With the following package.xml (no file extension on file name):

[code]

And received the following error: `The DocumentFolder

[2019-07-29 23:13] clairebianchi commented on #144
@kristen-j-owens, I am sorry about that. I have added the bug to our backlog and hope to have the issue picked up by the team in August.

[2019-07-30 05:36] kristen-j-owens commented on #144
Great, thanks for the update!

[2019-07-30 12:39] bkwdesign commented on #69
Aren't we supposed to be able to see a "sample scratch definition" from the [MetaData Coverage report](https://developer.salesforce.com/docs/metadata-coverage/44)?

I found this screenshot featured on this [developer.salesforce.com](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_scratch_orgs_def_file_config_values.htm) page explaining how to switch from `orgPrefe

[2019-07-30 12:45] bkwdesign commented on #69
I'm finding the documentation to be quite terrible at the moment. Unlike other experiences I've had in SalesForce

[2019-07-30 20:53] #140 closed, assigned to nobody

[2019-07-30 20:53] #141 closed, assigned to nobody

[2019-07-30 21:35] ntotten commented on #147
@gyadav4 Could you provide the package.xml you used?

[2019-08-02 02:36] ncnxx opened #145 "sfdx force:mdapi:deploy command failed but deployment reached Salesforce"
### Summary

I have set up a Jenkins pipeline to automatically deploy to orgs using sfdx cli. We have faced this error:
[code]
The error caused failure to the `sfdx force:mdapi:deploy`. However, the deployment request would reach the Salesforce target org and performed deployment as it should on the Salesforce side.

### Steps To Reproduce:
1. Try jenkins with the following snippet of code:
[code]

[2019-08-02 20:03] ImJohnMDaniel commented on #88
@clairebianchi -- Anything that your team can share on this question?

[2019-08-03 14:55] ImJohnMDaniel opened #146 "Error message should be enhanced when requiresDevhubUsername = true"
When we develop a custom CLI command and specify requiresDevhubUsername = true, if the user does not supply a devHubUsername, the error message received is "Must pass a username and/or OAuth options when creating an AuthInfo instance."

The issue is that there is no distinction between a command missing a devHubUsername and the command missing the username.

If the devHubUsername is missing, the r

[2019-08-05 07:48] deborahlevycaprtraite opened #149 "sfdx:create project with manifest failed"
I get this error :
TypeError Plugin: sfdx-cli: Cannot read property 'close' of undefined
module: @oclif/config@1.13.0
task: runHook init
plugin: sfdx-cli

[2019-08-05 16:52] ntotten commented on #148
This should be implemented at the CLI level like static resources.

[2019-08-05 21:41] MGarfOppLoans commented on #130
yep but that doesn't provide status updates you have then build a custom polling mechanism to get the progress. @clairebianchi

[2019-08-05 21:43] MGarfOppLoans commented on #57
+1 on this. The ability to print a JUnit file in source:deploy is huge for Out of the Box CI/CD test parsing.

[2019-08-06 07:50] ncnxx commented on #145
I have solved this problem by removing the directory `/home/jenkins/.sfdx` and run the commands again. I suspect that it might be from a malformed `stash.json` file which is automatically created by sfdx cli.

[2019-08-06 07:50] #145 closed, assigned to nobody

[2019-08-06 18:06] clairebianchi commented on #88
@ImJohnMDaniel, We currently do not have good support for multiple package directory paths. We are working on this in the Fall. This feedback is very helpful.

Please add how you would like this to be handled. We are looking at both push and pull interactions. Push is mostly on the CLI, you place the metadata where you want it and the CLI should be able to figure out how to push. The Pull is harde

[2019-08-06 19:06] bcattaneo opened #239 "sfdx force:* hangs when there's an error (no exit code returned)"
### Summary

When there's an error in any of the force:* commands, process hangs forever without returning an exit code.

### Steps To Reproduce:

1.  Run any force:* command forcing an error (E.g. `sfdx force:org:list wrongparam` or `sfdx force:org:list --json wrongparam`).

### Expected result

Process exits returning a (negative) exit code.

### Actual result

Process hangs forever, doesn't ret

[2019-08-06 23:29] benmcderm commented on #78
@reidaelliott I'm having the same issue with my package.xml:

I added items back one at a time and found the culprit:
`<types>`
        ` <members>*</members>`
        ` <name>StaticResource</name>`
  `  </types>`

Did something change with StaticResource?  I haven't had issues with this package.xml until today.

[2019-08-07 00:47] lcampos commented on #149
Please provide the following information:

- Salesforce CLI version (can get this by running `sfdx --version` in your terminal)
- Operative System
- the parameters you're using when running this command

[2019-08-07 01:37] ImJohnMDaniel commented on #88
@clairebianchi thanks for the update.  I guess I would expect that CLI to find all custom label references and merge them into one file for Metadata API deployment.

To be honest, having all of the labels in a single file has been a pain over the years.  The MetadataAPI has always supported the CustomLabel attribute but the tools have never really managed it well.  We could hand craft a package.xm

[2019-08-07 13:49] aheber commented on #88
The concern I have with splitting the CustomLabel into individual files is that could result in a huge number of files being added to the project. DX's push/pull local change detection scales fairly linearly with the number of files, only being marginally impacted by the size of the file. We already have this problem with the thousands of files we keep in our static resources. I wonder what adding

[2019-08-07 18:03] bcattaneo commented on #239
There's a _cmdError_ event which apparently caughts some thrown exceptions on exit (with errors). File is: _...\sfdx\client\7.18.0-ee5dc8194c\node_modules\@salesforce\plugin-analytics\lib\hooks\analyticsPrerun.js_

After the exception is thrown, it never exits properly. Fixed it on my end adding the following:

[code]

I hope that helps.

[2019-08-07 19:28] reidaelliott commented on #78
I ran it using the latest cli installer (sfdx-cli/7.8.1-8f830784cc darwin-x64 node-v10.15.3) against my local server:
sfdx force:source:retrieve -x package.xml
sfdx force:source:retrieve -m StaticResource
Both worked.  Maybe you are on a different version or there is something about a static resource in your org causing problems?

[2019-08-08 16:34] patmcclellan commented on #94
I'm now getting this error. This happened just after merging a branch back to master, then switching VS Code over to Master. Entirely possible that it mucked up some of the config files...

Here's my sfdx-project.json:
`{
  "packageDirectories": [
    {
      "path": "force-app",
      "default": true
    }
  ],
  "namespace": "",
  "sfdcLoginUrl": "https://login.salesforce.com",
  "sourceApiVersi

[2019-08-08 20:01] yippie opened #150 "Cannot authorize sandboxes: force:auth:web:login broken"
### Summary

the sfdx force:auth:web:login -r htts://test.salesforce.com command is currently not working for me or any of my co-workers

### Steps To Reproduce:

1. Have sfdx cli version sfdx-cli/7.8.1-8f830784cc darwin-x64 node-v10.15.3 OR sfdx-cli/7.18.0-ee5dc8194c darwin-x64 node-v10.15.3
1.  run command sfdx force:auth:web:login -r htts://test.salesforce.com
1. login

### Expected result

SFD

[2019-08-08 21:22] patmcclellan commented on #94
This has me dead in the water. I can't push or deploy source, I can't convert source to metadata.

What's especially frustrating is that I don't know what's going on behind the scenes, so I don't know how to attempt to debug it. Looking back through the thread, and based on the fact that I just switched branches, I suspect I've got some random file that's missing or out of place, but I don't know

[2019-08-09 02:41] yippie commented on #150
It seems the issue was at Salesforce:

https://status.salesforce.com/generalmessages/239

[2019-08-09 02:41] #150 closed, assigned to nobody

[2019-08-09 10:58] Szandor72 commented on #128
No issues with latest release. thank you.

[2019-08-09 16:22] nebc-jasonfung opened #151 "sfdx force:source:retrieve Cannot read property 'metadataName' of undefined"
### Summary

A particular metadata type added to `package.xml` causes `cannot read property of undefined` error

### Steps To Reproduce:

1.  Add the below to `package.xml` file

    <types>
        <members>*</members>
        <name>Audience</name>
    </types>

2.  sfdx force:source:retrieve --manifest
3. `ERROR running force:source:retrieve:  Cannot read property 'metadataName' of undefined`

#

[2019-08-09 16:53] clairebianchi commented on #94
@patmcclellan we are looking into your issue now. I'll circle back  with updates and if we need anything else from you

[2019-08-09 17:35] kcappieg commented on #94
# Edited

I'm having this issue too. I narrowed it down to only times when I'm trying to deploy a flexipage. Doesn't seem to matter what kind of flexipage or what the content is.

My directory structure is:

* root
  * codebase
    * package-name
      * feature-name
        * flexipages
          * XXX.flexipage-meta.xml

('package-name' and 'feature-name' are generic to my example).

running:

`

[2019-08-09 17:44] patmcclellan commented on #94
@kcappieg Thanks for the info. I checked my .forceignore file and i have `
**flexipages` in the ignore list, so that's not it for me. That idea got me checking other things, so I've tried ignoring lots of things, including:
[code]
Still get the same error.

Since this started happening after I had done a big git merge, I started looking for any errant remnants of the merge conflict resolution... s

[2019-08-09 17:58] patmcclellan commented on #94
I found [this post on Stack Exchange](https://salesforce.stackexchange.com/a/251834/51499) related to the same error message. He says he fixed it by correcting some corrupted code in the `sourcePathInfos.json` file for his scratch org.

I looked at that file for my situation, and that file is nearly 31k lines long, with a file path string repeated twice literally every 20 lines. They all look inta

[2019-08-09 19:16] patmcclellan commented on #94
**FIXED IT!** @clairebianchi
I found that I could do a `sfdx force:source:deploy -p _filepath_` on individual files and on directories. So, I started at the top and worked my way down.

`sfdx force:source:deploy -p force-app/main/default` = same error
`sfdx force:source:deploy -p force-app/main/default/applications` = success
`sfdx force:source:deploy -p force-app/main/default/appMenus` = success

[2019-08-09 20:04] kcappieg commented on #94
@patmcclellan Unfortunately that doesn't help my problem very much. As far as I can tell the flexipages are formatted correctly.

It's not strictly required that I have to source-track them, but without them that means my packages that track objects can't specify a default View override, meaning I have to make sure a particular page is the default for all relevant apps. Not the end of the world, b

[2019-08-09 20:11] patmcclellan commented on #94
@kcappieg Based on this error and what I've learned, I suspect there's something corrupted in one of the files, rather than a general issue with deploying flexipages. Try this... go through your flexipages one by one and see if it'll deploy. Use the file path, like this:

`sfdx force:source:deploy -p codebase/package-name/feature-name/flexipages/[whatever].flexipage-meta.xml`

See which ones cause

[2019-08-09 20:30] kcappieg commented on #94
Well, that was insidious...

It was not any one flexipage, but rather the fact that the feature directory was named "documents". I have a feature that involves storing documents in a cloud storage location. It was only debugging SFDX CLI code that I found that for some reason flexipages were getting mistaken as Document metadata types.

So I agree with @patmcclellan 's conclusion: we need better e

[2019-08-09 21:07] rvwatch commented on #94
Finally managed to get a repro on this one via static resources. Thanks, @patmcclellan & @rendall ! I'm going to dig into this one a bit more and see if I can get the error message updated. The missing meta.xml file appears to generate a proper message but not so much vice-versa. It's tricky as apparently this only happens with certain types. Should have an update for this one fairly soon.

[2019-08-09 21:35] rvwatch commented on #94
### Steps To Reproduce:

1. Create a scratch org from an existing or new sfdx project.
2. Create a new static resource from the UI of the new scratch org. (`sfdx force:org:open`)
2. Run `sfdx force:source:pull `
3. In your local project files, delete the static resource file itself but leave the generated meta.xml reference for that file in place.
4. Create a new scratch org
5. run `sfdx force:sou

[2019-08-09 21:44] patmcclellan commented on #94
That will exactly reproduce my issue, however, I suspect this vague error message may apply more broadly... perhaps whenever there's a meta-file without a matching source file? And then, also, when there's something actually wrong with the path (but the error message should be more prescriptive on WHERE that path parameter is bad).

[2019-08-09 21:53] rvwatch commented on #94
Interestingly, I tried this with several different types and usually received much more helpful error messages. Trigger types, for example, generated a useful message. It wasn't until we used a static resource that it finally reared its ugly head.

[2019-08-09 22:11] KrisGraySFDC commented on #128
Excellent!

Glad it worked well, let me know if I broke anything. :)

On Fri, Aug 9, 2019 at 3:58 AM Christian Szandor Knapp <
notifications@github.com> wrote:

[2019-08-12 14:44] erocheleau commented on #94
Hopefully this may be useful to someone:

I had the same or a very similar issue:
`ERROR running force:source:push: The "path" argument must be of type string. Received type object`

I checked on another stackexchange question :
https://salesforce.stackexchange.com/questions/251815/sfdx-error-path-must-be-a-string-received-null
And the response mentionned checking if any of the path had been corru

[2019-08-13 13:48] jefersonchaves opened #158 "Unable to push static resource to scratch org after v46.6.0"
### Summary

I have a static resource in folder format and a single file, both of them fail to be pushed once I upgrade from v46.6.0 to any further version.

### Steps To Reproduce:

1.  Create a static file named singeFile (add its respective -meta.xml).
1.  Create a folder with some files on it named zipFile (add its respective -meta.xml)
1.  Create a scratch org.
1. Push the code.

### Expected

[2019-08-13 21:00] clairebianchi commented on #146
Hi @ImJohnMDaniel we are doing a big error message bash soon and I will add this to the list

[2019-08-13 21:05] clairebianchi commented on #147
@gyadav4 you can set an environment var to SFDX_MDAPI_TEMP_DIR to a directory on your computer and run the command. then open the zip file in that folder on your computer and you can see what is in the package.xml

[2019-08-13 21:10] clairebianchi commented on #151
@tbg-jasonfung run DEBUG=* sfdx force:source:retrieve with whatever other params you want to add and that will give you the stack trace.

[2019-08-14 01:08] #149 closed, assigned to nobody

[2019-08-14 01:11] ImJohnMDaniel commented on #146
Thanks @clairebianchi for the update.

[2019-08-14 15:06] fischerp opened #152 "Symbolic link no longer working"
### Summary

Symbolic links are no longer working, at least they are not when using salesforce-cli v46.9.0.
It does work when using version 46.6.0.

The deployment process started throwing all sort of errors:
In field: page - no ApexPage named CLASS found
The specified Static Resource is not a valid zip file
Required field is missing: content
Component c:COMPONENT_NAME does not exist
It turned out

[2019-08-14 17:09] santiagobermudezparra commented on #33
i have this issue with AuraDefinitionBundle
1)sfdx -v:
          sfdx-cli/7.19.0-c5be43915c win32-x64 node-v10.15.3
2)sfdx plugins:
no plugins installed

[2019-08-14 19:43] DougYounger commented on #221
I have the same issue with \C:

[code]

[2019-08-19 13:15] amarkulkarni-RC commented on #74
I'm having the same issue.. Is there any workaround for this? @smerakm

[2019-08-20 06:49] baksale opened #153 "sfdx force:package:install --package to accept LATEST placeholder"
**Is your feature request related to a problem? Please describe.**
In many CI/CD activities it is required to install latest package version (e.g. in java world there is a -SNAPSHOT placeholder which guarantees latest version).
We'd like to have the same with dx packages.
https://salesforce.stackexchange.com/questions/273531/sfdx-command-to-find-the-latest-package-version

**Describe the solution

[2019-08-20 10:07] keirbowden commented on #62
We're seeing occasional problems where the force:source:push command doesn't return, although we can see from the deployment status in the org that it has completed some time ago. In order to proceed we have to kill the command, but it appears that it is stuck prior to making the tracking changes, as the next time we run force:source:push it does the whole codebase again. Having a way to be able t

[2019-08-20 17:37] smallbellows commented on #223
Yes, I'm also getting this issue, even within just a single package. We have a custom label referred to in an lwc's js file and pushing to a new scratch org is consistently failing.

sfdx-cli/7.19.0-c5be43915c darwin-x64 node-v10.15.3

[2019-08-20 18:13] Kxviswa opened #154 "Unable to retrieve LWC with manifest"
### Summary

Not able to retrieve LWC with manifest

### Steps To Reproduce:

Do the following in VS code.

1.  Create a project with Manifest.
2. Authorize the org.
3. Right click on package.xml in manifest folder and Retrieve Source in Manifest from Org

The following command also resulted in same error

sfdx force:source:retrieve --manifest ~/Documents/workspace/IT/manifest/package.xml

### Exp

[2019-08-20 21:41] #147 closed, assigned to nobody

[2019-08-21 01:53] jcaughie commented on #74
@smerakm the workaround listed at the bottom of this thread worked for me. [https://developer.salesforce.com/forums/?id=9062I000000IFKyQAO](https://developer.salesforce.com/forums/?id=9062I000000IFKyQAO)

[2019-08-21 15:26] PadhmaPriya commented on #123
I'm facing the issue in SFDX version - sfdx-cli/**7.20.1**-d88ae4707c win32-x64 node-v10.15.3
See the below error following the command - sfdx force:source:push -f --json --loglevel INFO

{
    "status": 1,
    "result": [
        {
            "error": "Unknown"
        }
    ],
    "name": "DeployFailed",
    "message": "Push failed.",
    "exitCode": 1,
    "commandName": "SourcePushCommand",

[2019-08-22 08:25] PadhmaPriya opened #155 "sfdx force:source:push failed"
I'm facing the issue in SFDX version - sfdx-cli/**7.20.1**-d88ae4707c win32-x64 node-v10.15.3
See the below error following the command - **sfdx force:source:push -f --json --loglevel INFO**

{
    "status": 1,
    "result": [
        {
            "error": "Unknown"
        }
    ],
    "name": "DeployFailed",
    "message": "Push failed.",
    "exitCode": 1,
    "commandName": "SourcePushCommand

[2019-08-22 18:11] ChuckJonas opened #233 "Allow Output path for sfdx force:source:retrieve"
**Is your feature request related to a problem? Please describe.**
It would be nice if you could specify a different root output path when running `sfdx force:source:retrieve`.

This would allow you to pull down source from multiple orgs and compare them

**Describe the solution you'd like**

Add a optional param (--retrievetargetdir  -r) which would allow you to specify the result path.

**Descri

[2019-08-23 08:22] FabienTaillon commented on #138
I noticed there is a "FIX: You can use the same name for a Salesforce DX project and Lightning web component." in the [release notes](https://developer.salesforce.com/media/salesforce-cli/releasenotes.html) of the v46.10.1.

I tried and it's working now, closing the issue.

[2019-08-23 08:23] #138 closed, assigned to nobody

[2019-08-23 17:45] clairebianchi commented on #155
@PadhmaPriya can you provide more information on what you are trying to push? Also please add the version of your CLI.

If you run the command with `--dev-debug` and send us the output we might be able to get a little more information.

I agree that this error is not helpful, hopefully, we can get it fixed soon.

[2019-08-23 17:52] clairebianchi commented on #81
@ImJohnMDaniel I have this on our backlog and hope to get it picked up by the end of September

[2019-08-23 18:00] tnoonan-salesforce commented on #152
So you have a valid SFDX project that contains a symbolic link to other Salesforce metadata?

Can you provide a very simplified set of steps to set up this scenario?

More details than 'Add a symbolic link to your project'. Whats does the symlink point to? How did you create the symlink? Whats the owner, group, and permission? Where in the project is the symlink created?

[2019-08-23 18:16] davidknoll commented on #152
My project was originally arranged as I saw fit and deployed piecemeal with change sets. The SFDX side I retrofitted on top with a bunch of symlinks to the actual classes etc.

[2019-08-23 19:02] dmgerow opened #156 "sfdx force:source:deploy with specified manifest having specific fields deploys everything in the local object folder"
### Summary
When using the org development model, the salesforce cli will deploy the entire object file if you specify a package.xml specifying child components of that object (ValidationRule,CustomField,etc.).

### Steps To Reproduce:

Scenario: You want to deploy a single custom field from your workspace (that is in dx format) to a Sandbox (org development model).

1. You make a package.xml in t

[2019-08-24 00:06] clairebianchi commented on #154
@Kxviswa we are not seeing this issue on our side. Can you please run the command with `--dev-debug`

I does the -m LightningComponentBundle work?

[2019-08-24 18:09] ImJohnMDaniel commented on #81
@clairebianchi -- Thanks for the update.

[2019-08-26 16:42] Szandor72 opened #159 "force:mdapi:deploy does not work with windows file path"
### Summary

_Short summary of what is going on or to provide context_.
![image](https://user-images.githubusercontent.com/16804218/63706891-ce802200-c830-11e9-9393-1bfee9c90606.png)

### Steps To Reproduce:

1.  Try force:mdapi:deploy on a windows machine using windows file path notation
2. notice: '/' works as folder delimiter and '\\\\' (double back-slash, 'escaped' backslash) works but not the

[2019-08-27 05:13] fischerp commented on #152
Hi @tnoonan-salesforce,
I'm using VS code and Mac OS, but here are the steps: I can provide you the project, but there is nothing special, please let me know if you still need it.

1. Create a new SFDX project
2. Create a scratch org
3. Login on this scratch org to create a class called hello.cls
4. On VsCode, pull changes to your local project
5. Move this class and its metadata to a folder on yo

[2019-08-27 16:37] Kxviswa commented on #154
@clairebianchi  I executed both the commands with --dev-debug. The following are the errors that I got.

**sfdx force:source:retrieve --manifest ~/Documents/workspace/IT/manifest/package.xml  --dev-debug**

ERROR running force:source:retrieve:  Cannot read property 'fileName' of undefined
*** Internal Diagnostic ***

TypeError: Cannot read property 'fileName' of undefined
    at Function.getMetada

[2019-08-28 13:15] jamesmelville opened #160 "force:package:install --publishwait does not wait for package to become available"
### Summary

We have a CI script which creates a new package and then directly installs it to an org. Often, this fails with the error:

[code]
This is despite our command using the `force:package:install` command with `--publishwait` argument

### Steps To Reproduce:

1.  Publish a new package version
1.  Immediately attempt to install this package version in another org using `force:package:inst

[2019-08-28 14:45] kreynen commented on #52
@a-db That was my issue as well, but the package.json was from something unrelated to Salesforce.  If project creation fails 100% of the time when attempting to create a new project in a directory hierarchy that already contains a package.json at a higher level, it really seems like something the plugin should check for and return a usable error vs. just spitting back `SFDX: Create Project failed

[2019-08-28 19:53] justin-lyon opened #161 "Converting from secondary source path includes metadata from default force-app"
### Summary

I'm working on a script for Incremental Deployment using SFDX.

Using Git and Bash, I create an Incremental directory that contains a copy of /force-app with only the files that have changed based on a `git diff <commithash>..HEAD`

This new directory is at `./incremental/force-app/`

In my scenario:
The Incremental contains lwc, objects, pages, static resources.

After conversion, my

[2019-08-28 20:22] ImJohnMDaniel opened #162 "QUESTION -- Why does force:package:installed:list need project?"
Quick question.  Why is it that the `force:package:installed:list` command needs to be executed in a SFDX project?  What from a project does it need to execute?  The command only accepts one flag and that is the targetusername flag.

[2019-08-29 07:27] KevinGossentCap opened #163 "plugin install not working behind proxy and npm mirror"
Hi,
I've been struggling trying to install sfdx plugins behind a corporate proxy needing npm registry to be mirrored.
My npm parameters are set and I can install any package from registry.npm.org but when trying with "sfdx plugins:install" I only receive an "error 407".
How to fix that without asking the company to reduce the security settings ?
How to have the "sfdx plugins:install" to use the np

[2019-08-29 07:44] KevinGossentCap commented on #163
Just to complete tech info:
- Windows 10
- node 10.16.3
- sfdx-cli installed through npm

sfdx plugins --core
@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.5 (c

[2019-08-29 10:30] tnoonan-salesforce commented on #163
Do you have the http_proxy and https_proxy set?

https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli_firewall.htm

[2019-08-29 12:08] justin-lyon commented on #161
Disregard.

I re-ran after `rm`ing the two directories, incremental and mdtapi, and it worked fine.

Looks like I just had some stale metadata in the mdtapi folder from a previous execution.

[2019-08-29 12:08] #161 closed, assigned to nobody

[2019-08-29 13:06] KevinGossentCap commented on #163
Hi, I have the environment variables set.
I tried setting them in NPM also.
It never works.
Again, with pure npm , package install work, it's only through "sfdx plugins:install" as if it's trying to force its own conf instead of relying on npm parameters to deal with it.

to explain the company constraints:
- no direct internet connexion
- internet connexion through a proxy
- npm, maven, etc. have

[2019-08-29 17:42] baksale commented on #163
Hi Kevin,
407 error means that you corporate proxy requires username and password to be passed to the proxy when trying to access a url from CLI. (search for NTLM proxy issue)

We had exactly same proxy issue.

You can address it via a proxy tool which will take you system credentials and pass it to the corporate proxy (similar to what other tools do, e.g. your browser on corporate machine)

This

[2019-08-29 23:04] NikVerse commented on #221
Same issue, I moved Report from Public Folder to New Custom Folder.
![image](https://user-images.githubusercontent.com/14296064/63982198-0aeba080-cb05-11e9-8f5b-844c07500e5a.png)

[2019-08-30 07:26] KevinGossentCap commented on #163
Hi @baksale
I do understand the credential part because I already struggled on previous companies with them (and especially with NTLM proxy).
2 points here though
- first, I'm pretty sure it's not NTLM here
- second, if it was completely a credential issue, pur npm install wouldn't work...

Those points makes me continue to think it's a sfdx-cli issue.
I'd like to help dip it because if the sfdx-c

[2019-08-30 07:39] baksale commented on #163
Completely agree with you - it would be much easier if it works out of the box.

It might be the case, node.js registry is white-listed on your corporate proxy, so it bypasses username/pass.

In our case it solved the issue - we couldn't wait for a proper fix since it blocked a lot of people.

Nevertheless, have you tried the suggested approach with additional local proxy in the chain?

[2019-08-30 08:33] KevinGossentCap commented on #163
@baksale I will test it but I already see a problem with it => it will force proxy everything instead of doing the right thing only for what's needed, so other tools will not work anymore...

[2019-08-30 08:35] KevinGossentCap commented on #163
@baksale also, the registry is mirrored internally to reduce internet usage and install time for same packages, that's what I'd like sfdx-cli to use exactly as npm if it's using the same procedure.

[2019-08-30 09:13] hungngit2 commented on #155
I'm facing force:source:deploy error with run test class. Please refer log below:

PS D:\workspace\doJenkins\sfdx-jenkins> sfdx force:source:deploy --manifest manifest/package.xml --json --targetusername sfdx-jenkins --testlevel RunSpecifiedTests --runtests skedJenkinsDemo_test --verbose --loglevel fatal --dev-debug
  @oclif/config reading core plugin D:\PCUsers\skedUser\AppData\Local\sfdx\client\

[2019-08-30 10:09] fischerp commented on #152
I'm afraid you will not be able to reproduce on Windows, but people have reported same thing on Mac Os and Linux.
Note: 100% of our developers are getting exactly the same problem.

Here is the project that I've created:
https://github.com/fischerp/sfdxFileSymbolicLink

[2019-08-30 10:53] jamesmelville opened #164 "force:source:push Error on deleting Reports / Dashboards and Containing Folders"
### Summary

SFDX appears unable to handle deletion of reports and dashboards & containing folders

### Steps To Reproduce:

1.  Include a folder containing a dashboard in your repository
1.  Include a folder containing a report in your repository
1.  Deploy / retrieve this so source and scratch org are synced
1.  Delete the dashboard and the dashboard folder locally
1.  Delete the report and the

[2019-08-30 11:01] jamesmelville opened #165 "force:source:push Error on deleting Reports"
### Summary

SFDX appears unable to handle deletion of reports from Windows client

### Steps To Reproduce:

1.  Include a folder containing a report in your repository
1.  Deploy / retrieve this so source and scratch org are synced
1.  Delete the report locally
1.  force:source:push

### Expected result

Report deleted from scratch org.

### Actual result

[code]

### Additional information

Issu

[2019-08-30 16:12] KevinGossentCap commented on #163
for information and to help finding a solution that could use npm registry overriding, here is how I managed to overcome my problem without installing a proxy:
- npm i -g yarn (install yarn)
- npm config set registry (your registry mirror) -g
- yarn config set registry (your registry mirror) -g
- create a project folder to receive your plugin
- cd to the project folder
- yarn add [pluginName] (bec

[2019-08-31 08:33] kaushr commented on #78
@reidaelliott I get the same error with sfdx-cli/7.22.0-de5c6ecff8 darwin-x64 node-v10.15.3

sfdx force:source:retrieve -x "/Users/kaush/Workspace/EA Templates/EAApp/manifest/package.xml"
ERROR running force:source:retrieve:  Cannot read property 'getWorkspaceElements' of undefined
MacBook-Pro-38:EAApp kaush$ sfdx -v
sfdx-cli/7.22.0-de5c6ecff8 darwin-x64 node-v10.15.3

Only happens when I add Wave

[2019-08-31 15:54] RupertBarrow opened #234 "sfdx force:auth:web:login -r https://partners.salesforce.com/services/auth/sso/partnerCommunity does not return"
### Summary

sfdx force:auth:web:login -r https://partners.salesforce.com/services/auth/sso/partnerCommunity does not return.
Login works correctly in the browser but the CLI stays in waiting mode.

### Steps To Reproduce:

1.  > sfdx force:auth:web:login -r https://partners.salesforce.com/services/auth/sso/partnerCommunity

### Expected result

Normally, after successful login, the CLI displays a

[2019-09-02 03:22] ashwini-raman opened #176 "force:org:delete: this.org.getSandboxOrgConfigField is not a function"
When running the sfdx force:org:delete -u TARGETUSERNAME, I get the following error:
**ERROR running force:org:delete:  this.org.getSandboxOrgConfigField is not a function**

This command used to work earlier, but it started throwing this error a few days back. Updated sfdx CLI version, but that didnt help.

I am on _sfdx-cli/7.22.0-de5c6ecff8 darwin-x64 node-v10.15.3_ version

[2019-09-02 07:51] KevinGossentCap commented on #163
@tnoonan-salesforce @ntotten Does my explanation help drill down the way the SFDX-CLI is doing and help find a way to make it standard without my workaround ?
I can definitely help testing things on the subject

[2019-09-02 13:33] gaelmotte commented on #221
OK, so basically un unescapped `\` ruins everything.

[2019-09-03 08:39] kvor opened #166 "force:source:push pushes all files and not modified ones"
### Summary

sfdx force:source:push

### Steps To Reproduce:

1.  User creates a scratch org.
1. User modifies existing class MyClass.cls.
1.  User pushes files changes sfdx back to scratch org, by running force:source:push.

### Expected result

Modified  class (MyClass.cls) should be pushed.

### Actual result

Only MyClass.cls should be pushed.

### Additional information
Noticed after upgradin

[2019-09-03 10:58] PadhmaPriya commented on #155
@clairebianchi , Thank you for your response. I'm trying to push almost everything from the prod org to scratch org using Bamboo plan. So my bamboo plan will create a scratch org and push the metadata to the newly created scratch org and ready for use for the developers.

Using mdapi to convert to metadata. One of the problems I found is in the installed package as it is creating the mdt with doub

[2019-09-03 13:00] reidaelliott commented on #78
I saw this note : uninstalled SFDX CLI and reinstalled it and retrieve started working. Before I uninstalled it, I had @salesforce/analytics in the plugins along with analytics. After reinstalling I now have just analytics. I suspect @salesforce/analytics was an old plugin maybe?
"

Some people have had to uninstall and reinstall sfdx to force update the version. @salesforce/analytics is a separat

[2019-09-03 14:03] Andrews-Consulting opened #167 "force:source:deploy fails with ENOENT -4058"
Behavior:
1) Deploying LWC and Aura components via command pallete failed to produce the "deployed source" response.
2) Entered the command in the CLI and received an ENOENT error (-4058), "No such file or directory"

Relevant Notes:
3) I am deploying to a "demo/trial org" created from a partner account.
4) The attached trace file shows the directory created (potentially as a plain directory), fil

[2019-09-03 16:25] reidaelliott commented on #78
someone else just hit this too and running 'sfdx:plugins update' should get everything working too.  We also just released a new version 0.8.0 of @salesforce/analytics with some new features

[2019-09-03 19:42] jamesmelville commented on #160
Workaround:
Instead of using `--publishwait`, implement your own polling mechanism which checks for status `NO_ERRORS_DETECTED` before you run `sfdx force:package:install`. Basic `sh` script requiring sfdx and jq:
[code]

You might see an output like this before the script continues:
[code]

[2019-09-03 20:41] clairebianchi commented on #158
@jefersonchaves, Just to be sure, you were able to push the file before? using the same command? Also how large is the file?

[2019-09-03 20:46] clairebianchi commented on #166
@kvor is the issue that the Push is taking a long time?

[2019-09-03 20:52] clairebianchi commented on #154
@Kxviswa, can you submit a case with support? This looks unique to your setup.

[2019-09-03 20:52] #154 closed, assigned to nobody

[2019-09-03 20:57] clairebianchi commented on #155
@PadhmaPriya  it looks like there are required fields for some of your MD that you are not trying to deploy. Also, Scratch orgs are not best for creating an exact copy of your prod org for development.  If you are trying to recreate your prod org and that org is very large you will probably run into issues.

My last suggestion would be to check all your org permissions and settings to make sure th

[2019-09-03 20:57] #155 closed, assigned to nobody

[2019-09-03 21:01] jefersonchaves commented on #158
Hi @clairebianchi: yes, I'm able to push the file before. It is in an uncompressed folder and gets pushed by sfdx as a static resource as usual.

I just triple checked with a brand new project, and now I think this is actually related to #152, because the problem is also that this static resource is assembled with symbolic links - the reason I'm doing that is to be able to share code between Manag

[2019-09-03 23:19] Kxviswa commented on #154
@clairebianchi Thanks will do.

[2019-09-04 06:40] kvor commented on #166
@clairebianchi Yes one big issue is this. The other one is that force:source:push output is spammed with all pushed (which were not modified) files.

[2019-09-04 13:55] hagai-shatz commented on #78
I'm getting the same error using sfdx-cli v7.22.0 and analytics plugin v0.8.0

[2019-09-04 14:00] reidaelliott commented on #78
interesting, and this is for a wavetemplatebundle metadata type?  This was fixed in the core sfdx-cli has nothing to do with the analytics plugin, but seems like your on the latest versions of both.

[2019-09-04 14:04] hagai-shatz commented on #78
Yes, taking part in analytics workshop today and updated/installed everything.
Terminal command and output:
[code]

[2019-09-04 14:06] reidaelliott commented on #78
I'd like to get a copy of this metadata to see if I can reproduce.  Is it easily available?  What if you run with just sfdx force:source:retrieve -m WaveTemplateBundle

[2019-09-04 14:09] hagai-shatz commented on #78
It is on an analytics playground org, I can send you the login in private.
Same error when executing `sfdx force:source:retrieve -m WaveTemplateBundle`

[2019-09-04 14:12] reidaelliott commented on #78
Thanks.  are you currently in the class with Skip Sauls?

[2019-09-04 14:15] hagai-shatz commented on #78
Yes, I am.

[2019-09-04 14:19] reidaelliott commented on #78
I think he hit the same problem and somehow was able to get around it, check with him.  He can get me the reproducer too if necessary

[2019-09-04 14:41] hagai-shatz commented on #78
Talking to Skip, I get the same message below every time I run `sfdx plugins:update`
[code]

[2019-09-04 14:55] reidaelliott commented on #78
thanks. we'll get that updated should just be a warning.  and also reproduced the getWorkspaceElements error so will look into it.  It seems the retrieve does work regardless of this error so hopefully not a blocker.

[2019-09-04 15:00] hagai-shatz commented on #78
We use Illuminated Cloud 2 plugin for IntelliJ IDEA, not Visual Code, and the error is failing the process in our case.
No rush, we just exploring the options at the moment. Thanks.

[2019-09-04 15:34] vmarasow opened #168 "Retrieving metadata modifies xmlns"
### Summary

_When retrieving metadata that was created using the cli the org is modifying the xmlns of the meta.xml file_.

### Steps To Reproduce:

1. Create a new apex class using the CLI.
2. Deploy the class to an org.
3. Retrieve the class from the org.
4. The class.cls-meta.xml file will be changed.

### Expected result

_The meta file values should be consistent across sfdx commands_.

###

[2019-09-04 18:37] zerkz commented on #41
Any update on this yet? I can't convert a project to SFDX until this is fixed. Maybe adding a dummy custom label is a possible workaround? Does it fail if you have 2 labels defined? will try this out...

[2019-09-04 19:47] reidaelliott commented on #78
fix was made today for sfdx force:source:retrieve of waveTemplateBundles - it should roll out tomorrow

[2019-09-06 12:17] fischerp commented on #158
This bug has been accepted by Salesforce.
Bug Number #W-6535313

[2019-09-06 12:18] fischerp commented on #152
This bug has been accepted by Salesforce.
Bug Number #W-6535313

[2019-09-06 13:20] BenhuiChen opened #169 "Bug by source:deploy and source:convert for static resources that have more than 5 level subfolders"
We've found a bug by sfdx CLI Linux version (sfdx-cli/7.23.1-ced0ec4940 linux-x64 node-v10.15.3)  while using source:deploy to deploy static resources to non-scratch-org.

Issue:
If a static resource has more than 5 level subfolders, contents of 5th level (and afterwards) will not be deployed using source:deploy.

This error occurs even by source:convert, the converted static resource in Metadata

[2019-09-07 01:17] metadaddy opened #170 "Can't create Site in Enterprise Edition scratch org"
### Summary

I'm creating a scratch org, and I need to enable a Site. This works for Developer Edition, but fails for Enterprise Edition.

### Steps To Reproduce:

Boris Bachovski gave the following recipe in a [Salesforce Stack Exchange answer](https://salesforce.stackexchange.com/a/258261/67):

[code]

This works just fine for me, BUT, if I change Developer to Enterprise, I get the following err

[2019-09-07 08:00] hagai-shatz commented on #78
Working with sfdx-cli 7.23.1

[2019-09-09 03:59] elvisleonm commented on #33
SfdxError: You must specify the Aura bundle folder, not an individual component.

[2019-09-09 07:36] krishnas2 opened #171 "source:convert source:push sfdx source command "Path" variable not a string :: Misleading error message"
### Summary

_If we miss out a static resource file and have resource meta xml then we get this error  _.

### Steps To Reproduce:

1. check for any meta-xml references and delete the actual file and continue to have resource meta xml.
2. try source:convert or source:push or any command you will land in error "Path" variable not a string

### Expected result

_Probably a a better error message is

[2019-09-09 17:13] fushen16 commented on #41
Please fix it. It blocks our SFDX project and forces us to do manual workaround.

[2019-09-09 17:17] ikopyl commented on #41
Here is what works for me:

to pull from a Sandobx/Org:
[code]

to push to a Sandbox/Org:
[code]

– not great, not terrible, but it does the job.

[2019-09-09 17:31] fushen16 commented on #41
@ikopyl thank you. It works!

[2019-09-09 19:07] vc4u commented on #110
Any chance it could be fast-tracked? :-)

[2019-09-10 00:07] clairebianchi commented on #110
This is a larger issue about how Push and Pull work with deploy and retrieve. We will be doing a spike on how to clean up this experience. The team is currently focused on other features and improvements and I can not give you a timeline on when we will pick up this work.

[2019-09-10 07:52] mnunezdm opened #172 "Deploying Entitlement Settings file to Winter' 20 org fails with invalid property"
### Summary

I have an Entitlement.settings file from API 46.0 (https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_entitlementsettings.htm). When trying to deploy that file into an organization in API 47.0 I receive an error of unsupported property.

Currently, the file does not contain that property.

I have tried deploying it forcing to use the latest API (with --apive

[2019-09-11 12:02] kvor opened #173 "Different namespace between sfdx force:apex:class:create and sfdx force:source:pull"
### Summary

Namespace of xml  file changes if we create it using sfdx, push it to scratch org, modify it and pull it back.

### Steps To Reproduce:

1.  Create a class: sfdx force:apex:class:create -n FooClass
1.  Push it to scratch org: sfdx force:source:push
1.  Modify FooClass in scratch org
1.  Pull sources from scratch org: sfdx force:source:pull

### Expected result

Metadata file when was

[2019-09-11 15:29] daveespo opened #174 "Glacial performance of package generation in force:source:deploy"
### Summary

We are attempting to migrate our large project repository (3000 metadata files) to source format and use force:source:deploy to continue to deploy to our fleet of UAT, QA and Packager orgs (none of which are scratch orgs) after the conversion. Historically, we use the Ant migration tool and a deploy takes about 3 minutes. We're now finding that force:source:deploy of the same project

[2019-09-11 15:58] daveespo commented on #174
I realize I neglected to put the actual command I'm running in the Repro steps so here it is:

`sfdx force:source:deploy -p force-app --verbose --loglevel trace`

And this is the relevant snippet of log output from sfdx.log .. some what redacted for safety

[code]

[2019-09-11 15:58] mnunezdm commented on #172
After some further testing...

We have noticed that when converting to mdapi format, and specifying the api version in the package xml whe manged to deploy without errors.

These are the contents of both two files

package.xml

[code]

Entitlements.settings

[code]

So seems to be a problem with sfdx force:source:deploy, that does not take into consideration the API version specified

[2019-09-11 21:29] daveespo commented on #174
Alright, I've done more debugging on this than I care to admit. I upgraded my CLI to the latest plugins so now I'm

[code]

I cracked open the source code and have tracked this down to the implementation of `_doLocalDelete` in `SourceDeployApi` (`salesforce-alm/dist/lib/source/sourceDeployApi.js`)

I doctored up the method and the major tax is the call to `PathUtils.cleanEmptyDirs`

[code]

cleanE

[2019-09-11 23:04] jtomtran commented on #174
I experienced the same problem. Source conversion from MDAPI to DX source took 20-40 minutes on 100% CPU.

It gets worse when we convert over an existing populated DX source. For example, if we convert a MDAPI package to an empty DX project, it took 20 minutes. If we do the same conversion the 2nd time (this time the DX project is already populated with lots of metadata from the previous conversio

[2019-09-11 23:55] clairebianchi commented on #174
@daveespo Thank you for digging into this so deeply. I am sorry that it taking such a long time for the convert. I will have someone on our side take a look.

[2019-09-12 00:28] clouddevsf opened #175 "Running multiple SFDX conversion commands concurrently"
We have Jenkins setup where it is possible to have multiple builds running concurrently (for different DX projects) on the same machine. The only SFDX commands that we use are force:mdapi:convert and force:source:convert.

So far we have not noticed any issues but wanted to ensure that there are no potential internal lockings between the concurrent command executions.

I am aware of the various co

[2019-09-12 07:38] rendall commented on #233
I second this / vote for this if I'm understanding the OP correctly.

Not only should it be a flag option on the command line, I believe that it should either use the `packageDirectories:path` setting, or another key / value in `sfdx-project.json`.

My experience is that `retrieve` will always put source code into `./src/main/default` (or so) irrespective of the `sfdx-project.json`  `packageDirect

[2019-09-12 07:47] rendall commented on #219
Hi @RedaBenh

I'm a fellow user who just happened to see this post. The error message is very similar to this (now closed) issue, so I wonder if the work-around solution might be similar:

https://github.com/forcedotcom/cli/issues/94#issuecomment-495123248

It appears that sometimes that error message happens when there are `meta-xml` files without a corresponding resource file.  See the link and

[2019-09-12 19:43] daveespo commented on #174
Just for further context: We're only seeing this performance problem on Windows -- on Linux and OSX, the duration of the `_doLocalDelete` is somewhere under a minute.

[2019-09-12 19:59] baksale commented on #176
Are you sure it tries to delete scratch org and not a sandbox?
Please check force:org:list

[2019-09-12 22:49] tnoonan-salesforce commented on #174
Good catch I have a fix.

[2019-09-12 22:56] jtomtran commented on #174
My performance issue is with Linux. @tnoonan-salesforce does the fix address Linux and also the fact that conversion from MDAPI to DX source is much slower the 2nd time ? (ie. due to duplication detection because conversion run in a DX project that already has source).

[2019-09-12 23:15] tnoonan-salesforce commented on #174
On my mac without my fix a 3K item deploy took over 6 minutes. With my fix it was 2 minutes 27 seconds.

[2019-09-12 23:16] tnoonan-salesforce commented on #174
The problem isn't OS-specific.

[2019-09-13 17:46] clairebianchi commented on #172
@mnunezdm can you send the structure of the command you are using?
Also, have you installed the pre-release version of the CLI? Pre-Release uses the next version of the API.

To install:

`sfdx plugins:install salesforcedx@pre-release`

Make sure that you have the pre-release version.

[code]
When we officially release v47 on October 12, 2019, uninstall the pre-release, then update the CLI.

[code

[2019-09-13 17:52] clairebianchi commented on #171
@krishnas2  can you run with --debug and provide us with the output?

[2019-09-13 17:56] clairebianchi commented on #175
@clouddevsf you can target different user folders per job by retargeting $home so you are sandboxing the home folder. Then you should not have to worry about locking problems

[2019-09-13 17:56] #175 closed, assigned to nobody

[2019-09-14 10:36] krishnas2 commented on #171
@clairebianchi here is how this issue can be reproduced.

1. cloned a sample repo and added a simple randomimage as static resource and able to `source:convert`
![ramdomimage](https://user-images.githubusercontent.com/12509913/64906886-07742e00-d72f-11e9-8dd7-c020896aedba.PNG)

2. Now,  **if i remove the actual file and continue to have meta-xml file.** i hit the path error .
**The "path" argument

[2019-09-15 16:21] mnunezdm commented on #172
I just managed to work around this error in workspaces using source format, changing the API version of the sfdx-project.json to 47.0 seems to allow deploying the Entitlement.settings file

Still strange as we are not using any unsupported tag in our Entitlement.settings file

[2019-09-16 01:15] ashwini-raman commented on #176
I am trying to delete a scratch org.

[2019-09-16 12:53] daveespo commented on #174
@tnoonan-salesforce  -- glad to hear there is a fix -- will this also improve the performance of `force:source:push` -- some of my team members have reported similar slowness pushing to scratch orgs

Also, is this fix testable by me today by pulling the pre-release channel into my SFDX  CLI?

[2019-09-16 17:49] tccloudz opened #177 "Support Android OS"
**Is your feature request related to a problem? Please describe.**
I use a terminal emulator app (Termux) on my Android phone. I wanted to use the cli on the phone via the emulator app. I was able to install the CLI using npm, however, whenever I try to run any commands an error is returned stating that the Android is an unsupported OS.

**What are you trying to do**
Be able to run the tool on my

[2019-09-17 09:12] PadhmaPriya commented on #155
Thanks for your response and apologies for the late reply. The production org is a new salesforce org, we just have objects created with the new data model and few packages. I have ignored the packages using .forceignore file. One of the main error I'm receiving is when using MDAPI to convert the metadata to source the sfdx is not creating object but the fields in the objects are created. So push

[2019-09-18 05:20] SaoBiz commented on #57
I think this is a required feature of the CLI for integration with a CI.

I would like to add that not only should the `force:mdapi:deploy` and `force:source:deploy` commands have the option to return test resuts, but also their equivilant `report` commands as well.

[code]

Without this currently in place, is there a workaround to getting the results after the `deploy` command has completed? Or c

[2019-09-18 07:59] VicccccW commented on #176
same issue here, I tried both force:org:delete -u <alias> and force:org:delete -u <xxx@xxxx>, same error.
I am trying to delete a Scratch org, not sandbox

[2019-09-19 01:42] douglascayers commented on #176
I also had this issue when I was on version 7.22. After updating to 7.23 the issue was resolved for me.

For those still reporting the issue, see if [updating](https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_update_cli.htm) your CLI and/or [reinstalling](https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_uninstall.htm) th

[2019-09-19 03:16] douglascayers opened #178 "Add argument to specify "ancestor" with `force:package:version:create`"
**Is your feature request related to a problem? Please describe.**

In a CI/CD setup, I automate the creation of package versions. No developers maintain the `sfdx-project.json` file. We are creating 2GP managed packages and one of the requirements for a new managed package version to be upgradeable in the subscriber org is if the new package version specified an ancestor id.

Currently, the ances

[2019-09-19 03:45] douglascayers opened #179 "Make "versionNumber" optional in sfdx-project.json"
**Is your feature request related to a problem? Please describe.**

In a CI/CD setup, I automate the creation of package versions. No developers maintain the `sfdx-project.json` file.

Once a package version has been promoted/released, no other package version with the same major.minor number can be promoted/released. Our [script](https://gist.github.com/douglascayers/e3a9525729a1b512618adf720e3fb

[2019-09-19 05:05] ChuckJonas opened #180 "The metadata retrieve operation failed: INVALID_TYPE: sObject when adding custom metadata to manifest"
### Summary

After adding CustomMeta to the project manifest, I can no longer retrieve source, due to a CustomMetadata entity in a managed package.

### Steps To Reproduce:

1.  Install zendesk managed package (It likely works with other managed packages which expose custom metadata
1.  Add CustomMetadata to project manifest
[code]
1. run `sfdx force:source:retrieve --manifest my/project/manifest/

[2019-09-19 13:49] ntotten commented on #179
I have passed this feedback along to the packaging team, however this isn't something controlled by the CLI so I am closing this as out of scope.

[2019-09-19 13:49] #179 closed, assigned to nobody

[2019-09-19 14:24] idanblich commented on #180
Look like API issue happen also on workbench see img

![image](https://user-images.githubusercontent.com/1132993/65252783-3b21d000-db02-11e9-8b8f-d6e451448472.png)

[2019-09-19 15:37] douglascayers commented on #179
Hi @ntotten, is the `sfdx-project.json` file not in scope of the Salesforce CLI? The CLI uses that file to drive configuration of CLI commands.

[2019-09-19 23:34] ashwini-raman commented on #176
updating the CLI didnt work for me. Reinstalling the CLI fixed it though.
Thanks

[2019-09-19 23:34] #176 closed, assigned to nobody

[2019-09-20 06:14] rendall commented on #97
This is a bump & upvote.

[2019-09-20 15:19] fischerp commented on #152
It has been fixed on version 46.15.3 (September 19, 2019).

"FIX: On macOS, the temporary zip file created when running force:source:push, force:source:deploy, or force:mdapi:deploy once again contains files that are symbolically linked."
Source: https://developer.salesforce.com/media/salesforce-cli/releasenotes.html

Please close this issue.

[2019-09-20 15:32] jefersonchaves commented on #158
It has been fixed on version 46.15.3 (September 19, 2019).

"FIX: On macOS, the temporary zip file created when running force:source:push, force:source:deploy, or force:mdapi:deploy once again contains files that are symbolically linked."
Source: https://developer.salesforce.com/media/salesforce-cli/releasenotes.html

Closing this issue.

[2019-09-20 15:32] #158 closed, assigned to nobody

[2019-09-21 15:17] maaaaarco opened #181 "force:org:create - Include Scratch Org expiration date"
**Is your feature request related to a problem? Please describe.**
The OrgPicker feature in VSCode rely on the generated file by the _force:org:create_ command to display a list of available Scratch Org. Currently those files do not include the Scratch Org expiration date. Because of these when listing the available Scratch Org I can only see the Org alias and username.

**What are you trying to d

[2019-09-22 15:27] catalandres opened #182 "Allow wildcards in force:source:retrieve/deploy"
**Is your feature request related to a problem? Please describe.**
I am trying to download only the classes related to a project in an org. We have named them consistently with a prefix and we would like to be able to retrieve and deploy only a subset of them. That way we will not risk overwriting another team's progress by deploying a past version of a file unrelated to our project.

**What are y

[2019-09-23 10:56] santosvels commented on #78
Not working on `sfdx-cli/7.25.3-16d54c01ee win32-x64 node-v10.15.3`

`11:42:48.313 sfdx force:source:retrieve -m Territory2:RSS_Territory_2020_UAT.AM_A_G_APAC_ANZ_CORE_3
ERROR running force:source:retrieve:  Cannot read property 'getWorkspaceElements' of undefined
11:43:00.973 sfdx force:source:retrieve -m Territory2:RSS_Territory_2020_UAT.AM_A_G_APAC_ANZ_CORE_3 ended with exit code 1`

Just tried

[2019-09-23 13:34] FabienTaillon opened #2207 "checkScratchOrg fails to use default dev hub username"
### Summary

Running `this.org.checkScratchOrg()` tries to check on the dev hub if the current org is a scratch org or not. However, this commands fails finding the defaultdevhubusername, failing with the following error:
`No AuthInfo found for name MyDevHub`

Running `this.org.checkScratchOrg(this.hubOrg.getUsername())` works fine.

### Steps To Reproduce:

1.  Login to a default DevHub with an a

[2019-09-23 14:35] daveespo commented on #174
Can I assume this was released to the production channel? I'm now seeing way better `sfdx force:source:deploy` times. The build of the zip file now takes about 48 seconds where it previously took 11 minutes!

[2019-09-23 15:09] ghost commented on #118
Hello @britishboyindc,
I've began to work on fixing this but I'm unable to reproduce it. Could you help me by providing maybe an example of your technically correct code that was causing the error, or some more steps to reproduce it?

Thank you

[2019-09-23 16:23] britishboyindc commented on #118
@williamruemmele-sf

So you can see some more commentary on this twitter thread:
https://twitter.com/britishboyindc/status/1139195590120812545

But the issue in this case was that I was trying to embed a lightning form in a <p> tag that was part of a Lightning Card, which is not valid HTML, but the IDE wasn't flagging it as invalid HTML

So when I push this 'bad' component with a few others, I cou

[2019-09-23 16:26] soleger commented on #180
This issue is being tracked in the following Known Issue:

https://success.salesforce.com/issues_view?Id=a1p3A0000003ek8

[2019-09-23 16:37] ghost commented on #118
@britishboyindc so it seemed like your issue was due to a missing closing 'p' tag right? I made an LWC and in the .html I added only an opening 'p' tag and when I tried to deploy I got this error message which diagnosed my issue for me...
[code]

Maybe this has already been fixed but I wasn't able to produce a null file name like in your description

[2019-09-23 16:51] daveespo opened #183 "Decomposed source containing Record Types across multiple package directories are not recomposed back into package.zip properly"
### Summary

We are building a 2GP managed package and we have a SFDX project defined with 2 package directories. The first package directory is `force-app` and it's the default. This is the metadata that we'd like to include in our managed package. The second package directory is `unpackaged` and is all of the other ancillary metadata we need in our scratch orgs in order to test and develop the p

[2019-09-23 17:24] britishboyindc commented on #118
Not a missing tag - illegal markup within the tag. Just tried now, and got same result. See this gist:
https://gist.github.com/britishboyindc/5c0ba99c1bc27ee30740a5725897e48b

Create a brand new component with this markup and push - I get the same error (with the /null) - what's I'd like is the class name or something, even though it has never been deployed (but I realize that might be why the nam

[2019-09-23 17:37] ghost commented on #118
hmmm... interesting. What method/commands are you using to deploy/push?

[2019-09-23 17:38] britishboyindc commented on #118
I use the Illuminated Cloud IDE, so just doing a push as far as I know - let me see what happens if I do a push via CLI

[2019-09-23 17:59] britishboyindc commented on #118
Same issue when pushing via CLI for new (i.e. never deployed component):
$ sfdx force:source:push -u ebikes-lwc
PROJECT PATH  ERROR
────────────  ─────────────────────────────────────────
N/A           LWC1078: <p> has no matching closing tag.
ERROR running force:source:push:  Push failed.

[2019-09-23 18:32] ghost commented on #118
that's so strange. and you're on the newest version of the CLI?

[code]

[2019-09-23 18:51] britishboyindc commented on #118
$ sfdx version
sfdx-cli/7.25.3-16d54c01ee win32-x64 node-v10.15.3

So Win 10 and Iluminated Cloud + Webstorm

Steps:
Create new empty LWC
Add Markup to HTML, JS and Meta as contained in GIST above
Push to scratch org either via CLI or IC Menu Option

[2019-09-23 19:30] ghost commented on #118
It seems to be a windows specific issue, I'll start working on a fix right away. Thank you for helping me troubleshoot.

[2019-09-24 06:50] AQTectonic commented on #78
I am also getting the same error while running
sfdx force:source:retrieve -x Package.xml

[2019-09-24 17:58] reidaelliott commented on #78
It seems like 'getWorkspaceElements' error message can occur with different metadata types.  This thread and what I've fixed is only related to WaveTemplateBundles.  That should be fixed.  It might be most effective to start a new thread for issues with Territory2 .  @AQTectonic I am guessing the members in your package.xml are something besides WaveTemplateBundles?

[2019-09-24 21:07] shliachtx opened #184 "Deploying using `force:source:deploy -m Report` deploys all files with `report` in the name or filepath"
### Summary

Deploying using `force:source:deploy -m Report` deploys all files with `report` in the name or filepath

### Steps To Reproduce:

1. create a a static resource or permissionset with Report in the filename or filepath
1.  run `sfdx force:source:deploy -m Report`

### Expected result

Deploy all reports in source control

### Actual result

Deployed all static resources and permission s

[2019-09-24 21:52] shliachtx opened #185 "`force:source:retrieve` does not list retrieved components"
### Summary

When retrieving `Dashboard` or `Report` metadata components using `force:source:retrieve` the retrieved source files are not listed in the results.

### Steps To Reproduce:

1. Create a report (or dashboard) in a production org
1.  run `sfdx force:source:retrieve -m Report:Folder/ReportName`

### Expected result

Retrieve the source file and list the retrieved report

[code]

### Actu

[2019-09-25 02:13] JonnyPower commented on #81
The behavior here seems to have changed again - it used to be possible to logout and back into the hub to update the cached path to the jwt file, but it now seems like the path to the file at the time of creating an org is also now pinned - and I'm not aware of a way to update that.

[code]

[code]

[code]

This is not every command. `sfdx force:org:open -r -u tpay2-ci-aws-worker-7-iteration-40@tr

[2019-09-25 11:03] genoud commented on #83
Hello @ImJohnMDaniel
A workarround to this issue:
`echo y | sfdx plugins:install sfpowerkit`

[2019-09-25 12:47] ImJohnMDaniel commented on #83
@genoud -- Thanks for the tip.  That is exactly what we ended up doing and what led to this feature request.  ;-)

[2019-09-25 17:56] ghost commented on #92
@SethMagner @rasmuszimmer Are you still experiencing this issue? I'm unable to reproduce it and believe it was fixed in a previous release. Can you verify if it was fixed or not, thanks.

[2019-09-25 18:04] eric-bw commented on #156
has anyone found a workaround? this seems to be saying that we shouldn't be using sfdx for deployments if we dont have fine grained control over object deployments.

[2019-09-25 18:23] rasmuszimmer commented on #92
Haven't seen it for a good while, and have updated CLI a few times since.

[2019-09-25 20:57] leothelocust opened #186 "man pages"
**Is your feature request related to a problem? Please describe.**
No

**What are you trying to do**
Access man pages for the commands rather than only "--help" documentation.

**Describe the solution you'd like**
Create man pages.

**Additional context**
I have created a man page for the `force:auth:web:login` command and can provide that as reference material.

[code]
**Which will render to the

[2019-09-26 15:03] johnzhao9 opened #187 "UNKNOWN_EXCEPTION for Group Edition Scratch Orgs"
### Summary

In the terminal, trying to create a Group Edition scratch org and interact with it with SFDX but getting an unknown exception.

SFDX version is the latest as of now:
[code]

### Steps To Reproduce:

1.  Create a group edition org definition file. The `features` block is optional.
[code]
2. Create the org with `sfdx force:org:create -d 1 -f f.json -a a`
3. Run any command against the c

[2019-09-26 17:51] daveespo commented on #144
@clairebianchi Any updates on this? August has come and gone and so has most of September :-P

[2019-09-26 19:22] daveespo commented on #144
After some hacking, we were able to get the Documents to deploy by *adding* the file extension to the document-meta.xml

For example, for this:

[code]

Our source tree contains:

[code]

[2019-09-26 21:08] daveespo opened #188 "force:source:deploy does not honor destructiveChanges.xml"
### Summary

Our MDAPI project made heavy use of `package.xml` and `destructiveChangesPost.xml` (the sibling to `destructiveChanges.xml`)

When we converted the MDAPI format project to source format, we chose to also continue to use package.xml since it allows us to make up for the lack of source tracking in DE and EE orgs.

However, when using `force:source:deploy` with the `-x package.xml` argum

[2019-09-27 13:22] PadhmaPriya commented on #104
Is this bug fixed? Can I able to get the 0Ho id? If not, Can you please let me know how I can get the 0Ho id? I'm trying to update the package version which has all the necessary details in the config json. However, when I try to create a package version, it reports as: The provided package ID '0HoXXX' is invalid. Am I missing anything? Below is my command:

sfdx force:package:version:create --pac

[2019-09-27 14:45] giraffe81 opened #189 "Error: SHA mismatch"
I am currently having an issue trying to update Salesforce CLI. I have tried updating multiple times but receive the below error:

`C:\>sfdx update
sfdx-cli: Updating CLI from 7.8.1-8f830784cc to 7.26.0-9118501918... !
Error: SHA mismatch: expected bf8d463429df6d7dcb9c0deed09cfcd5aab1b13da9ee3e5dc7
048d7f2287e90b to be 148c0ff783d27224d4e0f41d818245ac7cc1e89ee92d3c66fc84f31bb57
75ffc
    at Incomi

[2019-09-27 17:32] clairebianchi commented on #189
@giraffe81 what is your OS?

[2019-09-27 17:33] clairebianchi commented on #188
We are going to add support for destructive changes in the coming months. Thank you for your feedback.

[2019-09-27 17:33] #188 closed, assigned to nobody

[2019-09-27 17:35] clairebianchi commented on #185
@shliachtx This is a known issue that we are going to fix soon. Currently, the workaround is to use a Windows path separator.

[2019-09-27 17:38] clairebianchi commented on #183
@daveespo We currently do not support multiple package directories in the CLI. We are starting the work to add support in the next release.

[2019-09-27 17:38] #183 closed, assigned to nobody

[2019-09-27 17:40] clairebianchi commented on #180
@ChuckJonas This is a known issue owned by another team. I will pass on your comments, but close this issue

[2019-09-27 17:40] #180 closed, assigned to nobody

[2019-09-27 17:44] #172 closed, assigned to nobody

[2019-09-27 17:45] #170 closed, assigned to nobody

[2019-09-27 17:47] #174 closed, assigned to nobody

[2019-09-27 17:49] clairebianchi commented on #167
@Andrews-Consulting can you please provide the command you are using

[2019-09-27 17:51] clairebianchi commented on #166
@kvor we are unable to replicate this issue on our side. Are you using deploy and push together? If this continues to be an issue please file an issue with Salesforce Support.

[2019-09-27 17:51] #166 closed, assigned to nobody

[2019-09-27 17:54] clairebianchi commented on #165
@jamesmelville this is a bug with the reports and dashboards team that we have made them aware of. For now please see this document for information on how to delete: https://releasenotes.docs.salesforce.com/en-us/summer18/release-notes/rn_rd_folders_organize.htm

[2019-09-27 17:54] #165 closed, assigned to nobody

[2019-09-27 17:55] clairebianchi commented on #164
@jamesmelville This is a bug for the Reports and Dashboards team, we have made them aware. For the current way to deleate please see https://releasenotes.docs.salesforce.com/en-us/summer18/release-notes/rn_rd_folders_organize.htm

[2019-09-27 17:55] #164 closed, assigned to nobody

[2019-09-27 17:56] #162 closed, assigned to nobody

[2019-09-27 18:05] ImJohnMDaniel commented on #162
@clairebianchi -- Is there an answer to the question??

[2019-09-27 18:18] clairebianchi commented on #162
Yes, sorry working with Dileep on this :)

[2019-09-27 18:21] ImJohnMDaniel commented on #162
Thank you very much!

[2019-09-27 18:26] clairebianchi commented on #170
@metadaddy can you please create a case so the team that owns Scratch Orgs can take a look and track the work

[2019-09-27 18:30] clairebianchi commented on #162
@ImJohnMDaniel can you please ask this question in the trailblazer community?

[2019-09-27 18:47] ImJohnMDaniel commented on #162
Done

Here is the post -- https://success.salesforce.com/0D53A00004bau0j

[2019-09-27 20:27] sfdc-db-gmail commented on #160
@jamesmelville - this is expected to get fixed as a result of another piece of work that we plan to do in Summer '20. Cc @clairebianchi

[2019-09-27 21:48] nramyasri-sf commented on #144
@daveespo , I believe this had been fixed a while back and was specific to windows OS.Are you still facing any issues during deployment using package.xml? If yes, could you please provide the CLI version and the OS you are using  and the error message you get during deploy? Thank you.

[2019-09-27 22:06] sfdc-db-gmail commented on #160
@jamesmelville - i believe this is fixed in v47 of CLI which is part of Winter '20 release. Please let us know if you are still experiencing this issue after Winter '20 rolls out over the next two weeks.

[2019-09-28 04:14] ChuckJonas opened #190 "force:source:retrieve -x ... doesn't update static resources"
### Summary

`force:source:retrieve` will pull down static resources, but it does not update them.

### Steps To Reproduce:

1.  Create a static resource called `broken.txt` with the text: `Hello World`
1.  Create a dx manifest project connected to the org
1. run `sfdx force:source:retrieve -x manifest/package.xml`
1. Confirm the `broken.txt` was retrieved and contains `Hello World`
1. upload a ne

[2019-09-30 09:01] giraffe81 commented on #189
It's Windows Server 2012

[2019-09-30 11:19] KevinGossentCap commented on #163
@tnoonan-salesforce @ntotten Just found an easier way to do the same (but still unable to install through the "sfdx plugins:install" command)

- npm i -g [plugin name]
- sfdx plugins:link [node path]/node_modules/[plugin name]
it helps to not install yarn when not needed.
But it still would be better if the plugins:install command inherited from OCLIF would use the global/normal npm registry url i

[2019-09-30 13:52] Mercer44 opened #231 "QuickAction not converting to mdapi format"
### Summary
When trying to convert source format to mdapi format, i get an error saying quickAction is an unexpected file.
sfdx force:source:convert -r diffqa/force-app/ -d deployqa$currdate/
ERROR running force:source:convert:  Expected file at path: Documents/Company-SALESFORCE/diffqa/force-app/main/default/quickActions/Contact.Customer_Connection_Call.quickAction-meta.xml

### Steps To Reproduc

[2019-09-30 15:28] KevinGossentCap commented on #163
@tnoonan-salesforce @ntotten
After a long time digging SFDX-CLI source code, I managed to find the undocumented env variable "SFDX_NPM_REGISTRY".
Setting this env var with my NPM mirror now it works !!! (slowly but works)
Maybe at least a documentation on it (or even on each env var usable) would help others

[2019-10-01 02:21] ImJohnMDaniel opened #191 "Error OPERATION_TOO_LARGE seen when creating scratch org from Org Snapshot"
### Summary

Error message `Unhandled rejection OPERATION_TOO_LARGE: Only 25 requests are allowed in a single batch operation` received when creating scratch org from an Org Snapshot

### Steps To Reproduce:

1.  Create a org snapshot
1.  Create a scratch org from org snapshot

### Expected result

Scratch org is created successfully

### Actual result

Scratch org is created successfully but I al

[2019-10-01 02:23] ImJohnMDaniel commented on #191
@rrmehta2 -- FYI on this one.

[2019-10-01 11:41] kvor commented on #166
@clairebianchi We still encounter this problem. We noticed that when we create the scratch org all files have `"state": "n"`. We do deploy/push.

[2019-10-01 20:11] geraemartinez commented on #78
if you have this in your package.xml it does n't work

[code]

but it was working...

[2019-10-02 03:59] jakubmplatek commented on #94
Hi All,
Nice little community you've got going here!

Just here to report that I had the same error message when after reorganising my source directories, I placed an object directory into a custom sub-directory of my package directory.

Changing the sub-directory name resolved the issue.
example:
before: force-app/schema/settings/CustomSetting__c/
after: force-app/schema/objects/CustomSetting__c/

[2019-10-02 12:29] daveespo commented on #144
@nramyasri-sf  I don't think this is fixed. We're seeing different behavior between force:source:deploy using a manifest (package.xml) and force:source:push to a scratch org.

For force:source:deploy, we need the document-meta.xml to also contain the file extension as part of its filename (as I show above in my example)

For force:source:push, the push will fail with:

[code]

So, which is it? Sho

[2019-10-02 14:51] bob-laz opened #192 "Support destructive changes with force:source:deploy for production org."
**Is your feature request related to a problem? Please describe.**
I am trying to build a new deployment pipeline for my org using only the CLI and source format, moving away from the metadata API and metadata format. As far as I can tell there is no way to delete files from a production org using the CLI.

**What are you trying to do**
Delete files from a production org as part of a deployment.

[2019-10-02 16:08] daveespo commented on #192
:-) Asked and answered #188

@clairebianchi -- can we keep Issues open that are in progress and perhaps flag them with a label indicating that they're planned for delivery?

[2019-10-02 16:12] bob-laz commented on #192
Sorry I missed that in my search. I'll close the issue. thank you.

[2019-10-02 16:12] #192 closed, assigned to nobody

[2019-10-02 21:05] Mercer44 opened #230 "Redirecting sfdx deploy report is not working"
### Summary

I am trying to run a sfdx force:mdapi:deploy:report command and save the output in a file.
The command does save output without --json but throws an error.
With --json, the output file is empty.

### Steps To Reproduce:

1.  Auth to an org.
sfdx force:auth:jwt:grant -a cicd --clientid ${CLIENTID} --jwtkeyfile server.key --username ${USERNAME} --instanceurl ${URL} -s

2.  Create a depl

[2019-10-03 12:33] daveespo opened #193 "Re-composed StaticResource zip files are accumulating in a temp directory"
### Summary

Our CI server keeps running out of space in our temp folder (/tmp). The folder is littered with files named `sdx_srzip_7952627320663804.zip` (the numeric part varies)

Each `force:source:deploy` creates a new fleet of these files and they are never deleted. After a period of time, all disk space is exhausted

### Steps To Reproduce:

1. Create an SFDX project with an exploded Static R

[2019-10-03 12:57] daveespo commented on #193
The problem exists with the latest SFDX client and plugins too

@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.5 (core)
analytics 1.2.1 (core)
etcopydata 0.4.4
g

[2019-10-03 13:23] petervukovic opened #467 "Static resource retrieval works only once"
### Summary

A static resource such as a CSS file is correctly retrieved only during the initial retrieval after Create Project With Manifest.  Subsequent retrievals (in order to pull changes from the org) do not update the file at all.

### Steps To Reproduce:

1.  Use SFDX: Create Project With Manifest to set up a new project
2.  Authorize a sandbox organization using SFDX:Authorize an Org
3.  R

[2019-10-03 16:39] JeffArwady commented on #156
I have experienced this exact same thing.  Hoping someone has a workaround other than using force:mdapi.

[2019-10-03 16:44] eric-bw commented on #156
can we use mdapi with the source format? We're using sfdx with manifest at the moment so our format is all source. If we have to convert the source every time to deploy mdapi that would be a pretty janky workaround.

[2019-10-03 16:57] JeffArwady commented on #156
The best workaround I have is this:

Using the same package.xml for source you can:

sfdx force:mdapi:retrieve -k package.xml -r deploy<or whatever>

then

sfdx force:mdapi:deploy -f deploy/unpackaged.zip

This will at least deploy only what you want.  But yes, it would be better if we could just source.

[2019-10-03 17:53] dmgerow commented on #156
My workaround is similar but on the retrieving end. I wrote a plugin that first wipes the object folders and then doest the force:source:retrieve. This way what is in your local is only what is in the package.xml.

Still not ideal but it is the best I have for now.

I wonder if we should open an issue with jsforce since that is what the plugin is using internally.

[2019-10-03 19:08] BobSeu commented on #239
Thanks for the temporary solution!  I was running into this and it was getting pretty frustrating!

[2019-10-04 14:35] nramyasri-sf commented on #122
@mslomka-polsource , have a few follow up questions here as I am unable to reproduce this from my end.
 Is this something that happens every time you modify your apex class and do a source:push?
What kind of package dependencies are you referring to in this scenario.
What is the edition of the org you are using.
Would be able to share some sample code/repo or more detailed steps for reproduction.

[2019-10-04 15:48] jeremyhenson opened #194 "SFDX_DISABLE_INSIGHTS doesn't appear to prevent telemetry reporting"
### Summary

Our CI jobs fail when telemetry reporting occurs because the CI machines are behind a proxy that does not have access to the endpoints.

When attempting to disable telemetry using all the following methods...

export SFDX_DISABLE_INSIGHTS=true
SFDX_DISABLE_INSIGHTS=true
SFDX_DISABLE_INSIGHTS=true $WORKSPACE_DIR/node_modules/.bin/sfdx force:mdapi:deploy

... it doesn't prevent the tele

[2019-10-08 01:58] bob-laz opened #195 "Is it possible to use force:source:delete against a production org?"
Just a question, wondering if it is possible to use `force:source:delete` against a production org? [Documentation](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_build_mdapi_production.htm) states that `force:source:deploy` can be used to deploy files to a production org, but not sure how deleting would work with validation rules in place for production orgs. My

[2019-10-08 13:29] pozil opened #196 "Aura linting doesn't support glob wildcard when run by an npm script"
### Summary

The following command works fine when entered in a terminal:
`sfdx force:lightning:lint **/aura`
However, the same command doesn't pick up files when run in the context of an npm script like `npm run lint:aura`. The `**` glob prefix isn't working in that context.

### Steps To Reproduce:

1. Clone the e-bikes sample app repo `git clone git@github.com:trailheadapps/ebikes-lwc.git`
1. E

[2019-10-09 10:52] aduttonomni commented on #467
Also seeing this issue. sfdx-cli/7.27.0-714f62f9c1 win32-x64 node-v10.15.3
As a workaround, deleting the whole static resource folder or individual static resource file before retrieving the source pulls down the latest version successfully.

[2019-10-09 14:24] ImJohnMDaniel opened #197 "force:source:push ignores fieldset for sobject where sobject is not defined in current project"
### Summary

If your project has a custom fieldset for a sobject that belongs to another managed package, the `force:source:push` command does not convert that fieldset to a metadata object file and thus fails deploy.

The error message is that the fieldset was included in the package.xml but not found in the source directory.

During the execution of the command, when you inspect the files from t

[2019-10-09 15:58] jeremyhenson commented on #194
Salesforce Support is telling me "_As per the latest updates that I have heard from team internally,it is not possible to disable telemetry in CLI._"

Seems odd since SFDX_DISABLE_INSIGHTS is an available option.

[2019-10-09 16:39] ImJohnMDaniel commented on #88
@joeferraro and others.  I believe that I know the workaround here.  It would be to rename the CustomLabel files to something else.

I am beginning to think that the issue is simply that there are multiple CustomLabels.labels-meta.xml files in the project.  During the `force:source:push` event, the files are copied to the temp folder and it most likely is nothing more than the "first one in wins"

[2019-10-09 16:53] ImJohnMDaniel commented on #197
@clairebianchi -- I found out what the issue was.

The source code was setup in the following manner.
[code]
That may work on a Windows machine but it was failing on a MacOS machine.  Changing the directory name's case from `/fieldsets` to `/fieldSets` fixed the issue -- note the case change of the first "S"

Hope this helps!

Cheers!

[2019-10-09 16:53] #197 closed, assigned to nobody

[2019-10-09 18:16] sfdcale opened #213 "Character encoding difference between source:retrieve vs mdapi:retrieve?"
### Summary

Character encoding is different when components are retrieved using the command `sfdx force:mdapi:retrieve`(apostrophe is encoded as **`&apos;`**) vs `sfdx force:source:retrieve`(apostrophe is encoded as **`&#39;`**)

### Steps To Reproduce:

Here is the screenshot of a simple validation rule in Salesforce:

![Screen Shot 2019-10-09 at 10 54 30 AM](https://user-images.githubuserconten

[2019-10-09 21:21] pagner opened #198 "RemoteOrgSignupFailed: A fatal signup error occurred. Please try again."
### Summary

This bug was discussed before but it appears to be back or was never fixed.

### Steps To Reproduce:

$ sfdx force:org:create -f ./config/production-scratch-def.json --json --loglevel fatal

### Expected result

New scratch org is created from production org shape. (We are on the pilot)

### Actual result

`{
    "status": 1,
    "name": "RemoteOrgSignupFailed",
    "message": "A fata

[2019-10-10 15:54] clairebianchi commented on #194
@jeremyhenson I apologize, setting this environment var should disable insights. We will look into the issue.

[2019-10-10 15:58] clairebianchi commented on #194
@jeremyhenson, also can you please send me your case number with support?

[2019-10-10 16:04] baksale opened #199 "Standard Object translations do not apply through package install"
### Summary
Standard Object Translations are not applied through package installation

### Steps To Reproduce:
1.  Create a scratch org for a package and open it
{
  "orgName": "Sample Org",
  "edition": "developer",
  "settings": {
    "orgPreferenceSettings": {
      "translation": true
    }
  }
}
2.  Setup -> Rename Tabs and Labels -> Accounts -> **Edit**
3. Change Account -> Client
4. Change

[2019-10-10 16:13] mdonnalley commented on #194
@jeremyhenson Could you please provide the full debug output (use `--dev-debug`) as well as the output from `sfdx plugins --core`?

[2019-10-10 16:28] shliachtx opened #200 "`force:source:retrieve` does not work on unfiled/public email templates"
### Summary

I cannot retrieve unfiled/public email templates using `force:source:retrieve`

### Steps To Reproduce:

1.  run `sfdx force:source:retrieve -m 'EmailTemplate:unfiled$public/My_Email_Template'`

### Expected result

Retrieve the named EmailTemplate from the org

### Actual result

Returns `No results found`

### Additional information

**SFDX CLI Version**(to find the version of the C

[2019-10-10 16:40] jeremyhenson commented on #194
24376331, thanks

[2019-10-10 16:55] jeremyhenson commented on #194
[dev_debug_deploy.txt](https://github.com/forcedotcom/cli/files/3713705/dev_debug_deploy.txt)

Attached - this deploy I set SFDX_DISABLE_INSIGHTS by the following:
SFDX_DISABLE_INSIGHTS=true

I have tried it with...
export SFDX_DISABLE_INSIGHTS=true
SFDX_DISABLE_INSIGHTS=true sfdx force:mdapi:deploy
... with the same result

Also the jobs have to fail in order for this to happen and the telemetry

[2019-10-11 14:43] jefersonchaves commented on #193
Facing the same issue in Linux and Mac. So, seems that is not something platform-specific.

[2019-10-11 20:28] BobSeu commented on #239
Is there any update on when this bug might be fixed?

[2019-10-14 09:22] JAertgeerts commented on #48
@clairebianchi  @nramyasri-sf Any update on this bug?

[2019-10-14 09:40] JAertgeerts commented on #48
@nramyasri-sf the workaround does not work either, even with !**.md-meta.xml added to my forceignore

[2019-10-14 13:30] FabienTaillon opened #201 "Settings failing to deploy with CLI v47"
**BUG**

### Summary

Settings in `project-scratch-def.json` fails to deploy with sfdx cli v47.1.5.
Moving back to previous version of the sfdx cli does work (`sfdx plugins:install salesforcedx@46.17.0`)

### Steps To Reproduce:

1.  Create a DX Project
2.  Update project-scratch-def.json to use the following settings:
[code]

### Expected result

Scratch Org is created.

### Actual result

[code]

[2019-10-14 13:34] FabienTaillon opened #202 "Delete Scratch Org when force:org:create didn't succeed"
**BUG**
With the new mapping between the Metadata API settings and the project-scratch-def.json file, the CLI is now creating a Scratch Org, and then deploy the settings.

This is an implementation detail, but leading to a painful result:
Each time a Scratch Org fails because of a setting issue (`ERROR running force:org:create:  Failed to deploy settings to scratch org`), the Scratch Org is still

[2019-10-14 13:49] aheber commented on #202
As a side note, this will also count against the daily creation limit (usually double the active limit). If this becomes a consistent problem you could easily exhaust both limits before you know it.

[2019-10-14 15:03] FabienTaillon commented on #136
Now that this issue has been closed and that it's tracked internally, can we get some information on what we can expect ? Is it in the roadmap now, or just in the backlog ?

Obviously as soon as we have sharing rules, this break the automatic creation of a scratch org, with a manual step in the middle.
This is also an issue for continuous deployment on a sandbox.

As you can imagine, I have severa

[2019-10-14 15:37] #122 closed, assigned to nobody

[2019-10-14 15:45] AllanOricil commented on #123
This is still happening. I have the latest version.

[2019-10-14 20:29] johnzhao9 commented on #187
SF support has helped us to submit the bug and the fix is being scheduled:
https://success.salesforce.com/issues_view?id=a1p3A0000003ey0QAA

[2019-10-14 20:29] #187 closed, assigned to nobody

[2019-10-14 20:48] clairebianchi commented on #136
@rrmehta2 can you give some roadmap guidance here?

[2019-10-15 13:35] packocz commented on #198
Same issue, observed since at least a week ago, only when Edition of scratch org is "Enterprise" (matches comment in [this stack exchange post](https://salesforce.stackexchange.com/questions/252858/scratch-org-site-domain)

CLI version: sfdx-cli/7.28.7-7bceba6f24 win32-x64 node-v10.15.3

full scratch def:
`{
	"orgName": "Company",
	"description": "Development",
	"country": "CZ",
	"hasSampleData":

[2019-10-15 16:44] nramyasri-sf commented on #185
@shliachtx , please do an update to latest cli version and let me know if you are still facing any issues. Thank you.

[2019-10-15 16:44] #185 closed, assigned to nobody

[2019-10-15 16:55] nramyasri-sf commented on #47
This has been fixed. Let me know in case you are still facing any issues.

[2019-10-15 16:55] #47 closed, assigned to nobody

[2019-10-15 19:49] pagner commented on #198
@packocz Our issue is slightly different than yours. We are using an org shape where the edition is omitted in the scratch def. Instead of edition  we use "sourceOrg" with the org Id. In fact if we use edition we will get an error that says to not use it when defining an org shape.

[2019-10-15 19:50] pagner commented on #198
Quite a few others are having the same problem as documented here:

https://success.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F93A0000009TPk

[2019-10-15 19:53] pagner commented on #198
@packocz Are you receiving the same error though?

"A fatal signup error occurred...."

[2019-10-15 19:57] packocz commented on #198
@pagner yes it's the same error

[2019-10-15 20:14] pagner commented on #198
@packocz Good to know. Should serve as a clue for the devs to get this fixed. Thanks for posting!

[2019-10-16 11:02] sanpatnaik commented on #81
Hi All,

I am trying to use the mdapi deploy command and I am getting the same issue. Org Authorization is success however during mdapi deploy command it is failing saying:
ERROR running force:source:deploy:  ENOENT: no such file or directory, open '/app/jenkins/workspace/Salesforce/deploy@tmp/secretFiles/15353656372736372898727829-2626/server.key'

Even I am written the script wrapped in the same

[2019-10-16 13:14] sanpatnaik commented on #81
@clairebianchi - Could you please help with the workaround?

[2019-10-16 13:25] yippie opened #203 "No Grace Period for deprecation of Scratch org settings"
### Summary

With the latest CLI release, deprecated settings under orgPreferenceSettings are gone overnight with no warning or grace period even though they still work in older CLI versions. Some of these settings now orphan org features that are required by code/config but can only be set in the UI now.

Warning should be provided but setting should be honored until it is officially deprecated i

[2019-10-16 19:06] jeremyhenson commented on #194
@mdonnalley @clairebianchi - wanted to check in here and see if you had any updates? Thanks!

[2019-10-16 23:27] clairebianchi commented on #81
@sanpatnaik Here is the known issue that is logged for this https://success.salesforce.com/issues_view?id=a1p3A000001SGxLQAW

We were unable to get to this issue last month, it is on our board and I am hoping it will get picked up in the next few weeks.

[2019-10-17 04:20] ankur-gandhi commented on #123
I am facing the same issue after update of new CLI. No Error displayed on the push.
When put --json flag, it is coming with below error.

sfdx force:source:push -f --json
{
    "status": 1,
    "result": [
        {
            "error": "Unknown"
        }
    ],
    "name": "DeployFailed",
    "message": "Push failed.",
    "exitCode": 1,
    "commandName": "SourcePushCommand",
    "data": [

[2019-10-17 16:03] truetincho commented on #123
Hi team! i'm with the same issue
[code]

[2019-10-18 08:59] aljaz823 commented on #39
@clairebianchi
Hi, this error doesn't seem to fixed, at least for me.
I have the latest version of sfdx:

@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-diff 0.0.2
@salesforce/sfdx-trust 3.0.5 (core)
analyti

[2019-10-18 09:22] JodieM opened #204 "ERROR running force:source:deploy: this.isRestDeploy is not a function"
### Summary

I've just updated CLI to the latest version, upgraded all my DX extensions, and tried a simple deploy. I've done this previously many times with no issue.

After I've done the validation step, trying to deploy the JobID produces the error

ERROR running force:source:deploy:  this.isRestDeploy is not a function

### Steps To Reproduce:

1.  use sfdx force:source:deploy --checkonly --so

[2019-10-18 12:00] matcadg opened #205 "ERROR running force:source:pull: Entity of type 'CustomApplication' named 'Opportunity' cannot be found"
### Summary

When New Record Lighting page is activated as Opportunity Org default on a scratch org, and Oppotunity.object file was not present in the source directoy this error is thrown upon source:pull command. ERROR running force:source:pull:  Entity of type 'CustomApplication' named 'Opportunity' cannot be found

### Steps To Reproduce:

1.  Create Lightning Record Page for Opportunity, assig

[2019-10-18 17:41] clairebianchi commented on #195
Yes, force:source:delete works against production orgs. You can test how the command would work with your validation rules in a scratch org.

[2019-10-18 17:41] #195 closed, assigned to nobody

[2019-10-18 17:42] clairebianchi commented on #196
@trevor-bliss, can you take a look at this one

[2019-10-18 17:45] clairebianchi commented on #200
@shliachtx, Thank you. We have this logged as a bug and are sending it to the team that owns public email templates

[2019-10-18 17:51] clairebianchi commented on #204
Hi @JodieM, we have an internal work item (W-6803187) that is currently being worked on. I am closing this issue here and the fix should go out next week

[2019-10-18 17:51] #204 closed, assigned to nobody

[2019-10-18 17:55] clairebianchi commented on #194
@jeremyhenson this is now fixed. Please update your CLI and it should be working. I will also follow up again with support to make sure they know that this is the correct way to turn off telemetry

[2019-10-18 17:55] #194 closed, assigned to nobody

[2019-10-18 17:56] jeremyhenson commented on #194
Yep looks fixed - thanks!

[2019-10-18 18:01] clairebianchi commented on #189
@giraffe81 can you try a full uninstall and then go to the C:/Program Files/Salesforce CLI directory and make sure it is actually deleted and try to install again

[2019-10-18 18:33] trevor-bliss commented on #196
@ntotten @KrisGraySFDC

[2019-10-18 21:12] KrisGraySFDC commented on #196
We have this bug already filed.

@W-6746941 near the top of our backlog, we should be able to get this fixed soon.

[2019-10-18 21:53] #128 closed, assigned to nobody

[2019-10-18 22:00] clairebianchi commented on #78
The fix was made for WaveTemplateBundles. If you are still experiencing issues please create a new issue

[2019-10-18 22:00] #78 closed, assigned to nobody

[2019-10-20 21:43] SaoBiz commented on #204
@clairebianchi is there currently a work around for this?

I am setting up a CI environment for our deployments and this is currently a blocker for us. I have set it up the same as described but instead of using `force:source:deploy` I am using `force:mdapi:deploy` and getting the same error.

OS: Windows Server 2008
Install method: exe

[2019-10-21 15:37] kfidelak94 commented on #203
We will be releasing a fix for this shortly.  I will post back here when I know more concretely when the fix will be available.

[2019-10-21 22:21] jamesmelville opened #206 "Unhandled Rejection returns exit code 0"
### Summary

`sfdx force:source:push` failed with the error
[code]
yet it still returned exit code 0, indicating success. I expect it to raise an error (return non 0 exit code) so that my CI job would fail on this step and highlight it to me.

### Steps To Reproduce:

Unsure, maybe disconnect network during push?

### Expected result

Should have returned an exit code != 0 so that command was mark

[2019-10-21 22:33] clairebianchi commented on #204
@SaoBiz you should be able to do a regular deploy instead of a validated deploy. Otherwise, you can go to the UI and select the quick deploy option in the deployment UI page if you would rather do a Validate and then deploy.

This fix is going into this Thursday's CLI release.

[2019-10-22 22:32] SaoBiz opened #207 "Add ability to pragmatically refresh an org"
**Is your feature request related to a problem? Please describe.**
There is currently no way to (though I understand that the Org tooling that is built into the CLI is currently in BETA) refresh an org through the cli.

**What are you trying to do**
I am currently in the process of setting up our CI environment for our implementation of Salesforce, specifically, implementing a mechanism to run E2E

[2019-10-22 23:49] jc-torrent commented on #81
@sanpatnaik Hello Friend! I was trying to do a similar thing, calling the mdapi deploy command. I gave up after a couple hours of trying to use a jenkinsfile to try this workaround. I prefer using Freestyle Jenkins projects because they are WAY easier to set up.
- I figured out what the problem was!
    - When using the secret file, as others have pointed out, the location of that file only exists

[2019-10-23 16:58] Stepan007 opened #229 "When I run sfdx force:source:retrieve --manifest manifest/package.xml -u myOrg from Python script I get ERROR running force:source:retrieve: Unexpected end of JSON input"
When I run sfdx force:source:retrieve --manifest manifest/package.xml -u myOrg from Python script I get ERROR running force:source:retrieve:  Unexpected end of JSON input

I think it's because sfdx command returns return code = 1 immediately. Other sfdx commands work fine from Python.

[2019-10-24 13:34] mnunezdm opened #208 "Retrieving Versions of Entitlement Process"
### Summary

Pulling Entitlement Process with versions throws error.

Also when launching a sfdx force:source:status, shows the entitlement without the version.

### Steps To Reproduce:

1. Create a new Scratch Org
1.  Enable Entitlements and Entitlement Versioning
1. Create a new Entitlement Process
1. Try to pull changes with sfdx force:source:pull

### Expected result

Correct retrieve of the E

[2019-10-24 19:26] shliachtx commented on #200
Not sure if anything changed, but it seems to be working for me now.

[2019-10-24 19:26] #200 closed, assigned to nobody

[2019-10-25 14:16] ajw725 opened #209 "apex:test:run fails on the format Namespace.TestClass"
### Summary

apex:test:run seems to allow several argument formats. You can just pass the name of a test class to run all tests in that class, or you can pass the name of a single test method like TestClass.testMethod. If you are trying to run a test from a namespace, you can do this like Namespace.TestClass.testMethod, which works fine.

The problem is if you try to run all tests in a class with

[2019-10-25 14:16] ajw725 commented on #209
see also [https://github.com/forcedotcom/salesforcedx-vscode/issues/1358](https://github.com/forcedotcom/salesforcedx-vscode/issues/1358)

[2019-10-25 18:08] #189 closed, assigned to nobody

[2019-10-25 20:41] clairebianchi commented on #206
@jamesmelville  thank you, we will take a look, we through a 1 on error, so its odd that you are seeing 0 that is a problem.

[2019-10-25 20:46] clairebianchi commented on #208
@mnunezdm, are you using packaging? This metadata type requires a package without a namespace, if you are.

This bug is owned by the team that builds the entitlement process, I will pass this on to that team. Thank you.

[2019-10-25 20:46] #208 closed, assigned to nobody

[2019-10-25 20:48] clairebianchi commented on #209
@ntotten can you take a look at this?

[2019-10-25 21:18] clairebianchi commented on #207
@rrmehta2, looks like a feature request for your team

[2019-10-25 21:18] #207 closed, assigned to nobody

[2019-10-25 21:29] ajw725 commented on #209
@clairebianchi from the issue i linked in the VS code repo, it sounds like they're on it. just wasn't sure where this belonged

[2019-10-25 22:11] #91 closed, assigned to nobody

[2019-10-26 18:02] paferpo opened #210 "Getting errors if any unit test fails with force:apex:test:run"
### Summary
Getting errors if a unit test fails after execution of the command force:apex:test:run:

Unhandled rejection TypeError: packageDirs is not iterable
ERROR running force:apex:test:run:  Cannot read property 'message' of undefined

Looks like this is always happening when any unit test fails, not just with some specific test classes.

### Steps To Reproduce:

1. sfdx force:apex:test:run -

[2019-10-27 08:00] amtrack opened #211 "installing sfdx-cli@7.30.11 using npm fails with `No matching version found for salesforcedx@47.3.4.`"
### Summary

Installing (or updating to) sfdx-cli@7.30.11 using npm fails with `No matching version found for salesforcedx@47.3.4.`

### Steps To Reproduce:

1.  npm install --global sfdx-cli

### Expected result

Installation / update should work.

### Actual result

[code]

### Additional information

**SFDX CLI Version**(to find the version of the CLI engine run sfdx --version):
sfdx-cli/7.28.7

[2019-10-27 12:50] tamcdio commented on #211
I've got the same error. Looks like the latest sfdx-cli module declared an incorrect dependency on the salesforcedx version.

npm install sfdx-cli --global
npm ERR! code ETARGET
npm ERR! notarget No matching version found for salesforcedx@47.3.4
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
n

[2019-10-27 15:37] KevinGossentCap commented on #211
Sames here.
Additional information : it feels like only a dependency reference problem.
if we look for "salesforcedx" versions:
npm view salesforcedx versions

[...,
  '46.10.2',
  '46.11.0',
  '46.12.1',
  '46.13.1',
  '46.15.3',
  '46.16.0',
  '46.17.0',
  '47.0.7',
  '47.1.4',
  '47.1.5',
  '47.3.6' ]

[2019-10-27 22:45] SaoBiz commented on #207
@clairebianchi Can I ask how this is a feature request for my team when we have no control over how the CLI works?

The ability that I am requesting is to be able to refresh an org through the CLI and I have provided my use case for it. If this is not the right place to make such a request, can you please direct me to where I can raise this request?

[2019-10-28 10:26] amtrack commented on #211
This was addressed in [v7.30.12](https://www.npmjs.com/package/sfdx-cli/v/7.30.12).

[2019-10-28 10:26] #211 closed, assigned to nobody

[2019-10-28 15:35] shliachtx commented on #185
I am having the same issue with Documents. Additionally, I can no longer push Dashboards/Reports on windows, I am getting the following error when trying to force push

[code]

[2019-10-28 16:40] steals commented on #38
Started appearing again after updating to 7.30.12-9919bf456f
{ AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: /Users/steals/.local/share/sfdx/client/7.30.12-9919bf456f/node_modules/salesforcedx-templates/lib/templates/project/.gitignore

[2019-10-28 17:08] RobinBarnwell commented on #38
Me to, command below.  All went wrong after running SFDX update, which say all OK:
$ sfdx update
sfdx-cli: Updating CLI... already on latest version: 7.30.12-9919bf456f

**ERROR**
$ sfdx force:project:create --projectname sfdxchan
{ AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: C:\Users\727705\AppData\Local\sfdx\client\7.30.12-9919bf456f\node_modules\salesforced

[2019-10-28 19:11] rafaelgallani commented on #221
Found the bug. Actually, this string is being parsed as a query inside Salesforce, as we can see by the output.
What I did, as a temp fix (version 7.30.12-9919bf456f), was editing the "sourceConvertApi.js" file, in the sfdx main installation folder (sfdx\client\7.30.12-9919bf456f\node_modules\salesforce-alm\dist\lib\source\sourceConvertApi.js).

Line 31:
```const singleQuoteJoin = arr => arr.map(v

[2019-10-28 21:50] clairebianchi commented on #207
Sorry, I think I confused you @SaoBiz. This is a feature request for @rrmehta2, who is the product manager for Scratch Orgs. His team owns the commands that are associated with scratch orgs I was passing the information on to him.

[2019-10-29 07:17] baksale commented on #199
Hi @clairebianchi
Could you share reference for the problem with the other team?

Will they pick this ticket or will have a separate linked to the current one?

[2019-10-29 15:51] whernandez commented on #123
I am facing the same problem when I execute the command
`sfdx force:source:deploy -m ApexClass:ClassNameRepository -l RunLocalTests -u myOrgProd --json --loglevel error`
I upgrade to the following versions sfdx-cli / 7.30.13-9e204762d5 win32-x64 node-v10.15.3
and salesforcedx installed v47.3.7

Error:
`{
    "status": 1,
    "result": [
        {
            "error": "Unknown"
        }
    ],

[2019-10-29 17:40] Cfh-GitHub commented on #86
@clairebianchi This continues to exist in the documentation: https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_troubleshoot_cli_version.htm

Fyi,

[2019-10-29 19:57] mshanemc opened #214 "no results for sfdx force:source:retrieve -m LightningComponentBundle"
### Summary

Looks like a repeat of #33 and #43
**sfdx force:source:retrieve -m LightningComponentBundle** returns no results

### Steps To Reproduce:

1. have a non-scratch org with LWC in it that aren't held locally (may be a bug on scratch orgs, too, I just haven't tested that)
2. sfdx force:source:retrieve -m LightningComponentBundle

### Expected result

retrieves the LWCs to local source

##

[2019-10-29 19:57] mshanemc commented on #214
https://github.com/forcedotcom/salesforcedx-vscode/issues/1760

[2019-10-29 20:50] clairebianchi commented on #210
@ntotten can you please take a look at this issue

[2019-10-29 20:55] clairebianchi commented on #214
@mshanemc we are creating an internal investigation and will let you know if we have any questions

[2019-10-29 23:31] clairebianchi commented on #199
@baksale, I have sent this ticket to the PM and they should be taking a look and getting back to you

[2019-10-29 23:52] clairebianchi commented on #86
Thank you @CfhGithub! Ill get that updates

[2019-10-30 07:12] RobinBarnwell commented on #38
Fixed in sfdx-cli: Updating CLI... already on latest version: 7.30.13-9e204762d5

[2019-10-30 08:18] keirbowden opened #216 "MaxListenersExceededWarning after updating to v7.30"
### Summary

After updating to version 7.30.13 of the CLI I get warnings about a possible EventEmitter memory leak when running commands.

### Steps To Reproduce:

1.  Update cli to 7.30.13
1. Execute `sfdx force:config:get apiVersion`

### Expected result

API version should be displayed without warnings

### Actual result

(node:24913) MaxListenersExceededWarning: Possible EventEmitter memory le

[2019-10-30 19:57] jamesmelville commented on #160
Hi @sfdc-db-gmail @clairebianchi

We just had this issue reoccur with the latest version of SFDX after we removed our workaround a few weeks ago. Unfortunately we didn't capture the logs, but I've switched log archiving back on in case it happens again. Are you aware of any regressions or is it possible there's a pending status that's been missed in the fix? Output and CLI version below:

$DEPLOY_

[2019-10-31 15:37] fredrikstaahl opened #217 "Instanceurl is ignored when authenticating towards a sandbox using jwt:grant"
### Summary

I'm trying to authenticate towards my sandbox using jwt:grant by specifying the clientId, username and the instanceurl of my sandbox. I run the following command:

I get the following error message:

**> loginUrl: https://login.salesforce.com,-- loginUrl is pointing towards production, even though I specified an instance url**

### Steps To Reproduce:

1.  Run the jwt:grant towards a

[2019-10-31 16:01] steals opened #218 "LWC local dev server should respect project folder configured in sfdx-project.json"
### Summary

When starting Lightning Web Server it searches for the Lightning Web Component in `src/main/default/lwc` folder instead of `src/lwc`

### Steps To Reproduce:

1.  Configure `packageDirectories.path` as `src` instead of default `force-app`
2.  Start local dev server by running `sfdx force:lightning:lwc:start` command

### Expected result

_Local dev server should search for components

[2019-11-01 11:42] Szandor72 commented on #216
Also happens for me on Win with sfdx-cli/7.31.0-6a986f8be5 win32-x64 node-v10.15.3

[2019-11-01 17:37] clairebianchi commented on #219
This looks to be related to https://github.com/forcedotcom/cli/issues/94 I am moving to the CLI issues repo and will add this information to the internal bug we have for this issue

[2019-11-01 17:42] clairebianchi commented on #220
@alcoforado are you still encountering this issue. I have moved it into the general CLI issues repository. This sounds like a linting issue. If you are still having an issue with source:push. Let me know and I can reopen this issue

[2019-11-01 17:42] #220 closed, assigned to nobody

[2019-11-01 17:59] clairebianchi commented on #223
@joeferraro, We currently do not support multiple packages with dependencies in the CLI. We are currently spiking on this and will hopefully add enhancements to the CLI to cover this use case in the next couple of months.

[2019-11-01 18:04] clairebianchi commented on #224
@chandra2ravi I am passing on this information to the metadata team. Thank you for reporting this.

[2019-11-01 18:04] #224 closed, assigned to nobody

[2019-11-03 05:37] Pargavifern commented on #123
I am also facing the same issue. I have the latest version of the sfdx.
G:\salesForce\FernApp>sfdx force:source:push --json -f -u test-jxgwllx34ygj@example.com
{
    "status": 1,
    "result": [
        {
            "error": "Unknown"
        }
    ],
    "name": "DeployFailed",
    "message": "Push failed.",
    "exitCode": 1,
    "commandName": "SourcePushCommand",
    "data": [
        {

[2019-11-03 05:37] Pargavifern commented on #123
Can someone please help me to resolve this

[2019-11-04 16:33] joeythomaschaske opened #225 "add the --purgeOnDelete flag to the force:mdapi:deploy command"
**Is your feature request related to a problem? Please describe.**
I am using force:mdapi:deploy and still have to manually go into the org and erase the fields

**What are you trying to do**
Delete fields/classes

**Describe the solution you'd like**
I would like a flag similar to [purgeOnDelete](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_deploy.htm)

**Describe

[2019-11-04 17:28] ivorocha90 commented on #151
I'm working on a community project using SFDX and I'm facing this issue too. As soon as I place the Audience metadata in package.xml and perform a source retrieve, I got the same error message as mentioned by the OP.

Trying to create the files manually, and then refresh them with "SFDX: Retrieve source from Org" gives the error: "Unexpected file found in package directory".

Also tried to retriev

[2019-11-04 18:55] ghost commented on #81
Hi @ImJohnMDaniel are you still experiencing this issue? I've tried reproducing it on my local CLI and can't reproduce it. Have you tried running these commands through your own CLI and not Jenkins?

[2019-11-04 20:38] couchand commented on #205
Note the workaround suggested [here](https://salesforce.stackexchange.com/questions/281958/sfdx-forcesourcepull-entity-of-type-customapplication-named-case-cannot-be): just create the custom app that the CLI expects.  Go to Setup > Apps > App Manager, click New Lightning App, and create the app named (in this case) Opportunity.

[2019-11-04 22:35] clairebianchi commented on #160
@jamesmelville  Thank you for letting me know I will circle back with the Packaging PM

[2019-11-04 22:46] sfdc-db-gmail commented on #160
@jamesmelville - My recommendations are (a) log a case and (b) join our trailblazer community  https://sfdc.co/ulp to collaborate on this and other things related to packaging.

[2019-11-05 11:23] jamesmelville commented on #160
Hi @clairebianchi and @sfdc-db-gmail - thanks for the input.

I'm a little confused now. For us this is an issue that occurs with 1GP managed packages, although I could imagine it affects packages in general. From my investigation above, it seemed to me that the failure was due to the CLI not understanding the documented statuses on the `SubscriberPackageVersion` object, and not really a bug with

[2019-11-05 14:44] whernandez commented on #123
Regards,
In my case I solved the problem using the Ant Migration Tool https://developer.salesforce.com/docs/atlas.en-us.daas.meta/daas/meta_development.htm

With this tooling I was able to obtain more details of my problem, finally my problem is that it was not covering 75% of the code in the Test.

I hope this can help you too.

[2019-11-05 17:21] clairebianchi commented on #160
@jamesmelville I am sorry to hear about your experience with support and our other channels for reporting issues. This repository is supported by the team that owns the CLI engine, we do not build all of the Force commands because we find it is best to have the experts in a given feature build the commands associated with that feature. This is why I passed your issue over the packaging team. I rea

[2019-11-05 17:51] ImJohnMDaniel commented on #81
@williamruemmele-sf and @clairebianchi -- I just checked again and this issue is still present.  I was able to reproduce the issue locally; outside of Jenkins.

Here is the CLI version info that I am currently on...

sfdx version
[code]

sfdx plugins --core
[code]

FWIW, I am happy to catch up on a call to discuss this and show you what is happening.  Just let me know.

[2019-11-05 18:22] mdonnalley commented on #123
Can someone confirm that this issue is happening on version `7.31.0`?

I am able to see error messages as expected:

[code]

[2019-11-05 22:32] renatoliveira commented on #198
I'm also getting this same error, while not using org shapes. Probably the same reason as @packocz.

Salesforce CLI info: sfdx-cli/7.31.0 darwin-x64 node-v12.6.0

The command:

[code]

The input JSON (scratch org definition file):

[code]

The output:

[code]

[2019-11-06 06:44] steals commented on #218
Closing, as moved to another repo https://github.com/forcedotcom/lwc-dev-server-feedback/issues/37

[2019-11-06 06:44] #218 closed, assigned to nobody

[2019-11-06 06:56] Pargavifern commented on #123
Thank you for this solution. I will let you know after working with this. I hope it works to.

[2019-11-06 10:01] packocz commented on #198
@pagner @renatoliveira I was able to get round this error by removing the siteDotCom setting and only keeping Sites. However, I didn't yet get as far as to confirm the deployed public sites actually work

[2019-11-06 10:19] jamesmelville commented on #160
@clairebianchi Thanks for your explanation and for reopening this.
I think we've completed about ~30 installations since the Winter 19 rollout and only one has failed in the manner I described, I think we had about a 50% failure rate when I reported the issue, so thank you for the improvement.
I've had a look at the logs and can see the CLI is querying the `InstallValidationStatus`. I'll keep an e

[2019-11-06 11:27] renatoliveira commented on #198
Thank you for sharing this information!

The error message changed for me, now I get a `ProblemDeployingSettings` error, with the message "Failed to deploy settings to scratch org." instead.

Still, that already indicates that the issue seems to be related to the SiteDotCom feature that might be conflicting with something else in this config file. I got another org/project that has the feature ena

[2019-11-06 14:35] mlarizzate commented on #123
Team I solved the issue with a version downgrade.
Please check at this [stackexchange question](https://salesforce.stackexchange.com/questions/281782/sfdx-cli-unknown-error-when-pushing-code-to-scratch/281793#281793)

[2019-11-06 19:37] alan-morey opened #226 "ERROR running force:auth:list: Unexpected end of JSON input"
### Summary

Getting error running `force:auth:list` after updating to latest version.

### Steps To Reproduce:

[code]

### Expected result

See a list of auth connection information and see results of fix

### Actual result

[code]

**SFDX CLI Version**(to find the version of the CLI engine run sfdx --version): `sfdx-cli/7.31.0-6a986f8be5 linux-x64 node-v10.15.3`

**SFDX plugin Version**(to find

[2019-11-06 19:53] alan-morey commented on #216
I'm getting **_MaxListenersExceededWarning_** for pretty much every `force` command I execute

**SFDX CLI Version:** `sfdx-cli/7.31.0-6a986f8be5 linux-x64 node-v10.15.3`

**SFDX plugin Version**
[code]
**OS and version:** `Ubuntu 16.04.6 LTS`

[2019-11-06 21:19] dcarroll commented on #205
A better way is to grab the id of the custom app using

`sfdx force:data:soql:query -q "Select Id, MemberName From SourceMember Where MemberType = 'CustomApplication'" -t`

Then delete the source member with

`fdx force:data:record:delete -s SourceMember -i <id retrieved above> -t`

[2019-11-07 00:37] siddharthmani commented on #81
Hello - Could you please provide more details on this as I am still facing the issue as John already mentioned - would love to have a workaround! Are you trying to say, authorize, logout and then re-authorize?

[2019-11-07 15:56] mdonnalley commented on #123
@mlarizzate @Pargavifern

Can either of you confirm that the issue is occurring in version `7.31.0`?

[2019-11-07 19:50] alan-morey commented on #226
Updated to lastest again to today, problem still persists.

**SFDX CLI Version**(to find the version of the CLI engine run sfdx --version): `sfdx-cli/7.32.0-b30e0302f0 linux-x64 node-v10.15.3`

**SFDX plugin Version**(to find the version of the CLI plugin run sfdx plugins --core)
[code]

**OS and version**: `Ubuntu 16.04.6 LTS`

[2019-11-08 02:54] will-dinn opened #228 "Retrieve Source from Org results in "Cannot read property 'describer' of undefined""
### Summary

Attempting to retrieve source from a Salesforce scratch org into VSCode results in the error "Cannot read property 'describer' of undefined"

### Steps To Reproduce:

1. Setup a default scratch org with no customisations and set as default org
1.  Run "Retrieve Source from Org" with below package file
1. Observe "Cannot read property 'describer' of undefined" error

### Expected resul

[2019-11-08 04:58] Pargavifern commented on #123
Yes its occurring in the version of sfdx-cli/7.31.0 win32-x64 node-v12.13.0

[2019-11-08 14:52] ImJohnMDaniel commented on #81
@siddharthmani -- The main issue stems from the fact that when you authenticate to the DevHub with a JWT token, the CLI using that connection will create all scratch orgs **also with a JWT token**.  Best practices in Jenkins and declarative pipelines with Jenkinsfile usage don't really work well with this approach.  The best practice assumes that you use the `withCredentials` tag in the Jenkinsfil

[2019-11-08 15:05] siddharthmani commented on #81
Thank you so much for the detailed explanation John. Indeed my build also fails with the same error message although I am not creating any scratch orgs as of now. What I am essentially doing consists of 2 stages (both wrapped in "withcredentials") - the first one is the jwt authorisation which succeeds and the second one is the actual force:source:deploy command which fails mentioning that it cann

[2019-11-08 15:08] jc-torrent commented on #81
Hello! My issue in particular was that, once authorized, any additional builds will try to use the same authentication, because SFDX doesn't remove authorized orgs. I am hosting jenkins on an ec2, so not locally. I log out of the org in the beginning of the build so that it is forced to re-authorize the org using the secret file. Because the secret file is only in a particular location for the dur

[2019-11-08 15:12] mdonnalley commented on #123
@Pargavifern Thank you. Can you show me the output of `sfdx plugins --core`?

[2019-11-08 15:13] vkvikashkr47 commented on #38
facing error again in 7.32
C:\Users\vkvik\Documents\SFDC Projects\sfdc>sfdx update
sfdx-cli: Updating CLI... already on latest version: 7.32.0-b30e0302f0

{ AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: C:\Program Files (x86)\Salesforce CLI\client\node_modules\salesforcedx-templates\lib\templates\project\standard\ScratchDef.json
    at EditionInterface.exports.c

[2019-11-08 15:18] Pargavifern commented on #123
@mdonnalley  Yeah definitely but can I send you the output on this Monday. If you don't mind.

[2019-11-08 18:41] clairebianchi commented on #221
@Gruck Thank you for pointing this out. I am putting it on our backlog now.

[2019-11-08 18:45] clairebianchi commented on #226
@alan-morey are you getting this error when you run any other commands?

[2019-11-08 18:46] clairebianchi commented on #228
@will-dinn Does this happen when you run the command from the command line?

[2019-11-08 18:48] clairebianchi commented on #229
@Stepan007 can you please? provide us with the version of the CLI you are on? and any other information you can give us about your manifest file

[2019-11-08 18:56] clairebianchi commented on #230
@Mercer44 I am contacting the metadata api team who owns this command, they will take a look at your issue

[2019-11-08 19:00] ImJohnMDaniel commented on #81
@jc-torrent -- It sounds like you have a variation of the issue that I am describing.

Once the scratch org is created for that build job, it should not require the secret file to be present to interact with the scratch org.  Unfortunately, the issue is that OAuth authorization for the scratch org was setup as a JWT based connection and thus is looking for the secret file.  If the scratch org OAut

[2019-11-08 19:31] alan-morey commented on #226
@clairebianchi So far it has only been `force:auth:list` where this error occurs.

While not exhaustive, the following are some of the commands I am using daily that are working as expected:
 - `force:apex:class:create`
 - `force:apex:log:tail`
 - `force:apex:test:run`
 - `force:auth:web:login`
 - `force:mdapi:deploy`
 - `force:mdapi:describemetadata`
 - `force:mdapi:listmetadata`
 - `force:mdapi:

[2019-11-09 18:51] AllanOricil opened #235 "Can't Create 2nd Generation MANAGED package with Connected App"
Whenever I try to create a package version with a connected app on it I get the following error message:

![image](https://user-images.githubusercontent.com/55927613/68533499-8c3f8a80-0321-11ea-8f9a-8cb6db61d432.png)

my sfdx version: sfdx-cli/7.28.7-7bceba6f24 win32-x64 node-v10.15.3

I followed this article to create my managed package:
https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.

[2019-11-09 23:38] Andrews-Consulting commented on #167
I'm now seeing this error sporadically with Aura component deployments in other non-scratch orgs, so I'm going to reopen this ticket.
I see the same results for the following commands:
     right clicking and using the "sfdx:Deploy this source to Org" in vscode
     sfdx force:source:deploy --sourcepath c:\Users\....[directory structure].....\force-app\main\default\aura\ProductSelector --json --lo

[2019-11-11 06:19] Pargavifern commented on #123
Hi @mdonnalley
   Sorry for the late reply
C:\Users\admin>sfdx plugins --core
@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.7 (core)
analytics 1.2.2 (core)
gene

[2019-11-11 15:01] renatoliveira commented on #89
I think this might not be fixed yet. Had the same problem running a `force:source:retrieve` command against a production org.

I tried the following command:

[code]

And I got the error:

---

Managed to retrieve the flow metadata by running the same command against the "flows" folder instead:

[code]

[2019-11-12 09:27] jyotisingh3 opened #232 "EERROR running force:source:retrieve"
Cannot read property 'metadataName' of undefined

I am using my own package.xml for migration.

[2019-11-12 14:48] pawelhajduk-ef commented on #89
It happens for me when executing the `sfdx force:source:deploy -p <package_path> -u <username>` command while having an incorrect directory structure in the package for example:
[code]
instead of
[code]

[2019-11-12 16:11] ghost commented on #123
Hi @Pargavifern, I'll be taking over this task for the week... I tried pushing an apex class with a lot of errors, and they all appeared for me.
[code]

looking in the code it has error catches for Failed Deploys, Timeouts, and Source Conflicts, so the error you're facing isn't one of those. Have you tried pushing only parts of your code in order to narrow down what specific parts of the file the

[2019-11-12 16:24] Pargavifern commented on #123
Hi @williamruemmele-sf
   I created only a custom object and linked to standard object. Like this I created 2 project and merged into to one to push it into the scratch. That time it throws error like this. I didn't add anything.

[2019-11-12 16:27] ghost commented on #123
so it failed correctly, with errors?

[2019-11-12 16:28] Pargavifern commented on #123
Yes. But it doesn't show error

[2019-11-12 17:04] ghost commented on #123
Would you be available to set up a quick meeting to walk me through your reproduction steps?

[2019-11-12 17:24] Pargavifern commented on #123
Sorry I don't understand @williamruemmele-sf

[2019-11-12 17:25] ghost commented on #123
Can we video call to go over the problem?

[2019-11-12 17:26] Pargavifern commented on #123
Really sorry to say this. But currently I can't able to do it. But I can share my project

[2019-11-12 21:39] clairebianchi commented on #226
@alan-morey  Thank you, We are looking into it

[2019-11-12 21:44] clairebianchi commented on #232
@jyotisingh3 can you please send me more information. What is your CLI version and OS, Steps to reproduce including: the command with the parameters you are using, any information about the metadata types you are trying to retrieve, the type of org you are retrieving from?

[2019-11-12 21:50] clairebianchi commented on #233
@ChuckJonas @rendall Thank you for the feature request. I am moving to the CLI repo to track this there.

Question: Would you want to retrieve to somewhere outside of the SFDX project?

[2019-11-12 21:59] clairebianchi commented on #156
Hi, can you provide more information on why you would only want only 1 custom object field instead of the full object and its fields? Just trying to get to the bottom of the use case.

[2019-11-12 22:04] eric-bw commented on #156
A single field deployment can increase in scope to 400+ items because the full object is being included in the deployment. thats 399 possible points of failure that have nothing to do with the intent of the deployment.

this relates to deployments of additional fields after the initial deployment has been completed sometime in the past. Until that day that we can do bare-metal deployments to produ

[2019-11-12 22:12] clairebianchi commented on #156
@eric-bw Thank you! This is about both speed and decreasing the risk of the deployment

[2019-11-13 01:18] dannyodd opened #236 "sfdx force:project:create error, what is going wrong?"
### Summary

When I attempt to create a new Project in the CLI, using VisualStudio Code as my IDE, I get the following error message:
PS C:\Users\dthto\sfdxprojects\testProject> sfdx force:project:create --projectname testProject1
{ AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: C:\Program Files (x86)\Salesforce CLI\client\node_modules\salesforcedx-templates\lib\

[2019-11-13 02:21] dmgerow commented on #156
@clairebianchi  more importantly, there are many times where you may have parallel projects going live at different times with some overlap on objects.

For example, if Team A is implementing a quoting solution and team B is implementing a field service solution, both teams will be adding or updating different metadata on the Account object. Rather than trying to merge every change that is introdu

[2019-11-13 05:47] will-dinn commented on #228
@clairebianchi if I run the following:
sfdx force:source:retrieve -x _packagefilepath_\package.xml

I get the response:
![image](https://user-images.githubusercontent.com/57429137/68736641-4d694780-0635-11ea-9579-1bb3b0fa25df.png)

[2019-11-13 06:02] ChuckJonas commented on #233
@clairebianchi, yes potentially.  This would really only be for secondary use-cases of this command.  EG: I want to fetch source from two different orgs and compare them using diff-tool.

However, I can see how this behavior could impact other features, so it's honestly not as critical as something like #97...

[2019-11-13 21:51] ybiyani commented on #151
I am facing the same issue but cannot determine the cause of the error @clairebianchi can I send you the file for review?

[2019-11-13 23:40] clairebianchi commented on #156
@dmgerow, thank you, that is great feedback. I am adding a story to our backlog and when we get into planning after dreamforce I will see where it fits in.

[2019-11-13 23:53] clairebianchi commented on #228
@will-dinn What are you trying to retrieve from the org? Sounds like there is nothing in the org yet. Also, why are you using source:retrieve instead of source:pull? Scratch orgs are designed to track changes between your local development environment and the org, if you use the source:pull command it will pull all changes that have been made to the org that are not reflected in your dev environme

[2019-11-14 01:26] AdamTReineke commented on #196
@pozil Can you verify the expected result still repros? I don't see the expected result when running the sfdx command.

[code]

[2019-11-14 01:31] pozil commented on #196
@AdamTReineke I confirm that the issue is fixed with the current CLI version.

[2019-11-14 01:31] #196 closed, assigned to nobody

[2019-11-14 13:39] Boussad-Sedoud commented on #201
I'm facing the same kind of issue :

_Error  shape/settings/EmailAdministration.settings  settings/EmailAdministration.settings
Error  shape/settings/EnhancedNotes.settings        settings/EnhancedNotes.settings
Error  shape/settings/Language.settings             settings/Language.settings_

With the error :
**ERROR running force:org:create:  Failed to deploy settings to scratch org.**

The scratc

[2019-11-14 16:44] mpdeglau opened #237 "Unable to retrieve Audience"
### Summary

When trying to retrieve Audiences from a scratch org using `sfdx force:source:retrieve -m Audience` I get the error 'Cannot read property 'metadataName' of undefined'.

### Steps To Reproduce:

1.  Create an audience in a scratch org.
1.  Pull the changes down using `sfdx force:source:retrieve -m Audience`

### Expected result

The Audience metadata is pulled down into the audiences d

[2019-11-14 19:57] pkozuchowski opened #238 "sfdx force:source:retrieve does not respect custom file path (not main/default)"
### Summary
When `sfdx force:source:retrieve -p pathToFile` is issued against file that is not in the main/default folder, the command will create a new file in main/default folder instead of overwriting existing file.
This is against documentation which says:
`The source you retrieve overwrites the corresponding source files in your local project.`

### Steps To Reproduce:
1.  Create folder struc

[2019-11-14 23:45] will-dinn commented on #228
@clairebianchi I was originally hoping to revert the configuration of some standard profile files before writing anything to the org. Is the error "Cannot read property 'describer' of undefined" an issue with the CLI or with VSCode?

[2019-11-15 18:40] clairebianchi commented on #234
@RupertBarrow does it hang if you remove the -r param?

[2019-11-15 18:42] clairebianchi commented on #236
@ntotten would you take a look at this issue?

[2019-11-15 18:53] clairebianchi commented on #239
@BobSeu We are unable to reproduce this issue. Can you please update to the most recent version of the CLI and try again. Also please report issues like these in the Generic CLI repo: https://github.com/forcedotcom/cli/issues

[2019-11-15 18:55] clairebianchi commented on #2208
@callietoothman we are unable to reproduce in the current CLI, can you update your CLI and try again

[2019-11-15 18:59] clairebianchi commented on #228
@will-dinn can you send us the stack trace on this?

[2019-11-15 20:48] ncinolando commented on #2208
@clairebianchi Updated sfdx, same issue:

**SFDX CLI Version**: sfdx-cli/7.33.2 darwin-x64 node-v10.16.0

**SFDX plugin Version**: salesforcedx 47.6.2 (core)

**OS and version**: macOS Mojave (10.14.6)

![image](https://user-images.githubusercontent.com/43143995/68974646-3a827e80-07bf-11ea-9887-6b4f02d97867.png)

[2019-11-15 20:59] clairebianchi commented on #237
@mpdeglau this is a duplicate of https://github.com/forcedotcom/cli/issues/151. I am closing this one

[2019-11-15 20:59] #237 closed, assigned to nobody

[2019-11-15 20:59] clairebianchi commented on #151
@ybiyani I have added this to our backlog, we have confirmed it is a bug.

[2019-11-15 22:12] lcampos commented on #236
Hi @dannyodd thanks for opening this issue. The stack trace you've added indicates that a template file that the cli ships with and is used by the project:create command, is not available. I'm currently testing on a Windows machine with the same OS version you are on and can't replicate the issue on the latest version of the CLI (v7.33.2). Could you confirm you are in this version and still experi

[2019-11-15 22:37] tnoonan-salesforce commented on #239
Also, did you try in a stock windows command.exe instance? Could it be related to Cmder?

[2019-11-18 18:16] nramyasri-sf commented on #144
@daveespo , source:deploy using -x references the package.xml and a format shown below should suffice :

[code]

source:push does not reference to any package.xml within the project folder. I am unsure as to where you had removed the file extensions. You need not make any changes to document-meta.xml while using source:deploy or source:push. Let me know if that answered your question. Thanks.

[2019-11-20 14:14] KertulPL commented on #60
Yep! Same problem :) we need 5 level deep

[2019-11-21 11:17] toddhalfpenny commented on #205
You can also add an entry to the forceignore.
The syntax is very confusing (IMO) and getting the correct case (as entries are case sensitive) is tricky. I _think_ this is what's needed;

`Opportunity.CustomApplication`

[2019-11-21 20:15] Pflaumen commented on #190
I and my coworkers have been running into this same issue.

sfdx-cli/7.33.2 darwin-x64 node-v9.5.0

@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.7 (core)
analy

[2019-11-21 20:21] ChuckJonas commented on #190
@Pflaumen we've created a work around for this in https://github.com/ChuckJonas/force-source-clean

(although make sure you understand the "clean"  behavior before running it)

[2019-11-21 21:58] ChuckJonas commented on #238
Same as #97 & #45

[2019-11-22 06:04] a-v-w commented on #205
This worked great for me. You can also delete the created apps in your project folder then push back to the org and it will remove the created apps and the error will not reoccur on your next pull.

[2019-11-22 06:22] pkozuchowski commented on #97
Is it on roadmap?

[2019-11-22 22:26] #236 closed, assigned to nobody

[2019-11-23 19:49] Andrews-Consulting commented on #167
I'm also seeing this error occasionally on Deletes: Here is a successful Delete followed by a failure:
Both deletes were invoked via the right click in the file explorer pane and selecting Delete from Project and Org.
Running sfdx-cli/7.33.2-045d48473e win32-x64 node-v10.15.3 on this date.

`
Starting SFDX: Delete from Project and Org

12:28:04.748 sfdx force:source:delete --sourcepath c:\Users\Ch

[2019-11-24 17:42] Vipulgoel19 opened #240 "SFDX : Authorize an Org VS Code issue"
### Summary

VS Code : Command SFDX: Authorize an Org not connecting the Developer/ prod Org.

### Steps To Reproduce:

1.  I have installed VS Code in my personal as well work laptop and then installed Salesforce CLI.
2.  I updated the CLI & VS Code path in Environment variables. Then installed Salesforce Extension Package & ForceCode Package in VS Code.

3.  Using Salesforce Extension Package I

[2019-11-25 17:29] yippie opened #241 "Creating AuthProvider + NamedCredential breaks pull"
### Summary

After creating an Auth provider and NamedCredential in my scratch org to test an integration, force:source:pull seems to be completely broken with no work around. Every pull throws the following error:

Entity of type 'AuthProvider' named 'My Credential' cannot be found

This happens even if I add the following to my .forceignore file

**.namedCredential
**.authProvider

### Steps To

[2019-11-26 06:48] singlifyautomationqa commented on #81
@ImJohnMDaniel Thank you for describing this problem, John. I also ran into this problem. Could you send me Jenkinsfile example of how resolve this problem? Thanks a lot.

[2019-11-26 15:37] ImJohnMDaniel commented on #81
@singlifyautomationqa -- The work around it pretty straightforward.  When you are in the `withCredentials` tag section of the Jenkinsfile, you need to first copy the server.key file to the project location from its hidden location.  Then you authenticate to the DevHub with the server.key in that new location.  Then all subsequent dealings with the scratch org will have the server.key accessible in

[2019-11-26 16:25] shetzel commented on #240
This is typically due to one of the following:

1. Windows firewall
2. Proxy
3. Windows Defender

The Trailblazer community and stackexchange are good places to search for answers to config issues like this.

[2019-11-26 18:37] nramyasri-sf commented on #114
@bugude , please make sure to specify the rootdir as the directory that contains the metadata you retrieved, in this case it should be : mdapipkg\unpackage. Let me know if you still face issues after modifying the root dir. Thanks.

[2019-11-26 18:39] daveespo commented on #144
@nramyasri-sf  -- our project still needs to serve two masters. It is a 1GP managed package and thus we need to be able to use BOTH `force:source:deploy` (to push into our packager org) while being able to use `force:source:push` into scratch orgs.

This is apparently where the breakdown occurs. The CLI builds the deployment differently (push vs. deploy) and one requires the file extension while t

[2019-11-26 22:30] shetzel commented on #241
@yippie - I can't reproduce the behavior you're seeing.  I'm able to push/pull auth providers and named credentials without an issue.  If you are not acting as the sys admin, could this be a permissions issue?

The pattern you added to the .forceignore file would not match auth providers and named credentials, so that is why it's not excluding them from push/pull.  For that you should do something

[2019-11-26 23:52] nramyasri-sf commented on #116
@aitiancai , would be able to provide a few more details eg: the metadata types you are attempting to retrieve or if possible provide the project/package.xml so we can further take a look. Thank you.

[2019-11-27 04:37] Vipulgoel19 commented on #240
Hi Team,

1. This issue is occuring on both personal & work laptop. There is not
firewall on my personal laptop but still issue persists.
2. Proxy settings are like Auto-detect and there is not other settings.
3. Can you please explaing what we need to do with Windows Defender.

Thanks,
Vipul

On Tue, 26 Nov 2019 at 9:55 PM, Steve Hetzel <notifications@github.com>
wrote:

--
*Regards*
​​
*Vipul Go

[2019-11-27 14:08] umeditor commented on #205
The workaround also solved the problem for me. After pulling down the code, I deleted the new app in the UI and did another pull.

...I stand corrected. I still had to manually modify the metadata to get subsequent pushes to work.

[2019-11-27 17:49] vmarasow opened #242 "mdapi:deploy failing when deploying contentAssets folder"
### Summary

_Deployment is failing when deploying the entire contentassets folder_.

### Steps To Reproduce:

1. `sfdx force:mdapi:deploy -u vc -d force-app/main/default/contentassets`

### Expected result

_The content assets should have gotten deployed_.

### Actual result

_Deployment failed with the error No package.xml found_.

### Additional information

_
![image](https://user-images.githu

[2019-11-27 22:43] klouf-threshold opened #243 "Add check-only flag option to force:source:delete"
Currently in our CI process we have commits to our "feature" (non-master) branches fire off `force:source:deploy` with the `-c` ("check only") flag to perform a validation-only deployment of any new/modified metadata. We are looking to add metadata deletion to the process and would like to use `force:source:delete` since it would allow us to easily provide a list of metadata files much like `force

[2019-11-28 16:19] CauchyAbel-zz commented on #57
+1. We need it for validate new code using Sonar Cloud too. Without a proper test report generated from mdapi:deploy -c, if using apex:test:run, we are only able to get test result from code that are already deployed on cloud, which is not reliable.

[2019-11-28 17:48] RupertBarrow commented on #151
I discovered that this does not behave identically when API version 47.0 or 46.0 are mentioned in the package.xml file :
- API 46.0 produces OK result
- API 47.0 generates the "ERROR running force:source:retrieve:  Cannot read property 'metadataName' of undefined" error message

[2019-11-28 18:01] payensaSFDC commented on #156
Hi @clairebianchi this behaviour should also apply to the command **force:source:convert -x** which is currently keeping the whole object in the target folder even when you only specified a single part of it. Thanks!

[2019-11-28 18:13] payensaSFDC opened #244 "sfdx force:source:convert with specified manifest [-x] returns error "Maximum call stack size exceeded""
### Summary

When using the command force:source:convert with its recently created option -x, we get an error and the command stops.

### Steps To Reproduce:

1.  I'm using a manifest with 544 components
1.  Execute command

[code]

### Expected result

[code]

### Actual result

[code]

### Additional information

_Feel free to attach a screenshot_.

**SFDX CLI Version**:
[code]

**SFDX plugin Ve

[2019-11-29 04:04] megatdanial commented on #232
Currently facing the same issue. Please help look into it

VS Code Information:
Version: 1.38.0 (system setup)
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:49:13.459Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

VERSION
  sfdx-cli/7.33.2-045d48473e win32-x64 node-v10.15.3

sfdx plugins --core
@oclif/plugin-

[2019-11-29 20:32] matiasalessandrinitn commented on #151
I tested that

I tested that and I still having the same issue. If I run sfdx:force:source:pull I get this message "No source tracking support for type: Audience. For details, visit https://developer.salesforce.com/docs/metadata-coverage and select your API version. Skipping..."

[2019-12-02 04:51] Vipulgoel19 commented on #240
Hi Steve,

I stopped the windows defender in my personal laptop but still issue
persists.

Thanks
Vipul

On Wed, 27 Nov 2019 at 10:07 AM, Vipul Goel <vipul.goel19@gmail.com> wrote:

*Regards*
​​
*Vipul Goel*
*Lead Consultant*
*C: *+91 9582210499 |* Chandigarh DG Leader
<https://trailblazercommunitygroups.com/chandigarh-india-developers-group/>*

[2019-12-02 18:34] ntotten commented on #179
I misread your initial request. This is really just something in the schema. VS Code is just enforcing the basic rules here: https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev2gp_config_file.htm

This warning shouldn't actually prevent you from doing what you are doing, it is just informational.

[2019-12-02 18:39] douglascayers commented on #179
Thanks for the clarification, understood.

[2019-12-03 11:29] vincebhh opened #245 "It is not possible to pull or push lightning email template folders"
### Summary

It is not possible to pull or push lightning email template folders.

### Steps To Reproduce:

1.  Create a new scratch org.
1.  Create a lightning email template folder named LETF.
1.  Create a lightning email template named LET.
1.  sfdx force:source:pull

### Expected result

Three files should be created
1.  LETF/LET.email
1. LETF/LET-meta.xml
1. LETF.emailFolder.xml

### Actual r

[2019-12-03 16:20] gaelbonjour opened #246 "1st SFDX execution message about data collection should be to stderr, not stdout"
### Summary

At the first run of `sfdx`command, a message appears about data collection : `Warning: You acknowledge and agree that the CLI tool may collect usage`
This message is sent to stdout, even if the first command is `sfdx force:org:list --json`
The output (stdout) is NOT a valid json, and breaks any automation at first run, then works fine.
That message, since it is not part of the expecte

[2019-12-04 21:43] alan-morey commented on #226
Closing this issue as it is not a bug.

I discovered the cause of the issue I was experience and it was my own fault.

I had an empty `.json` file in `$HOME/.sfdx/` left over from some testing I was doing on my own sfdx plugin, removing this file fixed my issue.

[2019-12-04 21:43] #226 closed, assigned to nobody

[2019-12-05 09:11] FabienTaillon commented on #205
You can also subscribe to the related [Known Issue](https://success.salesforce.com/issues_view?Id=a1p3A000001SjPn).

[2019-12-05 10:44] hgolov commented on #198
I'm experiencing this with a Dev org that I set up for Trailhead. Any developments?
Here is my error:
 `sfdx force:org:create -f config\\project-scratch-def.json --setalias trailhead --durationdays 7 --setdefaultusername --json --loglevel debug
{
    "status": 1,
    "name": "RemoteOrgSignupFailed",
    "message": "A fatal signup error occurred. Please try again. If you still see this error, conta

[2019-12-05 14:28] FabienHuot commented on #38
Hello
I'm facing the same issue as @vkvikashkr47 when I create a project

{ AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: C:\Program Files (x86)\Salesforce CLI\client\node_modules\salesforcedx-templates\lib\templates\project\standard\ScratchDef.json

This is my actual version : sfdx-cli: Updating CLI... already on latest version: 7.33.2-045d48473e

[2019-12-05 18:09] vkvikashkr47 commented on #38
Well I had uninstalled and installing again in the default directory

[2019-12-05 18:54] BobSeu commented on #239
Sorry for the super delayed response.  I think one of the later versions fixed this for me as I'm no longer having the issue.  Thanks!

[2019-12-05 23:30] bcattaneo commented on #239
Hello. It did for me as well, thank you.
I'm closing this issue now.

[2019-12-05 23:30] #239 closed, assigned to nobody

[2019-12-06 18:16] shetzel commented on #243
I've wanted the same thing on a project I just rolled off of.  We'll track this internally and release it in an upcoming patch.  Thanks!  We'll let you know when it's in the core plugin.

[2019-12-09 03:55] gtiancai opened #250 "Cannot install sfdx-diff plugin"
### Summary

I'm installing sfdx-diff extension following [this link](https://developer.salesforce.com/tools/vscode/en/user-guide/source-diff/#setup) , seems it cannot  be installed but without any error message as below:

C:\Users\userName>_sfdx plugins:install @salesforce/sfdx-diff --verbose_
This plugin is not digitally signed and its authenticity cannot be verified. Continue installation y/n?:

[2019-12-10 15:38] danielepiccone commented on #72
I am getting the same issue when trying to toggle a flow with

[code]

I figured out this call ends up not sending the correct payload.

Apparently the JSON is sent as a plain string instead of being properly parsed.

I managed to get it to work by patching `/node_modules/salesforce-alm/dist/lib/data/dataRecordUpdateCommand.js` but I cannot find the source code for this repository online to open a

[2019-12-11 00:58] thebrettbarlow commented on #81
@clairebianchi -- I wanted to throw my use case in the ring for consideration as it's also impacted by this. Our team has an automated process that uses the JWT auth flow to create scratch orgs for our developers. When someone begins working on a feature, they make a branch and get a pre-built scratch org from our DevHub.

Trouble is that they can't do anything with the scratch org because it was

[2019-12-11 01:14] clairebianchi commented on #81
@thebrettbarlow Thank you for adding your use case, this is very helpful. We are currently working on a solution for this. We have a path forward but need to go through a security review before we can proceed, hopefully, I will have good news next week

[2019-12-11 22:14] SarathKL commented on #31
getting the same error if there is an extra js file (utility.js) for the component. sfdx-cli 7.36.0 (core).

ERROR running force:mdapi:convert:  An error was encountered processing path: /Users/*****/SFDX/tempCore/mdapipkg/unpackaged/lwc/baseButtonComponent/baseButtonComponentUtils.js

[2019-12-12 09:22] danielloader opened #247 "Creation of new project yields errors in VSCode"
### Summary

Fresh creation of SFDX project causes errors.

### Steps To Reproduce:

1. Install VSCode
1. Install SFDX CLI
1. Salesforce Extension Pack for VSCode
1. Create new SFDX project with default template
1. Aura Language Server throws errors

### Expected result

Expected the default template on a newly created project to not throw errors.

### Actual result

Aura Language Server has error

[2019-12-12 09:43] danielloader commented on #247
https://github.com/forcedotcom/salesforcedx-vscode/issues/1839

Seems to being fixed today, closing this ticket.

[2019-12-12 09:43] #247 closed, assigned to nobody

[2019-12-13 00:42] brpowell commented on #250
Hi there. Does this problem happen when trying to install other sfdx plugins?

[2019-12-13 05:47] gtiancai commented on #250
No... I tried with plugin _sfdx-git-packager_

This plugin is not digitally signed and its authenticity cannot be verified. Continue installation y/n?: y
Finished digital signature check.
Installing plugin sfdx-git-packager... |

no plugins installed

[2019-12-13 15:33] wef-maros opened #248 "Improve handling of self-referencing lookups by force:data:tree commands"
**Is your feature request related to a problem? Please describe.**
When trying to migrate records using force:data:tree:export and import commands, the import fails on objects which have a self-referencing lookup (i.e. lookup pointing to the same object).
The error is this.
[code]

**What are you trying to do**
I'm trying to migrate records which are in a hierarchy within one object.

**Describe t

[2019-12-13 15:58] peterknolle opened #249 "Invalid line numbers reported in errors from force:source:deploy with manifest (package.xml)"
I give the following command to deploy dx formatted source to a sandbox:
`sfdx force:source:deploy -x ./manifest/package.xml`

I get an error such as:
`force-app/main/default/objects/Opportunity/recordTypes/TheRecordType.recordType-meta.xml
duplicate value found: <unknown> duplicates value on record with id: <unknown> (5407:18)`

However the TheRecordType.recordType-meta.xml file has nowhere near

[2019-12-13 22:39] brpowell commented on #250
@gtiancai transferring this issue to the CLI repository since the problem appears to be installing plugins in general.

[2019-12-14 12:06] RuneSor opened #251 ""INVALID_OPERATION: rollbackOnError option must be true on a production org" when running force:source:deploy of a single class to production"
### Summary

I'm running this command:
`sfdx force:source:deploy -m "ApexClass:LeadController" -u customerProd -l RunLocalTests`
and get this response:
[code]

### Steps To Reproduce:
Set up with plug-ins for a setup like this:
[code]
As you may notice, i've got the pre-release plug-in installed (which i think may be the culprit in this case). I uninstalled the plug-in with:
`$ sfdx plugins:uninst

[2019-12-16 02:14] gtiancai commented on #250
@brpowell Thanks Bryan!

[2019-12-16 18:36] zerkz commented on #41
This should be fixed by the Dec 12th release of the CLI.

![image](https://user-images.githubusercontent.com/1448099/70933022-b4956580-2000-11ea-87b7-947e46eedcc7.png)

[2019-12-17 08:52] brianevanmiller commented on #214
Any workarounds in the meantime to retrieve LightningComponentBundle metadata from a non-scratch org?

[2019-12-17 18:01] sinanbunni opened #252 "Creating scratch orgs - getting errors related to SpawnedTelemetry and TelemetryReporter"
### Summary
Trying to create a scratch org from a bash script using the command
sfdx force:org:create -f project-scratch-def.json -a ${ORG_NAME} -d 7 --setdefaultusername --json

Getting the following error:
{
    "status": 1,
    "name": "ProblemDeployingSettings",
    "message": "Failed to deploy settings to scratch org.",
    "exitCode": 1,
    "commandName": "OrgCreateCommand",
    "stack": "P

[2019-12-17 20:59] turalsadik commented on #64
MacBook Pro (15-inch, 2018)
Mem 16 GB 2400 MHz DDR4

Getting this error
My org is probably huge, but first need to get it to measure

[2019-12-17 21:46] tsadigovAgmail opened #253 "force:source:retrieve causes JavaScript heap out of memory"
### Summary

Trying to retrieve all metadata

### Steps To Reproduce:

1.  we:auth
2.  force:source:retrieve ...

### Expected result

files should have been downloaded.

### Actual result

I get
FATAL ERROR: invalid table size Allocation failed - JavaScript heap out of memory

### Additional information

I tried with --dev-debug
and heres my output

sfdx:SourceRetrieve INFO Retrieving metadata 'I

[2019-12-18 18:14] rvwatch commented on #151
@tbg-jasonfung Trying to dig into this one and struggling to repro the exact issue. Would you or anyone else in this thread be able to set up a generic repo with your set-up that causes this retrieve issue?

Thanks!

[2019-12-18 18:31] ghost commented on #214
hello @brianevanmiller I just tried to reproduce the issue on windows/mac and on scratch orgs and sandboxes and couldn't. Are you still running into this issue? Do you have any steps to reproduce, maybe I missed something?

[2019-12-18 20:03] AndrewRayCode commented on #90
I'm not sure if the above is correct, I don't see any options to make a dashboard itself "public" when editing it. I was able to do this, it was mildly nightmarish to figure out so documenting the steps:

List all dashboards with SOQL: `SELECT Id, DeveloperName, FolderName FROM Dashboard`

Guess which one is yours, since the DeveloperName is something like "23jf0923jf0293jf"

Take the folder name

[2019-12-18 20:08] alan-morey opened #254 "sfdx update not updating CLI to latest version 7.37.1"
### Summary

Executing `sfdx update` not updating to latest version 7.37.1

### Steps To Reproduce:

[code]

### Expected result

Should upgrade cli version to 7.37.1 as per latest version listed on  [npm](https://www.npmjs.com/package/sfdx-cli) and [cli release notes](https://developer.salesforce.com/media/salesforce-cli/releasenotes.html)

### Actual result

[code]

### Additional information

L

[2019-12-18 21:09] mshanemc commented on #214
I still have the issue.  Was trying to use a production org and wasn't able to, yesterday.

[2019-12-18 23:23] ghost commented on #214
@mshanemc Do you have more detailed steps to reproduce? I
1. create LWC via CLI
2. push/deploy
3. change the LWC remotely
4. pull/retrieve the LWC successfully.

what version of the cli are you on? are you on a windows or mac machine? Are you able to mdapi retrieve the LWC?

[2019-12-19 06:35] harshad22dani commented on #92
I am still getting this error. I think my VSCode is latest one.
Following are the version details found on my terminal

 ****sfdx --version****
sfdx-cli/7.36.0-b1c4e9c7c8 win32-x64 node-v10.15.3
 **sfdx plugins --core**

@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@ocli

[2019-12-19 14:39] ericrsmith35 opened #255 "Unable to retrieve LWC with manifest"
This package.xml file comes back with no results even though I have lwc components in the org.

[code]
`09:35:14.867 sfdx force:source:retrieve --manifest d:\esmit\Documents\Salesforce\ersmith\manifest\package.xml
=== Retrieved Source
No results found
09:35:39.492 sfdx force:source:retrieve --manifest d:\esmit\Documents\Salesforce\ersmith\manifest\package.xml ended with exit code 0`

[2019-12-19 16:03] sinanbunni commented on #254
Similar issue I have when I ran the sfdx update command.

[2019-12-20 02:27] ImJohnMDaniel commented on #26
@clairebianchi and @mshanemc -- did this issue ever go anywhere?  I ran into the same need and was about to open a new feature request but this ticket came up in the suggestion box.

If the feature request already exists, please let me know.  Otherwise, I will add a new feature request.

Cheers!

[2019-12-20 12:04] reda-benhemmouche opened #256 "Cannot read property 'getAggregateSourceElements' of undefined"
### Summary
I get error without details during the execution of the command `sfdx force:source:convert`

### Steps To Reproduce:

1.  This is step 1.
run the command `sfdx force:source:convert`
1.  This is step 2.
get error
`ERROR running force:source:convert:  Cannot read property 'getAggregateSourceElements' of undefined`

### Expected result

Sometime the error is related to incorrect folder na

[2019-12-20 12:24] reda-benhemmouche opened #349 "Cannot read property 'getAggregateSourceElements' of undefined"
### Summary
I get error without details during the execution of the command `sfdx force:source:convert`

### Steps To Reproduce:

1.  This is step 1.
run the command `sfdx force:source:convert`
1.  This is step 2.
get error
`ERROR running force:source:convert:  Cannot read property 'getAggregateSourceElements' of undefined`

### Expected result

Sometime the error is related to incorrect folder na

[2019-12-20 15:01] vanortiz13 opened #257 "force:source:deploy non-code deploy to PROD requires Apex test to be run"
### Summary

Deploying permission sets  only to PROD using force:source:deploy. The command is forcing to run a test when [Salesforce docs](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_deploy_running_tests.htm) advise that for a no code deploy to PROD, Apex tests aren't run.

### Steps To Reproduce:

1.  Run the following command against PROD: `sfdx force:source:de

[2019-12-20 18:30] clairebianchi commented on #232
@megatdanial can you please send steps to reproduce? What metadata is defined in your package?

[2019-12-20 18:33] clairebianchi commented on #235
@AllanOricil, I will pass your issue on the packaging team. They track their work in an internal system but I will make sure that the PM has seen this.

[2019-12-20 18:33] #235 closed, assigned to nobody

[2019-12-20 18:38] clairebianchi commented on #240
@Vipulgoel19 can you please try to perform the same action from the terminal?
If that does not work it sounds like your connected app callback URL is maybe set wrong, It should be set to http://localhost:1717/OauthRedirect

[2019-12-20 18:45] clairebianchi commented on #242
@vmarasow you need to include a package.xml file in the deploy directory. If you are using source formate you can use source:deploy which does not need a package

[2019-12-20 18:45] #242 closed, assigned to nobody

[2019-12-20 18:47] clairebianchi commented on #244
@payensa-sf can you please give us more information about your manifest, what types of metadata are you trying to convert?

[2019-12-20 18:58] clairebianchi commented on #250
@gtiancai it looks like you might be on an older version of the CLI can you update your CLI and then try again? We migrated the CLI to a new CLI framework (OCLIF) early this year and therefore any plug-ins created after the migration will be OCLIF and not work on pre-OCLIF CLI versions

[2019-12-20 19:01] clairebianchi commented on #251
@RuneSor, Thank you for reporting this, just so I am clear, what you are saying is you are able to do the deploy on the current weekly version of the CLI but when you have pre-release installed you get the error?

[2019-12-20 20:35] RuneSor commented on #251
@clairebianchi, That's correct.

I will try to reproduce the error, there should be some open time during the holidays to play around with my setup :)

[2019-12-20 23:26] clairebianchi commented on #245
@vincebhh we are unable to reproduce this issue. I am not super familiar with lightning email templates and folders. Would you please give us a little more detail around how you created these in the Scratch org? Did you enable this is the scratch org:
![image](https://user-images.githubusercontent.com/41926844/71298467-0c9fd500-233d-11ea-8968-1d9e19ff68b8.png)
or did you have that already set in y

[2019-12-22 04:55] FernandoPicazo opened #258 "Failure to do force:mdapi:convert with certain metadata types"
### Summary
When doing a source conversion on metadata retrieved from our Salesforce or I received the following error

This appears to affect the conversion capabilities for the following metadata types.

1. AuraDefinitionBundles
2. EmailTemplates
3. LightningComponentBundle
4. CustomTab
5. TopicsForObjects
6. Triggers
7. CustomPageWebLink
8. WorkFlow

#### Log Output
[code]

### Steps To Reprodu

[2019-12-22 06:30] ranjanjha17 opened #259 "Unable to push ebike code to scratch org"
Hello All,
When I am trying to push code using **sfdx force:source:push** by following https://github.com/trailheadapps/ebikes-lwc#installing-e-bikes-using-a-scratch-org link , I am always getting error : MissingMessageError: Missing message source_push:commandDescription for locale en_US.
    at Messages.getMessageWithMap (C:/Program Files/Salesforce CLI/client/node_modules/@salesforce/core/lib/m

[2019-12-26 14:51] smcmickleMTM commented on #214
I've actually got this same issue.  I am trying to work on a coworker's code that is out of town.  I went to retrieve the lwc folder from source, but it does not retrieve his files for some reason.  I've also tried to retrieve the whole project, but it does not pull in his new lwc or aura components. I'd imagine making an entirely new visual studio project would work, but that is not the ideal sol

[2019-12-26 19:40] opensourcejunkie commented on #94
@jakubmplatek Dude, you're awesome. I've been trying all the various fixes in this thread and around the internet, and your final comment's exactly what I needed. Thanks :-)

For anyone else who used a custom subdirectory, note that as a final step, I had to also delete my .sfdx/orgs/{scratch-org-name} directory before push would go through; it was probably caching the invalid path as described by

[2019-12-27 19:03] #250 closed, assigned to nobody

[2019-12-27 19:03] #241 closed, assigned to nobody

[2019-12-27 19:04] #229 closed, assigned to nobody

[2019-12-27 19:04] #232 closed, assigned to nobody

[2019-12-27 19:04] #234 closed, assigned to nobody

[2019-12-27 19:04] #228 closed, assigned to nobody

[2019-12-27 20:02] #240 closed, assigned to nobody

[2019-12-27 23:42] pramodgavade commented on #256
@reda-benhemmouche - were you able to find the root cause? I am also getting same error while using Jenkins. Strangely it works if I use VSCode.

[2019-12-27 23:57] pramodgavade commented on #256
@reda-benhemmouche - With some trial and error, I found out the root cause; "lwc" metadata is causing this issue. It works if I remove lwc folder.

[2019-12-28 00:02] #245 closed, assigned to nobody

[2019-12-30 06:38] kiritgarg commented on #256
Did you get any solution to this? I have removed LWC folder. Still i am getting same error.

[2019-12-30 11:13] jamesmelville commented on #160
Hi - this issue occurred again at 2019-12-24T12:34:39.243Z (package version hidden)

[code]

Version:
[code]

From the logs I can see that the `SubscriberPackageVersion` table was being polled multiple times,
`SELECT Id, SubscriberPackageId, InstallValidationStatus FROM SubscriberPackageVersion WHERE Id ='04t1r0000000000000' AND InstallationKey ='null'`
and at some point it decided it was ready to

[2019-12-30 16:39] lcampos commented on #259
@ranjanjha17 thanks for opening this issue. Can you add which version of the CLI you are on and which OS you are running (e.g. Windows 10) ?

[2019-12-30 18:33] shetzel commented on #256
@reda-benhemmouche - thank you for posting an excellent bug report with the stack trace!  I see the problem in the code and will fix asap.  I would expect the fix in the next patch release of the core plugin.

[2019-12-31 18:37] ghost commented on #214
@smcmickleMTM are you using the VScode extensions? or the cli directly?

[2019-12-31 18:41] smcmickleMTM commented on #214
@williamruemmele-sf  I was using the official extension from Salesforce.  I found a workaround is to just type in the command in the terminal, which is fine for me.  I suppose that means that I was using the extension and now I'm using the CLI directly.  Thanks for asking!

[2019-12-31 18:44] ghost commented on #214
@smcmickleMTM Just to clarify, it works in the cli ( in the terminal ) but not if you're using the vscode extensions?

[2019-12-31 18:47] smcmickleMTM commented on #214
@williamruemmele-sf It still works (retrieves classes) in the terminal if I have the extensions installed, but the extension UI from right clicking and retrieving from source does not retrieve new classes.

[2020-01-02 15:43] pogilvie commented on #205
The only way I found to work around this was to create a new scratch org and push the working source to and NOT create an override lightning page in the scratch org.   I use DX for doing trailhead development for fun and practice so not a big deal.  My company is starting at DX pilot this month and I'm disappointed that this issue is taking so long to address.  I'm a DX advocate but this would hav

[2020-01-03 07:19] PiranhaHunter commented on #259
I have the same issue.
SFDX CLI: 7.36.0-b1c4e9c7c8, Windows 10 PRO v1909

[2020-01-05 06:00] svadariyagit commented on #92
I am facing the same issue, My SFDX CLI is running on  7.36.0-b1c4e9c7c8.
I tried to upgrade to new version but apparently this is the latest version

[2020-01-05 06:04] svadariyagit commented on #92
I am still facing this issue, below is my version details. I hope VS code version does not matter here
sfdx --version
sfdx-cli/7.36.0-b1c4e9c7c8 win32-x64 node-v10.15.3

sfdx plugins --core
@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-availab

[2020-01-05 08:45] turalsadik commented on #253
does anyone check thease issues?

[2020-01-05 12:32] JodieM opened #260 "Unable to create a Preview Org"
I am tying to create a developer org for Spring '20. I have the following in my project-scratch-def.json
`"edition": "Developer",
"release": "Preview",`

I am getting the error
`At this time, we are outside of the preview period. You can create only current release scratch orgs.`

I first tried it after midnight on 4-Jan-2020 PST.

As per this [link](https://developer.salesforce.com/docs/atlas.en-

[2020-01-06 04:55] sjurgis commented on #260
Same here.

[2020-01-06 05:15] sjurgis opened #261 "Unable to specify config for linter"
### Summary

When running sfdx force:lightning:lint and trying to specify custom eslint config, it tries to to fetch config from folder that is being scanned.

### Steps To Reproduce:

`sfdx force:lightning:lint --config=./.eslintrc.js ./myns/main/default/aura`

### Actual result

[code]

### Additional information

Putting config into aura folder doesn't work either

Versions:

`sfdx-cli/7.36.0-b

[2020-01-06 05:16] sjurgis commented on #261
Removing .js doesn't work either.

[2020-01-06 12:17] MukundKoiralaDH commented on #256
@shetzel is there any planned date to release this fix ?

[2020-01-06 14:33] homerlex opened #262 "Can't open scratch orgs that were created last week"
### Summary

Can't open scratch orgs that were created last week.  I have a number of scartch orgs that were created last week.  I was using them fine on Friday (1/3/2020).  This morning (1/6/2020) when I try "sfdx force:org:open" on any of these orgs the command line hangs indefinitely.  If I create a new scratch org I can open it with any problem.

### Steps To Reproduce:

1.  sfdx force:org:ope

[2020-01-06 16:01] keirbowden commented on #262
We saw the same thing earlier today - strangely there was one member of the team who was unaffected. They were signed out of the dev hub and when they signed back in again they could access their existing scratch orgs. The rest of us (5 people) lost access to all of them.

[2020-01-06 16:13] shetzel commented on #256
The next patch release, which is this Thursday.  To be clear, the error message reported in the issue will no longer be thrown.  Instead, the actual problem that caused the error will be thrown, which should provide the context for people hitting this issue.

[2020-01-06 16:16] ImJohnMDaniel commented on #262
I have also seen similar behavior over the weekend

[2020-01-06 16:17] ajw725 commented on #262
same issue here for all of my existing scratch orgs. sometimes i get this error:

[code]

also, if i do `ps | grep force` while that command is running, it looks like there are several processes running:
[code]
i'm not sure if that's expected, but it seems like there should only be one.

[2020-01-06 16:26] aheber commented on #262
I had the same issue.

I don't know what pod I was on but do you think it is possible that scratch orgs on the now Spring '20 pods didn't survive the upgrade?

[2020-01-06 16:50] shetzel commented on #262
Thanks for reporting everyone.  There hasn't been any CLI changes for several weeks but as was pointed out in this thread there was an update over the weekend, which seems to be causing the problem.

This will be better handled as a support case.  Could one of you please contact support to start that process?  I will close this issue as being tracked internally.

Thanks all!

[2020-01-06 16:52] #262 closed, assigned to nobody

[2020-01-06 17:11] lcoffin commented on #92
Our team has been having the same issue as well (the "Cannot find module '../package.json'") since at least mid-December. Removing the latest version of the CLI (removing the "C:\Users\<username>\AppData\Local\sfdx\client" folder) works to get rid of the package.json error, but takes us back to other errors (in particular we can't create a new project...). I hope this can get fixed soon as it's se

[2020-01-06 18:39] daveespo commented on #262
Case #25282353

[2020-01-06 19:44] PseudoDarwinist commented on #124
Hi,
Were you able to resolve this issue. I am facing the same issue?Please help!

[2020-01-06 20:05] ajw725 commented on #260
same here, and it's actually a pretty significant problem for us right now, because we're having some spring 20-related bugs and this makes it much harder to test/debug.

[2020-01-06 21:27] shetzel commented on #260
@rrmehta2

[2020-01-07 00:43] cumulus-robert commented on #124
Hi I've just encountered this. No changes to my jenkins file throughout the day while there were successful deployments earlier in the day. I did perform some git maintenance (merge ins from master), but shouldn't have affected Jenkins itself. One thing I noticed in output is it's trying to pull in data from a directory unrelated to the job. For example, I'm running a multi-branch Pipe that has ba

[2020-01-07 01:04] jflowers45 commented on #216
same on OSX 10.14.6 and
sfdx-cli/7.36.0-b1c4e9c7c8 darwin-x64 node-v10.15.3

[2020-01-07 01:11] ncnxx commented on #124
What I did to resolve this issue is putting the jwt key files inside the repository to be persistently referenced by the Jenkinsfile. This approach is highly not recommended as it is not secured. It is meant to be a workaround.

[2020-01-07 01:13] cumulus-robert commented on #124
Mines odd ...
![2020-01-06_17-09-26](https://user-images.githubusercontent.com/8163365/71860441-befaca80-30a7-11ea-8e1a-375fd7d89ad7.png)

It's trying to reference the key file from a completely different project. This is prompting me to think there is a cache of sorts on that Jenkins project. Trying to delete that project's folder now.

[2020-01-07 01:16] ncnxx commented on #124
I did encountered something like this which is really unexpected and I suspected it might have something to do with Jenkins' way of handling files and caches itself.

Try what I recommended above on moving the JWT files inside the repository not the Jenkins. After that, try uninstalling the SFDX CLI following the steps here https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_set

[2020-01-07 01:21] cumulus-robert commented on #124
That's the last thing I want to do!! I will need to do something to move forward though. I will need to revisit tomorrow. Thanks for the pointers.

[2020-01-07 01:21] adam17amo commented on #216
Same on OSX 10.14.6
sfdx-cli/7.37.1 darwin-x64 node-v12.13.0

Getting this for sfdx force:user:password:generate and force:user:display
Nothing happens with no error message when trying to use force:org:open

[2020-01-07 08:21] PseudoDarwinist commented on #124
That's the same thing i have started encountering, even deleting the previous project which it is referring does not resolve the issue.

[2020-01-07 09:07] PseudoDarwinist commented on #124
Now that(I think) cache has cleared, i am receiving below error:
RROR running force:mdapi:deploy:

<html>
<head><title>An internal server error has occurred</title></head>
<body>

<div style="display:none;" id="errorTitle">An internal server error has occurred</div>
<div style="display:none;" id="errorDesc">An error has occurred while processing your request. The salesforce.com support team has be

[2020-01-07 10:02] sjurgis opened #263 "Unable to push Lightning Tab profile settings"
### Summary

This is intermittent and seems to happen much more often in CI rather than on dev machine for some reason.
Once in a while when pushing source to a fresh org, error below appears.
**Doesn't happen with permsets tho.**

### Steps To Reproduce:

1.  Create lightning tab at `main/default/tabs/WelcomeLightning.tab-meta.xml`
[code]
2. Add lightning tab to profile:
[code]

Or ...

[code]

#

[2020-01-07 15:27] ntotten commented on #216
The fix for this will be going out in the next release on 2020-01-09.

[2020-01-07 17:32] cumulus-robert commented on #81
I believe this is related: https://github.com/forcedotcom/cli/issues/124. I just encountered this yesterday. There was no change to Jenkins and/or SFDX. It just started. I'm leaning for this being a Jenkins issue for the reason that I've deleted projects, added server.key to repo, created an additional jenkins secret file and no matter what I do, the output still points to a project in another dir

[2020-01-07 17:41] cumulus-robert commented on #124
Adding the key to repository doesn't work when I use Jenkins. I have to log in to the CLI and perform the SFDX commands manually. Jenkins is the problem here. There's nothing I can do to overcome this at this time other than performing a fresh install of Jenkins I believe. It's Jenkins that's trying to reference a file in a place that doesn't exist. This really sucks.

[2020-01-07 17:44] ImJohnMDaniel commented on #81
@cumulus-robert -- I agree.  The two issues are related.  Essentially the root issue is that when you have a JWT connection to your DevHub and you create a scratch org from that connection, it too is setup as a JWT connection which requires the server.key to be present for any interaction to that scratch org.

@clairebianchi and crew are looking into it!

[2020-01-07 17:47] cumulus-robert commented on #81
I'm not working in scratch orgs, technically. I'm working in Production orgs with JWT and in this instance, I'm trying to deploy change to a sandbox.

Again, this just started happening around mid-day yesterday. Deployments worked in AM, stopped working in PM. No change to our technology.

Nothing I'm doing is working. I've added server.key to repo (terrible practice wouldn't pass smell test) and

[2020-01-07 19:35] twaugh2020 commented on #124
You have to log out of the org you are authenticating to at the end of the Jenkins job and when the job starts you have to log in to authenticate. When you log out and log back in it forces jenkins to generate a new path to the JWT Key File. Here is an example that fixed this issue for me:

stages {

        stage('Deploy to DEV') {
            steps {
                withCredentials([file(credent

[2020-01-07 20:06] cumulus-robert commented on #124
I've tried a couple versions of this, none of which produce the actual logout command AFTER it errors out. Perhaps I need a better understanding of the groovy syntax, but this just isn't working for me. I expanded on the groovy code put out by salesforce.com in the JWT Jenkins CI documentation. I'm not doing much else other than this. Any thoughts on how to force a log out? This script still produ

[2020-01-07 20:17] PseudoDarwinist commented on #124
It's frustrating.I have been into it since long.tried everything.Tried what you had said but still the same error.
#!groovy
import groovy.json.JsonSlurperClassic
node {

    def BUILD_NUMBER=env.BUILD_NUMBER
    def RUN_ARTIFACT_DIR="tests/${BUILD_NUMBER}"
    def SFDC_USERNAME

    def HUB_ORG=env.HUB_ORG_DH
    def SFDC_HOST = env.SFDC_HOST_DH
    def JWT_KEY_CRED_ID = env.JWT_CRED_ID_DH
    def

[2020-01-07 21:15] cumulus-robert commented on #124
Yes it is frustrating that one day a script works and the next it doesn't when no changes were made to infrastructure and/or scripts. This is definitely an infrastructure issue specific to SFDX/Jenkins, IMHO. I'm very disappointed/frustrated to be going through this. I don't need to be spending time on this after having  just moved my whole Jenkins architecture from ANT to SFDX in October 2019 bec

[2020-01-07 21:51] shetzel commented on #124
The fix for this issue will be included in the patch release this Thursday, 1/9/2020.  Apologies for the delay in getting the fix out and for all the CI headaches it's caused!

[2020-01-07 22:41] shetzel commented on #259
I don't believe this is still an issue with the latest sfdx-cli and core plugins.  Please update to the latest sfdx-cli (sfdx update) and make sure you are using all the latest core plugins.  If you find that you're still seeing this after you've updated to the latest, re-open this issue and post the output of running `sfdx plugins --core`

[2020-01-08 10:33] dmagyar-veeva commented on #156
Hi @clairebianchi, as mentioned by @payensa-sf this also happens when using the convert command, so we're still using ant for packaging before committing it to source control. Thank you!

Update: Although we found a workaround, VSCode plugin: ForceCode

[2020-01-08 10:53] payensaSFDC commented on #244
Hi,

For example, I've just tried to convert a package that includes:

[code]

And the result was again:

`ERROR running force:source:convert:  Maximum call stack size exceeded`

Regards

[2020-01-08 14:28] MalharCap commented on #81
@cumulus-robert , this has been my issue for over a month now.  I've also tried out different solutions, including the one mentioned by John Daniel but I couldn't get it to work.  So at this point awaiting on response from SFDX team as mentioned by Claire.

[2020-01-08 15:26] ghost commented on #81
Hello to everyone on this thread. We've changed the way that scratch orgs are authenticated to the DevHub, so in the next release of the CLI this issue should be resolved.

[2020-01-08 16:11] cumulus-robert commented on #81
I appreciate the response. I don’t appreciate my inability to run deployments all of a sudden when nothing changed in my infrastructure having tried and true scripts.

I hope this is resolved soon. I’m dead in the water for everything I do in my practice using Jenkins.

There needs to be better change management in delivery so there is no impact to business. Salesforce is better than this.

The ot

[2020-01-08 17:13] joeferraro commented on #56
@clairebianchi is this bug being tracked elsewhere on github?

[2020-01-08 20:40] daveespo commented on #262
FWIW, this seems to have been fixed for us. We can open scratch orgs that were created last week

[2020-01-08 21:35] mitchspano commented on #259
I am seeing the same issue. Here is the output of sfdx plugins --core:

C:\Users\t911259\Documents\Axiom-TEST\Axiom-TEST>sfdx plugins --core
@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)

[2020-01-09 02:27] sfsholden commented on #214
@smcmickleMTM Please feel free to correct me if I am misunderstanding.

In VSCode, when using the UI to right click and call 'SFDX: Retrieve Source from Org', it is not expected that new components will be brought into the project.

This is actually what the OrgBrowser was designed to help with. Previously to pull in new source for situations like this, a user would have to modify their manifest f

[2020-01-09 05:44] YodaDaCoda opened #264 "force:data:soql:query prints [object Object] for related related record"
### Summary

When querying data with `sfdx force:data:soql:query`, related fields more than two levels deep just display as `[object Object]`.

### Steps To Reproduce:

1.  `sfdx force:data:soql:query -q "SELECT Id, Sobj1__r.Sobj2__r.Some_Field__c`
1.  Note that the output fields are `Id` and `Sobj1__r.Sobj2__r`. The value for `Sobj1__r.Sobj2__r` is `[object Object]` which is the standard javascri

[2020-01-09 09:45] PiranhaHunter commented on #259
@shetzel, Still having the same issue. Output of sfdx plugins --core:

@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.5 (core)
analytics 1.2.1 (core)
generator 1

[2020-01-09 10:38] PseudoDarwinist commented on #124
I just cant believe it..i uninstalled Jenkins completely and installed it afresh with all the plugins and error still refers to the old directory that even my memory does not remember.

:\Program Files (x86)\Jenkins\workspace\Iberia_RM_Salesforce_>"C:\Program Files\Salesforce CLI\bin\"sfdx force:auth:jwt:grant --clientid 3MVG9od6vNol.eMoqx7 --username niit@iberia.es.lightning --jwtkeyfile "****" -

[2020-01-09 11:02] PseudoDarwinist commented on #124
Can somebody please let me know the logic why jenkins is looking for server.key on that folder when i have uploaded it on Jenkins as global variable?

[2020-01-09 12:08] smcmickleMTM commented on #214
@sfsholden
I am expecting to be able to pull in new components with right click folder -> Retrieve Source from Org, however, it currently does not pull in new components when I do so.

[2020-01-09 15:52] ajw725 commented on #262
yep, working for me now, too. still can't create a new scratch org on the preview release, but there's another issue here for that.

[2020-01-09 16:13] nebc-jasonfung commented on #151
@rvwatch Our codebase has changed quite a bit since I logged this ticket - however I'm able to reproduce the problem with a different metadata included in `package.xml`:

[code]

Here is the debug log:

[code]
I hope the above is useful

[2020-01-09 16:34] sauloefo commented on #156
Hi @clairebianchi, I'd like to bring you an other user case: here in company we have a few custom fields for an object from a managed package. In this scenario, I want to deploy only my custom field.
My work around today is simply keep this out of my automated deployment. :/
Cheers,