[2021-03-05 16:56] pclements12 opened #901 "Scratch Org Feature not Enabled using Org Shape"
### Summary

When using the Org Shape (beta) feature, sometimes the `ContactsToMultipleAccounts` feature from the source org isn't enabled in the target scratch org.

### Steps To Reproduce:

1. Create an Org Shape from an Org that has the `ContactsToMultipleAccounts` Feature enabled
2. Create a new SFDX Project and use the Org Shape in the `project-scratch-def.json`:
[code]
3. Create a scratch or

[2021-03-05 21:30] gsbasso commented on #884
Well I give up...

Have upgraded to the `7.90.2` build, tried setting environment variable `SFDX_REST_DEPLOY=false` or `config:set restDeploy=false `and it still shows `*** Deploying with REST ***` (and fails, obviously).

Even the hack to `force.js` does not work for me. I keep getting `INVALID_SESSION_ID: Session expired or invalid`

It's fortunate automatic updates on our Jenkins server have my

[2021-03-05 21:35] CrownSeven commented on #884
@gsbasso just re authorize the org you are deploying to that will take care of the invalid session id error.

[2021-03-05 22:37] gsbasso commented on #884
@CrownSeven Re-authorizing worked - thanks so much for the suggestion.

Still showing `*** Deploying with REST ***` (with `restDeploy` set to `false`). Seems to be ignoring the config setting, unless the message is misleading (?).

[2021-03-05 22:42] CrownSeven commented on #884
Yes it does seem to be ignoring the flag.  Fortunately with the wait hack, and reauthorizing we’re still able to deploy for now.

From: gsbasso<mailto:notifications@github.com>
Sent: Friday, March 5, 2021 4:37 PM
To: forcedotcom/cli<mailto:cli@noreply.github.com>
Cc: CrownSeven<mailto:v6er@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [forcedotcom/cli] SyntaxError: Unexpect

[2021-03-06 10:00] lukethacoder commented on #890
@JohnTheRedeemer 's solution (using `sfdx force:auth:device:login` instead) seems to work nicely.

if you need to auth a sandbox org use the `-r https://test.salesforce.com` flag on the end of the command. can add an alias using `-a YOUR_ORG_ALIAS` too.

`sfdx force:auth:device:login -r https://test.salesforce.com -a YOUR_ORG_ALIAS`

updating the `sfdx-cli` to version `7.90.2` has fixed this up.

[2021-03-06 16:04] #890 closed, assigned to nobody

[2021-03-07 12:56] AllanOricil opened #902 "Warning Message: Connected Status is going to be removed API 52"
### Summary

If connected status is going to be removed which information can we use to determine if the Scratch Org is alive? The current output does not have token expiration date.

[2021-03-07 12:57] #902 closed, assigned to nobody

[2021-03-08 11:42] manjitsingh8 commented on #904
I do have the same issue on running the same command. I am on latest version of SFDX. Here is what happens

![image](https://user-images.githubusercontent.com/57090895/110314604-112dd780-802e-11eb-9822-9b5c86c02c80.png)

It just finishes, no error, no warning, no success. A week back, it used to work i.e. show number of components, deploy status etc. Same thing happens if I run it from a terminal,

[2021-03-08 14:33] AllanOricil opened #903 "Publish web apps built with LWC to Salesforce with single command, like we do on heroku"
**Is your feature request related to a problem? Please describe.**
No, it is just that it would be cool to have lwc web apps hosted inside salesforce using just one command, the same way we can do when we deploy to Heroku. What do you think?

**What are you trying to do**
deploy lwc web apps to salesforce

**Describe the solution you'd like**
Maybe something like this `sfdx force:lwc:site:deploy`

[2021-03-08 14:33] uip-robot-zz commented on #903
This issue has been linked to a new work item: [W-8976596](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008ZukZIAS/view)

[2021-03-08 14:50] AllanOricil commented on #732
@mshanemc I created a plugin that does that and works well. I just had to deploy this metadata to my Scratch Org

This could be deployed automatically when we run `sfdx force:org:create --disable-verification-code` or it could be a Scratch Org configuration

[code]

[2021-03-08 19:01] naustin commented on #610
Just ran into this issue while trying to upgrade from sfdx-cli/7.72 on wsl-x64.  Here's a workaround.  Following the instructions on this page for install of Linux:  [sfdx_setup_install_cli](https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm#sfdx_setup_install_cli)

[2021-03-08 20:07] TamiTakamiya commented on #610
I wonder if this wsl-x64 update issue could be resolved just by creating a symbolic link `wsl-x64` to `linux-x64` on the server that stores updated codes.  Or isn't that simple?

[2021-03-08 20:45] mikesobczak opened #905 "sfdx force:org:list hangs"
### Summary

When I run the following command in either the VS Code terminal window, or a Windows Command Prompt, it returns all of the orgs, but hangs:  sfdx force:org:list

### Steps To Reproduce:

1.  Execute "sfdx force:org:list" on Windows, either in the VS Code CMD terminal, or in a Windows Command Prompt.

### Expected result

Control should be given back to the user.

### Actual result

Co

[2021-03-08 22:27] amphro commented on #898
We apologize for not updating the documentation and will do so now. Windows 7 is [no longer supported by Microsoft](https://support.microsoft.com/en-us/windows/windows-7-support-ended-on-january-14-2020-b75d4580-2cc7-895a-2c9c-1466d9a53962). Node will [not support a version of Windows that Microsoft doesn't support](https://github.com/nodejs/node/pull/31954), which makes it improbable for us to su

[2021-03-08 22:27] #898 closed, assigned to nobody

[2021-03-08 23:09] WillieRuemmele opened #907 "Help us test new `data` commands"
`force:data:tree:*`, `force:data:soql:query`, `force:data:record:*`, and `force:data:bulk:*` commands have been rewritten and open-sourced...but they're not bundled into the CLI yet.

**Before we do that, we'd like your help testing them out.**

## Install
`sfdx update` to make sure you're on the latest version
`sfdx plugins:install @salesforce/plugin-data`

## Test
once the plugin is installed, y

[2021-03-08 23:10] WillieRuemmele commented on #842
Hi @alexmodis check out the [new](https://github.com/forcedotcom/cli/issues/907) data plugin

[2021-03-08 23:13] WillieRuemmele commented on #828
Hi @robertStrunk check out the [announcement](https://github.com/forcedotcom/cli/issues/907) for the new [data](https://github.com/forcedotcom/cli/issues/907) plugin

[2021-03-08 23:14] WillieRuemmele commented on #720
Hi @jhilyard  check out the [announcement](https://github.com/forcedotcom/cli/issues/907) for the new [data](https://github.com/forcedotcom/cli/issues/907) plugin

[2021-03-08 23:14] WillieRuemmele commented on #711
Hi @neocolmartin  check out the [announcement](https://github.com/forcedotcom/cli/issues/907) for the new [data](https://github.com/forcedotcom/cli/issues/907) plugin

[2021-03-08 23:15] WillieRuemmele commented on #710
Hi @neocolmartin  check out the [announcement](https://github.com/forcedotcom/cli/issues/907) for the new [data](https://github.com/forcedotcom/cli/issues/907) plugin

[2021-03-08 23:15] WillieRuemmele commented on #682
Hi @AllanOricil  check out the [announcement](https://github.com/forcedotcom/cli/issues/907) for the new [data](https://github.com/forcedotcom/cli/issues/907) plugin... might've fixed the bug

[2021-03-08 23:15] WillieRuemmele commented on #617
Hi @mnunezdm  check out the [announcement](https://github.com/forcedotcom/cli/issues/907) for the new [data](https://github.com/forcedotcom/cli/issues/907) plugin

[2021-03-08 23:16] WillieRuemmele commented on #264
Hi @YodaDaCoda @tescalada  check out the [announcement](https://github.com/forcedotcom/cli/issues/907) for the new [data](https://github.com/forcedotcom/cli/issues/907) plugin

[2021-03-09 01:08] MuriloKakazu opened #908 "force:apex:execute hangs for 60s and returns status 0 when it fails"
### Summary

When you run `force:apex:execute` and enter the Apex code in STDIN, the CLI hangs for 60 seconds even though the request is already completed and the result is present in STDOUT

And if the entered Apex code does not compile or throws an Exception, the CLI returns status 0

### Steps To Reproduce:

Valid Apex code (hangs for 60s):
[code]

Invalid Apex code (hangs for 60s and returns 0

[2021-03-09 11:58] bowdi commented on #884
Looking at the [status page](https://github.com/salesforcecli/status) for the cli it looks like the build is failing for the cli repo, so that may be why the latest build hasn't helped / is ignoring flags etc.

[2021-03-09 12:01] jbeauchamp715 commented on #462
Did something change? I have been using VS Code for over a year now and this is the first time I have had this issue. Every time I start my machine in the morning and a couple times through out the day I am getting this error. I am going to attempt the force:org:open that nesrineould suggested but I should not have to. This is quite annoying as it seems to happen at random.
Update: using the sfdx

[2021-03-09 12:02] amanrawat1993 commented on #899
I think this issue is similar to this issue, https://github.com/forcedotcom/cli/issues/881.
My friend was facing this and we changed the CLI version using below commands taken from the mentioned issue and now it is working fine.

sfdx plugins:install sfdx-cli@7.88.4
sfdx plugins:install salesforcedx@48.22.11

[2021-03-09 12:05] amanrawat1993 commented on #881
This one worked for me,

sfdx plugins:install sfdx-cli@7.88.4
sfdx plugins:install salesforcedx@48.22.11

[2021-03-09 14:21] MuriloKakazu commented on #905
I sometimes have this same issue on `sfdx-cli/7.89.2 darwin-x64 node-v15.5.1`, macOS.
The command hangs indefinitely, forcing me to end it with a SIGINT

[2021-03-09 14:25] Rohit496 commented on #881
Hello All,
I got some error in jenkins below you can see
===================================
C:\Windows\system32\config\systemprofile\AppData\Local\Jenkins\.jenkins\workspace\SCSDevOps_>C:\"Program Files"\"Salesforce CLI"\bin\sfdx auth:jwt:grant --clientid 3MVG9fe4g9fhX0E43UVmaCSnNuTBm276ttpeJuWSKS0l5TmJXMSGSNJxOgtCwV6kIv8ySP_liAUHKh6p_yRD6 --username kcfcicd@yopmail.com --jwtkeyfile **** --loglev

[2021-03-09 15:37] jbeauchamp715 commented on #904
I too am having this issue. When I make a change to my Apex class and I save the change, the deploy to salesforce executes but does not actually deploy the changes. I get message stating it ended with an exit code of 0 but it did not actually deploy the code. I then have to make another change to the file, and save it. It then deploys to Salesforce, sometimes this works, sometimes it does not. I h

[2021-03-09 16:08] btamburrino opened #909 "Node Warning: Accessing non-existent property ... of module exports inside circular dependency"
### Summary

I updated my installed version of sfdx to the latest and started seeing a bunch of warnings on every sfdx command I invoke. Everything still works fine, but there's a nice big list of warnings at the beginning of each call.

### Steps To Reproduce:

[code]

### Expected result

Shouldn't see the warnings

### Actual result

Saw all the warnings

### Additional information

**SFDX CLI

[2021-03-09 18:25] JosephAllen opened #910 "CLI Should NOT Render Decrypted Access or Refresh Tokens"
### Summary

`sfdx force:org:display --verbose`, `sfdx force:org:display`, and `sfdx force:user:display` commands all expose sensitive information which should not be easily decrypted, specifically Access Tokens and/or Security Tokens.

Quote from [Refresh Tokens: When to Use Them and How They Interact with JWTs](https://auth0.com/blog/refresh-tokens-what-are-they-and-when-to-use-them/)

1. A __ba

[2021-03-09 18:40] dgonch5 commented on #888
Same issue with sfdx-cli/7.85.1-2fb9e41053 win32-x64 node-v12.18.3

[2021-03-09 19:05] uip-robot-zz commented on #877
This issue has been linked to a new work item: [W-8983309](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008ZyCXIA0/view)

[2021-03-09 19:05] mdonnalley commented on #876
Duplicate of https://github.com/forcedotcom/cli/issues/877

[2021-03-09 19:05] #876 closed, assigned to nobody

[2021-03-09 19:11] shetzel commented on #884
@gsbasso @CrownSeven If you've specifically installed a different version of the `salesforcedx` plugin then you won't get the update.  If you run `sfdx plugins --core` and it doesn't have this as part of the output then that's why the config variable isn't working.

[code]
To go back to the core version of salesforcedx (i.e., the version bundled with the CLI) run `sfdx plugins:uninstall salesforce

[2021-03-09 21:05] #867 closed, assigned to nobody

[2021-03-09 21:05] mdonnalley commented on #851
Closing this because we reverted the failing code in `salesforcedx@51.1.0`

[2021-03-09 21:05] #851 closed, assigned to nobody

[2021-03-09 21:09] alexmodis commented on #842
hi @WillieRuemmele seems that I'm not getting the error anymore :)

[2021-03-09 21:09] #842 closed, assigned to nobody

[2021-03-09 21:11] alexmodis commented on #737
@clairebianchi any update on this one ?

[2021-03-10 00:58] amphro commented on #910
Client-side tools are a different ball game, especially ones written in node. If a command is run as user, all bets are off.

Here is what we do:

* We use all oAuth security measures when requesting a token
* We encrypt tokens on disk and in memory in the core libraries
* We use OS-specific keychains when possible, and SSL level permissions when not.

There are many reasons why we need to show to

[2021-03-10 00:58] #910 closed, assigned to nobody

[2021-03-10 02:21] alanmangalindan commented on #864
Seems to be working already with the latest sfdx cli release 51.2.2 (March 4, 2021) - CLI 7.90.2

[2021-03-10 02:21] #864 closed, assigned to nobody

[2021-03-10 02:44] hts-zhangdong commented on #884
The below is my version list in my local. They are all (core) version, but the below error has been caused.

- sfdx plugins --core

@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.10.0 (core)
@oclif/plugin-update 1.4.0-2 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)

[2021-03-10 07:17] JodieM commented on #869
I have the same issue. I did not know that I had lwc-dev-server as it is not in my extensions list but I ran the command anyway (I have no idea what I'm doing with Node) and it removed the issue. I have no idea if I need this plugin or what it is going to do by not having it.

[2021-03-10 07:20] ghost commented on #881
This is fixed (for me at least!) as of sfdx-cli v 7.90.2
`sfdx -v`
sfdx-cli/7.90.2-b8f9206a5c win32-x64 node-v14.15.4

see also
#890 (now closed)

[2021-03-10 10:31] AllanOricil opened #911 "Retrieve object metadata without retrieving fields, list views and so on with sfdx force:source:retrieve"
**Is your feature request related to a problem? Please describe.**
Today I had to retrieve only the Object metadata for the Asset object and when I ran `sfdx force:source:retrieve -m "CustomObject:Asset"` it also brought all standard and custom fields and then I had to rollback the changes for the fields I had, and also delete each one of the standard fields, as I did not need to package those.

*

[2021-03-10 10:32] uip-robot-zz commented on #911
This issue has been linked to a new work item: [W-8986396](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008ZzhRIAS/view)

[2021-03-10 11:08] garypclark38 opened #925 "ERROR running force:source:convert: No matching source was found within the package root directory"
My usual method of deploying code to Production org, has stopped working.
I usually:
1. move changed files to be deployed into a /package directory
2. run terminal command to convert into package
     sfdx force:source:convert -r .\force-app\package -d .\force-app\deploy -n "example"
3.  deploy
     sfdx force:mdapi:deploy -d .\force-app\deploy -u Production -l RunLocalTests -w 5

But I can't get

[2021-03-10 11:45] ayiyann commented on #904
Hi
a fix will be available soon ? It is very difficult to work like this.
I confirm it is the same issue in https://github.com/forcedotcom/salesforcedx-vscode/issues/3042
Best Regards

[2021-03-10 12:43] JDX-DD commented on #248
Having the exact same issue, even tried relating all hierarchy records to a common parent with no luck.  @wef-maros Is your script that prepares these types of files publicly available?  If not could you explain the format the files need to be in to make this work?  It would be very helpful.  Thanks

[2021-03-10 14:29] dpuza-formativ commented on #462
Same here @jbeauchamp715.  Thanks @nesrineould, that worked for me as well.

[2021-03-10 18:41] gsbasso commented on #884
@shetzel My output for `sfdx plugins --core` is the same as for @hts-zhangdong. And I did **not** install a specific version of `salesforcedx` (this always fails for me due to some cert issue, but that's a whole other matter). How do I get to the `51.2.2` version you are showing?

[2021-03-10 20:55] RodEsp commented on #881
Yep, this is a duplicate of https://github.com/forcedotcom/cli/issues/890 which was fixed by https://github.com/forcedotcom/sfdx-core/pull/384.

[2021-03-10 20:55] #881 closed, assigned to nobody

[2021-03-10 22:12] shetzel commented on #884
I just did: `npm install sfdx-cli -g`

Output of `sfdx plugins --core` is:

[code]

And for latest-rc: `npm install sfdx-cli@latest-rc -g`

Output of `sfdx plugins --core` is:
[code]

[2021-03-10 22:46] Raspikabek commented on #877
Same issue by using `force:mdapi:deploy` command.

While using `--soapdeploy` with `force:mdapi:deploy` command the ERROR returned is:

[code]

Tested on versions:
* sfdx-cli 7.90.2
* sfdx-cli 7.91.0

[2021-03-11 08:49] Bartheleway opened #912 "INVALID_SESSION_ID when deploying with force:source:deploy"
### Summary

After the OAuth token of my session expire, it seems that sfdx doesn't refresh it automatically anymore.

### Steps To Reproduce:

1. Authorize an org (sandbox) on your VS Code sfdx project
2. Wait or make your OAuth token to expire
3. Try to use "force:source:deploy" on any file, you should get the error

### Expected result

Refresh the token and deploy the source

### Actual result

[2021-03-11 09:43] ArielS1 opened #914 "Mismatched version in @salesforce/plugin-config"
Hi,

I uninstalled Salesforce CLI and installed the latest version 7.81.0.0 on Windows 10.

I'm getting warnings since then from Illuminated Cloud 2 CLI:

Salesforce CLI: (node:5352) Warning: Mismatched version in @salesforce/plugin-config plugin manifest. Expected: 1.2.1 Received: 1.1.8This usually means you have an oclif.manifest.json file that should be deleted in development. This file should

[2021-03-11 10:42] maaaaarco commented on #899
Yeah same issue here... I thought my Scratch Org had expired so I run `force:org:list`... The scratch was still active and the next push was successful. Seems there's an issue in refreshing the token...

[2021-03-11 16:01] LuisKumruyanLoggi commented on #884
I also had this problem when using SFDX-CLI on CircleCI (clean install) - To resolve this issue, I simply specified the version I wanted to install to 7.85.1

Command used on CircleCI for a specific version:
`npm install --global sfdx-cli@7.85.1`

[2021-03-11 16:53] ksingh-btig commented on #884
I did all the uninstalling and reinstalling of SFDX 7.85.1 version but when I run sfdx --version....I still get this : sfdx-cli/7.90.2-b8f9206a5c win32-x64 node-v14.15.4

I guess I cannot go back to 7.85 to do my deployments

[2021-03-11 17:13] luisjamora opened #913 "sfdx force:source:deploy --sourcepath not uploading files to org (since 10/03/2021)."
### Summary

sfdx force:source:deploy --sourcepath not uploading file to org (since 10/03/2021).
1 each 10 times class is deployed.

### Steps To Reproduce:

Modify class in vscode
Excecute command sfdx force:source:deploy

### Expected result

Class deployed to ORG
### Actual result

No error shown, no class deployed:
12:16:38.514 sfdx force:source:deploy --sourcepath XXX.cls --json --loglevel fa

[2021-03-11 17:34] AllanOricil commented on #884
@ksingh-btig  clear every node module you have on your computer. And do a clean installation. I'm sure that 7.85.1 is stable as I've been using for a few weeks already. You just need to make sure you dont have anything linked to old dependencies.

[2021-03-11 19:14] jhgihub0 opened #967 "force:source:retrieve with new version"
With https://hub.docker.com/r/salesforce/salesforcedx, if we have the latest version, the "sfdx force:source:retrieve" works fine.  As soon as a new version comes out, "sfdx force:source:retrieve" starts failing.  It seems it fails until you upgrade to the the latest version.

For example:

13:49:37  sfdx force:source:retrieve -u SIT-monitor-328 -p sfdx-source
13:52:13  An error has occurred:  ›

[2021-03-11 19:35] gsbasso commented on #884
@shetzel `npm` has never worked for me either. I tried installing the long-term support version of `Node.js` but that failed. Understand I have limited privileges on my company workstation. But why are we having to go through all these hoops to resolve this issue? Up until now I have managed with the regular/periodic updates to `sfdx` (either automatically downloaded or by running the `sfdx update

[2021-03-11 21:05] shetzel commented on #884
@gsbasso Pretty sure I was just answering your question of "How do I get to the 51.2.2 version you are showing?"  There's more than one way to install the CLI and plugins and there's more than one way to update.  That was one example.  Running `sfdx update` is another, which uses the tar files rather than npm for the update.  In fact I just did that too (`sfdx update`) and I was updated to the CLI

[2021-03-11 21:54] gsbasso commented on #884
@shetzel As have I (just) upgraded to the `7.91.0` release and it seems to be honouring the sfdx config setting (so is now showing SOAP as the protocol when running `force:source:deploy`). I haven't tested with the environment variable, nor tried using REST to see if that issue has been sorted. Thanks.

[2021-03-12 00:16] lukecotter opened #916 ".forceignore v2 warning when ignoring **/README.md"
### Summary
.forceignore v2 warning when ignoring **/README.md

Received this warning when trying to run force:source:push, the push is successful I just get a warning.

`(node:3085) Warning: The .forceignore file doesn't adhere to .gitignore format which will be the default behavior starting in Spring '21 release. More information on .gitignore format here: https://git-scm.com/docs/gitignore. Fix

[2021-03-12 04:49] JodieM opened #917 "SFDX: Refresh SObject Definitions does not work"
### Summary

Whenever I run SFDX: Refresh SObject definitions in one org, it does not run. The command just sits there spinning in the status bar.
I have tried each of the options - Custom, Standard, and All.
This is a brand new VSCode org created yesterday from a new Partial Sandbox.
The command works on another org fine.
I have updated my CLI and all plugins.
I have disabled all extensions and r

[2021-03-12 07:13] Szandor72 commented on #899
Same here. I get `Session expired or invalid` on push if I open up my project in VS Code the first time. After opening my current Scratch Org (from vs code), push works again.

[2021-03-12 08:52] movsar commented on #210
Same

[2021-03-12 10:51] chfosli opened #918 "Field Service not enabled in Scratch org even though it is enabled in scratch org definition file"
### Summary

We have Field Service enabled in scratch org definition file, but yesterday it stopped working. Scratch org is created, but Field Service is not enabled. Other features are working fine.

This breaks a lot of CI/CD scripts, and it prevents us from making new package versions (most critical) since ore metadata has references to WorkOrder and ServiceAppointmen (and more). This objects a

[2021-03-12 14:12] RCMoonpie commented on #904
@smaddox-sf : Stephanie, there is something that I failed to mention in https://github.com/forcedotcom/salesforcedx-vscode/issues/3042 that I will add here.  It may or may not help, but when dealing with issues I feel that too much information is better than not enough:

When running the deploy command by typing it into the terminal, every time that it has indicated success, the file has actually

[2021-03-12 14:17] jclark-dot-org commented on #918
We started seeing this issue yesterday (March 11).  According to our pipeline history, this was working as recently as March 8.  Our scratch org definition file includes both
[code]
and
[code]
As a workaround - we have an automated build script that:
* creates the scratch
* performs an MDAPI "pre-deploy" of a few items
* installs a few managed packages, including FSL
* `force:source:push`es all so

[2021-03-12 14:34] chfosli commented on #918
@jclark-dot-org , your workaround is great for setting up scratch orgs. We are also using unlocked packages to do all deployments to sandbox's and production. When you create a new package version, Salesforce will in the background create a scratch org and push metadata to validate and to run tests (can be skipped when creating package version, but then you can't install it in production). Any ide

[2021-03-12 16:08] WadeLovell commented on #757
sfdx plugin:install @salesforce/plugin-auth@1.4.3
 »   Warning: plugin:install is not a sfdx command.
Did you mean plugins:install? [y/n]:

At least VS Code tries to help you out if you used the first version without the s on plugins :-)

[2021-03-12 17:45] aheber commented on #899
I'm not sure but I have been experiencing this since sometime last year. I haven't looked at the code but my understanding is that this was caused by some changes made in response to JWT authentication in CI when the JWT token was taken away after initial authorization. I think the change causes `source:push` not to be able to get a new token and just try and use the token already available, it is

[2021-03-14 15:12] rodriguezaaronjoseph commented on #761
I have had the same issue now for several months. I was hoping it'd be fixed soon. For me, the .js-meta.xml file does not change, but I get an incorrect .css-meta.xml file created in the component folder whenever I retrieve the component from the org.

@Paul-Browne , @jayree , @RJPalombo :

Does anyone know who we may be able to escalate this to to get it fixed?

[2021-03-15 13:04] mhamzas commented on #860
With the latest version (7.91.0-6a6ed69ebe), I am getting
`
PS C:\xxxx> sfdx force:source:push -u MyScratchOrg
*** Deploying with REST ***
ERROR running force:source:push:
<html>
<body>

<table cellspacing=10>
    <tr>
        <td><span style="font-weight: bold; font-size: 12pt;">Illegal Request</span></td>
    </tr>
    <tr>
        <td>You have sent us an Illegal URL or an improperly formatted r

[2021-03-15 14:04] MJ12358 commented on #860
I am also seeing this error when deploying.

sfdx force:source:deploy --sourcepath c:\ --json --loglevel fatal
 ended with exit code 1

[code]

SFDX Version: sfdx-cli/7.91.0-6a6ed69ebe win32-x64 node-v14.15.4

[2021-03-15 14:48] irfanKhanSage commented on #860
I am getting this 'Illegal Request' html error myself, its actually very random. When I restart my VS Code for first time it works but is back again.

[2021-03-15 14:51] ricofairsailcom commented on #860
same issue as @mhamzas and @MJ12358 but with the command "sfdx force:source:push"

[2021-03-15 14:54] AllanOricil opened #919 "Unable to convert single metadata file with sfdx force:mdapi:convert"
### Summary

After extracting some duplicate rules with mdapi command I needed to convert only one to source format. I tried to do it in several ways as you can see below. At first, I thought the problem was the destination folder, but after converting the whole duplicateRules folder, and using the same destination folder, the conversion worked. So I concluded that the cli does not work with file

[2021-03-15 15:11] mhamzas commented on #860
The only solution that worked for me is: https://github.com/forcedotcom/cli/issues/884#issuecomment-785927296
@ricofairsailcom @irfanKhanSage @MJ12358

[2021-03-15 16:40] ricofairsailcom commented on #860
The issue is only for Windows machine apparently, just downgrading to v7.81 should work.
npm install --global sfdx-cli@7.81.0

[2021-03-15 17:57] amphro commented on #910
Follow-up: I reviewed the CLI with our security teams again and everything is working as designed. If a bad actor has access to the machine, consider this:  They could read every file you have access to, including tokens for every other CLI and SSL connection. They could rewrite every script and scripting language tool to do whatever they wanted. If they have more than user access, they could inte

[2021-03-15 21:33] qwikag commented on #156
I encountered this error today and fixed by **wrapping my manifest file path in double quotes**.
But I am using **Git Bash** as my terminal, so that is probably the spanner in the works.

@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.10.0 (core)
@oclif/plugin-update 1.4.0-2 (c

[2021-03-15 23:15] qwikag commented on #884
These bugs are getting out of control!

[2021-03-15 23:20] qwikag commented on #884
This error is mostly a problem when deploying to Production. because it is when running tests and deploying code.

LETS GO!

**When I add (apex and/or triggers), this:**
[code]
to my package.xml
**and I run this command**
`$ sfdx force:source:deploy --manifest "manifest\package.xml" --json --loglevel fatal -l RunLocalTests --verbose`
I get the above titled error:

**here are my versions:**
$ sfdx

[2021-03-15 23:34] qwikag commented on #884
I have upgraded, I really hope no bugs introduced again. Because this is driving me INSANE!

This is my latest version:
$ sfdx plugins --core
@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.10.0 (core)
@oclif/plugin-update 1.4.0-2 (core)
@oclif/plugin-warn-if-update-available 1.

[2021-03-16 05:22] vikyaiyer commented on #904
I am too facing this issue since updating to 7.89 versions of the cli. In the meantime this issues is fixed has anyone found a workaround or a way to roll back cli to stable versions?

[2021-03-16 06:55] vikyaiyer commented on #913
#904 already raise for this

[2021-03-16 11:22] AllanOricil opened #920 "Add e2e tests with sample packages to avoid introducing regressions"
It would be nice if you could add e2e tests for every command just to avoid introducing errors such as this one

https://github.com/forcedotcom/cli/issues/884?notification_referrer_id=MDE4Ok5vdGlmaWNhdGlvblRocmVhZDE2MjM4ODQ1NDA6NTU5Mjc2MTM%3D&notifications_query=reason%3Aparticipating#issuecomment-799831100

Also add a "badge" on the README to show test status for the current version, so people ar

[2021-03-16 11:23] uip-robot-zz commented on #920
This issue has been linked to a new work item: [W-9012397](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008aBDBIA2/view)

[2021-03-16 11:41] AllanOricil commented on #822
Is this plugin officially released as part of the sfdx? For me the commands worked as expected. I've been using it since February without any issues

[2021-03-16 13:27] Mattue commented on #323
Downgrading to --apiversion=50.0 worked for me
`sfdx force:org:create --apiversion=50.0 --definitionfile config/project-scratch-def.json`

Environment
GitLab shell runner with docker
CLI version sfdx-cli/7.91.0-6a6ed69ebe linux-x64 node-v14.15.4

project-scratch-def.json
[code]

[2021-03-16 14:19] ReseTTim commented on #869
In my case I solved it with updating `shelljs` package

**from**: "shelljs": "^0.7.6",
**to**:    "shelljs": "^0.8.4",

Look closely to your logging:
_at Object._register [as register] (C:\Users\<user>\AppData\Local\sfdx\node_modules\shelljs\src\common.js:453:12)_

[2021-03-16 14:35] rsrini3 opened #921 "Deploy errror"
I am trying to deploy an unlocked package using this command: sfdx force:source:deploy  -p

I get this error:

*** Deploying with REST ***
ERROR running force:source:deploy:
<html>
<body>

<table cellspacing=10>
    <tr>
        <td><span style="font-weight: bold; font-size: 12pt;">Illegal Request</span></td>
    </tr>
    <tr>
        <td>You have sent us an Illegal URL or an improperly formatted

[2021-03-16 15:28] RodEsp commented on #920
Hi @AllanOricil we are currently in the process of improving the e2e tests for the CLI and associated plugins. Including adding more for Windows and running them for every release of every plugin.

You can see the status of the CLI build and each plugins' build already at https://github.com/salesforcecli/status.

[2021-03-16 15:28] #920 closed, assigned to nobody

[2021-03-16 15:54] AllanOricil commented on #920
@RodEsp this is cool. Thank you

[2021-03-16 16:01] tfuda commented on #921
I began hitting this myself after upgrading to version 7.91.0-6a6ed69ebe from 7.85 yesterday. I noticed this "Deploying with REST" message being logged and had not noticed that before. I saw that the release notes for 7.90.2 called out a change to the default behavior from using SOAP to using REST for deployment: [https://github.com/forcedotcom/cli/tree/main/releasenotes#5122-march-4-2021---cli-79

[2021-03-16 16:26] MuriloKakazu commented on #912
This seems to be caused by the recent changes in which the CLI started using Salesforce's REST API to deploy by default ([since v7.90.2](https://github.com/forcedotcom/cli/blob/main/releasenotes/README.md#5122-march-4-2021---cli-7902)). If you force it to deploy using SOAP API, it will refresh your expired access token:

[code]

After refreshing your access token that way, or by `sfdx force:org:op

[2021-03-16 16:27] RodEsp commented on #921
Indeed, @tfuda is correct. This is a REST API issue that the CLI is simply surfacing.
You can set the `SFDX_REST_DEPLOY` environment variable to `false` to use the SOAP API.

We're triaging other REST API issues at https://github.com/forcedotcom/cli/issues/860 so you can follow that for more information.

[2021-03-16 16:27] #921 closed, assigned to nobody

[2021-03-16 16:32] RodEsp commented on #884
Closing this issue to reduce noise since it is a duplicate of https://github.com/forcedotcom/cli/issues/860 and the original problem with parsing JSON has now been resolved as well as providing a workaround by setting the `SFDX_REST_DEPLOY` environment variable to `false` as described in the [51.2.2 release notes](https://github.com/forcedotcom/cli/tree/main/releasenotes#5122-march-4-2021---cli-79

[2021-03-16 16:32] #884 closed, assigned to shetzel

[2021-03-16 18:10] rsrini3 commented on #921
That worked for me. Appreciate your help

Raghu

On Tue, Mar 16, 2021, 11:27 AM Rodrigo Espinosa de los Monteros <
***@***.***> wrote:

[2021-03-16 19:45] rsrini3 opened #922 "Email / Letterhead / Logo , Folder"
Iam trying to deploy an email into a scratch org. Email has a letter head and letter head references a logo file.

All files are present in the directory I am deploying.

I get no Letterhead, no Document,  Cannot find folder:

I am using sfdx sfdx-cli/7.91.0-6a6ed69ebe win32-x64 node-v14.15.4.

Appreciate any leads to resolve this issue.

Thanks,

Raghu

[2021-03-16 19:47] rsrini3 commented on #922
I retrieved email, letterhead and Document using VSC.

[2021-03-16 21:17] RodEsp commented on #922
Hi @rsrini3, could you provide more information using our standard issue template please?
[code]

[2021-03-16 22:45] shetzel commented on #899
The REST API does not auto-refresh like it does with SOAP via jsforce.  This is a bug and is being tracked internally with W-9016781.

[2021-03-16 22:47] shetzel commented on #912
This is a duplicate of #899
Closing this in favor of the first report.  It's a bug and will be fixed asap.

[2021-03-16 22:47] #912 closed, assigned to nobody

[2021-03-16 22:53] shetzel commented on #904
I believe you are running into a slightly different version of the expired session problem as in #899
If you switch to use SOAP (`sfdx config:set restDeploy=false`) or ensure your auth tokens are valid (you can run `sfdx force:org:display` and it should refresh it for you) I think you will no longer see this problem.  Can you please confirm and if that is the case, close this issue?

[2021-03-16 22:54] shetzel commented on #913
duplicate of #904

[2021-03-16 22:54] #913 closed, assigned to nobody

[2021-03-16 22:55] shetzel commented on #870
This has been fixed and is now in production

[2021-03-16 22:55] #870 closed, assigned to nobody

[2021-03-16 23:19] shetzel commented on #860
For those of you seeing this error: `You have sent us an Illegal URL or an improperly formatted request.`
Please provide as many details as you can.  At a minimum, CLI version and salesforcedx plugin version.  OS.  The command with parameters (values can be obfuscated or fake).  If possible, get the URL that was used in the request.  Choose whatever tool you like to do that or optionally debug the

[2021-03-17 00:56] #922 closed, assigned to nobody

[2021-03-17 00:56] rsrini3 commented on #922
Please close

[2021-03-17 04:33] rohanshenoy96 commented on #761
I got the same issue. Somehow 2 xml files were generated one with `{filename}.css-meta.xml` and another with `{filename}.js-meta.xml`. I deleted the `{filename}.css-meta.xml` file and pushed the code to org and it worked.

[2021-03-17 06:43] manjitsingh8 commented on #904
Thank you for providing assistance.

I did that, here is the command log. I still see the same issue. The retrieve also gives an error. The class I am trying to retrieve is present since 2 years and is present in same org as seen in screenshot.

I will reinstall the CLI entirely.

-----------------------------------------------------------------------------------------

![image](https://user-image

[2021-03-17 07:25] JuliWaver commented on #887
I have updated my sfdx version to 7.91.0 today and set user system variable to SFDX_DISABLE_DNS_CHECK=true to solve unknown org issue and I have now a new error message if I try to deploy/validate.

**Used command:** sfdx force:source:deploy --verbose --targetusername julikaDev2 -p force-app -c

**Error message:**
Using specified username julika.weller@bosch-bbm.org.julikadev2

*** Deploying with

[2021-03-17 09:02] srlawr commented on #248
This error certainly still exists, and I could find no solution/work around before stumbling across this report.

My only solution was to add text fields for the REF name and REF to the object, import it all like that and then run some anonymous apex to load up all the records, and find the SF ID of the target REF and put it into the field 🤦  honestly, for the 17 records I wanted imported into thi

[2021-03-17 11:51] dschibster commented on #323
I am still not able to create a Scratch Org with settings, here's the def I used:

[code]

And this is the log that I received:

[code]

Switching to api Version 50.0 did not solve the issue for me either.

Switching to 47.0 however seems to have done the trick. Something went awry in one of the higher API versions.

[2021-03-17 12:23] peternhale opened #923 "Running force:source:deploy is failing with "Cannot read property 'message' of undefined""
I have updated my sfdx version to 7.91.0 today and set user system variable to SFDX_DISABLE_DNS_CHECK=true to solve unknown org issue and I have now a new error message if I try to deploy/validate.

**Used command:** sfdx force:source:deploy --verbose --targetusername julikaDev2 -p force-app -c

**Error message:**
Using specified username julika.weller@bosch-bbm.org.julikadev2

*** Deploying with

[2021-03-17 12:25] peternhale commented on #887
@JuliWaver this appears to be a new issue. I created issue #923 for tracking.

[2021-03-17 12:26] uip-robot-zz commented on #923
This issue has been linked to a new work item: [W-9018958](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008aEJOIA2/view)

[2021-03-17 12:30] JuliWaver commented on #923
@peternhale I was able to solve it with system variable SFDX_REST_DEPLOY=false

https://github.com/forcedotcom/cli/tree/main/releasenotes#5122-march-4-2021---cli-7902

CHANGE: As of v51, all force:source and force:mdapi commands use REST API by default to deploy. Previously they used SOAP API by default. Set the restDeploy config value or SFDX_REST_DEPLOY environment variable to false to switch ba

[2021-03-17 12:31] JuliWaver commented on #887
my issue was solved with sytsem variable SFDX_REST_DEPLOY=false

[2021-03-17 12:31] #887 closed, assigned to nobody

[2021-03-17 20:07] ddodson3 commented on #869
Seems like the sfdx-mobilesdk-plugin is also causing similar errors, once I uninstall it they went away

[2021-03-17 22:24] HeikoKramer commented on #767
7.91.0-6a6ed69ebe fixed this issue for me – thank you!

[2021-03-17 23:56] 13rettles commented on #701
Following up on this. After working with support I was eventually redirected to https://trailblazer.salesforce.com/issues_view?id=a1p3A000000EVPHQA4 I will close this ticket as I understand it is being handled by a different team.

[2021-03-17 23:56] #701 closed, assigned to nobody

[2021-03-18 08:07] niv-goldenberg commented on #6
I'm still getting this for SharingCriteriaRule:
sfdx-cli/7.82.1-0 linux-x64 node-v14.16.0
Ubuntu 20.04

No errors and no actual deployment is fired, what was the fix for that?

[2021-03-18 08:16] niv-goldenberg commented on #833
I'm still getting this for SharingCriteriaRule:
sfdx-cli/7.82.1-0 linux-x64 node-v14.16.0
Ubuntu 20.04

The workaround will not work for me, since we build the package automatically as part of our CI/CD process.

Hope that someone in Salesforce can fix it soon...

[2021-03-18 09:44] anupam081 opened #927 "SFDX JWT authorization failing with Jenkins"
### Summary

i have configured multi pipeline project in jenkins using jenkinsfile and when i am trying to authorize with sfdx auth:jwt:grant, the authorization is failing.
When i am running this command from the command prompt it is successfully authorizing the dev hub

### Steps To Reproduce:

**Repository to reproduce:** [https://github.com/anupam081/CIwithJenkins)

1.  Setup multi pipeline pro

[2021-03-18 12:18] manjitsingh8 commented on #904
I finally fixed by
1. Removing Salesforce CLI from programs
2. Removing sfdx-cli from npm `npm remove sfdx-cli -g`
3. Deleted the .sfdx folder in user directory `C:\\users\yourname`.
4. Fresh install of sfdx-cli `npm install sfdx-cli -g`
5. Disabling rest deploy
6. Reauthorizing all orgs.

[2021-03-18 14:31] tgentet-obrien opened #929 "Weird output with every action"
### Summary
With any command I am getting the following output:

[code]

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

***NOTE:** If your issue is not reproducable by dreamhouse-lwc, i.e. requires specific metadata or files, we **require** a link to a simple Salesforce project repository with a script to setup a scratch org

[2021-03-18 15:24] MuriloKakazu commented on #929
It seems like a problem with the `lwc-dev-server` plugin https://github.com/forcedotcom/lwc-dev-server-feedback/issues/106

If you're not using it, try:
[code]

Otherwise, I'm not sure of any workarounds... but it seems like it's a known problem (from the issue above on the other repo)

[2021-03-18 15:36] bmodahl opened #930 "Error Deploying Code"
This seems to happen on random orgs I have already authorized via VS Code and any new org I try to authorize via VS Code

Steps to reproduce:
1. Use the standard sfdx force:source:deploy command
2. One thing to note is that after 5-10 consecutive save attempts I am able to push Apex Classes through. I have not had a successful push with LWC

Results:
`SfdxError:
<html>
<body>

<table cellspacing=1

[2021-03-18 15:41] paustint commented on #890
I encounter this issue every morning and run `sfdx force:org:list`, which seems to refresh the tokens for all of my orgs at once, then it works until the next morning.

[2021-03-18 15:47] firatesmer commented on #930
Hi,
I have the same issue. I can't deploy my code into org via Salesforce CLI.

CLI Version: sfdx-cli/7.90.2-b8f9206a5c win32-x64 node-v14.15.4
VS Code version: v.1.54.3
Windows 10 20H2

[2021-03-18 15:56] shetzel commented on #930
Duplicate of #860
Please see details in that thread for workarounds.  Switching from REST to SOAP should unblock you.

[2021-03-18 15:56] #930 closed, assigned to nobody

[2021-03-18 16:41] vikyaiyer commented on #904
As mentioned by @manjitsingh8, the issue doesn't seem to be with the token as all my orgs when I ran the command `sfdx force:org:display` it did show as connected and I'm also able to retrieve the components from the org. But with the deploy command, the components don't get deployed to the org. I'm still facing this issue in the 7.91 version of the cli.

I also don't have the flexibility to unins

[2021-03-18 17:46] shetzel commented on #904
@vikyaiyer I don't think you have to wait for a fix to the REST deploy path.  If you're on v7.91 of the CLI and the core version of salesforcedx plugin bundled with that CLI then you should be able to switch to SOAP for the deploy and it should work.  Appending `--dev-debug` generally gives additional helpful output as well.

[2021-03-18 22:20] SimonPerez98 commented on #890
i encounter the same issue Today  with sfdx auth:web:login -d -a DevHub

[2021-03-18 22:27] calvinle1 commented on #866
Hi, any resolution to this, other than downgrading the CLI? Thanks

[2021-03-19 07:16] vikyaiyer commented on #904
@shetzel thanks for the update, switching to SOAP for deploy worked.

[2021-03-19 13:06] alexmodis commented on #842
hi @WillieRuemmele  just got my known issue created by support : https://trailblazer.salesforce.com/issues_view?id=a1p4V000001ZZRyQAO

not sfdx related

[2021-03-19 13:14] peterknolle opened #931 "sfdx force:source:deploy does not work with ExperienceBundle and manifest/package.xml file (-x)"
### Summary
source deploy with package.xml and ExperienceBundle does not deploy

`sfdx force:source:deploy -x myPackage.xml -u user@user.org`

https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_experiencebundle.htm

### Steps To Reproduce:

1. Enable the ExperienceBundle metadata type https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_experienc

[2021-03-19 14:50] aheber commented on #931
@peterknolle, I'm curious about this one. I use experience bundles as well and use the `force:source:deploy -x/--manifest` and do have items deployed that way. Curious what the differences are in our setup that are causing you're not to build.

Maybe a silly question but are you using the experience name with the trailing `1`? I see a lot of people, myself often included, providing the base format

[2021-03-19 14:53] peterknolle commented on #931
@aheber - Do you also include Sites, Network, etc? I only have the ExperienceBundle.

[2021-03-19 14:55] aheber commented on #931
@peterknolle, in that process no I don't. I include the other items when building scratch orgs but when I'm using a manifest I'm just pushing in a delta of changes and those base metadata almost never change. Let me see if I can dig up a manifest file from one of those deltas to confirm.

[2021-03-19 15:08] aheber commented on #931
OK, I've confirmed on my own machine (Windows 10) that I can take a sample package.xml both with `<members>*</members>` as well as `<members>community1</members>` and it correctly builds the experiences into the deployment package, no supporting metadata necessary.

For what it is worth, my typical use case for this is also using `sfdx-git-delta` and we push against scratch org snapshots (beta).

[2021-03-19 15:38] peterknolle commented on #931
@aheber OK. That's good. It must be a configuration/bug/api-version on my end. In the meantime, I can just convert it to metdata using the force:source:convert command with a package.xml file, then back to source and deploy from that.

sfdx-cli/7.92.0-88320113e7 darwin-x64 node-v14.15.4

11:37 $ sfdx plugins --core
@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/

[2021-03-19 15:46] #931 closed, assigned to nobody

[2021-03-19 15:46] peterknolle commented on #931
Closing. Seems to be something specific to me.

[2021-03-19 16:15] steals commented on #909
have the same warnings on sfdx-cli/7.92.0-88320113e7 darwin-x64 node-v14.15.4

[2021-03-19 20:40] jvalliswalker opened #932 "Retrieve Source From Org Not Retrieving Full LWC Package"
### Summary

The `Retrieve Source From Org` functionality is not working correctly. Instead of displaying the HTML, JavaScript, and XML files as normal ([picture](https://i.stack.imgur.com/GA9Tx.png)), it is instead separating each file into its own folder, and is not including the XML file ([picture](https://i.stack.imgur.com/Tcjlb.png)). This also results in errors when attempting to deploy chan

[2021-03-19 21:14] shetzel commented on #931
@peterknolle - Just pointing out that the version of your salesforcedx plugin has become outdated with the version of the CLI you have.  Maybe that's what you want but in case it isn't you can `sfdx plugins:uninstall salesforcedx` to go back to the salesforcedx plugin version bundled with v7.92.0 of the CLI.

[2021-03-22 13:08] AllanOricil commented on #835
@mshanemc @amphro @WillieRuemmele

There is a bug. I have another org connected to sfdx that is not being displayed when using `sfdx force:org:list --all` or `sfdx force:org:list --all --json`. This org is a trailhead playground.  In the picture below I show that vscode sees it. Sfdx does not show it, but it knows it exists, as I can use `sfdx force:org:open -u Playground2`

![image](https://user-

[2021-03-22 13:22] mshanemc commented on #927
That error is coming from here: https://github.com/forcedotcom/sfdx-core/blob/c13fe4fed1c258d206a40606054db2262cb70ee1/messages/encryption.json#L17

called from here:
https://github.com/forcedotcom/sfdx-core/blob/c13fe4fed1c258d206a40606054db2262cb70ee1/src/keyChainImpl.ts#L505

which is **typically** an error with the key.json file.  It might be read/write collision.  Is the auth command being ru

[2021-03-22 13:28] mshanemc commented on #905
We've made a large change to force:org:display/list/open recently.  Is it still hanging?

If so, please run the `sfdx plugins --core` command to report which version of `force:org` you're using so we to know where to look.

[2021-03-22 13:30] gearsetdave commented on #767
Can confirm for sfdx-cli/7.92.0 win32-x64 node-v12.20.1 too

[2021-03-22 13:34] MuriloKakazu commented on #909
Same issue: https://github.com/forcedotcom/cli/issues/929

It looks like a problem with [lwc-dev-server](https://github.com/forcedotcom/lwc-dev-server-feedback/issues/106)

[2021-03-22 13:41] mshanemc commented on #93
@rickschmidt we've got an updated version of the `force:data` commands coming out.  Would you be willing to re-test this bug using that?  And if it still doesn't work, let me know?

Here's the instructions for previewing that new version.
https://github.com/forcedotcom/cli/issues/907

[2021-03-22 13:41] uip-robot-zz commented on #93
This issue has been linked to a new work item: [W-9036354](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH0000008m4fYAA/view)

[2021-03-22 13:45] mshanemc commented on #115
@byjrack the CLI is made up of a LOT of repos, some but not all of which are open source (yet)

Here's the public-facing list of ingredients
https://github.com/salesforcecli/status

We'd like to get them all into the open.  Here's a blog about the process, which has more background.
https://developer.salesforce.com/blogs/2021/02/open-sourcing-salesforce-cli-update-feb-2021.html

[2021-03-22 13:45] #115 closed, assigned to nobody

[2021-03-22 13:46] mshanemc commented on #134
@deb761 we've made some substantial updates to the `force:data` commands.  Instructions on how to preview those are here.

Can you try your issue using the new version and see if it solves your problem?

[2021-03-22 13:47] uip-robot-zz commented on #134
This issue has been linked to a new work item: [W-9036370](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH0000008m5sYAA/view)

[2021-03-22 13:54] mshanemc commented on #217
I think this was closed by the above changes.  Please reopen if not.

[2021-03-22 13:54] #217 closed, assigned to nobody

[2021-03-22 14:16] mshanemc commented on #288
I just ran through the steps and script and the frontdoor url worked fine.  I'm closing the issue...re-open if you still have the problem.

[2021-03-22 14:16] #288 closed, assigned to nobody

[2021-03-22 14:18] mshanemc commented on #339
Given the fix, and the comments (seems to work for all operations) I'm closing this one.  Someone reopen if you still see problems with mutingPermSets

[2021-03-22 14:18] #339 closed, assigned to nobody

[2021-03-22 14:20] uip-robot-zz commented on #360
This issue has been linked to a new work item: [W-9036554](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH0000008mJQYAY/view)

[2021-03-22 14:20] mshanemc commented on #361
I'm closing this--reopen or log another issue if you see any more trailing slashes.

[2021-03-22 14:20] #361 closed, assigned to nobody

[2021-03-22 14:30] mshanemc commented on #398
@kvor the short answer is that we add scratch orgs to the scratch org list when they're created from a hub using `org:create` (and the auth files include information about the hub so future `org:list` can ask the hub about the org's status.

If you do what you did (web:auth to an org that you got login credentials for) there's not an easy way for the CLI to know that it is a scratch org OR which h

[2021-03-22 14:30] #398 closed, assigned to nobody

[2021-03-22 14:31] mshanemc commented on #415
closing...see thread on similar issue https://github.com/forcedotcom/cli/issues/339

[2021-03-22 14:31] #415 closed, assigned to nobody

[2021-03-22 14:32] #422 closed, assigned to nobody

[2021-03-22 14:32] mshanemc commented on #422
shipped it https://github.com/forcedotcom/cli/blob/main/releasenotes/README.md#5140-march-18-2021---cli-7920

[2021-03-22 14:34] #482 closed, assigned to mshanemc

[2021-03-22 14:38] mshanemc commented on #561
Works when I try the reproduction.  Please re-open if you see it again, preferably with all the output of `sfdx plugins --core`

[2021-03-22 14:38] #561 closed, assigned to nobody

[2021-03-22 14:41] mshanemc commented on #637
I'm gonna close the issue now that the new org commands are shipped.

If you're still seeing it, please reopen or open a new one AND supply the output of `sfdx plugins --core`

[2021-03-22 14:41] #637 closed, assigned to nobody

[2021-03-22 14:42] mshanemc commented on #666
closing, because `plugin-org` is shipped

[2021-03-22 14:42] #666 closed, assigned to mshanemc

[2021-03-22 14:48] mshanemc commented on #719
closing because the new `plugin-org` shipped

[2021-03-22 14:48] #719 closed, assigned to mshanemc

[2021-03-22 14:49] #724 closed, assigned to mshanemc

[2021-03-22 14:52] mshanemc commented on #798
This was fixed and shipped.  Re-open or open a new issue if you're still seeing it.

[2021-03-22 14:52] #798 closed, assigned to WillieRuemmele

[2021-03-22 14:54] mshanemc commented on #822
Yes, in `latest` as of 4 days ago (updates go through a latest-rc, then promoted to latest the following week).

[2021-03-22 14:54] #822 closed, assigned to nobody

[2021-03-22 14:54] mshanemc commented on #827
shipped!

[2021-03-22 14:54] #827 closed, assigned to nobody

[2021-03-22 14:55] #835 closed, assigned to nobody

[2021-03-22 14:56] mshanemc commented on #845
Closing because the fix in `plugin-org` is shipped.

[2021-03-22 14:56] #845 closed, assigned to nobody

[2021-03-22 15:21] uip-robot-zz commented on #883
This issue has been linked to a new work item: [W-9036859](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH0000008mgyYAA/view)

[2021-03-22 15:28] AllanOricil opened #933 "sfdx force:org:list --all --json output is missing a Trailhead playground environment"
### Summary

I have one org connected to sfdx that is not being displayed in the output when running `sfdx force:org:list --all` or `sfdx force:org:list --all --json`. This org is a trailhead playground.  In the picture below I show that vscode sees it. Even if sfdx does not show it, it knows it exists, as I can use `sfdx force:org:open -u Playground2`.

![image](https://user-images.githubusercont

[2021-03-22 15:28] AllanOricil commented on #933
Related https://github.com/forcedotcom/cli/issues/835

[2021-03-22 15:45] tgentet-obrien commented on #929
@MuriloKakazu uninstalling then reinstalling seemed to fix it. No idea why 🙃

[2021-03-22 15:45] #929 closed, assigned to nobody

[2021-03-22 16:01] JMercie opened #934 ""sfdx force:source:deploy --sourcepath my/path/to/files" command is not working as expected."
### Summary

When runing the command in the title of this issue, output an html with title of "internal server error" and local code is not deployed to the sandbox org.

Here is the HTML that outputs:

[code]

### Steps To Reproduce:

1.  This is step 1.  Open vscode.
1.  This is step 2.  Go to a file in your package directory you want to deploy to your authorized organization.
1.  This is step 3.

[2021-03-22 17:14] jvalliswalker commented on #932
While I don't know exactly what the solution was, completing the following steps (in this order) seems to have resolved the issues:

1. Uninstall and reinstall the Salesforce CLI
2. Uninstall and reinstall VisualForce
3. Uninstall and reinstall the Salesforce Extension Pack
4. Start a new project
5. Log out of all authorized orgs and re-log into the org

I suspect that number 5 may have been the k

[2021-03-22 19:07] mikesobczak commented on #905
I ran "sfdx update" and ran "sfdx force:org:list" again, and it still hangs.  I'm not including any parameters in the call.

@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.10.0 (core)
@oclif/plugin-update 1.4.0-2 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif

[2021-03-22 20:09] mshanemc commented on #933
I can't reproduce it (auth'd to a THPG, and I see it in my `org:list`).  Does it happen to any other orgs, or another playground?

If you run `force:org:display` and/or open up the auth file itself (`~/.sfdx/[username].json`) does anything look different from that of another file for an org that does show up?

does it show up in `alias:list` ?

[2021-03-22 20:13] mshanemc commented on #934
can you set try to use the soap API instead by setting `SFDX_REST_DEPLOY=false` in the environment?

The change to use the newer REST metadata api has caused some bugs when it doesn't return valid json.

[2021-03-22 20:52] JMercie commented on #934
This do the magic trick!  for using the command in vscode, also want  to add that using directly the command in the command line, will allow you to perform the deploy with REST api but the gui of vscode wont perform it with REST. Thanks a lot @mshanemc !

[2021-03-22 21:38] AllanOricil commented on #933
It does not happen to any other org or playground.

When I ran `force:org:display -u Playground2`

![image](https://user-images.githubusercontent.com/55927613/112061569-95b44600-8b56-11eb-9b25-6213db08f7db.png)

The Playground2 credentials are there.

![image](https://user-images.githubusercontent.com/55927613/112061710-cac09880-8b56-11eb-8ad6-680551e96c11.png)

Here is the output of `sfdx force:o

[2021-03-22 22:42] mshanemc commented on #914
I'm going to close this @ArielS1 .

If you're stilling having the problem, please open a new issue on this repo _because it'll walk you through what's needed to make a great error report (getting the versions of all the parts of the CLI)_

[2021-03-22 22:42] #914 closed, assigned to nobody

[2021-03-22 22:48] mshanemc commented on #905
can you run it with `--dev-debug` and share that output?  I tried matching your node version and that didn't seem to help.

Is it correct you don't expect to see any scratch orgs?  @MuriloKakazu do you also see no scratch orgs, or does it hang after the scratch orgs show up?

[2021-03-22 22:51] mshanemc commented on #917
Hey, @JodieM !

Have you reached out to the VSCode extensions team about it or looked through their issues?  https://github.com/forcedotcom/salesforcedx-vscode/issues

It might still be the CLI's fault somewhere in there, but they may have a better idea of what that command does.

[2021-03-23 07:09] anupam081 commented on #927
The jenkins files is used and the auth command is called only once in the start when the  pipeline is build.
Please check the jenkins file in the repo ( https://github.com/anupam081/CIwithJenkins/blob/main/Jenkinsfile ) in the issue.

I also notices that the sfdx cli version is showing me 7.91 when checking it from command prompt, when i checked from the jenkinsfile the version is showing as 7.83

[2021-03-23 08:00] chiranjeebee opened #937 "Workflow rule or workflow rule alert does not work fine for SFDX CLI 7.83 version but works fine with 7.73 version."
### Summary

Workflow rule or workflow rule alert does not work fine for SFDX CLI 7.83 version but works fine with 7.73 version.

### Steps To Reproduce:

1.  Deploy any work flow rule to salesforce.
2. Package .xml file below.
![image](https://user-images.githubusercontent.com/66773678/112112391-78758b00-8bdb-11eb-82c7-3051887d3bdd.png)

### Expected result

![image](https://user-images.githubuse

[2021-03-23 08:26] jcarmignani opened #938 "Cannot exclude List Views with .forceignore after CustomObject retrieval"
### Summary

_Short summary of what is going on or to provide context_.

I would like to exclude from metadata retrieve all the List Views that are fetched while using:
` sfdx force:source:retrieve -m "CustomObject:Account"`

### Steps To Reproduce:
Insert the following lines in the .forceignore file:
`# Exclude listViews
**listViews
**.listView-meta.xml
**.listView`

Then retrieve the Account obj

[2021-03-23 08:36] pkozuchowski commented on #934
I'm observing similar issue:
[code]

edit:
It works with --soapdeploy parameter

[2021-03-23 09:24] AllanOricil opened #939 "Auth token in the files inside ~/.sfdx are "encrypted""
### Summary

When we run `sfdx force:org:list --all --json` it now displays all auth tokens "decrypted" but if I open one of the files inside `~/.sfdx` the auth tokens are still "encrypted". Is it by design?

### Steps To Reproduce:

Open one of the org files inside `~/.sfdx`

### Expected result

Auth tokens should be the same as displayed when run `sfdx force:org:list --json`

### Actual result

[2021-03-23 10:24] jamesmelville opened #940 "Scratch org disappears from list after generating password"
### Summary

When I generate a password for a scratch org, the scratch org disappears from `force:org:list` and `force:org:list --all`. It remains accessible via its alias, but doesn't appear in any lists.

### Steps To Reproduce:

1.  Create a scratch org
1.  Run `force:org:list` and see the scratch org listed
1.  Reset the password `sfdx force:user:password:generate --targetusername MyAlias --ta

[2021-03-23 10:25] jamesmelville commented on #940
Sorry - just spotted #933 which I think might be related

[2021-03-23 12:08] limlynette commented on #340
Encountered the socket hang up errors yesterday after installing the latest SFDX cli package.

This is the error encounter for `sfdx force:source:retrieve`. Similar errors for other sfdx commands like deploy.
It works sometimes but mostly errors out with below stacktrace.

		socket hang up
		at connResetException (internal/errors.js:610:14)
		at TLSSocket.socketOnEnd (_http_client.js:453:23)
		at

[2021-03-23 12:13] matthiasriedel1337 opened #941 "Deployment Error: You have sent us an Illegal URL or an improperly formatted request"
### Summary

I used to deploy code via
`sfdx force:source:deploy --sourcepath c:\Users\matth\OneDrive\Dokumente\Code\SF2\force-app\main\default --json --loglevel fatal`
Last successfull deployment doing this was 10.03.2021, 13:44 (i cant tell which sfdx version i had at this time).
Now we recieve an error.

### Steps To Reproduce:

Dont know, Error is Org independant (Sandbox/Production). Error tr

[2021-03-23 13:05] mshanemc commented on #933
Is there anything unusual about the auth file (in ~/.sfdx/) for that playground when you compare it to other orgs that do appear?

[2021-03-23 13:07] mshanemc commented on #939
Yes, as designed.  They're all stored encrypted.
If someone needs a token for something, the you use the command to decrypt it.

[2021-03-23 13:07] #939 closed, assigned to nobody

[2021-03-23 13:10] mshanemc commented on #934
Yes!  The `mdapi:deploy` command has a soap option, but `source:deploy` doesn't.  That's why you either need to force it to use REST via environment variable or config:set.

We're working with the metadata team to get this resolved without manual steps.

[2021-03-23 13:10] #934 closed, assigned to nobody

[2021-03-23 13:12] AllanOricil commented on #933
@mshanemc  To make it easier to debug, I shared with you a private repository with the content of  `~/.sfdx`.

[2021-03-23 13:14] jamesmelville commented on #933
@mshanemc might not be the same issue - but please see my ticket #940 where the org disappears from the list on adding `userId` and `password` to the auth file when setting a scratch org password, and restored to the list when they're removed.

[2021-03-23 13:22] mshanemc opened #942 "Deployment Problems"
If you have a deployment (`source:deploy`, `mdapi:deploy`, `source:push`) that's behaving badly, you **may** be experiencing a bug related to a recent change in how the metadata API is used.

Starting in version 51.0, Salesforce CLI uses REST by default for deployments. Previously it used SOAP by default.  Unfortunately, there's some problems with the REST API version.

## How to change it back to

[2021-03-23 13:24] mshanemc commented on #937
Those are some older versions.  Are you able to upgrade the CLI to latest, and reproduce the issue?

If so, there are some current deployment issues.  The workaround is described here: https://github.com/forcedotcom/cli/issues/942

If that doesn't solve the problem, can you please let us know so we can find the bug?

[2021-03-23 13:26] mshanemc commented on #941
Can you try one of the workarounds from here?  https://github.com/forcedotcom/cli/issues/942 and let us know if that solves it?

[2021-03-23 13:28] mshanemc commented on #940
Yep, I think it's the same issue and I think your diagnosis is correct.

[2021-03-23 13:28] uip-robot-zz commented on #940
This issue has been linked to a new work item: [W-9042306](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH0000008tAJYAY/view)

[2021-03-23 13:30] mshanemc commented on #933
I'm pretty sure it's the same issue and I know what it is.  I'm going to close this issue in favor of #940.  Please follow there.

[2021-03-23 13:30] #933 closed, assigned to nobody

[2021-03-23 13:53] Triopticon commented on #899
The problem with "Error: INVALID_SESSION_ID: Session expired or invalid" is getting very annoying as it happens with not very long inactivity, and then you need to get the access token refreshed again by for instant using: `sfdx force:org:open -u username`

This happens several times a day for the same user/org.

Are there changes done to the authentication model that I have not caught?

[2021-03-23 14:08] mshanemc commented on #927
What command(s) are you using to get the CLI installed/updated into your jenkins machine?

I'm **guessing** the problem may be related to that old CLI version.

[2021-03-23 14:49] anupam081 commented on #927
I installed using the installer which I installed on my Jenkins server and then have
set the path in toolbelt for Jenkins.

On Tue, Mar 23, 2021, 7:38 PM Shane McLaughlin ***@***.***>
wrote:

[2021-03-23 14:58] mikesobczak commented on #905
Hey Shane, I'll send you the results via email.

[2021-03-23 17:36] AllanOricil commented on #933
It is definitely not correlated, as I have not generated password for my Playground2. But whatever, you do what you think is right.

[2021-03-23 17:40] AllanOricil commented on #940
This is not the same issue. I did not use the command to generate a new password to my playground, I did not even know that was possible for Sandboxes....

[2021-03-23 17:58] jamesmelville commented on #933
@AllanOricil ignoring the point about setting a password - does the JSON file from your org (`~/.sfdx/username.json`) include the properties `userId` and `password`, and if so does removing them restore the org to the output of `force:org:list`?

[2021-03-23 18:02] AllanOricil commented on #933
@jamesmelville let me try it!

[2021-03-23 18:06] AllanOricil commented on #933
I removed both `userId` and `password` and then ran `sfdx force:org:list --all --json` and the org is still missing.

![image](https://user-images.githubusercontent.com/55927613/112196056-8985c280-8c02-11eb-9052-8acf99952f5f.png)

[2021-03-23 18:13] matthiasriedel1337 commented on #941
Yes, switching back to SOAP solved the Issue. Thank you!

After reading some closed Issues i am sorry i opened an issue that has already been solved.

[2021-03-23 18:13] #941 closed, assigned to nobody

[2021-03-23 20:23] rschmidtSFDC commented on #93
No it does not work after updating to the preview. I verified my CSV with another tool.

After looking at this with 2021 eyes I don't think it will ever work as long as you can not discriminate between an insert and an update operation(unless I'm missing something in the preview or existing functionality). Since Externalid is required an upsert is implied.  TopicAsssignment only permits inserts as

[2021-03-24 01:52] tenten0213 commented on #205
@AllanOricil

I was able to workaround this issue following.

1. https://github.com/forcedotcom/cli/issues/205#issuecomment-550504897
2. add `AppBrand.app` to `.forceignore`

[2021-03-24 07:13] chiranjeebee commented on #937
Thanks for the reply. I have tried with higher versions like 7.81, 7.83 and the latest 7.92 version as well. Still same issue persists.

![image](https://user-images.githubusercontent.com/66773678/112269516-758f9e80-8c9e-11eb-8621-bba473a839a3.png)

I have tried setting restdeploy config as false as mentioned in #942. No luck.
As per my observation it only works with 7.73. I am looking for a fix i

[2021-03-24 11:31] jamesmelville commented on #933
So those properties were present and you removed them leaving valid JSON? Sorry - not sure I can help further with this - unless it was your list command being cached and just a case of waiting? Otherwise @mshanemc might be able to explain why he thought it was the same issue and otherwise re-open this?

[2021-03-24 11:52] AllanOricil commented on #933
Yes, those two keys were present, and even after removing those nothing changed.

[2021-03-24 13:15] prescod opened #944 "sfdx force:org:display generates Cannot read property 'Status' of undefined"
### Summary

I am trying to look at the config of my scratch org. Instead I get a stack trace.

### Steps To Reproduce:

$ sfdx force:org:display --json -u test-qnwe8ybkev6j@example.com

### Expected result

Output of data about scratch org, or clear error message if the org was missing or corrupt.

### Actual result

{
  "status": 1,
  "name": "TypeError",
  "message": "Cannot read property 'Stat

[2021-03-24 13:54] uip-robot-zz commented on #944
Error while creating work item!

[2021-03-24 16:17] mshanemc commented on #944
Aside from the bad error messaging, that's a sign that the devhub is not finding information about your scratch org.

Can you confirm that, from the devhub, you can still access the scratch org info?

[2021-03-24 16:18] uip-robot-zz commented on #944
This issue has been linked to a new work item: [W-9048829](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000913HYAQ/view)

[2021-03-24 16:36] prescod commented on #944
Yes, I do see the org in the devhub.

[code]

By now it is probably marked as deleted because I didn't think to keep it alive for investigation.

[2021-03-24 21:00] mshanemc commented on #944
It's OK if it's deleted...it would still be in the query.

That error is a result of the SOQL Query that asks the devhub about the org returning **nothing**.  Which I can't reproduce or explain.

If it happens on any other orgs, can you add the info here?

[2021-03-24 21:32] prescod commented on #944
Could you perhaps split the ticket into "better error message if SOQL query returns unexpected result" versus the underlying cause in this case?

Would you like me to issue a SOQL query against my devhub?

[2021-03-24 22:49] uip-robot-zz commented on #916
This issue has been linked to a new work item: [W-9051899](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH00000094efYAA/view)

[2021-03-25 01:42] mshanemc commented on #940
it's fixed in plugin-org 1.6.0.  You can get it early by running `sfdx plugins:install org` and help confirm that it's working.

@AllanOricil can you humor me and give the new version a try?  It's possible that sandboxes are some other special issue, but it's likely the same underlying problem of how I was filtering the org list.

[2021-03-25 02:16] Thrantor commented on #911
This is a good first step, but we also need to be able to pull the object information and SPECIFIC fields as well. If I've got two developers working and they each are working on the same object but with different fields... if they both use CustomObject of Account it pulls the others fields. But if we don't include the "CustomObject" of Account... the proflles come out all messed up.

We need to b

[2021-03-25 06:25] vikyaiyer opened #946 "Issue while sfdx:retrieve using Windows 7 - Getting Node.js is only supported on Windows 8.1 or higher. Setting the NODE_SKIP_PLATFORM_CHECK environment variable to 1 skips this check, but Node.js might not execute correctly."

[2021-03-25 06:27] vikyaiyer commented on #946
Sharing the link of [similar issue on Nodejs forum](https://github.com/nodejs/node/pull/33108)

[2021-03-25 09:12] danmarpar commented on #477
this also is afecting us: the issue does not happen in older versions of sfdx like 6.54.4

[2021-03-25 09:44] toddhalfpenny commented on #398
I'm also seeing scratch orgs not being listed in `sfdx force:org:list`.

I have just created one with this `sfdx force:org:create -s -f config/project-scratch-def.json --json -d 30 -a  my-scratch` and the org was created and can be seen in our dev hub.

I can also run commands using the alias `my-scratch`, but it's just not appearing in the `list` results. For example if I run `sfdx force:org:disp

[2021-03-25 11:26] AllanOricil commented on #940
@mshanemc I cant install the plugin

![image](https://user-images.githubusercontent.com/55927613/112465761-fdd47900-8d5c-11eb-975e-f5fa174a0106.png)

[2021-03-25 13:33] mshanemc commented on #946
Salesforce CLI is based on node, which dropped support for Windows 7 when Microsoft stopped supporting it.

https://support.microsoft.com/en-us/windows/windows-7-support-ended-on-january-14-2020-b75d4580-2cc7-895a-2c9c-1466d9a53962

You can try the NODE_SKIP_PLATFORM_CHECK.

[2021-03-25 13:33] #946 closed, assigned to nobody

[2021-03-25 13:39] mshanemc commented on #944
We released a patch for this and another issue last night.  If you run `sfdx plugins:install org` you'll get that latest.

It **should** handle the error better, and also print out what hub and org the query is doing.

The query and fields are in here: https://github.com/salesforcecli/plugin-org/blob/6f0d1c4093056b09e2c9fdf5501f83cdd8e9fa1e/src/shared/orgListUtil.ts#L217

In soql that would be ask

[2021-03-25 14:15] toddhalfpenny commented on #398
Ah I wonder if this is related to #940, could be.

**UPDATE**: Yes, installing the *org* plugin as recommended in #940 fixed it.
`sfdx plugins:install org`.
After running this I see three scratch orgs that I had but were not being listed. Pretty sure all 3 had passwords generated for them.

[2021-03-25 14:29] toddhalfpenny commented on #940
I have installed the plugin-org plugin as recommended.
After running this I see three scratch orgs that I had but were not being listed. Pretty sure all 3 had passwords generated for them.

[2021-03-25 14:31] Thrantor opened #947 "Retrieve standard object metadata and standard object field metadata by itself so that profiles and permission sets will retrieve properly based on only what is in the package.xml"
**Is your feature request related to a problem? Please describe.**
In order to have permission sets and profiles retrieved with object level permissions and data, the object(ex Account) must be in the CustomObject section of the package.xml. However, this also retrieves ALL of the fields, listviews, recordTypes etc for that object.

This causes trouble when you have two different developers who ar

[2021-03-25 14:35] MuriloKakazu commented on #905
@mshanemc This problem is intermittent for me. The last time this process froze was 2 weeks ago, and only happened the first time I ran the command that day. After killing the process and running again, it executed normally. **Also, mine freezes before any org connection is shown...**

Then it happened again today, but this time killing the process and running again did not work, so I finally save

[2021-03-25 15:10] mikesobczak commented on #905
@MuriloKakazu the issue happens for me every time I run the command, without fail.
@mshanemc did you receive the logs I sent you via gMail?

[2021-03-25 18:35] mayforceconsulting commented on #761
Same problem.  Any updates on this?  Starting to become more prevalent it seems.

[2021-03-25 23:49] nvuillam commented on #136
@FabienTaillon > Thanks for the great tool :)

But I have an issue , it seems to not succeed to find the wait to suspend recalc in UI, it is still working in Spring 21?

- project-scratch-def

[code]

- PS created with Manage Users and assigned to admin user

![image](https://user-images.githubusercontent.com/17500430/112557811-9e628180-8dcd-11eb-9d48-7f7e45325f74.png)

- log

[code]

Or maybe it

[2021-03-26 03:01] rohanshenoy96 commented on #761
@smaypilot If u have 2xml files. Delete the css.xml file. This solution worked for me

[2021-03-26 06:34] ar-srinivas commented on #937
I am facing the same issue even with "WorkflowRule" metadata type. Please let us know if there is an ETA for the fix or if any version(>7.83) supports this.

[2021-03-26 08:09] FabienTaillon commented on #136
@nvuillam can you please create an issue in our repo ? I'll have a look on Monday, I'm not working today :)

[2021-03-26 08:13] nvuillam commented on #136
@FabienTaillon will do that, have a nice weekend :)
I may have a clue... the button is just not appearing on the page 😐😐
Maybe some more rights needed ?

[2021-03-26 09:58] ApraChris commented on #860
Hi @shetzel,

I'm having the same issue with the illegal URL.
Here are my details - let me know if you need any more details:

[code]

[code]

**Edit**: As mentioned, using `sfdx config:set restDeploy=false` works. These errors occur when using REST.

[2021-03-26 10:09] kylethornton commented on #136
@nvuillam are you defining the scratch org to have the DeferSharingCalc feature enabled?

your features array in your project-scratch-dev.json should include `"DeferSharingCalc"`

[2021-03-26 10:11] nvuillam commented on #136
@FabienTaillon false alarm,  it was an issue with my Permission set :)

To others needing the feature, you can use [sfdx hardis:scratch:create](https://www.npmjs.com/package/sfdx-hardis) (available in [VsCode SFDX Hardis extension](https://marketplace.visualstudio.com/items?itemName=NicolasVuillamy.vscode-sfdx-hardis)) ,  or manually deploy this metadata folder containing the appropriate PS :)

ht

[2021-03-26 10:23] nvuillam commented on #136
@kylethornton thanks for the support, it's all good now :)

[2021-03-26 11:43] MaciekLeks commented on #866
I discovered what causes the "Unknown type name 'IndustriesManufacturingSettings' specified in package.xml" error in every sfdx-cli version except v7.86.3 in our project: File force-app/setup/clm/setttings/Content.settings-meta.xml needed for  Vlocity CLM. Empty project only with this file raises the error. The full project without it compile without the error. And file content is:
[code]

[2021-03-26 13:37] mshanemc commented on #940
@AllanOricil that's...not right.  Do you get the same error installing any plugin or just that one?

You could try `sfdx plugins:install @salesforce/plugin-org` (the more formal npm name).

[2021-03-26 13:38] mshanemc commented on #940
@toddhalfpenny put yourself a reminder to `plugins:uninstall org` once the fix ships on (sometime on 4/1) so you get back to "normal"

[2021-03-26 13:39] yippie commented on #940
I just hit this also. All of my scratch orgs that I generated a password for are missing.

installing org 1.6 fixes it.

[2021-03-26 13:54] mshanemc commented on #905
@mikesobczak I did get the logs, thanks!  Any chance you have deleted sandboxes like @MuriloKakazu found that may be related to the problem?  You can poke around in the `~/.sfdx` folder for files, or use the `--skipconnectionstatus` to get the names of what it's trying to reach.

I'm going to try creating, authing to,  and intentionally deleting a sandbox to see if I can reproduce the hang.  Thank

[2021-03-26 14:20] SCWells72 opened #948 "force:org:create doesn't use namespace from sfdx-project.json (or perhaps that entire file) sometimes (metadata format vs. source format?)"
I've been working through some IC2 issues with the [NPSP project](https://github.com/SalesforceFoundation/NPSP) lately, many due to the fact that it's a strange hybrid of SFDX and traditional. It has an `sfdx-project.json` file and numerous scratch org definition files under its `orgs` directory, but the actual files are (mostly) in metadata format instead of source format. I say "mostly" because

[2021-03-26 14:20] mshanemc commented on #896
I'm trying to reproduce this and not able to.  You're on an older version of the CLI...can you try updating to see if you can still get the issue?

If so, let me know and I can try it on Windows.

[2021-03-26 14:28] mshanemc commented on #925
Can you share the contents of the package.xml that's generated in .\force-app\deploy

Two suggestions:
1. Can you try putting your deploy directory outside of `force-app`, maybe at the top-level of the project?
2. Any reason you're not running `force:source:deploy -p .\force-app\package -u Production -l RunLocalTests -w 5` ?

It might still be a bug in the convert/mdapi-deploy combo.

[2021-03-26 14:29] mshanemc commented on #909
If uninstalling/updating/fixing the `lwc-dev-server` stuff solves the error, can you close this issue?

[2021-03-26 14:41] mshanemc commented on #904
I'm closing this--it's all related to the soap/rest switch.

[2021-03-26 14:41] #904 closed, assigned to nobody

[2021-03-26 14:43] mshanemc commented on #883
Y'all, this is fixed in the latest version of the user plugin.

You can test it early by
1. `sfdx install:plugins user`
2. update the cli to latest-rc
3. wait until 4/1's release to latest

[2021-03-26 14:44] #869 closed, assigned to nobody

[2021-03-26 14:47] #838 closed, assigned to mshanemc

[2021-03-26 14:50] mshanemc commented on #739
This is fixed in newer releases for both windows and linux.  Please reopen if it's still happening

[2021-03-26 14:50] #739 closed, assigned to nobody

[2021-03-26 14:54] mshanemc commented on #650
@banderson5144 are you still seeing this on recent releases?

[2021-03-26 14:57] mshanemc commented on #780
possibly related to also https://github.com/forcedotcom/cli/issues/631

[2021-03-26 15:09] banderson5144 commented on #650
@mshanemc no, but I also just recently upgraded to Windows 10 so I can't be sure if this is still  happening on Windows 7

[2021-03-26 15:19] mshanemc commented on #948
For clarity,
1. clone NPSP
2. change the namespace in the top-level `sfdx-project.json` to something your hub owns
3. `sfdx force:org:create` (with a config file? which one? doesn't matter?)

[2021-03-26 15:23] SCWells72 commented on #948
@mshanemc hah! Yes, that's the concise version. Try to use `dev.json` if you want...though, that raises another question/problem that we can split off into its own case, but I'll seed the discussion here. Sometimes org creation fails with "failed to deploy settings", and the scratch org is technically created, albeit without the alias and in some indeterminate state as to which (if any) of the set

[2021-03-26 15:31] davidmreed commented on #948
Background on the unusual project layout for the Nonprofit Success Pack:

NPSP is built using [CumulusCI](https://cumulusci.readthedocs.io/), Salesforce.org's orchestration layer on top of Salesforce DX. The NPSP project _is_ in Metadata API format. However, it also comes with all of the infrastructure to define and build scratch orgs, because CumulusCI supports building scratch orgs for products

[2021-03-26 15:37] mshanemc commented on #927
can you try either 1) installing it from npm instead of the installer or 2) adding the `sfdx update` command post-install so it gets to something more recent?

[2021-03-26 15:43] SCWells72 commented on #948
Thanks for the useful context, @davidmreed. I've actually worked over the past few weeks to make IC2 work much better with NPSP as-is...or at least as close to as-is as makes sense given that much of its behavior is delivered as external config/scripts.

The issue I'm hitting now seems to be a recent behavioral change. One month ago I ran the following from the NPSP root project directory with the

[2021-03-26 16:01] mshanemc commented on #365
telemetry has been substantially updated.  I'm closing this issue (please reopen, or do a new one if it happens again)

[2021-03-26 16:01] #365 closed, assigned to nobody

[2021-03-26 16:03] SCWells72 commented on #948
Okay, I've figured out what's going on here.

First, changing the CLI to use the SOAP API instead of the REST API for deployment fixed the "failed to deploy settings" issue. It sounds like the REST change is going to be reverted shortly, but in the interim you can find a solution for that in #942.

Second, because of the hybrid SFDX/traditional nature of the NPSP project, IC2 is using the [`plugin

[2021-03-26 16:19] mikesobczak commented on #905
@mshanemc I don't use scratch orgs.  I mainly work with production orgs that have been trialforced from internal demo template orgs.  Maybe the issue is with expired orgs in general?

[2021-03-26 16:48] AllanOricil commented on #940
@mshanemc I was able to install the plugin, but only using `sfdx plugins:install @salesforce/plugin-org`

And the Sandbox is now showing up. But I will repeat, somehow a password was generated to my Sandbox without me knowing about it. As I'm always using the VS Code button to login into the sandbox I never needed to generate a password to my Sandbox.

[2021-03-26 17:10] jamesmelville commented on #940
Thanks for the fix @mshanemc - all good now for me with the updated plugin

[2021-03-26 18:08] ayiyann commented on #904
hi however it is related to soap/rest switch  i hope the rest behaviour will be fixed

[2021-03-27 12:34] anupam081 commented on #927
Hi
Tried both..
when i run "sfdx plugins --core" on command prompt i get below result, which shows i am on the current version of sfdx.
@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.10.0 (core)
@oclif/plugin-update 1.4.0-3 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (c

[2021-03-27 18:33] deb761 commented on #134
I believe I have seen errors from the tree:import command with later releases.  Will close.

[2021-03-27 18:33] #134 closed, assigned to nobody

[2021-03-29 14:00] #93 closed, assigned to nobody

[2021-03-29 14:50] MuriloKakazu commented on #908
@mshanemc just to clarify: is this really an apex issue? 🤔 Pardon my ignorance because I also don't know if the CLI code is owned by multiple teams or not, but from what I could see from this issue the code already compiled, executed and the result was returned and presented in stdout, but the CLI is still hanged after that.

The problem apparently relies in the CLI itself and not in Apex or an AP

[2021-03-29 15:03] jclark-dot-org commented on #934
@mshanemc This is still broken without the manual workaround, correct?  If so, could I suggest leaving this ticket open, perhaps flagging 'owned by another team' if the work is with the metadata team?  The default search in github is 'is:open'; some folks may miss the workaround if the ticket is closed.

[2021-03-29 15:07] SCWells72 commented on #948
Okay, I've figured out the part where the namespace wasn't being set. Because of the hybrid nature of the NPSP project, IC2 wasn't setting the working directory for the CLI when it executes, instead causing that process' working directory to be the `sfdx` script's parent directory. When IC2 properly sets the working directory to be the parent directory of `sfdx-project.json` when executed for the

[2021-03-29 15:46] #948 closed, assigned to nobody

[2021-03-29 18:26] jclark-dot-org opened #949 "Scratch org not listed in Scratch section when authenticated via JWT"
### Summary

We use a server-based automation (bitbucket pipelines) to create new scratch orgs, then authenticate from a dev's local machine to the new scratch using `auth:jwt:token`.  When we do this, the scratch org is listed in the first (non-scratch) section of `force:org:list`, and expiration date info is not available.

### Steps To Reproduce:

**NOTE** you will need two systems with sfdx in

[2021-03-29 19:12] jclark-dot-org commented on #949
I originally stated

However, that was the old behavior; now it appears that manually adding the "devHubUsername" key is the correct workaround.

[2021-03-29 23:13] #917 closed, assigned to nobody

[2021-03-30 05:43] LawrenceLoz commented on #860
@shetzel I'm getting the illegal URL error, but I've only seen this using the built-in VS Code command palette push function. Behaviours I've seen:

1. Initial push to a new scratch org using VS Code: Works
2. Push to a scratch org after local changes using VS Code: Error (output below)
3. `sfdx force:source:push` to scratch org using command line: Works
4. `sfdx force:source:push --json --logleve

[2021-03-30 09:19] AllanOricil opened #950 "SfdxError sfdx force:source:deploy"
### Summary

Im trying to push some metadata using `sfdx force:source:deploy` and Im receiving this response from sfdx. I ran this several times, and I always get the same response, so it is not a service instability.

[code]

### Steps To Reproduce:

I can share a repository to the responsible of this feature so you can debug what is happening.

### Expected result

`sfdx force:source:deploy` sho

[2021-03-30 09:21] AllanOricil commented on #942
@mshanemc can I use this flag with `sfdx force:source:deploy` ? I think my issue https://github.com/forcedotcom/cli/issues/950 is related to using the REST api.

[2021-03-30 09:35] AllanOricil commented on #950
Using the solution from https://github.com/forcedotcom/cli/issues/942 fixed my problem.

[2021-03-30 09:35] #950 closed, assigned to nobody

[2021-03-30 09:36] AllanOricil commented on #942
yes, it works.

[2021-03-30 11:29] JSGTrifork commented on #67
@clairebianchi I can confirm that this is still an issue on sfdx-cli/7.93.1-762bca056d linux-x64 node-v14.15.4.

Can we re-open this issue? I've tried the workaround that @gbutt suggests, but it does not seem to do the trick. We have a generated LWC library with 50+ components that we push to Salesforce and debugging errors without filePath, type, columnNumber nor lineNumber is quite a challenge.

[2021-03-30 14:28] mshanemc commented on #949
**TLDR; it doesn't work the way that you are trying to use it.**

Scratch orgs stored locally are **meant to be** the result of the org:create command (we track them as scratch orgs associated with the dev hub that created them).

If you auth into a scratch org any other way (web via username/password, auth_url, jwt) it's going to be treated as a non-scratch org.  There's no good way to ask a scra

[2021-03-30 14:57] uip-robot-zz commented on #949
This issue has been linked to a new work item: [W-9073698](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH0000009UrjYAE/view)

[2021-03-30 14:58] mshanemc commented on #949
I logged this as a feature request, not a bug.

[2021-03-30 15:00] mshanemc commented on #905
@mikesobczak what happens if you do a DNS lookup of your expired org's myDomain?

[2021-03-30 16:14] jclark-dot-org commented on #949
@mshanemc Thanks for the explanation, that makes sense.  I can say that in the past, `force:org:display` would fix the problem; perhaps the old version assumed the currently active devhub?  An option to check the current devhub, or specify a hub user, during auth would be very helpful.  For now, we'll probably look for a simple way to automate updating the local org file after auth.

[2021-03-30 16:57] aesanch2 opened #951 "Scratch Org Created Users No Longer Displayed via force:org:list"
### Summary

Since updating to the latest sfdx cli, we've encountered issues with users that are created via the `sfdx force:user:create` command no longer being displayed in the `force:org:list`. As our pipeline requires the creation of users for testing and then using their connection information to update configurations, we are no longer able to build development environments for our project.

[2021-03-30 19:08] mikesobczak commented on #905
@mshanemc below is what I get back from dns.google.com:.  I'm pretty sure the org is toast.  I have a bunch of orgs where the connection status is "Domain not found".  The "force:org:list" command displays all of them, but hangs after the last one is displayed.  (Actually, it hangs after this line is written:  No active scratch orgs found.  Specify -all to see all scratch orgs)

I don't understand

[2021-03-31 00:40] hatorijobs commented on #887
Hi there,
I am having the same issue.
But I solved it using the following command.

sfdx force:config:set restDeploy=false

sfdx force:config:list

=== List Config
Name             Value  Location
───────────────  ─────  ────────
defaultusername  hoge   Local
restDeploy       false  Local

Thank you!! Good luck!!

[2021-03-31 07:49] alexferrari88 commented on #457
In package.xml I add:
[code]

This is what the Salesforce documentation suggests. Yet I get the error:
`ERROR running force:source:retrieve:  The specified metadata type is unsupported: [Custom​Metadata]`

Using the command `sfdx force:source:retrieve -m CustomMetadata` as suggested by @banderson5144 [here](https://github.com/forcedotcom/cli/issues/457#issuecomment-697927236), it works.

This does

[2021-03-31 08:16] micha79x commented on #951
Might be related to https://github.com/forcedotcom/cli/issues/940?

[2021-03-31 09:08] AllanOricil commented on #788
@amphro I can't auth to any org when using sfdx from a raspbery pi. Could this be related somehow? Basically every time I try to auth the browser just keeps loading  and nothing happens.

[2021-03-31 13:19] mshanemc commented on #951
yes, duplicate of #940 , which has a fix you can use now.

[2021-03-31 13:19] #951 closed, assigned to nobody

[2021-03-31 13:20] fredtoutsimplement opened #952 "source:deploy result error "Illegal Request" for a parent folder but works subFolder by subFolder"
### Summary
source:deploy result error "Illegal Request" for a parent folder but works subFolder by subFolder

### Steps To Reproduce:

**Repository to reproduce:** Private Repo so I cannot share it here

Example 1 resulting an error :
sfdx force:source:deploy --sourcepath "src/B2B_Core/views"
RESULT ERROR Illegal Request

Example 2 resulting also an error
sfdx force:source:deploy --sourcepath "sr

[2021-03-31 13:20] mshanemc commented on #944
@prescod can you try it with the new error output so I can see what it's returning?

[2021-03-31 13:27] mshanemc commented on #938
@jcarmignani that's a very old version the cli.  Can you verify it doesn't work with a newer version?

There's also an opt-in for using a newer version of the .forceignore

finally, try these changes:
**listViews => `**/listViews`
**.listView-meta.xml => `**/listView-meta.xml`

ignore syntax in v2 follows git: https://git-scm.com/docs/gitignore

[2021-03-31 13:29] mshanemc commented on #918
Can you try it with the REST workaround to see if that's part of the problem? https://github.com/forcedotcom/cli/issues/942

[2021-03-31 13:40] mshanemc commented on #905
I can't get this to reproduce (I have both a deleted sandbox and expired scratch orgs), and I can't even make sense of why it would hang.

It changed because we rewrote `org:list` as part of open-sourcing several org commands earlier this year.

The code is here, which calls a method that prints the message you mentioned `No active scratch orgs found`
https://github.com/salesforcecli/plugin-org/bl

[2021-03-31 13:42] #932 closed, assigned to nobody

[2021-03-31 14:05] RCMoonpie commented on #904
@mshanemc  What "soap/rest switch"?  (EDIT: As in, I understand the discussion of the workaround of switching from using REST to using SOAP.  What I don't understand is your reference to "**the** soap/rest switch" [emphasis added by me].)

This was closed without resolution but with no reference/link to any other issue.

[2021-03-31 14:10] fodilo commented on #536
Can you try that

https://developer.salesforce.com/forums/?id=9060G0000005iVnQAI

We've tried to a custom object and it goes well for it.

[2021-03-31 16:16] mikesobczak commented on #905
@mshanemc both of those parameters hang after they "complete".

[2021-03-31 16:18] mshanemc commented on #918
There's an investigation happening on this one.

[2021-03-31 18:39] aesanch2 commented on #951
@mshanemc I updated the org plugin as suggested in the referenced issue and I'm still not seeing Scratch Org users in the display response.

[code]

[2021-04-01 07:38] ayiyann commented on #904
hi @RCMoonpie  the workaround is to switch to soap deployment by using the command:  sfdx config:set restDeploy=false  in the terminal

[2021-04-01 09:33] sf-tyrone opened #966 "Unhandled rejection Error: getaddrinfo ENOTFOUND"
when
### Summary

when i try to create a new scratch org , i keep getting this error: https://github.com/forcedotcom/cli

### Steps To Reproduce:

create a scracth org and then use the sfdx command line "sfdx force:source:push -f"

### Expected result

meta to be pushed into scratch org

### Actual result

Unhandled rejection Error: getaddrinfo ENOTFOUND ...........at GetAddrInfoReqWrap.onlookup [

[2021-04-01 10:56] RCMoonpie commented on #904
Thank you for the replay @ayiyann .  But you said it yourself - that is a "workaround".  Which means the underlying issue still exists.

Which is why I do not understand the closing of this issue without directly linking it to another issue that is still being worked.

[2021-04-01 13:17] mshanemc commented on #952
Have read and tried the steps from this pinned issue (preferably on the machine with the more recent CLI version)?
https://github.com/forcedotcom/cli/issues/942

If that doesn't work: is there a simplified version of the repo you could provide?  For example,
- do all 4 folders have to be present, or would 2 suffice to reproduce?
- does the metadata in the folder have to be something specific, or w

[2021-04-01 13:41] #944 closed, assigned to nobody

[2021-04-01 16:12] peternoges commented on #904
I was updating a managed package very late last month & saw the toast say success during my right-click in a file > deploy action...yet the org didnt get the update.  I think its happened as few as ~ 3 times for me,   (that i noticed and out of tens of thousands of uses).

to anyone troubleshooting: I have not intentionally made any edits to the "soap/rest switch".

I think reopening vscode helped

[2021-04-01 16:36] RCMoonpie commented on #470
@amphro : Please elaborate: where are you talking about filing a support ticket?  Here on GitHub, directly with Salesforce, or ???

[2021-04-01 18:31] JNiedle opened #954 "Loss of data in picklist values when deploying picklists with values with leading zeros"
### Summary
Deploying a picklist with values that are numeric but have leading zeros results in the picklist value results in the leading zeros being stripped

### Steps To Reproduce:

1. Create a picklist field on an object with values ('001', '002')
1. Retrieve the metadata in VS Code
1. Deploy the field back to SalesForce

### Expected result

The picklist values should retain the leading zeros

[2021-04-01 22:10] smaddox-sf commented on #966
Hi @sf-tyrone - You mention using the command line.  Are you executing the commands from the command line?  Or from VS Code?

Can you re-paste the error you receive?  The text in the issue description has a link to another of our repos so it's unclear what the error is.

What version of the SFDX CLI are you using?

What version of the Salesforce extensions within VS Code are you using?

[2021-04-02 00:36] sf-tyrone commented on #966
Hi,

I even uninstalled sfdx and the salesforce extension packages and
reinstalled them. So I should have he latest version also I get the error
from the Visual code terminal.

sfdx version = sfdx-cli/7.93.1-762bca056d darwin-x64 node-v14.15.4
VS version = Version: 1.55.0
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Darwin x64 19.3.0

the command i use is =

[2021-04-02 14:06] mshanemc commented on #828
I think this is fixed in the new data plugin released 4/1.  If not, re-open or create a new case.

[2021-04-02 14:06] #828 closed, assigned to nobody

[2021-04-02 14:06] mshanemc commented on #720
I think this is fixed in the new data plugin released 4/1.  If not, re-open or create a new case.

[2021-04-02 14:06] #720 closed, assigned to nobody

[2021-04-02 14:06] mshanemc commented on #711
I think this is fixed in the new data plugin released 4/1.  If not, re-open or create a new case.

[2021-04-02 14:06] #711 closed, assigned to nobody

[2021-04-02 14:06] mshanemc commented on #710
I think this is fixed in the new data plugin released 4/1.  If not, re-open or create a new case.

[2021-04-02 14:06] #710 closed, assigned to nobody

[2021-04-02 14:06] mshanemc commented on #682
I think this is fixed in the new data plugin released 4/1.  If not, re-open or create a new case.

[2021-04-02 14:06] #682 closed, assigned to nobody

[2021-04-02 14:06] mshanemc commented on #617
I think this is fixed in the new data plugin released 4/1.  If not, re-open or create a new case.

[2021-04-02 14:06] #617 closed, assigned to nobody

[2021-04-02 14:06] mshanemc commented on #264
I think this is fixed in the new data plugin released 4/1.  If not, re-open or create a new case.

[2021-04-02 14:06] #264 closed, assigned to nobody

[2021-04-02 14:06] #907 closed, assigned to nobody

[2021-04-02 14:07] mshanemc commented on #883
released.

[2021-04-02 14:07] #883 closed, assigned to nobody

[2021-04-02 14:08] mshanemc commented on #944
released

[2021-04-02 14:08] mshanemc commented on #940
released!

[2021-04-02 14:08] #940 closed, assigned to nobody

[2021-04-02 14:15] mshanemc commented on #866
I can't reproduce this.  I'm on v7.93.1, with the restDeploy=false.  The file you supplied is the only thing I added to the results of `project:create`.  Anything else required to get the error?

<img width="1343" alt="Screen Shot 2021-04-02 at 9 12 55 AM" src="https://user-images.githubusercontent.com/4261788/113423285-cf295480-9393-11eb-8f54-02119254e1d1.png">

[2021-04-02 14:19] mshanemc commented on #788
I think the auth thing is related to https://github.com/forcedotcom/cli/issues/881 which was bothering win/linux for a while earlier this year.  It's fixed on recent releases--what's running on the pi?

[2021-04-02 14:20] mshanemc commented on #650
we don't support windows 7 (node dropped support for it since MSFT dropped support for it).  If win10 is good, I'm gonna close.  Thanks for the update.

[2021-04-02 14:20] #650 closed, assigned to nobody

[2021-04-02 15:14] AllanOricil commented on #788
This issue is fixed and I was able to auth to an org on the pi. Thank you. I just had to uninstall sfdx, and then install it again (v7.94)

[2021-04-02 15:14] #788 closed, assigned to nobody

[2021-04-02 15:19] #756 closed, assigned to nobody

[2021-04-02 15:19] #925 closed, assigned to nobody

[2021-04-02 15:19] #896 closed, assigned to nobody

[2021-04-02 15:29] steals commented on #929
reinstall doesn't work for me. Stil have the same warnings:

@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.10.0 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/lwc-dev-server 2.10.0
├─ @oclif/plugin-update 1.3.10
└─ @oclif/plugin-help 2.2.1
@salesforce/sfdx-diff 0.0.6
@salesforce/sfdx-trust 3

[2021-04-02 15:56] btamburrino commented on #909
@mshanemc For whatever reason, Github didn't actually notify me of your question (only of the github-actions bot message). However, yes, uninstalling lwc-dev-server does resolve the error, so I should have closed the issue seven days ago. My apologies.

[2021-04-02 15:57] #909 closed, assigned to nobody

[2021-04-03 13:00] MaciekLeks commented on #866
Have you installed vlocity cme before trying to sfdx deploy? We use (sfdx-project.json excerpt):
[code]

[2021-04-05 15:45] ayiyann commented on #904
hi @RCMoonpie  I agree with you . I don't understand why they have closed this case because switching to soap is just a workaround.

[2021-04-06 08:45] lily-yu1 commented on #612
same issue here sfdx-cli/7.94.3-a4e7c7955b

[2021-04-06 11:34] AllanOricil opened #956 "Add refresh token in the sfdx force:org:list response"
**Is your feature request related to a problem? Please describe.**

When the auth token is expired I have to rerun sfdx force:org;display or force:org:list just to grab another token and it takes quite a while for sfdx to execute the command. If I had the refresh token I could do it myself instead of interfacing with the cli.

**What are you trying to do**
Get a new token as fast as possible witho

[2021-04-06 11:34] uip-robot-zz commented on #956
Error while creating work item. No valid build found in GUS!

[2021-04-06 13:53] GULP-CM commented on #954
We had the same issues. But we don't think it's a bug with the cli it is more related to the vscode plugin as they enabled the experimental deploy retrieve feature with version 51.7.0 disabling this feature in the settgins fixed the issue in vscode.

![image](https://user-images.githubusercontent.com/6094811/113721692-0713fd00-96f0-11eb-82c0-676298ae4c25.png)

https://github.com/forcedotcom/salesf

[2021-04-06 15:09] jayree commented on #949
@jclark-dot-org can you please try to run `force:org:shape:list` and check if the scratch orgs are listed in the correct section again.

[2021-04-06 16:03] fenixjke opened #957 "Warning: Accessing non-existent property [prop] of module exports inside circular dependency"
### Summary

When trying to use sfdx command in terminal a bunch of warnings are showing.

### Additional information

<img width="780" alt="warning" src="https://user-images.githubusercontent.com/20062691/113741648-89111f80-970a-11eb-8eb0-9ee514da60f0.png">

**SFDX CLI Version**: sfdx-cli/7.94.3-a4e7c7955b darwin-x64 node-v14.15.4

**OS and version**: macOS Big Sur 11.2.3

[2021-04-06 16:33] peternhale commented on #957
@fenixjke Thank for reporting this issue. May I ask a favor. Run the command again using NODE_OPTIONS
[code]
and post those results.

I do not see these warnings on Mac, still on Catalina.

[2021-04-06 16:39] fenixjke commented on #957
@peternhale
(node:79199) Warning: Accessing non-existent property 'cat' of module exports inside circular dependency
    at emitCircularRequireWarning (internal/modules/cjs/loader.js:650:11)
    at Object.get (internal/modules/cjs/loader.js:664:5)
    at Object._register [as register] (/Users/u/.local/share/sfdx/node_modules/shelljs/src/common.js:453:12)
    at Object.<anonymous> (/Users/u/.local/

[2021-04-06 16:52] jclark-dot-org commented on #949
@jayree excellent!  Workaround confirmed.  Running the command did output as expected (I'm not currently using orgshape):
[code]

But the next run of `force:org:list` correctly identified several scratch orgs which were not previously displayed as scratch orgs.

[2021-04-07 04:50] IVerkhosh commented on #39
is anybody looking into this issue?
When I try to deploy anything, I am getting Starting SFDX: Deploy Source to Org - Cannot read property 'id' of undefined. The same when I am trying to retrieve with SFDX: Retrieve Source in Manifest from Org

[2021-04-07 10:34] JodieM commented on #917
For those playing along at home, here is another ticket on the VSCode repo https://github.com/forcedotcom/salesforcedx-vscode/issues/2406 that states that you must Authorize your org immediately before running Refresh SObject Definitions... I don't know if that's it, but doing it specifically that way and it works now.

[2021-04-07 14:04] asegura-copado commented on #754
@shetzel Are there any working links to download specific versions instead of the latest?

[2021-04-07 14:25] avisser opened #958 "`npm install` fails on template project"
### Summary

`sfdx force:project:create -n sfxd && cd sfxd && npm install` fails. Message below

[code]

### Steps To Reproduce:

1.  `sfdx force:project:create -n sfxd && cd sfxd && npm install`

### Expected result

`npm install` should successfully complete on a new, clean project

### Actual result

[code]

### Additional information

_Feel free to attach a screenshot_.

**SFDX CLI Version**(t

[2021-04-07 15:16] mikesobczak commented on #905
Not sure why this was closed.  I did respond on March 31.

[2021-04-07 17:04] peternhale commented on #958
@avisser I see that you have salesforcedx v49.9.2 installed. Is there a reason for this, as current version is 51.6.0?

[2021-04-07 17:31] ashuawasthi98 opened #959 "Error: ENOENT: no such file or directory, open '..\maxRevision.json'not found error while hitting sdfx push command"
Summary
This morning I tried to push on a scratch (Was working fine yesterday, scratch has more than 20 day of lifetime).
and I got this error:
image

The thing is that I don't even have an 'org' folder.
Also I don't know what is maxRevision.json

The command used is:
sfdx force:source:push

Steps To Reproduce:
Wake up in the morning and open VScode
try to sfdx force:source:push
Expected result
pu

[2021-04-07 17:38] avisser commented on #958
@peternhale I ran `sfdx update` and `sfdx plugins:update` today, before reproducing my issue. I'm not intentionally staying on the old version.

[2021-04-07 17:45] peternhale commented on #958
@avisser Ok, please run
[code]

[2021-04-07 17:52] avisser commented on #958
@peternhale  Now running 51.6

[code]

Still failing, but with a different version

[code]

[2021-04-07 18:07] peternhale commented on #958
@avisser would you mind posting the package.json in the new project?

[2021-04-07 18:10] peternhale commented on #959
@ashuawasthi98 When did you last run `sfdx update`?

[2021-04-07 19:29] avisser commented on #958
complete package.json

[code]

[2021-04-07 19:37] peternhale commented on #958
@avisser I reproduced the error you are seeing. As a workaround, you can `yarn` instead of `npm`.

[2021-04-07 19:38] uip-robot-zz commented on #958
Error while creating work item!

[2021-04-07 20:31] t3fl0n opened #960 "We can’t retrieve the specified metadata object: PicklistValue"
### Summary

I had a deactivated picklist value in my global value set.  When I reactivated it, I got the following error:

`We can’t retrieve the specified metadata object: PicklistValue. Certain metadata types, like |11|1|1|^|11|1|2|^|11|1|3|^|11|1|4|^|11|1|5|^|11|1|6|^|11|1|7|^|11|1|8|^|11|1|9|^|11|1|10|^|11|1|11|^|11|2|1|^ are not currently supported by the CLI.
`
### Steps To Reproduce:

**Re

[2021-04-07 20:56] sfsholden commented on #966
@sf-tyrone Thank you for reaching out to us about this issue.

I've noticed that in the output from above it looks like `sfdx force:source:push -f` is using REST by default. This was a recent change made in the CLI (See [March 4th](https://github.com/forcedotcom/cli/blob/main/releasenotes/README.md)).

Can you try adding one of the following? Please let us know if this unblocks you.

Either of the

[2021-04-07 21:40] ashuawasthi98 commented on #959
Hi Peterhale, I ran sfdx update today and I am on the latest cli version.

[2021-04-07 23:18] hnep12 commented on #866
This issue is occurring for OmniChannel.settings deployment as well. Below is the code.

<?xml version="1.0" encoding="UTF-8"?>
<OmniChannelSettings xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <enableOmniAutoLoginPrompt xsi:nil="true"/>
    <enableOmniChannel>true</enableOmniChannel>
    <enableOmniSecondaryRoutingPriority xsi:nil="tru

[2021-04-08 08:29] fransf-wtax commented on #899
This is interesting. We contacted support and they sent us to this issue. It doesn't look like there's any appetite on Salesforce's side to fix this obvious regression in the CLI. Wondering if it's a new direction SF is taking where they've got so much money now, they think their customers don't matter anymore. Let's see...

[2021-04-08 11:58] peternhale commented on #959
@ashuawasthi98 Can you run the push again adding flags `--dev-debug --json` and post the results?

[2021-04-08 13:52] #952 closed, assigned to nobody

[2021-04-08 14:52] jcarmignani commented on #938
@mshanemc I have updated my version of the CLI using following command:
`sfdx update`

Then I have modified my .forceignore file as you suggest:
![image](https://user-images.githubusercontent.com/11173517/114048049-7faec100-988a-11eb-9653-5f9ec7da0bfa.png)

Eventually I have retrieved Metadata using the following manifest:
`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Package xmlns="ht

[2021-04-08 16:17] shetzel commented on #959
maxrevision.json contains remote (in org) source tracking data.  This is specific to the org being pushed to and pulled from.  If the org directory was deleted (that contains both local and remote source tracking data) then source tracking commands lost the context they need to operate properly.  One way that can happen is if you use the source:deploy or source:retrieve commands (which don't work

[2021-04-08 16:28] IVerkhosh opened #962 "Not able to retrieve metadata with SFDX: Retrieve source from Org"
### Summary

Getting: ERROR running force:source:retrieve: Unexpected file found in package directory. I fixed one bu adding audience to metadataTypeInfos.json file in the node_modules\salesforce-alm\metadata.
But now it complaining about *\force-app\main\default\customindex\Account.AccountNumber.indx-meta.xml.
Even if I delete customindex folder, it start complaining about objects.

### Steps To

[2021-04-08 16:36] IVerkhosh commented on #962
The same "Unexpected file found in package directory:" happened when using sfdx force:source:retrieve -m

[2021-04-08 19:22] IVerkhosh commented on #962
Trying to debug the issue:
C:\GIT_REPOS\ENERGY_INSIGHT_SFDX>sfdx force:source:retrieve -m CustomTab --json --loglevel=debug
{
  "status": 1,
  "name": "UnexpectedFileFound",
  "message": "Unexpected file found in package directory: C:\\GIT_REPOS\\ENERGY_INSIGHT_SFDX\\force-app\\main\\default\\customindex\\Account.AccountNumber.indx-meta.xml",
  "exitCode": 1,
  "commandName": "SourceRetrieveComman

[2021-04-09 08:33] bytefreak opened #963 "Undocumented change of behavior for sfdx force:apex:test:run --synchronous"
### Summary

Using  sfdx force:apex:test:run --synchronous throws since release 51.7.1 (April 8, 2021) - CLI 7.96.1 an error:

ERROR running force:apex:test:run:  Specify a test class or test methods when running tests synchronously

Before the release, all unit tests are executed of target org.

This change is frustrating as it is used in our CI/CD implementation to regularly check for failing un

[2021-04-09 08:58] #963 closed, assigned to nobody

[2021-04-09 11:24] sf-tyrone commented on #966
Hi,

I did not work. I still got the same error.

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
Tyrones-MacBook-Pro-2:CheckaTradeDev tyronereid$ sfdx config:set
restDeploy=false --global
=== Set Config
Name        Value  Success
──────────  ─────  ───────
restDeploy

[2021-04-09 13:04] willcobbett commented on #899
Also experiencing this issue

[2021-04-09 13:42] axefan commented on #656
I had a similar issue.  Had a list view and record type on a custom object with the same developer name.

After retrieve, the record type meta file ended up in the listViews folder.

I fixed the issue by renaming the list view on the server, moving the record type meta file to the recordTypes folder, retrieving the sobject, then deleting the list view with the old name from local.

[2021-04-09 13:44] jhgihub0 commented on #967
This is still and issue

01:44:00  sfdx force:source:retrieve -u SIT-monitor-282 -p sfdx-source
01:50:21  An error has occurred:  ›   Warning: sfdx-cli update available from 7.94.3 to 7.96.0.

[2021-04-09 14:23] mrityunjaya-tiwari commented on #860
On VS Code we can run command:  sfdx config:set restDeploy=false

[2021-04-09 14:28] bowdi opened #964 "FieldService settings fail to be retrieved by the CLI even though they are returned from the Metadata API."
### Summary

FieldService settings fail to be retrieved by the CLI even though they are returned from the Metadata API. You can see the Metadata API responding with the FieldService.settings file if you set the SFDX_MDAPI_TEMP_DIR env var but the matching source file is never created.

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhous

[2021-04-09 14:29] jdschleicher opened #965 "CLI command to compare local project workspace against metadata coverage report: https://developer.salesforce.com/docs/metadata-coverage/52"
**Is your feature request related to a problem? Please describe.**
I am part of a release team learning the ways of Unlocked Packages. I've known of the metadata coverage report and love it but I didn't think to reference it to support some of the challenges we had until we did some grueling piece-meal package version creation with validation. We were working with a project team that was able to s

[2021-04-09 14:29] uip-robot-zz commented on #965
This issue has been linked to a new work item: [W-9118039](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000AV1SYAW/view)

[2021-04-09 14:35] bowdi commented on #964
Here is the log file:

[source-retrieve.log](https://github.com/forcedotcom/cli/files/6286471/source-retrieve.log)

Retrieved using:
[code]

[2021-04-09 14:56] #877 closed, assigned to RodEsp

[2021-04-09 15:00] jonnyhork commented on #967
@jhgihub0 Do you have any more details on the error that occurs here? Or what environment the customer is running `sfdx force:source:retrieve -u SIT-monitor-328 -p sfdx-source`? Are they trying to parse the output of this command?

[2021-04-09 15:50] jonnyhork commented on #967
@jhgihub0 It looks like there was a change when v51 was released where the MD API calls made in dx were switched to use REST calls by default.
You can see some more details here in the [release notes](https://github.com/forcedotcom/cli/tree/main/releasenotes):
[code]

Can you try setting SFDX_REST_DEPLOY environment variable to true in the older versions to see if that allows the command to run wi

[2021-04-09 16:53] jhgihub0 commented on #967
Okay let me try and get back with you

[2021-04-09 19:19] peternhale commented on #962
@IVerkhosh would it be possible to share your sfdx-project.json file? Also, if you could run `sfdx update` to advance to the latest release.

[2021-04-09 19:55] RodEsp commented on #860
As of the [51.7.1 release](https://github.com/forcedotcom/cli/tree/main/releasenotes#5171-april-8-2021---cli-7961) yesterday the `force:source:*` and `force:mdapi:*` commands are back to using SOAP as the default as well as appropriately exiting and printing HTML errors to the terminal when they come back from the REST API.

[2021-04-09 19:55] #860 closed, assigned to shetzel

[2021-04-09 19:56] IVerkhosh commented on #962
I already on the latest release: sfdx-cli/7.94.3-a4e7c7955b win32-x64 node-v14.15.4
sfdx-project.json file:
{
  "packageDirectories": [
    {
      "path": "force-app",
      "default": true
    }
  ],
  "namespace": "",
  "sfdcLoginUrl": "https://login.salesforce.com",
  "sourceApiVersion": "51.0"
}

[2021-04-09 20:58] jhgihub0 commented on #967
We found the issue. We have a SFDX plugin that uses force:source:retrieve, and when it shows a new version, the plugin returns 1. The force:source:retrieve command by itself works as expected.  I am having our developer look at the plugin.

Thank you.

[2021-04-09 20:58] #967 closed, assigned to nobody

[2021-04-09 20:59] jhgihub0 commented on #967
Thank you for the support

[2021-04-09 21:12] peternhale commented on #962
@IVerkhosh thank you. Are you free to share the contents of the manifest package.xml file you are using?

[2021-04-09 21:25] IVerkhosh commented on #962
Hi @peternhale, I think I figured it out, by retrieving a few components at a time.
All retrievals went well, until I try to retrieve the CustomIndex. At this point, with the sfdx force:source:retrieve -m "CustomIndex" --json --loglevel=debug, I received the     "errorMessage": "Need to specify full name, Current Name: needfuel__Linked_Agreement__c., Required Delimiter: .". To clear it, I greated

[2021-04-09 21:25] #962 closed, assigned to nobody

[2021-04-11 21:30] zerkz commented on #755
@thebrettbarlow I am exploring the same thing you are in terms of sandbox management. I wanted to ask if you could clarify how you authenticated using this endpoint against the target sandbox, using `client_id` and `Private_key`? Was this via just the JWT grant auth flow?

[2021-04-11 21:58] zerkz commented on #755
it looks like it's used in part of the sandbox process to actually determine if its truly ready?

https://github.com/forcedotcom/salesforce-alm/blob/83745351670a701762c6ecc926885564b8853357/src/lib/org/sandbox/sandboxOrg.ts#L153-L168

[2021-04-11 23:20] zerkz commented on #755
the caller of `/sandboxAuth` must supply a sandbox that they created/refreshed. Otherwise you will get this.

[code]

[2021-04-12 14:23] uip-robot-zz commented on #960
Error while creating work item!

[2021-04-12 16:37] uip-robot-zz commented on #960
This issue has been linked to a new work item: [W-9125229](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000AdnHYAS/view)

[2021-04-12 17:38] uip-robot-zz commented on #426
This issue has been linked to a new work item: [W-9125774](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000AeSFYA0/view)

[2021-04-12 20:43] brianevanmiller commented on #899
Same here, also have this issue across different production orgs 😞

[2021-04-12 20:44] fransf-wtax commented on #899
This has now been acknowledged by Salesforce as a known issue. Please "vote" for it by clicking the **This Issue Affects me** button on https://success.salesforce.com/issues_view?id=a1p4V000001Zh1GQAS. Thanks!

[2021-04-13 12:40] peternhale commented on #959
@ashuawasthi98 Given Steve's response, have you been able to recover your source tracking state?

[2021-04-13 15:52] AllanOricil commented on #956
Hi @peternhale  is it going to be implemented? If this part is in the auth plugin I can help to implement it.

[2021-04-13 16:53] lukecotter opened #970 "Final newline causes conflict on push"
### Summary

By default [prettier apex](https://github.com/dangmai/prettier-plugin-apex) will add a new line at the end of the file when formatting.
Seems like the new line at the end of files is removed on push by salesforce.
The push to an org from vscode will then fail as it detects a conflict.

It is a common convention that files end with a new line
https://thoughtbot.com/blog/no-newline-at-e

[2021-04-13 17:02] peternhale commented on #956
@AllanOricil, a decision has yet to be made if this enhancement will move forward.

[2021-04-13 17:04] AllanOricil commented on #956
No worries. Thanks

[2021-04-13 19:03] BalajiKshatriy opened #971 "sfdx force:source:delete does not work on production orgs"
force:source:delete fails and wouldn't run on production orgs.

### Steps to Reproduce:

- Connect to any production org and attempt to delete any metadata (in this case attempting to delete a custom field)

`sfdx force:source:delete -m "CustomField:testobject__c.Admin_Badges__c"
`

throws error:
{
  "status": 1,
  "name": **"sf:INVALID_OPERATION",**
  "message": "INVALID_OPERATION: **testLevel of

[2021-04-13 19:57] froucher opened #972 "force:org:display error "kit_1.camelCaseToTitleCase is not a function""
The command `force:org:display` is returning:

`ERROR running force:org:display: kit_1.camelCaseToTitleCase is not a function`

Commands to reproduce the issue:

[code]

Thanks.

[2021-04-13 20:00] froucher commented on #972
Instead `sfdx force:user:display` is working fine.

[2021-04-14 12:47] AllanOricil opened #973 "sfdx force:org:open -p "ANY PAGE" is not working"
### Summary

sfdx force:org:open -p "/0014o00001m5eHsAAI" command is no longer opening the page.

![image](https://user-images.githubusercontent.com/55927613/114712137-a86e0500-9d27-11eb-82c6-988ecad068bb.png)

### Steps To Reproduce:

Install this version sfdx-cli/7.94.3-a4e7c7955b win32-x64 node-v14.15.4
Then run sfdx force:org:open -p "/RECORD_ID" -u SCRATCH_ORG_USER
Wait for a success output a

[2021-04-14 16:38] mbirky commented on #963
@bytefreak, I am also experiencing this issue. Did you close this issue because you found a workaround?

[2021-04-14 17:24] peternhale commented on #972
@froucher Would you rerun the failing command with option `--dev-debug` and post the results?

[2021-04-14 17:35] uip-robot-zz commented on #971
This issue has been linked to a new work item: [W-9137776](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000Asb9YAC/view)

[2021-04-14 17:57] peternhale commented on #973
@AllanOricil I tried your example using sfdx 7.96.0, which works for me. Are you in a position to upgrade to the latest version of sfdx and give this another try?

[2021-04-14 19:00] AllanOricil commented on #973
@peternhale after updating I still have the same problem. I have no idea why it stopped to work

[2021-04-14 19:02] AllanOricil commented on #973
If I copy the URL from the stdout and use it in the browser it works as expected.

[2021-04-14 19:34] peternhale commented on #973
@AllanOricil I se you are on Windows. I will give that platform a try.

[2021-04-14 20:12] AllanOricil commented on #973
yes, I confirm Im using windows 10

[2021-04-14 20:25] fishygeek91 commented on #528
I was able to reproduce this by creating a package.xml and using force:source:retrieve -x “path/to/package.xml” to pull down the a test object in our org. I lowered the API version from 48 to 45 and different data came back with each version.

Editing the sourceApiVersion variable in sfdx-project.json had no affect. Pulling from an src folder or the Org Browser always returned the same results, no

[2021-04-14 20:38] peternhale commented on #973
@AllanOricil I am not seeing this issue on Windows either. But this on a Windows VM. Let me ask a co-worker if they can reproduce it on their Windows machine.

[2021-04-14 20:54] peternhale commented on #973
@AllanOricil My co-worker was able to open an org using -p on Windows using Chrome browser. Can I ask which browser is your default?

[2021-04-14 21:03] AllanOricil commented on #973
I'm using Edge Chrome

[2021-04-14 21:13] AllanOricil commented on #973
I just changed my default browser to chrome and I still have the same problem. Is there a way to see a debug message that would help you to see why sfdx is not opening the link?

[2021-04-14 21:26] peternhale commented on #973
@AllanOricil you can add the flag `--dev-debug` and post the results.

[2021-04-14 21:32] AllanOricil commented on #973
[code]

[2021-04-14 23:28] AllanOricil commented on #410
Just to let everyone know that I was able to make it work using Verdaccio. Just install Verdaccio and set SFDX_NPM_REGISTRY to point to your verdaccio instance. Then verdaccio is gonna take care of proxying the requests to the public npm registry when needed and your package/plugin will be private to your organization.

[2021-04-14 23:28] #410 closed, assigned to nobody

[2021-04-14 23:33] jvolkov commented on #94
I just received this same error: `The "path" argument must be of type string. Received undefined`

Simply restarting VS Code fixed it for me.  _"Have you tried turning it off and on again?"_

[2021-04-15 07:23] froucher commented on #963
Same issue for me

[2021-04-15 07:35] froucher commented on #972
[code]

[2021-04-15 07:39] CsfGitHub commented on #963
I confirm I have the same issue, no WA found

[2021-04-15 08:17] bytefreak commented on #963
Update: you can simply remove the --synchronous flag. If you use e.g. -r junit it will be executed synchronously (at least on CLI). biggest downside: if you start the same run again but the first one is not finished, you will get an error that the tests are already running. But at least for our nightly automated test execution, it works.

[2021-04-15 08:32] froucher commented on #963
I have open a new issue: #975

[2021-04-15 08:59] eyhuellou opened #976 "Strange behaviour regarding enableTranslationWorkbench setted to true"
### Summary

The **enableTranslationWorkbench** default setting setted to true worked fine until recently.
We have now a strange random behaviour when **enableTranslationWorkbench** setted to true. It happens sometimes that the created scratch org has **enableTranslationWorkbench** is still off.

### Steps To Reproduce:

Hard to reproduce. Don't know if this is relevant but one of our scratch was

[2021-04-15 11:47] peternhale commented on #973
@AllanOricil is this the entire output? Also I noticed that you have the api version pinned to 50.0. Is there a reason for that?

[2021-04-15 11:54] uip-robot-zz commented on #972
This issue has been linked to a new work item: [W-9141682](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000AxMhYAK/view)

[2021-04-15 14:03] AllanOricil commented on #973
[code]

[2021-04-15 14:34] froucher commented on #963
Thanks @bytefreak about the workaround info.

[2021-04-15 15:14] AllanOricil commented on #973
@peternhale did this log help you to understand the problem?

[2021-04-15 15:25] erocheleau commented on #351
For the specific errors for :

[code]

I have found that you can add these lines in your `.forceignore` to tell the sfdx-cli to stop caring about it.

[code]

These seem to all be the specific extensions for the files of the broken metadata types that are erroring out... Good luck!

[2021-04-15 15:26] peternhale commented on #973
@AllanOricil I have yet to examine it in detail.

[2021-04-16 06:16] anupam081 commented on #927
Hi
Any update on this issue?

[2021-04-16 16:43] mbirky commented on #963
@bytefreak, thank you for providing the workaround you found.

[2021-04-17 18:39] pawel-id commented on #529
Such issue is happening also on our CI pipelines when deploying to scratch orgs

sample command: `sfdx force:source:deploy -p force-app -u SCRATCH`
sfdx-cli version: 7.86.3

and sample output:

[code]

another sample:

[code]

after such error the process never completes.

It is happening roughy estimate 10% of all deployments.

[2021-04-17 18:46] pawel-id commented on #340
reported similar issue here https://github.com/forcedotcom/cli/issues/529#issuecomment-821868303

[2021-04-17 18:54] pawel-id commented on #966
similar issues raised:
https://github.com/forcedotcom/cli/issues/529
https://github.com/forcedotcom/cli/issues/340

seems growing problem

[2021-04-17 22:35] sf-tyrone commented on #966
Hi,

Those links don’t help. They are just reporting the same or similar issue.

I can confirm I can pull from the scratch org and I can even create a new
apex class from vs code and save it where the new apex class appears in the
scratch org.

So the failures regarding sfdx push does not make sense at all.

Is there nothing you can do to fix this issue?

My internet connection is completely fine

[2021-04-19 09:08] DebuggingYou opened #977 "force:auth:web:login and force:org:open throw "spawn UNKNOWN" error"
### Summary

By typing in the command `sfdx force:org:open -u $alias` or `sfdx force:auth:web:login -a $alias -r $url` I get always the error message `Error: spawn UNKOWN`

### Steps To Reproduce:

1.  Go to a terminal/cmd with SFDX already installed
1.  Type the command `sfdx force:auth:web:login -a somealias -r https://test.salesforce.com`

### Expected result

The expected result should be, tha

[2021-04-19 14:11] peternhale commented on #977
@DebuggingYou I am un able to reproduce this error on my windows machine. Searching for this error on web typically point at an issue with node installation on the windows machine. How did you install sfdx on your machine?

[2021-04-19 14:14] WillieRuemmele commented on #977
@peternhale this is a [bug](https://github.com/sindresorhus/open/issues/205) in the `open` library. I've already filed an issue there

[2021-04-19 14:19] DebuggingYou commented on #977
Hi @peternhale,
like @WillieRuemmele has said, I think it's related to the bug with the `open` module.
It seems on Windows, as long as you don't have access to the PowerShell due to Group Policies, you are not able to use this module anymore.

I have submitted a request to my admins, and if it works afterwards, I will close this bug.

[2021-04-19 14:41] uip-robot-zz commented on #973
This issue has been linked to a new work item: [W-9153520](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000BBTqYAO/view)

[2021-04-19 15:10] WillieRuemmele commented on #976
Hi @eyhuellou have you tried running the command with the environment variable `SFDX_REST_DEPLOY` set to `false`? This behavior is default in the `latest-rc` release of the CLI, but not `latest` yet. See https://github.com/forcedotcom/cli/issues/942 for more information

That would be my one suggestion, but if it's hard to reproduce it'll be harder to nail down the real issue. Let me know how that

[2021-04-19 16:42] peternhale commented on #970
@lukecotter Using your repo steps I am unable to reproduce the push conflict. I was able to cause a conflict by changing a class both locally (with end of file newline) and directly in the org and then do a source push. Although I believe this to be conflict due to changes on both sides.

It appears that any save of an Apex class (either via push or save in UI) will strip the trailing newline from

[2021-04-19 17:05] peternhale commented on #977
Being tracked on open library

[2021-04-19 17:05] #977 closed, assigned to nobody

[2021-04-19 17:47] jonathanwiesel commented on #376
Any update on this?

[2021-04-20 09:00] mkreth opened #978 "Include command to retrieve Record Counts in CLI limits plugin"
**Is your feature request related to a problem? Please describe.**
In monitoring of our Salesforce implementation we track trends in e.g. Data Storage consumption using the CLI limits plugin to extract this information and then import it into a tool which allows to plot trends over time. We are also interested in following the trends in number of records for select objects, e.g. the ones that cons

[2021-04-20 09:00] uip-robot-zz commented on #978
Error while creating work item!

[2021-04-20 15:05] uip-robot-zz commented on #978
This issue has been linked to a new work item: [W-9160085](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000BJQ3YAO/view)

[2021-04-20 15:49] Vladislav987 commented on #376
Hi @jonathanwiesel , @manisfdcsfdx  was right. I had a problem with OrderManagement, but I use this setting on another project. And when I deleted the setting from AppData\Local\Temp\shape\settings I stopped getting this error.

[2021-04-20 16:39] jonathanwiesel commented on #376
Hi @Vladislav987, indeed that's a feasible workaround, I mean if there's an update on the resolution of the real issue, since the CLI shouldn't be trying to use a setting that is not specified in the supplied scratch org definition file

[2021-04-20 18:43] zerkz commented on #6
@clairebianchi Do you have an issue/bug ID for tracking this one? It just popped up in my employer's org again (folks were having issues deploying Sharing rule changes). Currently the only workaround we have is to do `SharingRules` type in package.xml vs. `SharingCriteriaRule` (shown here in the salesforce example package xmls https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_met

[2021-04-21 07:06] rajesh-kemisetti commented on #339
I’m seeing this issue still reproducible and I have re tried after doing sfdx update and seeing the Same error.
 I see the issue was closed but it’s not clear whether it was fixed and if it worked for anyone.

[2021-04-21 14:39] trentchilders opened #982 "Job Id is a required field when trying to cancel a deploy"
### Summary
According to documentation, job id is an optional field when running `sfdx force:mdapi:deploy:cancel`
https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_mdapi.htm

However, when I try to run this command, specifying the org with the -u parameter.

I get the following error:
[code]

This seems to go against what is in the doc

[2021-04-21 14:46] 0ptaq0 commented on #286
Are there any plans to increase 10 000 metadata components limit as well for force:source:push/deploy?

[2021-04-21 15:04] shetzel commented on #982
This is not expected behavior.  I suspect that the initial deploy ID is not being written to disk in this environment.  What should happen is that the deploy ID from the initial request is written to ~/.sfdx/stash.json and used by the cancel command.  If you run the deploy command appending `--dev-debug` it might output the reason for the write error (assuming that is the problem).

As a workaroun

[2021-04-21 15:41] trentchilders commented on #982
@shetzel I think you may have hit on the problem in your response. As I mentioned I'm trying to automate deployment validations using DroneCI. So I'm kicking off a deployment validation in one Drone instance (which occurs when a pull request is opened in our SDLC process), but the cancelation command is coming from a different one (when the same branch is updated while the validation is still in p

[2021-04-21 15:41] #982 closed, assigned to nobody

[2021-04-21 18:18] AndrewRayCode opened #983 "Allow for plugins to be installed with modern npm practices, not bespoke sfdx commands"
**Is your feature request related to a problem? Please describe.**
`sfdx` doesn't allow me to install and use a plugin with `npm`. It requires a manual `sfdx plugins:install` step for both users and build tools, which itself doesn't allow for sfdx plugins to be version controlled in `package.json`. The irony is that the plugins all seem to be available on npm.

**What are you trying to do**
Use mo

[2021-04-21 18:18] uip-robot-zz commented on #983
This issue has been linked to a new work item: [W-9167431](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000BSGbYAO/view)

[2021-04-21 20:01] damonshaw opened #985 "SFDX: Retrieve Source in manifest from Org changing string values into numbers"
### Summary

Retrieving from our Prod environment after a release we've noticed thousands of changes, most of them are formatting changes to the XML, replacing `<node/>` with `<node><node/>` etc, while a massive pain to review them all we also noticed that in some cases, string values seem to be being converted into numbers?

like this field filter specifying a specific Profile
![image](https://us

[2021-04-21 20:49] damonshaw commented on #985
Somehow the "Experimental: Deploy Retrieve" setting in my VS Code found itself turned on? not sure how that happened but after turning it off things are back to normal
![image](https://user-images.githubusercontent.com/13861905/115619085-943d8f80-a347-11eb-8fe7-faaf8aaa0345.png)

[2021-04-21 20:49] #985 closed, assigned to nobody

[2021-04-21 20:51] WillieRuemmele commented on #985
@damonshaw thanks for bringing this to our attention. cc @brpowell

[2021-04-21 20:55] AllanOricil commented on #973
Is there a temporary solution to fix this bug?

[2021-04-21 22:49] WillieRuemmele commented on #301
Hi @alpha-bytes I wasn't able to recreate this behavior using v7.97.1. Are you still seeing this behavior?

[2021-04-22 00:44] YodaDaCoda commented on #470
Tried raising a case with Salesforce Support.

Gee, thanks Salesforce.

If you can find your `metadataTypeInfos.json` file, you can apply [this patch file](https://github.com/forcedotcom/cli/files/6354647/metadataTypeInfos.json.patch.txt) with the following command to get audience deployments working again. Not sure if the `audience` section has been removed from the metadataTypeInfos for a reason

[2021-04-22 09:53] AllanOricil commented on #973
This is also blocking me from opening orgs :/

[2021-04-22 09:57] AllanOricil commented on #973
I have updated sfdx and disabled telemetry globally, but I still have  this problem

![image](https://user-images.githubusercontent.com/55927613/115695233-84c74200-a359-11eb-85b0-b7a15b110151.png)

[2021-04-22 10:02] AllanOricil commented on #973
When executing the org open command with `--dev-debug` the output does not show any exception, but it also does not open the org.

[code]

[2021-04-22 11:09] pablogrs commented on #191
I withdraw what I said, we are seeing the same in newly created Snapshots.
That said, the Scratch Org is being created anyway.

[2021-04-22 13:52] dcinzona opened #987 "CLI will not update to 7.97.1 but warns that an update is available"
### Summary

When running the cli `sfdx` I get a warning saying sfdx-cli update available from 7.97.0 to 7.97.1, but when I execute `sfdx update` I get a message stating I'm already on the latest version.
[code]

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

***NOTE:** If your issue is not reproducable by dreamhouse-lwc, i.

[2021-04-22 15:53] lukecotter commented on #970
@peternhale
I took another look at this and got it fail by doing this

1. Create a new sfdx project `sfdx force:project:create --projectname 'myproject'`
2. Ensure prettier plugin is installed and working in vscode
3. `npm install` in the project folder (I had to remove eslint stuff to get npm install to work)
4. Create a new org
5. Create a new apex classes, add some basic content, then save (ens

[2021-04-22 17:55] SalesforcePetr opened #989 "sfdx force:org:open -u orgname closes command line (7.97.0-c130e7a)"
### Summary

After opening a scratch org via command line, the command line window is shut.

### Steps To Reproduce:

Have an org with an alias, e.g., yourAlias, ready.

1. open command line (CMD in Windows)
1. sfdx force:org:open -u yourAlias

### Expected result

The browser opens with the org. The command line window stays.

### Actual result

The browser opens with the org, but the command lin

[2021-04-23 01:01] AndrewRayCode commented on #77
Two years later we discovered a potentially dangerous build situation where sfdx apex execute to schedule some reoccurring tasks was silently failing because it's not reporting the error back

[2021-04-23 05:31] ar-srinivas commented on #937
This issue still exist even on the latest version 7.98.0. Do we have any ETA for the fix or any alternate way to deploy the workflowrules using force:source:deploy. Tried with setting the restDeploy true and false and end up with the same issue.

![image](https://user-images.githubusercontent.com/30531295/115822952-0b942180-a423-11eb-8479-65f4dd95de7e.png)
![image](https://user-images.githubuserco

[2021-04-23 05:41] ar-srinivas commented on #707
I am still facing this issue even on 7.98.0 version as well.

[2021-04-23 11:24] chfosli commented on #918
The issue is now fixed and Field Service is now correctly enabled when you create a scratch org.

[2021-04-23 13:01] mnunezdm commented on #323
Any news?

[2021-04-23 14:15] jclark-dot-org commented on #28
For those encountering this (annoying, lingering) error, another workaround that doesn't require you to make a temporary change to your MD field is to push all source.

Assuming you only have local changes (`sfdx force:source:status` doesn't show any remote changes), you can clear tracking status (`sfdx force:source:tracking:clear`) and then push (`sfdx force:source:push -f`).  Note that you must

[2021-04-23 14:48] DebuggingYou commented on #977
Hello together,
I can confirm, that my issue is solved by enabling PowerShell on my PC. After my admins have given me access to it, the error did not appear anymore :)
Thank you for the help!

[2021-04-23 14:57] WillieRuemmele commented on #987
Hi @dcinzona there was a delayed caching with the `7.97.1` release. `7.98.0` is `latest` now and this issue should go away. Try updating now and let me know how it goes

[2021-04-23 15:00] dcinzona commented on #987
It worked - thank you!

[2021-04-23 15:00] #987 closed, assigned to nobody

[2021-04-23 16:13] WillieRuemmele commented on #989
Hi @SalesforcePetr thanks for pointing this out, it looks like there was a bug with the [open](https://github.com/sindresorhus/open/issues/236) library, we'll rollback which version we use and should publish that soon

[2021-04-23 16:35] uip-robot-zz commented on #989
This issue has been linked to a new work item: [W-9177239](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000BdzdYAC/view)

[2021-04-23 17:07] WillieRuemmele commented on #989
Hi @SalesforcePetr `plugin-org` version `1.6.4` should be released now with a fix. you should be able to `sfdx plugins:install @salesforce/plugin-org` to get the latest before next week's release

[2021-04-25 10:37] mokchend opened #992 "Specify the Zip name when using force:mdapi:retrieve instead of generic unpackaged.zip filename"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I use  force:mdapi:retrieve . I want to specific the Zip name and locate when automate it on my ci environment

**What are you trying to do**
automtae force:mdapi:retrieve with multiple package.xml and need ability to specify zip folder location

**Describe the solution you'd like**
Add parameter to allow

[2021-04-25 10:37] uip-robot-zz commented on #992
This issue has been linked to a new work item: [W-9181617](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000Bj5LYAS/view)

[2021-04-26 08:03] tntwist commented on #771
Hi @WillieRuemmele,
i attached the requested output with the ``--dev-debug`` flag.
[sfdx_error.txt](https://github.com/forcedotcom/cli/files/6375270/sfdx_error.txt)

[2021-04-26 20:25] acrosman commented on #960
While a fix is in the works, does anyone have a functional work around?

[2021-04-26 20:49] t3fl0n commented on #960
@acrosman , as near as I can tell, this is not a blocking issue.  The error pops up, but it's not a real metadata that your code base needs.  I ignored it and kept working on my project.

[2021-04-27 10:30] PawelWozniak opened #994 "sfdx force:source:status is not aware of changes in folder structure."
### Summary

sfdx force:source:status is not aware of changes in folder structure.

### Steps To Reproduce:

1. Have a happy soup project with force-app only
2. extract metadata to separate folder and add it to sfdx-project.json.
[code]
3. Run `sfdx force:source:status --local` to validate if sfdx figure out change.
4. Getting `ERROR running force:source:status:  Expected metadata file at path: D:

[2021-04-27 15:25] WillieRuemmele commented on #994
Hi @PawelWozniak could you elaborate more on "extract metadata to separate folder and add it to sfdx-project.json." Are you moving data from within `force-app` to `extpkg-Overcast`? How are you doing that? Are you doing anything else between steps 2 and 3? Can you reproduce the bug with [dreamhouse](https://github.com/trailheadapps/dreamhouse-lwc) and list them in detail?

[2021-04-27 15:50] berginrp opened #995 "Allow sfdx force:source:retrieve/deploy for InboundCertificate"
**Is your feature request related to a problem? Please describe.**
We have a lot of API clients that have automated certificate rotation. But Salesforce's inbound certificate doesn't have any automation to upload the inbound cert. This has resulted in downtime for the APIs due to expired certificates, though we try to keep track of the expiring certificates manually.

**What are you trying to do**

[2021-04-27 15:50] uip-robot-zz commented on #995
This issue has been linked to a new work item: [W-9190729](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000BtxMYAS/view)

[2021-04-27 19:13] PawelWozniak commented on #994
@WillieRuemmele As I understood from this article https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_ws_mpd.htm you can make additional folders, add them in sfdx-project.json, and sort metadata. Then sfdx should figure out where metadata are stored.

In my case, we have Overcast SAP integration package installed which generated also additional classes, have some obje

[2021-04-28 11:09] sjurgis opened #997 "ERROR running force:org:create: The package ancestor for the package version was not found. Ancestor package ID: 05ixxxxxxxxxxxxxx.: Requested Package2 Ancestor IDs"
### Summary

This just started happening in CI only and after adding `"ancestorVersion": "0.10.0.1"`

### Steps To Reproduce:

Unclear, but here's sfdx-project.json
[code]

Bog standard pipeline

[code]

Not an issue when running local.

[2021-04-28 13:27] TWood-IRL commented on #861
hi @mshanemc just wanted to check the status of this issue.

I was encountering something similar for my own project, and came across this which dosent seem to have much activity

[2021-04-28 14:25] mdegoll commented on #323
Make sure you don't have restDeploy set to True. That was causing issues for me.
`sfdx config:list`
`sfdx config:unset restDeploy`

[2021-04-28 16:38] amphro commented on #983
If your repo is a plugin/cli itself, you can add "dev-plugins" then run `./bin/run <command>`. If you have ever built an oclif plugin, this will look familiar. See this plugin as an [example of adding a dev plugin](https://github.com/salesforcecli/plugin-limits/blob/main/package.json#L74) then [running the command](https://github.com/salesforcecli/plugin-limits/blob/main/package.json#L108) and hav

[2021-04-28 16:43] amphro commented on #768
I've tested 7.98.0 mac installers on M1 Macs and have found no issues! Consider M1 supported.

If you run into problems, please run `sfdx -v` and ensure it is on `node-v14.9.0` or higher. If the CLI is past that version and someone is still experiencing a problem, please file a new issue.

[2021-04-28 16:43] #768 closed, assigned to nobody

[2021-04-28 17:33] ascholl-breakline commented on #618
It seems that with the update to cli vsn 7.98.0, this behavior has been introduced. It does seem that the *.fieldTranslation-meta.xml files are created on the filesystem while the force:source:retrieve command runs, but they're deleted upon completion.

[2021-04-28 21:08] #976 closed, assigned to nobody

[2021-04-29 10:09] pratap-akhand commented on #468
Hi,
I'm getting the same issue while deploying metadata using metadata APIs.

In my first run, everything successfully deployed, but when I tried the same zip file in the second run, then getting the above-mentioned errors for few objects.
It shouldn't throw any error if there is already metadata. If this is not the case then it should have thrown an error for all objects.

Please guide me here.

[2021-04-29 10:56] anderg4 opened #999 "SFDX package.xml deploy fails to correctly deploy intermediate dashboard folders"
### Summary

When deploying our package.xml which contains a folder hierarchy for dashboards, the intermediate folder deploys as root folder, meaning that references to them do not work (e.g. from lightning app builder)

### Steps To Reproduce:

package.xml structure
[code]

1.  sfdx force:source:deploy -x manifest/package.xml

### Expected result

Dashboard folders in correct heirarchy:

My Folde

[2021-04-29 20:21] shetzel commented on #259
This was fixed long ago and should no longer be a problem.

[2021-04-29 20:21] #259 closed, assigned to nobody

[2021-04-29 20:28] WillieRuemmele commented on #999
Hi @anderg4 I'm trying to reproduce this bug but haven't been able to yet. I'll walk you through my steps and let me know where I'm going wrong or messing something up.

1. in org A go to the app manager and select Dashboards
2. create new folder `l1`
3. click into `l1` folder and create another folder `l2`
4. click into `l2` folder and create a new dashboard `dash` So the structure is `l1/l2/dash

[2021-04-30 06:31] mkreth commented on #965
Started working on this - proof-of-concept is working.
Is there a plugin where such a piece of functionality could be added? I didn't find an obvious candidate. Just thinking about providing this as an addition to an existing plugin or a separate new plugin.

[2021-04-30 08:40] anderg4 commented on #999
Hi,

Those steps look largely correct - however that is not what we see.  We have a lightning app page which references the dashboard and a custom tab for it (in a console app, if that matters).  The deployment fails, as the lightning page cannot find the dashboard which it references.  If you manually deploy both the reports and then the dashboard to Org B - it is placed in a flattened structure.

[2021-04-30 12:53] PawelWozniak commented on #994
I was able to reproduce it on dreamhouse. My fork with commits https://github.com/PawelWozniak/dreamhouse-lwc
Steps:
1. Forked dreamhouse-lwc, checkout to local computer
2. Created scratch org and pushed metadata `sfdx force:source:push`
3. Run `sfdx force:source:status` show no changes. Which is expected at this stage.
4. Created new folder `force-bugcheck` and moved there 4 classes and one objec

[2021-04-30 13:06] SalesforcePetr commented on #989
@WillieRuemmele  `sfdx plugins:install @salesforce/plugin-org` helped. Only `sfdx update` didn't help. Thanks!

[2021-04-30 14:11] WillieRuemmele commented on #978
https://github.com/salesforcecli/plugin-limits/pull/91

[2021-04-30 14:11] #978 closed, assigned to nobody

[2021-04-30 15:26] WillieRuemmele commented on #994
Hi @PawelWozniak that is a known limitation of working with [multiple package directories](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_ws_mpd.htm) see at the bottom the second bullet under 'Considerations'. This is why we created the `force:source:tracking:reset` and `force:source:tracking:clear` commands.

[2021-04-30 20:02] WillieRuemmele commented on #999
Hi @anderg4 does this only happen when there's a Lightning app page referencing a dashboard? Is it specific to those two objects and being linked together? If you remove that and create a simple folder and dashboard structure, like what I was doing, do you see the same results? I'm trying to figure out if it's related to what's in the dashboard or not.

[2021-05-01 05:50] azlam-abdulsalam commented on #949
Thanks @jayree and @jclark-dot-org , this is useful when you fetch scratch org from a pool!

[2021-05-01 19:38] AndrewRayCode commented on #983
Does oclif have some kind of declarative file for saying "here's my plugins" to avoid manual work?

edit: oh wait, maybe this is what you're linking me to, let me try it out

[2021-05-03 15:59] SwagataRay commented on #371
@ElenaGrigorets

Thanks for you suggestion. It worked for me!!

[2021-05-03 16:50] #989 closed, assigned to nobody

[2021-05-04 02:49] demodigit92 commented on #707
I am still facing the issue even on sfdx-cli/7.**99**.0 darwin-x64 node-v12.18.3

A workaround is do deploy using MDAPI instead of source API, this way we don't need to include workflow metadata, only WorkflowAlert

[2021-05-04 09:21] w-andre opened #1000 "Missing features in new Scratch Orgs"
### Summary

If I create a new scratch org using `sfdx force:org:create` sometimes features are missing.

### Steps To Reproduce:

**Repository to reproduce:** [sfdx-org-create](https://github.com/w-andre/sfdx-org-create)

1. Create a new sfdx project
2. Add the following features to the scratch org definition file:
[code]
1.  Create a new scratch org with the following command:
   `sfdx force:org

[2021-05-04 09:39] w-andre commented on #1000
**Update**
The "Service Console" app is now available in the scratch org:

![image](https://user-images.githubusercontent.com/12671470/116984957-23459280-accc-11eb-93f4-b1a374d371bc.png)

As you can see in the `Last Modified Date` column the "Service Console" app was added (?) 17 minutes after the org was created.

This is problematic in CI/CD scenarios where you push sources directly after org cr

[2021-05-04 14:35] WillieRuemmele commented on #1000
Hi @w-andre I'm not sure if you're using an org shape, but there was this [issue](https://github.com/forcedotcom/cli/issues/753) which _might_ be related. If you are, it sounds like deleting `/tmp/shape.zip` will fix your problem

[2021-05-04 16:10] SCWells72 opened #1001 "(Relatively) recent regression with force:source:retrieve where LWC meta.xml file is named "*.css-meta.xml""
When working in source format projects, IC2 uses the CLI to move metadata back and forth (among other things). Recently I had a couple of users report that some LWC components were being retrieved with the `meta.xml` file associated with the `.css` bundle file instead of the `.js` bundle file. After some debugging, I'm now able to reproduce this, and it's admittedly a rather corner case behavior,

[2021-05-04 16:23] mshanemc commented on #1001
merge with https://github.com/forcedotcom/cli/issues/761

[2021-05-04 16:23] #1001 closed, assigned to nobody

[2021-05-04 18:51] jdschleicher commented on #965
Hi @mkreth !  I am not sure if there may already be a plugin that this functionality would make sense in. I'm open 😊

[2021-05-04 22:56] aheber commented on #949
Agreed, this is useful and a topic of discussion among my team this morning. Much appreciated @jayree.

[2021-05-04 23:12] sjurgis opened #1002 "Close execute anonymous immediately after executing piped command"
**Is your feature request related to a problem? Please describe.**
I find it quite useful to use these quick apex snippets to clear out database between tests, but don't want to create apex files for them.
[code]
If Apex executes in about 5 seconds, the actual shell command takes another ~55 seconds to complete (I think apex times out). Perhaps there can be a flag added that terminates command imm

[2021-05-04 23:12] uip-robot-zz commented on #1002
This issue has been linked to a new work item: [W-9226395](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000KyYXYA0/view)

[2021-05-05 05:55] PawelWozniak commented on #994
@WillieRuemmele I understand that documentation says "If you reorganize your local project by creating package directories or moving metadata files between directories, the force:source:status command doesn’t list these changes." so then this error should not appear, missing metadata should be ignored as it was moved.
This error also appears on `push`, if I am forced to do `reset` to recover from

[2021-05-05 06:38] aly76 opened #1003 "Broken JSON output for force:package:version:create"
### Summary

`sfdx force:package:version:create --json` is leaking log statements to the console, in JSON mode.

### Steps To Reproduce:

1. Create package version with `--json` flag

### Expected result

Only the JSON output should be printed to the console.

### Actual result

❯ sfdx force:package:version:create -p mypackage  -w 120 --definitionfile config/project-scratch-def.json --json -x --sk

[2021-05-05 13:34] zaki-yama opened #1004 "When executing force:project:create, `.eslintignore` doesn't contain "*.app""
### Summary

When I create a project by `sfdx force:project:create`, the generated .eslintignore doesn't contain `*.app` which represents Lightning(Aura) Application.

### Steps To Reproduce:

**Repository to reproduce:** https://github.com/zaki-yama-labs/standard-sfdx-project

1.  Create a project by `sfdx force:project:create --projectname=standard-sfdx-project`
1.  `cd standard-sfdx-project`
2.

[2021-05-05 14:38] uip-robot-zz commented on #1003
This issue has been linked to a new work item: [W-9228829](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000L1ZdYAK/view)

[2021-05-05 15:24] uip-robot-zz commented on #1004
This issue has been linked to a new work item: [W-9229019](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000L1nuYAC/view)

[2021-05-05 22:37] kgcabrera-abcbs commented on #602
We are also experiencing this issue with the force:source:retrieve command.

[2021-05-06 06:34] w-andre commented on #1000
Hi @WillieRuemmele,
thanks for your reply.

We tried using an [org shape](https://developer.salesforce.com/docs/atlas.en-us.228.0.sfdx_dev.meta/sfdx_dev/sfdx_dev_shape_intro.htm) but this did not change anything.
The behavior stays the same: Some features are *sometimes* not instantly available upon scratch org creation.

If I understand the related issue correctly than this is not related to this

[2021-05-06 08:10] clopezramos-everis commented on #695
I'm getting the same error on the same situation but on CI.
It's using version 7.99.

Only plugins installed sfdx-git-delta & sfdx-profiles-splitter.

@shetzel did the partial fix get pushed into latest release, do I have to install `salesforcedx@latest-rc` still?

[2021-05-06 14:05] halldor-kaptio opened #1006 "Error: HTTP 403: Invalid channel cli when updating sfdx cli"
### Summary

I am unable to update CLI due to a "HTTP 403: Invalid channel cli" error.
I've tried reinstalling the CLI
I've tried reinstalling "Salesforce Extension Pack" in VS Code
I've tried running the update as admin (sudo)

### Steps To Reproduce:

I don't know. The only thing I've done today related to CLI prior to this happening is updating VS Code to version 1.56.0

1. Run "sfdx update cli

[2021-05-06 14:32] WillieRuemmele commented on #1006
Hi @halldor-kaptio the command should be `sfdx update` not `sfdx update cli` let me know if that fixes it 👍

[2021-05-06 14:48] halldor-kaptio commented on #1006
@WillieRuemmele That works, Thanks :)

It's strange, I've been using the other command with success but now looking at docs I don't see it anywhere. Perhaps older versions ignored the extra parameter

[2021-05-06 14:48] #1006 closed, assigned to nobody

[2021-05-06 14:53] uip-robot-zz commented on #1000
This issue has been linked to a new work item: [W-9234219](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000L86oYAC/view)

[2021-05-06 14:58] WillieRuemmele commented on #1004
Hi @zaki-yama this was merged and will be released soon. Thanks for pointing that out 👍

[2021-05-06 14:58] #1004 closed, assigned to nobody

[2021-05-06 15:03] anaeliag opened #1007 "SFDX is throwing a timeout error when using Zscaler"
![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/38703810/117320350-c378f400-ae51-11eb-97db-1376530beb99.png)

### Summary

Hi Github team,

A new Bamboo instance more secure has been setup in my team that uses Zscaler to handle the external traffic, previously our instance was setup to connect to internet without using a proxy, so we had no issues to deploy the code with SFDX

[2021-05-06 16:46] w-andre commented on #1000
Thanks for your response. As suggested I have created an official Salesforce support case.

[2021-05-06 19:26] jcarmignani opened #1008 "Cannot Deploy KnwoledgeSettings using GitLab CI"
### Summary

Deployment fails when I deploy KnowledgeSettings from GitLab CI. I have tried with VS Code using same Knowledge.settings-meta.xml file and it is working fine.

![image](https://user-images.githubusercontent.com/11173517/117352897-cd314480-aeaf-11eb-823d-a43e64b3656f.png)

### Steps To Reproduce:

Retrieve KnowledgeSettings from VS Code using Salesforce CLI with following Manifest:
`<?

[2021-05-07 13:27] gsbasso commented on #1003
Once again a CLI update has broken our CI process. What is the ETA for a fix (or at least an option to suppress the additional verbiage)? We need to assess whether we need to spend time devising a workaround on our own. Thanks.

[2021-05-07 13:32] ArmandGM commented on #323
Same error for me, none of the workarounds has worked for me :

sfdx-cli/7.100.0 win32-x64 node-v14.16.1

salesforcedx 51.12.0 (latest-rc)
├─ data 0.4.6
├─ custom-metadata 1.0.12
├─ apex 0.2.0
├─ org 1.6.5
├─ schema 1.0.6
├─ @salesforce/sfdx-plugin-lwc-test 0.1.7
├─ limits 1.2.0
├─ user 1.2.10
├─ templates 51.3.1
└─ salesforce-alm 51.6.23

[2021-05-07 18:16] NarangAshish commented on #904
Has anyone got solution (no workaround please)

[2021-05-07 18:48] vikyaiyer commented on #904
@NarangAshish
The issue would be resolved once you update the cli and switch to SOAP deploy
`sfdx update`
`sfdxconfig:set restDeploy=false`

[2021-05-07 19:08] AndrewRayCode commented on #340
We hit the same issue with `getaddrinfo ENOTFOUND`

To be clear: The bug here is that sfdx returns a successful status code. Salesforce regularly has production DNS issues, it's an unstable system, so it's not the fault of sfdx if Salesforce misconfigures their DNS records.

It is a problem, however, that sfdx things a network error is a successful deploy.

[2021-05-08 23:13] azlam-abdulsalam commented on #1003
@gsbasso  We use a docker image to counter this and test through all commands before an update

[2021-05-09 18:27] mkreth commented on #965
Hi @jdschleicher, have a look at https://github.com/mkreth/sfdx-metadata-coverage. It's a separate CLI plugin but can be installed as any other plugin, in this case with sfdx plugins:install https://github.com/mkreth/sfdx-metadata-coverage.
The plugin provides a single command `sfdx mdcoverage:report` which will - without additional arguments - go over each metadata file in your project and print

[2021-05-10 05:29] mkreth commented on #947
Hi @Thrantor, I'm not Salesforce, just asking to clarify some points: you say dev1 has created new fields and dev2 sees the field permissions for those new fields when pulling profiles/permission sets? Does that mean that dev1 and dev2 are working in the same Salesforce dev environment, e.g. developer sandbox?
From experience, this way of working has always increased the risk of changes having ove

[2021-05-10 13:46] jcarmignani commented on #1008
I have updated the link to retrieve SFDX TAR archive but I stll have the issue while deploying. I have run the test with version 7.100 in GitLab.

[2021-05-10 17:20] #999 closed, assigned to nobody

[2021-05-10 18:47] NithunGHub opened #1010 "Extracting FlexiPage metadata is missing LWC components."
### Summary

Lightning Record Page with LWC components is missing those component instances on metadata extract.

### Steps To Reproduce:

1. create a record Page and place custom LWC.
2. Extract the Flexi Page and the component instance of LWC is not retrieved.

### Expected result

record page should have the component instance of the LWC when extracted.

### Actual result

record page is missin

[2021-05-11 10:26] chfosli commented on #323
The ProblemDeployingSettings error I got was linked to this known issue: https://trailblazer.salesforce.com/issues_view?id=a1p4V000001qZtWQAU

Workaround is to locate the folder and delete it manually.

[2021-05-11 17:44] fpbrault commented on #1010
I've also observed this issue, and it does not appear to be specific to sfdx, as it also happens when generating a changeset. I think this is actually a Salesforce issue...

[2021-05-11 19:04] renanlq commented on #880
Hi @qwikag, We have faced the same issue from here.

Due to we have a feel dependency on the field, business process, and layouts, we are not able to deploy it alone. So that any attempt to deploy it, with its dependencies, from CLI, we are told that our RT does not exist on the package.

Unfortunately, we are trying to deploy business processes and record types with the **same name**. As you comm

[2021-05-11 23:04] shetzel commented on #1002
This seems more like a bug to me.  Thanks for posting this.

[2021-05-12 04:37] #589 closed, assigned to nobody

[2021-05-12 12:15] fl43 commented on #1003
Things like this should not happen. It looks like there are no proper unit tests in place.

[2021-05-12 13:14] sxu575 commented on #340
Any update on this issue?

We are running force:source:deploy  and  issue is happening  more frequently.

CLI Version: sfdx-cli/7.93.1-762bca056d linux-x64 node-v14.15.4

ERROR:  Error: socket hang up
Unhandled rejection Error: socket hang up
    at connResetException (internal/errors.js:607:14)
    at TLSSocket.socketOnEnd (_http_client.js:493:23)
    at TLSSocket.emit (events.js:327:22)
    at e

[2021-05-12 16:10] AndrewRayCode commented on #340
Wow this really hit home, given Salesforce took down their DNS globally for hours yesterday!

[2021-05-12 17:39] shetzel commented on #994
@PawelWozniak
Currently, the tracking information is located within your project.  E.g., dreamhouse-lwc/.sfdx/orgs/<org_username>/sourcePathInfos.json for local and maxRevision.json for tracking source changes in the org.

If you are only moving files around as in your usecase you can do the moves, then run:
`sfdx force:source:tracking:clear` followed by `sfdx force:source:tracking:reset` and you

[2021-05-12 19:13] shetzel commented on #1003
The fix is in the release candidate from last week Thursday.  It will be promoted tomorrow.  Apologies for the regression!

[2021-05-12 19:50] shetzel commented on #695
@clopezramos-everis - are you still on a specific version of the salesforcedx plugin?  I.e., if you run `sfdx plugins --core` does it have `(core)` after the salesforcedx plugin or a specific version?  If it's not the core version shipped with the CLI you should uninstall it to go back to the core version.  `sfdx plugins:uninstall salesforcedx`

[2021-05-12 19:58] shetzel commented on #1007
Hi - can you try using the `--wait` parameter on the command to increase the wait time?

[2021-05-12 19:59] doug-kells opened #1012 "Error: getaddrinfo EAI_AGAIN"
### Summary
Throughout this week, our team has been experiencing intermittent issues with CLI commands failing with an error "getaddrinfo EAI_AGAIN". This is intermittently happening with any sfdx CLI command, from force:org:create, force:user:permset:assign, force:source:push, force:source:pull, and force:package:install.

### Steps To Reproduce:
**Repository to reproduce:** [dreamhouse-lwc](http

[2021-05-12 20:01] shetzel commented on #1000
Closing this as it's being tracked by the support case.

[2021-05-12 20:01] #1000 closed, assigned to nobody

[2021-05-12 20:11] shetzel commented on #1008
Hi - this will be fixed when the source plugin we're working on makes its way to the production CLI.

[2021-05-12 21:18] shetzel commented on #1012
This was likely due to a DNS issue that affected many instances.  It has now been resolved.  Are you still seeing these errors?

[2021-05-12 22:45] doug-kells commented on #1012
Hi Steve,

Thanks for getting back to me We had considered that it could be related to yesterday's outage. Unfortunately, it has persisted throughout the day today, so it is ongoing.

[2021-05-13 01:37] zaki-yama commented on #1004
@WillieRuemmele
Thank you for the quick fix!

[2021-05-13 09:27] jcarmignani commented on #1008
Hi @shetzel - Great news! Do you have an idea when the fix will be available?

[2021-05-13 15:09] maggiben commented on #1012
Have you tried `sfdx force:source:deploy` ?

[2021-05-13 15:26] doug-kells commented on #1012
Hello, sfdx force:source:deploy is among the commands that occasionally returns this error. Basically, any sfdx command may or may not return this error.

I should point out that the execution of the command may or may not work even though the response has this error. Example: if I run sfdx force:package:install -w 5 -p 04t... it may immediately fail without starting the installation process.

Or

[2021-05-13 15:40] daveespo commented on #1012
According to this, someone at SF is looking into this:

https://trailblazers.salesforce.com/0D54S00000A6gjs

[2021-05-13 15:49] doug-kells commented on #1012
Hi David, Thanks for finding that thread. I'm at least relieved that isn't just me.

I will let the Salesforce employee as part of this decide on a preference as to whether to keep this issue open or whether to close it and just pay attention to trailblazer community.

[2021-05-13 15:57] olafure commented on #1012
@shetzel there is still an serious intermittent DNS outage as of now.

If you create a scratch org, try doing a `dig` on the hostname. Something like
`dig customization-enterpris-40f-dev-ed.cs68.my.salesforce.com`
Sometimes you'll get an answer, sometimes not.

![mxtoolbox report](https://user-images.githubusercontent.com/830918/118152045-2e0ad080-b40c-11eb-80f6-cac843f78dcb.png)

[2021-05-13 17:05] shetzel commented on #1012
@olafure @doug-kells - The DNS team has been urgently working on this.  That last update I saw minutes ago was that they think it's now fixed.  Since this is not a CLI issue I will close this.  Please use the trailblazer link above for more updates.  Thank you for reporting and apologies for the service interruption!

[2021-05-13 17:05] #1012 closed, assigned to nobody

[2021-05-13 18:38] #1003 closed, assigned to nobody

[2021-05-13 18:40] mshanemc commented on #1003
fixed in latest release

[2021-05-13 18:57] shetzel commented on #1008
@jcarmignani - I assumed the problem was that it wasn't yet supported in the CLI but after trying to reproduce the problem now in the CLI I don't see that problem.  I'm able to deploy KnowledgeSettings just fine from the CLI.  Is this more a matter of the gitlab environment versus non-gitlab?  I'm not very familiar with the KnowledgeSettings type but from the error message it seems like something

[2021-05-13 20:06] jcarmignani commented on #1008
@shetzel I am not using exactly same Profile from VS Code (System Administrator) vs from GitLab (Custom Profile with View All Data to deploy Active Flows but not Modify All Data).

I am able to deploy PathSettings and ExperienceSettings using this config with the GitLab profile in Salesforce.

I have checked the documentation related [KnowledgeSettings](https://developer.salesforce.com/docs/atlas.

[2021-05-14 07:32] shillem commented on #439
I had to prepare a new version of this Unlocked package and the problem came back but this time I'm unable to work around it.

The error that the package throws is the following:
[code]

This is the sfdx-project.json part defining the package:

[code]
The `config/extended-schema-def.json` is as follows:

[code]
The generated folder for the package is as follows:

[code]
The presence of a master-de

[2021-05-14 09:10] nvuillam commented on #323
@chfosli any idea where I can find this temporary folder on Windows ?
I didn't find anything in local and global .sfdx folders :/

[2021-05-14 09:18] nvuillam commented on #753
Where can I find the temp shape folder ?

[2021-05-14 09:33] chfosli commented on #323
I found it here: `C:\Users\UserName\AppData\Local\Temp\shape`. I just deleted the shape folder.

[2021-05-14 09:40] nvuillam commented on #323
I was getting mad by just deleting C:\Users\UserName\AppData\Local\Temp\shape.zip , thanks ! :)

[2021-05-14 11:55] jcarmignani commented on #1008
@shetzel I have been able to fix the issue. The error was due to missing user permission "Manage Salesforce Knowledge" that is required to be capable to deploy this metadata type

[2021-05-14 11:55] #1008 closed, assigned to nobody

[2021-05-14 18:32] frankpeleato commented on #693
@BrentHebertZayo what was the workaround you found? I am experiencing a similar issue with the official Salesforce extensions for VS Code.

[2021-05-16 21:22] ybiyani commented on #477
Any updates? I too am facing this issue.  As a workaround I downloaded the files using workbench and uploaded the files using VS code. (For some reason the retrieved  zip file via workbench fails to deploy via workbench with no package.xml found error)

[2021-05-17 10:20] TWood-IRL commented on #606
@jjulicher, i know you've been waiting a while for an answer for this..
you can get around this using

sfdx force:source:retrieve -m "CustomPageWebLink:name_Of_webLink"

[2021-05-17 11:54] PawelWozniak commented on #994
Greate I am looking forward to improvements.
That outcome is fine for me I am closing the issue then.

[2021-05-17 11:54] #994 closed, assigned to nobody

[2021-05-17 14:09] adrien-gunes commented on #87
This would be very helpful for my initial migrations... Just retrieve what is **not** managed package (this is already installed in source and target), fetch just the delta, and deploy this into the target environment. Would make my life so much easier.

[2021-05-17 14:37] Dane1986 opened #1014 "New Release objects cause errors in pull command"
### Summary

It's not possible to do a pull from a developer sandbox after the new release is installed, errors show Listview not found for several new standard objects. For example Work Plan. This happens with every new release. Workaround can be adding these objects to the force ignore file but that for me is not a workaround. When there is a new object, sfdx should recognize the whole object as

[2021-05-17 15:17] toddhalfpenny opened #1015 "Support targeting specific browsers for org:open"
**Is your feature request related to a problem? Please describe.**
It is not uncommon for users of the CLI (and wrappers there of) to have mulitple browsers (e.g. Edge, Chrome, Firefox, Brave) installed and each to be used for specific projects/client etc

**What are you trying to do**
Would be good to be able to support being able to choose the browser application to use when opening an org with

[2021-05-17 15:17] uip-robot-zz commented on #1015
This issue has been linked to a new work item: [W-9281214](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000M46hYAC/view)

[2021-05-17 15:51] BrentHebertZayo commented on #693
@frankpeleato I think the easiest workaround is to retrieve the whole object folder if you use the -p flag. So `sfdx force:source:retrieve -p "force-app/main/default/objects/yourObject/"` worked for us. Otherwise you can always fall back to the -x flag and use a package.xml to get the object.

[2021-05-17 15:53] frankpeleato commented on #693
@BrentHebertZayo Thank you for answering. That is what we have been doing, as well.

[2021-05-17 16:11] shetzel commented on #1015
@toddhalfpenny - we would be happy to support your PR to the org plugin.  Thanks!

[2021-05-17 16:54] shetzel commented on #1010
@NithunGHub - can you please provide more details in the repro and what exactly is missing in the file?  Maybe an example file of what you're expecting or the missing field?

[2021-05-17 16:57] NithunGHub commented on #1010
Any lwc components on flexi record page is missing on extract.

On Mon, May 17, 2021 at 11:55 AM Steve Hetzel ***@***.***>
wrote:

[2021-05-17 17:25] shetzel commented on #880
@qwikag @renanlq - Are you able to reproduce this behavior with the latest version of VS Code SFDX extension?  I believe it should work in VS Code while it does not in the CLI.

[2021-05-17 17:25] uip-robot-zz commented on #880
This issue has been linked to a new work item: [W-9282312](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000M5QOYA0/view)

[2021-05-17 17:27] shetzel commented on #1010
Tracked with W-9281878, with the LWC team.

[2021-05-17 17:43] shetzel commented on #340
W-6835454 for internal tracking.

[2021-05-17 17:53] shetzel commented on #439
@shillem - can you please post the output of running `sfdx plugins --core`

[2021-05-17 17:54] shillem commented on #439
[code]

[2021-05-17 18:03] tsalb commented on #1010
+1 to being affected.

For an additional data point, included is a sample flexipage XML of an appExchange component being stripped away. I've confirmed it is not *actually* removed when looking at App Builder in the Summer 21 full sandbox.

![image](https://user-images.githubusercontent.com/32919768/118535405-4a09bd00-b6ff-11eb-8b2b-8f801e2a879c.png)

Output of `sfdx plugins --core` if needed, but

[2021-05-17 18:07] AndrewRayCode commented on #340
Hmm, I now propose this issue be closed. I don't think most people replying to this issue understand that this isn't an sfdx issue. Instead I propose two new tickets:

1. Make sfdx have a more descriptive error message during network communication issues, so you don't get tickets like this where people think it's an sfdx issue
2. Fix sfdx to report an error status code on network communication iss

[2021-05-17 18:30] pawel-id commented on #340
oh, network problems happens, but this is definitely sfdx issue with handling this situation.  'Unhandled rejection" - this shouldn't happen. This should be handled properly by sfdx. And of course the return code should indicate error (i.e. non zero)

[2021-05-17 21:01] BrentHebertZayo commented on #602
We have also been seeing some of this behavior. Are there any work arounds so far? I also see this is close to https://github.com/forcedotcom/cli/issues/714 and will be keeping an eye on both.

[2021-05-18 12:14] maaaaarco commented on #602
@BrentHebertZayo  This happens when the RecordType has the same api name of another component... Try to change the name of the compact layout or the record type (if feasible) and it should work.

[2021-05-18 15:06] maggiben commented on #1014
Hi Dane1986, Im doing a `sfdx force:source:pull -f` on a scratch or and works fine, maybe its something to do with sandboxes specifically ?, can your you create a barebones org for us to test ?

[2021-05-18 17:39] jshackell-sfdc opened #1016 "We're removing the `salesforcedx` aggregator plug-in soon"
We plan to remove the `salesforcedx` plug-in from Salesforce CLI in the coming months. Don’t worry, we’re not removing any functionality! The `salesforcedx` plug-in doesn’t do much; it simply aggregates other ones that contain the commands for creating scratch orgs, deploying source, and so on. The CLI itself is already an aggregator plug-in. So in the spirit of simplicity, we’re removing the unne

[2021-05-18 18:31] shetzel commented on #966
@sf-tyrone - ENOTFOUND is a DNS issue that the CLI is reporting.  I'm guessing (hoping) that issue has been fixed for you.  The remaining issue is that the CLI should generally handle these low level nodejs errors in a better way, ideally with options for retries.  I'm going to close this in favor of #340.

[2021-05-18 18:31] #966 closed, assigned to nobody

[2021-05-18 18:35] sf-tyrone commented on #966
Please don’t close this ticket as the issue is not fixed.

I can not fix the issue and need help please.

Kind Regards
Tyrone

On Tue, 18 May 2021 at 19:31, Steve Hetzel ***@***.***> wrote:

--
Kind Regards
Tyrone Reid

*Director*

*Software Everything Ltd*

[2021-05-18 19:43] shetzel commented on #966
What is the output of `sfdx plugins --core`?
Does this only happen when using the `force:source:push` command or does it also happen when using other commands?
Are you using the CLI to execute the commands in a terminal or are you using VS Code?
Do you have any `SFDX_*` environment variables set?  (e.g., what is the output of `env | grep SFDX`?

[2021-05-18 20:03] shetzel commented on #1014
What does the generated package.xml and pulled metadata look like for the pull request?  You can inspect it more easily if you set the `SFDX_MDAPI_TEMP_DIR` env var to a known location, do the pull, then inspect the contents.

[2021-05-18 20:15] shetzel commented on #1008
@jcarmignani - glad you were able to fix the issue!

[2021-05-18 20:32] shetzel commented on #753
The shape folder is created in the `<os_temp_dir>/shape` directory, unless the `SFDX_MDAPI_TEMP_DIR` env var is set, in which case it will use that directory.

[2021-05-18 20:36] nvuillam commented on #753
Thanks !

I automatically [fixed](https://github.com/hardisgroupcom/sfdx-hardis/blob/5c067e1b0d614e547a611e163dc483ed09db3865/src/commands/hardis/scratch/create.ts#L190) this issue with [sfdx-hardis plugin](https://github.com/hardisgroupcom/sfdx-hardis#sfdx-hardisscratchcreate--n--d---websocket-string--v-string---apiversion-string---json---loglevel-tracedebuginfowarnerrorfataltracedebuginfowarnerr

[2021-05-18 20:59] ghost opened #1017 "Empty Differences"
For last few months, I have been getting empty differences with files between my org and when retrieved from CLI using Mac Terminal even when there are no differences. No matter what I do, I keep getting these differences in 100s files. When I retrieve the same file from VS Code, it doesn't show any differences.

sfdx-cli/7.101.0 darwin-x64 node-v16.0.0

@oclif/plugin-autocomplete 0.3.0 (core)
@oc

[2021-05-19 11:27] yippie commented on #1016
In the new install method, how do I install a specific version?

In CI we do `sdfx plugins:install salesforcedx@51.1.1` to ensure a stable would the syntax just be `sfdx update 51.1.1` ?

[2021-05-19 14:33] maggiben commented on #1017
Hi Ram, are all these spaces and new-line differences ? doesn't look like the code is affected, is it ?

[2021-05-19 15:15] rajnishsongara commented on #771
Dear All, I am also getting same kind of error- Any luck on this?

[2021-05-19 15:46] shetzel commented on #1017
I'm assuming you're retrieving with `force:source:retrieve` versus pull or mdapi:retrieve.  If this is the case, it's because VS Code recently changed to a new library for doing deploys/retrieves and writing the files to disk.  The CLI will be switching to the same library very soon so the white space differences should go away.  In the meantime you can adjust your git settings to ignore white spa

[2021-05-19 15:46] #1017 closed, assigned to nobody

[2021-05-19 15:52] ghost commented on #1017
This makes sense, thanks. Any expected date on when CLI will be switching to this? Also, I have tried many ways to ignore whitespaces in Git settings, but nothing seems to work. Do you have any suggestion on how ignore these whitespaces in Git settings?

[2021-05-19 15:58] shetzel commented on #1017
I'm hopeful that the source plugin will be made available to the public within a few weeks for testing and feedback (a beta of sorts).

As for git settings I would just continue to search online docs and try things.

[2021-05-19 20:46] mshanemc commented on #1016
@yippie
npm-based installs have it easy `npm install -g sfdx-cli@x.x.x` and that's what I'd recommend for CI.  Those numbers are on the weekly release notes.

We're working on a way to make it simpler to find older versions of the CLI installers/tarballs so you can install exactly what you want that way, too.

[2021-05-19 20:58] yippie commented on #1016
We don't use npm install because we have been burned by it badly in the past. Typically it is behind, which for this use case isn't a big deal. But more importantly it did not properly pin its dependencies causing ALL versions to break in out CI, with no work around, when a dependency published a breaking version update.

Pinning the tar to a specific version of both the cli and salesforcedx plugi

[2021-05-20 09:08] Dane1986 commented on #1014
The problem occurs when you have a full org git repo, the new standard objects are not in de objects folder which is sort of a logical issue. But after retrieving the new standard objects to the repo and redeploying them to the sandbox (somehow the listviews that are retrieved are then "Created" again, which is strange because I retrieved them from that sandbox) I still get the Listview error for

[2021-05-20 09:59] jcarmignani opened #1019 "Permissions to run force:apex:test:run"
### Summary

I want to run all Apex Tests part of a CI pipeline. For that I have a CI User using with a custom CI Profile with the following User Permissions as specified [here](https://developer.salesforce.com/docs/atlas.en-us.api_streaming.meta/api_streaming/code_sample_java_prereqs.htm):
- API Enabled (I have also set use Any Client API in addition)
- Apex Author
- Push Topis object: Read/Creat

[2021-05-20 13:43] mshanemc commented on #973
@AllanOricil I see from the version output that you're still running a manually installed (and outdated) version of `plugin-org`.  You'll see it doesn't have `(core)` beside it.  That may be left over from when you helped us test it early (thank you!)

`sfdx plugins:uninstall org` to stop using a one-off and use the one that's bundled.

Then, please try the open command again to see if it behaves

[2021-05-20 14:03] AllanOricil commented on #973
@mshanemc I uninstalled everything and installed again and the problem disappeared. Thanks for the response. I will close this

[2021-05-20 14:03] #973 closed, assigned to peternhale

[2021-05-20 14:13] uip-robot-zz commented on #16
This issue has been linked to a new work item: [W-9297987](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MOM5YAO/view)

[2021-05-20 14:17] uip-robot-zz commented on #94
This issue has been linked to a new work item: [W-9297994](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MOMeYAO/view)

[2021-05-20 14:22] mshanemc commented on #45
closed long ago, sorry we didn't update.  CF W-5912701

[2021-05-20 14:22] #45 closed, assigned to nobody

[2021-05-20 14:24] mshanemc commented on #48
internal bug W-5935638 was closed 8/2020.  Reopen if that doesn't seem right.

[2021-05-20 14:24] #48 closed, assigned to nobody

[2021-05-20 14:26] mshanemc commented on #219
closing, duplicate of #94

[2021-05-20 14:26] #219 closed, assigned to nobody

[2021-05-20 14:37] mshanemc commented on #972
I can't reproduce this one anymore.  Please reopen if you can on current version of the cli

[2021-05-20 14:37] #972 closed, assigned to peternhale

[2021-05-20 14:38] mshanemc commented on #923
solved by switching the whole CLI back to soap https://github.com/forcedotcom/cli/issues/942

[2021-05-20 14:38] #923 closed, assigned to nobody

[2021-05-20 14:40] mshanemc commented on #905
@mikesobczak did versions after https://github.com/salesforcecli/plugin-org/pull/82 help with the problem?  the library we use for opening stuff in browsers had some problems.

[2021-05-20 14:48] uip-robot-zz commented on #144
This issue has been linked to a new work item: [W-9298084](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MOTkYAO/view)

[2021-05-20 14:59] mshanemc commented on #168
I can't reproduce this with what's given.

If you still can get the problem, please provide more detailed reproduction steps (ex: what exact command are you running to deploy/retrieve?  What's in your class? What did the meta file change from/to?

[2021-05-20 15:09] mshanemc commented on #1019
One suggestion I got from the apex team:

Check if your tests are using `System.runAs()` as another user, that **that user** also has the streaming permissions you listed.

[2021-05-20 16:54] jcarmignani commented on #1019
@mshanemc Yes we are using lots of System.runAs() statements that run codes as Overage Authenticated Website users. Does it mean I cannot launch the tests this way?

For info I have launched the tests from VS Code using a System Admin user and it is working fine so I think he can work even with the Site users with my Custom CI profile no?

[2021-05-20 17:55] mshanemc commented on #100
closed internally, see thread on W-6196127.  Closing on github for consistency, please reopen if still replicable

[2021-05-20 17:55] #100 closed, assigned to nobody

[2021-05-20 17:56] mshanemc commented on #92
we have this marked internally as fixed/closed.  Updating github to match. W-6162081

If you can still reproduce it, please open a new issue

[2021-05-20 17:56] #92 closed, assigned to nobody

[2021-05-20 17:57] #114 closed, assigned to nobody

[2021-05-20 17:57] mshanemc commented on #114
cf W-6219639

[2021-05-20 18:00] uip-robot-zz commented on #461
This issue has been linked to a new work item: [W-9299038](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MPfhYAG/view)

[2021-05-20 18:00] mshanemc commented on #461
cf W-6835454.

[2021-05-20 18:03] mshanemc commented on #426
closely related to https://github.com/forcedotcom/cli/issues/461

[2021-05-20 18:05] uip-robot-zz commented on #673
This issue has been linked to a new work item: [W-9299072](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MPiHYAW/view)

[2021-05-20 18:11] uip-robot-zz commented on #190
This issue has been linked to a new work item: [W-9299116](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MPlaYAG/view)

[2021-05-20 18:13] mshanemc commented on #117
closed 1/15/2020 cf W-6236577

[2021-05-20 18:13] #117 closed, assigned to nobody

[2021-05-20 18:15] mshanemc commented on #622
closed 9/22/2020 cf W-8100862. @shivani-ar if you can still reproduce this, please open a new issue

[2021-05-20 18:15] #622 closed, assigned to nobody

[2021-05-20 18:17] mshanemc commented on #486
If it's still happening, please open a new issue with any sort of repro that you're comfortable with.

[2021-05-20 18:17] #486 closed, assigned to nobody

[2021-05-20 18:24] mshanemc commented on #567
@AlexVallat @surajp is this still a problem?  I don't have a windows box for easily reproducing it

[2021-05-20 18:24] mshanemc commented on #567
cf: W-8257246

[2021-05-20 18:25] uip-robot-zz commented on #567
This issue has been linked to a new work item: [W-9299212](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MPsqYAG/view)

[2021-05-20 18:26] uip-robot-zz commented on #528
This issue has been linked to a new work item: [W-9299222](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MPteYAG/view)

[2021-05-20 18:27] uip-robot-zz commented on #477
This issue has been linked to a new work item: [W-9299229](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MPu8YAG/view)

[2021-05-20 18:53] mshanemc commented on #513
W-8775528

[2021-05-20 18:58] uip-robot-zz commented on #340
This issue has been linked to a new work item: [W-9299373](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MQ5GYAW/view)

[2021-05-20 18:59] mshanemc commented on #301
W-7262955 is closed in 51.6.11

[2021-05-20 18:59] #301 closed, assigned to nobody

[2021-05-20 19:01] mshanemc commented on #214
this was closed as W-6852224
11/18/2020

[2021-05-20 19:01] #214 closed, assigned to nobody

[2021-05-20 19:05] mshanemc commented on #386
We're retiring the salesforcedx plugin plugin soon https://github.com/forcedotcom/cli/issues/1016

so I'm closing this.  We have a low-priority WI to tell people they can't uninstall a core plugin (they can uninstall a version of a core plugin that isn't the bundled version, but that just gets them back to the bundled version).

[2021-05-20 19:05] #386 closed, assigned to nobody

[2021-05-20 19:06] #390 closed, assigned to nobody

[2021-05-20 19:10] uip-robot-zz commented on #616
This issue has been linked to a new work item: [W-9299422](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MQ8tYAG/view)

[2021-05-20 19:10] mshanemc commented on #616
you're right.

[2021-05-20 19:13] mshanemc commented on #424
W-8186724

[2021-05-20 19:15] mshanemc commented on #656
W-8395553

[2021-05-20 19:15] uip-robot-zz commented on #656
This issue has been linked to a new work item: [W-9299447](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MQAfYAO/view)

[2021-05-20 19:22] mshanemc commented on #734
@SCWells72 I'm closing because I think #685 took care of this.  If the other listMetadata part is still bad, let us know.

[2021-05-20 19:22] #734 closed, assigned to nobody

[2021-05-20 19:27] uip-robot-zz commented on #206
Error while creating work item. No valid build found in GUS!

[2021-05-20 19:28] uip-robot-zz commented on #761
This issue has been linked to a new work item: [W-9299508](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MQEJYA4/view)

[2021-05-20 19:28] uip-robot-zz commented on #761
This issue has been linked to a new work item: [W-9299509](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MQFVYA4/view)

[2021-05-20 19:34] mshanemc commented on #602
merging into #714 which has a lovely repro

[2021-05-20 19:34] #602 closed, assigned to nobody

[2021-05-20 21:15] uip-robot-zz commented on #372
This issue has been linked to a new work item: [W-9300113](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MQy1YAG/view)

[2021-05-20 21:16] mshanemc commented on #380
closed as fixed on 8/24/2020 W-7520414

[2021-05-20 21:16] #380 closed, assigned to nobody

[2021-05-20 21:17] mshanemc commented on #367
cf: W-7503240

[2021-05-20 21:19] mshanemc commented on #347
W-7354540

[2021-05-20 21:19] uip-robot-zz commented on #347
This issue has been linked to a new work item: [W-9300126](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MQz4YAG/view)

[2021-05-20 21:22] mshanemc commented on #126
closed as not reproducible on W-6294054 9/8/2020

[2021-05-20 21:22] #126 closed, assigned to nobody

[2021-05-20 21:38] uip-robot-zz commented on #631
This issue has been linked to a new work item: [W-9300215](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MR5lYAG/view)

[2021-05-20 21:40] uip-robot-zz commented on #644
This issue has been linked to a new work item: [W-9300222](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MR6KYAW/view)

[2021-05-20 21:40] uip-robot-zz commented on #638
This issue has been linked to a new work item: [W-9300223](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MR6PYAW/view)

[2021-05-20 21:40] uip-robot-zz commented on #618
This issue has been linked to a new work item: [W-9300225](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MR4yYAG/view)

[2021-05-20 21:43] mshanemc commented on #468
this is marked as fixed W-7911159 closed 8/18/2020.

If you're still seeing it, open a new issue and repro with current versions and we'll test it against the new source plugin.

[2021-05-20 21:43] #468 closed, assigned to nobody

[2021-05-20 21:46] uip-robot-zz commented on #184
This issue has been linked to a new work item: [W-9300246](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07AH000000MR86YAG/view)