[2021-01-16 00:20] amphro commented on #809
@yippie I haven't tried this yet but did it used to work and no longer does in 7.84?

[2021-01-17 21:45] sneha101195 commented on #757
Even after following the above step, I am still experiencing the problem

[2021-01-17 22:04] sneha101195 commented on #757
I resolved this issue. We need to add "s" after the plugin

CMD : sfdx plugins:install @salesforce/plugin-auth@1.4.3

[2021-01-18 08:20] #805 closed, assigned to amphro

[2021-01-18 12:15] anderg4 commented on #806
CLI has been rolled back - see https://github.com/forcedotcom/cli/issues/811

[2021-01-18 16:22] brpowell commented on #775
Wonderful, glad we got it resolved!

[2021-01-18 19:29] madhoriya22 commented on #811
Is there a way I can revert back to previous version?

[2021-01-18 21:55] SubC4i commented on #808
I was experiencing the exact same issue as you (just now) and received the same exact error message in VSCode.  I looked into the "Apex Test Execution" section under Setup and found that one of my test records created within the testSetup method was hitting a validation rule.  Viewing the "Apex Test Result Detail" revealed the actual validation rule message and the line within the testSetup that h

[2021-01-19 13:37] nabondance commented on #808
Same error here too.
The test fail in VSCode but works perfectly in Salesforce developer console.
It does it for every tests even the more basic ones (no setup, no assert, nothing).

EDIT:
After more investigating, the cli is working in command line. The error seams to appears only in the integrated VSCode testing feature.

[2021-01-19 13:46] maaaaarco commented on #808
This is an issue related to the VSCode Extension.
In this discussion there's a workaround to disable a beta feature https://github.com/forcedotcom/salesforcedx-vscode/issues/2863
;)

[2021-01-19 16:02] jamessimone commented on #807
Also suffering from this change. In addition to the stacktrace not appearing - not even the line where the failure occurred, just the message! - this issue is exacerbated by an enormous change in the behavior of the VS Code extension: previously, when tests failed, the Output panel would pop up automatically with the contents of the failure message; there was also a pop-up information status that

[2021-01-19 20:44] Srini4u commented on #254
The issue could be due to version mismatch -  jdk version(32 bit) and sfdx client version(64 bit). My issue got resolved once I installed  sfdx client 32bit version

[2021-01-20 01:52] AnanyaJha commented on #808
As Marco said, this is an issue with the latest release of the VS Code Extensions - this is part of a beta feature that can be disabled by going into preferences and turning off the `Salesforcedx-vscode-core › Experimental: Use Apex Library` setting. We're working on a fix and will update this thread when it's available, thanks!

[2021-01-20 09:54] jastend commented on #767
I'm running into the same issue in my WSL2 (based on Ubuntu 20) with sfdx installed via npm.

[code]

I don't think this is node version related. I've tested it with the following versions without success:

- 12.20.1
- 14.15.4
- 15.6.0

I did verify that port 1717 was available before and listening during the test. The output during the test looked like this each time:

[code]

You can find the fu

[2021-01-20 13:23] dobrusia opened #812 "Apex Code Coverage results show inaccurate classes"
### Steps To Reproduce:
1. Run Apex Tests for ClassA
2. Review Code Coverage returned by cli
### Expected result

Cli should return code coverage for ClassA.

### Actual result
Cli returns code coverage for ClassB or ClassC that are being used in the trigger or are global constants/utility classes, but not for ClassA.
Another runs return ClassD or another randomly selected, loosely related classes

[2021-01-20 16:35] wfresch commented on #757
This fixed an issue for me.  Thanks!

[2021-01-20 20:01] davisagli commented on #811
@amphro Could you clarify what it means that the 50.13.3 release was rolled back? I ran `sfdx update` this morning, and ended up with version 50.13.3 of the salesforcedx plugin. I had seen this announcement and it took me quite some time to realize that I have the wrong version, since I was expecting that `sfdx update` would not install a release that was rolled back.

And to echo the previous com

[2021-01-21 03:10] sjurgis commented on #811
@davisagli follow [these instructions](https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_uninstall.htm) then install [from here](https://developer.salesforce.com/tools/sfdxcli).

What a pain this is...

[2021-01-21 06:50] aesanch2 commented on #811
@davisagli @sjurgis I was able to rollback successfully by reinstalling the salesforcedx plugin.

`sfdx plugins:install salesforcedx@latest`

This put it back to 50.12.

[2021-01-21 08:43] maaaaarco commented on #800
We had a similar issue... Have you tried retrieve the flow from the Org using the newer API version `--apiversion 50.0` ?
The reason for us was that one of the latest releases added new tags to the Flow metadata type... Not having those tags does not affect the general functionality of your flow but it's enough to spawn new versions...
I believe this has nothing to do with the CLI but more with th

[2021-01-21 09:38] maaaaarco commented on #784
I had a similar issue, but was related to another tool... Following this guide I was able to resolve the autocomplete: https://sourabhbajaj.com/mac-setup/BashCompletion/

[2021-01-21 10:06] steals commented on #339
Is this fix for `retrieve|pull` only command or the `deploy|push` will also be fixed?

[2021-01-21 10:53] AllanOricil commented on #513
I would like to reopen this as it would be nice to have a better error message.
"You can't create a Scratch Org from a Snapshot after a new Salesforce major release"

[2021-01-21 11:30] bdovh commented on #802
I think we can use another workaround without having to install any plugin.

Just create a file scripts/apex/assignCurrentUser.apex with a code

PermissionSet ps = [SELECT Id FROM PermissionSet WHERE Name = 'PermName'];
List<PermissionSetAssignment> psas = new List<PermissionSetAssignment>();

for (Id uid: new List<Id>{UserInfo.getUserId()}) {
    psas.add(new PermissionSetAssignment(AssigneeId =

[2021-01-21 17:33] ekapner commented on #513
I'll open a bug to improve this error message and take a look at all Snapshot error messages to make sure they provide enough information. A new snapshot must be (re)created each release. Snapshots aren't backward compatible.

[2021-01-21 18:34] mz1173 commented on #333
For anyone still running into this, I was able to get around this error by adding Pardot to the features array. It's worth noting that Pardot is not a documented feature in the [sfdx docs](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_scratch_orgs_def_file_config_values.htm).

Here is the relevant part of my config:
`{
  "orgName": "Salesforce - Dev Org",
  "edi

[2021-01-21 18:52] mshanemc commented on #798
@AllanOricil are you able to see the password policies in your org, specifically whether `Allow use of setPassword() API for self-resets` is checked or unchecked?
https://developer.salesforce.com/docs/atlas.en-us.securityImplGuide.meta/securityImplGuide/admin_password.htm

This setting can't be re-enabled via ui or config/mdapi if it's disabled because v51 of the mdapi deprecates the setting.  htt

[2021-01-21 18:56] amphro commented on #811
The `stable` channel, which `sfdx update` points to, seems to be on different versions... I can look into that a little more.

[2021-01-21 19:13] amphro commented on #809
@yippie We are not seeing the same thing. We see ALL information in both cases except we don't see the password in either case. We will fix that under this issue. If you confirm what you are seeing and can provide more information like `--dev-debug` output and contents of the auth file in `~/.sfdx/, we can look into it further.

[2021-01-21 19:22] ekapner commented on #333
Right now, the Pardot feature is indicated as not public in our internal report - so that means that we don't include it in the public-facing documentation. I can check with the team to see if that designation is in error.

[2021-01-21 19:28] yippie commented on #809
@amphro I am no longer seeing the behavior even though I am still on the same versions. Now I get the same information, including having the password, in both with and without JSON. Was this possibly a server side issue? We have been having all sorts of issues with scratch orgs lately....

[2021-01-21 20:03] jayree commented on #809
@yippie are you on the `latest-rc` or `latest` version of the `salesforcedx` plugin?

[2021-01-21 20:18] yippie commented on #809
I am on the same versions as is listed in the issue. I did not install latest-rc so I think that means latest

[2021-01-21 20:21] amphro commented on #809
Odd. It could be a server thing... I'm not sure. In any case, we will continue to use this issue to track the missing password in some situations.

[2021-01-21 20:52] AnanyaJha commented on #808
This issue was addressed with the latest release of the VS Code Extensions. Please update to version `50.14.0` and turn the setting back on to see the changes. Let us know if you have any other feedback, thanks!

[2021-01-22 01:37] sjurgis opened #814 "INVALID_HEADER_TYPE error when force:org:open --targetusername in CI"
### Summary

Getting this error when using my Github action:

[code]

Strangely only happens in CI. Works fine on my mac...

The user is definitely there fwiw:

[code]

### Steps To Reproduce:

Working on a repo to reproduce this cleanly...

### Expected result

Prints login url

### Actual result

Throws error

### Additional information

Namespaced org.

`sfdx-cli/7.82.0-3d0c527ac6 linux-x64 nod

[2021-01-22 01:51] sjurgis commented on #814
Only seems to be happening in namespaced devhub, not in regular developer edition hub.

[2021-01-22 02:44] sjurgis commented on #814
Ran out of scratch orgs for the day to reproduce

[2021-01-22 09:51] iandrosov commented on #612
This seems still an issue in the new version sfdx 7.84.2-a2868a68d5 Cannot find folder:<Email template folder name>

[2021-01-22 11:10] AllanOricil commented on #513
Thank you @ekapner
More explanatory error messages improve DX and reduce wastes.

[2021-01-22 12:31] peternoges opened #815 "Introspection bug/request: Using SFDX, How to list all polymorphic tables ie those that are retrievable but not present in schema:sobject:list? Example: "Activity""
Hello.

Observed behavior:
 `sfdx force:source:retrieve --json -m CustomObject:Activity` runs fine, but none of the commands below return "Activity":

- `sfdx force:schema:sobject:list -c standard --json > ActivityDoesntAppearHere.json;`
- `sfdx force:schema:sobject:list -c all --json > ActivityDoesntAppearHereEither.json;`
- `sfdx force:schema:sobject:list -c custom--json > ActivityDoesntAppearHe

[2021-01-22 16:51] peterTrifecta opened #816 "Running sfdx force:source:pull on a sandbox with source tracking pilot doesn't retrieve networkBranding metadata"
### Summary

Running sfdx force:source:pull on a sandbox with source tracking pilot doesn't retrieve networkBranding metadata

### Steps To Reproduce:

1. Made changes such as logo, colors, etc., in the Administration | Login & Registration section to a community (in this case it was a community for a B2B Commerce LEX store -- unable to install in a dev org).
2. Run sfdx force:source:pull
3. See n

[2021-01-22 18:51] AnthonyWheeler-hpg opened #817 "defaultusername and defaultdevhubusername getting mixed up when running on GitHub actions"
### Summary

I have several GitHub actions pipelines I have setup to automatically package and deploy apps to our orgs. They both rely on defaultusername and defaultdevhubusername being set correctly. When I run all the scripted lines locally I don't run into any issues. But when I run my yml on GitHub actions, it appears to be trying to create the package version against the non-devhub org. (It t

[2021-01-22 20:29] JayQuerido opened #818 "Accurate error massage swallowed when creating package version"
### Summary

Accurate error message is swallowed in `salesforce-alm` package when creating a package version.

### Steps To Reproduce:

1. Have a package with a static resource defined (via resource-meta.xml), but remove the actual static resource file.
    e.g. sample_data_brokers.resource-meta.xml exists but sample_data_brokers.json is missing
1. Try to build a package using the following comman

[2021-01-22 23:03] sjurgis commented on #814
Using alias isn't the issue, opening by username fails in same way

[code]

[2021-01-22 23:22] amphro commented on #817
What is the output of `sfdx config:list` right before the packaging command on the github actions?

What is the output of the packaging command with `--dev-debug`?

[2021-01-22 23:27] amphro commented on #814
Does adding `--dev-debug` give you any additional information around the request being made?

Out of curiosity, why are you trying to open the org in CI? Can you share a github action config that would reproduce off the fork of the dreamhouse app?

[2021-01-22 23:30] amphro commented on #788
That is odd. The right way to update an npm installed version is to use npm.

I see it is checking the channel then outputting the message:

[code]

Can you run with `--dev-debug`?

[2021-01-23 00:07] gadamson-upco commented on #602
We are experiencing a similar problem, but in reverse. If I do a force:source:pull -f followed by a force:source:push -f, all files are in the correct locations, but I receive the following error:

![image](https://user-images.githubusercontent.com/6810264/105561483-afa6e900-5ccb-11eb-9dc0-2ddb03841e1a.png)

The object has compact layouts and record types with the same names.

[2021-01-23 07:05] kamalsomu opened #836 "Issue Retreiving Survey Setting in VSCode"
### Summary

Survey Setting is being retreived in a separate folder named surveySettings (force-app/main/default/surveySettings/Survey.survey-meta.xml)
instead of settings folder  (force-app/main/default/settings/surveySettings/Survey.survey-meta.xml)

### Steps To Reproduce:

1.  Retreive the settings metadata with wildcard using "SFDX : Retreive Source in Manifest from Org" command.

### Expecte

[2021-01-23 08:05] sjurgis commented on #814
Hi @amphro, thanks for the flag. Nothing obvious so far.
To makes things even weirder I can only reproduce it in our internal repo, but not in public one 🥴
I've used credentials from public one (totally different NS, dev org AND also removed all files from internal repo) - command fails in our internal repo. Log attached below:
[reproduced.txt](https://github.com/forcedotcom/cli/files/5859874/repr

[2021-01-23 08:45] sjurgis commented on #814
One thing that stands out is that failing request has two slashes after domain

vs

Also (more interesting)

Failing:

Working:

[2021-01-25 10:22] mohametso commented on #802
Hi this is really  blocking however the workaround works well @bdovh  thanks

[2021-01-25 15:26] gdman commented on #811
@amphro please could we have some clarification on which versions are broken and which are ok?

As far as I can tell I currently have **7.84.2 / 50.13.3** which I must have received by auto update as I haven't run SFDX update manually. This is apparently the broken version that was rolled back but appears to be working? (though obviously there may be commands that are broken that I don't use on a

[2021-01-25 15:57] AnthonyWheeler-hpg commented on #817
@amphro
Didn't think to check these. Pasted the results below. Not sure where SFDX-ENV is coming from.

I was able to get my pipelines to run successfully if I wait to set the defaultdevhubusername til right before package version creation(after setting defaultusername). But the bug still happens if you don't happen to set the configs in the right order.

**Config List**
[code]

**--dev-debug**
[c

[2021-01-25 17:42] amphro commented on #817
It is definitely the `SFDX-ENV` that is messing things up. You can't find that anywhere in your scripts? It would be useful to know when that is getting set too. For example, right after each auth and each config set. Basically, right before and after each command. I'm trying to figure out which command is causing the issue, if it is something in your scripts, or somewhere else.

[2021-01-25 18:36] WillieRuemmele commented on #802
this is fixed in the `latest-rc` release of the cli or v1.0.9 of `plugin-user`
`npm install sfdx-cli@latest-rc --global` or `sfdx plugins:install user`

[2021-01-25 18:36] #802 closed, assigned to amphro

[2021-01-25 18:38] WillieRuemmele commented on #809
this is fixed in the `latest-rc` release of the cli or v1.0.9 of `plugin-user`
`npm install sfdx-cli@latest-rc --global` or `sfdx plugins:install user` and you should be able to see the correct information

[2021-01-25 18:38] #809 closed, assigned to nobody

[2021-01-25 18:49] AnthonyWheeler-hpg commented on #817
Here's my yaml up until the package version creation
[code]

All the InstallDependencies.ps1 powershell script is doing is querying a custom object we use for managing package dependencies and install the latest package versions. So a few runs of `sfdx force:data:soql:query` and a few runs of `sfdx force:package:install` depending on the number of dependencies.

When I move the "Set Default Devhub

[2021-01-25 18:58] WillieRuemmele commented on #801
The `sfdx auth:sfdxurl:store` and `sfdx force:auth:sfdxurl:store` commands are both present in version sfdx-cli/7.84.2

[2021-01-25 18:58] #801 closed, assigned to amphro

[2021-01-25 19:52] Kevmo92 opened #819 "npm install Object for dependency "@types/lodash" is empty"
### Summary

Cannot npm install sfdx-cli

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

***NOTE:** If your issue is not reproducable by dreamhouse-lwc, i.e. requires specific metadata or files, we **require** a link to a simple Salesforce project repository with a script to setup a scratch org that reproduces your problem.*

[2021-01-25 20:07] alexmodis commented on #819
@Kevmo92  same error here in my pipeline & locally
Edit :
node v14.15.0
npm  v6.14.8

I tried to install sfdx 7.85.1, 7.82.1-0 & 7.77.0 getting same error so I guess lodash dependency has changed & is failing now.

Also tried to uninstall sfdx, do npm ci, npm install... but not better.

[2021-01-25 20:46] alexmodis commented on #819
Just tried with `yarn add` and everything's fine

[2021-01-25 21:01] cdanhowell commented on #819
I can confirm this behavior in GitHub actions.

[2021-01-25 21:09] Kevmo92 commented on #819
Seems like `npm i -g sfdx-cli` is working again 🤷‍♂️ :magic:

[2021-01-25 21:10] alexmodis commented on #819
same thing here...

[2021-01-25 22:20] erocheleau commented on #257
Thanks so much for this solution. I've ran into that problem today where I was just trying to deploy a LWC, but it was not letting me because of the above error, this trick of specifying tests that don't exist let me deploy without any issue.

[2021-01-26 07:42] kevanmoothien commented on #811
My team and I are not able to Authorize an org on VSCode. Is this issue related?
We are having this issue since friday 22 january. We are on Ubuntu 20.04.

[2021-01-26 10:50] kevanmoothien commented on #767
My team and I got the same issue since friday 22 january. We are not able to perform an authorize of our org anymore. It keeps on looping on the localhost:1717.
Tried an old version of sfdx-cli but still the same issue.
Any idea how we can resolve this? we are not able to carry on our work.

[2021-01-26 11:01] renatoliveira commented on #767
For now you can use an alternative authorization flow with `force:auth:device:login`.

[2021-01-26 11:02] jastend commented on #767
@renatoliveira At least in my case, that didn't help for VSCode, since the extension is expecting an authenticated org.

@kevanmoothien As an immediate solution, going back to version 7.74.1 (as mentioned by @mannykary) worked for me.

Since I'm using the npm registry version, I downgraded by executing:

```$ sudo npm -g i sfdx-cli@7.74.1```

[2021-01-26 11:06] renatoliveira commented on #767
What do you mean? The `auth:device:login` is a command to authorize an org. You can use it to register with your production/dev/sandbox org as usual. From then on, you just need to reference the org's alias on the other commands. With this command I didn't need to downgrade at all.

[2021-01-26 11:44] lorebarba opened #820 ""ERROR running force:source:deploy: The org cannot be found" after successful login to Salesforce org"
### Summary

I setup CI/CD in a project using the customer BitBucket + Bamboo server instances.

### Steps To Reproduce:

I'm **able to authorize** to Salesforce org using the following command:
node_modules/sfdx-cli/bin/run.sh force:auth:sfdxurl:store -f loginkey.txt -s

When I try to deploy to the sandbox with the following command:
sfdx force:source:deploy -p force-app/main/default --testlevel

[2021-01-26 14:09] #819 closed, assigned to nobody

[2021-01-26 18:02] WillieRuemmele commented on #817
I've searched through many of our code bases and couldn't find anything relating to `SFDX-ENV` I would echo Thomas' suggestion by adding a `config:list` command after each command to see which specific one is causing this issue

[2021-01-26 18:36] WillieRuemmele commented on #766
hi @jakobpack I haven't been able to reproduce this. Are you running this against a scratch org, sandbox, or production org? What metadata or file are you trying to delete?

[2021-01-26 18:43] WillieRuemmele commented on #771
could you try running the command with the `--dev-debug` flag and post the output here? That will help us narrow down the issue to a server side, metadata, or cli issue

[2021-01-26 18:50] #775 closed, assigned to nobody

[2021-01-26 19:01] WillieRuemmele commented on #820
What version of the cli are you using? Do the commands pass when you run them locally (not in CI)? Is the org present when running `sfdx force:org:list` and subsequently `sfdx force:org:display -u <org username>`

[2021-01-26 20:43] WillieRuemmele commented on #784
@surajp did maaaaarco's suggestion work? I believe this really should be an issue for https://github.com/oclif/plugin-autocomplete. Feel free to close or reassign accordingly

[2021-01-27 01:54] surajp commented on #784
@WillieRuemmele I already modified the script to work for me. I've linked to the script as well in my issue description. I've raised this issue so you guys can fix the script generated by `sfdx autocomplete`

[2021-01-27 05:41] amphro commented on #821
We are looking into installing plugins from private repos.

[2021-01-27 08:05] struthe commented on #820
Hi all,
we encounter the same issue. It seems to be a problem on Linux (CentOS).

The problem is, that the cli is not able to resolve hostname after successfull loging.
The alias json was updated and the json file with connection information get created successfully.

But when executing force:org:display or force:source:deploy the error message "The org cannot be found" occur.
The error is indepen

[2021-01-27 09:30] AllanOricil commented on #821
@amphro I think this one is related https://github.com/forcedotcom/cli/issues/410
I kind of hacked the lib and I made it work.

[2021-01-27 09:37] enarlis commented on #820
Hello @WillieRuemmele ,
I am replying for @lorebarba

The CLI version we are using is 7.82.1-0 but we tried older versions as well with no success. The commands run successfully locally(we don't use a proxy when deploying locally though).

 Bellow you can see the output for each command you requested.

**node_modules/sfdx-cli/bin/run.sh force:auth:sfdxurl:store -f loginkey.txt -s**
Successfully au

[2021-01-27 12:05] nguyent90 commented on #400
Same error for me using on Window OS.
sfdx-cli/7.83.0

[2021-01-27 14:54] gdman commented on #811
@amphro - is there any update on this?

The version that this post says has been rolled back hasn't, it's still the version users get auto updated to.

[2021-01-27 14:59] kevanmoothien commented on #811
I was able to get it to work by removing the npm version of sfdx-cli and installing the executable directly. This solves the issue we were having during authorize an org where it was not doing the callback to localhost:1717.

If you perform the above solution, you may encounter an issue with port 1717 already open. Simply kill it and restart
[code]

[2021-01-27 15:10] gdman commented on #811
Thanks for the info @kevanmoothien.

Though, my bigger concern is that Salesforce think 7.84.2 / 50.13.3 has been rolled back and the release notes say it has been rolled back. However, **it hasn't been rolled back** - it's still the version that auto-updating will install. Including new users going to the Salesforce official website, downloading SFDX and installing it - that installs a more broke

[2021-01-27 15:13] mshanemc commented on #798
I have an update on this.

This is no longer going to work in v51/Spring21
[code]

It's [now moved to the Features section](https://help.salesforce.com/articleView?id=release-notes.rn_scratch_org_features.htm&type=5&release=230) [only available on scratch orgs]

"features": ["EnableSetPasswordInApi", ....],

[2021-01-27 15:25] mshanemc commented on #798
@AllanOricil can you try your org again using the updated scratchDef to make sure it's working?

[2021-01-27 17:14] AllanOricil commented on #798
@mshanemc I was gonna try it, but I can't even update sfdx

![image](https://user-images.githubusercontent.com/55927613/106027783-232d6980-60c3-11eb-9975-ea3933cf3cb5.png)

[2021-01-27 17:15] AllanOricil commented on #798
@mshanemc  it actually updated, but it threw that error message

![image](https://user-images.githubusercontent.com/55927613/106027949-46581900-60c3-11eb-9816-07bca908da9c.png)

[2021-01-27 17:19] AllanOricil commented on #798
Ok, after updating sfdx to 7.84.2, I first configured SFDX to use apiVersion=51.0, then I tried to create a SO with the following configs:

[code]

But I got this error

![image](https://user-images.githubusercontent.com/55927613/106028311-b1a1eb00-60c3-11eb-9e64-cd93426aba86.png)

[2021-01-27 17:24] AllanOricil commented on #798
@mshanemc after changing to apiVersion=50.0 the SO was created with no problem and I was, again, able to generate the password

![image](https://user-images.githubusercontent.com/55927613/106028943-7a800980-60c4-11eb-984d-4e8c6456a850.png)

The problem now is that I can't even create a SO using API v51.0. Before I was able to do it and the only part that was failing was the password generation.

[2021-01-27 17:34] AllanOricil opened #822 "Add a flag to sfdx force:org:list --all --json to show the accessToken unencrypted for every connected environment"
**Is your feature request related to a problem? Please describe.**

When I run `sfdx force:org:display --json` the accessToken is unecrypted. I can just get it and use on my requests with Postman.
But when I run `sfdx force:org:list --all --json` the accessTokens for every connected org are encrypted.

**What are you trying to do**
I need to get all the access tokens for all my connected orgs with

[2021-01-27 18:19] lonegroover opened #823 "'Mismatched version in @salesforce/plugin-generator plugin manifest' error with version 7.63.0"
### Summary

Whenever we run any 'sfdx' command we get the following error:
    (node:222) Warning: Mismatched version in @salesforce/plugin-generator plugin manifest. Expected: 1.1.4 Received: 1.1.3
    This usually means you have an oclif.manifest.json file that should be deleted in development. This file should be
    automatically generated when publishing.
This does not seem to affect the ope

[2021-01-27 19:24] msimonis commented on #823
I am experiencing the same issue with both the latest and latest-rc versions of the cli installed via npm globally. I only started seeing the warning after upgrading to the latest cli version today.

[2021-01-27 19:45] peternoges commented on #517
@CaptainDX  im seeing the same.  Even with these enabled and the sandboxes refreshed afterwards:

Can you post your solution?

![image](https://user-images.githubusercontent.com/7834562/106044869-2b6eb000-6095-11eb-9085-78c73790575d.png)

[2021-01-27 19:48] amphro commented on #823
This will only happen with npm. There was a new version of the plugin-generator that was published while testing the build. We are looking into why the manifest is off. That warning should have no impact on actual CLI usage though. I'll reset `latest` to 1.1.3.

[2021-01-27 19:48] #823 closed, assigned to nobody

[2021-01-27 20:41] amphro commented on #811
Hey @gdman - apologize for the delay in communication. Here is where we stand:

There are four different install paths:
1. NPM
1. Unversioned archives
1. Versioned archives
1. The installers

The first two experienced the problem and have been rolled back. In other words, the NPM `latest` tag now points to a previous version and the unversioned archives have been overwritten with the previous vers

[2021-01-27 21:24] amtrack commented on #811
@amphro While cleaning up the **npm versions**, is it possible to deprecate/unpublish
`47.15.1` (a year ago)?
This version seems to not follow any of your versioning patterns.

Background: I'm currently on `sfdx-cli@7.82.1-0` which appeared to me to have been the latest stable version for the past weeks, but npm (respectively `npm-check` and `renovatebot`) are trying to update to `47.15.1` 😃.

[2021-01-27 21:26] gdman commented on #811
@amphro - Thanks for all the information, that's really useful.

We found the 7.83.0 / 50.9.1 version has the change to move `sfdx force:auth:*` to `sfdx auth:*` but doesn't have backwards compatibility so the `sfdx force:auth:*` commands don't work - this breaks our build scripts. 7.84.2 / 50.13.3 fixes this so I can just tell any users who install from the website to run `sfdx update`.

Thanks a

[2021-01-27 22:22] amphro commented on #811
@amtrack I noticed that a while back too, but I can't unpublish it because of NPM rules. I didn't even know or think to try deprecating the version. I'll give it a go.

[2021-01-27 23:09] sjurgis commented on #814
@amphro any ideas why one would be using JWT another using access token and if that's the root cause?

I'm quite limited to what I can do with my devhub/repo.

[2021-01-28 00:40] RJPalombo commented on #761
@Paul-Browne, I have the same issue. When I manually rename {filename}.css-meta.xml to {filename}.js-meta.xml the source deploy works.

[2021-01-28 07:27] AndrewRayCode commented on #807
The previous working version of sfdx also used to show the test command being run so that you could copy it into a terminal and tweak the command line flags. That is no longer being shown either.

See also https://github.com/forcedotcom/cli/issues/718. I'm not sure if you can turn off auto updating for the vscode plugin's version of sfdx?

[2021-01-28 13:02] nvuillam commented on #210
Same here.

[2021-01-28 14:18] alanjaouen opened #825 "Unable to force:source:deploy a project containing Email"
### Summary
I have a project in source format. I am not able to push the source tree to a scratch org using `force:source:push`

[code]

### Steps To Reproduce:
**Repository to reproduce:**

https://github.com/alanJaouen/cli_bug

* Clone the above repo
* Create a scratch org
* Deploy using  `sfdx force:source:push -f`
* Expected: Successful deployment of the Email Template nested in the appropriat

[2021-01-28 14:20] alanjaouen commented on #825
This looks like the issue fixed in 50.5.0
https://github.com/forcedotcom/cli/blob/main/releasenotes/README.md#5050-november-12-2020---cli-7800

[2021-01-28 15:04] #825 closed, assigned to nobody

[2021-01-28 15:50] ffernandes69 commented on #400
I'm experiencing this issue too

[2021-01-28 21:29] NisargSharma commented on #371
Same issue with me! I'm using ubuntu 18.04 OS and whenever I'm trying to run sfdx commands from vs code or my terminal window, it doesn't launch the default browser! I also tried changing the default browser to Firefox but nothing works.

OS: Ubuntu 18.04 (x64)
SFDX Version: sfdx-cli/7.84.2-a2868a68d5 linux-x64 node-v12.18.3
VS Code Version: 1.52.1

Any help would be appreciated.

[2021-01-29 01:08] robertStrunk opened #828 "Data Tree Export Not Returning Results"
## Summary
A valid query that should return results will not return results when "sfdx force:data:tree:export" is called with a --query flag

## Steps To Reproduce:
1. Create a .soql file with a query that is filtering on the Id field. My example below:
`
SELECT  Name
FROM   Product2
WHERE Id IN (
    '01t1X000005P61TQAS',
    '01t1X0000062jnyQAA',
    '01t0J00000F4ItSQAV',
    '01t1X000005P6vXQAS

[2021-01-29 07:19] anirudhbora06 commented on #371
two ways you can try:-

1.add 'C:\Windows\System32' to path variable
or
2.
Open sfdx-project.json file and change the sfdcLoginUrl property to https://test.salesforce.com
In the terminal run command :=> sfdx force:auth:device:login
It will give you the code and URL.
Hit the URL in the browser and enter the code.
It will ask credentials. Enter your credentails and complete the process.
You will see

[2021-01-29 07:56] Dane86NN commented on #701
I'm seeing the same issue in with our sandboxes. CLI is on the latest version. Our pipeline reports succesful deleted scratchorg (which is actually a developer sandbox):

sfdx force:org:delete -u cicd@nn.nl.PBKW01234 -p
Successfully deleted scratch org cicd@nn.nl.PBKW01234.
Finishing: Delete Sandbox

This is preventing our developers to clean up their development sandboxes. We work with a sandbox

[2021-01-29 08:44] FabienTaillon opened #826 ""Error authenticating with the refresh token due to: invalid client credentials" when running "sfdx force:user:create""
### Summary

While running `sfdx force:user:create` I'm getting an error:
ERROR running force:user:create:  Error authenticating with the refresh token due to: invalid client credentials
The user is created though.

### Steps To Reproduce:

On any Scratch Org (I tested with the Dreamhouse-lwc repo, I could repro), try tro create a user like this:
`sfdx force:user:create -f user.json`

I'm using a

[2021-01-29 09:44] NisargSharma commented on #371
Thanks a lot for the help @anirudhbora06! It worked for me!

[2021-01-29 10:17] FabienTaillon opened #827 "Give an option for sfdx force:user:create to make usernames unique (like for sandbox)"
**Is your feature request related to a problem? Please describe.**
The `sfdx force:user:create` command is great to create users on a Scratch Org.
However, as usernames need to be unique across all orgs, we can't set a specific username in the user file. It would be cool to have a way to create the user anyway, appending an org related string at the end to make it unique, like what's done for sand

[2021-01-29 14:27] ImJohnMDaniel commented on #827
@FabienTaillon This is already possible.  Simply remove the "username" attribute from the user's definition file.  When you create the user, it will assign a completely random username based off the default scratch user's username.

[2021-01-29 14:41] FabienTaillon commented on #827
@ImJohnMDaniel yes, that's not exactly what I want, I think I've been unclear.

Let's say I have a workflow field update that under some conditions will change the Account owner to "Richard Hendricks". If I want to push that metadata in the Scratch Org I can't because there is a username in the metadata, and this username doesn't exist in the Scratch Org. Plus this one has to be a username, it can

[2021-01-29 15:04] FabienTaillon commented on #827
Also I think I can do the pull request myself [here](https://github.com/salesforcecli/plugin-user), but I was wondering if this would be a change that could be accepted.

[2021-01-29 15:55] WillieRuemmele commented on #826
Hi @FabienTaillon could you try installing the newest 'user' plugin version with `sfdx plugins:intsall user`and let me know if that fixes it? If that doesn't fix it could you add `--dev-debug` to the command and paste the output

[2021-01-29 16:00] WillieRuemmele commented on #762
Hi @DidZo13 sorry for the late response - are you still seeing this issue? If you are could you add `--dev-debug` to the command and paste the output

[2021-01-29 16:15] FabienTaillon commented on #826
It's failing too.

Here is the part of the log that fails:

[code]

[2021-01-29 16:36] FabienTaillon commented on #826
Looks like the commands crashing is in sfdx core:
https://github.com/forcedotcom/sfdx-core/blob/main/src/user.ts#L349

[2021-01-29 17:12] WillieRuemmele commented on #826
so the user IS created right? can you run `sfdx force:user:display -u <new username>` and see if it returns anything

[2021-01-29 17:13] FabienTaillon commented on #826
Yes the user is created, I can see it in the Scratch Org.

[2021-01-29 17:17] WillieRuemmele commented on #826
what's the output of `user:display`? I'm on `plugin-user` 1.0.12 and I'm not seeing this error, just trying to find what's different/ why you're seeing it.

[2021-01-29 17:22] FabienTaillon commented on #826
`ERROR running force:user:display:  No AuthInfo found for name <username>`, still the user does exists.
As the error seems to be in sfdx-core, maybe this is where we have a different version. Not sure where I can see the version I have, if it's under salesforcedx, sfdx-cli or somewhere else.

[2021-01-29 17:30] WillieRuemmele commented on #826
totally a possibility, if you're using an npm based installation of the CLI you could update to next weeks release with `npm install sfdx-cli@latest-rc --global` to see if it has already been resolved?

[2021-01-29 17:36] FabienTaillon commented on #826
I got an error:
[code]

I know there was a rollback of some stuff on the CLI, so maybe I'll just wait for the new version to come out, update it and see if it fixes the issue. Otherwise I'll reinstall the whole CLI.

Then I'll come and update this issue.

[2021-01-29 18:26] WillieRuemmele commented on #828
Hi @robertStrunk thanks for such a detailed issue. Would you mind trying this command with the beta `data` plugin? If you could run `sfdx plugins:install data` and accept that it is currently unsigned and try running your command again that would be fantastic. You would then run `sfdx plugins:uninstall data` to revert

if it fails with the beta version could you add `--dev-debug` to the command an

[2021-01-29 20:22] robertStrunk commented on #828
As requested.
The url in Line 368 stands out. (I cleansed the domain name so please ignore the XXXXXX.my.salesforce.com)
[dump.txt](https://github.com/forcedotcom/cli/files/5896129/dump.txt)

[2021-01-29 20:33] WillieRuemmele commented on #828
Thanks @robertStrunk! Just to verify, does that query return data when executed with `sfdx force:data:soql:query`? Just want to make sure

[2021-01-29 20:42] lnoellemorgan-zz commented on #108
This bug is being tracked by work item: W-6208564

[2021-01-29 20:58] WellWisherCoder commented on #800
Yup, you are right --apiversion 51.0 did the trick.
had to use sfdx force:config:set apiVersion=51.0 to set the default cli version.
the sfdx-project.json sourceApiVersion did not work, had to change the apiVersion in sfdx-config.json

[2021-01-29 21:06] robertStrunk commented on #828
@WillieRuemmele  Looks like the force:data:soql:query is returning results. It's worth noting that that command doesn't support calling a .soql file (to my knowledge anyway) so I had to add the query inline as opposed to the path to the file. Here is a copy paste of the command that did return the desired results.
`sfdx force:data:soql:query -u WP_nDev -q "SELECT Name FROM Product2 WHERE Id IN ('0

[2021-01-29 21:09] WillieRuemmele commented on #828
thanks for your help @robertStrunk we'll file this as a bug and get on it

[2021-01-29 23:25] robertStrunk commented on #828
@WillieRuemmele  I believe I know the cause and have a guess at the fix. Looks like the query is being transformed to be all lower case including the ids that are being passed in. If you look at the query in the URL on line 368 of the dump I provided you should be able to see the query that is all lower case. So I assume the way to resolve this issue would be to update the `force:data:tree:export`

[2021-01-29 23:31] WillieRuemmele commented on #828
Wow, great detective work. I'll take a look and see why that's happening. That's one of our new OSS repos, you can see where/why it's doing it here https://github.com/salesforcecli/data/blob/0ac477e3dcad5c4bf61f4e85b131b05c37d6af37/packages/plugin-data/src/api/data/tree/exportApi.ts#L118 I'll fix it. just pretty cool to see!

[2021-01-30 00:16] mrichmon12 commented on #767
In my case I was able to downgrade to 7.76 and authentication works again in Linux.

I have a Salesforce Support Case open for this, and it was also noticed that this happens on 7.76 if the new Auth plugin is installed. Seems tied to the refactoring that was completed in the fall.

I think they are behaving unexpectedly.

[2021-01-30 00:19] mrichmon12 commented on #767
#783 appears to be a duplicate of this

[2021-01-30 00:26] robertStrunk commented on #828
Thanks for sharing that! I tried to find it earlier but am not too familiar with your repos.

[2021-01-31 06:55] nbparrell commented on #400
I am experiencing this issue.

I needed to remove
[code]
From my package.xml for it to work.
Error I am receiving when running it while in there is:
[code]

FIXED:

File Path: C:\Program Files\Salesforce CLI\client\node_modules\salesforce-alm\dist\lib\source\bundlePathHelper.js

Changed
[code]

to

[code]

[2021-02-01 10:17] SebastianLechCloudity commented on #767
I am also affected by this issue.
[code]
Thanks @renatoliveira for the workaround. I didn't know about `force:auth:device:login`

[2021-02-01 13:36] saicharanreddyk commented on #672
@shetzel Is there any workaround to this problem? I am also facing the same issue.

[2021-02-01 15:55] chetu-mirdul commented on #820
Hello All,
Please update your CLI version
`https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm`

I have got the same error on version
`sfdx-cli@7.82.1-0`
RightNow I have to use
`sfdx-cli/7.83.0-eba9c6a927 darwin-x64 node-v12.18.3`

Thank you.

[2021-02-01 17:36] WillieRuemmele commented on #816
Hi @peterTrifecta sorry for the delayed response, can you try running the `pull` command with the  `--dev-debug` flag and posting the output

[2021-02-01 17:38] WillieRuemmele commented on #808
Closing this issue as it seems to be resolved in `50.14.0` of the VS Code Extensions

[2021-02-01 17:38] #808 closed, assigned to nobody

[2021-02-01 17:44] WillieRuemmele commented on #800
@WellWisherCoder I'm glad that fixed your issue! We'll keep this issue open for anyone else that might be seeing this behavior

[2021-02-01 21:25] WillieRuemmele commented on #756
@Casteldev-sfdx If you're still seeing this error could you paste the output of `sfdx plugins --core` and then run the command with the `--dev-debug` flag and paste that output as well

[2021-02-01 21:28] WillieRuemmele commented on #750
@seanong-athena sorry for the delayed response. So you have a circular dependency in your packages that no matter the order they're specified in the `push` would fail?

[2021-02-01 22:02] WillieRuemmele commented on #743
Hi @gdman sorry for the delayed response, Is this still happening?

[2021-02-01 22:18] #423 closed, assigned to nobody

[2021-02-01 22:18] #635 closed, assigned to nobody

[2021-02-01 22:34] WillieRuemmele commented on #722
Hi @rsindall sorry for the delayed response, have you seen this issue lately?

[2021-02-01 22:48] WillieRuemmele commented on #720
@jhilyard sorry for the delay in response, but thank you for digging into the code and suggesting a fix. We just OSS'd that plugin  https://github.com/salesforcecli/data/tree/main/packages/plugin-data I'll put up a PR there adding that option

[2021-02-01 23:44] WillieRuemmele commented on #720
https://github.com/salesforcecli/data/pull/31

[2021-02-02 00:27] lcampos commented on #836
Hi @kamalsomu , can you confirm you did not enable the `salesforcedx-vscode-core.experimental.deployRetrieve` setting ?

[2021-02-02 09:51] Dane86NN commented on #769
I have this same issue, however, for me it will not delete sandboxes that are actually created via the CLI (Devhub). We use 1 npa for all the sandbox creation and deletion actions, but since the new release in the sandboxes this not working anymore.

It will provide the same message as stated in this issue, but sandbox is not deleted

**Did some additional testing, running force:org:status before

[2021-02-02 09:53] AllanOricil commented on #827
@FabienTaillon you can solve this problem by creating a metadata renderer step on your pipeline to resolve the values for a particular environment. In summary, treat these specific values as env variables and use custom metadata to overwrite them during the env setup. In your example, I did not understand why would you have a hardcoded username in a workflow rule. Maybe the solution is to first re

[2021-02-02 10:07] Dane86NN opened #829 "When trying to delete metadata: Cannot read property 'getElementsByMetadataFilePath' of undefined"
### Summary

We have a CI process that creates developer sandboxes for users through the force:org:create command. When the org is created we login and delete some environment (production) specific information, for example NamedCredentials. We first retrieve the metadata with a retrieve command and then delete it with a delete command. This used to work, but now this is broken. The retrieve is wor

[2021-02-02 11:33] enarlis commented on #820
Hi,
unfortunately upgrading to  `sfdx-cli/7.83.0 linux-x64 node-v14.15.1` didn't fix the issue for us.
Thanks you for the feedback!

[2021-02-02 12:26] gdman commented on #743
@WillieRuemmele thanks for getting back to me.

I've re-tested, the behaviour is better than before but IMO is still kind of odd.

Post retrieve and post source update have both metadata types (in this example an Account object and Account class) - that's better than before. However, it's odd that they are grouped together. As someone implementing a plugin, I wouldn't expect to find them grouped t

[2021-02-02 17:45] WillieRuemmele commented on #829
Hi @Dane86NN Thanks for filing this, certainly seems like a bug. Can you add `--dev-debug` to the `delete` command and paste the output?

[2021-02-02 17:49] jvolkov commented on #749
On a related note this command when manually typed is working:

`sfdx force:source:retrieve -m CustomObject:customstuff__c`

But the Org Browser's `Retrieve (Beta)` is failing for the exact same object.

[2021-02-02 18:00] mitchspano commented on #371
This is happening for me on Big Sur OS

[2021-02-02 18:32] JulienGaiotto commented on #672
Hello everyone,

same issue here.

When we create a scratch org from the org shape based off of our Production Org, we have the same issue :
```Metadata API received improper input. Please ensure file name and capitalization is correct. Load of metadata from db failed for metadata of type:Profile and file name:admin.```
The production org from which the shape has been generated in an old Unlimited

[2021-02-02 19:01] ytiq commented on #339
As for a side note. I used MutingPermissionSets on project and we put them in separate metaDataApi folder and used mdapi:deploy /retrive for them

[2021-02-02 21:57] qwikag commented on #400
Sorry how is this Closed or Fixed
The issue is still there.
the bad code is still there.
Fixing it means deploying it to the stable branch before Closing the Bug.

[2021-02-02 23:11] WillieRuemmele commented on #822
Hi @AllanOricil thanks for the input, we're open sourcing those commands [here](https://github.com/salesforcecli/plugin-org). We'll make the fix there

[2021-02-03 00:08] WillieRuemmele commented on #821
Hi @AllanOricil could you try appending `.git` to your url. This also assumes that you're already authenticated locally with HTTPS. If you're using SSH locally instead of HTTPS, then make sure that your url is structured like `ssh://git@<Your repo>.git` For example, if you tried to do `yarn add` with the url you're trying it will also fail.

[2021-02-03 00:28] amphro commented on #410
If I'm reading this right, you want to install the plugin from your private registry but all the dependencies on the public registry? Is there any reason why you can't have your private registry fall back to the public registry if it doesn't have them. That is how most node package registries work.

The reason why setting SFDX_NPM_REGISTRY doesn't work is because that is also used for the [yarn in

[2021-02-03 06:17] qwikag opened #830 "Updating CLI, many errors (incl SHA mismatch), requires uninstall."
### Summary

SFDX update is failing, requires elaborate calls to update properly

### Steps To Reproduce:

1. brand new VSCode and SFDX install.

2. $ sfdx plugins --core
@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.0 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.9.4 (core)
@oclif/plugin-update 1.3.10 (core)
@oclif/plugin-

[2021-02-03 06:23] saicharanreddyk commented on #672
I have tried using the "hasSampleData": "true", in the project-scratch-def.json file and it solved my issue of fetching profiles from scratch org, not sure what is the underlying issue.

[2021-02-03 07:48] Dane86NN commented on #829
sfdx:SfdxProjectJson INFO Reading config file: C:\Users\M98F393\.sfdx\sfdx-project.json +928ms
  sfdx:SfdxProjectJson TRACE Setup child 'SchemaValidator' logger instance +7ms
  sfdx:SchemaValidator DEBUG Schema loaded for C:\Users\M98F393\AppData\Local\sfdx\client\7.84.2-a2868a68d5\node_modules\@salesforce\schemas\sfdx-project.schema.json +915ms
  sfdx:SfdxProjectJson WARN The config file: C:\User

[2021-02-03 09:26] struthe commented on #820
Hi all,

same here, version 7.83.0 didn't solve the problem for me.
Tried other version like 7.86.3 but same result.

Regards

[2021-02-03 10:42] AllanOricil commented on #410
@amphro yes, you are right. The plugin is inside Nexus, and its dependencies come from outside. If I had access to Nexus I could configure it to fall back to the public registry, but I don't. Also, Nexus seems to be used only for internal packages. Any time we want a package from the public registry we need to manually add them to our .npmrc config, for instance.
But there is a guy called Verdacci

[2021-02-03 14:12] Xander567 commented on #400
Also getting this error. Fresh install of sfcli and sf extensions pack in vscode.

[2021-02-03 15:24] renatoliveira opened #831 "Cannot assign permission set to default user"
### Summary

Having a permission set named "Marketplace_Administrator" in the project's folder, the CLI tries to assign a permission set with the first character as its name ("M").

### Steps To Reproduce:

1. Create empty repo.
2. Create a custom tab.
3. Create permission set on org with visibility to a custom tab.
4. Try to use the `force:user:permset:assign` command.

### Expected result

The p

[2021-02-03 15:24] meo-tech commented on #340
Got the same Error since some Days ago....

It should be the latest Version of sfdx, because it is part of our CI that the latest Version of sfdx will be downloaded for the Deployment...

[...]
ERROR:  Error: socket hang up
Unhandled rejection Error: socket hang up
    at connResetException (internal/errors.js:610:14)
    at TLSSocket.socketOnEnd (_http_client.js:453:23)
    at TLSSocket.emit (eve

[2021-02-03 16:12] alanjaouen commented on #340
got the same error today

ERROR:  Error: socket hang up
Unhandled rejection Error: socket hang up
    at connResetException (internal/errors.js:610:14)
    at TLSSocket.socketOnEnd (_http_client.js:453:23)
    at TLSSocket.emit (events.js:327:22)
    at endReadableNT (_stream_readable.js:1220:12)
    at processTicksAndRejections (internal/process/task_queues.js:84:21)

[2021-02-03 17:14] WillieRuemmele commented on #831
Hi @renatoliveira this issue should be fixed in the newest version of the `user` plugin, could you please run `sfdx plugins:install user` and try again?

[2021-02-03 17:19] WillieRuemmele commented on #830
Hi @qwikag there must've been an issue with our S3 host, I'm able to update the cli without any errors. Could you try again now and see if it's working?

[2021-02-03 17:34] z4chry commented on #400
Freshly installed VSCode and Salesforce Extensions pack.

Getting this error when trying to retrieve from manifest:
`11:27:14.245 sfdx force:source:retrieve --manifest c:\Users\myUsername\VScode code\Partial\manifest\package.xml
ERROR running force:source:retrieve:  Cannot read property 'fileName' of undefined`

This is the error I get when trying to retrieve using Org Browser:
`
11:31:31.753 sfdx

[2021-02-03 18:31] renatoliveira commented on #831
Thank you. I installed the plugin `user` v1.0.13 and it worked. Updating the CLI only does not update the plugins.

[2021-02-03 18:31] #831 closed, assigned to nobody

[2021-02-04 10:30] struthe commented on #820
Any update?
Just a „we are working on it“ would be enough.
or should we create a case at salesforce?

thanks in advance

[2021-02-04 12:19] chetu-mirdul commented on #820
Can you run this command on your terminal
`sudo npm install sfdx-cli@7.82.1-0 --global`

[2021-02-04 14:47] JulienGaiotto commented on #672
It did the trick for me, thank you for posting that, helpful workaround !

[2021-02-04 15:24] WillieRuemmele commented on #820
Hi @lordmarshal @stnarlis2 @chetu-mirdul sorry for the silence, yes, we are working on this. I think it will be available next week on the `latest-rc` tag of the cli. I'll update here when/where it's available

[2021-02-04 15:29] struthe commented on #820
Hi @chetu-mirdul ,

build jobs are not allowed to run in admin mode and install global content.
One build-server handles jobs for multiple projects and to avoid misconfiguration this is disabled.

Therefore we choose npm, because installation without admin rights are possible.

Everything works fine until about January 20th.

@WillieRuemmele Thank you very much for the feedback.
If you need furthe

[2021-02-04 16:19] seanong-athena commented on #750
Hi @WillieRuemmele Yes, they will fail no matter the order - since A depends on B and B depends on A - A will not be able to be pushed successfully.

And, according to the official documentation, this is expected behaviour:
https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_ws_mpd.htm

`When you run force:source:push, the CLI deploys the metadata in your multiple pac

[2021-02-04 16:23] shetzel commented on #400
Can you try the retrieve from vscode after enabling an experimental setting?
`Experimental: Deploy Retrieve`  is the setting
id `salesforcedx-vscode-core.experimental.deployRetrieve`

[2021-02-04 17:10] #750 closed, assigned to nobody

[2021-02-04 17:12] emregunel commented on #612
Having the same issue here. sfdx-cli/7.84.2-a2868a68d5

[2021-02-04 18:46] WillieRuemmele commented on #400
@z4chry @nbparrell Hi, I'm having the hardest time reproducing this issue on windows. I'm running
[code]
with 3 different package.xml,
LWC only,
[code]

Aura only,
[code]
Aura + LWC
[code]

I'm able to `sfdx force:source:retrieve -x package.xml` without any errors, I'm able to `sfdx force:source:retrieve -m LightningComponentBundle` and `sfdx force:source:retrieve -m AuraDefinitionBundle` without

[2021-02-04 19:53] nbparrell commented on #400
@WillieRuemmele

So when going through and debugging, the issue I was seeing was that the file being retrieved was using '/' for it's path and not being normalized to '\' which as you have said would eliminate the need for a different path.sep. As for what you are doing different I am not sure. I have very limited knowledge regarding this extension, I had some free time to trouble shoot and fix my

[2021-02-04 20:01] WillieRuemmele commented on #400
Thanks for the response, I don't expect you to be an expert in how our tools work ;). Are you still seeing this issue on the cli versions I posted above? I'm quite confused on the activity on this issue because I'm not able to reproduce it, but obviously plenty of people are.

[2021-02-04 20:08] nbparrell commented on #400
@WillieRuemmele

So one thing that I should mention, though I am not sure if it is a potential issue, is that I am storing my org on a seperate hard drive from the cli. So my project is on my D: drive where as the cli and visual studio code is on the C: drive.

I am currently on version 50.16.0 though I have not removed the changes or made any updates to that code so I am not seeing that issue. On

[2021-02-04 23:25] WillieRuemmele commented on #799
merged into core with https://github.com/forcedotcom/sfdx-core/pull/358 should be available in sfdx-cli latest-rc tomorrow

[2021-02-04 23:25] #799 closed, assigned to WillieRuemmele

[2021-02-04 23:36] qwikag commented on #400
I too have this issue and have cli installed on C: and Workspace on D: (New Laptop build WIN10 Pro)
I am not following the convo closely so sorry if out of touch.
I fixed it by replacing the code with '/' as per @nbparrell comment.

or maybe it is fixed in the code and I am just seeing my changes are now the same as the new DL codebase.
personally I am having issue with a whole other set of proble

[2021-02-05 00:03] Xander567 commented on #400
That would explain why it wasn't working yesterday after a fresh install of the plugins and vscode and was working fine today. Haven't had any issues with retrieving the Aura Bundles today.

[2021-02-05 00:33] ohtormen commented on #829
Hi guys!

I have the same issue here.

[code]

[2021-02-05 01:50] z4chry commented on #400
@shetzel @WillieRuemmele Setting `Experimental: Deploy Retrieve` to `true` did fix the errors I was experiencing on sfdx-cli/7.83.0-eba9c6a927 win32-x64 node-v12.18.3. Alternatively, when I downgrade to sfdx-cli/7.81.0-7b953c80d1 win32-x64 node-v12.18.3 I didn't experience any errors.

All projects and program installations are located on the same drive.

[2021-02-05 06:00] mwanchap commented on #829
Exact same issue here.
`sfdx --version` returns `sfdx-cli/7.84.2-a2868a68d5 win32-x64 node-v12.18.3`
VS Code Extension is version 50.16.0

Steps to repro:
- Make a dev sandbox
- Run `sfdx update`
- Open VSCode, and run the following commands:
- SFDX: Create a project with manifest -> Standard
- SFDX: authorise an org -> Sandbox
- Right-click on package.xml -> SFDX: retrieve source in manifest from

[2021-02-05 10:59] dimitrimonge opened #833 "unable to deploy sharing rules trought sfdx force:source:deploy command in version 7.82"
**Summary**

Running sfdx force:source:deploy on a sandbox doesn't deploy sharing rules metadata

**Steps To Reproduce:**

    have sharing criteria rules in your local repository

    Run sfdx force:source:deploy --manifest path/to/manifest.xml

    See no changes.

Expected result

![image](https://user-images.githubusercontent.com/10075113/107025168-52219a80-67a9-11eb-9f9c-e58a547efe0a.png)

Ac

[2021-02-05 13:30] meo-tech commented on #340
Nobody assigned to this issue?

@clairebianchi as you wrote last year, that somebody will take a look at this issue... Are there any News for this?

Please don't get me wrong, but "sfdx" is quite essential for Salesforce Deployments.... Just wondering

[2021-02-05 13:51] dvon88 opened #834 "Unable to authorize orgs"
I am unable to authorize any org. I have tried running through VSCode and through the terminal. I can get to the Allow Access page and click yes, but then it redirects to localhost 1717 and eventually it stops and gives me "ERR_EMPTY_RESPONSE." This happens for all orgs, all browsers. I have already tried the steps in this link and it doesn't not work either...
https://trailblazer.salesforce.com/i

[2021-02-05 14:25] ffernandes69 commented on #400
I updated VS Code this morning and I can now retrieve Aura and LWC components

[2021-02-05 15:32] mshanemc commented on #822
@AllanOricil we've fixed this in the new plugin-org, which fixes a number of other bugs and performance issues.

If you'd like to try it out early (before it gets bundled into the CLI), you can install it manually: https://github.com/salesforcecli/plugin-org#install

[2021-02-05 15:35] AllanOricil commented on #822
@mshanemc I will give it a try. Thanks for that!

[2021-02-05 15:39] AllanOricil commented on #822
@mshanemc it worked! Now I can see the Access Tokens "unencrypted". When will this be available when the user install sfdx? Is it already gonna be installed?

[2021-02-05 15:43] AllanOricil commented on #834
I have the this problem with a Raspberry Pi running Ubuntu.

[2021-02-05 15:46] AllanOricil commented on #833
@dimitrimonge It might be an issue caused by an old version of sfdx. Try to update to the latest version: `sfdx-cli/7.84.2-a2868a68d5 win32-x64 node-v12.18.3` and then verify if the bug persists.

[2021-02-05 16:00] AllanOricil commented on #821
@WillieRuemmele I don't remember if this was the problem, because I was able to install it given the same https url, but using a public repo from my github account. I will test again anyway, and then I come back with the results. Thank you

[2021-02-05 16:35] #766 closed, assigned to nobody

[2021-02-05 16:55] WillieRuemmele commented on #814
Hi @sjurgiscould you try running this with the latest-rc build of the cli, you can install it with `npm install sfdx-cli@latest-rc --global` and uninstall it with `npm uninstall sfdx-cli@latest-rc --global`

[2021-02-05 16:55] WillieRuemmele commented on #820
Hi @lordmarshal @stnarlis2 @chetu-mirdul  could you try running this with the latest-rc build of the cli, you can install it with `npm install sfdx-cli@latest-rc --global` and uninstall it with `npm uninstall sfdx-cli@latest-rc --global`

[2021-02-05 16:55] WillieRuemmele commented on #826
Hi @FabienTaillon could you try running this with the latest-rc build of the cli, you can install it with `npm install sfdx-cli@latest-rc --global` and uninstall it with `npm uninstall sfdx-cli@latest-rc --global`

[2021-02-05 17:39] FabienTaillon commented on #826
Doesn't change anything.

What's weird is that after the command has failed (but the user is created), I can see an error in the login history of the created user:

<img width="1052" alt="Capture d’écran 2021-02-05 à 18 38 18" src="https://user-images.githubusercontent.com/2465122/107068879-713c1e80-67e1-11eb-803a-3eea5c511866.png">

[2021-02-05 17:57] ErikChase commented on #834
Similarly, we are running into an issue with our CI/CD tool when it is trying to authorize an org using the `force:auth:jwt:grant` command.  It's giving us an error saying `Warning: force:auth:jwt:grant is not a sfdx command.`. Since the 50.13.3 release was re-rolled out today, I'm wondering if this is related to the deprecation of force:auth in favor of the auth plugin?

[2021-02-05 18:28] WillieRuemmele commented on #834
Hi @dvon88 @ErikChase we just published a new release today, and a `latest-rc` tag, try the `latest-rc` with `npm install sfdx-cli@latest-rc --global` and see if that fixes it. As for the alias between `force:auth:` and just `auth` commands that should've been resolved

[2021-02-05 19:25] ErikChase commented on #834
That has resolved the issue for me!  Thank you so much!

[2021-02-05 20:16] FabienTaillon commented on #826
Hi @WillieRuemmele, looks like the failing line is [here](https://github.com/forcedotcom/sfdx-core/blob/main/src/authInfo.ts#L976).

On the computer where it fails, `options` looks like this (I've removed the real values for refreshToken and clientSecret):

[code]

However on a computer where it works, `options` looks like this:
[code]

Not sure why it's different.

[2021-02-05 21:12] rmathewsbeyond commented on #648
Facing similar error. Found a workaround by adding "features": ["LiveAgent"} to the scratch definition the error goes away, and scratch org is successfully created.
But hoping to not use this workaround, but have an actual solution.

[2021-02-05 21:23] dcinzona commented on #356
Still an issue, btw...

*** EDIT ***
Still an issue as of Spring 21 release (2/16/2021)

[2021-02-06 06:49] kamalsomu commented on #836
This setting is not enabled in vscode.

[2021-02-06 10:04] dvon88 commented on #834
@WillieRuemmele that did not fix the issue. I ended up reinstalling linux and that "fixed" it. I'll mark the issue as closed since I cannot reproduce it anymore, but this is definitely not a fix. I should not have to reinstall my operating system to fix an issue with the CLI.

[2021-02-07 08:59] dvon88 commented on #834
@WillieRuemmele  nevermind, I can still reproduce the issue. I am now again trying to update to the latest release and getting a timeout error during the update when trying to fetch https://registry.npmjs.org/resolve.

Issue is still open. Still broken. Was only able to authorize one org.

[2021-02-08 07:32] enarlis commented on #820
Hi @WillieRuemmele,

Unfortunately, the latest-rc build (7.87.0) gives us exactly the same "org not found" error. Also, I can still see in the logs the same MyDomainResolver error.

[2021-02-08 07:34] struthe commented on #820
Hi Willie,

nothing changed, same error occured.
I also try to set the new Parameter SFDX_DNS_TIMEOUT to 60 but no difference.

I will check internally if something changed on NPM.
Is there a difference if I install it globally?

Kind regards

[2021-02-08 09:55] SwanGlTHUB commented on #834
@WillieRuemmele
It didn't work for me(

[2021-02-08 14:06] anderg4 commented on #806
Exact same issue has been re-introduced.

`Warning: force:auth:jwt:grant is not a sfdx command.
{
 "status": 1,
 "name": "NoOrgFound",
 "message": "No org configuration found for name ***",
 "exitCode": 1,
 "commandName": "SourceDeployCommand",
 "stack": "NoOrgFound: No org configuration found for name ***\n at Function.create (/usr/local/lib/sfdx/node_modules/@salesforce/core/lib/sfdxError.js:160

[2021-02-08 14:07] anderg4 commented on #806
sfdx retrieved into github action via:

`wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz`

[2021-02-08 14:11] anderg4 commented on #806
the above results in sfdx-cli-v7.83.0-eba9c6a927-linux-x64 which appears to be the original non-working version from above rather than the correct repackaged version from Feb 5

[2021-02-08 15:45] jakubburkiewicz commented on #829
Workaround: downgrade your plugin `sfdx plugins:install salesforcedx@50.12.0`
As I can see, 50.12.0 is the last properly working version of salesforcedx

[2021-02-08 17:42] #817 closed, assigned to WillieRuemmele

[2021-02-08 18:42] #800 closed, assigned to nobody

[2021-02-08 18:51] mshanemc opened #835 "Help us test 3 new org commands"
`force:org:open`, `force:org:list`, and `force:org:display` have been rewritten and open-sourced...but they're not bundled into the CLI yet.

**Before we do that, we'd like your help testing them out.**

## Install
`sfdx update` to make sure you're on the latest version
`sfdx plugins:install org`

## Test
once the plugin is installed, you can use the commands like normal.  Run any scripts you have

[2021-02-08 19:00] mshanemc commented on #724
This **should** be fixed in the new open-source version.  You can try it early, here: https://github.com/forcedotcom/cli/issues/835

[2021-02-08 19:00] lcampos commented on #836
VSCode delegates the retrieve operation to the CLI, can you update to the latest version of the CLI and run this operation again ? There's been a few fixes released lately and I wonder if those take care of what you are experiencing.

[2021-02-08 19:00] ChloeCoon opened #837 "linux-x64 download using older version of sfdx-cli"
### Summary
About 2 hours ago, the linux download link from manifest.json we use to install sfdx-cli for some github actions started installing version 7.82.0 when it was previously installying 7.85.1.

### Steps To Reproduce:

1. From https://developer.salesforce.com/media/salesforce-cli/manifest.json, select the downloads > linux-x64 link.

At time of issue writing, the link was https://develope

[2021-02-08 19:01] mshanemc commented on #719
This **should** be fixed in the new open-source version.  You can try it early, here: https://github.com/forcedotcom/cli/issues/835

[2021-02-08 19:01] mshanemc commented on #666
This **should** be fixed in the new open-source version.  You can try it early, here: https://github.com/forcedotcom/cli/issues/835

[2021-02-08 19:02] mshanemc commented on #422
@toddhalfpenny This **should** be added in the new open-source version.  You can try it early, here: https://github.com/forcedotcom/cli/issues/835

[2021-02-08 19:03] mshanemc commented on #361
This **should** be fixed in the new open-source version.  You can try it early, here: https://github.com/forcedotcom/cli/issues/835

[2021-02-08 19:05] mshanemc commented on #637
This **should** be fixed in the new open-source version.  You can try it early, here: https://github.com/forcedotcom/cli/issues/835

[2021-02-08 19:05] mshanemc commented on #482
This may be fixed in the new open-source version.  You can try it early, here: https://github.com/forcedotcom/cli/issues/835

[2021-02-08 19:26] AllanOricil opened #838 "ERROR running force:org:display: Must pass a username and/or OAuth options when creating an AuthInfo instance."
### Summary

I cant run `sfdx force:org:display` without passing -u flag with a defaultusername selected.

### Steps To Reproduce:

1 - Ensure you have the sfdx extension for vscode
2 - Click on the status bar button to change your defaultusername
3 - run `sfdx force:org:display` without passing the -u flag, as it is already set when you selected the defaultusername in the step 2
4 - Verify that y

[2021-02-08 19:29] AllanOricil commented on #838
on previous versions I was able to run `sfdx force:org:display` without passing the -u flag, as it was already set in the local defaultusername

[2021-02-08 19:34] AllanOricil commented on #666
Yes, I confirm it has been fixed. But I had to install the plugin. It would be good if you could ship this to sfdx that everyone is using.

[2021-02-08 19:57] mshanemc commented on #666
That's the plan.  I just want to make sure it's fixing everything we think it is and breaking nothing.

[2021-02-08 20:25] AllanOricil commented on #666
@mshanemc good plan! thanks for that

[2021-02-08 20:30] AllanOricil commented on #724
@mshanemc I will try it tomorrow. I have an expired SO that I did not delete that I can use to test it. Thanks again.

[2021-02-08 20:40] mshanemc commented on #838
If you just do step 1, then step 2...can you check with `sfdx config:list` to verify that vscode is setting the defaultusername correctly?

[2021-02-08 20:53] mshanemc commented on #724
For anyone else wanting to test this issue, one option is to create a
sandbox, auth tot it, then delete the sandbox **from the UI** so that your
CLI doesn't know it's deleted.

Then wait a day or so until the sandbox is really gone and there's no DNS
record for it and you'll see the error on the current CLI and not on the
plugin-org

On Mon, Feb 8, 2021 at 2:31 PM Allan Oricil <notifications@githu

[2021-02-08 20:58] AllanOricil commented on #838
@mshanemc
![image](https://user-images.githubusercontent.com/55927613/107280549-6509c880-6a50-11eb-809a-5f65d0e226bf.png)

[2021-02-08 21:44] #762 closed, assigned to nobody

[2021-02-08 22:45] mshanemc commented on #838
ooh, that's a fun one.  Nice find!

[2021-02-09 07:00] lopezfelixsherwin opened #840 "Redirected to localhost"
Issue Type: <b>Bug</b>

Authorized an org, redirected to the login page. Then after typing the credentials, I got redirected to this link, http://localhost:1717/OauthRedirect?code=aPrxasO.YfkYfau8m1QtGbysqdgHe_0ZHTveVWRSyTB6qFF8al6MPCAGehI_UWpUiOfkRUGZNQ%3D%3D&state=d844c2a911a3

Extension version: 50.16.0
VS Code version: Code 1.53.0 (8490d3dde47c57ba65ec40dd192d014fd2113496, 2021-02-03T20:36:38.

[2021-02-09 07:17] kevanmoothien commented on #767
Installing the tarball version 7.82 works for me on linux. npm version is not working at all.

[2021-02-09 08:44] AllanOricil commented on #724
Now I can see a better error message.

![image](https://user-images.githubusercontent.com/55927613/107337997-f4e05e80-6ab2-11eb-82ca-49128a386422.png)

[2021-02-09 14:57] docbill opened #839 "No longer can authenticate an org in Fedora 33"
### Summary

As of Monday February 8th, 2021, authorizing an org is no longer working.

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

***NOTE:** If your issue is not reproducable by dreamhouse-lwc, i.e. requires specific metadata or files, we **require** a link to a simple Salesforce project repository with a script to setu

[2021-02-09 15:08] docbill commented on #839
A second defect that has existing for quite sometime and is probably directly related, is in Linux when running the command:

sfdx force:mdapi:deploy -d "$mdapipath" --testlevel=RunSpecifiedTests -r $TESTCLASSES --loglevel=warn -w 30

The command will return and a prompt will appear on the screen, but console output will continue to the console, indicating the child process is still running.

The

[2021-02-09 15:29] mshanemc commented on #839
@docbill thanks for helping with the detective work.  Most of what's happening for `auth:web:login` is open-sourced, so you may want to compare your trace/debug to the following files in 2 repos:

plugin-auth (where that command lives)
https://github.com/salesforcecli/plugin-auth/blob/main/src/commands/auth/web/login.ts

sfdx-core (where the local web server for handling the oauth callback runs)
h

[2021-02-09 16:01] tescalada commented on #264
Thanks so much for this patch @YodaDaCoda. I've been applying this patch to workaround this issue successfully for the past year until today. It seems to have broken at version sfdx-cli/7.84.2-a2868a68d5 linux-x64 node-v12.18.3
 which has changed enough to break it. Attached is a new diff that seems to work for me (hopefully its not breaking something else that I have just not yet run into).

[dat

[2021-02-09 16:09] docbill commented on #839
The authorization on the org succeeds.  Each time I issue the command there is a new token listed.  And if I am patient enough to what for the webbrowser to timeout I can see the actual token in the localhost URL as a  get argument.  (e.g. following the ? in the url).

My best guess is the child process listening on 1717 is attempting to talk to another process which is no longer listening on the

[2021-02-09 16:30] mshanemc commented on #839
on the cli command, you can run with `--dev-debug` to get a ton of log output.

Knowing that auth succeeded and there's a callback problem is helpful for us.

[2021-02-09 17:06] docbill commented on #839
Here are some output files that may help.  The briemers.* files are the ones from running without an strace, the briemers2.* files are from running with an strace.

[briemers.log](https://github.com/forcedotcom/cli/files/5952932/briemers.log)
[briemers.txt](https://github.com/forcedotcom/cli/files/5952933/briemers.txt)
[briemers2.log](https://github.com/forcedotcom/cli/files/5952934/briemers2.log)

[2021-02-09 18:40] mshanemc commented on #777
I'm closing this issue.  That warning disappears in v51 so there's no point fixing the typo.

[2021-02-09 18:40] #777 closed, assigned to nobody

[2021-02-10 09:05] dvon88 commented on #839
Duplicate of #834

[2021-02-10 09:56] mbarbarelli commented on #400
Encounter this error on `sfdx force:source:pull`, sfdx-cli/7.83.0-eba9c6a927 win32-x64 node-v12.18.3.  Have also enabled `Experimental: Deploy Retrieve`, to no effect.  Any updates?

[2021-02-10 15:43] mshanemc commented on #840
@lopezfelixsherwin looks like the vscode repo transferred this to CLI.  Can you open a new issue on this repo? [we have some standard questions about CLI versions] OR just look at our issue template to see how to get all those versions and add them to the existing issue?

[2021-02-10 15:51] mdonnalley commented on #837
@ChloeCoon The manifest you're using refers to legacy installers which we are now keeping at 7.82.0 and will no longer be updating. I recommend referring to this manifest going forward: https://developer.salesforce.com/media/salesforce-cli/sfdx-cli/channels/stable/manifest.json

[2021-02-10 15:51] #837 closed, assigned to nobody

[2021-02-10 20:05] mdonnalley commented on #836
@kamalsomu what version of the CLI are you running?

[2021-02-10 20:17] samhowle commented on #829
FYI there's a typo in the command. should be-

`sfdx plugins:install salesforcedx@50.12.0`

[2021-02-10 23:34] samhowle commented on #213
Also going crazy over this issue as of Winter 2021 (API 50.0) release and SFDX version 50.16.0.

[2021-02-11 05:51] the1mattkaufman commented on #834
@WillieRuemmele I've been having the same issue on Debian
sfdx-cli/7.86.3 linux-x64 node-v14.15.5

@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.9.5 (core)
@oclif/plugin-update 1.3.10 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@

[2021-02-11 06:27] the1mattkaufman commented on #839
@docbill Your workaround using strace worked for me too.  I'm on Debian not Fedora

[2021-02-11 13:13] AllanOricil opened #841 "sfdx force:community:publish - Error: socket hang up"
### Summary
While running the publish command in our pipeline, we got this exception:

![image](https://user-images.githubusercontent.com/55927613/107640760-a675c000-6c6a-11eb-84c7-e358e847d470.png)

### Steps To Reproduce:

It is rare, but it happens. Don't know how to reproduce. Maybe our instance lost internet connection? Don't really know.

### Expected result

Community should be published

#

[2021-02-11 14:19] alexmodis opened #842 "sfdx force:data:soql:query on ApexClass is returning null in SymbolTable instead of object value"
### Summary

sfdx force:data:soql:queryfor ApexClass is returning null in SymbolTable instead of SymbolTable object values

### Steps To Reproduce:
sfdx force:data:soql:query '--query=SELECT Id,Name,SymbolTable FROM ApexClass WHERE NamespacePrefix = '\'''\''' --usetoolingapi -u ORG_ALIAS --json

### Expected result

[code]

###Actual Result

[code]

_Describe what actually happened instead_.

###

[2021-02-11 15:15] davisagli commented on #837
@mdonnalley The docs for installing the Salesforce CLI (https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm) link to the manifest that you say is outdated (https://developer.salesforce.com/media/salesforce-cli/manifest.json). Will the docs be updated to recommend https://developer.salesforce.com/media/salesforce-cli/sfdx-cli/channels/stable/manif

[2021-02-11 16:32] troveryor commented on #205
I just ran into this in a brand new scratch org with a single custom Lightning App added as a placeholder for new dev work.

 Spun up a new project and had the same problem with something named "AppBrand" of type "CustomApplication".
 Added it to the .forceignore as "AppBrand.CustomApplication" to no effect, changed it to "AppBrand.app" did work however.

[2021-02-11 16:34] mdonnalley commented on #837
@davisagli Yes, we plan to update the docs as soon as possible.

There is still a stable url that you can use in your CI: https://developer.salesforce.com/media/salesforce-cli/sfdx-cli/channels/stable/sfdx-cli-linux-x64.tar.xz

[2021-02-11 16:41] mshanemc commented on #842
thanks for reporting this.  We have a new version of the data commands in progress and I'm going to check to see if it has the same problem.

[2021-02-11 16:46] kidjansen commented on #213
Same here, CLI version 7.82.0

[2021-02-11 17:03] mshanemc commented on #842
can you try the query in a more standard format?  This worked for me.

`sfdx force:data:soql:query 'SELECT Id,Name,SymbolTable FROM ApexClass WHERE NamespacePrefix = null' --usetoolingapi -u ORG_ALIAS --json`

<img width="877" alt="Screen Shot 2021-02-11 at 11 02 32 AM" src="https://user-images.githubusercontent.com/4261788/107670759-ae2c6900-6c58-11eb-9e91-932ae3ce30a8.png">

[2021-02-11 17:10] DougMidgley commented on #833
Hey,
Same issue here using sfdx-cli/7.86.3 win32-x64 node-v15.5.1

Files are here inside of the following files
-sharingRules
--Account.sharingRules-meta.xml
--Case.sharingRules-meta.xml

pacakge file is
[code]

[2021-02-11 18:34] mdonnalley commented on #820
@stnarlis2 @lordmarshal

Can you verify that the domain is accessible behind your proxy? Assuming you know the domain ahead of time, you can add this to script:

[code]

If you don't know what the domain will be you can do this assuming you have `jq` installed in the build:

[code]

If you are able to access the domain you will see something like this and we'll have to continue working out what th

[2021-02-11 18:43] codyjbatchelor opened #843 "ERROR running force:project:create: A name parameter is required to create a storage"
### Summary

During deployment process we create a new scratch org, and during scratch org creation we are getting intermittent errors -- : ERROR running force:project:create:  A name parameter is required to create a storage

We have had the same process for the past 2 years and some days scratch org creation is fine and some days we get this error randomly.

We are also always using the latest v

[2021-02-11 19:00] mdonnalley commented on #820
@stnarlis2 @lordmarshal can you also let me know what version of the CLI you're currently running? I'm most interested in knowing which version of node is being used

[2021-02-11 19:14] mshanemc commented on #820
This is a challenge to repro (centos, bamboo, proxy, etc).  Here's a few troubleshooting ideas in addition to what Mike suggested

1.   You're running commands to different ways:

node_modules/sfdx-cli/bin/run.sh force:auth:sfdxurl:store -f loginkey.txt -s

sfdx force:source:deploy -p force-app/main/default --testlevel RunLocalTests

can you try running both commands using the `node_modules/sfdx-c

[2021-02-11 20:02] mshanemc commented on #843
We're on it.

[2021-02-11 20:54] mshanemc commented on #267
That topic is part of oclif and not the Salesforce CLI (that's why it doesn't inherit the `json` flag automatically)

the repo is here if you want to make it happen before we get to it, or at least get it on their issues list
https://github.com/oclif/plugin-plugins

[2021-02-11 20:57] mshanemc commented on #267
same problem here: https://github.com/forcedotcom/cli/issues/279

[2021-02-11 21:01] mshanemc commented on #456
@AllanOricil can you also give this a spin on the new plugin?  If not, I want to get it fixed.
https://github.com/forcedotcom/cli/issues/835

[2021-02-11 21:12] mshanemc commented on #736
I'm closing this issue since it never got fixed and the warning is disappearing in the release

[2021-02-11 21:12] #736 closed, assigned to nobody

[2021-02-12 00:11] AllanOricil opened #844 "ERROR running force:org:create: getaddrinfo ENOTFOUND speed-force-8109-dev-ed.cs43.my.salesforce.com"
### Summary

When attempting to create a SO from a devhub that the authentication token is expired this error is thrown.

![image](https://user-images.githubusercontent.com/55927613/107714958-24b38000-6cc6-11eb-8fd5-6ec1c9f7f072.png)

My suggestion is to always refresh the auth token for the devhub before trying to create a SO, and if it is not possible to grab a new token for the devhub, then don

[2021-02-12 00:34] docbill commented on #839
Yeah.  I tried replacing /usr/local/bin/sfdx with a script to always call strace, just because the same bug is hitting many different sfdx commands.  However, it turns out that breaks the scenario when sfdx legitimately tries to leave a daemon running in the background.   So it is a good command line solution, but it is not good for fixing issues like running a test class never returns anymore if

[2021-02-12 01:27] paulchensfdc commented on #36
Is this issue still happening?  I can see the correct result in Step 8: Pull your code again and see: No Results Found --> I see the correct changes reflected in my force:source:pull

[2021-02-12 02:47] aesanch2 opened #845 "Scratch Org Users in nonScratchOrgs result"
### Summary

Not sure if this is a regression or a change to the API, but `force:org:list` now returns users created in a scratch org in the `nonScratchOrg` section of the response. These users were previously in the `scratchOrg` response. This has caused some of my scratch org automation to fail.

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouse

[2021-02-12 05:47] amphro commented on #783
The 7.76 -> 7.77 was when we moved over to the [open-source auth plugin](https://github.com/salesforcecli/plugin-auth). @mdonnalley can you look at the differences between `salesforce-alm` and `@salesforce/plugin-auth`. Maybe that will give as an ideal why it is failing for some users.

[2021-02-12 09:03] alexmodis commented on #842
@mshanemc thanks :) I did update my pipeline, wait & see :D

[2021-02-12 09:14] FabienTaillon commented on #311
Looks like the behavior is now documented [here](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_source_tracking_source_tracking_profiles.htm).

[2021-02-12 09:27] enarlis commented on #820
Hello everyone and thank you!

@mdonnalley

[code]
The above commands give me as output

[code]
I tried  similar tests with wget in the past and the result was successful as well.

Some of the many versions we have used are below:
[code]
I will try to test also with previous node versions, though I'm not sure if it is possible because we don't have full control on the environment.

@mshanemc

We n

[2021-02-12 10:18] jakubburkiewicz commented on #829
Fixed. Thanks :)

[2021-02-12 10:19] alexmodis commented on #842
@mshanemc not better, it return nulls from time to time.

EDIT : Every time since this morning
EDIT2: I did add a loop to retry 10 times in case I didn't get a proper result, but not better.
[code]

[2021-02-12 13:41] mnunezdm commented on #323
any news?

[2021-02-12 13:45] AllanOricil opened #846 "Give swags/prizes/titles or some sort of compensation for everyone that is constantly helping Salesforce for free here in Github"
**Is your feature request related to a problem? Please describe.**
No, is just that I and other developers are helping a billionaire company to provide better services to all their customers for free and I thought that it would be cool if SF could give some kind of compensation to us, or if we can get a contract to keep doing so. I'm doing the work of a PO and a QA here quite often, and I'm sure I

[2021-02-12 13:46] FabienTaillon commented on #826
@WillieRuemmele so now it's working.
Seeing that clientId was different, I reauthenticated to my DevHub, and now I don't get the error.

These information were coming from the file `/Users/myuser/.sfdx/mySalesforceUsername@myorg.com.json` and the file included `"clientId": "SalesforceDevelopmentExperience"`, plus a `clientSecret` value.

After authenticating again, I now have `"clientId": "Platfor

[2021-02-12 14:25] struthe commented on #820
Hi @mdonnalley ,

same result here :

12-Feb-2021 15:17:30 | HTTP/1.1 200 OK
-- | --
12-Feb-2021 15:17:30 | X-Cnection: close
12-Feb-2021 15:17:30 | Date: Fri, 12 Feb 2021 14:17:30 GMT
12-Feb-2021 15:17:30 | Strict-Transport-Security: max-age=31536002; includeSubDomains
12-Feb-2021 15:17:30 | Public-Key-Pins-Report-Only: pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNE

[2021-02-12 15:34] mdonnalley commented on #820
@stnarlis2 @lordmarshal

Thanks for the replies. It sounds like we can rule out the possibility of this being an issue with your proxy.

Next thing I want to rule out is whether it has anything to do with the node version. To do that we have a couple options:
1. Install 7.85.1: https://developer.salesforce.com/media/salesforce-cli/sfdx-cli/channels/stable/sfdx-cli-v7.85.1-2fb9e41053-linux-x64.tar.

[2021-02-12 18:14] mrichmon12 commented on #783
@mdonnalley There are a number of what appear to be duplicates to this issue that started popping up after 7.77 was released. #767 #834 #839

In my situation I hadn't authorized a new sandbox org with 7.77+ until after a sandbox refresh sometime in December. This may explain the delayed issue reporting.

As mentioned in one of the other issues, using `force:auth:device:login` works as a workaround

[2021-02-12 23:28] mjyocca opened #848 "SFDX Environment Variable to override the directory where .sfdx/* is stored"
**Is your feature request related to a problem? Please describe.**
I'm trying to use a lambda container function to authenticate with our devhub however I'm running into issues as the only directory during lambda execution that is available to write to is the tmp directory.

Receiving: `SfdxError: ENOENT: no such file or directory, open '/home/sbx_user1051/.sfdx/sfdx.log'`

Attempted to get around

[2021-02-13 01:06] stest08 commented on #840
Actually, this same thing is happening to me. It never returns from localhost:1717. Proxy environment variables are set and this has never been an issue before.

**sfdx-cli --version**
- sfdx-cli/7.85.1-2fb9e41053 darwin-x64 node-v12.18.3

**sfdx plugins --core**
@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.1 (core)
@oclif/plugin-not-found 1.2.

[2021-02-13 12:40] kamalsomu commented on #836
@lcampos @mdonnalley I was using SFDX CLI Version: sfdx-cli/7.82.0-52018670a1. I have updated the cli. It looks like the issue got fixed. Thank you..

[2021-02-14 01:07] dpuza-formativ commented on #834
I frequently have this issue.  For a while I had luck setting my default browser to Firefox when I auth (I normally use Chrome).  But then I got the same issue on Firefox too.  Then I worked around it using Edge.

[2021-02-14 18:52] dcstuff commented on #119
@mshanemc Confirmed this is still happening! Fresh scratch org. I had modified some listviews on some _custom_ objects.

First errors came down that it could not find certain listviews on some wacky standard objects which I had never heard of -- exactly this person's issue, dated Jan 11: https://developer.salesforce.com/forums/?id=9062I000000IWO4QAO

The only workaround that worked was adding the

[2021-02-14 22:33] davidcatindoy opened #849 "Make Healthcloud relationship cards and Experience Cloud audience available in SFDX"
11:29:41.291 sfdx force:source:pull
We can’t retrieve the specified metadata object: UIObjectRelationConfig. Certain metadata types, like HSSAccountCard are not currently supported by the CLI.
File a bug here: https://github.com/forcedotcom/cli/issues and provide the name of the unsupported metadata type
We can’t retrieve the specified metadata object: UIObjectRelationConfig. Certain metadata type

[2021-02-15 07:28] enarlis commented on #820
Hi @mdonnalley,

I was able to try the following versions, but unfortunately the errors remain (org not found, MyDomainResolver).
[code]
If you need any further information I'm available.
Thank you for the support!

[2021-02-15 08:18] FabienTaillon commented on #826
@amphro @clairebianchi maybe you'll know more on this connected app change (`SalesforceDevelopmentExperience` --> `PlatformCLI`) ?

[2021-02-15 10:30] struthe commented on #820
Hi @mdonnalley

as mentioned above, a new version of node is requires for a plugin that we want to use in the further build process.
I got a setup running bit it is not the best solution.

1. I set up a docker.
2. I install the cli version from here : https://developer.salesforce.com/media/salesforce-cli/sfdx-cli/channels/stable/sfdx-cli-v7.85.1-2fb9e41053-linux-x64.tar.xz
3. I unpack the file.
4.

[2021-02-15 17:46] #830 closed, assigned to nobody

[2021-02-15 18:11] pogilvie opened #850 "sfdx force:schema:sobject:describe timeout on Apple Silicon"
### Summary

_sobject describe command timeout on new apple laptop with M1 processor other commands are working_.

I'm not seeing this issue on intel Macs running the same versions of OS and CLI.   Note that I'm only have an issue with the object:describe command, other cli commands including push/pull are working fine.

### Steps To Reproduce:

1.  prerequisites:
- a DX authenticated org
- apple

[2021-02-15 18:33] pogilvie commented on #850
I found that when I reboot my machine describe works the first time and timeout the second time if I repeat the command immediately.   Maybe there's a cache which is not working?

[2021-02-15 21:16] shivani-ar commented on #622
Is this fixed? I've been having similar issue. Not able to deploy anything in Destination org(Sandbox).  For example - Trying to deploy permission set/apex class/Layout or anything. It is coming with following errors:

1. The PermissionSet named BDR_Extra_Access was not found in the workspace.
2. The ApexClass named Accounts was not found in the workspace.

[2021-02-16 09:05] FabienTaillon commented on #826
I'm closing this one as I got it fixed, even though I don't know why the connected app changed. I'll let it up to you to see if this could be the root cause of other open issues.
Thanks @WillieRuemmele for the help 👍

[2021-02-16 09:05] #826 closed, assigned to nobody

[2021-02-16 11:42] struthe commented on #820
Hi @All,

some more investigation.
I think it could be a node (config) problem.

When running the following command :
node -pe 'require("dns").lookup("CUSTOMDOMAIN.my.salesforce.com",function(){console.dir(arguments)})'

The result is the following:
build	16-Feb-2021 11:46:23	GetAddrInfoReqWrap {
build	16-Feb-2021 11:46:23	  callback: [Function (anonymous)],
build	16-Feb-2021 11:46:23	  family: 0,

[2021-02-16 14:27] shivani-ar opened #851 "ERROR running force:source:deploy: The PermissionSet named ContentHubUser was not found in the workspace."
### Summary

sfdx force:source:deploy -p "force-app/main/default/permissionsets/BDR_Extra_Access.permissionset-meta.xml"
ERROR running force:source:deploy:  The PermissionSet named BDR_Extra_Acces was not found in the workspace.

### Steps To Reproduce:

1. Checkout to a branch to deploy permission set to sandbox or scratch org
2. Try to deploy any permission set with below commands
   sfdx force:

[2021-02-16 14:39] mshanemc commented on #851
Your command is using `BDR_Extra_Access` and it's trying to deploy `BDR_Extra_Acces` (missing an `s`)

Can you look through all the filenames in your source and make sure they're spelled correctly, including the `label` property?

[2021-02-16 15:06] shivani-ar commented on #851
@mshanemc sorry! That was typo. Yes all name and labels are correct.

[2021-02-16 15:34] jamesmelville commented on #340
I've had similar errors twice today, and as others have reported, the job doesn't just not exit with failure, but looks like it hangs until some other timeout is hit.

Once with a force:source:push, which failed, but then just sat there until the 10m no output timeout on my circleCI job expired

[code]

And once with an `force:apex:test:run`, which I think hung until the `--wait` timeout of 60m wa

[2021-02-16 16:47] jamesmelville opened #852 "sfdx force:org commands return TypeError: (intermediate value).getNumber is not a function"
### Summary

I am experiencing what seems to be the same issue as reported by another person here:
https://salesforce.stackexchange.com/questions/333535/errors-running-sfdx-forceorg-commands-getnumber-is-not-a-function

Since today I've been unable to run commands like sfdx force:org:list or sfdx force:org:open, all return the error
`TypeError: (intermediate value).getNumber is not a function`

##

[2021-02-16 16:48] jamesmelville commented on #852
Output of `sfdx force:org:list --dev-debug`

[code]

[2021-02-16 16:58] thomasminney commented on #340
Getting the same error on `sfdx force:mdapi:deploy:report`:

[code]

As with others, this is crippling our Salesforce release pipeline. Whilst this had been happening occasionally in the past, since Spring '21 this has become an hourly occurrence.

[2021-02-16 18:05] mdonnalley commented on #820
@lordmarshal @stnarlis2

I just found a bug that was introduced in v2.17.0 of `@salesforce/core` that decreased the dns lookup timeout from 30 seconds to 3 seconds and the retry attempts from every 10 seconds to every 3 seconds... So essentially in v2.17.0 and newer, core only executes a single lookup attempt and then stops trying.

I just created a PR (https://github.com/forcedotcom/sfdx-core/pul

[2021-02-16 21:54] mdonnalley commented on #852
@jamesmelville I haven't been able to reproduce this error on windows with v7.85.1

It looks like the stackexchange link you provided has some proposed solutions: have any of those worked for you?

[2021-02-16 22:02] KavyaRaoNeelagiri opened #853 "Email templates doesn't retrieve .email file in VSCode"
When i add email template in Package.xml (tried with version 46,47,48,49 and 50)
<types>
        <members>unfiled$public</members>
		<members>unfiled$public/Service_Credits_Approval_Email</members>
		<name>EmailTemplate</name>
</types>
and then do "Retrieve it from source org", it doesnot retrieve text in that email template.
The files retrieved are "Service_Credits_Approval_Email" EMPTY FOLDER (n

[2021-02-16 22:19] mdonnalley commented on #853
@KavyaRaoNeelagiri Can you update the description to adhere to our bug template:

### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

***NOTE:** If your issue is not reproducable by dreamhouse-lwc, i.e. requires specific metadata or files, we **require** a l

[2021-02-16 22:26] mdonnalley commented on #844
@AllanOricil can you provide the entire debug output (using `--dev-debug`)?

[2021-02-16 22:27] struthe commented on #820
Hi @mdonnalley
After investigating the code of the Versions delivered with the ZIP file and the NPM package I saw that different salesforce/core versions are used.
When comparing the Connection.js I saw that you have introduced a method isResolveable.(version 2.18.0)
Here you do the DNS lookup.
When the DNS lookup fails the exception „the org cannot be found“ is thrown.

In the zip you deliver 2.1

[2021-02-16 22:28] mdonnalley commented on #839
Duplicate of https://github.com/forcedotcom/cli/issues/783

[2021-02-16 22:28] #839 closed, assigned to nobody

[2021-02-16 22:29] mdonnalley commented on #767
Duplicate of https://github.com/forcedotcom/cli/issues/783

[2021-02-16 22:29] #767 closed, assigned to nobody

[2021-02-16 22:31] mdonnalley commented on #834
Duplicate of https://github.com/forcedotcom/cli/issues/783

[2021-02-16 22:31] #834 closed, assigned to nobody

[2021-02-16 22:35] mdonnalley commented on #833
@dimitrimonge @DougMidgley could either of you provide a link to a github repo that contains the metadata that replicates this issue?

Thanks

[2021-02-16 22:36] #836 closed, assigned to nobody

[2021-02-16 23:44] JayQuerido commented on #818
Aside from the bug being tracked internally at Salesforce, they have also issued this: https://trailblazer.salesforce.com/issues_view?id=a1p4V000001nT1wQAE

[2021-02-17 07:56] struthe commented on #820
Hi @All,

I have found a "solution" for my problem.
After having a deeper look into the code, I retrace when the dns command is executed.

The DNS lookup is only executed when the the CLI tries to get the maximum API Version from Salesforce API.
This is only done, when no API Version is set in the config.
So, when I set the API Version with sfdx force:config:set apiVersion=51.0 the commands work w

[2021-02-17 11:45] aidan-harding commented on #852
I have the same issue on Mac. My version info is:

sfdx-cli/7.85.1-2fb9e41053 darwin-x64 node-v12.18.3

Plugins:

@dx-cli-toolbox/sfdx-toolbox-package-utils 0.3.3
@oclif/plugin-autocomplete 0.3.0
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.9.5 (core)
@oclif/plugin-update 1.3.10 (core)
@oclif/plugin-warn-if-update-availab

[2021-02-17 12:06] enarlis commented on #820
Hi,

the solution above fixed our issue as well.

[2021-02-17 12:10] jamesmelville commented on #852
@mdonnalley I went with the workaround of the full uninstall/reinstall, which got me back to 7.81.0, then updated the fresh install and ended up on 7.85.2 and all seems to be working fine again now (or at least opening /listing orgs works).
Like Aidan I had tried downgrading some of the package versions (`sfdx-cli`, `salesforcedx` and `salesforce-alm`), but I hadn't gone enough versions back befor

[2021-02-17 15:59] mdonnalley commented on #820
@lordmarshal thanks for tracking that down! We have a bug logged internally to fix this. My hope is to get it in before the next release

[2021-02-17 16:25] #840 closed, assigned to nobody

[2021-02-17 16:33] gadamson-upco commented on #28
Seeing the same issue here. Any modifications to the object fails with

sfdx-cli/7.85.1-2fb9e41053 darwin-x64 node-v12.18.3

[2021-02-17 19:48] chernyy-svyat commented on #851
@shivani-ar this error can be caused by the presence of `BDR_Extra_Access` in the `.forceignore` file. Check it.

[2021-02-17 19:55] dpuza-formativ opened #855 "force:source:deploy "No results found" on CLI version 7.85.1"
### Summary

_Short summary of what is going on or to provide context_.

After "sfdx update" to 7.85.1, "force:source:deploy" has stopped working for us.  Get the message "No results found" and nothing is deployed.

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

***NOTE:** If your issue is not reproducable by dreamhouse-lwc,

[2021-02-17 20:10] shivani-ar commented on #851
No its not in .forceignore file and its not working for any permission set.

[2021-02-17 22:21] mdonnalley commented on #820
@lordmarshal @stnarlis2 we just published a new version of core that introduces a new environment variable for disabling the problematic dns lookup: `SFDX_DISABLE_DNS_CHECK`

That dns lookup was added to improve the performance of the `force:org` commands when users have expired orgs. We decided that we'd prefer to keep the dns lookup since more users are affected by the performance issue than the

[2021-02-17 22:21] #820 closed, assigned to nobody

[2021-02-18 01:13] ghost commented on #855
We have a similar issue. I cant pull/push to/from a Scratch org retrieve/deploy from a sandbox.

[2021-02-18 03:37] ghost opened #856 "sourcePathInfo.getPendingPathInfo is not a function issue in source pull/push deploy/retrieve"
### Summary

I have updated to the latest sfdx-cli and salesforcedx and I cannot use the source commands anymore. I am using sfdx installed using npm instead of the stand-alone one.

` sfdx plugins --core`
@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.9.5 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (

[2021-02-18 12:18] struthe commented on #820
Hi @mdonnalley
i have tested the fix and it worked like a charm.
Thank you for the quick update.

Kind regards

[2021-02-18 15:11] #579 closed, assigned to nobody

[2021-02-18 15:26] #852 closed, assigned to nobody

[2021-02-18 15:58] mdonnalley commented on #855
Duplicate of https://github.com/forcedotcom/cli/issues/851

[2021-02-18 15:58] #855 closed, assigned to nobody

[2021-02-18 15:59] mdonnalley commented on #851
@shivani-ar @dpuza-formativ try downgrading salesforcedx to 50.16.1

[code]

I'll continue investigating what's going on but downgrading should unblock you in the meantime

[2021-02-18 16:13] PawelWozniak opened #857 "force:source:retrieve add append mode or star operator."
**What are you trying to do**
Today I tried to download newly created workflow rule by using:
[code]
And found out that those commands are overwriting the same file ```Case.workflow-meta.xml``` so or I have Rule or Alert there.
Then I executed both together ``` -m "WorkflowRule:Case.MyRule, WorkflowAlert:Case.MyEmailAlert" ``` and got both in that file.
However this still an issue when you have la

[2021-02-18 18:52] dcstuff opened #858 "sfdx force:user:password:generate generated an invalid password"
### Summary

This popped up in our CI pipeline today, just the once: `ERROR running force:user:password:generate:  INVALID_NEW_PASSWORD: Your password must include letters and numbers`.

Go get 'em, team!

`sfdx-cli/7.85.1-2fb9e41053 win32-x64 node-v12.18.3`

Too many plugins
[code]

[2021-02-18 18:54] mshanemc commented on #858
This is happening intermittently--sometimes you get a password with numbers in it, sometimes not.  Unfortunately, until we fix it and release, you just have to retry it as a workaround.

W-8904350

[2021-02-18 18:57] dcstuff commented on #858
Thanks, @mshanemc! Wish I was still part of the Ohana just so I could follow the GUS tickets!

[2021-02-18 20:49] mshanemc commented on #858
@dcstuff  you can at least see the PR now that most stuff is moving to open-source.  When that closes, it means it's getting pretty close.

[2021-02-18 20:57] mshanemc commented on #843
Can you check 2 things
1. What's the name of the project you're trying to create?
2. Is there a package.json anywhere nearby that's getting hit (for example, you're trying to create a project on top of an existing one, or there might be a package.json somewhere in a directory above the one you're trying to create the project from)

[2021-02-18 23:44] aheber opened #860 "MDAPI REST Deploy - `Unexpected token < in JSON at position` -- incorrect exit code"
### Summary

Deploying to a fresh scratch org using the REST Metadata API sometimes results in deployment errors, often ~15-30 minutes after org creation, it works until it doesn't. Those errors aren't handled well and the result ended in "success" exit code (0) when it should be error (1+).
Errors in parsing a JSON message that is actually an HTML message causes everything to break and not handle

[2021-02-19 00:18] fmendes commented on #820
Is there a "sfdx config:set" name for it?

[2021-02-19 02:41] mshanemc commented on #860
thanks for the cool repro for proving an intermittent bug (repeat until failure).

There's a big revision in progress to the deploy, which won't use that force.js file.

We can use this issue as a test case (mock html from the api AND proper exit code)

[2021-02-19 04:14] harryheart commented on #852
Met the same issue, resolved it by uninstall and then reinstall the salesforcedx plugin
`sfdx plugins:uninstall salesforcedx`
`sfdx plugins:install salesforcedx@latest`

**version**
`sfdx-cli/7.85.1-2fb9e41053 darwin-x64 node-v12.18.3`

**plugins**
[code]

[2021-02-19 15:12] jbeauchamp715 opened #879 "Can not delete source in Org from VS Code"
### Summary

I am trying to delete an Apex class from the Salesforce Org I am attached to and I am getting an error.
ERROR running force:source:delete:  Cannot read property 'getElementsByMetadataFilePath' of undefined

### Steps To Reproduce:

1.  Select file from the File Explorer and right click on it.
2.  Select the SFDX: Delete from Project and Org option
3. Select the Delete Source button in

[2021-02-19 20:16] #858 closed, assigned to nobody

[2021-02-19 22:20] #821 closed, assigned to nobody

[2021-02-20 00:17] JNiedle opened #861 ".forceignore Does Not Work as Documented"
### Summary

When running `sfdx force:source:retrieve --manifest path/to/package.xml` or `sfdx force:source:retrieve --sourcepath path/to/object/contact`, the .forceignore file is not being respected for managed packages.

### Steps To Reproduce:

1. install an app with a namespace in your developer org such as [smart vCard](https://appexchange.salesforce.com/appxListingDetail?listingId=a0N3A00000

[2021-02-21 12:59] pogilvie commented on #850
Describe works if I call JSforce directly.

works ...

[code]

broken on M1 but works on Intel with version of OS and sfdx.

[code]

[2021-02-22 15:29] CiaranShocks opened #862 "force:source:retrieve cannot retrieve a package version"
**Is your feature request related to a problem? Please describe.**
I have a managed package which was created sometime ago. Since then numerous developers have made changes in the dev org. I would like to retrieve the unedited code from a specific package version. The package version is still available to install but I cannot retrieve the code base of that version.

**Describe the solution you'd l

[2021-02-22 16:20] AllanOricil opened #863 "Error: Client network socket disconnected before secure TLS connection was established"
### Summary

While installing packages I got this error

![image](https://user-images.githubusercontent.com/55927613/108736418-80cd9e00-7529-11eb-948d-5781ca1dc5c2.png)

### Steps To Reproduce:

No idea how to reproduce

### Expected result

The package should always be installed and the connection should be retried if lost

### Actual result

While installing the package the connection got lost a

[2021-02-22 16:24] AllanOricil commented on #862
@CiaranShocks I think you can go to your git repository and then releases and find the package version you are looking for.  Then you do a checkout on the hash of that release to get the sources for that particular version.

[2021-02-22 16:43] mshanemc commented on #861
@JNiedle there's an improved version of the forceignore stuff in progress.  If you're able to, can you check to see if it fixes the problem with packages/namespaces?

it's just a commented line that you add to the file to opt in to the new version.
https://github.com/forcedotcom/cli/blob/main/releasenotes/README.md#5020-october-22-2020---cli-7771

[2021-02-22 17:21] CiaranShocks commented on #862
@AllanOricil I probably should have been more specific and mentioned that this use case is for pulling a specific package version from a 1GP managed package in a dev org. There is no git repo or project associated with it.

[2021-02-22 17:33] JNiedle commented on #861
Hi @mshanemc. I was using the `# .forceignore v2` and had the same result. I confirmed that the `<packagenamespace>__*` pattern worked for gitignore by adding the same pattern to my gitignore where those files were successfully ignored by git.

[2021-02-22 17:42] #811 closed, assigned to nobody

[2021-02-22 17:59] RensVerhagen commented on #602
We are also experiencing this weird behaviour, where recordType-meta.xml files are retrieved in listviews, fields and business process folders...

![image](https://user-images.githubusercontent.com/20991258/108749367-078d7580-7540-11eb-8541-42328ffff62b.png)

[2021-02-22 22:45] alanmangalindan opened #864 "sfdx force:auth:web:login not working (also via VSCode extensions), sfdx auth:web:login is also not working"
### Summary

After running sfdx force:auth:web:login command and entering username and password, the confirmation does not appear where the CLI has successfully authorised. Instead, an OAuth error appears on the screen.

This is the same behaviour when using the VSCode Extensions using the VSCode UI.

### Steps To Reproduce:

**Repository to reproduce:** Not applicable

***NOTE:** If your issue is

[2021-02-23 00:17] mrichmon12 commented on #783
A known issue has been created for this issue: [Unable to authenticate when using force:web:auth:login on Linux](https://trailblazer.salesforce.com/issues_view?id=a1p4V000001qVrLQAU)

[2021-02-23 09:40] RensVerhagen commented on #714
Seems the same issue as: #602

[2021-02-23 09:59] dhbahr commented on #864
I can also confirm the issue, downgrading to 7.26.0 solves it.

[2021-02-23 10:09] AllanOricil opened #865 "ERROR running force:community:create: The requested resource does not exist"
### Summary

ERROR running force:community:create:  The requested resource does not exist

![image](https://user-images.githubusercontent.com/55927613/108828757-2aab3a00-75bf-11eb-8507-8efd89b17cbe.png)

### Steps To Reproduce:

No idea how to reproduce

### Expected result

Community should be created if Communities is enabled on a Scratch Org

### Actual result

Community can't be created on a S

[2021-02-23 10:09] uip-robot-zz commented on #865
Git2Gus App is installed but the `.git2gus/config.json` doesn't have right values. You should add the required configuration.

[2021-02-23 10:13] #865 closed, assigned to nobody

[2021-02-23 10:14] AllanOricil commented on #865
my mistake. The default so was wrong

[2021-02-23 11:05] azlam-abdulsalam commented on #753
@ImJohnMDaniel  while this is irritating, It would be great if the cli can print out the path to the shape file and provide an option to retain it, as this is one of the mechanism we use to update shape of the pooled orgs

[2021-02-23 14:28] MaciekLeks opened #866 "Unknown type name 'IndustriesManufacturingSettings' specified in package.xml in v7.88.4 and 7.89.1"
### Summary

After upgrading version from 7.86.3 to either 7.88.4 or 7.89.1 we get
[code]
while we run:
[code]

We had to downgarde to 7.86.3 cause we have nothing to do with that settings in our code.

### Step to reproduce

It could be hard to reproduce while it could be related to our force-app, but you can try to use the sfdx force:source:deploy instruction from the Summary.

[2021-02-23 14:28] uip-robot-zz commented on #866
Git2Gus App is installed but the `.git2gus/config.json` doesn't have right values. You should add the required configuration.

[2021-02-23 15:05] gdman opened #867 "force:auth:jwt:grant / force:mdapi:deploy failing in 7.88.4 / 51.0.4 - FILE HAS NO CONTENT"
### Summary

Since 7.88.4 / 51.0.4 running force:mdapi:deploy after force:auth:jwt:grant is failing with the following error message:

[code]

A subsequent deployment using the same alias works so my assumption is that maybe the writing of the auth info to the file hasn't completed by the time the deploy command runs? These commands are run one after another in our build tools.

I have tests that

[2021-02-23 15:05] uip-robot-zz commented on #867
Git2Gus App is installed but the `.git2gus/config.json` doesn't have right values. You should add the required configuration.

[2021-02-23 15:08] ntotten commented on #846
While I understand the reasoning to some degree, this isn't something we will be doing - at least not as a policy. First, it's just not practical as we have no means of tracking, deciding level of contribution (i.e. do you get a t-shirt or sweatshirt), and distributing this sort of thing There are all kinds of issues like taxes that would need to be dealt with that we aren't going to get into beca

[2021-02-23 15:08] #846 closed, assigned to nobody

[2021-02-23 15:41] eyhuellou opened #868 "Error during installation of Spring 21 Billing Managed Package into Scratch Org"
### Summary

Seems not possible to install last version of Billing Package into a brand new scratch org.

### Steps To Reproduce:

1.  Create a scratch org
2.  Try to install package into scratch Org : sfdx force:package:install -p packageid -u so_alias  -w 40

### Expected result

Complete installation

### Actual result

Waiting for the package install request to complete. Status = IN_PROGRESS
E

[2021-02-23 15:41] uip-robot-zz commented on #868
Git2Gus App is installed but the `.git2gus/config.json` doesn't have right values. You should add the required configuration.

[2021-02-23 15:51] aheber opened #869 "SFDX throwing many `(node:22792) Warning: Accessing non-existent property '<prop>' of module exports inside circular dependency`"
### Summary

All SFDX commands are now throwing strange node errors on every invocation. I have uninstalled all custom plugins and still seeing the same behavior. Seems to have been in the most recent update. Looking at the internet suggests this is a new warning thrown by Node 14.

### Steps To Reproduce:

Ensure you are on the latest SFDX, run `sfdx --version`
[code]

If I enabled the trace-warn

[2021-02-23 15:51] uip-robot-zz commented on #869
Git2Gus App is installed but the `.git2gus/config.json` doesn't have right values. You should add the required configuration.

[2021-02-23 16:30] marioconcilio commented on #867
We also faced this issue with version 7.86.3 / 50.16.1 running `force:source:deploy` right after after a successful jwt authentication using `force:auth:jwt:grant`.

### Additional info:
sfdx-cli/7.86.3 linux-x64 node-v12.16.2

@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.9.5

[2021-02-23 16:34] ChuckJonas commented on #846
I think most of us contribute because:

A: we want to improve our own/teams DX & productivity
B: it makes you a better developer to debug & develop on large codebases outside of what you work in on a daily basis.

They also sometimes put major contributions in the change log, which is honestly very nice, but not something they have to do.

The Salesforce community is already way too focused on int

[2021-02-23 16:50] florian-interaktiv commented on #829
Hey there,

any updates regarding this issue?

[2021-02-23 17:16] ntotten commented on #846
This is a valid point. My understanding is the reason we do this is because external contributors can't run all the tests. I'll mention this to the team though.

[2021-02-23 17:17] pacafuentes commented on #867
Same issue is happening to me with 7.88.4 / 51.0.4

[2021-02-23 17:31] zerkz commented on #869
https://github.com/forcedotcom/lwc-dev-server-feedback/issues/106 @aheber

[2021-02-23 18:28] brandbarr commented on #191
Same issue for me as well.

[2021-02-23 18:34] vladfromrome commented on #867
Workaround: add a try/catch in the deployment pipeline and run the deploy command again (I added a loop that retries max 10 times with 5 sec interval).

[2021-02-23 18:47] pacafuentes commented on #867
I ran `sfdx force:org:list` between `sfdx force:auth:jwt:grant` and `sfdx force:org:create`
and it worked for me.

Im also running it in my build steps of the CI

[2021-02-23 20:18] aheber commented on #869
Thanks @zerkz. I can confirm that this goes away if I uninstall the `lwc-dev-server` plugin.

[2021-02-23 22:02] aheber commented on #860
For any who come after. I opened support case number 40502104 for the problem with the REST API and they indicated that it will be handled as part of the internal work item referenced above, W-8910494.

[2021-02-23 22:09] torynet commented on #864
Same problem for multiple members of my team after updating from 7.85 to 7.88, except that no version of the command line seems to resolve it.
Ticket in with support, but in the meantime I will attempt to downgrade. I would like to see if I can find something less drastic than 7.26.0 from a year ago. Downgrading back to 7.85 did not resolve it. Perhaps it's an issue with a dependency... Also my lo

[2021-02-23 23:19] #814 closed, assigned to nobody

[2021-02-23 23:19] #816 closed, assigned to nobody

[2021-02-23 23:19] #844 closed, assigned to nobody

[2021-02-23 23:19] #853 closed, assigned to nobody

[2021-02-23 23:35] aly76 opened #870 "Release v51 breaks mdapi deployment"
### Summary

In release v51, `force:mdapi:deploy` now uses the REST API by default, which is failing with a JSON parser error. See below for error stack.

### Steps To Reproduce:

1.  Run the mdapi deployment without the --soapdeploy parameter

`$ sfdx force:mdapi:deploy -u <env> -d <dir> --json -l RunSpecifiedTests -r skip`

### Expected result

Deployment is queued

### Actual result
[code]
###

[2021-02-24 00:03] AngelMtz97 commented on #864
I have the same issue, it keeps loading in Ubuntu

- sfdx-cli/7.85.1-2fb9e41053 linux-x64 node-v12.18.3

- Visual Code:

Version: 1.53.2
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:44.518Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Linux x64 5.4.0-66-generic snap

[2021-02-24 00:28] azlam-abdulsalam commented on #870
The current workaround is to use --soapdeploy and everything works as expected

[2021-02-24 01:20] torynet commented on #864
hmm... No level of downgrading or even fully uninstalling and reinstalling an older version from NPM has been able to change the behavior for us.

Frankly the "downgrade" procedure I read didn't seem to work. Telling it to install the plugin of a particular version would seem to work, but then if you did "sfdx -v" it would still just say 7.88.4.

[2021-02-24 04:08] zerkz commented on #870
`force:source:deploy` also seems to be defaulting to REST API deploys , but this command does NOT seem to have the `--soapdeploy` switch.

[2021-02-24 06:48] calvinle1 commented on #866
Hi, our developers are also experiencing this issue with version 7.89.1.

Can you please confirm?

[2021-02-24 06:52] dvon88 opened #871 "Retrieve changes js-meta file extensions"
### Summary
Sometime when retrieving from an org, the js-meta.xml files are changed to css-meta.xml This only happens with LWC that has a CSS file, but does not always occur with all files. However, once it occurs with one file, it always occurs with that file. The component then cannot be deployed to an org unless the file is manually renamed to js-meta.xml again.

### Steps To Reproduce:

1.  Re

[2021-02-24 07:07] MaciekLeks commented on #866
Yes, the same result. I've updated the title.

[2021-02-24 08:20] dhbahr commented on #864
Really? Not even the oldy but goody 7.26.3? Truth be told I did not put too much effort on finding the most recent working version, but 7.26.3 really came through for me.

Yeah, my mac user colleagues also don't seem to be affected.

I can also confirm that 7.88.4 does not solve it for me.

[code]

Also, I just realized the original reporter claims the cli does work for him, I just want to state f

[2021-02-24 08:24] dhbahr commented on #864
BTW, as per https://github.com/forcedotcom/salesforcedx-vscode/issues/2931#issuecomment-784843086 maybe try downgrading the salesforcedx plugin directly.

[2021-02-24 08:45] JulietJet commented on #867
the same issue on v.7.70.1

[2021-02-24 09:29] pablogrs commented on #191
This is a recurrent problem with Snapshots, when a new Salesforce release comes out, Snapshots gets broken.

[2021-02-24 09:44] Patlatus opened #872 "SyntaxError: Unexpected token < in JSON at position 1 when I run sfdx force:source:deploy -p force-app"
$ sfdx force:source:deploy -p force-app
*** Deploying with REST ***
SyntaxError: Unexpected token < in JSON at position 1
    at JSON.parse (<anonymous>)
    at Request._callback (C:\Users\Bohdan\AppData\Local\sfdx\client\7.88.4-3b2e55c3f1\node_modules\salesforce-alm\dist\lib\core\force.js:583:25)
    at Request.self.callback (C:\Users\Bohdan\AppData\Local\sfdx\client\7.88.4-3b2e55c3f1\node_module

[2021-02-24 10:20] eyhuellou commented on #868
Ok problem solved by having an org shape created from DevHub which will indeed contain Finance Transaction & Finance Balance Snapshot Object.

[2021-02-24 10:20] #868 closed, assigned to nobody

[2021-02-24 10:29] alexmodis commented on #867
Same issue here on v7.88.4 when trying to deploy with **force:source:deploy** -p

[code]

[2021-02-24 10:32] Patlatus commented on #872
was able to resolve by uninstalling completely and reinstalling

[2021-02-24 10:32] #872 closed, assigned to nobody

[2021-02-24 14:23] m-janki commented on #867
We are encountering the same issue as well since 22-Feb when trying the deploy and query command:
`sfdx force:mdapi:deploy`
`sfdx force:data:soql:query`

### Version
+ sfdx version
sfdx-cli/7.88.4 linux-x64 node-v14.5.0

+ sfdx plugins --core
@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.2.2 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugi

[2021-02-24 15:06] m-janki commented on #867
Temporarily rolling back to salesforcedx@50.7.1 and sfdx-cli@7.82.1-0 seems to work for us while waiting for the issue with salesforcedx@51.0.2 to be fixed.

[2021-02-24 15:37] jclark-dot-org opened #873 "Please restore -definitionfile param to force:org:shape:create"
**Is your feature request related to a problem? Please describe.**
Salesforce DX is a feature for managing Salesforce Development using source-driven development techniques.  The first v51 release removed an important tool for source-driven development.  From the [releasenotes][1] :

[1]: https://github.com/forcedotcom/cli/tree/main/releasenotes#removed-parameters

This request is intended to prov

[2021-02-24 15:37] uip-robot-zz commented on #873
This issue has been linked to a new work item: [W-8930603](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000097Nd1IAE/view)

[2021-02-24 16:38] birchasaur commented on #867
Rolling all the way back to sfdx-cli@7.52.0 resolved it on my end

[2021-02-24 17:15] PreetiSF opened #874 "ERROR running force:source:deploy: Parse error in file /home/runner/.sfdx/***.json on line 1 FILE HAS NO CONTENT"
### Summary

We have git actions to deploy validate in salesforce, We think issue is in one of these commands
  npm install sfdx-cli@7.88.4
  node_modules/sfdx-cli/bin/run --version
  node_modules/sfdx-cli/bin/run plugins --core
  npm install @actions/core
  npm install @actions/github
 node_modules/sfdx-cli/bin/run force:source:deploy -

### Steps To Reproduce:

### Expected result

We should be

[2021-02-24 17:29] dt-snyder opened #875 "Metadata placed in wrong folder when retrieving via manifest"
### Summary
When pulling some custom objects random files are placed in the wrong folder. It only happens on some objects and not others. Objects I've seen this happen on are User, Lead, Opportunity, and Account.
![image](https://user-images.githubusercontent.com/15711475/109039246-ce611c80-7689-11eb-9190-7077c30d84de.png)

### Steps To Reproduce:

1. Create a Manifest file that contains the above

[2021-02-24 17:36] bast-shb opened #876 "QuickDeploy goes through but instantly crashed for terminal in 7.88.4"
### Summary

We use Azure DevOps as a CI/CD pipeline for our Salesforce deployment.

We use the org development model and run our deployment in two steps:
- First we do a force:source:deploy with --checkonly and grab the quick deploy id from the results.
- Second we deploy using force:souce:deploy and the quick deploy id.

On monday we ran the pipeline successfully. However in the evening the same

[2021-02-24 17:56] peternhale commented on #874
This issue is being tracked via issue #867.

Closing this issue.

[2021-02-24 17:56] #874 closed, assigned to nobody

[2021-02-24 18:01] peternhale commented on #875
Same being tracked in issue #714.

Closing this issue.

[2021-02-24 18:01] #875 closed, assigned to nobody

[2021-02-24 18:35] DougMidgley opened #877 "ERROR running force:source:deploy: Unexpected element {http://soap.sforce.com/2006/04/metadata}id during simple type deserialization"
### Summary

When deploying using Quick Deploy ID, the following error is thrown as follows but the deployment technically works. No change was made to pipeline (pulling latest version).
This means we cannot parse the results from the deploy and use them in the CICD progress afterwards

[code]

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/

[2021-02-24 18:38] DougMidgley commented on #877
Just saw https://github.com/forcedotcom/cli/issues/876 was also submitted while was still writing this - could be same issue

[2021-02-24 20:22] bast-shb commented on #877
Hey man, we added two reports of the same issue almost at the same time.

Just so you know, I managed to temporarily work around the issue by forcing sfdx-cli to a previous version, rather than latest. This allows you to run the pipeline while this is being fixed.

[2021-02-24 20:50] shetzel commented on #867
A new version of the `@salesforce/core` library (v2.20.1) was published that fixes the issue for npm installs of sfdx-cli.  If you are installing from npm please try again as it should use the latest version of the core library which fixes it.  Not sure if you have to first uninstall but that might be good to ensure it grabs 2.20.1.

[2021-02-24 20:59] jsmithdev commented on #871
Has happened to me as well. I'm using Ubuntu 20.10 atm.

[2021-02-24 22:32] azlam-abdulsalam commented on #873
Yes, I agree.. there are many benefits of having that shape definition out.

[2021-02-24 22:59] mdonnalley commented on #108
In order to properly fix this, we'd have to normalize file paths across multiple packages and plugins. There are simply too many places that we inspect and compare file paths to implement this safely. Because of that, we're not going to fix this now. However, we may revisit this issue when we migrate the source commands to their own plugin

[2021-02-24 22:59] #108 closed, assigned to nobody

[2021-02-24 23:59] shetzel commented on #829
No update other than I increased the priority of this since it's a regression.  Working on a fix asap.

[2021-02-25 00:30] dcstuff opened #878 "Running _**Execute Anonymous Apex**_ from the command palette "works", but the output is missing"
### Summary

Running _**Execute Anonymous Apex**_ from the command palette works, but the output is nowhere to be found
### Steps To Reproduce:

- Type some Anonymous Apex -- `System.debug('blah');`
- Choose _Execute Anonymous Apex with Editor Contents_, or highlight the text and choose _Execute Anonymous Apex with Currently Selected Text_

**Repository to reproduce:**

Any repo

### Expected resu

[2021-02-25 02:03] lcampos commented on #879
Hi @jbeauchamp715 , thanks for reporting this issue. I'm able to replicate this using the latest version of the Salesforce CLI (7.88.4-3b2e55c3f1) and we'll start looking at a fix. Update on it will be posted in this issue.

[2021-02-25 02:11] torynet commented on #864
@dhbahr Well, we have had some other troubles with various versions that I didn't want to re-experience, so I was loathe to go back too far. Now that you mention it though, I don't think that I actually tested 7.26.3, because I thought it was downgrading when it was not. I'll try it over again using NPM to downgrade when I can.
I did uninstall completely and install 7.85.1 (which is where I was be

[2021-02-25 02:16] ImJohnMDaniel commented on #873
I agree as well.  This is still a good feature to support.  There are definitely valid use cases where this would be helpful

[2021-02-25 04:18] torynet commented on #864
No such luck. Downgraded to 7.26.0 (that's all that was available for 7.26 on NPM), but still the very same result.

[2021-02-25 05:54] shetzel commented on #879
duplicate of #829.  Fix is coming asap.

[2021-02-25 05:54] #879 closed, assigned to nobody

[2021-02-25 06:21] dhbahr commented on #864
Hey @torynet a couple of remarks:

First, we seemingly have different issues. In my case I don't get any oauth errors, the orgs simply don't receive a response from the localhost server listening on 1717. That being said, downgrading the `salesforcedx` plugin to `50.1.0` (`sfdx plugins:install salesforcedx@50.1.0`) took care of my issue, without downgrading the `sfdx-cli` at all, maybe something w

[2021-02-25 06:24] jayaprakash commented on #867
I too noticed the issue frequently and randomly on docker container - Alpine Linux. Happening with the upgrade of sfdx-cli to latest, latest-rc or even the downgraded 7.83.0

[2021-02-25 06:30] CXCAlfo commented on #872
Hi.  @Patlatus  when you say uninstalling completely - do you mean CLI  SFDX?
This just happened after i upgraded to sfdx-cli/7.88.4-3b2e55c3f1

[2021-02-25 06:37] CXCAlfo commented on #860
I am not sure if my issue is related to this but minutes after updating SFDX to sfdx-cli/7.88.4-3b2e55c3f1 win32-x64 node-v14.15.4

I created a new scratch org and then did a push -f.

I get

 *** Deploying with REST ***
SyntaxError: Unexpected token < in JSON at position 1

Then a handful of errors.

[2021-02-25 07:00] qwikag opened #880 "Retrieving Recordtypes, they land in the wrong folder, also deploying does not work."
### Summary
Issue #1 When retrieving Opportunity Recordtypes, they are landing in the business processes folder.
see my output below.
my package.xml includes, business processes, recordtypes, custom fields and standardValueSets, profiles and more.

as I was deleting the recordtypes so that they could come down again they were then going into the businessPocesses folder.
initially I could not find

[2021-02-25 08:45] shashikantMkumar opened #881 "sfdx force:auth:web:login -r https://login.salesforce.com ==> Browser just loads forever."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1. Either run the command "sfdx force:auth:web:login -r https://login.salesforce.com" from command line or command pallet is visual studio code.
2. The browser opens the salesforce authentication page.
3. After entering the credentials & authorizing CLI for access, browser just loads forever.
4. I eve

[2021-02-25 08:59] DanWareing opened #882 "force:data:bulk:upsert in 'Serial' mode"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when my upsert jobs result in row lock errors. It would be great to have the option to perform them in serial mode. It's currently hard-coded as 'parallel': https://github.com/forcedotcom/salesforce-alm/blob/e5d29bc66cc4babdc6bf5ba935fec17bf485c1f1/src/lib/data/dataBulkUpsertCommand.ts#L49

**What are you tryi

[2021-02-25 09:03] uip-robot-zz commented on #882
This issue has been linked to a new work item: [W-8934566](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000097SKIIA2/view)

[2021-02-25 09:17] gorazd-up2go opened #883 "Wrong User Id returned when executing sfdx force:user:create -f "definition file""
### Summary

When executing command "force:user:create -f" in scratch org the returned result gives false Id from user it created. Instead of getting Id for the user which was created it gives Id of user that executed (User User).

### Steps To Reproduce:

1.  Create a definition file for user.
2. execute: sfdx force:user:create -f "definition file"
3. Id returned is not the user id it has created

[2021-02-25 09:28] grieve54706 commented on #881
Try
[code]

[2021-02-25 11:28] AllanOricil opened #884 "SyntaxError: Unexpected token < in JSON at position 1"
### Summary

After updating sfdx to version 7.88.4-3b2e55c3f1 I can no longer use source push in one of my projects.

The same project, with no changes, could be deployed using 7.85.something

![image](https://user-images.githubusercontent.com/55927613/109149173-1d2cb600-775f-11eb-87bd-24bde8162d4b.png)

When deploying the same project <b>without any changes</b>, but using the vscode push command

[2021-02-25 12:04] AllanOricil commented on #884
Another project I can no longer deploy using the windows 10 terminal

![image](https://user-images.githubusercontent.com/55927613/109151083-a2b16580-7761-11eb-90c1-63fa40453f9c.png)

But I can with the extension push command

![image](https://user-images.githubusercontent.com/55927613/109151392-050a6600-7762-11eb-9392-763bcbd87c86.png)

[2021-02-25 12:44] AllanOricil commented on #884
It is actually not deploying anything, nor showing any error messages when using the extension.
So the extension is suppressing the error that I have when running in the terminal.

![image](https://user-images.githubusercontent.com/55927613/109154765-a85d7a00-7766-11eb-92fd-9e55db77fb48.png)

![image](https://user-images.githubusercontent.com/55927613/109154814-ba3f1d00-7766-11eb-9cb0-51cd3c5f216a

[2021-02-25 12:49] AllanOricil commented on #884
related https://github.com/forcedotcom/cli/issues/872

[2021-02-25 12:49] AllanOricil commented on #872
related https://github.com/forcedotcom/cli/issues/884

[2021-02-25 12:53] AllanOricil commented on #884
related https://github.com/forcedotcom/cli/issues/860

[2021-02-25 12:53] AllanOricil commented on #872
related https://github.com/forcedotcom/cli/issues/860

[2021-02-25 13:01] MathieuGOLLNICK commented on #884
Hello !
I have exactly the same problem since yesterday and I believe it is also related to #881.
I searched some time and I realized I couldn't deploy / connect to my org due to some Oauth issues.
This is what I am using (in case it can help) :

![image](https://user-images.githubusercontent.com/53705692/109157099-e57b3980-7771-11eb-922b-dd157cbd3119.png)

[2021-02-25 13:30] bowdi commented on #884
I'm also receiving this issue since updating to sfdx 7.88.4 however, i've noticed it when using sfdx force:source:deploy. I dug into the local code and added some debug statements. the issue seems to stem from receiving this response from Salesforce:
[code]
Which is then trying to be parsed as a json response.

It could be a coincidence but I only started noticing the *** Deploying with REST *** s

[2021-02-25 13:39] kresho commented on #864
Same issue for me.
Ubuntu 20.10 Linux 5.10.2-surface, sfdx 7.82.1-0
The browser redirect to localhost never completes. With trace debugging the last message i get in the log is:
`socket connection initialized from 127.0.0.1`
repeated a few times but never does anything.

Downgrading to 7.26 worked.

[2021-02-25 14:17] bowdi commented on #884
As a temporary workaround you can use the mdapi commands directly with the --soapdeploy flag.
i.e.
[code]

[2021-02-25 14:22] tejastdj opened #885 "unsupported metadata type ManagedContentType"
19:24:34.71 sfdx force:source:retrieve --manifest d:\Tejas\CRs\Visualstudio Workspace\CVCFull2\manifest\package.xml
ERROR running force:source:retrieve:  We can’t retrieve the specified metadata object: ManagedContentType. Certain metadata types, like ManagedContentType are not currently supported by the CLI.

[2021-02-25 14:34] AllanOricil commented on #884
To solve my problem, I uninstalled v7.88.4 and installed version v7.85.1

`npm i sfdx-cli@7.85.1 -g`

[2021-02-25 15:26] dhbahr commented on #864
Not to tell you what to do or anything, but I feel downgrading the salesforcedx plugin is a better approach, leaves you less outdated, @kresho .

[2021-02-25 15:43] jsmithdev commented on #881
tried but no luck.

i also tried `npm i sfdx-cli@7.85.1 -g` to install older version with no luck

going to try installing other versions...

- tried sfdx-cli@7.85.1
- tried sfdx-cli@7.86.3
- tried sfdx-cli@7.88.4

we can not make and edit lwc without sfdx so this is very bad. if anyone finds a work around so we can do our jobs, please share

[2021-02-25 15:55] torynet commented on #864
@dhbahr We got the same "localhost never responds / white screen forever" sort of response initially, prior to downgrading, but while it's doing that if you refresh the page, you will then get an oauth error.
Since downgrading it seems to skip that phase and go right to the oauth error.

I'll reinstall up to current again and see if I can get it to downgrade the plugin. Hopefully that will do some

[2021-02-25 16:35] dhbahr commented on #864
@torynet yeah, as I mentioned a couple of comments ago, it strikes me we are experiencing 2 different bugs (albeit having the same negative impact). Hope reinstalling works for you.

[2021-02-25 18:04] aheber commented on #870
This seems to also be a failure to follow a proper procedure for deprecating the `restDeploy` configuration property. Because of bugs in the REST Metadata API we now have scripts failing and our existing method to manage this has failed without alternative.

We do several `force:source:deploy` actions in our scratch org setup script and depending on the mood of the REST api they are failing. Conve

[2021-02-25 20:17] uip-robot-zz commented on #870
This issue has been linked to a new work item: [W-8936983](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000097VAGIA2/view)

[2021-02-25 20:30] shetzel commented on #870
There are 2 bugs here.  1 for the JSON parse error and 1 for the unintended switch of source commands to use REST.  @aheber You're absolutely right that this was a failure to properly follow the deprecation procedure.  We'll be switching the source commands back to SOAP asap.  Apologies for this regression!

[2021-02-25 20:59] qwikag commented on #880
It is not just on retrieve that there is an issue it is also on deploy.
BusinessProcesses with the same name prevent recordtypes from deploying.

[2021-02-25 21:06] #843 closed, assigned to nobody

[2021-02-25 21:45] qwikag commented on #880
I have now renamed my Sales Processes and it retrieves and deploys ok.
BUT...
**Why does the retrieve process retrieve components in a weird order?**

Opportunity.Commercial                                 RecordType        force-app\main\default\objects\Opportunity\recordTypes\Commercial.recordType-meta.xml
Opportunity.Referrer                                   RecordType        force-app\main\de

[2021-02-25 21:56] qwikag commented on #880
OK, now having workaround the naming issue. and having an accurate set of files in the right folders within my package.

I have deployed to the org (previously broken due to bad deploy), however the newly named Sales Processes and not being deployed.
I expected them to be added (not overwritten). Instead 6 out of 7 did not deploy. only 1 deployed.

It was recently deleted, so now I will delete pro

[2021-02-25 22:07] qwikag commented on #880
DELETING PROFILES and re-retrieving worked.
This time I got a response when I deployed advising everything what was added
e.g.
=== Deployed Source
STATE  FULL NAME                                              TYPE              PROJECT PATH
─────  ─────────────────────────────────────────────────────  ────────────────  ────────────────────────────────────────────────────────────────────────────────

[2021-02-25 22:37] shetzel commented on #870
@aheber can you please post the errors you're seeing with `force:source:deploy` using the REST API, either here or as separate github issues?  It's easy to switch it back to SOAP and provide another way to use REST, but we'd like to address the REST bugs you're seeing now.

[2021-02-25 23:06] qwikag commented on #880
WHAT SHOULD HAPPEN?

RETRIEVE:
Request package retrieve should update every single file based on what's requested.
User should expect other components affect other components (e.g. profiles affected by recordtypes etc)
No rocket science required here.

DEPLOY:
Again every file should be deployed as requested (not happening for me)
Obviously not destructive, unless requested etc etc.
If the file is

[2021-02-26 00:35] aheber commented on #870
@shetzel #860

[2021-02-26 01:33] zerkz commented on #870
For those who do not want to rely on this new default behavior till things are fixed, I think this works well for the non-npm (and possibly npm installed?) sfdx-cli.

`sfdx plugins:install salesforcedx@50.16.1`

This rolls back the core plugin back to a version. Weirdly enough trying to downgrade the CLI package itself did not work.

Even if your CI is set to run `sfdx update` or you have the rela

[2021-02-26 04:14] dcstuff commented on #878
Resolved with 7.89.2
Thanks!

[2021-02-26 04:14] #878 closed, assigned to nobody

[2021-02-26 04:17] AnsCodeLab commented on #881
Got the same problem today. Here are the last lines when using flag --dev-debug
` sfdx:WebServer DEBUG Starting web server +0ms

  sfdx:WebServer DEBUG Nothing listening on host: localhost port: 1717 - good! +20ms

  sfdx:WebServer DEBUG socket connection initialized from 127.0.0.1 +5s

  sfdx:WebServer DEBUG socket connection initialized from 127.0.0.1 +249ms`

[2021-02-26 04:49] CatoCoder commented on #783
This is happening for me too on Windows.
Was running on 7.84. tried to downgrade to 7.76 with the command sfdx plugins:install sfdx-cli@7.76.0 but it still fails.

[2021-02-26 06:41] grieve54706 commented on #881
Now, My condition is
[code]
I tried to upgrade and downgrade salesforcedx and sfdx-cli

Finally, I find my sfdx plugin has auth

I uninstall it, then it works

Maybe you can try to downgrade salesforcedx to my version

[2021-02-26 06:53] AnsCodeLab commented on #881
@grieve54706 Nice, it works for me. Thanks.

[2021-02-26 07:19] qwikag commented on #880
Not deleting this Comment, instead leaving it here as a reminder that Salesforce browser caching causes us so many problems.
The below is no longer relevant a cache delete fixed it.

----
This problem has majorly broken my Salesforce instance, luckily Sandbox for now.
But no longer confident we can deploy to prod with the current state of this org, and the current state of the SFDX tools.

I have

[2021-02-26 08:16] eyhuellou commented on #868
Edit : The fact of setting the scratch org def with financeLogging seems to work better than scratch org shape because you sometime have strange behaviour of missing settings with org shape.

So after setting correctly the FinanceLogging features, these two Finance object appears correctly and Billing install perform well.

Scratch Def looks like now :
...
"features": [
    "FinanceLogging",
    "

[2021-02-26 09:27] JuliWaver opened #887 "Org auth status unknown after sfdx update to 7.89.2"
After updating my sfdx with command 'sfdx update' to version 7.89.2 I am not longer able to use my autheticated orgs.
Status is unknown instead of connected and I am not able to perform any commands with my alias or username.

I have already tried several times to logout and login again, but nothing has changed.

With an older version 7.81.0 it is still working and the same alias are shown as conn

[2021-02-26 09:32] theayushimehrotra04 commented on #767
Even I am facing the same issue and with force:auth:device:login I was able to authenticate prod orgs but force:auth:device:login -r https://test.salesforce.com doesn't work giving error Value is not a string.

sfdx force:auth:device:login -r https://test.salesforce.com
ERROR running auth:device:login:  Value is not a string

CLI version - latest version: 7.89.2-d1d2614d02
Using Windows 10

[2021-02-26 10:54] paulknebulaconsulting commented on #884
This might help someone, but I had to downgrade the salesforcedx plugin after reinstalling the plugin.
I'm using Windows 10, the CLI download from the website and set this plugin version to v51.0.2

`sfdx plugins:install salesforcedx@51.0.2`

[2021-02-26 12:35] nikhil-sfdev opened #888 "force:source:deploy Failing"
While deploying from cli, receiving JSON_PARSER_ERROR.

### Steps To Reproduce:

`sfdx force:source:deploy -p "./PathToMetadata" -l RunSpecifiedTests -r TestClass1,TestClass2 -w 33 --verbose --loglevel fatal
`
### Actual result
Using specified username admin@adminx.com

*** Deploying with REST ***
_ERROR running force:source:deploy:  JSON_PARSER_ERROR: Can not deserialize: unexpected array at [lin

[2021-02-26 12:41] mateushonorato commented on #767
same thing happens to me on Ubuntu 20.04, i couldn't authorize a sandbox in any way because of this

[2021-02-26 12:46] mateushonorato commented on #783
Even though I could use `auth:device` to authorize a devorg, I wasn't able to authorize a sandbox in any way, because when I try to change the url with the `-r` flag, I get this error:

`sfdx force:auth:device:login -r https://test.salesforce.com`
`ERROR running auth:device:login: Value is not a string`

[2021-02-26 13:19] SanderElsen opened #889 "Inconsistent authentication with auth:jwt:grant"
### Summary

We're setting up some CI/CD pipelines for a new workflow we want to try out but are experiencing very inconsistent authentication results when using auth:jwt:grant.
(testing process in Additional information)

### Steps To Reproduce:

1.  https://trailhead.salesforce.com/en/content/learn/modules/sfdx_travis_ci/sfdx_travis_ci_connected_app
1.  authenticate x ∞

### Expected result

Suc

[2021-02-26 13:39] bowdi commented on #884
related #870

[2021-02-26 13:42] dweaver33 commented on #888
Related to #884

[2021-02-26 14:10] Patlatus commented on #872
@CXCAlfo Yes, I mean I have uninstalled SFDX CLI completely and reinstalling it again

[2021-02-26 14:30] AllanOricil commented on #889
@SanderElsen nice tests. but I think you should create N different SO to also verify that this problem only happens if you try to auth many times with the same SO. I don't think there will ever be a situation where you will auth to SO so many times in less than a minute.

[2021-02-26 15:21] FabienTaillon commented on #883
Returned values are initialized with `DefaultUserFields.create()` [here](https://github.com/salesforcecli/plugin-user/blob/main/src/commands/force/user/create.ts#L95).

Created user Id is only available after the user was created a few lines later by `this.user.createUser()` [ here](https://github.com/salesforcecli/plugin-user/blob/main/src/commands/force/user/create.ts#L103).

So I think after th

[2021-02-26 15:39] cjl58 commented on #884
This solution works for me.
I had the latest version v7.9x.x and got the error.

[2021-02-26 16:32] gorazd-up2go commented on #883
Hard to say if this override is correct. It maybe could break something else that relies on "Id".
I took a quick look and found this:
`117:        await this.user.assignPermissionSets(this.authInfo.getFields().userId, permsetArray);`
So perm sets are set with "userId". I deleted scratch org (so I cannot look at it) but if users created get correct perm set then this field is correct.

[2021-02-26 16:52] FabienTaillon commented on #883
Yes you're right, `this.authInfo.getFields().userId` is the correct value to use (and is actually the one that is used, which is why the command works), but it's not the one that is returned by the command.

It's actually `fields` that is both [printed](https://github.com/salesforcecli/plugin-user/blob/main/src/commands/force/user/create.ts#L160) and [returned](https://github.com/salesforcecli/plu

[2021-02-26 16:56] kenhuman-regions commented on #884
`sfdx force:mdapi:deploy -u user -d .\delta\src -c --json --apiversion=50.0` results in a post to https://regions--uat.my.salesforce.com/services/data/v50.0/metadata/deployRequest returning
[code]

This is happening randomly. I believe this is a Salesforce problem rather than an SFDX problem.

[2021-02-26 16:57] SCWells72 commented on #884
Not to lump on, but I'm seeing the same thing even after updating the CLI to 7.89.2-d1d2614d02:

[code]

[2021-02-26 17:04] gorazd-up2go commented on #883
I think it is ok to "map" after creation since fields are locally used. Maybe some other fields are affected as well since they are taken over from default user and then never remapped with "maybe" new values. Maybe one consideration using aggregateFields only in other way around.

Regarding tests. Currently they are a bit wrong
test/commands/user/create.test.ts -> line 68
And this is then used to

[2021-02-26 17:08] shetzel commented on #860
A fix for this is in progress.  Also, the source commands are switching back to SOAP in the next latest-rc release (probably in an hour or 2).  We'll add an env var to use the REST API, which will eventually become the default.

[2021-02-26 17:13] vincenzo1231 opened #891 "Create cmdt record with Metadata Relationship field"
### Summary

I'm trying to create custom metadata type records releted to another metadata type record by Metadata Relationship field, but i receive and error during the deploy.

### Steps To Reproduce:

1. Create two CMDT, the second must have the Metadata Relationship field towards the first.
2. Create a file "firstCmdt.csv" ("," separator) as described in this link https://help.salesforce.com/a

[2021-02-26 17:19] shetzel commented on #870
The REST API default change coincided with the Salesforce Spring 2021 release.  I.e., salesforcedx v50.x --> salesforcedx v51.x.  If you specifically install a v50.x version of that plugin it'll use SOAP instead.  However, you're now pinned to that plugin version and updating your CLI will not update the salesforcedx plugin.  You'll have to uninstall that specific plugin version to go back to the

[2021-02-26 17:44] aheber commented on #860
@shetzel will the mentioned change restore the config flag or be limited to a new environment variable?

[2021-02-26 17:58] jdnixx commented on #767
I have this problem too, really annoying. I'm using the npm version, because I'm on NixOS and don't feel like packaging the tarball myself, but if I knew how I might give it a try...

Anyway here's what the request looks like in the browser, just sticks at `(pending)` indefinitely:

![Screenshot_20210226_125321](https://user-images.githubusercontent.com/24235975/109336728-ce9c1c00-7831-11eb-82bf-a

[2021-02-26 18:05] shetzel commented on #860
We're thinking it would be a new env var that would only apply to the source commands.

[2021-02-26 18:06] mateushonorato commented on #767
I use the tarball version, you don't need to package anything, just extract the archive and run the install script with sudo. But the problem is also present on the tarball version, not related only to the npm version.

[2021-02-26 18:10] jdnixx commented on #767
I know, nixos does things differently though, everything is declarative so you're not supposed to directly change system stuff with `sudo`. Should make an explicit packaging script for everything you want to install but I'm still bad with the nix language so it's a bit of a challenge for me lol. But yeah you're right doesn't matter much bc it seems the issue isn't due to which version of the cli t

[2021-02-26 18:13] mateushonorato commented on #767
It's edited now

[2021-02-26 18:15] peternhale commented on #887
@JuliWaver are you seeing any errors when referencing an alias or username in a command?

[2021-02-26 18:49] aheber commented on #860
I don't have a big objection but going that route means I'm going to have a more difficult transition period where I have to sync source code updates with DX version updates.

Right now my scratch org build script flips between REST and SOAP deployments a couple of times mid-script. Of course that doesn't work right now for anyone that has updated. I'm going to have to update that script once the

[2021-02-26 21:01] shetzel commented on #860
Let me clarify because you shouldn't have to modify your scripts too much with the change going into latest-rc today.

**Right now in latest:**
`mdapi:deploy` uses REST but you can switch to SOAP with the `--soapdeploy` flag
`source:deploy` and `source:push` use REST and you can't switch to SOAP (regression)

**Coming in latest-rc today:**
`mdapi:deploy` is unchanged
`source:deploy` and `source:pu

[2021-02-26 21:24] aheber commented on #860
@shetzel this might be better to have some direct communication but I'll try and explain what I can. Let me know if it would help to setup a meeting and to walk you through any of this.

If you change `source:deploy` and `source:push` so I can't get to the REST API then you will break me. My current scripts do most of my building using `source:deploy` using SOAP and flipping it to REST for my Stat

[2021-02-26 21:54] mshanemc commented on #845
This is fixed in the new version of `plugin-org` (coming soon).  You can test it out right now to verify that it's fixed.

https://github.com/forcedotcom/cli/issues/835

[2021-02-27 00:11] shetzel commented on #860
I see where you're coming from but your workarounds include a modified core plugin so how can we possibly account for all the various ways people can mod plugins?  That said, I can modify the code to look for a soapdeploy option and use that if defined.

[2021-02-27 01:44] aheber commented on #860
I don't think we're quite aligned yet. I've only modified the core plugin this week due to the changes we've discussed.

Up until this recent release I've been using the config attribute applied via `sfdx force:config:set restDeploy=true` and conversely `sfdx force:config:set restDeploy=false` as that was officially supported and subsequently removed without warning in this release. That config at

[2021-02-27 01:52] aheber commented on #860
If it helps, the block of code I'm really talking about is in the `mdapiDeployApi.js` file, as recently as `7.85.1` as best I can tell.

[code]
As of `7.88.4` that method now looks like this:
[code]

Chasing the `isRestDeploy` method will take you back to the configuration option that I've been referencing.

[2021-02-27 16:04] dcstuff commented on #887
For me, a force:source:push fails until I login. Logging is not an issue. But if I don't, I get `Error: INVALID_SESSION_ID: Session expired or invalid` on the push.

[2021-02-28 15:17] aheber commented on #860
I should probably add I totally understand this should have been a fully transparent change and would have been successful if the REST API hadn't had a problem. This entire topic seems to be caused by that dependency failure and I get that, otherwise I would be in full support and never look back.

[2021-02-28 15:18] SanderElsen commented on #889
We did some more testing on different devices, turns out the issue is linked only to devices on a certain domain so this is probably an internal issue we have to resolve.

[2021-02-28 15:18] #889 closed, assigned to nobody

[2021-02-28 20:37] shetzel commented on #860
@heber - thanks for the explanation.  I think I'm clear about the state of things now and I have to undo that change I talked about above.  I definitely want a smoother transition for this.

I completely forgot about the restDeploy SFDX config value and when you were mentioning a config setting I mistakenly thought you were referring to your soapdeploy command parameter modification.  Still, I tho

[2021-02-28 21:23] alanmangalindan commented on #864
this worked for me:
downgrade sfdx-cli: npm install sfdx-cli@7.86.3 --global
downgrade salesforcedx plugin: sfdx plugins:install salesforcedx@50.13.1
downgrade auth plugin: sfdx plugins:install auth@1.4.7

[2021-02-28 22:01] aheber commented on #860
Awesome, thanks for bearing with me while I figured out the details we needed.

I did not realize that config values could be managed via env vars, that will come in handy.

Looking forward to the upcoming fix.

[2021-03-01 01:07] jsmithdev commented on #881
@grieve54706 thanks for the listing :+1:

#864 seems same issue.

### steps

```npm i sfdx-cli@7.88.4 -g```

```sfdx plugins:install salesforcedx@48.22.11```

...and used nvm for node version switching

```nvm install 14.15.4```

```nvm use 14.15.4```

### results

once `sfdx force:auth:web:login` worked, i ran and got below:

```sfdx -v```
sfdx-cli/7.88.4 linux-x64 node-v14.15.4

```sfdx plugins

[2021-03-01 02:10] calvinle1 commented on #866
Thanks

[2021-03-01 02:19] torynet commented on #864
@alanmangalindan I was really hopeful that your very precise procedure would work for me. Thanks for posting it.
Unfortunately, it did not. No change.

sfdx -v
 »   Warning: sfdx-cli update available from 7.86.3 to 7.88.4.
sfdx-cli/7.86.3 win32-x64 node-v14.16.0

sfdx plugins --core
 »   Warning: sfdx-cli update available from 7.86.3 to 7.88.4.
@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin

[2021-03-01 06:17] JuliWaver commented on #887
@peternhale Unfortunately I get erros if I try to upload a screenshot.

Following error is visible after I try to use e.g. a deploy command with an alias:
**ERROR running force:source:deploy: The org cannot be found

Try this:
Verfiy that the org still exists
If your org is newly created, wait a minute and run your comman again
If you deployed or updated the org's My Domain, logout from the CLI an

[2021-03-01 07:00] dhbahr commented on #864
I see, a pain in the a**e no doubt.

[2021-03-01 07:01] dhbahr commented on #864
I can also confirm the newest 7.89.2 release still presents the same issue for me.

[2021-03-01 12:10] kadantsam opened #890 "FDX: Authorize an Org hangs after login attempt"
All,

This all started last Wednesday, February 24 very late in the day.  I have not been able to get connected to the Salesforce Sandbox since then.  I have performed the sfdx update several times since and this has not helped.  Can anyone help me.  I have 4 LWC's that need to be published.

I am on a Windows 10 laptop with the latest patches and updates from Microsoft Version 10.0.18363. When I

[2021-03-01 12:13] team-seavus commented on #890
https://github.com/forcedotcom/salesforcedx-vscode/issues/2931

This helped me: `sfdx plugins:install salesforcedx@48.22.11`

[2021-03-01 12:18] ghost commented on #881
I'm experiencing same behavior described here on Windows.

`sfdx force:auth:web:login -a foobar --instanceurl=https://foobar.my.salesforce.com`

I use this command near daily. Was working normally for me earlier today after no login for a week (vacation). Later today after PC restart browser just hangs *after* entering credentials as described above. URL it hangs on is:

"https://foobar.my.salesfo

[2021-03-01 12:34] kadantsam commented on #890
Team-seavus,

Thank you for the reply!!  This did not work for me.  To re-iterate, I attempt to "Authorize an Org" and it opens up Google Chrome and prompts me if it is okay for Access and click allow then it redirects me to the following URL and just hangs:

https://{my org}.my.salesforce.com/_ui/identity/oauth/ui/AuthorizationPage

Any help is greatly appreciated.

[2021-03-01 12:38] peternhale commented on #887
@JuliWaver Would you run the failing example again with 7.89.2 with the `--dev-debug` flag.

Also, which platform are you using?

[2021-03-01 12:48] team-seavus commented on #890
Sorry to hear that, my problem was very similar.
Maybe you can try with different Browser or check the steps given here: https://github.com/forcedotcom/salesforcedx-vscode/issues/2996 (uninstall->install).

[2021-03-01 12:54] kadantsam commented on #890
Switched to Microsoft Edge and still no good.  I've re-installed twice so far.  Still NFG!!

I just looked at the link you provided and I have the same values that the user reported when he re-installed, but this still does not work:

Version: 1.53.2 (user setup)
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:04.245Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3

[2021-03-01 13:09] DougMidgley commented on #877
@bast-shb did you have the exact version?

[2021-03-01 13:34] ImJohnMDaniel commented on #890
Some of my team have seen similar issues.  We had to downgrade to 7.83 to get stable again.

[2021-03-01 13:38] kadantsam commented on #890
ImJohnMDaniel, thank you very much for the suggestion.  I will try this next and report on the my progress.

[2021-03-01 13:40] sconnock commented on #884
Same issue on a push with 7.89.2. I uninstalled and re-installed the CLI which took me back to 7.81.0 and no longer see the issue.

[2021-03-01 14:20] kadantsam commented on #890
ImJohnMDaniel, I'm confused, what exactly did your team downgrade to 7.83?  I presumed you were talking about the Salesforce CLI.  Can you please provide a little more detail?  Thanks.

[2021-03-01 14:22] bast-shb commented on #877
@DougMidgley You mean the version I reverted to?

I did this in our pipeline:

`sudo npm install sfdx-cli@7.86.3 --global` as that was the latest previous version that worked for us.

So version 7.86.3.

[2021-03-01 14:23] troveryor commented on #869
Just a note on Node versions.

I'm on Node.js v12.17.0 and was seeing the same Node warnings from sfdx commands.
The dev server uninstall cmd : `sfdx plugins:uninstall @salesforce/lwc-dev-server`
has resolved the warning message deluge however.

[2021-03-01 15:04] ImJohnMDaniel commented on #890
All of the versions since 7.84 have been unstable in some manner.  We are not bother to downgrade specific elements of the CLI as that can cause more chaos.  My team saved the installation media for v7.83.  We have uninstalled any version higher than that and have installed the 7.83 version.  Most of the team are also using the environment variable `SFDX_DISABLE_AUTOUPDATE` ([ref](https://develope

[2021-03-01 15:16] kadantsam commented on #890
Thank you again for the information.  I can't seem to find the version you are referencing.  Do you have any idea how I can find that version?

[2021-03-01 15:38] ayiyann opened #904 "sfdx force:source:deploy ended with 0 but doesn't do nothing"
I deploy to my salesforce org by selecting my LWC and click SFDX: deploy source to org" . The command ended with code 0 but oesn't do nothing .

Sometime i need to restart my computer in order to make the command ok.

16:32:16.931 sfdx force:source:deploy --sourcepath c:\Users\yann\Desktop\YANN\AUTRES\OUTILS\VSCode_Salesforce\Salesforce_ORG\PERSO\LWC_Playground\LWC\force-app\main\default\lwc\boatS

[2021-03-01 15:42] ImJohnMDaniel commented on #890
We saved the installed from when it was originally released.  Maybe @amphro or @clairebianchi know how to access v7.83 from the public

[2021-03-01 15:43] troveryor commented on #767
Same issue here on sfdx version 7.89.2.
Was able to auth to one of my sandboxes just fine with auth:device, but trying to auth a second one seems only re-auth the first one again.

[2021-03-01 15:51] JuliWaver commented on #887
@peternhale
Following Error message is shown after setting variavble SFDX_DISABLE_DNS_CHECK=true and deploy/validate command:

*** Deploying with REST ***
SyntaxError: Unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at Request._callback (C:\Users\WJL7FE\AppData\Local\sfdx\client\7.89.2-d1d2614d02\node_modules\salesforce-alm\dist\lib\core\force.js:583:25)
    at self.ca

[2021-03-01 16:06] peternhale commented on #887
@JuliWaver,

Thank you.

Which command are you running that get the above error?

Can you run it again w/o SFDX_DISABLE_DNS_CHECK set.

Can you share the domain name of the org that is the target of the command being run?

[2021-03-01 16:23] randal923 commented on #881
Having the same issue. Auth does show in my plugins but I can't uninstall it.

`sfdx-cli/7.88.4 wsl-x64 node-v14.15.4`

[code]

[code]

[2021-03-01 16:40] OlenaHryhorets commented on #371
Thanks a lot @anirudhbora06!!! Worked for me! (Linux18.04  VSC1.53.2   Chrome)

[2021-03-01 16:48] grieve54706 commented on #881
My case is I install another auth plugin
You can just try to do this
[code]

[2021-03-01 16:51] randal923 commented on #881
That worked for me. Thanks!!

[2021-03-01 17:03] JuliWaver commented on #887
@peternhale  The command was: sfdx force:source:deploy --verbose --targetusername cis -p force-app -c

If SFDX_DISABLE_DNS_CHECK is not set in my variables I recieve following error message again:

_ERROR running force:source:deploy:  The org cannot be found

Try this:
Verify that the org still exists
If your org is newly created, wait a minute and run your command again
If you deployed or updated

[2021-03-01 17:16] smaddox-sf commented on #904
Hi @ayiyann - We need more information to attempt to troubleshoot this:
1. Please include the versions of the Salesforce extensions, CLI and your OS.
2. Are you using the 'Experimental Deploy Retrieve' setting in preferences?
3. do you get any error message in the bottom-right corner of VSCode's footer or in the Dev Tools console (Help > Toggle Developer Tools and select the Console tab). If you d

[2021-03-01 18:20] kadantsam commented on #890
All,

Thanks to ImJohnMDaniel I've got it fixed.
1. Go to the following URL:
https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode
2. Download an older version, I downloaded 50.16.0
3. Uninstall any of the Salesforce extensions in VS Code
4. Restart the VS Code and click on the Extensions, and the three dots at the top
5. Then click on the Install from SVIX...
6. And,

[2021-03-01 18:23] nvuillam commented on #884
I have the same with force:source:push --json : no error thrown, exit code 0 .... but no deployment done

and --soapdeploy is not an available option for force:source:push !!
Is there some workaround to force it ?

[2021-03-01 19:54] AllanOricil commented on #884
@nvuillam downgrade your sfdx to 7.85.1 and it should work as before

[2021-03-01 19:56] nvuillam commented on #884
That's what i did, but i hope this bug will be solved soon :/

[2021-03-01 20:59] qwikag commented on #890
**@kadantsam**
**Sorry this did not work**. (uninstall and DL the extensions)
I followed your instruction to the letter.
I uninstalled the visualforce extension (as per your instruction to uninstall any)then restarted.
and I installed the downloaded verion as advised, it did nothing.
SO I went a step further and uninstalled all Salesforce extensions and even removed the folders within my HOME fold

[2021-03-01 22:04] shetzel commented on #884
This is a duplicate of #860.  I am fixing the issue and will post specifics in 860.  Will go into the latest-rc release being built soon and will be promoted to latest this Thursday.

[2021-03-01 22:25] shetzel commented on #860
@aheber and everyone from #884

Let me try to summarize what happened and the CLI fix that will be applied.

With the v50.0 --> v51.0 release several weeks ago there were 2 bugs introduced that affect mdapi and source deploys:
1. The `restDeploy` SFDX config variable was no longer being respected by the commands, which meant there was no way to switch from the new default (REST API) back to the SO

[2021-03-01 22:26] uip-robot-zz commented on #884
This issue has been linked to a new work item: [W-8952401](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000097nLHIAY/view)

[2021-03-01 23:10] rtoepfer commented on #881
I've been running sfdx force:auth:device:login as a workaround while this issue is open.

[2021-03-01 23:16] qwikag commented on #890
Updated CLI from 7.88.4-3b2e55c3f1 to 7.89.2-d1d2614d02...
NOTHING WORKS!

[2021-03-01 23:22] aheber commented on #860
@shetzel, this all looks really good to me and that plan satisfies all my needs.

Is there a reason not to give the `source:deploy` command a `soapdeploy` flag? It wouldn't be necessary for anything I'm doing but I could see it being useful to keep some flag parity between the two deploy types. This is mostly a curiosity question and I'm not making a strong case that it is needed.

[2021-03-02 00:22] shetzel commented on #860
No reason that I know of other than command and plugin ownership internals within SFDC.  We generally like to have flag parity between mdapi:* and source:* so definitely something we could add.  Someday it'll all be open source and then anyone can submit a PR.  :)

[2021-03-02 01:12] qwikag commented on #890
removed cli software via WIN10 REMOVE SOFTWARE Feature
Reinstalled via Node
Same problem, does not access localhost

this is my setup:

sfdx --version
sfdx-cli/7.89.2 win32-x64 node-v14.16.0

sfdx plugins
no plugins installed

sfdx plugins --core
You acknowledge and agree that the CLI tool may collect usage information, user environment, and crash reports for the purposes of providing services or

[2021-03-02 07:43] chintan9033 commented on #884
This issue was resolved in the latest version of the CLI 7.89.2-d1d2614d02. Please update your CLI to the latest version.
Use "sfdx update" command to update your CLI version.

[2021-03-02 08:02] alanmangalindan commented on #864
This is really a bit unfortunate as authorising an org should be the easy part in using dx.

Maybe a couple of other options would be to try out other previous stable versions like 7.82.1, or to use the sfdx auth:jwt:grant command, which I haven’t encountered a problem with. But that means going through the pain of setting up a connected app and generating a certificate, like what a cicd set up wi

[2021-03-02 08:11] azlam-abdulsalam commented on #860
For all these issues, is there a hotfix pathway?

[2021-03-02 09:06] dimitrimonge commented on #833
@AllanOricil @DougMidgley @mdonnalley sorry for the delay, I was very busy by a go live last days.
 I found out a work around to make it work.

 You can add the following tag to your manifest :

[code]
You can have the same issue with matching rule that you can solve with same kind of tag :

[code]
Hope will help

Best regards

[2021-03-02 09:59] DougMidgley commented on #833
So when using the SharingRules tag it works, but when using SharingCriteriaRule it does not, even though it is supported in the coverage report ( https://developer.salesforce.com/docs/metadata-coverage/51). The metadata docs (https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_sharingrules.htm)  are contradictory - they provide an example using the Subtype

[code]

but al

[2021-03-02 10:20] saikiran2304 commented on #389
How did you did this Leonardo?

I am facing the same issue

[2021-03-02 11:29] AllanOricil commented on #884
@shetzel @chintan9033  Thank you

[2021-03-02 13:05] dimitrimonge commented on #833
@DougMidgley
it seems working to retrieve metadatas but not to deploy them.
It used to work in version 7.81.

Hope Salesforce will solve this issue soon but at least we have a work arround :

[2021-03-02 15:39] felparodi commented on #767
I have the same problem using sfdx in ubuntu
sfdx --version
sfdx-cli/7.89.2-d1d2614d02 wsl-x64 node-v14.15.4

[2021-03-02 15:46] ilo4 commented on #881
I had the same issue.
Downgrading with " sfdx plugins:install salesforcedx@48.22.11 " did not work for me.

I effectively had to uninstall salesforce cli; reinstall latest version and then run :
 sfdx plugins:uninstall auth

With that it's working again for now ...

[2021-03-02 16:46] shetzel commented on #860
The CLI fix is available now in sfdx-cli@latest-rc, which will become latest this Thursday.  I don't know enough about the serverside bugs to provide useful fix information.  It's with another team and they're working on it so pretty sure it will be fixed and rolled out soon.

[2021-03-02 17:27] shetzel commented on #872
Please see #860, which has much more info about this issue.  Essentially, this is the switch to the REST API.  The workaround is to switch to SOAP.  A fix in the latest-rc tag (of sfdx-cli or salesforcedx) allows you to switch to SOAP via the `restDeploy` SFDX config variable, which is also available as an environment variable.

[2021-03-02 18:08] AllanOricil commented on #205
I also have a Scratch Org with nothing else there. I created only one Lightning App and when I ran force:source:pull I got this error.

Starting SFDX: Pull Source from Default Scratch Org and Override Conflicts

11:52:41.801 sfdx force:source:pull --forceoverwrite
ERROR running force:source:pull:  Entity of type 'CustomApplication' named 'AppBrand' cannot be found
11:52:54.742 sfdx force:source:pu

[2021-03-02 18:27] uip-robot-zz commented on #890
This issue has been linked to a new work item: [W-8956885](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008wtfGIAQ/view)

[2021-03-02 19:03] QuinnM2 commented on #890
Just to tag onto this, I'm having the same issue, and following the step list that @kadantsam posted didn't fix it. I've tried re-installing salesforce CLI itself with multiple versions, as well as downgrading the VS Code package, but all still result in the hang after entering credentials.

[2021-03-02 20:08] qwikag commented on #890
None of the solutions online worked for me.
Great that this has been picked up.
In the meantime this works:
**sfdx auth:device:login -a MyAlias -r https://mydomain--sandbox.my.salesforce.com -s**

[2021-03-02 20:13] qwikag commented on #767
None of the solutions online worked for me.
Great that this has been picked up.
In the meantime this works:
sfdx auth:device:login -a MyAlias -r https://--.my.salesforce.com -s

This issue has a work item. I assume they are the same issue:
https://github.com/forcedotcom/cli/issues/890#issuecomment-789117014_

[2021-03-02 20:18] qwikag commented on #890
Guys, when you fix this please provide more detailed instructions about how this is to be installed; including things like proxies etc.
There were a lot of fixes across the internet and they all called for settings that could cause issues elsewhere, so a little more detail about device setup would be excellent.

Thank you

[2021-03-02 22:10] shetzel commented on #888
Duplicate of #884 and #860.  See details on those issues for workarounds.

[2021-03-02 22:10] #888 closed, assigned to nobody

[2021-03-02 22:20] RodEsp commented on #890
Hi @kadantsam and @qwikag, I haven't identified a fix but I believe the issue is related to having a space in the path to your project, e.g. `C:\Users\rodrigo.espinosa\testing test\testProj`. If you can get rid of the space it should allow you to authenticate for now.

We're triaging a fix but if you can confirm that fixes your problem for now it'd help a lot in making sure there's not another und

[2021-03-02 22:21] pserquiz commented on #860
@shetzel installed `sfdx-cli@latest-rc` (currently in sfdx-cli/7.90.1) and seems like this is still breaking for `force:source:deploy` or `force:source:push` ?

`SyntaxError: Unexpected token < in JSON at position 1
    at JSON.parse (<anonymous>)`

[2021-03-02 23:27] smrobert09 commented on #890
Just tried without a space in the project path without success. Callback to 1717 doesn't complete.

[2021-03-02 23:54] qwikag commented on #890
I try not to put spaces in my paths for this very reason, so that issue is not relevant to my experience.
So that is a hard "no, not the issue here" :)

[2021-03-02 23:58] qwikag commented on #890
Feel free to enage me directly to help with testing.
Happy to screen share and/or provide logs etc.
I am currently working directly for Salesforce with a customer.

[2021-03-03 00:06] shetzel commented on #860
@pserquiz - The fix I put in latest-rc was to restore the behavior of the `restDeploy` config variable so that people could set it to false and use SOAP as a workaround.  There will be more fixes going into the CLI and the core app.  The error you're seeing is due to the server sending HTML or XML but the CLI is expecting JSON.  That will be another fix to come soon, as will the incorrect exit cod

[2021-03-03 02:14] pbergner commented on #829
Is there any workaround in the meantime?

[2021-03-03 07:09] kevanmoothien commented on #890
@qwikag Can you try to downgrade to version 7.82? This works for me. Only the authorize an org hangs when I using later version. But with this version, everythings works fine.

[2021-03-03 07:32] Dane86NN commented on #829
A couple of posts up there is a workaround, install other version of dx. I have implemented a workaround in our pipeline with a good old destructive package and a mdapi deploy command. Works, but i'm not really happy with the solution :)

[2021-03-03 08:13] qwikag commented on #707
This is still broken on 7.89.2

The workaround seems OK, but I would do it a little differently.

I would create a **separate retrieve_workflow.xml** and **deploy_workflow.xml,** and maybe package.xml would be my final.
As suggested above retrieve.xml contains the specifics and deploy.xml contains object (highlevel) workflow xml only, e.g....
`<?xml version="1.0" encoding="UTF-8" standalone="yes"?

[2021-03-03 08:34] OscarScholten commented on #884
I'm also still seeing this or a related issue on the latest build:

[code]

However, after fully removing, reinstalling, and updating the cli to the latest version, the push command works fine on the latest cli version.

[2021-03-03 10:43] anupam081 commented on #890
This is impacting me as well. none of the suggestions are working for me

[2021-03-03 10:56] maddali712 commented on #884
I am using the latest version of CLI(7.89.2-d1d2614d02). I am seeing the same error when trying to create a scratch org using the below command :
sfdx force:org:create -f config/project-scratch-def.json -a sourcescratchorg

[2021-03-03 10:57] qwikag commented on #890
Use this as a workaround for now:
sfdx auth:device:login -a MyAlias -r https://mydomain--sandbox.my.salesforce.com -s

[2021-03-03 11:02] xsudiptaster opened #892 "Retrieve from Manifest fails with a single line error : Component conversion failed: unexpected end of file"
### Summary

Retrieve from Manifest fails with a single line error : Component conversion failed: unexpected end of file

### Steps To Reproduce:
1. Create a new Project from Manifest
2. Authorize Org
3. Retrieve From Manifest
**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

***NOTE:** If your issue is not reproducable by dreamhouse-lwc, i.e. requires

[2021-03-03 11:55] dragomir-enachi-ibm opened #893 "Unsupported metadata type: Audience"
When pulling code from a sandbox getting this error:

We can’t retrieve the specified metadata object: Audience.

[2021-03-03 11:55] #893 closed, assigned to nobody

[2021-03-03 14:31] theunisj commented on #884
I am using the latest version of CLI(7.89.2-d1d2614d02).
Also Receiving the same issue,

This Seems To be a timing issue.

When I Reviewed The Code in C:\Users\?????\AppData\Local\sfdx\node_modules\salesforce-alm\dist\lib\core\force.js:583:25
I have Debugged this File
I have Managed to Get everything Working fine When I have a Timeout just after the `headers = this.setRestHeaders(connection);` var

[2021-03-03 14:36] tronic111 commented on #890
I get:

ERROR running auth:device:login:  Value is not a string

when trying to use the -r flag. Even against https://test.salesforce.com as suggested in their documentation

[2021-03-03 14:37] mwhisker commented on #829
Having the same issue. Can confirm that downgrading to 50.12.0 resolved it as a workaround.

[2021-03-03 14:37] kadantsam commented on #890
I can confirm that this doesn't work.  I had attempted it several times.  There is something wrong with that option.

[2021-03-03 14:39] volkanunsal commented on #829
Same issue here. I'm also unable to re-deploy existing pages. The deploy error tells me "That page name is already in use, please choose a different one." This just started happening.

[2021-03-03 14:42] volkanunsal opened #894 "Can't deploy. "That page name is already in use, please choose a different one", but page doesn't exist."
### Summary

I'm unable to deploy a new version of a component. The deploy error tells me "That page name is already in use, please choose a different one."

This component does not exist on the target org. (I deleted it.) And even if it did, I don't understand why the CLI is unable to overwrite it.

### Additional information

<img width="1105" alt="Screen Shot 2021-03-03 at 9 36 55 AM" src="http

[2021-03-03 15:23] WillieRuemmele commented on #829
Hi @pbergner @Dane86NN @mwhisker if you have a npm based installation you can run `npm install sfdx-cli@latest-rc -g` and that version should contain a fix for the `source:delete` issue

@volkanunsal that sounds like a different issue be best tracked under a new issue

[2021-03-03 15:34] superkencodes commented on #890
Here is my work-around in case anyone is interested:

type this in your ide's terminal:
`sfdx force:auth:device:login -r https://test.salesforce.com`

you will be prompted with a response similar to this:

[code]

Click on the link and enter in the code, it will redirect you to the test.salesforce.com login page. From there just login to whatever sandbox you are trying to connect to your ide.

Thi

[2021-03-03 15:39] prudev commented on #890
I'm facing this issue to.  I'm on Windows 10, VS Code version is 1.53.2, CLI version is sfdx-cli/7.89.2-d1d2614d02 win32-x64 node-v14.15.4.

The device flow work-around worked for me also:
`sfdx force:auth:device:login -r https://test.salesforce.com`

Please let us know when auth:web:login is fixed.

[2021-03-03 15:46] gsbasso commented on #884
Hi @theunisj,

Can you elaborate on the change you made to force.js (ideally provide actual code)?

Thanks.

[2021-03-03 16:00] theunisj commented on #884
@gsbasso sure

added a wait Function As I could not find one
[code]

and then in the Force.prototype.mdapiRestDeploy method
I added
[code]
after the ```headers = this.setRestHeaders(connection);``` variable Assignment

![image](https://user-images.githubusercontent.com/28117481/109833661-5bcbe000-7c39-11eb-8b5f-9c90843353b5.png)

[2021-03-03 17:12] ayiyann commented on #904
hi
How can i find log file of Vscode and send them to you ?

here i smy config:
- OS: windows 10
- sfdx --version   :sfdx-cli/7.89.2-d1d2614d02 win32-x64 node-v14.15.4
- sfdx plugins --core
@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.9.5 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plu

[2021-03-03 17:18] ayiyann commented on #904
i can share my screen and show you the issue if it is possible for you

[2021-03-03 17:28] jamesmelville commented on #884
I suspect this is a related issue, so posting here:

Running `sfdx force:org:create` is working successfully in that an org is created, but the org is not assigned the alias specified with `--setalias`. The command exits with code 0, but this error is displayed in the output:

[code]

Rolling back the salesforcedx version `sfdx plugins:install salesforcedx@51.0.2` resolves the issue.

[code]

[2021-03-03 17:34] pserquiz commented on #860
oh I see, thanks @shetzel and sorry for the confusion. There is any workaround for this right now then? not being able to deploy / push anything since yesterday. what I noticed in the html is that it shows us a message for `Illegal Request` and `You have sent us an Illegal URL or an improperly formatted request.`

[2021-03-03 17:41] Thrantor opened #896 "During Retrieve extra file created that is unable to be deployed"
### Summary

While using the SFDX command:
sfdx force:source:retrieve --manifest c:\Users\thran\Documents\USCG\pr-074696\manifest\package.xml

The location object was retrieve from dev. However, in the objects/Location folder there was a Location.field-meta.xml. But also in the objects/Location/fields directory there was another Location.field-meta.xml file.

This causes problems with the deploy t

[2021-03-03 18:01] shetzel commented on #870
@aly76 - This specific error is due to the CLI sending the `runTests` property as a string but the REST API expects an array.  That is an easy fix and we'll let you know when it's in latest-rc.

[2021-03-03 18:30] cgjerdingen commented on #890
Multiple developers here are having the same issue here at Carlson School.   auth:device:login  workaround  mentioned by @superkencodes  worked for us.

Please let us know when this issue is resolved.

[2021-03-03 20:20] tronic111 commented on #890
After completely removing Salesforce CLI from my system and everything else I could find related to it and then reinstalling I was able to get:

 sfdx force:auth:device:login -r https://test.salesforce.com

to work.

[2021-03-03 20:24] JohnTheRedeemer commented on #890
The `sfdx force:auth:device:login` worked for me, thanks for the workaround! Much less convenient than my normal worfklow, hopefully they fix this quick!

[2021-03-03 20:24] MarcDBehr commented on #701
Getting this today on **sfdx-cli/7.89.2 darwin-x64 node-v12.18.3** for a sandbox that has a status of 'Unknown'

sfdx plugins --core shows:

@dx-cli-toolbox/sfdx-toolbox-package-utils 0.3.3
@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.9.5 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plu

[2021-03-03 20:46] shetzel commented on #860
@pserquiz - If you update to the latest-rc of the CLI you can then use the `restDeploy` config variable to switch the source commands back to SOAP.  That version will be promoted to latest tomorrow so alternatively you can wait for the release tomorrow.  Another option would be to install an earlier CLI version where the default is still SOAP.

Not sure if this is an option for you but you could a

[2021-03-03 21:19] shetzel commented on #890
The fix was made in the `@salesforce/core` library for this and the `@salesforce/plugin-auth` plugin was updated (v1.4.10) to use that version.  See this PR for details: https://github.com/forcedotcom/sfdx-core/pull/384

We want to thank and give credit to @hansalves for submitting the PR.  We cherry-picked and merged his fix to get it into a release as soon as possible.

There are some options fo

[2021-03-03 22:15] Yeackley commented on #544
I'm currently hitting this issue as well trying to create records from CSV file.  Any updates?

[2021-03-03 22:33] javier-delgado commented on #884
Hi 👋
When do you think this fix will be available on the npm version of the CLI? Due to some restrictions I have, I can only use that version

[2021-03-03 23:00] adityababbar opened #926 "SFDX: Retrieve for a static resource file, creates a duplicate nested folder."
### Summary

SFDX: Retrieve for a static resource file, creates a duplicate nested folder.

### Steps To Reproduce:

1.  Open a static resource and go to any file ( e.g. a .js file).
2.  Do a SFDX: Retrieve on that file.

### Expected result

The file should be retrieved with the directory structure of the static resource folder remaining intact.

### Actual result

A duplicate nested folder is cr

[2021-03-04 00:19] GeneralDoddi commented on #884
I have exactly the same problem as @jamesmelville. I'm working from a fresh install and a new computer, did all rollbacks that people listed as workarounds with no success, my core list matches @jamesmelville

[2021-03-04 00:54] nvuillam commented on #884
Same here, it was the force:source:push which was also crashing... I still have to downgrade sfdx-cli

Maybe add `--soapdeploy` argument for all related commands until the REST deployment is stable ?

[2021-03-04 04:42] shetzel commented on #884
force:org:create uses the metadata api to deploy settings to the scratch org, so it subject to some of the same issues as the deploy commands wrt the REST API.  To workaround the issue you can use the `restDeploy` config variable to switch to SOAP if you're using the latest-rc version of the CLI.  The current latest-rc is scheduled to be promoted to latest tomorrow morning PST.  There are still bu

[2021-03-04 11:18] jamesmelville commented on #884
Thanks @shetzel.
I'm not sure if it was a fluke I reported earlier but moving the plugin version to `sfdx plugins:install salesforcedx@51.0.2` didn't seem to fix it after all, and neither did running against `latest-rc` (assume I needed to flip something with the `restDeploy` config variable).  I rolled back my whole CLI to `sfdx-cli@7.85.1` and this is back to normal for the moment.

[2021-03-04 12:44] yippie commented on #753
This just affected my ability to create a 2GP version as well. If 2GP packages are being built against an org with unknown features/settings based on what projects I worked on previously that is very scary. This could mean my package is unexpectedly dependent on a feature I had not specified and had no intent to use.

This needs to be fixed yesterday if I am going to trust this system at all to de

[2021-03-04 14:18] peternhale commented on #894
@volkanunsal Would you mind providing the command you are using when encountering this error?

[2021-03-04 14:23] nesrineould commented on #462
Try :  sfdx force:org:open -u yoursandboxalias
before deploy
it's works for me

[2021-03-04 14:49] gkcd83 commented on #226
@alan-morey great works for me for the command sfdx force:org:list, I didn't know why let a user json file empty , I deleted and works fine! thanks so much!

[2021-03-04 16:22] lcampos commented on #926
Hi @adityababbar thanks for logging this issue. I remember seeing this bug in an old version of the Salesforce CLI a few weeks ago. Can you tell us which version of the CLI you are using (run `sfdx version` on your terminal) ? If you are not in the latest version, can you try updating the CLI (`sfdx update`) and re-running the retrieve to check if it still fails ?

[2021-03-04 16:29] lcampos commented on #904
Hi @ayiyann , let's take a step back. Can you explain what you mean by "doesn't do nothing" ? Is it that your changes do not get deployed to the org ? What changes happen to your experience with the command that is solved by restarting your machine ?

[2021-03-04 16:31] adityababbar commented on #926
@lcampos  Thanks a lot for your reply. Current version is sfdx-cli/7.84.2-a2868a68d5 win32-x64 node-v12.18.3. Let me try updating it and try again.

[2021-03-04 17:05] adityababbar commented on #926
@lcampos : Updated CLI to version sfdx-cli/7.89.2-d1d2614d02 win32-x64 node-v14.15.4. Still the same issue is happening

[2021-03-04 17:23] shetzel commented on #884
@jamesmelville The most recent salesforcedx@latest-rc is 51.2.2 (`npm view salesforcedx`) so that is the version you'll want to get and then set the `restDeploy` config var either by doing `sfdx config:set restDeploy=false` or setting the equivalent environment variable, `SFDX_REST_DEPLOY=false`

There are more fixes coming in the next latest-rc release that will improve the reliability of using R

[2021-03-04 17:31] ayiyann commented on #904
Hi,
yes that mean my changes are not deployed. i am currently facing the same issue again. i don't know why it is random.
I just right click on my component and deploy to my sandbox and i get this  ( but nothing what been deployed to my sandbox):  Notice that the command doesn't show  at the end of the log the deployed components ( maybe i can try to send you a video or screenshots )

Starting SFD

[2021-03-04 17:40] ayiyann commented on #904
hi
je restart Vscode and the "SFDX: Deploy Source"     command  works fine . Here is the logs when it runs fine. You can see that at the end of the log the deployed component are listed. When i face the issue the  logs doesn't show the deployed components. (cf the logs of my previous post)

Starting SFDX: Deploy Source to Org

18:38:05.147 sfdx force:source:deploy --sourcepath c:\Users\yann\Deskto

[2021-03-04 18:53] shetzel commented on #544
I've asked for an update from the cmdt team.  I'll pass along any details they give me if no one responds here directly.

[2021-03-04 19:00] CrownSeven commented on #860
Updated to 7.90.2-b8f9206a5c win32-x64 node-v14.15.4.  I have set restDeploy=false.  This error is STILL occurring.

[2021-03-04 19:27] volkanunsal commented on #894
I was using the VS Code. I’d right click on file and select Deploy.

On Thu, Mar 4, 2021 at 9:18 AM peternhale <notifications@github.com> wrote:

[2021-03-04 20:03] CrownSeven commented on #884
Pulled down the latest version, set the flag correctly.  This is still occurring on 7.90.2-b8f9206a5c win32-x64 node-v14.15.4.

I've given up waiting for a solution and modified the force.js above to add the wait command.  Works brilliantly.  Thank you @theunisj .

[2021-03-04 20:35] mdonnalley commented on #783
Closing this issue in favor of #890

See https://github.com/forcedotcom/cli/issues/890#issuecomment-790062421

[2021-03-04 20:35] #783 closed, assigned to nobody

[2021-03-04 20:43] pserquiz commented on #860
@shetzel yeah couldn't really do that in my current project, I just uninstalled it and installed an older version for now. Thanks

[2021-03-04 20:49] uip-robot-zz commented on #544
This issue has been linked to a new work item: [W-8969685](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008x8szIAA/view)

[2021-03-04 21:24] CatoCoder commented on #890
Following

[2021-03-05 00:23] zerkz commented on #860
@CrownSeven make sure your salesforcedx is on latest and isn't still the downgraded plugin.

[2021-03-05 01:26] qwikag commented on #890
BTW: If anyone can explain the difference between the win10 download versus the Node install, please visit here to answer my question on Stackexchange.  https://salesforce.stackexchange.com/questions/335932/how-do-i-best-switch-versions-of-sfdx-and-plugins

**All is well again for me. I am node connected.**

sfdx-cli/7.90.2 win32-x64 node-v14.16.0

@oclif/plugin-autocomplete 0.3.0 (core)
@oclif/pl

[2021-03-05 01:27] qwikag commented on #890
Can someone advise what the fix was, and what it was related to.
The reason I ask is because the bug showed itself when the browser was trying to connect to localhost, and that has device implications.
**So what was the general idea of the fix?**

[2021-03-05 04:42] OnlyCookie opened #898 "Node.js used by sfdx-cli/8.89.2 does not support Windows 7 by default"
**Summary**
The recent update which was automatically pushed includes updating Node.js to v14.15.4. Since this version of Node.js does not support Windows 7, it made SFDX unusable for Windows 7 users without some hack.

When running SFDX, Windows 7 users will get the error:
`Node.js is only supported on Windows 8.1, Windows Server 2012 R2, or higher.
Setting the NODE_SKIP_PLATFORM_CHECK environmen

[2021-03-05 07:40] hansalves commented on #890
@qwikag [This is the commit](https://github.com/forcedotcom/sfdx-core/pull/380/commits/5bcabcf727ad9e4306c3e1a2ed4825e60115f939) that fixes the bug.

Basically the local server was created and set to listen to port 1717 but the event handler that processes the callback was only added if the server wasn't listening yet. Because of this, the handler was never added so the local server wouldn't do an

[2021-03-05 08:29] qwikag commented on #890
@hansalves
Thank you you for a concise answer that is great news!
So it means there were no external factors, and all the suggestions from the masses of **port changes and proxys settings and system environment variables etc, was pointless**, they probably had a different issue.

[2021-03-05 08:34] theunisj commented on #884
@CrownSeven , @shetzel

I have Tested the new Version, and Still Experiencing the same issues,
I have tested the Wait Function again, and with 200 ms, and it still works Great, I have asked our Entire Team To do this until a resolution is in Place

Unfortunately they need to do this every time there is a new update

[2021-03-05 12:26] yippie commented on #887
I have been getting this a lot lately also. running `sfdx force:org:list --clean` fixes it temporarily and I can push again but then after a bit it fails again saying org not found and half of my orgs, including prod and sandbox connections, say "Unknown"

These are all orgs that have existed for days or months.

[2021-03-05 12:41] JuliWaver commented on #887
@yippie Have you tried to set a system variable SFDX_DISABLE_DNS_CHECK=true?

[2021-03-05 14:30] SCWells72 opened #899 ""INVALID_SESSION_ID: Session expired or invalid" during force:source:push"
Potentially important qualification: I've been working with Shane McLaughlin to help verify the new `org` commands, so those were installed when this happened.

Yesterday I ran into a situation where a call to `sfdx force:source:push` resulted in the following error:

[code]

The immediate next execution of the same command completed without issue. Generally (i.e., with close to 100% consistency)

[2021-03-05 15:52] FabienTaillon opened #900 "Fire preretrieve hook even when metadata is deleted (or add another hook)"
**Is your feature request related to a problem? Please describe.**
When a metadata is deleted from the scratch org, technically nothing is retrieved via a package.xml with `sfdx force:source:pull`, and the `preretrieve` hook isn't fired.

**What are you trying to do**
There are currently some issues with the pull command (mostly because of dependencies not being tracked on the org in `SourceMember

[2021-03-05 15:54] uip-robot-zz commented on #900
This issue has been linked to a new work item: [W-8972481](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008ZtSZIA0/view)