[2020-01-09 16:37] rvwatch commented on #151
Thanks, @tbg-jasonfung ! I'll give that a try.

[2020-01-09 17:01] cumulus-robert commented on #124
I believe this is the bug you’re seeing. I didn’t have any issues with my key being in a secret file referenced in script prior to this week. Something changed inside SFDX causing scripts to fail.

From: PseudoDarwinist <notifications@github.com>
Reply-To: forcedotcom/cli <reply@reply.github.com>
Date: Thursday, January 9, 2020 at 3:02 AM
To: forcedotcom/cli <cli@noreply.github.com>
Cc: cumulus-ro

[2020-01-09 17:27] rrmehta2 commented on #260
My team is aware of the bug and we're working on releasing the fix today. I will update this thread as soon as the change is available.

[2020-01-09 18:59] cumulus-robert commented on #124
The ONLY workaround I’ve been able to put in is revert back to my ANT scripts for deployments. ANT still works great and was what I was using for CI prior to Oct-19. The challenge here is ANT uses username/password/token and SFDX uses OAUTH JWT Headless. You’d have to have two sets of credentials in Jenkins for the interim until this gets resolved.

Nothing else, no other feedback provided here al

[2020-01-09 20:22] shetzel commented on #259
Thank you.  I'll reopen.  Could be specific to Windows.

[2020-01-10 00:34] rrmehta2 commented on #260
The fix has been released and you should now be able to use the version selection feature. Please let me know if you still run into issues.

[2020-01-10 03:07] sjurgis commented on #260
Thanks, works fine here!

[2020-01-10 08:28] PseudoDarwinist commented on #124
Was the patch deployed?It was supposed to be on Thursday!!

[2020-01-10 10:11] kvor commented on #254
@clairebianchi Any news on this issue? We are stuck on 7.36 and can not update to 7.41.0 where MaxListernersExceededWarning has been resolved.

[code]
OS version: Mac OS X 10.15.2

[2020-01-10 12:24] JodieM commented on #221
I have tried that fix, and I hasn't fixed anything. I have somehow ended up with duplicate report details in my source and deleting one, deleting a folder or renaming the report file name all result in this error and I'm now stuck. I did close VS Code and re-open it after making the change. I'm also on Windows 10.

[2020-01-10 12:30] JodieM commented on #165
@clairebianchi is this actually the same as #221?

[2020-01-10 12:45] JodieM commented on #165
I deleted a report from the org, deleted it from the recycle bin, did a force:source:pull and it does not change the source. So I have to delete it from the source locally, and then issue 221 occurs.

[2020-01-10 12:49] JodieM commented on #221
Aha! The work around by @jamesmelville on #165 actually works!

Workaround: manually delete entries from sourcePathInfos.json, and manually delete from org, pull & push.

[2020-01-10 15:19] ajw725 commented on #260
here too. thanks @rrmehta2 !

[2020-01-10 15:51] #260 closed, assigned to nobody

[2020-01-10 16:29] cumulus-robert commented on #124
I'm curious too. I just ran 'sfdx update' and says I'm on latest
version.Just ran my pipeline in Jenkins and continue to receive the error.

ERROR running force:mdapi:deploy:  ENOENT: no such file or directory, open

On Fri, Jan 10, 2020 at 12:28 AM PseudoDarwinist <notifications@github.com>
wrote:

--
*Robert Brown*
Senior Consultant

www.cumulusvision.com
Direct 415.463.1202
25 Taylor Street | S

[2020-01-10 19:36] clairebianchi commented on #254
Hi all, we are currently having issues with updating our installers. We should be getting those fixed today and the newest version of the CLI should be available via sfdx update. If you need the latest version of the CLI, which does have the MaxListernersExceededWarning, fix right now you can uninstall your CLI and do an NPM install https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta

[2020-01-10 19:39] clairebianchi commented on #124
@cumulus-robert @PseudoDarwinist, we are currently fixing the build for our installers that is causing an issue with `sfdx update` it should be fixed today but if you need the newest version of the CLI you can uninstall your CLI and use NPM install which does have the latest version https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm#sfdx_setup_i

[2020-01-10 22:10] mcovarr85 commented on #38
I'm also facing the same issue with sfdx-cli version: 7.36.0-b1c4e9c7c8

[2020-01-11 01:05] sjurgis opened #265 "Duplicate classes from different packageDirectories getting overwritten without a warning"
### Summary

We extensively use packageDirectories to separate concerns and split package into smaller, more understandable pieces.
However, I've recently discovered that duplicate file names (tests in particular) would get overwritten (I think by the order specified in packageDirectories) without producing error or even warning.

### Steps To Reproduce:
Consider this `sfdx-project.json`:
[code]
1

[2020-01-11 15:12] kvor commented on #254
@clairebianchi Thanks. It seems to be a regression of  https://github.com/forcedotcom/cli/issues/126 (June 2019). We will wait a bit as we do not want to repeat the process of uninstall/install again.

[2020-01-11 18:48] oxiumio commented on #41
@zerkz this does not seem to work. Here are details:

CLI version: 7.36.0-b1c4e9c7c8 (latest as of today)

If one label is added to package.xml, then deployment crashes with the following:

    ERROR running force:source:deploy:  Maximum call stack size exceeded
    at ChildProcess.exithandler (child_process.js:299:12)
    at ChildProcess.emit (events.js:182:13)
    at ChildProcess.EventEmitter.em

[2020-01-11 20:29] ranjanjha17 commented on #259
I am on Windows 10 and cli is 7.36.0

[2020-01-12 17:42] zerkz commented on #41
Hi @oxiumio

A few things:
- 7.36.0 is not the latest at the time of your posting - I believe that was released a month ago. 7.41.0 is the latest. https://www.npmjs.com/package/sfdx-cli
![image](https://user-images.githubusercontent.com/1448099/72222977-5cd31700-3538-11ea-9945-9fe016f3cd51.png)

- The source of release notes I used was from Salesforce's `salesforcedx` npm module. This is a main de

[2020-01-13 09:38] PseudoDarwinist commented on #124
Was it fixed?Do i need to uninstall my CLI and install it again because i keep receiving the same error.

[2020-01-13 12:45] karanjakrpushkar commented on #124
Is this resolved yet. I am still facing the same error message . Do we need to uninstall CLI and reinstall ?Also I face this error message only for a deployment to a certain SF instance and not any other instance.

[2020-01-13 14:50] sfsholden commented on #214
@smcmickleMTM Thanks for reaching out. That is the expected behavior. Please have a look at the documentation linked above - it sounds like the Org Browser will be the solution needed for pulling those new components from the Sandbox.

[2020-01-13 15:43] ghost commented on #153
This would be very useful for our team and would be simpler and cleaner than constructing a bash script to accomplish the same. Thanks!

[2020-01-13 16:13] zerkz commented on #41
You might also be effected by this issue -- https://github.com/forcedotcom/cli/issues/254 which is why its reporting 7.36.

[2020-01-13 16:32] aheber commented on #254
@clairebianchi did the installers get fixed on Friday? I'm still showing the older version and `sfdx update` doesn't appear to find a new version yet. If you pushed updates maybe we need to uninstall and reinstall??

[code]

[2020-01-14 10:18] AngryBearDev commented on #254
I'm still getting the same issue.  Stuck on version 7.36

`sfdx-cli: Updating CLI... already on latest version: 7.36.0-b1c4e9c7c8`

[2020-01-14 15:25] maaaaarco opened #266 "Features not being enabled in Scratch Org when release is Preview"
### Summary
Using the same scratch org configuration file, features are **not** automatically enabled upon Org creation when setting `release=Preview`

This is the configuration file I'm using:
[code]

### Steps To Reproduce:

1.  Create a Scratch Org using the configuration file provided, without specifing the `release` version
1.  After the Org is created verify that the _Contacts to Multiple Ac

[2020-01-14 19:35] renatoliveira commented on #16
Interesting thing I found: a typo in your deploy command can produce this error too.

[code]

Note the extra "T" before "Component". This productes the same error described in the original post. Fixing the metadata name makes the command work.

Just commenting in case someone else has this same issue because of a silly typo. :)

[2020-01-14 20:00] clairebianchi commented on #26
@ImJohnMDaniel can you please create a new feature request. Sorry this question got lost in the pre-holiday hubbub

[2020-01-14 20:52] ImJohnMDaniel opened #267 ""plugins" topic should support "--json" flag"
**Is your feature request related to a problem? Please describe.**
* relates to issue #26

**What are you trying to do**
* The absence of the flag complicates the automation on a build job when trying to determine what plugins are currently installed

**Describe the solution you'd like**
* The `--json` flag is added to the `sfdx plugins` command
* The execution of the command produces output in JS

[2020-01-14 20:53] ImJohnMDaniel commented on #26
@clairebianchi -- I just opened feature request #267

Let me know if you need anything else.

Cheers!

[2020-01-14 21:36] clairebianchi commented on #263
@sjurgis Is this only happening with CI or in development as well. Can you share your scratch def file?

[2020-01-14 21:38] clairebianchi commented on #264
@YodaDaCoda We are going to look into this issue. Thank you

[2020-01-14 21:40] clairebianchi commented on #265
@sjurgis We are currently working on improvements to the CLI that will improve the experience with having multiple package directories in one project. This work is being tracked internally and is currently in progress. We expect to have something released in spring if not sooner. I am going to close this issue, thank you for reaching out

[2020-01-14 21:40] #265 closed, assigned to nobody

[2020-01-14 21:42] clairebianchi commented on #266
@maaaaarco, I believe this is a known issue that the Scratch org team is working on fixing. @rrmehta2 can you please confirm

[2020-01-14 21:43] sjurgis commented on #265
@clairebianchi unsure why you are closing the issue if it's not resolved...

[2020-01-14 21:44] clairebianchi commented on #267
@ImJohnMDaniel do you mean the `sfdx plugins` topic?

[2020-01-14 21:47] sjurgis commented on #263
CI Config:
[code]
Dev
[code]

So the only differences are hasSampleData, email and name (tends to stay same whereas dev org names are randomized).

TBH I don't think it's a bug with CLI itself but with Metadata API. Could be like labels are getting confused with API names or smth.

[2020-01-14 21:48] sjurgis commented on #265
This is quite serious defect too...

[2020-01-14 21:49] clairebianchi commented on #255
@ericrsmith35 can you please send us more information such as your CLI version and OS. Also please confirm that you are pointing to the org that contains the LWC components when you run the command

[2020-01-14 21:50] clairebianchi commented on #254
We are still investigating the issue. If you need the most recent version of the CLI please install using NPM https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm#sfdx_setup_install_cli_npm

[2020-01-14 21:52] clairebianchi commented on #253
@tsadigov can you give us more information on what you are trying to retrieve and the size?

[2020-01-14 22:40] ImJohnMDaniel commented on #267
Yes, @clairebianchi, i did mean `plugins` topic.  Good catch!  I have updated the ticket accordingly

[2020-01-14 23:19] clairebianchi commented on #252
We are taking a look at this internally. I will keep you posted when we know more

[2020-01-15 14:03] ninarosen commented on #205
What an annoying bug...
Thanks for sharing workarounds!
I hope the fix comes around quickly.

[2020-01-15 16:29] alan-morey commented on #254
Looks like it is fixed! :tada:

[code]

[2020-01-15 16:29] #254 closed, assigned to nobody

[2020-01-15 16:37] FabienTaillon opened #268 "Add the option to output ux.startSpinner in stdout instead of stderr"
**Is your feature request related to a problem? Please describe.**
I'm using `this.ux.startSpinner()` in my custom sfdx plugins, and noticed that the output is written to `stderr`. It looks like this is because of the default value in the [underlying oclif method set to stderr](https://github.com/oclif/cli-ux/blob/06ef95fe483e6c19c53f6b4273e24d4b30432f99/src/action/base.ts#L30).
Our CI is failing

[2020-01-15 22:58] alan-morey opened #269 "force:mdapi:deploy progress bar not working correctly when tests executing"
### Summary
The new MDAPI progress bar displays incorrect information when tests are executing as part of a deployment and no further progress updated on the bar.

[code]

86 represents the number of components that were deployed. This number doesn't change as tests are executed. There is a brief flash where 86 changes to the test number but immediately returns to display 86/825.

825 represents t

[2020-01-16 01:33] cumulus-robert commented on #124
I got to say this is pretty disappointing. To have built a solution based on salesforce.com telling me I was losing Eclipse and Visual Studio is the way to go AND oh by the way it’s in a completely different format so you have to reorganize stuff AND here’s the tools (SFDX) to do so. I migrated our whole Jenkins instance using these tools. As a consultant operating with 10+ organizations, the only

[2020-01-16 14:24] svinuesa commented on #151
Hello,

I am having the same issue with ManagedContentType

`sfdx force:source:retrieve -m ManagedContentType`
`ERROR running force:source:retrieve:  Cannot read property 'metadataName' of undefined`
`15:19:51.186 sfdx force:source:retrieve -m ManagedContentType ended with exit code 1`

Thanks,

[2020-01-16 17:12] mpdeglau opened #270 "Getting an error when trying to spin up a scratch org"
### Summary

When trying to create a scratch org I get the error `The request to create a scratch org failed with error code: C-1033`

### Steps To Reproduce:

1.  sfdx force:org:create --setdefaultusername -s -a scratchName -f config/project-scratch-def.json

### Expected result
Expect a new scratch org to be created.

### Actual result

Receive the error:
The request to create a scratch org fail

[2020-01-16 18:24] vineetpuranik commented on #270
We are also seeing the same error with the exact error code today when our CI job is trying to create scratch orgs.

![image](https://user-images.githubusercontent.com/40868710/72551781-687d5100-384a-11ea-990f-4b3bf42ccd3f.png)

[2020-01-16 19:57] cceremuga opened #271 "force:mdapi:deploy progress bar not rendering in CI/CD systems"
When utilizing the force:mdapi:deploy command in server-based CI/CD systems (such as Bitbucket Pipelines, CircleCI, TeamCity, etc.) these systems often don't have the same CLI UI refresh capabilities as local systems do.

This causes the output of the new progress bar to display nothing at all when a deployment / unit test run is occurring. Essentially, it reduces progress reports during deploys t

[2020-01-16 22:20] johnzhao9 opened #272 "VR-0003 Error on scratch org creation"
### Summary

_Short summary of what is going on or to provide context_.

Trying to create a `release:"Preview"` scratch org receives this error:
[code]
We suspect this error means that it couldn't find the next release (Summer '20) which is expected, because our DevHub is already on Spring '20, but we've never seen this VR-0003 error before (it was X-0002 before the better error messages came thro

[2020-01-16 23:18] mikesobczak opened #280 "RangeError: Maximum call stack size exceeded"
### Summary

Trying to deploy code to an org by right-clicking on the the package.xml and selecting SFDX: Deploy source in manifest to org.  The console displays "RangeError: Maximum call stack size exceeded"

### Steps To Reproduce:

1.  Right-click on package.xml
1.  Select the "SFDX: Deploy source in manifest to org" option

### Expected result

Code deployed to org.

### Actual result

Startin

[2020-01-17 01:27] ricxsar opened #273 "Error when pushing metadata to scratch org with multiple package directories"
### Summary

I have a repository with 3 package directories. Visual Code detected the both metadata on those directories when issuing `force:source:status`.

When I'm trying to issue a push `force:source:push`, all metadata on those directories is included on the generated `package.xml` however some of metadata files are not included on the push and of course it will throw an error .

![image](htt

[2020-01-17 08:57] JodieM commented on #216
I just ran an sfdx update and that introduced the error.

sfdx-cli/7.42.1-e41dbeb8d9 win32-x64 node-v10.15.3

[2020-01-17 09:26] ImJohnMDaniel commented on #216
I am seeing this as well

[2020-01-17 10:08] Ragzzy-R commented on #216
is there any update on this? still getting this error. unable to deploy to orgs. Any version that i can rollback to workaround for the time being?

[2020-01-17 10:57] kvor commented on #216
Still encountering the same problem.

sfdx-cli/7.42.1-e41dbeb8d9 darwin-x64 node-v10.15.3
Mac OS X  10.15.2

[2020-01-17 15:59] johnzhao9 commented on #216
Same here on version `sfdx-cli/7.42.1-e41dbeb8d9 linux-x64 node-v10.15.3`

[2020-01-17 16:16] mpdeglau commented on #270
It was caused by
https://status.salesforce.com/generalmessages/366

[2020-01-17 16:16] #270 closed, assigned to nobody

[2020-01-17 16:36] johnzhao9 commented on #216
Rolling back to 47.15.0 worked
`sfdx plugins:install salesforcedx@47.15.0`

[2020-01-17 17:46] ChuckJonas commented on #30
I'm still seeing this issue (running 7.42.1-e41dbeb8d9)

[2020-01-17 18:16] kacrouse commented on #30
I see this issue only when the CLI has been installed [via the downloaded pkg](https://developer.salesforce.com/tools/sfdxcli) (or homebrew). It does not show up when it's been installed through npm.

It seems that the node versions might be different between the two? When running `sfdx -v` on the pkg version, it prints:
[code]
While running on the npm version, it appears that it's using the local

[2020-01-17 18:37] kristualdandamudi commented on #41
i also faced same issue today **'sfdx force:source:deploy -x manifest/package.xml
ERROR running force:source:deploy:  Maximum call stack size exceeded'** error.
i didn't add any custom labels in my package.xml still i am facing issue.
cli version : sfdx -v
sfdx-cli/7.41.0-2a5f766389 win32-x64 node-v10.15.3

please help me for resolution on this?

[2020-01-17 23:07] AndrewRayCode opened #274 "Getting progress bar in non-tty environment"
Our CI system has started having this output:

[code]

This isn't a tty interface so this progress bar makes no sense, and I also don't understand why we started getting a progress bar out of nowhere.

each run is a clean install, here's the version:
[code]

[2020-01-18 13:06] jayree commented on #30
@ChuckJonas try to install the latest version of the plugin salesforcedx:

`sfdx plugins:install salesforcedx@latest`

Even if the latest version is the core version `47.15.0`, the error is gone for now on my side.

[2020-01-18 20:37] Andrews-Consulting commented on #167
I re-encountered this issue again working on certifications today.  After uninstalling the CLI and re-installaing the CLI, I'm able to deploy to this org.  Not sure if it was a code issue or installation issue.

[2020-01-18 20:37] #167 closed, assigned to nobody

[2020-01-19 21:53] kvijay460 commented on #151
This could be valid error because I see ManagedContentType is not yet supported until Metadata Version 48.
Here's the supported components list:
https://developer.salesforce.com/docs/metadata-coverage/48

[2020-01-19 22:44] qduck93 commented on #216
I'm getting the error as well.  I even updated my version of node.js

I was running the command:  sfdx force:source:status -u MyScratchOrg

[2020-01-20 03:43] kvijay460 opened #275 "Unable to retrieve CMSComponent source"
### Summary

Unable to retrieve CMSConnectSource using API Version 47 on our Sandbox.
Our Sandbox is residing in CS8.

### Steps To Reproduce:

1. sfdx force:source:retrieve -m CMSConnectSource

### Expected result

Get CMS Connect Source metadata

### Actual result

ERROR running force:source:retrieve:  Cannot read property 'metadataName' of undefined
Unable to retrieve CMSConnectSource

### Addi

[2020-01-20 04:20] seanrichards commented on #216
I'm getting it too running sfdx force:source:deploy when pushing into a sandbox

[2020-01-20 05:44] RajkumarGaikwad commented on #253
I am also experiencing the same issue ? do we have any solution on this?

[2020-01-20 11:08] MattB-R commented on #30
@jayree Thank you! Fixed my issue. Much appreciated.

[2020-01-20 11:22] turalsadik commented on #253
@clairebianchi  thanks for interest, I specified in summary that I am trying to retreive all metadata. Do you need anything else or something specifically?

What you mean by size? Size of all xml files?

[2020-01-20 11:25] turalsadik commented on #253
this is the list from above log that I am trying to retreive

InstalledPackage,CustomLabels,StaticResource,Scontrol,Certificate,AuraDefinitionBundle,LightningComponentBundle,ApexComponent,ApexPage,Queue,CaseSubjectParticle,ExternalDataSource,NamedCredential,ExternalServiceRegistration,Role,Group,GlobalValueSet,StandardValueSet,CustomPermission,CustomObject,ReportType,Report,Dashboard,AnalyticSnaps

[2020-01-20 16:30] jamesmelville commented on #216
This error ` MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 exit listeners added. Use emitter.setMaxListeners() to increase limit` started occurring for me since upgrading to `sfdx-cli/7.42.1-e41dbeb8d9 win32-x64 node-v10.15.3`.

Running `sfdx plugins:install salesforcedx@47.15.0` has resolved the issue, but can you explain why @johnzhao9 ?. Prior to running the comman

[2020-01-20 17:00] yaiza-bailen commented on #216
It also happens to me

[2020-01-20 17:11] TheBitShepherd commented on #216
Seeing this with `sfdx force:org:create`. Executing `sfdx plugins:install salesforcedx@47.15.0` as @jamesmelville mentioned seems to mitigate the warning. I have a Heroku app that pulls sfdx from a buildpack, so I'm not able to do this on every worker dyno that spins up :(

[2020-01-20 17:27] johnzhao9 commented on #216
@jamesmelville I don't know why either. Maybe the version number is mislabeled or re-installing the same version cleared out dependency / cache issues

Diffing the code before and after update at `sfdx/node_modules/salesforce-alm/dist/commands/force` might be a way to find out what's up with this

[2020-01-20 19:08] aheber commented on #274
Agreed, should have a different behavior in non-tty. My CI system doesn't report lines until a `\n` is received so dancing with the `\r` is ignored. This means that my logs are full of progress bars but also means I have no sense of progress until the action is finished.

[2020-01-20 21:03] clairebianchi commented on #252
@sinanbunni, talking a look at the log lines, the message telemetry is merely stating that telemetry is enabled:
{"name":"sfdx","hostname":"Deenas-MacBook-Pro.local","pid":58242,"log":"TelemetryReporter","level":40,"msg":"Insights logging in enabled. This can be disabled by setting SFDX_DISABLE_INSIGHTS=true","time":"2019-12-17T17:53:00.857Z","v":0}
Can you make sure that the devhub that you are c

[2020-01-20 21:05] svinuesa commented on #151
Thank you @kvijay460 ! This is helpful link.

[2020-01-20 21:24] clairebianchi commented on #216
Thank you all for bringing this to our attention. We thought we had a fix out for this in 47.14 but it sounds like 47.15 has the same error. Please provide any details you have on what commands you are running that cause you to see this error, we have someone looking into the issue now.

[2020-01-20 21:35] kacrouse commented on #216
The workaround of downgrading the salesforcedx plugin does not work for me. I've tried a few things with no success.

- install pkg ([via homebrew cask, which is currently downloading v7.36.0-b1c4e9c7c8](https://github.com/Homebrew/homebrew-cask/blob/3e4183bd09b29b5da0212e2ac8d794aca3213a0a/Casks/sfdx.rb)), followed by `sfdx update`,  followed by `sfdx plugins:install salesforcedx@47.15.0`
- insta

[2020-01-20 22:26] msrivastav13 commented on #216
@clairebianchi a simple `sfdx force:org:list` gives this error . I am on sfdx-cli 7.42.1 and salesforcedx version 47.15.0(core). Hope this helps

[2020-01-20 23:17] apschwartz commented on #216
In my case there is no homebrew component.
SFDX version: is:
`sfdx-cli/7.42.1-e41dbeb8d9 darwin-x64 node-v10.15.3`
`salesforcedx 47.15.0 (core)`

Can cause issue with: `sfdx force:org:list`

Seeing similar behavior on a client's windows machine after issuing sfdx update on their machine this morning.

[2020-01-20 23:28] clairebianchi commented on #216
We are working on a fix right now. The issue should not be blocking, are you still able to execute the commands even though the warning is showing up?

[2020-01-20 23:50] clairebianchi commented on #263
@sjurgis are you using source:deploy or mdapi:deploy?

[2020-01-20 23:58] clairebianchi commented on #261
@sjurgis thank you for reaching out. @ntotten can you please take a look

[2020-01-21 00:10] hiepllp commented on #216
@clairebianchi yes, the commands are still able to execute just appended with the warning

[2020-01-21 00:20] clairebianchi commented on #216
Thank you @hiepllp.

We are hoping to get a fix out in this Thursday's release. The fix is in QA now.

[2020-01-21 01:33] sjurgis commented on #263
@clairebianchi  sorry if misleading, but I'm using `force:source:push`.

[2020-01-21 04:29] sjurgis opened #276 "Source Progress bar causes output truncation"
### Summary

Upon appearance of Source Progress bar, the remaining console output gets truncated to the window with (instead of wrapped into new line). Even output from non-sfdx commands (such as cat) gets truncated after, say, `sfdx force:source:push` (I believe the progress bar is used elsewhere).

### Steps To Reproduce:

See screenshot - note last command output was truncated.
<img width="1007

[2020-01-21 04:33] sjurgis opened #277 ""sfdx open" autocomplete resolves to "sfdx porr:open""
### Summary

sfdx autocomplete fails to resolve `sfdx open` correctly.

### Steps To Reproduce:

1.  Type `sfdx open` tab

### Expected result

Autocompletes to `sfdx force:org:open`

### Actual result

`sfdx porr:open`

### Additional information

`iTerm 3.3.7`

`sfdx-cli/7.42.1-e41dbeb8d9 darwin-x64 node-v10.15.3`

[code]

`Catalina 10.15.2 (19C57)`

oh-my-zsh latest

[2020-01-21 04:38] sjurgis commented on #276
Given other issues with progress bar, perhaps we can get env variable to disable it?

[2020-01-21 14:34] kevanmoothien commented on #216
I am encountering this issue on my side also. It is kind of blocking since I am parsing the json response of the request but since these warning came in, the parsing failed. Do you have an ETA when this should be resolved?

Working fine in this version
`sfdx-cli/7.41.0-2a5f766389 linux-x64 node-v10.15.3`

Having the issue with this version
`sfdx-cli/7.42.1-e41dbeb8d9 linux-x64 node-v10.15.3`

Is t

[2020-01-21 15:46] SCWells72 commented on #216
@kevanmoothien Are you seeing this message on stdout? I've only seen it on stderr, and for a bit now all structured/JSON output is sent to stdout and all unstructured/informational output is sent to stderr. As long as you're only parsing stdout you should be okay.

[2020-01-21 17:19] matteobosc opened #371 "SFDX: Authorize an Org doesn't open browser for OAuth"
### Summary

I created a new project using the command SFDX: Create Project with Manifest. When I run the command SFDX: Authorize an Org choosing the Sandbox option it doesn't open the browser for OAuth, the banner of the command is still there and the command prompt doesn't show any error.

![image](https://user-images.githubusercontent.com/43987657/72826972-2f921180-3c7a-11ea-9a6b-f3e2371ca83c.p

[2020-01-21 17:25] skysicilianol commented on #371
Hello,
I have the same problem. Following I report additional informations:

VS Code Version:
1.41.1

SFDX CLI Version:
sfdx-cli/7.42.1-e41dbeb8d9 win32-x64 node-v10.15.3

Salesforce Extension Pack Version:
47.15.0

[2020-01-21 17:37] lcampos commented on #371
Hi @matteobosc & @skysicilianol , I think the issue you are facing is related to the default browser you've configured on your system, same as described in issue forcedotcom/salesforcedx-vscode#1654 . When you run the auth command the extensions use the browser you've added as default at the OS level. It seems that in certain scenarios the default browser is not responding in Windows. Can you try

[2020-01-21 18:49] matteobosc commented on #371
Hi @lcampos,

thanks for the quick reply, with antoher browser the command runs fine. I'm a bit surprised because for my previous projects I always had Chrome as default browser and the command worked fine... In addition opening a link with the command _explorer "https://google.com"_ from command line in VSC opens Chrome correctly, it would be quite annoying to switch default browser only to autho

[2020-01-21 18:57] cumulus-robert commented on #124
This continues to be a problem for me. This morning I thought there was progress because jobs that were previously failing started working again. When I started to go remove my workarounds one by one, I found that other jobs were still failing and some weren't. Same behavior as my last comment.

I can run the exact same 'retrieve' command on a job having the exact same jenkins config. I created a

[2020-01-21 20:23] clairebianchi commented on #263
@sjurgis thank you. I'll have someone dig into it.

[2020-01-21 20:27] AndrewRayCode commented on #30
What's the difference between `sfdx update` and `sfdx plugins:install salesforcedx@latest` ? The first one doesn't seem to fix this issue

[2020-01-21 20:28] ChuckJonas commented on #37
@clairebianchi feels like you prematurely closed this out. This has real potential to F up CI processes and potentially break production orgs if one of these deployments slips through as "complete" when it really wasn't (speaking from experience).

@aheber Did you come up with some way to handle this?

[2020-01-21 20:32] clairebianchi commented on #263
Hi, I have passed the information on the MDAPI team and they are going to take a look at the issue

[2020-01-21 20:34] clairebianchi commented on #216
We have a fix and it will go into tomorrow's release

[2020-01-21 20:39] ChuckJonas commented on #37
In my case, I encountered a test error early on in the deployment and canceled it so I could make another attempt.

However, my CI process saw this as complete and continued with the rest of the process.

[2020-01-21 21:09] ChuckJonas commented on #30
I still see the error after running both....

FYI looks like theres a more recent issue now #216

[2020-01-21 21:12] clairebianchi commented on #124
@cumulus-robert, I am so sorry that this is still happening. Is it the exact same error? Are you on CLI version sfdx-cli 7.42.1 and salesforcedx 47.15.0?

[2020-01-21 21:18] clairebianchi commented on #37
@ChuckJonas would adding a status code of canceled help?

[2020-01-21 22:11] #253 closed, assigned to nobody

[2020-01-21 22:11] #251 closed, assigned to nobody

[2020-01-21 22:11] #255 closed, assigned to nobody

[2020-01-21 22:20] ChuckJonas commented on #37
@clairebianchi  Do you mean I non-0 exit code or something else?

I'm using the `--verbose` format so it's easier to monitor the pipeline.

[2020-01-21 22:40] clairebianchi commented on #268
@FabienTaillon how are you starting your spinner? In the Oclif docs it looks like you can do what you want, see: https://oclif.io/docs/spinner

I am wondering if this is a bug and its not working.

[2020-01-21 22:44] clairebianchi commented on #269
@alan-morey you are correct that the progress bar denominator updates after all the components are deployed and adds the tests but the bar should update as tests are run. We will take a look.

[2020-01-21 22:45] aheber commented on #37
@ChuckJonas I haven't found a suitable action here. We have just had to be careful when we cancel.

I would still really like a non-0 exit code here. I'm fine if that code is 10 or 3000, just not 0.

[2020-01-21 22:47] clairebianchi commented on #272
@johnzhao9 I am passing your question on to the Scratch org team. @rrmehta2 would you please take a look

[2020-01-21 22:50] clairebianchi commented on #273
@ricxsar the CLI currently does not support this use case, see https://github.com/forcedotcom/cli/issues/223
We are actively working on supporting multiple package directories in one SFDX project, we are hoping to launch this in the CLI before Summer 20

[2020-01-21 22:50] #273 closed, assigned to nobody

[2020-01-21 22:51] johnzhao9 commented on #272
@clairebianchi Thank you!

[2020-01-21 22:52] clairebianchi commented on #274
@AndrewRayCode we will take a look at this issue.

We launched the progress bar 2 weeks ago but it should not be affecting you in this way

[2020-01-21 22:54] clairebianchi commented on #276
@sjurgis Thank you for letting us know, we will take a look

[2020-01-21 22:56] clairebianchi commented on #277
@sjurgis, did you try with `sfdx force:or` you would need the force for the autocomplete to work

[2020-01-21 23:39] ralphcallaway commented on #37
@clairebianchi the primary users of an exit status are going to CI scripts, very dumb CI scripts. And those CI scripts like to do other stuff when something "succeeds", so if we return 0 when it's cancelled these dumb scripts will just keep doing whatever they were doing.

Bear in mind that most scripting are set up to chain things and this is all based on the return code (i.e. `./deploy.sh && ./m

[2020-01-22 06:25] kevanmoothien commented on #216
Thanks @SCWells72. The library I used was passing both the stdout and stderr together. Parsing just the stdout works fine.

[2020-01-22 08:12] oriolete commented on #216
During update:

[code]

We need to do something special after update?

[2020-01-22 12:24] FabienTaillon commented on #268
@clairebianchi oclif allows it, but not the SDX CLI library. I would like to add the same option [here](https://github.com/forcedotcom/cli-packages/blob/f67acada84ea39c7b8d572fa817b24e03da6f496/packages/command/src/ux.ts#L152).

Benefit is that I won't have to handle the `--json` flag myself to avoid the ouput when json is returned.

To be honest I don't really get why this is ouputed in stderr by

[2020-01-22 13:03] ImJohnMDaniel commented on #268
+1 to @FabienTaillon ‘s suggestion.

[2020-01-22 13:44] MatiasRosbaco opened #278 "ERROR Cannot read property 'metadataName' of undefined on VsCode"
Summary

I'm trying to retrieve source from org to manifest and I get the error Cannot read property 'metadataName' of undefined I'm retrieving by doing right click on manifest and selecting the option retrieve source in manifest from org and also from the sfdx force:source:retrieve

I used the extension salesforce package.xml generator to create the package.xml file

I already tried to do the com

[2020-01-22 13:49] MatiasRosbaco commented on #278
[package.zip](https://github.com/forcedotcom/cli/files/4097596/package.zip)

[2020-01-22 15:38] mshanemc opened #279 ""sfdx commands --json" returns incorrect flag types"
### Summary

Flags either say their type is boolean or option, regardless of what type the actually are.

### Steps To Reproduce:

1.  `sfdx commands --json`

### Expected result
flag types from https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_plugins.meta/sfdx_cli_plugins/cli_plugins_customize_parameters_types.htm

example: scrolling down to apex:file:execute
[code]
### Actual result

[

[2020-01-22 16:13] qduck93 commented on #216
@clairebianchi   Hey there... was the fix going today (WED) or on Thursday ?  Thanks!

[2020-01-22 16:29] lcampos commented on #371
@matteobosc I agree with you, I still haven't found what configuration is causing Chrome to fail to open on Windows. Which version of Chrome are you running ?

[2020-01-22 17:29] cumulus-robert commented on #124
Hi @clairebianchi - Yes, same error. I had updated version last week to 7.41.0. I just updated version again and confirmed it is now 7.42.1. I can confirm too that salesforcedx is version 47.15.

Version summary:
![2020-01-22_09-27-33](https://user-images.githubusercontent.com/8163365/72917850-7115d180-3cf9-11ea-9828-71e5d73f7f2a.png)

Jenkins console output:
![2020-01-22_09-17-24](https://user-im

[2020-01-22 18:53] clairebianchi commented on #216
@qduck93 I am trying to get the fix in by the end of today. I will update this channel once I know more

[2020-01-22 22:09] matteobosc commented on #371
This is my current version of Chrome (up to date): Version 79.0.3945.130 (Official Build) (32-bit)

[2020-01-22 23:23] gitmatheus commented on #272
@johnzhao9 please double-check if your `dev hub` is a pre-release org (GS0). If so, that might be the problem. Please use a non-pre-release org as your `dev hub`, and set the scratch org `release` to `preview`.

[2020-01-22 23:28] rvwatch commented on #151
@tbg-jasonfung I've tried to repro this issue on both mac and windows and so far haven't had any problems running source:retrieve against any of the mentioned types. Would you or anyone else in this thread be willing to send over a generic repo that can consistently reproduce this issue or potentially send over the contents of your scratch-def.json file as well? The debug is missing the actual err

[2020-01-23 00:35] clairebianchi commented on #216
The fix will go out in the CLI release tomorrow Thursday 1/23/2020

[2020-01-23 01:16] abhinavguptas commented on #216
Following

[2020-01-23 02:18] YesDnil41 commented on #216
for added flavor, not only do i see the error with the already noted commands, VS Code also crashes. When creating a new Lightning Web Component (right click on target folder OR select from command palette) VS Code crashes. OSX 10.15.2 (19C57)

[2020-01-23 03:32] davidryan59 commented on #216
What time on Thursday (today) will this bug fix be released?

[2020-01-23 04:48] amphro commented on #124
I'm late to this thread but I'm hoping I can provide some additional context and help to get to the bottom of this.

The Salesforce CLI stores all authentication in the `<home>/.sfdx` folder. When the JWT auth command is run we do **NOT** override the auth file for existing usernames which is why I think someone suggested to logout first. This means if multiple jobs are using the same devhub and/o

[2020-01-23 12:03] map1968 commented on #216
fix still not released :-(

[2020-01-23 14:02] johnzhao9 commented on #272
@toadgeek Got it, that resolves it, thank you very much!

[2020-01-23 14:02] #272 closed, assigned to nobody

[2020-01-23 15:03] andrewcoylesagecom commented on #216
The 23rd isn't over yet. Hopefully the fix will be out before this evening.

[2020-01-23 16:28] MarcDBehr commented on #216
California is just getting into the office now... I would not expect the release before 11:00 PST

[2020-01-23 16:45] ntotten commented on #216
Yes, the releases typically go out later in the afternoon pacific time. It will be released by the end of the day though.

[2020-01-23 17:00] cmac08 commented on #216
Following.

I see this Warning appear when I retrieve changes from my Org.
sfdx force:source:retrieve --sourcepath

[2020-01-23 19:38] cumulus-robert commented on #124
My issue has been resolved with the feedback of ensuring scripts are setting home environment local to the job vs. global home environment.

Wrapping my 'With credentials' groovy script with:

[code]

For Jenkins jobs outside of pipeline, adding home environment specification (export HOME=$WORKSPACE) to the script fixed my outside Jenkins jobs:
[code]

Thank you to @clairebianchi and team for taki

[2020-01-23 19:38] kacrouse commented on #216
No longer seeing the error after updating to `7.43.1-ef237e8b37`! 🎉🎉🎉 I'm using the pkg version of the CLI, haven't tried npm.

Tested with the following commands:
- `sfdx force:org:list`
- `sfdx force:config:get apiVersion`

[2020-01-23 21:54] clairebianchi commented on #124
@cumulus-robert thank you for the update. We are updating our Jenkins documentation with this information. I am going to close this issue now.

[2020-01-23 21:54] #124 closed, assigned to nobody

[2020-01-23 23:15] clairebianchi commented on #216
The fix is out, Thank you all for being patient with us.

[2020-01-23 23:15] #216 closed, assigned to nobody

[2020-01-23 23:36] noilco commented on #371
I'm facing same issue too...

my version information is follows:
sfdx : sfdx-cli/7.42.1-e41dbeb8d9 win32-x64 node-v10.15.3
chrome : 79.0.3945.130（Official Build） （64-bit）

And, In my case, chrome does not open, after I updated windows 12/27/2019.
windows version is follow:
10.0.18362/18362

[2020-01-24 00:08] brpowell commented on #371
Does authorizing directly with the CLI in terminal/powershell have the same issue?

`sfdx force:auth:web:login`

[2020-01-24 00:09] lcampos commented on #280
Hi @mikesobczak thanks for opening this issue. We released a fix for this a couple of releases ago so I'm wondering if there's something we missed or some plugin config that's outdated. Could you add the output of running `sfdx plugins --core` ?

[2020-01-24 00:16] lcampos commented on #280
Also, if you run the deploy command directly in the CLI adding `--dev-debug` what's the stack trace you get ?

[2020-01-24 07:28] noilco commented on #371
Yes. Cmd and powershell have same issue....

[2020-01-24 07:53] PseudoDarwinist commented on #124
How would fix the below script. I am still receiving the error.I have tried exporting workspace but i think i am doing it wrong.
#!groovy
import groovy.json.JsonSlurperClassic
node {

    def BUILD_NUMBER=env.BUILD_NUMBER
    def RUN_ARTIFACT_DIR="tests/${BUILD_NUMBER}"
    def SFDC_USERNAME

    def HUB_ORG=env.HUB_ORG_DH
    def SFDC_HOST = env.SFDC_HOST_DH
    def JWT_KEY_CRED_ID = env.JWT_CRED

[2020-01-24 08:51] #266 closed, assigned to nobody

[2020-01-24 15:40] tet3 opened #281 "Update the node executable version shipped with installers"
**Is your feature request related to a problem? Please describe.**
The [downloadable installers](https://developer.salesforce.com/tools/sfdxcli), at least for Windows and macOS, ship with a nodejs executable, currently v10.15.3. This executable is the running version of Node for sfdx commands, even if a different version of node is installed globally. Some sfdx extensions, like [dependencies-cli](

[2020-01-24 17:23] cumulus-robert commented on #124
try this:

`#!groovy
import groovy.json.JsonSlurperClassic
node {

def BUILD_NUMBER=env.BUILD_NUMBER
def RUN_ARTIFACT_DIR="tests/${BUILD_NUMBER}"
def SFDC_USERNAME

def HUB_ORG=env.HUB_ORG_DH
def SFDC_HOST = env.SFDC_HOST_DH
def JWT_KEY_CRED_ID = env.JWT_CRED_ID_DH
def CONNECTED_APP_CONSUMER_KEY=env.CONNECTED_APP_CONSUMER_KEY_DH

println 'KEY IS'
println JWT_KEY_CRED_ID
println HUB_ORG
println SFD

[2020-01-24 17:29] kacrouse commented on #281
For the solution, I'd prefer it to check if node is installed locally and use that if it is (similar to how the npm version functions), otherwise use the version it ships with.

**For those on macOS**
The node binary sfdx ships with can be tricky to find, it's stored in `~/.local/share/sfdx/client/current/bin`

Or if you just want to make it use your local node binary, you can run the following co

[2020-01-24 19:38] jamesmelville opened #282 "sfdx force:lightning:lint --exit does not return exit code 1 on failure"
### Summary

We use sfdx force:lightning:lint as part of our CI process, and it is designed to fail if any components fail linting. Since a few weeks (earliest example under sfdx-cli/7.37.1 linux-x64 node-v13.5.0) the linting has been failing but the exit code has remained 0.

### Steps To Reproduce:

Create an aura component which fails `sfdx force:lightning:lint`. E.g. a controller which uses a

[2020-01-24 19:41] mikesobczak commented on #280
I figured out what the issue was. My package.xml referenced a WorkflowRule and WorkflowFieldUpdate that were not included as meta data.  I wish the error message could be more descriptive.  Sorry for the trouble!

[2020-01-24 20:30] ulistaerk commented on #151
Same here. Reducing the metadata from 47 to 46 fixes this issue and returns:
=== WARNING: The following metadata isn’t in your org. If it’s not new, someone deleted it from the org.
Entity type 'xxx' is not available in this api version
You do not have the proper permissions to access Layout.

sfdx-cli/7.36.0-b1c4e9c7c8 win32-x64 node-v10.15.3

[2020-01-24 21:20] lcampos commented on #280
Thanks for the details @mikesobczak, we've been able to replicate the issue on our side and we'll leave this open for now to address the error message.

[2020-01-24 21:45] FabienTaillon commented on #268
@clairebianchi I did a Pull Request for this issue [here](https://github.com/forcedotcom/cli-packages/pull/107).

[2020-01-25 00:37] clairebianchi commented on #263
Hi, This is a bug with the MDAPI team. They have added it to their backlog and are working on prioritizing it. They do not track their work in Github so I am going to close this Issue here.

[2020-01-25 00:37] #263 closed, assigned to nobody

[2020-01-25 13:18] PseudoDarwinist commented on #124
Uggghh..Still the same error :(
ERROR running force:mdapi:deploy:  ENOENT: no such file or directory, open 'C:\Program Files (x86)\Jenkins\workspace\LightningOrg1_LightningOrg2@tmp\secretFiles\8752fa45-3e1d-4b5c-8ce7-bf4c5f5f39f2\server.key'

C:\Program Files (x86)\Jenkins\workspace\LocalJenkins_>"C:\Program Files\Salesforce CLI\bin\sfdx" force:mdapi:deploy -d manifest/. -u niit.csingh
318 bytes w

[2020-01-25 13:21] PseudoDarwinist commented on #124
used this script:
#!groovy
import groovy.json.JsonSlurperClassic
node {

def BUILD_NUMBER=env.BUILD_NUMBER
def RUN_ARTIFACT_DIR="tests/${BUILD_NUMBER}"
def SFDC_USERNAME

def HUB_ORG=env.HUB_ORG_DH
def SFDC_HOST = env.SFDC_HOST_DH
def JWT_KEY_CRED_ID = env.JWT_CRED_ID_DH
def CONNECTED_APP_CONSUMER_KEY=env.CONNECTED_APP_CONSUMER_KEY_DH

println 'KEY IS'
println JWT_KEY_CRED_ID
println HUB_ORG
print

[2020-01-27 01:55] NickSauer7 commented on #216
Is anyone else still getting the error on v47.16.0?

[2020-01-27 05:48] klouf-threshold commented on #243
This was added in v47.14.0, so I am going to close this. Thanks!

[2020-01-27 05:48] #243 closed, assigned to nobody

[2020-01-27 10:19] pfronczak opened #283 "Deployment errors not shown after upgrade to 7.43.1"
After the last upgrade to version 7.43.1, when deploying with `sfdx force:source:deploy`, the deployment errors are not printed to the console.

With 7.42.1, this was the output of a failed deployment:
[code]

After the upgrade, I only get the following:
[code]

If i use `--json` output, I can see the errors in the new version, but this is not very human-friendly workaround.

This is my current ve

[2020-01-27 10:36] amtrack opened #284 "ERROR running force:mdapi:deploy: INVALID_OPERATION: No zip file content passed in"
### Summary

We've spotted an intermittent error:

Apparently this is not a new error: https://developer.salesforce.com/forums/?id=9062I000000IDc2QAG

See below for my investigation of creating the zip file in `salesforce-alm`.

### Steps To Reproduce:

I cannot reproduce this intermittent error.

This is what we are doing when the error occurs:

[code]

These are the files in the given folder, ho

[2020-01-27 10:42] zix66 commented on #216
I facing .. all refreshed up to date

♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦

Name: Salesforce CLI Integration
Id: salesforce.salesforcedx-vscode-core
Description: Provides integration with the Salesforce CLI
Version: 47.16.0
Publisher: Salesforce
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode-core

♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦

[2020-01-27 17:56] clairebianchi commented on #258
@FernandoPicazo we are unable to reproduce this error. Would you please submit a case with customer support if you are still encountering this issue. They should be able to help you fix any setup issues you might have.

[2020-01-27 17:56] #258 closed, assigned to nobody

[2020-01-27 21:13] #252 closed, assigned to nobody

[2020-01-28 00:55] clairebianchi commented on #268
Cool, I'll have someone take a look at it in the next week

[2020-01-28 12:16] mserinjane commented on #280
ERROR running force:source:deploy: Maximum call stack size exceeded

*** Internal Diagnostic ***

RangeError: Maximum call stack size exceeded
at RegExp.test (<anonymous>)
at Function.enabled (......AppData\Roaming\npm\node_modules\sfdx-cli\node_modules\debug\src\common.js:220:32)
at createDebug (......AppData\Roaming\npm\node_modules\sfdx-cli\node_modules\debug\src\common.js:119:33)
at Object.app

[2020-01-28 12:42] jlyon-nlg opened #285 "source:deploy:report - Git Bash for Windows"
### Summary

Deploy Job Reports are not displayed in Git Bash for Windows

### Steps To Reproduce:

1.  sfdx force:source:deploy -u [username] -x [manifest] // ==> outputs job id
1.  sfdx force:source:deploy:report -u [username] -i [jobid] // ==> outputs job id

### Expected result

During step 2, it should report out the job success/fail/in-progress status as well as any error details that go wit

[2020-01-28 13:32] jpmonette commented on #83
@genoud That saved my life - thanks!

[2020-01-28 14:20] mlamrib opened #286 "How to push source to Scratch org if project code exceeds 50mb limit?"
**Is your feature request related to a problem? Please describe.**
When trying to push an org to salesforce, the 50MB limit is making our lives miserable. Please remove the size limitation and allow developers to be productive. We have to resort to all sorts of workarounds that are not well proven. At the very least, SF should provide and document the workarounds step by step.

**What are you tryi

[2020-01-28 14:23] mserinjane commented on #280
@lcampos Turns out we were missing the custom labels directory :(

[2020-01-28 14:29] mlamrib opened #287 "Provide a CLI command to export an org to source code"
**Is your feature request related to a problem? Please describe.**
It's hard to do real continuous integration in SalesForce especially with existing projects without having a package export feature in CLI.

**What are you trying to do**
Export an org to source code without having to jump through hoops and rely on third party untested plugins/solutions.

**Describe the solution you'd like**
I'd li

[2020-01-28 14:31] pogilvie commented on #276
@clairebianchi.   Could we please have an option to turn off the progress bar and revert back to the previous text only display?

[2020-01-28 15:24] gdman commented on #274
FYI, I've raised a bug relating to progress bars in non-tty environments in the underlying library here: https://github.com/oclif/cli-ux/issues/137. In our CI environment we don't get any kind of progress bar - just deployment started, deployment finished. We are using force:mdapi:deploy but I assume it's the same for force:source:deploy.

[2020-01-28 15:26] gdman commented on #271
FYI, I've raised a bug relating to this progress bar issue in non-tty environments in the underlying library here: oclif/cli-ux#137.

[2020-01-28 19:33] agoganian commented on #276
@clairebianchi Ditto, Please add an option to disable the progress bar. We're redirecting output to a log file

[2020-01-28 20:56] clairebianchi commented on #276
We are fixing the truncation issue now and hopefully will have a fix by next week. If you run the command with --json you will not see the progress bar. What output are you using in your log file, the output form --json should provide you with the details you need.

[2020-01-28 21:42] lcampos commented on #280
@mserinjane ok, this is in the same piece of code. Could you confirm which version of the CLI you're on (sfdx --version) and which core plugins you're running (sfdx plugins --core) ?

[2020-01-28 22:24] highered1 commented on #151
Can confirm same result and that changing the API version to 46 in the package.xml file solved the problem.

Error message in VSCode was the following:
`Cannot read property Metadataname of undefined`.

[2020-01-28 23:49] sjurgis opened #288 ""sfdx force:user:display -u some@user.com" displays expired authentication token"
### Summary

The command above works correct for about an hour or so until the token expires.

### Steps To Reproduce:
Consider the getUser.sh script below.
[code]

`./getUser.sh` will generate a new user and serve a login url for that user
Try `./getUser.sh -u new@username.org` after several hours when token expired and login link won't work.

### Expected result

Fresh token is issued

### Actua

[2020-01-28 23:53] sjurgis commented on #286
Lack of roadmap by sfdx team for lifting such limits is a bit disappointing.

[2020-01-29 07:03] SalesforceLynx commented on #86
As per my last encounter of it today. It is working but without --verion or -v.

Although in the documentation it still says that `sfdx force --version`. But you'll get the ASCII cloud with just `sfdx force`. It would be nice @clairebianchi if we update the documentation too.

[2020-01-29 10:20] keirbowden commented on #287
@mlamrib sorry the solution on my blog didn't work on Windows - I wrote that back in 2018 when I only had access to a Mac so I couldn't test on multiple platforms. If you get into the same kind of situation again, try hitting me up on twitter - I'm usually online and I could have answered this one quickly.

[2020-01-29 14:29] mlamrib commented on #287
@keirbowden I'm not sure which blog article you are referring to. Are you referring to Bob Buzzard's article which I linked in my issue?

[2020-01-29 16:58] keirbowden commented on #287
@mlamrib yes - Bob Buzzard is my alter ego so I wrote that article.

[2020-01-29 17:17] dmgerow commented on #283
The progress bar also does not work with Jenkins, so the only way we can get any feedback at all is by using --json. Even when using JSON, we do not get feedback on what errors are encountered until after the entire deployment is complete (which can be over an hour in orgs with a lot of test code)

We should be able to set a flag that reverts to the standard, text-based output.

[2020-01-29 21:17] rvwatch commented on #257
@vanortiz13 We've been attempting to replicate this issue and have been unable to do so. I've been able to deploy permission sets to prod orgs on both windows and mac. I'm curious if this may have been an issue that was fixed in a recent update to the CLI. Have you had an opportunity to update to the latest version of the CLI and retry this command?

sfdx-cli/7.43.1 darwin-x64 node-v13.0.1 - for e

[2020-01-30 00:43] AndrewRayCode opened #289 "Please revert the progress bar"
It looks like the progress bar has caused numerous issues, the most interrupting of which seems to be truncating or dropping output that developers rely on to get information back from SFDX. The "workaround" of adding `--json` is not human friendly so it is not a workaround. On top of that, the progress bar itself apparently doesn't report the correct progress.

These issues have been open for at

[2020-01-30 11:19] cerbaire opened #290 "Auth info isolation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would like to execute sfdx commands without authorizing an org. I use the -u flag with passing an access token instead of a username. But when I execute this command I get an error "The service and account specified in key.json do not ma

[2020-01-30 14:21] renanlq commented on #156
We are facing the same issue, then we search for some plugins to help with managing our folders to keep on it only metadata that is in the manifesto.

Here it is one of them that we are testing: [sfdx-essentials](https://www.npmjs.com/package/sfdx-essentials), then the option: [filter-metadatas](https://www.npmjs.com/package/sfdx-essentials#essentialsfilter-metadatas)
It creates another folder bas

[2020-01-30 17:16] kristualdandamudi commented on #151
Same issue Happened while retrieve Audience Metadata.
[code]

version : sfdx-cli/7.43.1-ef237e8b37 win32-x64 node-v10.15.3
Error: sfdx force:source:retrieve -x manifest/package.xml
ERROR running force:source:retrieve:  Cannot read property 'metadataName' of undefined

[2020-01-30 17:36] rvwatch commented on #151
Unfortunately, I've been unable to replicate this issue locally. I'm concerned I'm missing a specific step in regards to how you're running/creating communities and then setting up an Audience or Network Branding type that might be the key for a repro of this issue.

FYI, I've been using this example repo: https://github.com/trailheadapps/ebikes-lwc. I'm able to auth to my dev hub, spin up a scrat

[2020-01-30 19:41] renanlq commented on #156
Other good information based on [documentation](https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_source.htm).
### **source:deploy**
**Parameters**
-x | --manifest MANIFEST
**Optional**
The complete path for the _manifest_ (package.xml) _file that specifies the components to deploy_.
If you specify this parameter, don’t specify --metad

[2020-01-30 21:06] mlamrib commented on #287
Ah. Ok. Thanks! I appreciate you putting out the Node program on github. I ran it and exported the metadata from our SF sandbox. Unfortunately I couldn't do a push because of the 50MB size limit on scratch orgs. Our sandbox is about 450MB in size. Do you know a good workaround? I've read an article that suggested using multiple/different gitignore files and swapping them in and out to push differe

[2020-01-30 23:22] klouf-threshold commented on #287
@mlamrib Scratch orgs are intended for use with package development, versus traditional sandboxes which handle traditional org development. Attempting to push all of the metadata for an org to another org is nearly impossible even for a traditional sandbox, nevermind a scratch org -- I speak from experience on this. If you want to use a scratch org, you should only be pushing metadata that is rele

[2020-01-31 14:30] paferpo commented on #210
Hi, is there any way to track the status of this issue?
Thanks!

[2020-01-31 14:32] mlamrib commented on #287
@klouf-mp thanks for the info and will definitely check out your plugin. Unfortunately, I'm not a sales force developer. I was tasked with helping our sales force team implement CI/CD. They have been using the org development model so far. I have read and gone through a few trailheads and understand a little bit more about DX development now.
I have read this article which had some great advice on

[2020-01-31 15:00] paferpo commented on #194
Hi Claire, I was trying to disable it on a Windows machine. According to the documentation, the variables are for Linux and Mac only:
"Environment variables override CLI runtime configuration values. (Linux and Mac only)"
There is not any other way to do the same on Windows?

Thanks!

[2020-01-31 15:10] mlamrib commented on #287
@klouf-mp
ps. I tried installing your plugin and got this error
C:\WINDOWS\system32>sfdx plugins:install @zervice/zervice-sfdx-plugins
Error: unable to verify the first certificate
Do you know how to get around it?

[2020-01-31 17:31] cavery88 commented on #156
I noticed this behavior recently as well and hope that it is fixed soon.

Until then, if you only need to deploy a few fields, one small work around is to right-click the individual field (or other object component) in the Explorer bar and select:
SFDX: Deploy Source to Org  (This is the same as sfdx force:source:deploy -p [path to item])

Both of these will deploy just the field (or item) selecte

[2020-01-31 17:48] ebtalley commented on #156
We went this direction as well. the issue I run still is that sfdx requires the object definition still, if its incomplete or a standard object, you end up in a situation where you have to generate a fake object definition or try to grab a full source from somewhere. There seems to be a separate bug where retrieving an object will pull an incomplete object definition (missing label, name elements,

[2020-01-31 17:52] clairebianchi commented on #194
@paferpo that is incorrect, using the env var will work on Windows as well.

There has been an update, the env var is `SFDX_DISABLE_TELEMETRY`

We are updating the Documentation, I am so sorry for the confusion

[2020-01-31 20:28] dprozorovskiy opened #585 "sfdx force:source:push command failed. Source conflict(s) detected"
forcedotcom/salesforcedx-vscode#1686 # Steps To Reproduce:
1.  Run following command:
     `sfdx force:source:push `
2. Following error has been received:
ERROR:  We couldn't complete the push operation due to conflicts. Verify th
at you want to keep the local versions, then run "sfdx force:source:push -f
" with the --forceoverwrite (-f) option.
STATE     FULL NAME                  TYPE       PROJ

[2020-01-31 21:37] clairebianchi commented on #275
@kvijay460 this sounds like the same issue as outlined here https://github.com/forcedotcom/cli/issues/151. We are having a hard time reproducing this error, would you be able to give us more information about your project setup?

[2020-01-31 21:41] clairebianchi commented on #279
@mshanemc thank you for the heads up we will take a look

[2020-01-31 21:45] clairebianchi commented on #282
@ntotten can you take a look at this issue?

[2020-01-31 21:50] clairebianchi commented on #284
@amtrack I will pass this on the team that owns the metadata api and see if they can get to the bottom of it.

[2020-01-31 21:55] clairebianchi commented on #286
@mlamrib I am passing your feedback on to the team that owns scratch orgs. I am sorry you are encountering this issue

[2020-01-31 21:55] #286 closed, assigned to nobody

[2020-01-31 22:05] clairebianchi commented on #276
we have a fix for this issue and it will go out in next week's release

[2020-01-31 22:06] clairebianchi commented on #269
@alan-morey  We have a fix for this, it will go out next week

[2020-01-31 22:24] clairebianchi commented on #271
We agree that for non-tty environments it is good to have the progress line by line. We are going to pass the progress to stderr behind an env var. This will show the progress as we had before and not include the progress bar. Please let us know if this solution will work for you?

[2020-01-31 22:25] clairebianchi commented on #289
@AndrewRayCode see my comment in https://github.com/forcedotcom/cli/issues/271
We hope to have the change out next week

[2020-01-31 22:25] #289 closed, assigned to nobody

[2020-01-31 22:25] clairebianchi commented on #274
Please see my comment in https://github.com/forcedotcom/cli/issues/271

[2020-01-31 23:19] kfidelak94 commented on #286
@mlamrib You should be able to get past the 50MB limit by enabling use of the REST API for Metadata API deploy operations (including source:push) in the CLI.  This is done by setting the "restDeploy=true" config variable in the CLI as follows:
$ sfdx force:config:set restDeploy=true
More information on this can be found here:  https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_met

[2020-02-01 04:31] cerbaire opened #291 "asynchronous force:source:retrieve process like force:mdapi:retrieve"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I have implemented a process to check some operations results from soap operations. SFDX CLI with - - json parameter seems to be fully compatible with force:mdapi asynchronous operation.
But for force:source:retrieve, it seems not possible

[2020-02-01 04:37] cerbaire opened #292 "force:mdapi:listmetadata with multiple metadata types"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When I call the force:mdapi:listmetadata function, I am not able to pass multiple metadatatypes to -m parameter.

**What are you trying to do**
I tried using comma separator as well as pipe, semicolon, and enclose the whole value with quote

[2020-02-02 20:26] klouf-threshold commented on #287
@mlamrib You are correct in that it is often not a simple/straightforward task to transition an existing org to packages. Unfortunately I don't have any more pointers on that, as we have not made that leap yet.

I will note that It is by no means necessary to do package-based development in order to have a CI/CD setup. It is very possible to have a setup in which incremental changes are deployed t

[2020-02-03 04:02] SarathKL opened #293 "Salesforce CLI - sfdx force:org:list shows undefined"
### Summary
I have 1 Devhub , 2 NonScratch org, 1 scratch org connected.
Type sfdx force:org:list  then Enter.
Result shows ---

**=== Orgs**
**Columns**
undefined
undefined
undefined

**Columns**
undefined

### Steps To Reproduce:

1.  Type sfdx force:org:list  then Enter.

### Expected result

Shows all the connected Orgs.

_Describe what should have happened_.

CLI config might have deleted or

[2020-02-03 09:49] gdman commented on #271
The progress should be passed to stdout since it is not an error. The CLI progress bar component already supports this functionality but was accidentally disabled by oclif/cli-ux. It looks like the bug in oclif/cli-ux has been fixed so this should just work now.

[2020-02-03 11:29] FabienTaillon commented on #268
I'm closing the issue as the PR was merged and published.

[2020-02-03 11:29] #268 closed, assigned to nobody

[2020-02-03 14:23] mlamrib commented on #287
@klouf-mp that's great news for a Monday! I hope they release the feature very soon.
Can you elaborate on your 2nd paragraph? How do you implement automated deployments using the org model, and how do you select the incremental changes? I believe the change-set feature might be using an api to do a comparison behind the scenes to allow delta deployments and that api might be exposed in the CLI. Bu

[2020-02-03 18:22] klouf-threshold commented on #287
@mlamrib Currently we use the **git diff** command to determine which files have been modified in a branch and then pass those file paths as arguments to the **sfdx force:source:deploy** command. For local development with Developer sandboxes, we have a bash script to do the diff and deploy that can be used as needed in combination with our CLI plugin and the VS Code extensions/CLI. For QA and Sta

[2020-02-03 21:44] nickytorstensson opened #294 "RequiresProjectError: Running Certain SFDX Commands in VSCode and Command Prompt/PowerShell Yields Different Results"
### Summary

I am able, from within vscode, to execute sfdx force:source:deploy --manifest (…) --json --loglevel fatal command for any manifest location in a project folder from the vscode terminal.
However, I cannot do the same in either Command Prompt or PowerShell, not using vscode.

### Steps To Reproduce:

1.  From within vscode with Ctrl+Shift+P run the command SFDX: Create Project with Mani

[2020-02-03 22:16] aheber commented on #294
That errors comes when you run a command that requires a project but your
current working directory is not a project, or more specific, doesn’t have
an sfdx-project.json file in it.

VS Code will automatically place the shell prompt into the current
workspace directory but your fresh prompt must be moved (cd ...) into that
same directory.

If you look at your file path in your promp you can see th

[2020-02-04 08:25] nickytorstensson commented on #294
Hi aheber,

Thanks for the clarification. I was under the impression that since some sfdx commands could be run from anywhere, then that would not be an issue for the force:source:deploy command as well.

Could the error message be made any more clear? As a suggestion, something like:
"RequiresProjectError: This command is required to run from within folder location, where a sfdx-project.json file

[2020-02-04 10:36] maaaaarco commented on #283
Yeah, this is really annoying to be honest

[2020-02-04 10:42] nebc-jasonfung commented on #151
@rvwatch I've realised your repo doesn't contain a `package.xml` file or a `Manifest` directory - think to reproduce the issue it shouldn't be spinning up a scratch org?

[2020-02-04 11:05] keirbowden opened #295 "Target org specific .forceignore files"
**Is your feature request related to a problem? Please describe.**
No. This is more around the deployment requirements that I have for my project. This is an accelerator, so the same codebase is deployed to multiple Salesforce customer instances, as well as a bunch of internal orgs.

**What are you trying to do**
I deploy my single codebase to multiple target orgs - scratch orgs, developer edition

[2020-02-04 16:09] rvwatch commented on #151
I've also been simply creating my own package.xml file with the updated entries as described and ran multiple retrieves against it. I'll attempt a "manifest" project as well, but I'm fairly certain the results will be the same. Hopefully, I'm wrong and it triggers the error! That would be a great direction to head if so.

[2020-02-04 16:26] aheber commented on #294
Not an inconvenience for me ;)

This error is shown in your output:
`This command is required to run from within an SFDX project.`

It is buried in the JSON structure as you're requesting that output be returned in JSON format (`--json`)

Some commands will run from anywhere but there are some that would be ambiguous if they ran from anywhere on your file system. These require the context of a pro

[2020-02-04 16:37] aheber commented on #295
I would really appreciate this feature. I have a more coarse-grained version of this. A version of .forceignore for scratch orgs and another for store-bought orgs. Various reasons for the differences.

I would be interested in a more compose-able solution. These parts of the .forceignore file are applicable to all deployments but use these other parts based on org type or username/alias.

I realiz

[2020-02-04 16:39] aheber commented on #295
Some of the problem here is that DX uses a NodeJS library to parse a .gitignore file and apply it so without larger changes they would be limited to the functionality of .gitignore.

[2020-02-04 16:53] rvwatch commented on #151
@tbg-jasonfung or @kristualdandamudi , How are you going about setting up your audience types? I'd like to see a detailed breakdown I can follow so I'm matching your process.

[2020-02-04 16:55] rvwatch commented on #257
It appears an update to the latest version of the CLI has taken care of this issue.

[2020-02-04 16:55] #257 closed, assigned to nobody

[2020-02-04 18:08] kristualdandamudi commented on #151
@rvwatch , i am not using scratch org, so i already  community exist in my sandbox. so i trying to  pull all meta data related my community by using below package.xml. with below command:
**sfdx force:source:retrieve --manifest c:\Users\xxx\Documents\SFDX\abc\manifest\package.xml**
[code]
**result : ERROR running force:source:retrieve:  Cannot read property 'metadataName' of undefined**

then i re

[2020-02-05 12:02] abbas133 commented on #371
The workaround works fine.

[2020-02-06 01:56] smaddox-sf commented on #585
Hi @dprozorovskiy - When pushing source, you can run into conflicts if you have changed the source in your Org.  When this happens, we alert you to the conflict. To proceed, rerun the command with the override option as the output described.  You can also use the `Push Source to Default Scratch Org and Override Conflicts` from the command palette.  You can see some info on this in the 'Push Source

[2020-02-06 08:58] dprozorovskiy commented on #585
@smaddox-sf thank you for your response. I know about override option and it works fine. But I don't understand why I can't push my code if I add just a space in my class, that seems strange to me and I have to use always push -f. Moreover for another project I can push my code without -f and it works very well. What I've found out that if I there is a reference to the class from another packet it

[2020-02-06 09:33] nickytorstensson commented on #294
@aheber I have a follow-up question, which may be a bit off the original topic:
If I authenticate with the command `force:auth:jwt:grant` (via a connected app), then I would assume I don't need the defaultusername value in the _sfdx-config.json_ file, and then be able to `force:source:deploy` - but as such that would leave the _sfdx-config.json_ file empty.

Let me know, if I may write you a direc

[2020-02-06 15:09] mlamrib commented on #287
@klouf-mp "git diff" is a good trick!

[2020-02-06 15:33] aheber commented on #294
I've reached out on LinkedIn. (I think) Feel free to ping me there.

At a high level, `force:auth:jwt:grant` adds an available connection to your pool of Auth'd orgs (`force:org:list`). If you use the `--setdefaultusername` flag and are not in a project directory it will set it globally (~/.sfdx/sfdx-config.json). If you are in a project directory then it is sets locally to the project only (<proj

[2020-02-06 19:57] pkozuchowski opened #296 ""force:mdapi:deploy -d src" does not respect .dot folders or .forceignore and packs .git into zip"
### Summary
sfdx force:mdapi:deploy does not respect .forceignore and packs .git subfolders into release package.

I have a project where git repository was created inside src folder (using old metadata format).
Issuing "sfdx force:mdapi:deploy -d src" will pack the .git subfolder into release zip package.
Then deployment fails because package is too big.

$ sfdx force:mdapi:deploy -c -u dev-d src

[2020-02-07 13:52] Pyronewbic opened #297 "sfdx force:apex:test:report returns nothing for an AsyncApexJobId with any Aborted ApexClassIds"
### Summary

Occasionally, on the platform, we run into issues with particular testMethods for an ApexClass running into loops. Therefore, we abort them (via an sfdx plugin we've created) - but any AsyncApexJobId that has Aborted ApexClassIds returns nothing when the report command is run for the AsyncApexJobId.

### Steps To Reproduce:

Here's what a snippet of our code looks like:

[code]

[code

[2020-02-07 18:20] pedroguntin opened #298 "force:org:create"
When I execute the command
sfdx force:org:create -f earlyon.json -u caswota@greenxolutions.com -v CASW -a test
I got:
ERROR running force:org:create:  location is not defined

I'm connected properly to my org CASW, the config is good: defaultusername  CASW   Global

My colleague doesn't have this issue... I've tried on another computer and another org and it's the same problem.

I appreciate your

[2020-02-07 21:41] #275 closed, assigned to nobody

[2020-02-07 22:41] #280 closed, assigned to nobody

[2020-02-07 22:59] sjurgis commented on #277
Booo!

[2020-02-07 23:01] sjurgis commented on #277
Yep that works and is my usual workaround...

[2020-02-09 16:55] ennoucas opened #299 "Option to "check" the creation of a package version (without creating it)"
**Is your feature request related to a problem? Please describe.**
I am frustrated by the complexity of CI pipeline with packages. It is very hard to implement and incomplete by nature. Yes it's possible to use SubscriberPackageVersion object to get the dependencies for an *existing* package version but what if you try to test the build of a not yet created version that needs new dependencies?

He

[2020-02-10 13:25] thegogz opened #300 "Single package -s / --singlepackage parameter is documented but not available"
### Summary

The [documentation]([https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_mdapi.htm]) for force:mdapi:deploy refers to the `-s` / `--singlepackage` parameter but when running the command it is unexpected see below

[code]

### Steps To Reproduce:

1.  Create a zip directory of a metadata project
1.  Run `sfdx force:mdapi:depl

[2020-02-10 18:57] clairebianchi commented on #277
@sjurgis sfdx open is not a command in the Salesforce CLI, you need the force for the autocomplete feature work.

[2020-02-10 18:57] #277 closed, assigned to nobody

[2020-02-11 08:58] DGomez96 commented on #371
Nice Thx ,
I solved this !! ^^

[2020-02-11 22:48] tedka commented on #151
as others have stated - seems to be an issue with v47, changing to 46 works...

[2020-02-12 08:03] jurgenvanwestreenen commented on #371
For the benefit of others: I noticed that a colleague of mine didn't have these issues while running a slightly older version of Windows 10. That made me look for Windows 10 / Chrome issues and I finally stumbled upon the following solution/workaround:
Change Chrome to run in Windows 8 compatibility mode (for all users) and now it will open up when running the sfdx command (either from VS Code or

[2020-02-12 21:11] carolinecanto commented on #94
thanks @userAyaan, it worked!

[2020-02-13 00:03] Szandor72 commented on #94
Yes, after re-ogranising my files, this happened. deleting .sfdx did not do the tick yet, nor undoing all my changes. now re-creating scratch org.

I could re-create the issue by:

- moving `main/default/object/Account` to `main/Accounts/`
- moving the folder back, solved the issue

[2020-02-13 02:03] rbeachHYP commented on #151
So I was running into this issue with ManagedContentType and _was_ in fact able to include it if I used version _46_ in my package.xml manifest file but was _not_ able to include it if I changed the version to 47 or 48 (even though the API I'm retrieving from is 48).

I'm confused as to why it's working when I change to 46 because if I'm reading the [Metadata Coverage webpage](https://developer.sa

[2020-02-13 14:50] ghost opened #301 "sfdx force:source:deploy -m <metadata type> deploying unexpected metadata"
### Summary
I am getting unexpected behaviour when running certain sfdx force:source:deploy commands using the -m switch. Previously when deploying with the following command: 'sfdx force:source:deploy -m Layout' then all layouts would be deployed. However, what is now happening is unrelated metadata with the word 'layout' in the name is deployed. This has not happened before today. See screenshot

[2020-02-13 15:31] ghost commented on #301
I have realised I am an idiot and the layouts folder was in my forceignore. However, would you still expect other non-layout metdata to deploy in my above scenario?

Edit: In fact, I have just realised that although it is now deploying the layouts, it's still deploying the non-layout metadata files as before - is this expected?

[2020-02-13 22:22] alan-morey commented on #300
@thegogz Where did you see this documented, when I run `sfdx force:mdapi:deploy -h` I don't see it documented:
[code]
**SFDX CLI Version:** sfdx-cli/7.45.1-bc18d49798 linux-x64 node-v10.15.3

I have been waiting for `-s --singlepackage` flag support, reported issue https://github.com/forcedotcom/cli/issues/4 over year ago for this :disappointed:

[2020-02-13 23:17] thegogz commented on #300
@alan-morey in the docs on the website https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_mdapi.htm

You're right when I run -h locally in the CLI I get the same output though...

[2020-02-13 23:34] alan-morey commented on #269
Progress Bar updates correctly now.

[2020-02-13 23:34] #269 closed, assigned to nobody

[2020-02-14 00:02] noilco commented on #371
I changed chrome windows 8 compatibility mode, but does not work for me...(power shell, command prompt or vs code, either too...)

[2020-02-14 00:42] jordanbaucke opened #302 "Error SecKeychainItemCreateFromContent when running SFDX Commands"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  Type `sfdx force:org:open` or any other CLI command

### Expected result

Org should open as expected.

### Actual result

An error message is displayed:

### Additional information

**SFDX CLI Version**(to find the version of the CLI engine run sfdx --version):
sfdx-cli/7.45.1-bc18d49798 darwin-x

[2020-02-14 00:47] jordanbaucke commented on #302
I restarted my machine and the error went away- this is a corporate system, and the password may have been reset by policy earlier and it had not taken all the way. Leaving this up incase someone else encounters.

[2020-02-14 00:47] #302 closed, assigned to nobody

[2020-02-14 02:05] AndrewRayCode commented on #289
CC @clairebianchi @ntotten if we can help prioritize a revert, or if that's not an option, can we get some visibility into why this has blocked core functionality for five weeks now? Will there be a post mortem available for consumers of this library to understand how this issue has been ongoing for so long? I feel in the dark about understanding how this library is updated when there are critical

[2020-02-14 07:27] jurgenvanwestreenen commented on #371
There's also mention of turning off "Control Flow Guard" here:

https://support.google.com/chrome/thread/8763029?hl=en

Didn't work for me, but maybe for others it will.

[2020-02-14 14:44] reda-benhemmouche opened #303 "The new progress bar is not showing progress details in CI servers logs (ex. Jenkins)"
### Summary

The new status bar make progress invisible in CI server (Jenkins).

![image](https://user-images.githubusercontent.com/45465976/74540319-d9925000-4f3f-11ea-935b-e390ec17501f.png)
In addition, the status bar doesn't what kind of progress. There 2 process in metadata validation:
1. Component validation
1. Apex Execution

### Steps To Reproduce:

1.  Update sfdx to the version that conta

[2020-02-14 17:44] ntotten commented on #289
The fix for this was released two weeks back. You can see the info in the release notes: https://developer.salesforce.com/media/salesforce-cli/releasenotes.html

You can set an env variable `SFDX_USE_PROGRESS_BAR=false` to disable.

[2020-02-14 18:34] clairebianchi commented on #283
@pfronczak We made a fix last week that should address this, Please let me know if you are still facing this issue. Also, you can now disable the progress bar with and environment var, set

SFDX_USE_PROGRESS_BAR = false

[2020-02-14 18:44] clairebianchi commented on #285
@jlyon-nlg did this just start happening? We do not officially support Git Bash for Windows. It is possible that you are seeing this issue due to the introduction of the progress bar on deploy operations. Would you please try disabling the progress bar by setting:

SFDX_USE_PROGRESS_BAR = false

[2020-02-14 18:50] clairebianchi commented on #290
@cerbaire you should be able to do this, we will take a look.

[2020-02-14 18:55] clairebianchi commented on #291
@cerbaire if you add `--wait 0` to the command it will make it asynchronous. This is not currently documented. I will make sure we update that soon.

[2020-02-14 18:55] #291 closed, assigned to nobody

[2020-02-14 18:57] clairebianchi commented on #292
@cerbaire I will pass your feature request on to the team that owns this command, Thank you for your feedback.

[2020-02-14 18:57] #292 closed, assigned to nobody

[2020-02-14 18:59] clairebianchi commented on #293
@SarathKL would you be able to provide us with more details on how you authenticated into these orgs, what your project set up is like, and the CLI installation setup? If you uninstall the CLI and start from scratch does that fix the issue? We have not seen this before and it is working on our end.

[2020-02-14 19:01] #294 closed, assigned to nobody

[2020-02-14 19:03] clairebianchi commented on #295
@keirbowden Thank you for the feedback. I will add a story to our backlog and we will talk internally about how to build this. It might take us a bit but will definitely investigate a solution. d

[2020-02-14 19:06] clairebianchi commented on #303
@reda-benhemmouche the progress bar is for human-readable output and not for CI, I recommend running your commands with --json when running in a CI environment

[2020-02-14 19:06] #303 closed, assigned to nobody

[2020-02-14 19:29] dmgerow commented on #283
@clairebianchi  this looks great, thank you

[code]

[2020-02-14 19:43] justin-lyon commented on #285
Thanks @clairebianchi

This started after the sfdx-cli release with the progress bar, yes. I'll try deactivating the progress bar.

Additionally, I've found that regardless of the terminal I'm using (git bash for windows, windows cmd, or linux terminal) that `force:source:deploy --checkonly` will only report back a job Id on success, and will only report that a failure occurred - not the actual er

[2020-02-14 20:03] AndrewRayCode commented on #289
@ntotten that does not work, this appears to be still broken

Command we're running:

Which has this output:

![Screen Shot 2020-02-14 at 12 01 06 PM](https://user-images.githubusercontent.com/79215/74563464-b5277b00-4f21-11ea-96c2-ffc4f10286b9.png)

It's the latest sfdx:

And not sure if this is relevant:

Additionally, forcing end users to switch output type is not a fix, and is something sfdx i

[2020-02-14 20:18] SarathKL commented on #293
Thanks @clairebianchi ! uninstalling and re-installling the CLI fixed the issue.

[2020-02-14 20:18] #293 closed, assigned to nobody

[2020-02-14 20:19] clairebianchi commented on #289
@AndrewRayCode Do you have a specific version of salesforcedx plugin installed manually? You can check by running `sfdx plugins`. Can you please run `sfdx plugins:uninstall salesforcedx` and then run `sfdx plugins --core`?

We fixed the TTY environment issue, the progress bar should not show up for the TTY environment. The environment var is for teams that still wanted to see the old-style output

[2020-02-14 21:44] AndrewRayCode commented on #289
This is in a system that on every run does:

(then installs)

and then does

and then does

it fully updates on every run

[2020-02-14 22:11] #276 closed, assigned to nobody

[2020-02-14 22:13] clairebianchi commented on #289
@AndrewRayCode  can you send me the output of when you run `sfdx plugins --core`?

[2020-02-14 22:41] amphro commented on #289
We made the fix to TTY here: https://github.com/oclif/cli-ux/commit/9f57d7f0427fed2239f39ac37be71cf9ed38f3ef however it looks like we might not be depending on that version in the toolbelt. Sorry for the confusion @AndrewRayCode - well get that updated by next Thursday.

I did verify that `SFDX_USE_PROGRESS_BAR` is in there though. After an npm install on salesforcedx@latest, I see:

[code]

Maybe

[2020-02-16 22:46] egroenen opened #304 "sfdx-cli@7.46.1 will not install from npm, Cannot read property 'match' of undefined"
### Summary

sfdx-cli from npm is failing to install at latest version, which is breaking CI/CD pipelines.

The following command will fail from a virgin node latest docker:

`shell% npm install sfdx-cli --global`

### Steps To Reproduce:

1.  `docker run -it node:13.8.0-alpine3.10 /bin/ash`
1.  `npm install sfdx-cli --global`
1.  sfdx fails to install

### Expected result

1.  `docker run -it nod

[2020-02-16 23:50] pfronczak commented on #283
@clairebianchi Thank you for the update.
I'm afraid though, the issue is still there (I've checked both 7.45.1 and the latest 7.46.1 version).
In the default setting, the output in case of an error is the same as in the initial issue description (i.e. unfinished progress bar and no error messages).
When using the new `SFDX_USE_PROGRESS_BAR=false` env variable, I get an output like below:
[code]
So

[2020-02-17 05:09] amphro commented on #304
I'm able to reproduce but I'm not sure why yet. Another workaround is to use `yarn`.

[2020-02-17 08:53] cerbaire commented on #291
@clairebianchi
When I execute the following command:
sfdx force:source:retrieve -x D:/sfdxProject/package.xml -u 00D5J...Bfy_ --json --verbose --wait 0 2>&1
I get the following error
{
    "status": 1,
    "name": "InvalidFlagNumericBoundsError",
    "message": "Expected minutes greater than or equal to 1 but received 0",
    "exitCode": 1,
    "commandName": "SourceRetrieveCommand",
    "stack":

[2020-02-17 09:02] nvuillam commented on #304
I have exactly the same error on Jenkins (Dockerfile running on linux) and on Windows
Had to downgrade to the previous version so it works again

`npm install -g sfdx-cli@7.45.1`

[2020-02-17 09:59] Bartheleway opened #305 "Impossible to deploy to production"
### Summary

After updating to 7.46.1-3d2451fad8, I can't deploy to production anymore. It's asking for a `rollbackOnError` which is not documented.

### Steps To Reproduce:

1.  Try to use `force:mdapi:deploy` or `force:source:deploy`

### Expected result

Being able to deploy.

### Actual result

Stuck because of error : `INVALID_OPERATION: rollbackOnError option must be true on a production org

[2020-02-17 10:41] PJakober commented on #305
I'm facing the same issue.
`sfdx version` outputs the same as for @Bartheleway:
sfdx-cli/7.46.1-3d2451fad8 win32-x64 node-v10.15.3

[2020-02-17 10:47] Bartheleway commented on #305
For now I deploy with Workbench after using `force:source:convert`.

It looks like the issue has already been solved twice #251 and #61 in the past. Don't you think it's time to write a test to avoid releasing the cli with this error again ?

[2020-02-17 13:10] maaaaarco commented on #305
same here...

[2020-02-17 13:23] mos-nabih opened #306 "End of line is not respected by "sfdx force:source:retrieve or deploy" command"
### Summary
We are using [prettier](https://developer.salesforce.com/tools/vscode/en/user-guide/prettier/) code formatter, which by [default](https://prettier.io/docs/en/options.html#end-of-line) preserves line ending.

However when we commit, deploy and then retrieve, ending lines are removed from my local files, creating large diffs.

That happens on APEX, AURA and LWC files.

### Steps To Repro

[2020-02-17 13:42] alanjaouen commented on #305
Impacted by this issue here too
`sfdx-cli/7.46.1-3d2451fad8 linux-x64 node-v10.15.3`

[2020-02-17 13:51] ghost commented on #305
Running in CI Job:

17-Feb-2020 12:08:59 | sfdx-cli: Updating CLI...
-- | --
17-Feb-2020 12:09:12 | sfdx-cli: Updating CLI from 7.33.2-045d48473e to 7.46.1-3d2451fad8... done
17-Feb-2020 12:09:13 | sfdx-cli: Updating CLI... done
17-Feb-2020 12:09:15 | Successfully authorized nnedkov@rfa.coca-cola.com with org ID 00Dd0000000fSbwEAE
17-Feb-2020 12:09:20 | ERROR running force:source:deploy:  INVALID_

[2020-02-17 15:15] VonRehberg commented on #304
Same here. Pipeline is not working since sunday:
[code]

[2020-02-17 15:28] PseudoDarwinist commented on #210
Hi ,
Is this issue resolved? I am trying to do the same thing and i am trying to run the apex tests through Jenkins and i get the same error.

+ sfdx force:apex:test:run -c -u ******** -r human -w 45
Unhandled rejection TypeError: packageDirs is not iterable
    at ApexHumanReporter._findFile (/usr/local/lib/sfdx/node_modules/salesforce-alm/dist/lib/test/reporter.js:235:34)
    at stacks.forEach.s

[2020-02-17 15:30] amphro commented on #305
I opened an investigation but it probably won't get looked at for a few hours. I'll post here when I have an update.

[2020-02-17 15:31] amphro commented on #304
I'll take a look at this today and post when I have an update.

[2020-02-17 16:10] Kevmo92 commented on #304
Same here. Yarn or an older version than 7.46.1 are the current workarounds.

[2020-02-17 18:42] jcory commented on #304
We're also experiencing this.

[2020-02-17 18:57] manwe651 commented on #305
This is affecting us.

[2020-02-17 19:00] amphro commented on #305
This was due to an attempt to remove deprecated code. Obviously not all of the code removed was deprecated. We did have tests for this, but those were removed too. Sorry for the inconvenience. We are working on pushing out a fix shortly.

[2020-02-17 20:45] laurakolker opened #308 "force:org:open sometimes redirects to login screen or classic error screen instead of authenticating"
### Summary

Sometimes a scratch org will not authenticate properly with force:org:open.
I've had some that redirect to test.salesforce.com login screen (with these, if I remove everything but the base url from the url bar, sometimes it will redirect to the scratch org authenticated.)
Once it redirected to a classic error screen.

### Steps To Reproduce:

I'm not sure what parameters cause this to

[2020-02-17 20:47] laurakolker commented on #308
Follow up URL details for the redirect to test.salesforce.com problem

If the force:org:open command output says the URL is:
https://computing-data-290-dev-ed.cs22.my.salesforce.com/secur/frontdoor.jsp?sid=00D170000003j8T!ARYAQJjnRsQF51nmV3.pUYEwCFd7aVuCD0W3y_TNc1g5du7D60IpnLK8gjvyjpbhMFRJejeDR_6D649wSExtIvzSGGlTz4lD&retURL=lightning

It redirects to:
https://test.salesforce.com/?ec=302&startURL=%

[2020-02-17 23:18] aheber commented on #308
I see this problem from time to time, it almost seems seasonal, it will be bad for a while (every 5th scratch org or so) then it will calm down and almost never show up. I don't think it is the CLI but rather the scratch org provisioning process. It seems like the access token returned from provisioning isn't properly web-enabled and will only work for the API.

Right now we're handling this by cl

[2020-02-18 00:17] amphro commented on #305
We released CLI `7.46.2`. Please let me know if it resolves the issue.

[2020-02-18 00:28] amphro commented on #304
We were hoping patch `7.46.2` would resolve the issue but it doesn't look like it did. We are having trouble finding the root cause. I will post an update when we have one but this could take a bit longer to find.

[2020-02-18 00:38] amphro commented on #308
Ya, this is usually the provisioning process and getting tokens for domains that aren't fully propagated; hence the DomainNotPropegated error but often shows itself by just redirecting to the login page. I don't think there is a good way for the CLI to detect these, but we do try to wait for lightning domain propagation with org:open.

Agreed you don't want to mess with the auth but I get the desi

[2020-02-18 01:41] joaoheytor commented on #304
Same issue here... :'(
The latest version that is working is 7.45.1...

I tried all the others above that, including the newest 7.46.2 but I found the same issue...

[2020-02-18 06:59] PJakober commented on #305
@amphro Thanks for looking into this. It's working again for me :)

[2020-02-18 10:16] Bartheleway commented on #305
Thanks I confirm this solve the issue on my side as well.

[2020-02-18 10:16] #305 closed, assigned to nobody

[2020-02-18 11:30] joernf opened #309 "ERROR running force:mdapi:deploy: INVALID_OPERATION: rollbackOnError option must be true on a production org"
### Summary

On two different projects we tried deploying to production with the CLI via CI/CD and from my local CLI installation. Both times the following issue occurs since Sunday 02/16/2020:
ERROR running force:mdapi:deploy: INVALID_OPERATION: rollbackOnError option must be true on a production org

Reverting to a prior version resolves this issue.

### Steps To Reproduce:

1. Execute following

[2020-02-18 11:53] #309 closed, assigned to nobody

[2020-02-18 14:39] laurakolker commented on #308
Thanks for the info. That's helpful to know.  fwiw, I've taken to generating a password with sfdx force:user:password:generate and then just logging in which works even though its kind of :disappointed: :woman_shrugging:
@aheber : when you mention it might be best to report to the SFDX Trailblazer, is that a request for me to do that? I'm happy to report things to the right place, but I don't actu

[2020-02-18 15:49] gbutt commented on #304
Found the issue: in salesforcedx package there is a dependency on "@salesforce/sfdx-plugin-lwc-test": "0.1.1". This version has a bad npm-shrinkwrap.json, and should be updated t version 0.1.3

[2020-02-18 16:26] aheber commented on #308
@laurakolker, sorry I wasn't clear. Yes, I would recommend you report in the DX group:
https://success.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F93A000000HTp1

I'm not part of the CLI team or anything. I have reported in the past and it gets fixed for a while, that group does better for reporting problems with the scratch orgs themselves vs. the CLI DX tools. I don't have any org

[2020-02-18 16:41] cerbaire opened #310 "sfdx force:source:retrieve -m ManagedContentType fail"
### Summary

I'm trying to retrieve source for ManagedContentType metadata

### Steps To Reproduce:

1. sfdx force:source:retrieve -m ManagedContentType -u 00D5J...ffSV
ERROR running force:source:retrieve:  Cannot read property 'metadataName' of undefined

### Expected result

Expect the metadata to be retrieve in the source folder

### Actual result

ERROR running force:source:retrieve:  Cannot r

[2020-02-18 17:10] shetzel commented on #310
This is the same issue as https://github.com/forcedotcom/cli/issues/151.  Please follow that thread for updates.

[2020-02-18 17:10] #310 closed, assigned to nobody

[2020-02-18 17:56] salesforcedoc commented on #304
thanks @gbutt!  i was about to look myself!

[2020-02-18 22:28] clairebianchi commented on #285
@jlyon-nlg thank you, we actually have a fix for that issue going into this week's release. The update will go out on Thursday.

[2020-02-18 22:28] #285 closed, assigned to nobody

[2020-02-18 23:26] amphro commented on #304
We just pushed 7.46.3 to fix the issue. Give it a go.

[2020-02-18 23:57] #304 closed, assigned to nobody

[2020-02-19 16:35] jmejiavazquez2008 commented on #371
I"m having this issue with chrome too. same issue with force:org:open. When i run start chrome from the command prompt and vs code terminal it opens chrome so its the SFDX commands that aren't launching my browser.

i tried the windows 8 compatibility and i didnt have Control Flow Guard available. any updates on how to solve?

[2020-02-19 22:32] clairebianchi commented on #291
@cerbaire run sfdx plugins --core, this will give you the version of both the CLI as well as the salesforcedx plugin which has all the force commands.

[2020-02-20 00:08] lockholster opened #311 "sfdx force:source:pull tracking changes incorrectly for Profiles since Spring 20 release"
### Summary
Prior to the Spring 20 release, if you push field level security or object level security profiles, then later pull (due to changes via ui), the new changes would be retrieved along with what was pushed prior. Now the profiles are returned almost empty, with only the fields changed since last push.

Also, this means if you push profile changes then pull again later, you also lose other

[2020-02-20 01:15] lockholster commented on #311
Cannot recreate this today, still happening in existing projects, but not for new projects created today, trying to isolate and will update asap.

[2020-02-20 10:36] cerbaire commented on #291
@clairebianchi  thanks for your response. Any idea why --wait 0 parameter return this error ?

[2020-02-20 10:41] nebc-jasonfung commented on #151
@rvwatch I've just had a look at our orgs communities set up and followed this [guide](https://help.salesforce.com/articleView?id=networks_recs_audience.htm&type=5) to get our audience type set up. It doesn't appear that we have any! Sorry that I can't help any further.

[2020-02-20 19:25] lcampos commented on #210
Looking at the stack trace the problem seems to be related to an issue with the data returned from the server being incomplete when we format it before we print the result. We recently made some updates to that area so I would need to know which versions of the plugins & CLI you are running.

@paferpo @PseudoDarwinist can you let me know which version of the CLI you're currently on and which plugi

[2020-02-21 09:52] pfronczak commented on #283
Looks like the latest plugin update (v.48.2.0) has fixed this issue.
Release notes: https://developer.salesforce.com/media/salesforce-cli/releasenotes.html
Tested it and it looks fine - thank you.

Closing this issue then.

[2020-02-21 09:52] #283 closed, assigned to nobody

[2020-02-21 11:24] jpmonette commented on #271
Seems like this has been breaking our CI for the past few days.

Workaround I'd suggest in the meantime:
- Avoid using `sfdx update` + lock SFDX to a stable version (such as `7.45.1` that worked for us)

- Add `SFDX_USE_PROGRESS_BAR=false` as an environment variable to keep your CI alive by spitting out build status on a regular basis (like the old progress bar used to do with `stdout`)

Happy CI-

[2020-02-21 19:31] triestelaporte opened #312 "force:org:create fails claiming ancestor is not released, when ancestor is released."
### Summary

We've been releasing new versions of a package and since upgrading from 7.45.1 to 7.47.0 we can no longer use force:org:create.  The error:

`The ancestor package version [1.17.0] specified in the sfdx-project.json file hasn't been promoted and released. Release the ancestor package version before specifying it as the ancestor in a new package or patch version.`

We can easily see tha

[2020-02-21 19:35] triestelaporte commented on #312
I just tested with force:package:version:create and the same error pops.  Since --noancestors is not an option on beta package creation this one is a bigger deal.

[2020-02-22 04:48] vignaesh01 opened #313 "Need to know whether a Metadata type supports wild card (*) character"
**Is your feature request related to a problem? Please describe.**
When I run force:mdapi:describemetadata command, the results should include whether a metadata type supports wild card (*) character or not.

**What are you trying to do**
 I am using force:mdapi:describemetadata call to get the metadata type information. I am using this logic to build the package.xml automatically in [Salesforce p

[2020-02-22 04:59] vignaesh01 opened #314 "Need a CLI command to get the Current API version of the connected org"
**Is your feature request related to a problem? Please describe.**
I would be nice to get the current API version of the connected Salesforce org using a CLI command

**What are you trying to do**
I am auto generating package.xml file inside vs code using the [Salesforce package.xml generator extension for vs code](https://marketplace.visualstudio.com/items?itemName=VignaeshRamA.sfdx-package-xml-g

[2020-02-22 17:47] jefersonchaves opened #315 "Unable to send command switches to Jest Runner."
### Summary

SFDX LWC Test Runner not respecting `--` to send commands to the next command mismatching what `npm run` and `lwc-jest` does.

This works, for instance:
`npm run test:unit -- -- --ci --reporters=default --reporters=jest-junit `

### Steps To Reproduce:

1.  Run `sfdx force:lightning:lwc:test:run -- -- -- --ci --reporters=default --reporters=jest-junit`

### Expected result

Jest runne

[2020-02-24 00:19] deepakkemidirea opened #331 "Source push to scratch org fails with "Unknown Error""
### Summary

_Short summary of what is going on or to provide context_.
Unable to Push the codeto scratch org through the sfdx CLI. Failing with an unknown or fatal error.

### Steps To Reproduce:

1.  This is step 1.
     sfdx force:source:push -f -u <scratch org name>
1.  This is step 2. All steps should start with '1.'
     Fails with :
     SOURCE PROGRESS | ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

[2020-02-24 08:31] keirbowden commented on #314
You can create a simple plugin to get this information, outside of the plugin wrapping it's really just a couple of lines:

`    const conn = this.org.getConnection();`
`    const apiVersion = await conn.retrieveMaxApiVersion();`

There's an example of a command that does this in my [bbsfdx](https://www.npmjs.com/package/bbsfdx) plugin - you can find the source for the command at : https://github.

[2020-02-24 13:29] paferpo commented on #210
Hi @lcampos I have just tested and still get the same errors, to test it, I have just made an assert to fail to reproduce it and got the same (Unhandled rejection TypeError: packageDirs is not iterable).

This is the version I'm using:

sfdx-cli/7.47.0 win32-x64 node-v10.15.0
@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-n

[2020-02-24 13:58] cerbaire opened #317 "sfdx force:source:retrieve does not retrieve CustomField"
### Summary

I would like to retrieve CustomField without retrieving the whole CustomObject.

### Steps To Reproduce:

1.  Create a package.xml with the following content (support the CustomObject and the CustomField exist) :
<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
	<types>
		<members>Car__c.Position__c</members>
		<members>Car__c.descriptio

[2020-02-24 16:52] rhobkirkcertinia opened #318 "force:source:push fails with conflicts even when none exist"
### Summary

When pushing an Apex class that is dependent upon another managed package's global API, the file will fail to push stating that "we couldn’t push your source due to conflicts" even when no conflict exists. So even when the file has only been edited locally it will fail to push with conflicts. By adding the "-f" option, the file will push as expected, however this shouldn't be necessar

[2020-02-24 18:32] clairebianchi commented on #271
We have added the env var `SFDX_USE_PROGRESS_BAR` if you set this to false you can get the previous output. Please also see[ this blog](https://developer.salesforce.com/blogs/2020/02/using-salesforce-cli-output-and-scripting.html) we published on terminal output and CI. I am closing this issue. Thank you all for the feedback.

[2020-02-24 18:32] #271 closed, assigned to nobody

[2020-02-24 20:59] JeffreyRuder commented on #283
I am still experiencing this issue with plugin version 48.2.0 and sfdx version 7.47.0

I've tried both with and without the progress bar and with and without the `--json` flag

[2020-02-24 21:10] dmgerow commented on #283
@JeffreyRuder  what command did you use? I successfully got errors reported back in Jenkins with the following command with the latest version in npm

`SFDX_USE_PROGRESS_BAR=false sfdx force:source:deploy`

[2020-02-25 06:27] vignaesh01 opened #319 "sfdx force:source:retrieve call errors out in API version 47.0 & 48.0"
### Summary
The below command throws an error when API version is set to 47.0 & 48.0 in package,xml.
$ sfdx force:source:retrieve --manifest package.xml

But it works fine if API Version is 46.0 in package.xml

Error Message:
Cannot read property 'metadataName' of undefined

### Steps To Reproduce:

1.  Run the command : $ sfdx force:source:retrieve --manifest package.xml.

### Expected result

Al

[2020-02-25 07:51] peternoges commented on #319
I’ve been setting mine to v46.0 to workaround some retrieve errors, maybe similar error. Unsure.

On Mon, Feb 24, 2020 at 10:27 PM Vignaesh Ram A <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-02-25 09:08] cerbaire commented on #290
As I have no official recommandation on this point I decided to take the content of an existing key.json file :
{"service":"sfdx","account":"local","key":"...."}
And set the key attribute value to a generated one.
I do that each time that file does not exist.
Then I can execute any command using my session id.

[2020-02-25 15:09] alekhSharma commented on #283
@dmgerow The command @JeffreyRuder is using looks something as follows:
sfdx force:source:deploy -p main/default/classes/(*****).cls -l RunLocalTests

He tried using --loglevel fatal, --loglevel error and --json but still not getting the error shown up. CLI is updated upto 24th Feb 2020.

[2020-02-25 15:11] dmgerow commented on #283
@alekhSharma try prefixing with `SFDX_USE_PROGRESS_BAR=false` to set the new env variable

`SFDX_USE_PROGRESS_BAR=false sfdx force:source:deploy -p main/default/classes/(*****).cls -l RunLocalTests`

[2020-02-25 15:18] JeffreyRuder commented on #283
@dmgerow  @alekhSharma

After some more testing the issue is specific to unit test failures. If I have a different sort of error in the deployment, for example a syntax error in one of my classes, that is displayed correctly after the version upgrade.

If I say RunLocalTests, and one of my unit tests fails, the only message is "Unknown error". SFDX_USE_PROGRESS_BAR does not make a difference. I wo

[2020-02-25 19:11] clairebianchi commented on #300
@thegogz @alan-morey, Would you two please update to the latest version of the CLI and let me know if you still don't see the -s flag? I see it in 48.2.0. This was released in version 48 of the CLI. The command reference guide is updated by API version, if you toggle back to V47 you will see that the parameter is not there, sorry for the confusion.

[2020-02-25 19:14] #300 closed, assigned to nobody

[2020-02-25 20:25] clairebianchi commented on #319
This is a bug with the error message, a fix should go out next week.

[2020-02-25 20:27] clairebianchi commented on #317
@cerbaire we are investigating internally

[2020-02-25 20:30] alan-morey commented on #300
@clairebianchi I've upgraded to latest version, I see the `-s` flag is available for `force:mdapi:deploy` and it works as expected in my tests :+1:

Maybe https://developer.salesforce.com/media/salesforce-cli/releasenotes.html should be updated to reflect when this flag was added?

[2020-02-25 21:04] zerkz commented on #188
@clairebianchi Thanks for your response on this issue!

Is there any update on the progress? We also have traditionally used destructiveChanges.xml / etc, and we're somewhat hindered by this.

Do you have any information on what major release this is slated for? v48, v49?

[2020-02-25 22:02] clairebianchi commented on #297
@Pyronewbic I have notified the team that owns this command and they are taking a look.

[2020-02-25 22:02] clairebianchi commented on #315
@jefersonchaves I have notified the team that owns this command and they are taking a look

[2020-02-25 22:03] ntotten commented on #315
The command `force:lightning:lwc:test:run` is really for simple use cases. You should continue to use `lwc-jest` directly for more complicated scenarios as you are doing with your `test:unit` script.

[2020-02-25 22:03] #315 closed, assigned to nobody

[2020-02-25 22:07] clairebianchi commented on #312
@triestelaporte I am letting both the packaging and environments teams know of your issue

[2020-02-25 22:14] clairebianchi commented on #306
@mostafa-anm we are having the mdapi team take a look at this issue.

[2020-02-25 22:16] clairebianchi commented on #301
@mattgrimwade we are talking a look

[2020-02-25 22:17] clairebianchi commented on #298
@pedroguntin I have passed this on to the team that owns scratch orgs

[2020-02-25 22:19] clairebianchi commented on #296
@amorek I have sent this to the mdapi team to take a look

[2020-02-25 22:21] clairebianchi commented on #282
I have passed this issue onto the team that owns the lightning:lint command

[2020-02-25 22:34] clairebianchi commented on #291
@cerbaire Just to be sure I understand this is the command you are running:
`sfdx force:source:retrieve -x D:/sfdxProject/package.xml -u 00D5J...Bfy_ --json --verbose --wait 0`
This should make it async. If you could update your CLI to the most recent version and confirm with the command I send before and try again. If you are still seeing the error I will have someone on my team take a look.

[2020-02-25 22:53] dcarroll commented on #119
@clairebianchi @amphro  Does anyone on the CLI team know about this issue?

[2020-02-25 23:32] lnoellemorgan-zz commented on #31
This was fixed in 46.9.0.

[2020-02-25 23:32] #31 closed, assigned to nobody

[2020-02-25 23:35] clairebianchi commented on #39
We believe this has been fixed. If you still encounter this issue please open a new issue.

[2020-02-26 00:50] clairebianchi commented on #188
Our team is currently working on support for multiple package directories which has an impact on destructive changes, so we had to do that work first. We hope to finish that up in the next 2 months and then pick up the work on destructive changes.

[2020-02-26 08:06] cerbaire commented on #291
@clairebianchi Yes, it is the command I execute. Please find below another test with the callstack.
I don't think it is related, but please note that none of my orgs are authorized. I have also shorten the session id in the provided command line.

sfdx --version
sfdx-cli/7.45.1-bc18d49798 win32-x64 node-v10.15.3
sfdx plugins --core
@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.2

[2020-02-26 09:44] jefersonchaves commented on #315
Hi @ntotten

I'm not sure if my use case is really considered a complicated scenario because all it is doing is telling jest to run continuous integration mode and setting up two reporters. I think this is a pretty common use case for Continuous Integration.

Would you consider adding native flags for running `sfdx force:lightning:lwc:test:run` in Continuous Integration environment?

[2020-02-26 09:48] danielepiccone opened #320 "sfdx auto update Warning breaks json parsing"
### Summary

I have some automation that instruments sfdx to perform some tasks and checks the output of the command by parsing the json output.

### Steps To Reproduce:

1.  Install sfdx (not the latest version)
1.  sfdx force:auth:list --json 2>&1 | jq .status

### Expected result

In case no organization is found the command output is

[code]

and the result of this command should be 1

### Act

[2020-02-26 13:59] PseudoDarwinist commented on #210
I am still receiving the error .The cli version that i am using is(by running sfdx --version) : sfdx-cli/7.44.0-e77f9c8515 linux-x64 node-v10.15.3

[2020-02-26 16:27] lcampos commented on #210
@paferpo @PseudoDarwinist we're looking into this and will update this thread once we have a fix for it.
cc @smaddox-sf

[2020-02-26 20:12] smaddox-sf commented on #297
Hi @Pyronewbic - Thanks for raising this.  It is working as designed today, but this is an interesting use case.  We will look this as a potential enhancement to consider when we do upcoming work in this area.

[2020-02-26 21:48] clairebianchi commented on #291
@cerbaire I am incredibly sorry, --wait 0 works on source:deploy but not retrieve. I always get questions about deploy but not retrieve and just read the wrong word. We have this on our roadmap for next quarter.

[2020-02-27 09:47] smukov commented on #293
I'm facing the exactly same issue with both `sfdx force:org:list` and `sfdx force:package:list`. A workaround for me is to append `--json` to the commands - I haven't tried reinstalling the CLI yet.

[code]

Is there an alternative way to fix this without reinstalling?

[2020-02-27 13:04] jclark-dot-org commented on #205
I was able to workaround this issue with `.forceignore`, although it took some trial and error to find the right syntax.  `Opportunity.app` works, even though it should be `Opportunity.CustomApplication` based on the DX Dev docs.

[2020-02-27 20:14] klouf-threshold commented on #319
FWIW, I've found that the "ManagedContentType" metadata type seems to have been causing this error for me...I've just been removing that and have been able to use API versions 47 and 48.

[2020-02-28 00:26] wwwmonkey opened #462 "REST deploy fails"
### Summary

Deploy source to Org fails when using REST

### Steps To Reproduce:

1. sfdx force:config:set restDeploy=true
2. try to deploy source to org

### Expected result

Source is deployed to Org

### Actual result

[code]

### Additional information
On attempt to re-auth Org plugin report port is in use.

**VS Code Version**:
Version: 1.42.1 (system setup)
Commit: c47d83b293181d9be64f27ff09

[2020-02-28 01:32] sjurgis commented on #289
This is the ridicilous output I get with progress bar disabled (iTerm/oh-my-zsh):

<img width="791" alt="Screen Shot 2020-02-28 at 2 31 46 PM" src="https://user-images.githubusercontent.com/7092409/75502219-0f066580-5a37-11ea-88ca-cf7f56da4e17.png">

@clairebianchi please reopen the ticket...

[2020-02-28 08:11] jeremyhiggs opened #322 "Error running force:source:retrieve: XML parse errors reported"
### Summary

With recent versions of SFDX and Salesforce, I am receiving XML parse errors (without any details) when trying to retrieve source from the production instance.

### Steps To Reproduce:

1. Authenticate with production
2. sfdx force:source:retrieve --manifest "manifest/package.xml" --verbose --apiversion=46.0

### Expected result

It should have retrieved the source!

### Actual result

[2020-02-28 08:12] jeremyhiggs commented on #322
Using the same package.xml with sfdx force:mdapi:retrieve works fine.

[2020-02-28 08:14] jeremyhiggs commented on #322
![Screenshot 2020-02-28 at 1 13 45 PM](https://user-images.githubusercontent.com/182224/75522598-2d1a9880-5a2c-11ea-9cd3-3a090d85c247.png)

It seems to partially retrieve the source, but encounter a problem within or after the installedPackages files. This is the status of the git repo folder after the error.

[2020-02-28 13:51] edmondop commented on #31
Is there a workaround ?

[2020-02-28 14:40] keirbowden opened #323 "ProblemDeployingSettings error when trying to create a scratch org"
### Summary

Executing force:org:create fails with a ProblemDeployingSettings error

### Steps To Reproduce:

1.  Create a scratch org config file as follows:

[code]
1.  Execute the command `sfdx force:org:create`, specifying the config file created in step 1

### Expected result

Scratch org is created according to the configuration

### Actual result

Error creating the org, with the following

[2020-02-28 15:02] keirbowden commented on #323
I've just tried this on another machine and I'm not seeing the issue. The versions of the Salesforce CLI and the plugins are identical across both machines. I also don't understand why on the machine that breaks it complains about OrgPreferenceSettings, as I don't have any of these. Is there some configuration built in to the CLI that has somehow not been updated?

[2020-02-28 15:35] ntotten commented on #289
@sjurgis We aren't reverting the progress bar, the feedback has been overwhelmingly positive. Feel free to open a new issue explaining your problem.

[2020-02-28 16:43] peternhale opened #324 "Command source:push progress bar causes excessive console output in CI/CD jobs"
### Summary

Command source:push progress bar causes excessive console output in CI/CD jobs

### Steps To Reproduce:

1.  Create a Jenkins job that includes a force:source:push command
1.  Run `sfdx force:source:push` without using `--json` flag
1. Run the job

### Observed results

The Jenkins log will receive one line of output for each update of the progress bar

[code]

### Run ob with env var

[2020-02-28 16:49] vazexqi commented on #324
🤔I wonder if we should just do `--json` and pipe it to /dev/null in our CI jobs for now.

[2020-02-28 17:06] zerkz commented on #324
it's a bit unclear as to what you desire to happen --

the release notes for the disabling of the progress bar do not state that they stop console output entirely -- https://developer.salesforce.com/media/salesforce-cli/releasenotes-v47.html

A solution i can offer you in the mean time is to do an ASYNC deploy -- which you can check by executing another command with your own logic --

![image](htt

[2020-02-28 18:45] amphro commented on #324
I don't consider this a bug. What are the expected results you want?

I think having progress in CI/CD runs **IS** helpful, even though it is a little excessive. That way if you are looking at the Jenkins output page, you can see something happening. There are a couple of things we could do to make it less excessive.

* We could not update the progress bar when there is the same amount of componen

[2020-02-28 21:36] clairebianchi commented on #317
@cerbaire This is working as expected, but you should definitely receive a warning. So we are going to add a warning when you perform those actions

Here is the MDAPI documentation https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/customfield.htm

[2020-02-28 21:36] #317 closed, assigned to nobody

[2020-02-28 21:39] monkeyfufu commented on #74
You can right click each individual thing...and deploy that way...
I have the same problem, sort of.  I started a new project yesterday because of this - and that worked fine.
I reset my machine (mac killer catallina.) And it worked fine.
I closed it and came back without a restart and the same error.  (or it went to screen or power save and I came back to the error that says we are moving too slo

[2020-02-28 21:41] clairebianchi commented on #320
@danielepiccone you can ignore warnings with this command:

# ignoring stderr so the jq parsing always works
SFDX_JSON_TO_STDOUT=true sfdx force:org:display -s --json 2> /dev/null | jq

See our blog on using CLI output: https://developer.salesforce.com/blogs/2020/02/using-salesforce-cli-output-and-scripting.html

[2020-02-28 21:41] #320 closed, assigned to nobody

[2020-02-28 21:46] clairebianchi commented on #322
@jeremyhiggs can you run the command with --dev-debug and send us the output. We have a feeling this issue has to do with a specific metadata type. We are also going to take a look at the error message and make some updates to make it more helpful in the future.

[2020-02-28 21:51] clairebianchi commented on #324
We published a blog on using CLI output a few weeks back https://developer.salesforce.com/blogs/2020/02/using-salesforce-cli-output-and-scripting.html

Please take a look at our guidelines

[2020-02-28 21:51] #324 closed, assigned to nobody

[2020-02-29 08:41] jeremyhiggs commented on #322
sfdx:core TRACE Setup child 'SourceRetrieveCommand' logger instance +0ms
  sfdx:force:source:retrieve init version: @oclif/command@1.5.19 argv: [ '--targetusername=x@x.com', '--verbose', '--apiversion=46.0' ] +0ms
  sfdx:SourceRetrieveCommand INFO Running command [SourceRetrieveCommand] with flags [{"targetusername":"x@x.com","verbose":true,"apiversion":"46.0","loglevel":"warn","wait":{"quantity":

[2020-03-02 07:49] dstdia commented on #323
This affects me too. It can be traced back to the enableEnhancedEmail flag, but this is current according to docs.

My setup:

sfdx-cli/7.48.0 darwin-x64 node-v13.9.0

salesforcedx 48.3.1 (core)
├─ salesforcedx-templates 48.4.0 (core)
├─ @salesforce/sfdx-plugin-lwc-test 0.1.5 (core)
└─ salesforce-alm 48.4.0 (core)

MacOS 10.14.6

**scratch org config file:**
[code]
**sfdx-project.json:**
[code]

[2020-03-02 12:32] danielepiccone commented on #320
Thank you!

[2020-03-02 15:41] ari-luokkala opened #325 "Scratch Org Creation Fails When Using the JWT-Based Flow In Linux OS"
### Summary
SFDX scratch org creation fails when authorization is done with JWT based flow in Linux
operating system.

Note: This works with Windows.

### Steps To Reproduce:

1.  **Authorize with JWT flow:**
    sfdx force:auth:jwt:grant --clientid **** --username **** --jwtkeyfile **** --
    setdefaultdevhubusername --instanceurl https://****

1.   **Create a scratch org:**
     sfdx force:org:

[2020-03-02 18:01] AndrewRayCode opened #326 "sfdx no longer shows which tests failed in output"
### Summary

Running `SFDX_USE_PROGRESS_BAR=false sfdx force:source:deploy` does not show you which tests failed

### Steps To Reproduce:

1.  Run `SFDX_USE_PROGRESS_BAR=false sfdx force:source:deploy ... --testlevel RunLocalTests --checkonly`

### Expected result

Tests failed are included int he output

### Actual result

Lots of messages like:

[code]

Followed by:

[code]

### Additional infor

[2020-03-02 18:20] AndrewRayCode opened #327 "Implement TTY detection so progress bar is not shown unless in a TTY environment"
Hello, thank you for the workaround for the progress bar bugs with `SFDX_USE_PROGRESS_BAR=false`. However this is not a robust solution and is anti-shell-ecosystem.

In shell scripting, we of course send output with stdout and stderr.

Some tools give nice progress indicators of status, for example, `docker pull`:

![Screen Shot 2020-03-02 at 10 06 49 AM](https://user-images.githubusercontent.com/

[2020-03-02 18:33] AndrewRayCode commented on #326
Also note that the `jobid` listed in the test output is not **the jobid shown on the deployment status list.** This can make it difficult to find which job your tests ran as, especially on a team where multiple users are running tests. I had tests run on Friday and due to other activity, I'm not sure which job to look at to see the test output.

There may be a hack / workaround to find the job som

[2020-03-02 18:35] ntotten commented on #326
Automation infrastructure should always use a stable version and should have automatic updates turned off. See: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_supported_versions.htm

Additionally, if you install via nodejs you can install a specific version: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.

[2020-03-02 18:39] AndrewRayCode commented on #326
Thank you, I will experiment with older versions. However, I'm not sure how to reconcile these two statements:

vs

if i understand the first statement correctly, at any time the locked version of sfdx could fail?

[2020-03-02 19:46] ari-luokkala commented on #325
Duplicate to https://github.com/forcedotcom/cli/issues/81

[2020-03-02 19:46] #325 closed, assigned to nobody

[2020-03-02 21:07] OscarScholten commented on #323
I've run into the same issue. I've tried reinstalling the CLI, re-authenticating against the DevHub, but that did not help.

I've filed a case with through the partner portal as well, if I get any feedback there, I'll post it here too.

My config file:
[code]

[2020-03-03 11:40] dstdia commented on #323
Just a thought - are you both running SFDX as a node module? Or do you use the standalone (i.e. including a packaged Node.js & modules) installer? I switched to npm installation lately, and this correlates with the first occurences of this problem (but it also correlates with the spring release, so hard to identify the meaningful influences...)

[2020-03-03 11:43] keirbowden commented on #323
I'm using the standalone - this started happening when I updated the CLI and plugins to the latest versions, but so far I've only seen it on one machine.

[2020-03-03 11:55] dstdia commented on #323
Saves me the hassle to return to the standalone installer... thanks!

[2020-03-03 12:46] OscarScholten commented on #221
I'm seeing likely this same bug, but then on a Document metadata type:

[code]

The workaround that @JodieM suggested worked in this instance too.

Can you provide an estimate when a bugfix will find its way to a release?

[2020-03-03 17:27] smaddox-sf commented on #462
Hi @wwwmonkey - Have you tried killing the process on the port and restarting VS Code?

This link describes how to kill the process
https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_troubleshoot_cancel_auth.htm

[2020-03-03 23:30] wwwmonkey commented on #462
G'day @smaddox-sf, this was after restarting Windows.   I was also setting LWC related PATH variables, which required reboot.

[2020-03-04 02:13] AndrewRayCode commented on #327
After a little more investigation, I think I understand the behavior a little more

When running something like `sfdx force:source:deploy ... 2>&1 > cat`, two things happen:
- the stdout and stderror seem to properly pipe to the destination (yay!)
- the progress bar incorrectly shows up

I think the second point is why we still see the progress bar incorrectly in ci environments unless we force it

[2020-03-04 03:17] mirchandaniamit commented on #371
I have the same issue. Seems like VS Code is not able to open chrome when it's set as default. May be version incompatibility.

Anyways I solved it by making Microsoft Edge my default browser. Windows 10 ->Search-> Default Apps -> Web Browser -> Microsoft Edge.

I am yet to try if other DX commands work after the initial step of web:auth

[2020-03-04 16:49] FabienTaillon opened #329 "Deleting a field will also delete related metadata (Layouts, Profiles...) from local repo"
### Summary

Deleting a field will also delete related metadata (Layouts, Profiles...) from local repo

### Steps To Reproduce:

* Create a Scratch Org
* Create a custom field, add it to several layouts and profiles
* Pull all changes
* Delete the custom field
* Pull the changes

### Expected result

The custom field is deleted, and layouts/profiles are updated with the custom field removed.

###

[2020-03-04 16:51] FabienTaillon commented on #329
I also created case #25828661 for this.

[2020-03-04 17:01] dalden1981 opened #330 "force:package:install:report --json returning invalid json"
### Summary

Attempting to retrieve the results of a package install by sfdx force:\package:install:report --json.  The output starts 'ERROR:  Encountered errors installing the package!,Installation errors:' instead of valid JSON.

### Steps To Reproduce:

1.  Install package using sfdx force:package:install [attributes withheld]
1.  Attempt to get the report for the install (in JSON) by sfdx forc

[2020-03-04 19:50] FinnArild commented on #371
I too have the same issue with chrome, not other default browser.  Workaround for me has been to momentarily set Edge to browser, then back to Chrome. None of the solutions above has worked.

[2020-03-04 22:19] kfidelak94 commented on #313
I created work item W-7294252 to track this feature request.

[2020-03-05 05:38] dev-mks commented on #371
@FinnArild Same thing I did as you. It works. After toggling the browser, Issue has fixed.

[2020-03-05 06:44] vignaesh01 commented on #313
Thank you

On Thu, Mar 5, 2020, 3:49 AM kfidelak94 <notifications@github.com> wrote:

[2020-03-05 11:02] jonathanwiesel commented on #97
Any news on this?

[2020-03-05 17:51] clairebianchi commented on #329
@FabienTaillon Thank you for submitting this. Vlad on our side has created an internal issue and is investigating.

[2020-03-05 17:56] clairebianchi commented on #97
Hi all, yes, this is on the roadmap. We are currently working on some refactoring that would allow multiple package directory support which should address this as well. If it does not then we will pick this up and work on it as a separate item in the coming months.

[2020-03-05 18:47] lpbearden opened #332 "Enterprise scratch org creation v48, enable Report and Folder Sharing"
### Summary
When creating an enterprise edition scratch org with v48 of the CLI Report and Folder Sharing is disabled by default. This seems to be due to the removal of orgPreferenceSettings, specifically `"analyticsSharingEnable": true`. To enable it, you must manually deploy orgSettings using api version 46 after creating the scratch org.

### Steps To Reproduce:

1.  Create Enterprise edition s

[2020-03-05 18:58] yippie commented on #332
PLEASE FIX.

To make it worse, this setting is forced on/true in all Salesforce orgs created in the last 6 years and if anyone turns it on they can never turn it off.

There must be a way to develop with this on as it is a dead setting that arguable should never be off in a scratch org.

[2020-03-05 19:18] dstdia commented on #323
Updated to 7.49.1, issue seems to be gone for me

[2020-03-05 19:35] damiepsz3 opened #333 "Issue creating scratch org with enablePardotEnabled setting"
### Summary

I've been creating scratch org with the same config file for the last 6 months and was working perfectly. Since last week I'm unable to deploy the settings of the project. It seems the issue is directly related to Pardot.

### Steps To Reproduce:

1.  Use the following scratch def json file:
`{
  "orgName": "AFS Intercultural Programs",
  "edition": "Developer",
  "features": [
    "C

[2020-03-05 21:53] crooms opened #334 "Unable to deploy AccountRelationshipShareRule metadata with force:source:deploy"
### Summary

When running `sfdx force:source:deploy` of a folder that contains AccountRelationshipShareRule metadata, sfdx fails with error `ERROR running force:source:deploy:  Unexpected file found in package directory:`

If you run `sfdx force:source:convert` to convert to mdapi format, and deploy using `sfdx force:mdap:deploy` it works correctly.

### Steps To Reproduce:

1.  Run `sfdx force:so

[2020-03-06 09:41] keirbowden commented on #323
Same thing is still happening for me on :

sfdx-cli 7.49.1
salesforcedx 48.4.1

Looks like  #333 is the another flavour of this error.

[2020-03-06 15:22] toddhalfpenny opened #335 "Unable to explicitly target Aura bundles in .forceignore"
I'm trying to be very specific in my forceignore (so I don't pull down things from sratch orgs that I don't want - e.g. all the bits created if I create a community declaratively), but in doing so I've realised I can't specifically target Aura bundles, and as such I open up some dangerous wildcarding.

For example;
Version: sfdx-cli/7.48.0-a71f8c6899 linux-x64 node-v10.15.3

I can target everythin

[2020-03-06 16:24] laurakolker opened #336 "Attempting to push unchanged connected app metadata fails"
### Summary

If you create a connected app in a scratch org and pull it, then attempt to push that pulled metadata to a different scratch org the push fails. I discovered from this forum post that the problem is the pulled metadata includes a consumer key and this isn't allowed to be pushed:
https://salesforce.stackexchange.com/a/236246
The error is a little opaque, especially if you're new to sfd

[2020-03-06 19:34] Bilel3203 commented on #201
Hello everyone,
Did someone find a solution of this kind of error because i'm facing the same issue. And the error persists even i get back to my previous project-scratch-def version.

Thank you for your help

[2020-03-06 19:34] clairebianchi commented on #326
@AndrewRayCode, we have fixed this issue, it will go into next weeks release. Thank you for your feedback.

[2020-03-06 19:34] #326 closed, assigned to nobody

[2020-03-06 19:37] clairebianchi commented on #327
@AndrewRayCode are you running the command with --json in CI environments?

[2020-03-06 19:42] clairebianchi commented on #330
HI @dalden1981 can you give us more information on what flags you are using with the command? Also, passing this information onto the Packaging team that own this command.

[2020-03-06 19:48] clairebianchi commented on #333
@damiepsz3 This sounds like an issue with that Pardot setting. Would you please create a case with Salesforce Support?

[2020-03-06 19:48] #333 closed, assigned to nobody

[2020-03-06 19:54] clairebianchi commented on #335
@toddhalfpenny I would recommend posting your question in the [SFDX Trailblazer community ](https://success.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F93A000000HTp1)

[2020-03-06 19:54] #335 closed, assigned to nobody

[2020-03-06 20:00] clairebianchi commented on #336
@laurakolker, thank you for the feedback. Sounds like the documentation on connected apps needs to be improved. I am going to take that back to our doc team.

[2020-03-06 21:13] packocz opened #337 "Custom Object's default layout not seen by source tracking on Scratch Org"
### Summary

When a Custom Object's Label matches a standard one (e.g. OpportunityLineItem__c with label "Opportunity Line Item") its default Layout is called "Opportunity Line Item Layout". This is the same as the Standard Object's Layout and the Custom one does not get pulled by ```sfdx force:source:pull``` no matter how much you change it. Until you rename it to no longer match, then it pulls O

[2020-03-07 05:22] abhinavguptas commented on #78
Getting the same error all of sudden for AuraDefinitionBundle

`
         <types>
		<members>*</members>
		<name>AuraDefinitionBundle</name>
	</types>
`

[2020-03-08 05:29] highered1 opened #338 "Maximum Call Stack Size Exceeded Exception"
### Summary

Running sfdx force:source:convert results in a "Maximum call stack size exceeded" exception message.

### Steps To Reproduce:

1. Edit the package.xml file to refer to a Workflow that does not exist in the Workflow metadata source directory (this may work with other objects--have not checked).
1. Run sfdx force:source:convert -d mdapi_converted -x manifest/package.xml

### Expected re

[2020-03-09 14:49] dalden1981 commented on #330
@clairebianchi I just included the parameters for TARGETUSERNAME, PACKAGE, NOPROMPT, and JSON for the package install.  For the install report TARGETUSERNAME, REQUESTID, and JSON.

[2020-03-09 22:08] clairebianchi commented on #323
Thank you for reaching out. I am sending your issue to the PM for scratch orgs

[2020-03-10 01:05] crooms commented on #334
As a workaround, we tried to use `force:source:convert` to convert the source into metadata API, but that command error'd with the same error as `force:source:deploy`

`ERROR running force:source:convert: Unexpected file found in package directory: C:\sample\app\main\default\accountRelationshipShareRules\AccountSharing.accountRelationshipShareRule

[2020-03-10 18:07] Chris-Synnott commented on #371
Same. Having Chrome as the default browser in Windows 10 is preventing a browser from opening from SFDX: Authorize an Org. Switching the default browser to something else (in my case, Edge) and then running SFDX: Authorize fixed the issue for me.

[2020-03-10 20:21] bingwang0 opened #339 "Unable to source:retrieve MutingPermisionSet"
### Summary

_A Muting Permission Set in a Permission Set Group in a sandbox cannot be retrieved by source:retrieve  _.

### Steps To Reproduce:

1.  Create a Muting Permission Set in a sandbox
2.  Try retrieving it by sfdx force:source:retrieve -m "MutingPermissionSet:permission_set_api_name"
3.  The command failed with "cannot read property 'metadataName' of undefined"
4.  Org Browser can see th

[2020-03-10 20:28] amphro commented on #327
@AndrewRayCode I was under the impression we weren't showing progress in a TTY environment. See https://github.com/oclif/cli-ux/blob/master/src/styled/progress.ts#L11 - is that not what you are seeing?

[2020-03-10 21:52] jmejiavazquez2008 commented on #371
Changing default browser is hardly a fix though. I don't want to do that everytime. also its not just the authorize. SFDX force:org:open doesnt open in browser either. I use that all the time. Super lame.

[2020-03-11 11:06] alanjaouen opened #340 "Error: socket hang up don't return 1"
### Summary

When running a `force:source:deploy` in a CI context, some error can occured

`ERROR:  Error: socket hang up
Unhandled rejection Error: socket hang up
    at createHangUpError (_http_client.js:323:15)
    at TLSSocket.socketOnEnd (_http_client.js:426:23)
    at TLSSocket.emit (events.js:194:15)
    at endReadableNT (_stream_readable.js:1125:12)
    at process._tickCallback (internal/p

[2020-03-11 16:09] vazexqi commented on #327
Piggy-backing onto this issue. I am on the latest version of the Salesforce CLI (installed using the CircleCI Orb). I also set TERM: dumb in my .circleci/config.yml.

Expected:

Based on the comments and also the link to https://github.com/oclif/cli-ux/blob/master/src/styled/progress.ts#L11 I was expecting that the progress bar will **not** show up since this is not a TTY environment.

Actual:

<i

[2020-03-11 19:02] AndrewRayCode commented on #327
@clairebianchi no I am not running with `--json`, and the example command I posted is a reproduction step. I hope that's enough to remove the `more information required` tag?

[2020-03-11 19:29] jclark-dot-org commented on #318
I am observing the same thing when referencing a managed package field in my code.  My repro steps:

1.  Create a scratch org and install the current release of the Financial Service Cloud managed package (`FinServ` namespace).

2.  Create an apex class with no reference to the `FinServ` namespace.  Save, push, edit, Save, push.  No conflicts are reported.

3.  Add a reference to the `FinServ` Nam

[2020-03-11 23:24] rvwatch commented on #310
FYI, I'm also taking a look at this type, but as of now, it is NOT supported by Source Tracking. Only MDAPI.

https://developer.salesforce.com/docs/metadata-coverage/48

[2020-03-12 00:00] aheber commented on #327
@vazexqi & @AndrewRayCode, I don't think the intention is to not show the progress bar in nonTTY environments but to add a newline to the output so each "poll" interval it will report the current progress and you'll get a stack of progress bars.

This is probably most-easily reviewed here:
https://github.com/AndiDittrich/Node.CLI-Progress/blob/98b0d2dac5c4588d5ba08caf0afb5c29d2def646/lib/single-ba

[2020-03-12 04:27] anthonyberan commented on #339
Verifies it fails with force:source:pull as well.
![image](https://user-images.githubusercontent.com/6894510/76487108-8d231e80-63de-11ea-8484-55eaec7a6eb2.png)

### Additional Information - Environment
**SFDX CLI Version:**
7.49.1
**SFDX plugin Version:**
48.4.1
**OS and version**
Mac 10.14.6

[2020-03-12 16:46] amphro commented on #327
I thought the newline happened in TTY when the noTTYOutput was *not* set. It seemed to me that it disabled the render if that option was set... https://github.com/AndiDittrich/Node.CLI-Progress/blob/98b0d2dac5c4588d5ba08caf0afb5c29d2def646/lib/single-bar.js#L52

But I think I must be misunderstanding the code.

It seems though, there are many, many opinions on what people want with output in CI an

[2020-03-12 20:04] OscarScholten commented on #221
@clairebianchi do you have an update?

[2020-03-12 21:43] AndrewRayCode commented on #327
The progress bar should not appear by default in non TTY environments, be it a bash pipe situation or regular non-TTY stdout. We shouldn't rely on a progress bar for CI systems as it's a bug.

The question is then, for TTY environments, should the default be progress bar (sounds right), and for non-TTY, should the default be `text`, or `none`? I think `none`, as getting verbose output feels like a

[2020-03-12 23:41] clairebianchi commented on #221
@OscarScholten I have this on our backlog for the summer release.

[2020-03-13 10:19] jeremyhiggs commented on #322
Do you have any insights into how to fix this?

[2020-03-13 16:52] triestelaporte opened #341 "Profiles required on HDD when packaging, despite their existence in .forceignore"
I had some automatically created profiles surf down into my IDE from a SO, I didn't want these in a package, so very early on in the project I added this to my .forceignore:

[code]

I was tired of seeing the files on my hard drive, so this morning I deleted them, knowing they were not packaged anyway.

Verified by examining all existing versions of package, none include the profiles

well, after

[2020-03-13 16:56] triestelaporte commented on #341
I think the profiles snuck into a version of the package at some point, but we set up ancestry to the previous version and killed the one that had the profiles once upon a time.

[2020-03-13 20:29] #331 closed, assigned to nobody

[2020-03-14 17:58] DCh2095 commented on #371
Same happened with me. Changing the default browser worked :)

[2020-03-16 15:58] amphro commented on #327
Thanks for the input @AndrewRayCode - after hearing feedback from a lot of stakeholders for the past few weeks, I tend to agree with you. We are discussing internally and hopefully, you'll see something soon.

[2020-03-16 16:50] yippie opened #342 "plugins:install not properly installing from github"
### Summary

Using github to install a private pluging does not fully/properly install the plugin. After install, we must run `sfdx plugins:link ~/.local/share/sfdx/node_modules/MavensCLI` to be able to use the plugin

### Steps To Reproduce:

1.  Create an SFDX plugin
1.  Compile with pre-pack
1.  check compiled code into a private github repo
1.  Make sure cli/plugin is fully unlinked from the d

[2020-03-16 18:52] jeremyhiggs opened #343 "sfdx force:source:pull does not retrieve changes to permission sets"
### Summary

After creating a new field, sfdx force:source:pull does not retrieve changes to the permission sets.

### Steps To Reproduce:

1.  Add a field to an existing object
1.  sfdx force:source:pull

### Expected result

Apart from the object field and object translations, the permission sets should have also been marked as changed remotely, and pulled.

### Actual result

No (reported) chan

[2020-03-17 05:43] sfdcale opened #344 "Package.xml created by source:convert has special character at the end"
**Steps to reproduce**:

1. Run the command `sfdx force:source:convert -p force-app/main/default/objects/Account -d deployment`

2. Run the command `cat deployment/package.xml`

**Actual Behavior**:
There is a special character added at the end of the file.
<img width="720" alt="Screen Shot 2020-03-16 at 10 36 59 PM" src="https://user-images.githubusercontent.com/11079913/76825276-bc6ace80-67d6-11

[2020-03-17 07:33] CatoCoder opened #345 "ERROR running force:source:retrieve: Cannot read property 'getWorkspaceElements' of undefined"
### Summary
When right-clicking on the package.xml file in an existing project and selecting **SFDX: Retrieve Source in Manifest from Org** I get the following error:
**ERROR running force:source:retrieve:  Cannot read property 'getWorkspaceElements' of undefined**

### Steps To Reproduce:
1.  Open folder in Visual Studio Code
1.  Wait for plugins to load and Org to connect
1.  Open package.xml fi

[2020-03-17 19:07] lpbearden commented on #332
To close the loop on this @yippie the setting needed in your scratch org definition file is this:
[code]

It doesn't seem to be surfaced anywhere but we found it after opening a case.

[2020-03-17 19:07] #332 closed, assigned to nobody

[2020-03-17 19:14] sfdcale commented on #344
Closing this as this is not a CLI issue but behavior of zsh terminal.

[2020-03-17 19:14] #344 closed, assigned to nobody

[2020-03-17 19:25] yippie commented on #332
That is correct, that is the setting needed, however, it has been deprecated and does not work in the scratch def anymore. However, Enterprise scratch orgs have this setting OFF and Salesforce has removed the API to turn it on because the setting is dead and has been forced ON for all new orgs in the last 7 years.

The real issue is that Enterprise scratch orgs are created with this setting defaul

[2020-03-18 14:21] lpbearden commented on #332
I agree that it should be on by default.

The above setting though is not deprecated as it is in the new format for settings. If you use the above command you get no deprecation warning unlike the old value of:
[code]

[2020-03-18 14:50] yippie commented on #332
well look at that, when was that added? in v47 when they first deprecated orgPreferenceSettings there was no migration path for analyticsSharingEnable

[2020-03-18 18:50] yippie opened #346 "SFDX_IMPROVED_CODE_COVERAGE breaks tests"
### Summary

Setting export SFDX_IMPROVED_CODE_COVERAGE=true then running unit tests results in error

### Steps To Reproduce:
run these commands
1.  `export SFDX_IMPROVED_CODE_COVERAGE=true`
1.  `sfdx force:apex:test:run -d ~/test-results/mic -r junit -w 45 -c -l RunLocalTests`

### Expected result

Tests to complete and display results

### Actual result

[code]

### Additional information

_Fee

[2020-03-19 13:05] maaaaarco opened #347 "Validation and progress bar"
### Summary
When validating a package using the command `force:source:deploy -c` if there's already another deployment in progress this happens:

<img width="498" alt="Screenshot 2020-03-19 at 13 57 30" src="https://user-images.githubusercontent.com/8080936/77070154-04157400-69ea-11ea-82d4-275d3019045f.png">

Even the message _Successfully validated the deployment_ is wrong, since the validation r

[2020-03-19 19:41] apschwartz commented on #332
I see this issue is closed, but I am not sure why.  In v47 I was able to automatically enable Folder Sharing in an Enterprise Scratch org by putting  "features": ["EinsteinAnalyticsPlus"] in my scratch def json file.  However as of v48 it appears this no longer enables Folder Sharing and causes new metadata incompatibilities when we try to push to our Sandboxes that don't have EinsteinAnalyticsPlu

[2020-03-20 06:23] YodaDaCoda opened #348 "Add ability to specify batch size for bulk operations"
I'm performing some operations using the Bulk API, using a CSV of >6 million records.

Currently, I can pass that CSV to sfdx and the bulk operation will be split into batches automagically if the number of records in the CSV is greater than the default batch size of 10,000. For some operations (and due to things outside my control) the default batch size easily reaches various Salesforce limits (

[2020-03-20 14:28] aheber commented on #348
It is my understanding that the batch size used in the Bulk API (10,000) is only the file chunking size and internally it will still split to the 200 records per-transaction. I don't believe that per-transaction size can be adjusted on the bulk API. Unfortunately sending in file sizes smaller than 10,000 wouldn't help the transaction size where you're likely running into the limitation problems.

[2020-03-20 17:35] clairebianchi commented on #338
@highered1 Thank you for digging into the error message. I am putting a ticket on our backlog to get this updated with better information

[2020-03-20 17:36] clairebianchi commented on #339
@bingwang0  we are going to investigate thank you

[2020-03-20 17:38] clairebianchi commented on #340
@alanJaouen we are taking a look, thank you for reporting

[2020-03-20 17:48] clairebianchi commented on #346
@yippie, I have asked the team that owns the apex commands to take a look

[2020-03-20 17:51] clairebianchi commented on #349
@reda-benhemmouche can you please update your CLI version and try to run the command again. We believe we fixed this issue.

[2020-03-20 17:56] clairebianchi commented on #337
@packocz  we are taking a look, thank you for reporting

[2020-03-20 19:02] rvwatch commented on #345
@CatoCoder Would you be willing to post the contents of your package.xml here? I would like to see if there's a specific metadatatype that might be causing this. I just attempted to replicate and had no issues running the retrieve. Wondering if you might have another type in there that I might not have.

Thanks!

[2020-03-20 19:31] clairebianchi commented on #342
@yippie can you try the clone URL with the .git at the end of the URL? That should work.

[2020-03-20 19:45] yippie commented on #342
I am using the clone URL
`sfdx plugins:install https://github.com/mavens/P-TOOL-MavensCLI.git#master`
that is the exact command I am using

[2020-03-20 21:11] amphro commented on #342
It's a bug that the install doesn't show the error but in general, this is a problem with setup, usually auth into a private repo. All we are doing is a `yarn add`. Here is what I get:

[code]

I'm assuming it is private. You can try to run the add to see what kind of error you get.

[2020-03-20 21:30] nramyasri-sf commented on #322
@jeremyhiggs, is there a possibility to share the source code? Or, could you please create a salesforce support ticket and let us know the case number so we can investigate this further?Thank you.

[2020-03-20 22:39] YodaDaCoda commented on #348
Having the ability to specify a batch size <200 would be beneficial in my case. I know this would result in more batches and would therefore approach the limits much more quickly, but it'd avoid me having to manually split my CSVs into smaller chunks.

[2020-03-20 23:45] mkreth opened #350 "Include flow coverage in force:apex:test:run or force:apex:test:report output"
**Is your feature request related to a problem? Please describe.**
Coverage of flows by Apex unit tests is currently hard to determine and track. Tracking flow coverage should be as easy as tracking Apex code coverage.

**What are you trying to do**
The output of force:apex:test:run and force:apex:test:report should include both code coverage and flow coverage. Flow coverage should also be written

[2020-03-22 23:48] CatoCoder commented on #345
No specific metadata type causes the issue. From the log I posted above (repeated below) it seems to be the parent folder it is trying to process at the end that causes the error.

sfdx:SourceWorkspaceAdapter DEBUG pending change: _SourcePathInfo {
sfdx:SourceWorkspaceAdapter state: 'n',
sfdx:SourceWorkspaceAdapter sourcePath: **'C:\Projects\Salesforce\Ezidebit**',
sfdx:SourceWorkspaceAdapter **is

[2020-03-23 08:15] rbklaassen commented on #311
Hi, any updates on this @lockholster? We face the problem that sfdx pull just deletes the (custom) profiles...

[2020-03-23 11:57] yippie commented on #342
Yes, it is a private repo,

Running `yarn add https://github.com/mavens/P-TOOL-MavensCLI.git#master` runs successfully and give me no errors and I find my package in the node_modules folder after.

'sfdx plugins:install' Does run successfully and installs the package into `~/.local/share/sfdx/node_modules/` successfully. After that, my commands are half recognized. My cli plugin namespace and comm

[2020-03-23 16:15] amphro commented on #342
That is a lot of useful information. Thanks.

[2020-03-23 17:26] quanlin-guo opened #351 "Issues to Retrieve Metadata"
I created a new scratch org: https://sandbox-connect-innovation-6455-17108659e75.cs18.force.com/

Here is my project-scratch-def.json
{
        "orgName": "Knowledgebase + Chatbot",
        "edition": "Enterprise",
        "hasSampleData": "true",
        "features": ["ServiceCloud","Chatbot","CPQ","Communities","Knowledge","LiveAgent","LightningServiceConsole","LiveMessage","WavePlatform"],

[2020-03-23 21:00] rvwatch commented on #351
This is the same issue as #151. Please follow that thread for updates.

[2020-03-24 05:23] rvwatch commented on #151
**UPDATE:**
source:retrieve should work with the Audience type after this week's release. We're still hitting some issues with source:pull and the Audience type, but this will hopefully be taken care of soon. In the meantime, we've updated the error messaging for this issue to be a bit more clear with steps for the users to take.

Thanks for your patience and the help tracking this one down! We sh

[2020-03-24 12:27] jeremyhiggs commented on #322
Would you need the source code for the manifest? I can do that.
[package.xml.zip](https://github.com/forcedotcom/cli/files/4375202/package.xml.zip)

[2020-03-24 18:06] clairebianchi commented on #345
@CatoCoder can you send us the stack trace from when you run the command with --debug? That will allow us to pinpoint where the bug is. Thanks for sending this our way.

[2020-03-24 18:10] abhisheksaxena7 commented on #345
@clairebianchi  I think it's an intermittent error. I got this earlier today on my mac but just now I reran it with --debug right now and it worked.

[2020-03-24 18:11] clairebianchi commented on #345
Thanks, I am creating an internal investigation and we will dig in.

[2020-03-24 18:13] clairebianchi commented on #350
@mkreth Thank you for the feedback I am passing it over to the PM that owns force:apex:test:run.

[2020-03-24 18:13] #350 closed, assigned to nobody

[2020-03-24 19:15] judamarto commented on #39
Hi, I'm having the same issue, trying to retrieve source using package.xml

 force:source:retrieve:  Cannot read property 'fileName' of undefined and here is my plugins:

PS C:\Users\judam\Documents\salesforce\MyComponents> sfdx plugins --core
@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.9 (core)
@oclif/p

[2020-03-24 23:40] lockholster commented on #311
sorry @rbklaassen, never came back to this, sometimes we had profiles deleted as well. I haven't been following this too closely as we've restructured our project to pull profiles over mdapi now instead.
Do you have a binary SiteDotCom included in your project? As far as I could tell, the behaviour for pushing/pulling changed just whether this was included in the project or not.

[2020-03-25 07:02] CatoCoder commented on #345
I am now working from home and have run the process from my home laptop. It works correctly as expected. It seems that the upgrade to the latest version broke it. Here are the details of the version I am on at home. At this stage, I am not going to update the CLI here so that it stays working.

sfdx --version
sfdx-cli/7.36.0-b1c4e9c7c8 win32-x64 node-v10.15.3

sfdx plugins --core
@oclif/plugin-com

[2020-03-25 14:40] MGarfOppLoans opened #352 "sfdx force:org:create will occasionally never auth"
### Summary

The CI/CD job will timeout waiting for auth to the org spun up occassionally.

### Steps To Reproduce:

1.  run sfdx force:org:create

### Expected result

Salesforce CLI should be authenticated against the environment

### Actual result

It waits for hours till it gives up and never auths.

### Additional information

_Feel free to attach a screenshot_.

**SFDX CLI Version**(to find

[2020-03-25 14:40] MGarfOppLoans commented on #352
(Please note i removed the sandbox name and id from the logs and this continues until the full 4 hours wait)

[2020-03-25 16:28] shetzel commented on #343
@jeremyhiggs - I don't understand the problem based on the repro steps.  Permission sets are a separate entity from custom objects.  If I change a permset and pull, the permset is retrieved.  If I add a field to that custom object and pull, the new field is retrieved.  Just by adding a new field to the custom object doesn't change anything about the permset.

Feel free to reopen with different rep

[2020-03-25 16:28] #343 closed, assigned to nobody

[2020-03-25 16:31] jeremyhiggs commented on #343
It does, and you can demonstrate that by doing `sfdx force:source:retrieve` and looking at the changes. Adding a new field would automatically add that field to the existing permission sets. force:source:retrieve picks up those changes, but force:source:pull does not.

[2020-03-25 17:02] shetzel commented on #343
I just did that and there is no change in the permset.  To be clear this is what I did:
1. Create a custom object with 2 fields.
2. source:pull --> object and fields are retrieved
3. create a permset that adds read perms to the field on that custom object
4. source:pull --> permset is retrieved
5. add a new field to the custom object
6. source:pull --> field is retrieved
7. source:retrieve -p <pat

[2020-03-25 22:08] shetzel commented on #345
@CatoCoder - thanks for the `--dev-debug` output (that's what Claire meant).  That has the stack trace and I know where that error is coming from.  I can't reproduce it but it's definitely a bug we'll get fixed.

[2020-03-26 04:23] jeremyhiggs commented on #343
Here's the steps that I would take:
1. Create a custom object
2. Create a permset (i.e. the object and permset exist before adding new fields)
...
3. Add a new field "foo__c" to the custom object, no changes to the permset through the web UI
4a. source:retrieve would return a permset that has fieldPermissions for "foo__c" automatically added, along with new object field files for foo__c
4b. source

[2020-03-26 14:29] aidan-harding opened #353 "Warning when attempting to pull changes from a higher API version"
**Is your feature request related to a problem? Please describe.**
If I don't keep the `sourceApiVersion` property of my `sfdx-project.json` file up-to-date, then attempting to pull metadata from a newer API fails silently.

e.g. I had a project which I hadn't updated from API 45, and was trying to pull Custom Metadata Type permissions in a Permission Set. I couldn't understand why they weren't be

[2020-03-26 22:29] shetzel commented on #343
You mean based on seeing them in the UI?  I don't see them when retrieved via the metadata API, which is what all the retrieval commands (source:pull, source:retrieve, mdapi:retrieve) use to get the data.  I see your screenshot and I've tried many times to reproduce without success.  In the end, all deploys and retrieves use a manifest.  I.e., `sfdx force:source:retrieve -p path/to/file` builds a

[2020-03-27 12:18] IvanDavidHarris opened #354 "Push Not Changing Username References"
### Summary

Note: this seems similar to #224, which is closed but there is no known issue [here](https://success.salesforce.com/issues_index?page=11&tag=Salesforce+DX). I was assuming it has therefore been fixed. Perhaps a regression?

When pushing changes from a Salesforce DX project to a scratch org and the changes include username references in queues and Omni-Channel presence configurations,

[2020-03-27 14:53] dpahadiya-salesforce opened #355 ""ManagedContentType" are not currently supported by the CLI"
Fetching all the metadata from VS Code and getting below error.

ERROR running force:source:retrieve:  We can’t retrieve the specified metadata object: ManagedContentType. Certain metadata types, like ManagedContentType are not currently supported by the CLI.
File a bug here: https://github.com/forcedotcom/cli/issues and provide the name of the unsupported metadata type

[2020-03-27 17:53] samkarnati commented on #151
I would be interested with the new Salesforce CLI release for Audience

[2020-03-27 18:20] AltiusRupert commented on #151
Hi Ricardo (@rvwatch), I've spotted the same problem with the following metadata types :
- Audience
- RedirectWhitelistUrl
- NetworkBranding
- ConnectedApp
- ManagedContentType

Will your change fix all these ?

[2020-03-27 18:38] #349 closed, assigned to nobody

[2020-03-27 19:17] peternoges commented on #151
I notice it with ManagedContentType.  How would a salesforce developer using vscode and sfdx  'know' which metadata type(s) cause this generic error during sfdx force:source:retrieve?  Can we get more verbose logs somehow during a retrieve? I tried setting --loglevel DEBUG however the terminal still showed me the generic error as :

{"name":"sfdx","hostname":"DESKTOP-MYID","pid":MYPID,"log":"Sourc

[2020-03-28 09:45] parthpuneet commented on #371
I am also facing the same issue actually two  :

- every time I run sfdx: authorize and org it shows me 1717 already in use - for this I had to kill process which is always node.js (part of sfdx )

- even after killing the process job runs indefinitely, which got fixed by changing default browser.

all these are just hacks but not a solution. Please provide fix around them

OS : Windows 10

[2020-03-30 17:04] alan-morey opened #356 "force:mdapi:deploy no longer showing error line numbers on failures"
### Summary

`force:mdapi:deploy` no longer shows the error line number for components that fail to deploy.

### Steps To Reproduce:
1. Create package folder `deploy-test` with following components:
[code]
2. Contents of `ClassWithCompileError.cls`:
[code]
3. Contents of `ClassWithCompileError.cls-meta.xml`:
[code]
3. Contents of `package.xml`:
[code]
4. Execute deploy command:
[code]

### Expecte

[2020-03-30 20:26] smaddox-sf commented on #350
Hi @mkreth  - Thanks for the feedback on the difficulties tracking flow test coverage.  We don't foresee incorporating Flow coverage directly into the Apex commands.  We'll think about this feedback & ways to better expose Flow test coverages in the future.

[2020-03-31 12:35] thegogz commented on #371
Same issue for every dev in our business (that's 50+ developers across multiple projects)

Chrome: Version 79.0.3945.79 (Official Build) (64-bit)

OS: Win 7 and Win 10

Workaround does work but is far from ideal

[2020-03-31 13:46] david-bingham commented on #38
facing the same issue over here too.

07:41:56.72 sfdx force:project:create --projectname Dev0 --outputdir c:\sfdx --template empty --manifest
{ AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: C:\Users\David (Work)\AppData\Local\sfdx\client\7.52.0-c5ad5c3eff\node_modules\salesforcedx-templates\lib\templates\project\empty\ScratchDef.json
    at EditionInterface.exp

[2020-03-31 18:04] clairebianchi commented on #355
@dpahadiya-salesforce Thank you. I will file a bug on the team that owns that metadata and get it fixed.

[2020-03-31 18:07] clairebianchi commented on #355
@dpahadiya-salesforce what version of the CLI are you on?

[2020-03-31 18:21] clairebianchi commented on #356
@alan-morey We will look into it. Out of curiosity if you use source:deploy do you see the line numbers?

[2020-03-31 18:48] alan-morey commented on #356
@clairebianchi Yes, line/column numbers appear on failure messages when using `source:deploy`

[2020-03-31 18:56] clairebianchi commented on #356
Great, Thank you

[2020-03-31 22:42] jmAlive opened #357 "Profiles"
**Is your feature request related to a problem? Please describe.**
Yes, the version control of Profiles is not as broken down down as the objects are.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
As a team of developers, we are running into lots os merge conflicts and unnecessary overhead with profiles not being broken down as objects are.

**What a

[2020-04-01 20:29] alpha-bytes commented on #301
I would add that I also just had this issue with the `CustomField` metadata type. Steps to reproduce:
1) sfdx project directory containing `objects` dir and `<SObject>` (e.g. Case) sub-directory
2) sub-directory contains `fields` sub-directory and field metadata xml, as well as other sub-directories and md (e.g. `compactLayouts`, `listViews`, etc).
3) run `sfdx force:source:deploy -m CustomField:C

[2020-04-01 21:12] Rokit12 commented on #49
somebody with idea to solve this: (node:19029) [EACCES] Error Plugin: sfdx-cli: EACCES: permission denied, open '/home/rokit/.sfdx/sfdx-config.json'

[2020-04-01 21:25] rvwatch commented on #151
Hey All. Be sure to update to the latest version of the CLI. @AltiusRupert - Audience type should be fixed. I've also tested against NetworkBranding and had no issues retrieving it. Same with ConnectedApp.

ManagedContentType is a known issue. We've reached out to the team that owns that and hopefully will have a fix in the works soon.

@peternoges The latest version of the CLI will capture this s

[2020-04-02 00:34] vinodr commented on #312
Is there a workaround for this, other than downgrading the CLI? Still getting the error using CLI version 7.52.0.

[2020-04-02 01:15] vinodr commented on #312
I found that using ancestorId instead of ancestorName is working.

[2020-04-02 14:36] saurabh-deep commented on #308
We have also been seeing this occasionally with scratch orgs. Sometimes, it is resolved if we delete the scratch org and create again. Sometimes, it persists for some time and then gets resolved on it's own. Somehow, even generating the scratch org password and logging in with that doesn't seem to work.

[2020-04-02 16:25] amphro commented on #322
Hey @jeremyhiggs - your debug output is a different error than the one you posted about. It is for `ERROR running force:source:retrieve: Missing one of the following parameters: manifest metadata sourcepath packagenames` when means you ran it without the manifest params. We need the debug output for when you receive `ERROR running force:source:retrieve: XML parse errors reported`

In addition, the

[2020-04-02 16:44] cumulus-robert commented on #124
hi @clairebianchi -- this issue crept back up for me. I had to rebuild my Jenkins server, but was sure to install sfdx 47.15.0 during rebuild. This was the version that scripts worked on before the rebuild. Now with the same scripts prior to the rebuild, I'm getting this:

+ sfdx force:mdapi:deploy --wait 120 -c --deploydir /opt/bitnami/jenkins/jenkins_home/workspace/TAN-pipe_prod_validate/mdapi -

[2020-04-02 17:48] cumulus-robert commented on #124
@clairebianchi - Sorry for false alarm. Was worried I'd be in another month long no Jenkins scenario at first. It seems there was opportunity in order of operations. I think because I have to install SFDX first with current version, then revert to previous version, any Jenkins project created while on current version needed to be deleted. I deleted my projects and recreated. It seems to be working

[2020-04-02 21:17] clairebianchi opened #359 "Workaround for Salesforce CLI Installation Error on macOS Catalina"
The Salesforce CLI Mac installer doesn’t work as expected on macOS Catalina or beyond. Why? These newer macOS versions require notarized digital certification. Salesforce CLI is built on Node.js, which currently doesn’t have a notarized certification with Mac. When you download the .pkg installer and double-click the file, you see an error message.

*How to Resolve the Error*

First, if you haven’

[2020-04-02 21:55] peternoges opened #360 "How to workaround "The command line is too long." during SFDX SOQL execution"
Hello, I have a ~16k character sfdx soql statement to run in vscode.

The SOQL is formatted fine.  I expected to see results. Instead I see in the "Output" tab the message "The command line is too long."

This is odd because Salesforce defines the maximum SOQL length as 100k per https://help.salesforce.com/articleView?id=000333028&language=en_US&type=1&mode=1

How can I run my 16k character soql s

[2020-04-02 23:56] Julian88Tex opened #361 "Sometimes Instance URL has trailing "/" intermittently when running force:org:display"
### Summary

Command `sfdx force:org:display --json` sometimes provides the "instanceUrl" with a trailing and other times it does. Appears to be about 50/50 from anecdotal testing.

### Steps To Reproduce:

1.  Create 4 scratch orgs using `sfdx force:org:create` with different aliases
1.  Run `sfdx force:org:display --json -u <username>` for each of the aliases

### Expected result

The instanceUr

[2020-04-03 08:34] dencinas commented on #151
Hi,

https://github.com/forcedotcom/cli/issues/151#issuecomment-607497525
We just updated to the latest versin yesterday but still not working.

We´ve been working working with SFDX for a while with Communities, Sales and Services Cloud, and since we udpate the sfdx-cli version we are getting Issues wit the Audiences, we don´t have any Audience define. Right now we have the versión sfdx-cli/7.53.0

[2020-04-03 10:17] gontoracq commented on #10
I got my report using this. This is the correct solution even though it says nothing has retrieved.

[2020-04-03 16:07] amphro commented on #360
It is the command length of your shell. There is no way to work around it other than trying to find a shell that has a longer command length.

We could use this as a feature request to support reading queries from a file rather than the command line.

[2020-04-03 16:09] amphro commented on #361
Ya, I  consider this a bug and something we noticed a little while ago. FYI @shetzel

[2020-04-03 16:27] Julian88Tex commented on #361
@amphro @shetzel thanks yeah I assume this isn't a bug in CLI as much as however the CLI is being served, but it would be nice for the CLI to standardize it for us, so from that perspective it would be a feature I suppose.

[2020-04-03 21:49] peternoges commented on #360
Thanks.  Yes please.  Let me know if I should submit a new record.  Otherwise go ahead with the feature request based on this.
Its reasonable to expect me, in visualstudio code, to paste a long ( <= 100k character) SOQL Statement into a file and regardless of saving the file I would expect to have a SFDX command pallete option for running a soql query using that long text.

[2020-04-04 00:50] dkelll opened #362 "SyntaxError: Unexpected Token } when using sfdx force:mdapi:retrieve"
### Summary

I am trying to pull metadata from a sandbox using sfdx force:mdapi:retrieve and I receive an error "SyntaxError: Unexpected Token }". This happens with VS Code through the metadata explorer, through the right-click context menu, and through the command in the command palette

### Steps To Reproduce:

1.  Connect sfdx to a sandbox (i.e. not a scratch org)
1.  Run `sfdx force:source:ret

[2020-04-04 16:15] shetzel commented on #362
You are mixing `source:retrieve` with `mdapi:retrieve`.  Use `source:retrieve` when working with metadata in source format, and `mdapi:retrieve` when working with metadata in mdapi format.  You'll get errors like this if you mix them.

[2020-04-04 16:15] #362 closed, assigned to nobody

[2020-04-05 19:21] dkelll commented on #362
I just tried again and both methods are giving me that error. To make sure I had my args right when trying the source method I tried with `-h` and interestingly enough I'm getting the same thing:

[code]

Using `sfdx force:mdapi:retrieve -h` returns as expected but then when I try pulling the metadata using `sfdx force:mdapi:retrieve` it breaks with the same error:

[code]

@shetzel Thoughts? Than

[2020-04-06 00:06] dkelll commented on #362
Hi @shetzel,

I tried creating a new sfdx project from scratch

[code]

I modified the package.xml file to pull an apex class that exists in the sandbox but not locally since this is a new sfdx project.

[code]

I then tried to pull from the sandbox with `sfdx force:source:retrieve` and still had the issue.

[code]

So I try pulling as metadata instead of source:

[code]

I don't think it's an iss

[2020-04-06 05:37] VirendraNaruka commented on #259
@shetzel  Hi All I am getting same Issue .. I ma on Windows 10, Java 1.8
Below are  description ... Can you please help me anybody .. Appreciates all
C:\WINDOWS\system32>sfdx plugins --core
@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.1 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.8 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-availab

[2020-04-06 07:47] FabienTaillon commented on #339
I assume it's not that easy to have a "CLI supported" column in the Metadata Coverage Report ?

[2020-04-06 15:22] shetzel commented on #362
Yeah that looks like a corrupt installation.  That js file is definitely incomplete.  I'd try reinstalling again but first take these steps to completely wipe your installation:
rm -f /usr/local/bin/sfdx
rm -rf /usr/local/lib/sfdx
rm -rf ~/.local/share/sfdx
rm -rf ~/.config/sfdx
rm -rf ~/Library/Caches/sfdx
rm -rf /usr/local/heroku
rm -rf /usr/local/sfdx
rm -rf /usr/local/lib/heroku
rm -rf /usr/lo

[2020-04-06 16:29] cumulus-robert commented on #124
Hi @clairebianchi - I want to mention that I continue to have issues with the previous comment. Every day now, I have to reset pipes inside Jenkins because of this failure:

sfdx force:mdapi:deploy --wait 120 -c --deploydir /opt/bitnami/jenkins/jenkins_home/workspace/TAN-pipe_prod_validate/mdapi --targetusername robert.brown@xxxx.com --testlevel RunLocalTests
ERROR running force:mdapi:deploy: We e

[2020-04-06 17:45] clairebianchi commented on #339
@FabienTaillon sadly no, we have had internal discussions, but it is a lot more work than it would seem.

[2020-04-06 18:12] clairebianchi commented on #124
@cumulus-robert can you open a new issue and reference this one? That will bubble this up to the top and we can take a look. I have not heard of this happening to anyone else, sorry it is an issue again.

[2020-04-06 19:00] ThomasCreemers commented on #124
@clairebianchi
we are experience the exact same issue. Just freshly installed the latest SFDX Cli on a new t3.medium AWS Linux 2 Server.
Build ran perfect for 20 runs or so. Then suddenly this error is popping up.

/usr/local/bin/sfdx force:mdapi:deploy --targetusername jenkins@deloitte_sf_project.com.test --deploydir mdapi/target/src --testlevel RunLocalTests --json --ignorewarnings
{
  "status":

[2020-04-06 19:44] cumulus-robert opened #363 "Error on mdapi:deploy asking for location of "server.key""
### Summary

Similar to #124. I experienced a similar issue in January. The root cause was OS variables vs. SFDX vs. Jenkins. Jenkins scripts needed to be updated to specify OS environment variables so SFDX could work as designed.

Between 10/2019 and 01/2020, an SFDX version was released changing certain behavior causing prior scripts to fail. No OS or other environmental change at that time. Las

[2020-04-06 20:47] cumulus-robert commented on #363
I should also note that the default install of SFDX does not work. It immediately produces this failure. Going back to 47.15.0 lets me at least be able to have a semi-workable solution.

[2020-04-06 21:01] dkelll commented on #362
Fixed mate, thanks again for your help!

[2020-04-07 10:00] FabienTaillon commented on #339
Also, MutingPermissionSet is listed as supported by the Metadata API, so letting aside the CLI, shouldn't this mean that it should be documented [here](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_types_list.htm), and available through at least a package.xml ?

Or is it just a bug on the API side, it's listed as available in the Metadata API but it's not ?

[2020-04-07 17:52] rebekamaia commented on #151
Same here.

SFDX version: sfdx-cli/7.53.0-839fc82926 win32-x64 node-v10.15.3

Error:

sfdx force:source:pull --json
{
  "status": 1,
  "name": "RetrieveFailed",
  "message": "Não é possível recuperar o público padrão.",
  "commandName": "SourcePullCommand",
  "stack": "RetrieveFailed: Não é possível recuperar o público padrão.\n    at MdapiPullApi._processResults (C:\\Users\\rebeka.franca\\AppData

[2020-04-07 17:55] luizfaleiro commented on #151
I'm having the exact same issue as @dencinas . I've tried to downgrade the SFDX plugins, but the error persistis. Does anyone came up with a workaround already? Thanks in advance!

[2020-04-07 18:09] clairebianchi commented on #352
@MGarfOppLoans Thank you for the feedback this issue is owned by another team. I am passing it along to them and they will track it in our internal system.

[2020-04-07 18:09] #352 closed, assigned to nobody

[2020-04-07 18:21] clairebianchi commented on #354
@IvanDavidHarris this is an issue with the metadata not the CLI. I am going to pass this information on to that team, but it would also be beneficial for you to submit a case through support. Thank you for your feedback.

[2020-04-07 18:21] #354 closed, assigned to nobody

[2020-04-07 18:22] luizfaleiro commented on #151
I've found a workaround that allowed me to pull from my scratch org. I uninstalled Salesforce CLI from my computer then I installed again from https://developer.salesforce.com/tools/sfdxcli (version 7.36.0). A warning saying "No source format support for type Audience..." is displayed, but I was able to run _sfdx force:source:pull_. Not ideal, but it works for now.

[2020-04-07 18:25] clairebianchi commented on #357
@jmAlive to be transparent we no plans to plan to breakdown profiles at this time. We believe the path forward is to use Perm sets and Perm set groups, which work better with source formate and version control. If you would like to provide more details on how you are using Profiles and why you would be unable to migrate to permsets please add it here and I can pass it on to the team that owns this

[2020-04-07 18:25] #357 closed, assigned to nobody

[2020-04-07 18:57] daveespo commented on #357
@clairebianchi  -- you can't set default Record Types and Page Layout Assignment via Perm Set ... that's the main reason we need to maintain unwieldy Profiles in source control for SFDX/scratch org projects

[2020-04-07 20:50] rrmehta2 commented on #352
@MGarfOppLoans This looks like a bug. Can you please open a support case so that we can create a known issue and notify you about updates correctly?

[2020-04-08 18:49] lsaggu commented on #151
I'm having issues as well with ManagedContentType - I've tried every which way to retrieve via VSCode and Workbench. Workbench shows me the following error:

Good to know that ManagedContentType is being looked into @rvwatch.

[2020-04-09 11:31] f1nl0wt3ch commented on #371
Hi, the problem is not coming from your browsers. After dealing with this error, I found that we have to add "C:\Windows\System32" path to your environment variables. Remember to restart your Visual Studio Code or your computer if it is still not working. Good luck!

[2020-04-09 13:50] AhmedAstalPersonal opened #364 "Unable to Authorize Dev hub via SFDX: connect ETIMEDOUT"
### Summary

Have created a Clean new empty Project with manifest in VS code
Dev hub is enabled on the Production Org

When trying to authorize the devhub, I'm able to see the web page and provide the credentials, and also approve/decline
But after that is loading forever.

and after a while, I got:
connect ETIMEDOUT 85.222.152.67:80

### Steps To Reproduce:

1. Create a new Project with Manifest

[2020-04-09 16:40] cumulus-robert commented on #363
Just a small update. After a few days of working with this, it appears I don't have to delete the whole pipe, but just the branch which effectively just deletes a folder in the OS. When branch is recreated and ultimately rediscovered by Jenkins, it auto recreates the folder with an assumed new and unestablished base folder environment for SFDX. This still really seems like an environmental issue,

[2020-04-09 20:57] ahewardUF commented on #355
@clairebianchi I've confirmed this error on CLI ver7.50.0 and 7.53.0.

"ERROR running force:source:retrieve:  We can’t retrieve the specified metadata object: ManagedContentType. Certain metadata types, like ManagedContentType are not currently supported by the CLI"

[2020-04-10 16:05] AhmedAstalPersonal commented on #364
THIS IS SURPRISING!!

The isssue was with SEP (Semantic Endpoint Protection)

It was on my device (for some reason, I don't know why)
Once removed, Everything is coming back working PERFECTLY.

JUST STAY AWAY of SEP!

[2020-04-10 16:06] #364 closed, assigned to nobody

[2020-04-10 16:14] cumulus-robert commented on #363
Is there a version before 47.0.15 can go to where this isn't an issue. Perhaps a version from October 2019? This is too much to manage with a ***continuous*** integration strategy.

[2020-04-13 03:19] sjurgis opened #365 "Stray node processes using 100% CPU"
### Summary

Within last month I've noticed stray node processes using 100% of CPU. Happens from both - cli and Illuminated Cloud.

### Steps To Reproduce:

Unclear, but most likely from source push.

### Additional information

See screenshot for the example.
<img width="973" alt="Screen Shot 2020-04-13 at 3 14 09 PM" src="https://user-images.githubusercontent.com/7092409/79089370-03c68980-7d9a-1

[2020-04-14 13:56] pawan22sfdl commented on #124
Can anyone let me know what is final resolution for the issue ??
ERROR running force:mdapi:deploy:  ENOENT: no such file or directory

[2020-04-14 14:10] pawan22sfdl commented on #124
@clairebianchi can you please let me know what is the final solution for the issue as its very very urgent for me to solve the below error
ERROR running force:mdapi:deploy: ENOENT: no such file or directory

[2020-04-14 14:21] RupertBarrow commented on #355
Duplicate with #151

[2020-04-14 15:35] cumulus-robert commented on #124
@pawan22sfdl @ThomasCreemers This ticket is closed. You may want to either create a new one for yourself and/or add to the one I created the other day (https://github.com/forcedotcom/cli/issues/363). This is actually the second time in 3 months I've experienced this issue with Jenkins/SFDX. It seems to me there are environmental issues with SFDX. I'm getting nowhere with Jenkins / Bitnami. Everyth

[2020-04-14 16:27] cumulus-robert commented on #363
I don't want to muddy the waters, but this morning I started receiving a similar error in Visual Studio:
...
[code]
...

It does seem like something is going on with SFDX here. This kind of solidifies to me the issue is with SFDX as this error can be produced in two separate OS environments. I'm using MacOS and Jenkins is Debian.

What is being done to address this? Is there any potential workarou

[2020-04-14 20:44] Vincent-Ip opened #367 "errors with sfdx pulling report sub folders"
### Summary

Error using `sfdx force:source:pull` when retrieving Report Sub Folders (Report Folders that are created within a report folder).
**Entity of type 'Report' named 'ReportFolder/ReportSubFolder' cannot be found.**

This is probably also affecting `sfdx force:package:version:create`.  I was seeing error messages like the following:
**Entity Report and member ReportFolderName/ReportSubFol

[2020-04-15 08:25] ennoucas opened #368 "2nd gen package version with ancestor is failing with "protected" visibility"
Hello, I'm having issues when creating a package version with ancestor containing a custom object with visibility set to "Protected" --> `xxx: Cannot modify managed object: entity=CustomEntityDefinition, component=01Ixxx, state=MANAGED_RELEASED`

This custom object was packaged first time as "Protected" (<vibility> tag in object-meta.xml file). When using the release version as ancestor and trying

[2020-04-15 08:26] prem-pal commented on #39
This issue is not yet resolved.

@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.2.3 (core)
@oclif/plugin-help 2.2.3 (core)
@oclif/plugin-not-found 1.2.3 (core)
@oclif/plugin-plugins 1.7.9 (core)
@oclif/plugin-update 1.3.9 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.7 (core)
analytics 1.7.1 (core)
generator

[2020-04-15 08:31] harshanandam opened #369 "Sfdx force:auth:jwt:grant not storing the authorized Dev HUb details in the current project"
### Summary

All the commands after the Dev Hub authorization using JWT flow fails with error message:

"We couldn't create this sandbox or scratch org because the associated Dev Hub isn't authorized. Authorize the Dev Hub and try again"

### Steps To Reproduce:

1.  Have a JWT key file and set up the Connected App on yor Dev Hub.
2. Execute the below command from SFDX project
sfdx force:auth:jwt:

[2020-04-15 10:16] ennoucas opened #370 "Multiple object folders. Only one gets converted / deployed (alphabetic order)"
Hello,

I have a folder structure like that:
[code]
In this example, only Field1 will be deployed.
If renaming xApp1 by app1, only Field2 will be deployed.

Is this suppose to happen ?

SFDX Version: sfdx-cli/7.53.0-839fc82926
sfdx-project.json :
- packageDirectory --> force-app
- version: v48

Command lines used:
`sfdx force:source:convert` and `sfdx force:source:deploy`

Thank you

[2020-04-15 14:28] pawan22sfdl commented on #363
Hi Guys I am Using Below Jenkins file with groovy script

I am stuck since many days on this step please help

Jenkins File :-

#!groovy
import groovy.json.JsonSlurperClassic
node {

    def BUILD_NUMBER=env.BUILD_NUMBER
    def RUN_ARTIFACT_DIR="tests/${BUILD_NUMBER}"
    def SFDC_USERNAME

    def HUB_ORG=env.HUB_ORG_DH
    def SFDC_HOST = env.SFDC_HOST_DH
    def JWT_KEY_CRED_ID = env.JWT_CRED_

[2020-04-15 16:17] cumulus-robert commented on #363
Hi @pawan22sfdl -

What worked for me to solve this issue in January was to include the setting of the Home variable inside the script itself. This may work for you as well. I'd try that first since that was my solution in in January and SFDC may point you that direction first any way. Here's what I did to solve it.

In your script, enclose everything inside a withEnv bracket. So ...

`withEnv(["H

[2020-04-15 16:44] cumulus-robert commented on #363
@pawan22sfdl I just noticed you're on Windows ... I'm on Linux. Not sure if setting Home variable will make a different in a Windows machine. But worth a shot.

[2020-04-16 05:48] #369 closed, assigned to nobody

[2020-04-16 05:49] harshanandam commented on #369
Seems like if we already authorize then the next authorization will not be stored with different alias.

[2020-04-16 09:50] nebc-jasonfung opened #372 "sfdx force:source:deploy taking upwards of 5mins to deploy LWC"
### Summary

When deploying LWC to a non-scratch org using `sfdx force:source:deploy` it taking upwards of 5mins to deploy a few lines of code.

For non LWC, it deploys in a few seconds

### Steps To Reproduce:

1.  Create a new LWC and make simple changes to it
1.  Use `sfdx force:source:deploy` to deploy your changes to the authorised org

### Expected result

It should take a few seconds for th

[2020-04-16 10:12] FabienTaillon opened #373 "sfdx force:user:permset:assign returns exit code 0 even if it fails"
### Summary

`sfdx force:user:permset:assign` command returns exit code 0 even if it fails.
Thus, CI jobs are successful even though something failed.

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

1.  Setup Dreamhouse scratch org
2.  Try to assign a permset that doesn't exist, for instance:
`sfdx force:user:permset:assign

[2020-04-16 14:55] ghost opened #374 "sfdx force:source:retrieve -p always retrieves source in default dir"
### Summary
I'm using `source:deploy` and `source:retrieve` for non-source-tracked orgs like sandboxes.
Running `sfdx force:source:deploy --sourcepath  force-app/customdir/Class.cls`  correctly deploys the source.
However `sfdx force:source:retrieve --sourcepath force-app/customdir/Class.cls` retrieves the source in the wrong directory (i.e. the default one: force-app/default/main)

### Steps To R

[2020-04-16 21:52] leonardopmacedo commented on #208
Did we have a solution for this?

[2020-04-17 18:29] peternoges opened #375 "sfdx force:source:retrieve unexpected error troubleshooting"
Hello.  Using an updated CLI and v48 package.xml I'm noticing failures during a retrieve operation: ERROR running force:source:retrieve:  The metadata retrieve operation failed: UNKNOWN_EXCEPTION: An unexpected error occurred. Please include this ErrorId if you contact support: 1429875284-1147988 (-1001565770)

I've narrowed it down and found that when I remove several wildcarded types from the pa

[2020-04-17 20:31] ralphcallaway commented on #87
the inverse of this might also be considered, currently if you retrieve all custom objects, i'd expect get unmanaged fields on managed objects, but i get nothing

seems like the default behavior should be
- don't retrieve managed metadata (listviews, customfields, buttons, etc.) that's part of unmanaged metadata (mainly custom objects)
- retrieve unmanaged metadata (listviews, custom fields, etc.)

[2020-04-17 21:57] nramyasri-sf commented on #367
@Vincent-Ip , this is a bug.It apparently happens when you try to pull/retrieve empty sub-folders.

[2020-04-17 22:52] Vincent-Ip commented on #367
fyi: I did a test of this and I created a report in the subfolder to see if I could get back the folder / subfolder and report, but I still get the the same error

**"Entity of type 'Report' named 'folder/subFolder' cannot be found"**

[2020-04-18 19:13] thegogz commented on #371
System32 is already in the PATH on my machine, have tried this with some of the other devs on our team and same result. this does not appear to be the solution.

[2020-04-20 04:16] ghost commented on #223
@clairebianchi  Any updates on this feature? Is it rolled out?

[2020-04-20 08:56] mnunezdm commented on #208
Ignoring the entitlement procress in the forceignore is the only workaround I found

[2020-04-20 16:38] cumulus-robert commented on #363
@clairebianchi I've noticed a trend now working with this incident for a couple weeks now. It seems the first org I connected to consistently works. Any other org, I have to delete and recreate the branch on daily basis for SFDX to work. So, right now, for Company A, I'm connected to their partial sandbox consistently. But for Company A, I have to delete and recreate branches on continuous integra

[2020-04-20 21:16] clairebianchi commented on #223
@azlamsalam we are actively working on this and plan to have an announcement in Github this Thursday with details on how to test out our changes.

[2020-04-21 16:44] RupertBarrow commented on #151
CMSConnectSource

Here is another one :

with SFDX version

`sfdx-cli/7.53.0-839fc82926 darwin-x64 node-v10.15.3`

[2020-04-21 16:44] cumulus-robert commented on #363
With the recent symptom discovery of a single instance working consistently, and knowing SFDX has OS environmental opportunities with Jenkins, I added an SFDX log out command to the end of the Jenkins groovy scripts yesterday. For once in two weeks, for a single org, I have not had to delete a folder this morning in an instance other than the separate instance partial sandbox mentioned in a previo

[2020-04-22 00:45] manisfdcsfdx opened #376 "Error shape/settings/FieldService.settings FieldService Not available for deploy for this organization"
### Summary

Scratch org creation failed in latest version of CLI

### Steps To Reproduce:
use below scratch org definition
[code]
Run below CLI command:
sfdx force:org:create -f config/project-scratch-def.json -s -d 7 -a testcreate

### Expected result

Scratch org should be created without any issue

### Actual result
scratch org creation failed with below error
Error  shape/settings/FieldServic

[2020-04-22 03:02] manisfdcsfdx commented on #376
issue resolved after deleting AppData\Local\Temp\shape\settings in my machine.

[2020-04-22 03:55] sjurgis commented on #365
All open files:

[code]

Log from sfdx.log for the pid:

[code]
the `/private/var/folders/bd/gmf8bv6s2qgd_nbz53fp1l300000gn/T/sfdx-analytics/analytics-1c429bc9e35c3a040c12e9006b7f2b3b2cdb366b.log` doesnt seem to exist.

[2020-04-22 06:12] amphro commented on #365
I'm scratching my head at what could be causing this. I can't get the process to hang on the same versions you are running on.

From your logs, it seems like it is most likely telemetry. I don't see anything obvious in the code that would cause a high CPU zombie. How consistent if this for you? I bet setting `SFDX_DISABLE_TELEMETRY` would prevent it. I would like to find the root cause but we woul

[2020-04-22 07:42] manisfdcsfdx commented on #376
This issue still exist. deleting AppData\Local\Temp\shape\settings is just workaround. i was able to reproduce the issue and find the actual root cause.

**Background**:
FSL setting and package will not work in enterprise scratch properly [issue](https://success.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F93A000000HTp1SAG&fId=0D53A00004TfnnESAR) .  As a workaround we use developer

[2020-04-22 10:09] maaaaarco opened #377 "DevelopmentWave feature - Impossible to access Scratch Org"
### Summary
When adding the feature _DevelopmentWave_ to the scratch org configuration file the CLI is not able to open the Scratch Org in the browser anymore (after it creates successfully).

This is our config file:
`{
  "orgName": "Test",
  "edition": "Developer",
  "features": [
    "DevelopmentWave"
  ]
}`

### Steps To Reproduce:
1. Using the config file provided above, create a new scratch

[2020-04-22 16:14] nickytorstensson opened #378 "Improve Readability of CLI Documentation"
**Is your feature request related to a problem? Please describe.**
I am often referring to the documentation on [Salesforce CLI Command Reference, (e.g. mdapi commands)](https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_mdapi.htm). However, the readability is not to my liking.

**What are you trying to do**
Easily read and locate docum

[2020-04-22 16:48] cumulus-robert commented on #363
I confirm this issue is resolved. I would highly recommend updating documentation to include more information. The resolution here was to include a logout command for SFDX.

[2020-04-22 16:48] #363 closed, assigned to nobody

[2020-04-23 09:50] pawan22sfdl commented on #363
@cumulus-robert can you share script exactly where you added logout command?
It will be helpful

[2020-04-23 10:31] ennoucas commented on #372
Same here. It happened as soon as I created separate js files for my LWC to be loaded as modules.

[2020-04-23 11:30] pawan22sfdl commented on #363
Hello @cumulus-robert
I am using below script :-

#!groovy
import groovy.json.JsonSlurperClassic
node {

    def BUILD_NUMBER=env.BUILD_NUMBER
    def RUN_ARTIFACT_DIR="tests/${BUILD_NUMBER}"
    def SFDC_USERNAME

    def HUB_ORG=env.HUB_ORG_DH
    def SFDC_HOST = env.SFDC_HOST_DH
    def JWT_KEY_CRED_ID = env.JWT_CRED_ID_DH
    def CONNECTED_APP_CONSUMER_KEY=env.CONNECTED_APP_CONSUMER_KEY_DH

[2020-04-23 15:59] cumulus-robert commented on #363
Hi @pawan22sfdl I can appreciate your frustration having my own solution dependent on my own technical knowledge for support and also waiting 14 days for a solution that I ultimately did a hit and miss to figure out on my own. The SFDX application team really is the best to provide this guidance, IMHO. I'm just another member of the community, like yourself. Also, SFDX is a standalone application

[2020-04-23 16:14] pawan22sfdl commented on #363
@cumulus-robert thanks ,,,,, but if i put logout outside of script how instance will login again to deploy?
I am little bit confused.

[2020-04-23 16:24] aheber commented on #363
@cumulus-robert,

Any sense of why you would need a logout? Is this re-using the environment so there are session details from the previous run on the filesystem?

If so, is there any way to force a clean environment? I've been using JWT auth for nearly two years and haven't run into these problems. Each of my runs is on an individual Docker instance that gets burned after the run so maybe there i

[2020-04-23 16:38] cumulus-robert commented on #363
@aheber I would LOVE to know the answer to that question. I only had to add the log out after a recent Jenkins rebuild and re-install of 3rd party tools (SFDX). Since October, I've had to revise working scripts 2 times to support SFDX application changes. I now have auto update turned off. First to set environment variables within the script itself. This was because in December SFDX auto updated a

[2020-04-23 22:22] calvinle1 commented on #223
Hi @clairebianchi, very interested in this also, is there an update? Thanks

[2020-04-24 16:14] amphro opened #379 "Test Salesforce CLI with Multiple Packages - Feedback Requested"
The Salesforce CLI team has been working hard to add support for multiple packages defined in the same SFDX project [MPD]. Because this is a large change to the way the CLI works with your projects, we'd like to get your feedback along the way as we continue to develop MPD. The first work phase is complete, and a test version is available. Test out your current workflow to ensure it is working as

[2020-04-24 17:10] amphro commented on #379
Here is a very simple project for a visual for anyone that finds it helpful.https://github.com/amphro/simple-mpd-project/blob/master/sfdx-project.json#L2

[2020-04-24 18:03] amphro commented on #223
See #379 for instructions on how to try it out.

[2020-04-24 18:22] rvwatch commented on #370
https://github.com/forcedotcom/cli/issues/379

[2020-04-25 14:08] mauricio-custodio opened #380 "sfdx force:source:retrieve -m always returns "No results found" when using comma-separated list"
Executing retrieve with comma-separated values is not working anymore
[code]

And yet this works
[code]

### Additional information

**SFDX CLI Version**:
```sfdx-cli/7.53.0 win32-x64 node-v12.16.2```

**SFDX plugin Version**:
[code]

**OS and version**:
Windows 10 Home
v1909

[2020-04-26 09:12] nawforce commented on #379
Could you clarify if this will apply to both 1GP & 2GP, I assume it does. In the 2GP context I would have thought honouring the "dependencies" ordering before falling back to document order would be simpler to use, otherwise I think we end up with two orderings, one used during deploy and another during packaging?

In the description I found the use of the term 'Package' here a bit confusing, I kn

[2020-04-26 21:57] ghost commented on #379
Same here, hitting duplicate errors in a codebase we are trying to model as a mono repo one @manisfdcsfdx